<foreach name="list[data]" item="vo" key="k">
    <li id="tf-{$vo.id}" data-id="{$vo.id}">
        <div>
            <div class="clearfix">
                <div class="pd-img">
                    <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo['id']))}">
                        <img class="lazyload img-responsive" data-original="{:get_thumb_url($vo['img']['thumb'],true,80)}" alt="">
                    </a>
                </div>
                <div class="pd-text">
                    <p class="pd-t-title" style="color: #e6125d">{$vo.name|msubstr=0,30}</p>
                    <p class="pd-t-type">编码：{$vo.tf_code}</p>
                    <p class="pd-t-type">门幅：{$vo.width}</p>
                    <p class="pd-t-type">克重：{$vo.weight}</p>
                </div>
            </div>
            <div style="margin-top: 10px;">
                <span class="pd-t-title">成分：{$vo.component}</span>
            </div>
            <div class="pd-t-t2 clear">
                <div class="pd-operate clearfix">
                    <php>$checked = $vo['on_sale'] == 1 ? 'checked':'';</php>
                    <label class="sky-toggle status">
                        <input type="checkbox" name="checkbox-toggle" {$checked}>
                        <i class="shop-s-x"></i>
                    </label>
                    <php>$checked = $vo['ispublic'] == 1 ? 'checked':'';</php>
                    <label class="sky-toggle ispublic">
                        <input type="checkbox" name="checkbox-toggle" {$checked}>
                        <i class=""></i>
                    </label>
                    <div class="pull-right">

                        <a href="{:leuu('edit', array('id'=>$vo['id']))}"
                           class="btn-u btn-u-xs btn-u-red rounded"
                           style="font-size: 14px;padding: 2px 10px;">编辑</a>
                        <a href="javascript:;"
                           class="btn-u btn-u-xs btn-u-red rounded js-ajax-btn"
                           style="font-size: 14px;padding: 2px 10px;"
                           data-confirm="true"
                           data-msg="是否要取消删除该面料吗？"
                           data-id="{$vo[id]}"
                           data-href="{:leuu('delete')}"
                           data-success="deleteSuccess">删除</a>
                    </div>
                </div>

            </div>
        </div>
    </li>
</foreach>