<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('slidecat/index')}">{:L('ADMIN_SLIDECAT_INDEX')}</a></li>
			<li class="active"><a href="{:U('slidecat/add')}">{:L('ADMIN_SLIDECAT_ADD')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('slidecat/add_post')}">
			<fieldset>
				<div class="control-group">
					<label class="control-label">{:L('NAME')}</label>
					<div class="controls">
						<input type="text" name="cat_name">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{:L('CATEGORY_KEY')}</label>
					<div class="controls">
						<input type="text" name="cat_idname">
						<span class="form-required">*</span>
						<span style="margin-left: 15px;">{:L('CATEGORY_KEY_HELP_TEXT')}(现有模板标识：portal_index)</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{:L('DESCRIPTION')}</label>
					<div class="controls">
						<textarea name="cat_remark" rows="5" cols="57">{$remark}</textarea>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button class="btn btn-primary js-ajax-submit" type="submit">{:L('ADD')}</button>
				<a class="btn" href="javascript:history.back(-1);">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>