<extend name="Public:base-v8" />
<block name="title"><title>添加分享</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/my_fabric.css">
    <link rel="stylesheet" href="__PUBLIC__/js/select2/css/select2.css">
    <link rel="stylesheet" href="__PUBLIC__/js/select2/css/select2-bootstrap.css">
    <style>
        .sky-form .label {font-size:14px;}
        .sky-form .label .bigger {
            font-size:16px;
            color:#E6125D;
        }
        blockquote span {
            font-size: inherit;
            margin: inherit;
            line-height: inherit;
        }

        em.invalid {
            margin-left: 6px;
            padding: 0 1px;
            font-style: italic;
            font-size: 14px;
            line-height: 15px;
            color: #ee9393;
        }
        .select .select2 {width:100%!important;}
        .sky-form section {
           margin-bottom: 10px !important;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">添加分享</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">添加分享</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0);">添加分享</a></li>
                    </ul>
                    <div class="tab-content">
                        <form class="sky-form" style="border:none;" method="POST" action="{:leuu('Supplier/Share/add_post')}">
                            <fieldset>
                                <section>
                                    <label class="label">指定分享人</label>
                                    <label class="select">
                                        <select class="select2" name="fans[]"
                                                data-close-on-select="false"
                                                data-placeholder="选择好友，不选则不限分享人">
                                                <option value=""></option>
                                            <foreach name="fans_list" item="vo">
                                                <option value="{$vo.user_id}"
                                                <in name="vo[user_id]" value="$selectedIds">selected</in>
                                                >{$vo.nickname}</option>
                                            </foreach>
                                        </select>
                                    </label>
                                </section>
                                <div class="row">
                                    <div class="col-md-12">
                                        <section>
                                            <php>
                                                if(!isset($_GET['pd_type']) || $_GET['pd_type'] == 1){
                                                $tf_checked = 'checked';
                                                }
                                            </php>
                                            <label class="radio">
                                                <input type="radio" name="target_type" value="1" data-text="面料" {$tf_checked}><i></i>分享面料
                                            </label>
                                            <label class="select">
                                                <select class="select2" name="tf">
                                                    <volist name="tf_list" id="vo">
                                                        <php>
                                                            $tf_id = I('get.tf_id/d',0);
                                                            if ($tf_id > 0 && $vo['id'] == $tf_id) {
                                                            $selected = 'selected';
                                                            }else{
                                                            $selected = '';
                                                            }
                                                        </php>
                                                        <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                    </volist>
                                                </select>
                                            </label>
                                        </section>
                                        <section>
                                            <php>
                                                if($_GET['pd_type'] == 2){
                                                $card_checked = 'checked';
                                                }
                                            </php>
                                            <label class="radio">
                                                <input type="radio" name="target_type" value="2" data-text="色卡" {$card_checked}><i></i>分享色卡
                                            </label>
                                            <label class="select">
                                                <select class="select2" name="card">
                                                    <foreach name="card_list" item="vo">
                                                        <php>
                                                            $card_id = I('get.card_id/d',0);
                                                            if ($card_id > 0 && $vo['card_id'] == $card_id) {
                                                            $selected = 'selected';
                                                            }else{
                                                            $selected = '';
                                                            }
                                                            $tpl = M('Colorcard_tpl')->where(array('tpl_id'=>$vo['card_tpl']))->find();
                                                        </php>
                                                        <option value="{$vo.card_id}" data-show="{$tpl['show_type']}" {$selected}>{$vo.card_name}</option>
                                                    </foreach>
                                                </select>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <section>
                                            <label class="label">分享密码</label>
                                            <label class="input">
                                                <input type="text" name="share_pass" maxlength="6" placeholder="请输入6位数密码" required>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <section>
                                            <label class="label">限制查看次数</label>
                                            <label class="input">
                                                <input type="number" name="share_limit" value="" placeholder="请输入限制次数" required>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                         <section>
                                            <label class="label">截止时间</label>
                                             <label class="input">
                                               <input type="text"  name="expire_time" id="inputExpectDate" placeholder="期望交货时间">
                                             </label>
                                         </section>
                                     </div>
                                </div>
                                <div class="row hide">
                                    <div class="col-md-12">
                                        <section>
                                            <label class="label">真实网址</label>
                                            <label class="input">
                                                <input type="text" name="real_url" value="" placeholder="请输真实网址" required>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row hide">
                                    <div class="col-md-12">
                                        <section>
                                            <label class="label">生产短链接</label>
                                            <label class="input">
                                                <input type="text" name="share_url" value="" placeholder="请输入短链接" required>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <section>
                                            <label class="label">分享链接</label>
                                            <label class="input">
                                                <input type="text" name="short_link" value="" placeholder="分享链接不能为空" required>
                                            </label>
                                        </section>
                                    </div>
                                </div>

                                <section>
                                    <label class="label">内容预览</label>
                                    <blockquote id="preview" class="hero">
                                        <p>即将给你的好友分享<span class="rep1"></span>:
                                            "<span class="rep2"></span>"。
                                            <a href="" target="_blank" class="btn-u btn-u-xs">查看</a></p>
                                    </blockquote>
                                </section>
                                <section>
                                    <button type="submit" class="btn-u rounded">添加</button>
                                    <a href="javascript:history.back(-1);" class="btn-u rounded btn-u-default">返回</a>
                                </section>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/js/select2/js/select2.js"></script>
</block>
<block name="js">
    <script>
    $(function(){
        $(".select2").select2({
            theme: "bootstrap"
        });


        $('#inputExpectDate').datepicker({
           dateFormat: 'yy-mm-dd',
           prevText: '<i class="fa fa-angle-left"></i>',
           nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
          {
               $('#inputEndDate').datepicker('option', 'maxDate', selectedDate);
             }
         });


        $('[name="target_type"],[name="tf"],[name="card"]').change(refresh_msg);

        function refresh_msg(){
            var _checked = $('[name="target_type"]:checked');
            var myDate = new Date();
            var ct = myDate.getTime();
 
            var text1 = _checked.data('text');
            var text2 = '';
            var text3 = '';
            var text4 = '';
            var text5 = '';

            if(_checked.val() == 1){
                text2 = $('[name="tf"] option:selected').text();
                text3 = "{:leuu('Tf/Tf/fabric', array(), false, true)}/id/"+$('[name="tf"] option:selected').val();
                text4 = "{:leuu('Tf/Tf/fabric', array('short_url'=>1), false, true)}/time/"+ct+"/id/"+$('[name="tf"] option:selected').val();
            }else{
                text2 = $('[name="card"] option:selected').text();
                text3 = "{:leuu('Colorcard/Supplier/view', array(), false, true)}/id/"+$('[name="card"] option:selected').val();
                text4 = "{:leuu('Colorcard/index/view', array('short_url'=>1), false, true)}/show_type/"+$('[name="card"] option:selected').data('show')+"/time/"+ct+"/id/"+$('[name="card"] option:selected').val();
            }

            $('[name="real_url"]').val(text4);
            $.getJSON("{:U('Supplier/Share/share_url')}",{share_url:text4},function(response){
                text5= "{:leuu('Portal/Public/link', array(), false, true)}/url/"+response;
                $('[name="share_url"]').val(response);
                $('[name="short_link"]').val(text5);
            });
            
            $preview = $('#preview');
            $preview.find('.rep1').text(text1);
            $preview.find('.rep2').text(text2);
            $preview.find('.rep3').text(text3);
            $preview.find('a').attr('href', text3);
        }
        refresh_msg();

        $('.sky-form').validate({
            rules: {
                "share_pass":"required",
                "share_limit":"required",
                "short_link":"required",
                "expire_time":"required",
            },
            messages: {
                "share_pass":"请输入密码!",
                "share_limit":"请输入限制次数!",
                "short_link":"分享链接不能为空!",
                "expire_time":"期望时间不能为空!",
            },
            errorPlacement: function(error, element)
            {
                error.appendTo(element.parents('section').find('label.label'));
            },
            submitHandler: function(form) {
                if(typeof $(form).ajaxSubmit == "function"){
                    $(form).ajaxSubmit({
                        beforeSubmit: function(arr, $form, options) {
                            $form.find('[type="submit"]').attr('disabled','disabled').text('正在添加...');
                        },
                        success:function(response, statusText, xhr, $form){
                            if(response.url){
                                location.href = response.url;
                            }else{
                                if(response.status){
                                    if(response.info.length > 0){
                                        if(typeof noty == "function"){
                                            noty({text:response.info,type:'success'});
                                        }else{
                                            alert(response.info);
                                        }
                                    }
                                }else{
                                    if(response.info.length > 0){
                                        if(typeof noty == "function"){
                                            noty({text:response.info,type:'error'});
                                        }else{
                                            alert(response.info);
                                        }
                                    }else{
                                        response.info = '操作出错！';
                                    }
                                }
                            }
                            $form.find('[type="submit"]').removeAttr('disabled').text('添加');
                        }
                    });
                }
            }
        });
    })
    </script>
</block>