<extend name="Public:base-v8" />
<block name="title"><title>修改分享</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/my_fabric.css">
    <link rel="stylesheet" href="__PUBLIC__/js/select2/css/select2.css">
    <link rel="stylesheet" href="__PUBLIC__/js/select2/css/select2-bootstrap.css">
    <style>
        .sky-form .label {font-size:14px;}
        .sky-form .label .bigger {
            font-size:16px;
            color:#E6125D;
        }
        blockquote span {
            font-size: inherit;
            margin: inherit;
            line-height: inherit;
        }

        em.invalid {
            margin-left: 6px;
            padding: 0 1px;
            font-style: italic;
            font-size: 14px;
            line-height: 15px;
            color: #ee9393;
        }
        .select .select2 {width:100%!important;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">修改分享</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">修改分享</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0);">修改分享</a></li>
                    </ul>
                    <div class="tab-content">
                        <form class="sky-form" style="border:none;" method="POST" action="{:leuu('Supplier/Share/edit_post')}">
                            <fieldset>
                                <section>
                                    <label class="label">指定分享人</label>
                                    <label class="select">
                                        <select class="select2" name="fans"
                                                data-close-on-select="false"
                                                data-placeholder="选择好友，不选则不限分享人">
                                                <option value=""></option>
                                            <foreach name="fans_list" item="vo">
                                                <option value="{$vo.user_id}"
                                                <eq name="vo[user_id]" value="$shares[user_id]">selected</eq>
                                                >{$vo.nickname}</option>
                                            </foreach>
                                        </select>
                                    </label>
                                </section>
                                <div class="row">
                                    <div class="col-md-10">
                                        <section>
                                            <php>
                                                if($shares['target_type'] == 1){
                                                $tf_checked = 'checked';
                                                }
                                            </php>
                                            <label class="radio">
                                                <input type="radio" name="target_type" value="1" data-text="面料" {$tf_checked}><i></i>分享面料
                                            </label>
                                            <label class="select">
                                                <select class="select2" name="tf">
                                                    <volist name="tf_list" id="vo">
                                                        <php>
                                                            $tf_id = I('get.tf_id/d',0);
                                                            if ($tf_id > 0 && $vo['id'] == $tf_id) {
                                                            $selected = 'selected';
                                                            }else{
                                                            $selected = '';
                                                            }
                                                        </php>
                                                        <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                    </volist>
                                                </select>
                                            </label>
                                        </section>
                                        <section>
                                            <php>
                                                if($shares['target_type'] == 2){
                                                $card_checked = 'checked';
                                                }
                                            </php>
                                            <label class="radio">
                                                <input type="radio" name="target_type" value="2" data-text="色卡" {$card_checked}><i></i>分享色卡
                                            </label>
                                            <label class="select">
                                                <select class="select2" name="card">
                                                    <foreach name="card_list" item="vo">
                                                        <php>
                                                            $card_id = I('get.card_id/d',0);
                                                            if ($card_id > 0 && $vo['card_id'] == $card_id) {
                                                            $selected = 'selected';
                                                            }else{
                                                            $selected = '';
                                                            }
                                                        </php>
                                                        <option value="{$vo.card_id}" {$selected}>{$vo.card_name}</option>
                                                    </foreach>
                                                </select>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="col-md-2">
                                        <section style="border:1px solid #eee;">
                                            <label class="label" style="padding:5px 0;margin:0;text-align:center;">分享到微信</label>
                                            <div class="qrcode">
                                                <img class="img-responsive" src="">
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <section>
                                            <label class="label">分享密码</label>
                                            <label class="input">
                                                <input type="text" name="share_pass" maxlength="6" value="{$shares[share_pass]}" required>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <section>
                                            <label class="label">真实链接</label>
                                            <label class="input">
                                                <input type="text" name="real_url" value="{$shares[real_url]}" required>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <section>
                                            <label class="label">分享短链接</label>
                                            <label class="input">
                                                <input type="text" name="share_url" value="{$shares[share_url]}" required>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <section>
                                            <label class="label">限制查看次数</label>
                                            <label class="input">
                                                <input type="number" name="share_limit" value="{$shares[share_limit]}" required>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <section>
                                            <label class="label">分享标题</label>
                                            <label class="input">
                                                <input type="text" name="share_title" value="{$shares[share_title]}">
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10">
                                        <section>
                                            <label class="label">分享描述</label>
                                            <label class="textarea">
                                                <textarea name="share_describe">{$shares[share_describe]}</textarea>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <section>
                                    <label class="label">内容预览</label>
                                    <blockquote id="preview" class="hero">
                                        <p>即将给你的好友分享<span class="rep1"></span>:
                                            "<span class="rep2"></span>"。
                                            <a href="" target="_blank" class="btn-u btn-u-xs">查看</a></p>
                                    </blockquote>
                                </section>
                                <section>
                                    <input type="hidden" name="id" value="{$shares[id]}">
                                    <button type="submit" class="btn-u rounded">修改</button>
                                    <a href="javascript:history.back(-1);" class="btn-u rounded btn-u-default">返回</a>
                                </section>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/js/select2/js/select2.js"></script>
</block>
<block name="js">
    <script>
    $(function(){
        $(".select2").select2({
            theme: "bootstrap"
        });

        apply_qrcode();
        $('[name="target_type"]').change(apply_qrcode);
        $('[name="tf"]').change(function(){
            if($('[name="target_type"]:checked').val() == 1){
                apply_qrcode();
            }
        });
        $('[name="card"]').change(function(){
            if($('[name="target_type"]:checked').val() == 2){
                apply_qrcode();
            }
        });

        function apply_qrcode(){
            type = $('[name="target_type"]:checked').val();
            if(type == 1){
                 $('[name="card"]').attr("disabled",true);
                 $('[name="tf"]').attr("disabled",false);
                id = $('[name="tf"] option:selected').val();
                type = 3;
            }else if(type == 2){
                 $('[name="tf"]').attr("disabled",true);
                 $('[name="card"]').attr("disabled",false);
                id = $('[name="card"] option:selected').val();
                type = 4;
            }else{
                return false;
            }
            url = '/index.php?g=portal&m=public&a=wx_qr';
            data = {id:id,type:type};
            $.getJSON(url,data,function(response){
                if(response.url){
                    $('.qrcode img').attr('src', response.url);
                }
            })
        }

        $('[name="target_type"],[name="tf"],[name="card"]').change(refresh_msg);

        function refresh_msg(){
            var _checked = $('[name="target_type"]:checked');
            var text1 = _checked.data('text');
            var text2 = '';
            var text3 = '';
            var text4 = '';

            if(_checked.val() == 1){
                text2 = $('[name="tf"] option:selected').text();
                text3 = "{:leuu('Tf/Tf/fabric', array(), false, true)}/id/"+$('[name="tf"] option:selected').val();
                text4 = "{:leuu('Tf/Tf/fabric', array('short_url'=>1), false, true)}/id/"+$('[name="tf"] option:selected').val();
            }else{
                text2 = $('[name="card"] option:selected').text();
                text3 = "{:leuu('Colorcard/Supplier/view', array(), false, true)}/id/"+$('[name="card"] option:selected').val();
                text4 = "{:leuu('Colorcard/index/view', array('show_type'=>2,'short_url'=>1), false, true)}/id/"+$('[name="card"] option:selected').val();
            }


            $('[name="real_url"]').val(text4);
            $.getJSON("{:U('Supplier/Share/share_url')}",{share_url:text4},function(response){
                $('[name="share_url"]').val(response);
            });
            
            $preview = $('#preview');
            $preview.find('.rep1').text(text1);
            $preview.find('.rep2').text(text2);
            $preview.find('.rep3').text(text3);
            $preview.find('a').attr('href', text3);
        }
        refresh_msg();

        $('.sky-form').validate({
            rules: {
                "share_pass":"required",
                "share_limit":"required",
            },
            messages: {
                "share_pass":"请输入密码!",
                "share_limit":"请输入限制次数!",
            },
            errorPlacement: function(error, element)
            {
                error.appendTo(element.parents('section').find('label.label'));
            },
            submitHandler: function(form) {
                if(typeof $(form).ajaxSubmit == "function"){
                    $(form).ajaxSubmit({
                        beforeSubmit: function(arr, $form, options) {
                            $form.find('[type="submit"]').attr('disabled','disabled').text('正在修改...');
                        },
                        success:function(response, statusText, xhr, $form){
                            if(response.url){
                                location.href = response.url;
                            }else{
                                if(response.status){
                                    if(response.info.length > 0){
                                        if(typeof noty == "function"){
                                            noty({text:response.info,type:'success'});
                                        }else{
                                            alert(response.info);
                                        }
                                    }
                                }else{
                                    if(response.info.length > 0){
                                        if(typeof noty == "function"){
                                            noty({text:response.info,type:'error'});
                                        }else{
                                            alert(response.info);
                                        }
                                    }else{
                                        response.info = '操作出错！';
                                    }
                                }
                            }
                            $form.find('[type="submit"]').removeAttr('disabled').text('发送');
                        }
                    });
                }
            }
        });
    })
    </script>
</block>