<extend name="Public:base-v8" />
<block name="title"><title>面料管理</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/my_fabric.css">
    <style>
        .table th,td {
            text-align: center;
            vertical-align:middle !important;
        }
        .table th {
            color:#fff;
            background-color: #E6125D;
            margin-bottom: 10px;
        }
        .fabric-thumb .thumb {
            float: left;
            width: 50px;
            height: auto;
            margin-right: 5px;
        }
        .fabric-thumb .fabric-title {
            float: left;
        }
        .fabric-thumb .fabric-title a,.fabric-thumb .fabric-title span {
            display:block;
        }
        .fabric-thumb .fabric-title a {
            margin-bottom: 5px;
            font-size: 14px;
        }
        .fabric-thumb .fabric-title span {
            color: #999;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">面料管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">面料管理</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>
            <div class="col-md-9">
                <div class="tab-v7">
                    <php>
                        $target_types = array('1'=>'分享面料','2'=>'分享色卡');
                    </php>
                    <ul class="nav nav-tabs">
                        <foreach name="target_types" item="vo">
                            <php>
                                $actived = isset($_GET['target_type']) && $_GET['target_type'] == $key ? 'active':'';
                            </php>
                            <li class="{$actived}"><a href="{:leuu('Supplier/share/index',array('target_type'=>$key))}">{$vo}</a></li>
                        </foreach>
                        <li class="pull-right"><a href="{:leuu('Supplier/share/add')}">添加分享</a></li>
                    </ul>
                    <div class="tab-content">
                        <table class="table">
                            <thead>
                            <tr >
                                <eq name="_GET['target_type']" value='1'>
                                <th>面料名称</th>
                                <else/>
                                 <th>色卡名称</th>
                                </eq>
                                <th>指定分享人</th>
                                <th>密码</th>
                                <th>分享url</th>
                                <th>查看次数</th>
                                <th>限制次数</th>
                                <th>截止时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="shares[data]" item="vo" key="k">
                                <php>
                                    
                                    if($vo['target_type']==1){
                                        $thumb_img = json_decode($vo['fabric']['img'],true);
                                        $thumb = $thumb_img['thumb'];
                                    }else{
                                        $thumb = $vo['frontcover'];
                                    }
                                 
                                    </php>
                                <tr><td></td></tr>
                                <tr class="table-bordered" id="tf-{$vo.id}" data-id="{$vo.id}">
                                    <td class="text-left table-bordered">
                                        <div class="fabric-thumb">
                                            <div class="thumb">
                                                <eq name="vo.target_type" value="1">
                                                <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo['target_id']))}">
                                                <img class="lazyload img-responsive" data-original="{:get_thumb_url($thumb,true,80)}" alt="">
                                                </a>
                                                <else/>
                                                 <a href="{:leuu('Colorcard/index/view',array('id'=>$vo['target_id']))}">
                                                <img class="lazyload img-responsive" data-original="{:get_thumb_url($thumb,true,80)}" alt="">
                                                </a>
                                                </eq>
                                            </div>
                                            <div class="fabric-title">
                                                <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo['id']))}">{$vo.name|msubstr=0,30}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td><eq name="vo.user_id" value="0"> 
                                        不限定分享
                                        <else/>
                                        {$vo.nickname}
                                        </eq></td>
                                    <td>
                                        {$vo.share_pass}
                                    </td>

                                    <php>
                                        $short_link= leuu('Portal/Public/link', array("url"=>$vo['share_url']), false, true);
                                    </php>
                                    <td>
                                        {$short_link}
                                    </td>
                                    <td>
                                        {$vo.share_num}
                                    </td>
                                    <td>
                                        {$vo.share_limit}
                                    </td>
                                    <td>
                                        {:date("Y-m-d",strtotime($vo['expire_time']))}
                                    </td>
                                    <td class="table-bordered">
                                        <!--<a href="{:leuu('edit', array('id'=>$vo['id']))}">编辑</a> |-->
                                        <a href="javascript:;" class="js-ajax-btn"
                                                data-confirm="true"
                                                data-msg="是否要删除该分享吗？"
                                                data-id="{$vo[id]}"
                                                data-href="{:leuu('delete')}"
                                        data-success="deleteSuccess">删除</a>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        <!-- Pagination -->
                        <div class="text-center md-margin-bottom-30">
                            <ul class="pagination">
                                {$list['page']}
                            </ul>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        function deleteSuccess(response){
            if(response.url){
                location.href = response.url;
            }else{
                if(response.status){
                    $('#tf-'+response.data.id).remove();
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'success'});
                        }else{
                            alert(response.info);
                        }
                    }
                }else{
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'error'});
                        }else{
                            alert(response.info);
                        }
                    }else{
                        response.info = '操作出错！';
                    }
                }
            }
        }
    </script>
</block>