<volist name="list[data]" id="vo" mod="2" key="k">
    <li class="ml-item">
        <div class="team-img ">
            <a href="{:leuu('/Tf/Tf/fabric',array('tfsn'=>$vo['tf_code']))}">
                <img class="lazyload img-responsive" src="/{$vo['img']['photo']}">
            </a>
            <eq name="vo[ispublic]" value="0">
                <span class="shop-private">私密</span>
            </eq>
        </div>
        <span class="shop-info">{$vo.name|msubstr=0,30}</span>
    </li>
</volist>