<volist name="list[data]" id="vo"> 
    <li class="mls-item">
        <a href="{:leuu('Supplier/Index/single',array('id'=>$key))}">
        <div class="mls-i-title clearfix" style="position: relative;">
            <div class="mls-cover-img">
                <img class="lazyload img-responsive" src="{:get_avatar_url($vo[biz_logo],true,80)}">
            </div>
            <div class="mls-text">
                <p class="mls-shop">{$vo.biz_name}</p>
                <p class="mls-sale">主营：{$vo.main_core}</p>
                <!--<i class="fa fa-angle-right"></i>-->
                <a href="{:leuu('Supplier/Index/single',array('id'=>$key))}" class="tp-mls-shop">进店</a>
            </div>
        </div>
        </a>
    </li>
</volist>