<extend name="Admin:base-v2" />
<block name="main">
	<div class="container-fluid content-xs">
		<div class="tab-v2">
			<ul class="nav nav-tabs">
				<li class="active"><a href="{:U('index')}">{:L('ADMIN_USER_INDEX')}</a></li>
				<li><a href="{:U('add')}">{:L('ADMIN_USER_ADD')}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active">
					<form class="well form-search" method="post" action="{:U('User/index')}">
						用户名:
						<input type="text" name="user_login" style="width: 100px;" value="{:I('request.user_login/s','')}" placeholder="请输入{:L('USERNAME')}">
						邮箱:
						<input type="text" name="user_email" style="width: 100px;" value="{:I('request.user_email/s','')}" placeholder="请输入{:L('EMAIL')}">
						<input type="submit" class="btn btn-primary" value="搜索" />
						<a class="btn btn-danger" href="{:U('User/index')}">清空</a>
					</form>
					<table class="table table-bordered">
						<thead>
						<tr>
							<th width="50">ID</th>
							<th>{:L('USERNAME')}</th>
							<th>{:L('LAST_LOGIN_IP')}</th>
							<th>{:L('LAST_LOGIN_TIME')}</th>
							<th>{:L('EMAIL')}</th>
							<th>{:L('STATUS')}</th>
							<th width="120">{:L('ACTIONS')}</th>
						</tr>
						</thead>
						<tbody>
						<php>$user_statuses=array("0"=>L('USER_STATUS_BLOCKED'),"1"=>L('USER_STATUS_ACTIVATED'),"2"=>L('USER_STATUS_UNVERIFIED'));</php>
						<foreach name="users" item="vo">
							<tr>
								<td>{$vo.id}</td>
								<td><if condition="$vo['user_url']"><a href="{$vo.user_url}" target="_blank" title="{$vo.signature}">{$vo.user_login}</a><else />{$vo.user_login}</if></td>
								<td>{$vo.last_login_ip}</td>
								<td>
									<if condition="$vo['last_login_time'] eq 0">
										{:L('USER_HAVENOT_LOGIN')}
										<else />
										{$vo.last_login_time}
									</if>
								</td>
								<td>{$vo.user_email}</td>
								<td>{$user_statuses[$vo['user_status']]}</td>
								<td>
									<if condition="$vo['id'] eq 1 || $vo['id'] eq sp_get_current_admin_id()">
										<font color="#cccccc">{:L('EDIT')}</font> | <font color="#cccccc">{:L('DELETE')}</font> |
										<if condition="$vo['user_status'] eq 1">
											<font color="#cccccc">{:L('BLOCK_USER')}</font>
											<else />
											<font color="#cccccc">{:L('ACTIVATE_USER')}</font>
										</if>
										<else />
										<a href='{:U("user/edit",array("id"=>$vo["id"]))}'>{:L('EDIT')}</a> |
										<a class="js-ajax-delete" href="{:U('user/delete',array('id'=>$vo['id']))}">{:L('DELETE')}</a> |
										<if condition="$vo['user_status'] eq 1">
											<a href="{:U('user/ban',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="{:L('BLOCK_USER_CONFIRM_MESSAGE')}">{:L('BLOCK_USER')}</a>
											<else />
											<a href="{:U('user/cancelban',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="{:L('ACTIVATE_USER_CONFIRM_MESSAGE')}">{:L('ACTIVATE_USER')}</a>
										</if>
									</if>
								</td>
							</tr>
						</foreach>
						</tbody>
					</table>
					<ul class="pagination">{$page}</ul>
				</div>
			</div>
		</div>
	</div>
</block>