<admintpl file="header" />
</head>
<body>
    <div class="wrap">
        <ul class="nav nav-tabs">
            <li class="active"><a href="{:U('User/userinfo')}">{:L('ADMIN_USER_USERINFO')}</a></li>
            <li><a href="{:U('setting/password')}">{:L('ADMIN_SETTING_PASSWORD')}</a></li>
        </ul>
        <form class="form-horizontal js-ajax-form" method="post" action="{:U('User/userinfo_post')}">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="input-user_nicename">{:L('NICENAME')}</label>
                    <div class="controls">
                        <input type="hidden" name="id" value="{$id}">
                        <input type="text" id="input-user_nicename" name="nickname" value="{$nickname}">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input-gender">{:L('GENDER')}</label>
                    <div class="controls">
                        <select name="sex" id="input-gender">
                            <php>$sexs=array("0"=>L('GENDER_SECRECY'),"1"=>L('MALE'),"2"=>L('FEMALE'));</php>
                            <foreach name="sexs" item="vo">
                                <php>$sexselected=$key==$sex?"selected":"";</php>
                                <option value="{$key}"{$sexselected}>{$vo}</option>
                            </foreach>
                        </select>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary js-ajax-submit">{:L('SAVE')}</button>
                </div>
            </fieldset>
        </form>
    </div>
    <script src="__PUBLIC__/js/common.js"></script>
</body>
</html>