<extend name="Public:base-v8"/>
<block name="title"><title>二批申请 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        td.details-control {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            cursor: pointer;
        }

        tr td.details-control:before {
            content: "\f067";
        }

        tr.shown td.details-control:before {
            content: "\f068";
        }

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
        #datatable td {vertical-align: middle!important;}
        td.tfinfo .pull-left {width:45px;margin-right:5px;}
        td.tfinfo .tf-name {display: inline-block;margin:0;font-size:16px;}
        td.tfinfo .tf-code {margin:0;font-size:12px;}
        .selected .tfinfo .tf-name,.selected .tfinfo .tf-code {color:#fff;}

        td.distname img {
            height: 40px;
            margin-right: 5px;
            border-radius: 50%;
        }
        td.distname span {
            line-height: 40px;
        }
        .selected .distname p {color:#fff;}

        td.supplier-info .pull-left {width:45px;margin-right:5px;border-radius:50%;}
        td.supplier-info span {line-height: 45px;}
    </style>
    <script id="tfinfo-wrapper" type="text/html">
        <a class="pull-left">
            <img class="img-responsive">
        </a>
        <a><h3 class="tf-name"></h3></a>
        <p class="tf-code"></p>
    </script>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">二批申请</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('Supplier/index')}">我是做布商（一批）</a></li>
                <li class="active">二批申请</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('Supplier/index')}">供二批面料</a></li>
                        <li><a href="{:leuu('SupplierClient/index')}">二批商户</a></li>
                        <li class="active">
                            <a href="{:leuu('Supplier/application')}">二批申请
                                <gt name="notify_num[dist_tf_apply]" value="0">
                                    <span class="badge rounded badge-red" style="margin-top: -3px;">{$notify_num.dist_tf_apply}</span>
                                </gt>
                            </a>
                        </li>
                        <li><a href="{:leuu('Supplier/fabrics')}">面料管理</a></li>
                    </ul>
                    <div class="tab-content">
                        <table id="datatable" class="table table-striped table-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('application')}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blrtip",
                select: true,
                multi: true,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "id",
                    "title": "ID",
                    "visible": false
                },{
                    "data": "name",
                    "title": "面料",
                    "className": "tfinfo",
                    "defaultContent": "",
                    "render": tfRender
                }, {
                    "data": "distributor_name",
                    "className": "distname",
                    "title": "分销商",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        html = '<img class="pull-left img-responsive" src="'+row.avatar+'">' +
                                '<div class="pull-left">' +
                                '<p class="no-margin">'+data+'</p>';
                        if(row.client_id==null){
                            html += '<p class="no-margin">新客户</p>';
                        }else{
                            html += '<p class="no-margin">';
                            level = parseInt(row.client_level);
                            for(var i=1;i<=5;i++){
                                red = i <= level ? 'color-red':'color-grey';
                                html += '<i class="fa fa-star '+red+'"></i>';
                            }
                            html += '</p>';
                        }
                        html += '</div>';
                        return html;
                    }
                }, {
                    "data": "price",
                    "title": "代理价格",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        data = parseFloat(data).toFixed(2);
                        return data == 0 ? '<span class="color-red">未设置</span>':'￥'+data;
                    }
                }, {
                    "data": "modify_time",
                    "title": "申请时间",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return data == null ? row.create_time:data;
                    }
                }, {
                    "data": null,
                    "title": "操作",
                    "defaultContent": '',
                    "orderable": false,
                    "render": function(data, type, row){
                        var view_url = '{:leuu("view_apply")}';
                        var reject_url = '{:leuu("reject_post")}';
                        view_url += (view_url.indexOf('?') > 0 ? '&':'?') + 'id=' + row.id;
                        var html = '<a href="'+view_url+'">查看</a>';
                        html += ' | <a href="javascript:void(0);" class="js-ajax-btn"' +
                                'data-confirm="true"' +
                                'data-msg="是否要拒绝“'+row.distributor_name+'”申请代理“'+row.name+'”？"' +
                                'data-href="'+reject_url+'"' +
                                'data-id="'+row.id+'">拒绝</a>';
                        return html;
                    }
                }],
                "order": [[4, 'desc']],
                buttons: [{
                    text: "全选",
                    init: function (dt, node, config) {
                        var that = this;
                        dt.on('draw.dt xhr.dt select.dt.DT deselect.dt.DT', function () {
                            var selectAll = dt.data().length > 0 &&
                                    dt.data().length == dt.rows({selected:true}).data().length;
                            that.text(selectAll ? '取消全选':'全选');
                        });
                    },
                    action: function (e, dt, node, config) {
                        var modifier = {
                            order: 'current',
                            page: 'current',
                            search: 'applied'
                        };
                        if(this.text() == '全选'){
                            dt.rows(modifier).select();
                        }else{
                            dt.rows(modifier).select(false);
                        }
                    }
                }, {
                    text: "同意",
                    enable: false,
                    init: function (dt, node, config) {
                        var that = this;
                        var modifier = {
                            order: 'current',
                            page: 'current',
                            search: 'applied',
                            selected: true
                        };
                        dt.on('draw.dt xhr.dt select.dt.DT deselect.dt.DT', function () {
                            that.enable(dt.rows(modifier).any());
                        });
                        this.disable();
                    },
                    action: function (e, dt, node, config) {
                        auditApply(dt, 1);
                    }
                }, {
                    text: "拒绝",
                    enable: false,
                    init: function (dt, node, config) {
                        var that = this;
                        var modifier = {
                            order: 'current',
                            page: 'current',
                            search: 'applied',
                            selected: true
                        };
                        dt.on('draw.dt xhr.dt select.dt.DT deselect.dt.DT', function () {
                            that.enable(dt.rows(modifier).any());
                        });
                        this.disable();
                    },
                    action: function (e, dt, node, config) {
                        auditApply(dt, 2);
                    }
                }, {
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }],
                initComplete: function (settings) {
                    var $container = $('<div class="pull-right"><label></label></div>')
                    var api = this.api();
                    var toolbar = $(api.table().container());
                    api.columns([1,2]).indexes().flatten().each( function ( i ) {
                        var column = api.column( i );
                        var header = $(column.header());
                        var select = $('<select>').addClass('form-control');
                        select.append($('<option>').val('').text('筛选'+header.text()));
                        column.data().unique().sort().each( function ( d, j ) {
                            select.append($('<option>').val(d).text(d))
                        } );
                        select.on( 'change', function () {
                            api.column( i ).search($(this).val()).draw();
                        } );
                        $container.append(select);
                    });
                    toolbar.find('.dataTables_length').after($container);
                }
            });
        });
        function tfRender(data, type, row){
            var $wrapper = $('<div>');
            $($('#tfinfo-wrapper').html()).appendTo($wrapper);
            $wrapper.find('a').attr('href', row.link);
            $wrapper.find('img').attr('src', row.thumb);
            $wrapper.find('.tf-name').text(row.name);
            $wrapper.find('.tf-code').text(row.tf_code);
            return $wrapper.html();
        }
        function auditApply(dt, status){
            var modifier = {
                order: 'current',
                page: 'current',
                search: 'applied',
                selected: true
            };
            var rows = dt.rows(modifier).data();
            var ids = [];
            for(var i = 0;i < rows.length;i++){
                var row = rows[i];
                if(row.status != status){
                    ids.push(row.id);
                }
            }
            if(ids.length == 0) return false;

            var url = '/index.php?g=Distribution&m=Supplier&a=audit_apply_post';
            var data = {ids:ids,value:status};
            $.post(url,data,function(response){
                if(response.status){
                    dt.ajax.reload(null,false);
                    noty({type:'success',text:response.info});
                }else{
                    noty({type:'error',text:response.info});
                }
            })
        }
    </script>
</block>