<extend name="Public:base-v8"/>
<block name="title"><title>面料管理 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">

</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
        #datatable td {vertical-align: middle!important;}
        td.tfinfo .pull-left {width:45px;margin-right:5px;}
        td.tfinfo .tf-name {display: inline-block;margin:0;font-size:16px;}
        td.tfinfo .tf-code {margin:0;font-size:12px;}
        .selected .tfinfo .tf-name,.selected .tfinfo .tf-code {color:#fff;}

        td.supplier-info .pull-left {width:45px;margin-right:5px;border-radius:50%;}
        td.supplier-info span {line-height: 45px;}
    </style>
    <script id="tfinfo-wrapper" type="text/html">
        <a class="pull-left">
            <img class="img-responsive">
        </a>
        <a><h3 class="tf-name"></h3></a>
        <p class="tf-code"></p>
    </script>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">面料管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('Supplier/index')}">我是做布商（一批）</a></li>
                <li class="active">面料管理</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('Supplier/index')}">供二批面料</a></li>
                        <li><a href="{:leuu('SupplierClient/index')}">二批商户</a></li>
                        <li>
                            <a href="{:leuu('Supplier/application')}">二批申请
                                <gt name="notify_num[dist_tf_apply]" value="0">
                                    <span class="badge rounded badge-red" style="margin-top: -3px;">{$notify_num.dist_tf_apply}</span>
                                </gt>
                            </a>
                        </li>
                        <li class="active"><a href="{:leuu('Supplier/fabrics')}">面料管理</a></li>
                    </ul>
                    <div class="tab-content">
                        <table id="datatable" class="table table-striped table-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('fabrics')}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: true,
                multi: true,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": null,
                    "title": "面料",
                    "className": "tfinfo",
                    "defaultContent": "",
                    "render": tfRender
                }, {
                    "data": "status",
                    "title": "是否开放代理",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return parseInt(data) ? '<span style="color:#72c02c;">开放</span>':'<span class="color-red">关闭</span>';
                    }
                }, {
                    "data": "on_sale",
                    "title": "是否上架",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return parseInt(data) ? '<span style="color:#72c02c;">已上架</span>':'<span class="color-red">已下架</span>';
                    }
                }, {
                    "data": null,
                    "title": "操作",
                    "defaultContent": '',
                    "orderable": false,
                    "render": function(data, type, row){
                        var tf_url = '{:leuu("tf")}';
                        var sku_url = '{:leuu("sku")}';
                        tf_url += (tf_url.indexOf('?') > 0 ? '&':'?') + 'id=' + row.id;
                        sku_url += (tf_url.indexOf('?') > 0 ? '&':'?') + 'id=' + row.id;
                        var html = '<a href="'+tf_url+'">设置</a>';
                        //html += ' | <a href="'+sku_url+'">库存</a>';
                        return html;
                    }
                }],
                "order": [[1, 'desc']],
                buttons: [{
                    text: "全选",
                    init: function (dt, node, config) {
                        var that = this;
                        dt.on('draw.dt xhr.dt select.dt.DT deselect.dt.DT', function () {
                            var selectAll = dt.data().length > 0 && dt.data().length == dt.rows({selected:true}).data().length;
                            that.text(selectAll ? '取消全选':'全选');
                        });
                    },
                    action: function (e, dt, node, config) {
                        var modifier = {
                            order: 'current',
                            page: 'current',
                            search: 'applied'
                        };
                        if(this.text() == '全选'){
                            dt.rows(modifier).select();
                        }else{
                            dt.rows(modifier).select(false);
                        }
                    }
                }, {
                    text: "开放代理",
                    enable: false,
                    init: function (dt, node, config) {
                        var that = this;
                        var modifier = {
                            order: 'current',
                            page: 'current',
                            search: 'applied',
                            selected: true
                        };
                        dt.on('draw.dt xhr.dt select.dt.DT deselect.dt.DT', function () {
                            that.enable(dt.rows(modifier).any());
                        });
                        this.disable();
                    },
                    action: function (e, dt, node, config) {
                        setStatus(dt, 1);
                    }
                }, {
                    text: "关闭代理",
                    enable: false,
                    init: function (dt, node, config) {
                        var that = this;
                        var modifier = {
                            order: 'current',
                            page: 'current',
                            search: 'applied',
                            selected: true
                        };
                        dt.on('draw.dt xhr.dt select.dt.DT deselect.dt.DT', function () {
                            that.enable(dt.rows(modifier).any());
                        });
                        this.disable();
                    },
                    action: function (e, dt, node, config) {
                        setStatus(dt, 0);
                    }
                }, {
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload(null,false);
                    }
                }]
            });
        });

        function tfRender(data, type, row){
            var $wrapper = $('<div>');
            $($('#tfinfo-wrapper').html()).appendTo($wrapper);
            $wrapper.find('a').attr('href', row.link);
            $wrapper.find('img').attr('src', row.thumb);
            $wrapper.find('.tf-name').text(row.name);
            $wrapper.find('.tf-code').text(row.tf_code);
            return $wrapper.html();
        }

        function setStatus(dt, status){
            var modifier = {
                order: 'current',
                page: 'current',
                search: 'applied',
                selected: true
            };
            var rows = dt.rows(modifier).data();
            var ids = [];
            for(var i = 0;i < rows.length;i++){
                var row = rows[i];
                if(row.status != status){
                    ids.push(row.id);
                }
            }
            if(ids.length == 0) return false;

            var url = '/index.php?g=Distribution&m=Supplier&a=set_status';
            var data = {ids:ids,value:status};
            $.post(url,data,function(response){
                if(response.status){
                    dt.ajax.reload(null,false);
                    noty({type:'success',text:response.info});
                }else{
                    noty({type:'error',text:response.info});
                }
            })
        }
    </script>
</block>