<extend name="Public:base-v8"/>
<block name="title"><title>分销设置 {$tf.name} {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form .toggle i:after {
            content: '关闭';
        }
        .sky-form .toggle input:checked + i:after {
            content: '开放';
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">分销设置</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('Supplier/index')}">我是做布商（一批）</a></li>
                <li><a href="{:leuu('Supplier/index')}">供二批面料</a></li>
                <li class="active">{$tf.name}分销设置</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0)">面料设置</a></li>
                        <li><a href="{:leuu('Supplier/index')}">返回我的面料</a></li>
                    </ul>
                    <div class="tab-content" style="padding:0;">
                        <form class="sky-form" method="post" action="{:leuu('tf_post')}" style="border:none;">
                            <fieldset>
                                <section>
                                    <label class="toggle">
                                        <php>$checked = $setting['status'] ? 'checked':'';</php>
                                        <input type="checkbox" name="status" value="1" {$checked}><i class="no-rounded"></i>是否开放代理
                                    </label>
                                    <present name="pool_level_enabled">
                                        <div class="rating">
                                            <for start="0" end="5">
                                                <php>
                                                    $star = 5-$i;
                                                    $checked = $setting['level'] == $star ? 'checked':'';
                                                </php>
                                                <input type="radio" name="level" value="{$star}" {$checked} id="stars-rating-{$star}">
                                                <label for="stars-rating-{$star}"><i class="fa fa-star"></i></label>
                                            </for>
                                            二批等级
                                        </div>
                                    </present>
                                </section>
                                <table class="table table-bordered">
                                    <thead>
                                    <th style="width:100px;">等级</th>
                                    <th>价格（元）</th>
                                    </thead>
                                    <tbody>
                                    <for start="1" end="6">
                                        <tr>
                                            <td>
                                                <for start="1" end="$i+1" name="j">
                                                    <i class="fa fa-star color-red"></i>
                                                </for>
                                            </td>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="level[{$i}]"
                                                           value="{$setting[price][$i]|number_format=2}">
                                                </label>
                                            </td>
                                        </tr>
                                    </for>
                                    </tbody>
                                </table>
                            </fieldset>
                            <footer>
                                <input type="hidden" name="id" value="{$setting.id}">
                                <button type="submit" class="btn-u">保存</button>
                                <button type="button" class="btn-u btn-u-default" onclick="history.back(-1);">返回</button>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate();
        })
    </script>
</block>