<extend name="Public:base-v8"/>
<block name="title"><title>代理申请详情 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form .toggle i:after {
            content: '关闭';
        }
        .sky-form .toggle input:checked + i:after {
            content: '开放';
        }

        .tf-info {
            overflow: hidden;
        }
        .tf-info p {margin:0;}
        .tf-info h3 {margin:0;line-height: 40px;}
        .tf-info .pull-left {
            width: 40px;
            border: 1px solid #eee;
            padding: 2px;
            margin-right: 10px;
        }
        .client-info {
            overflow: hidden;
        }
        .client-info p {margin:0;}
        .client-info h3 {margin:0;line-height: 40px;}
        .client-info .pull-left {
            width: 40px;
            border: 1px solid #eee;
            padding: 2px;
            margin-right: 10px;
            border-radius: 50%;
        }
        .client-info .pull-left img {border-radius: 50%;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">代理申请详情</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('index')}">我是供应商</a></li>
                <li><a href="{:leuu('application')}">代理申请管理</a></li>
                <li class="active">代理申请详情</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0)">代理申请详情</a></li>
                        <li><a href="{:leuu('Supplier/application')}">返回代理申请管理</a></li>
                    </ul>
                    <div class="tab-content" style="padding:0;">
                        <form class="sky-form" method="post" action="{:leuu('accept_post')}" style="border:none;">
                            <fieldset>
                                <div class="row">
                                    <div class="tf-info col-sm-12 margin-bottom-10">
                                        <a class="pull-left" href="{:leuu('Tf/Tf/fabric',array('tfsn'=>$apply[tf_code]))}">
                                            <img class="img-responsive" src="{:get_thumb_url($apply[thumb],true,150)}">
                                        </a>
                                        <h3>{$apply.name}<small>({$apply.tf_code})</small></h3>
                                    </div>
                                    <div class="client-info col-sm-12 margin-bottom-10">
                                        <a class="pull-left" href="{:leuu('Supplier/Index/single',array('id'=>$apply[distributor_id]))}">
                                            <img class="img-responsive" src="{:get_thumb_url($apply[distributor_logo],true,150)}">
                                        </a>
                                        <h3>{$apply.distributor_name}</h3>
                                    </div>
                                </div>

                                <empty name="apply[client_id]">
                                    <div class="row">
                                        <section class="col-sm-6">
                                            <div class="rating">
                                                <for start="1" end="6">
                                                    <php>$star = 6-$i;$checked = $star==1 ? 'checked':'';</php>
                                                    <input type="radio" name="client_level" id="clientlevel-{$star}" value="{$star}" {$checked}>
                                                    <label for="clientlevel-{$star}"><i class="fa fa-star"></i></label>
                                                </for>
                                                设置分销商等级
                                            </div>
                                        </section>
                                    </div>
                                </empty>
                                <div class="row">
                                    <section class="col-sm-6">
                                        <label class="label">自定义面料名称</label>
                                        <label class="input">
                                            <input type="text" name="name" value="{$apply.dist_tf_name}">
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col-sm-6">
                                        <label class="label">自定义面料自编码</label>
                                        <label class="input">
                                            <input type="text" name="code" value="{$apply.dist_tf_code}">
                                        </label>
                                    </section>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <table class="table table-bordered">
                                            <thead>
                                            <th style="width:30px;"></th>
                                            <th style="width:80px;">等级</th>
                                            <th>价格</th>
                                            </thead>
                                            <tbody>
                                            <for start="1" end="6">
                                                <tr>
                                                    <td>
                                                        <php>
                                                            $checked = $i == $apply['dist_tf_level'] ? 'checked':'';
                                                        </php>
                                                        <label class="radio">
                                                            <input type="radio" name="level" value="{$i}" {$checked}>
                                                            <i class="rounded-x"></i>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <for start="1" end="$i+1" name="j">
                                                            <i class="fa fa-star color-red"></i>
                                                        </for>
                                                    </td>
                                                    <td>
                                                        <php>
                                                            $price = number_format($priceList[$i],2);
                                                            if($price == 0.00) $price = '未设置';
                                                        </php>
                                                        {$price}
                                                    </td>
                                                </tr>
                                            </for>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </fieldset>
                            <footer>
                                <input type="hidden" name="id" value="{$apply.id}">
                                <button type="submit" class="btn-u">批准代理</button>
                                <a href="{:leuu('tf',array('id'=>$apply[source_id]))}" class="btn-u btn-u-default" target="_blank">面料设置</a>
                                <a href="{:leuu('SupplierClient/client',array('id'=>$apply[client_id]))}" class="btn-u btn-u-default" target="_blank">客户设置</a>
                                <a href="{:leuu('application')}" class="btn-u btn-u-default">取消</a>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate();
        })
    </script>
</block>