em.invalid {
    margin-left: 8px;
    color: #ee9393;
    font-style: normal;
}
label.label.required:before {
    color: #e6125d;
    margin-right: 5px;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 3px;
    content: '*';
}

.jumbotron {
    background-color:#e6125d;
}
.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin: 40px 0 80px;
    font-size: 54px;
    line-height: 1.5;
}
.free-shop-box {margin-top:-170px;}

.sky-form fieldset section.row {
    margin-bottom:20px;
}
.sky-form .label {padding-left:15px!important;font-size:14px;!important}
.sky-form .select i {background:transparent!important;}

.mobile-verify {padding: 0 135px;}
.mobile-verify .mobile-text {
    position: absolute;
    width: 120px;
    left: 15px;
    line-height: 34px;
    border: 1px solid #bbb;
    height: 34px;
    border-right: 0;
    text-align: center;
    background: #f0f0f0;
}
.mobile-verify .btn-verify {
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    width: 120px;
}
.mobile-verify .btn-verify:disabled,
.mobile-verify .btn-verify:disabled:hover {
    background-color: #efb989;
    border-color: #efb989;
}