@charset "UTF-8";
*,
html,
body {
  font-family: "Microsoft YaHei UI", Arial; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Microsoft YaHei UI", Arial !important; }

body {
  position: relative; }

ul,
ol {
  list-style: none outside none;
  margin-bottom: 0;
  padding: 0; }

.btn-u {
  background: #e6125d; }

/*.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
  background: $btnHoverColor;
}*/
input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

/* sky-form */
.sky-form .state-success input,
.sky-form .state-success select,
.sky-form .state-success select + i,
.sky-form .state-success textarea,
.sky-form .radio.state-success i,
.needForm .sky-form .state-success.checkbox i,
.sky-form .checkbox.state-success i,
.sky-form .toggle.state-success i,
.sky-form .toggle.state-success input:checked + i {
  background: transparent; }

.padding-left-0 {
  padding-left: 0; }

.margin-top-15 {
  margin-top: 15px !important; }

.padding-right-15 {
  padding-right: 15px; }

.padding-right-0 {
  padding-right: 0; }

.padding-right-5 {
  padding-right: 5px; }

.margin-top-0 {
  margin-top: 0 !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-top-4 {
  margin-top: 4px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  z-index: 999; }

/*nav-top*/
.cameraBox {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 62px;
  z-index: 5;
  color: #ccc;
  font-size: 18px; }
  .cameraBox .camera-slide {
    background: #fff;
    width: 555px;
    height: 160px;
    box-shadow: 2px 0 5px #ccc;
    position: absolute;
    top: 24px;
    display: none;
    right: -62px; }
    .cameraBox .camera-slide .file {
      top: 38%;
      left: 42%;
      position: relative;
      display: inline-block;
      padding: 8px 13px; }
      .cameraBox .camera-slide .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0; }

.add-nav-title2 li h3 a, .add-nav-title2 .tab-v9 .nav-tabs > li h3 a:hover, .tab-v9 .add-nav-title2 .nav-tabs > li h3 a:hover, .add-nav-title2 li h3 .tab-v9 .nav-tabs li.active > a, .tab-v9 .nav-tabs .add-nav-title2 li h3 li.active > a {
  font-size: 16px !important; }
  .add-nav-title2 li h3 a:hover, .add-nav-title2 .tab-v9 .nav-tabs > li h3 a:hover, .tab-v9 .add-nav-title2 .nav-tabs > li h3 a:hover, .add-nav-title2 li h3 .tab-v9 .nav-tabs li.active > a:hover, .tab-v9 .nav-tabs .add-nav-title2 li h3 li.active > a:hover {
    color: #e6125d; }

.top-v1-data > li {
  position: relative; }
  .top-v1-data > li:hover .currency {
    display: block; }
  .top-v1-data > li > ul {
    display: none;
    position: absolute;
    top: 34px;
    left: 0;
    box-shadow: 0 3px 5px #ccc;
    z-index: 5;
    background: #fff;
    padding: 0;
    width: 100px;
    text-align: center;
    border: none; }
    .top-v1-data > li > ul > li {
      display: block;
      border-right: none !important; }

.phoneShoppingCar {
  display: none; }

@media (max-width: 991px) {
  .apply-certificate-type1-title, .apply-certificate-type2 .apply-certificate-type2-title, .apply-certificate-type3 .apply-certificate-type3-title, .apply-certificate-type4 .apply-certificate-type4-title,
  .find-password-step1-title,
  .find-password-step2 .find-password-step2-content .find-password-step2-title,
  .find-password-step3 .find-password-step3-content .find-password-step3-title,
  .find-password-step4 .find-password-step4-content .find-password-step4-title,
  .reg-header {
    display: none; }

  .clear-padding {
    padding-top: 20px; }

  .apply-certificate-type1,
  .apply-certificate-type2,
  .apply-certificate-type3,
  .apply-certificate-type4 {
    padding: 10px; }

  .apply-certificate-type1-content,
  .apply-certificate-type2-content,
  .apply-certificate-type3-content,
  .apply-certificate-type4-content {
    padding: 0; }

  #city_1 select {
    width: 32% !important; }

  .sky-form {
    box-shadow: none !important; }

  .sky-form fieldset {
    padding: 0; }

  .topbar-v1 .top-v1-data li {
    border: none; }

  .topbar-v1 .top-v1-data > li {
    display: inline-block; }

  .topbar-v1 .top-v1-data li:first-child {
    border-left: none;
    display: inline; }

  .top-v1-data > li > ul {
    top: 36px; }

  .phoneShoppingCar {
    display: block; }
    .phoneShoppingCar .shop-badge {
      border: none; }

  .header-v4 .navbar-brand img {
    display: block;
    text-align: center;
    margin: 0 0 5px 0; }

  .webShoppingCar {
    display: none; }

  .header-v4 .navbar-default .navbar-toggle {
    margin: 10px 0; }

  .topbar-v1 .top-v1-contacts {
    text-align: left !important; }
    .topbar-v1 .top-v1-contacts li:first-child {
      display: none; } }
/*End nav-top*/
/*searchBox*/
.searchBox ul li {
  display: inline-block;
  cursor: pointer; }
.searchBox ul li.cur {
  background: #e6125d;
  color: #fff;
  padding: 5px 7px; }

/*End searchBox*/
/*phoneNum*/
.phoneNum {
  padding: 30px 15px 0 15px;
  color: #a0a0a0; }

/*End phoneNum*/
/*Shop Badge*/
.shop-badge {
  border: 1px solid #d5d7dc;
  position: relative;
  margin-left: 20px;
  padding: 15px 18px 10px;
  margin-top: 17px; }
  .shop-badge a i, .shop-badge .tab-v9 .nav-tabs > li a:hover i, .tab-v9 .nav-tabs > li .shop-badge a:hover i, .shop-badge .tab-v9 .nav-tabs li.active > a i, .tab-v9 .nav-tabs .shop-badge li.active > a i {
    color: #687074 !important;
    font-size: 24px;
    min-width: 25px;
    margin-right: 5px; }
  .shop-badge span.badge {
    top: 5px;
    left: 33px;
    position: absolute;
    min-width: 12px;
    padding: 3px 6px;
    background: #e6125d; }

/*Shop Badge*/
/*serviceLink*/
.serviceLink .service-block {
  padding: 18px 10px;
  margin-bottom: 10px; }

/*End serviceLink*/
/*news*/
.news li {
  margin-bottom: 5px !important; }

/*End news*/
/*ourProdect*/
.tab-v9 {
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1; }
  .tab-v9 .nav-tabs {
    display: flex;
    border: none;
    text-align: center;
    background: transparent;
    margin: 0; }
    .tab-v9 .nav-tabs > li {
      margin: 0;
      display: inline-block;
      float: none; }
      .tab-v9 .nav-tabs > li a, .tab-v9 .nav-tabs > li a:hover, .tab-v9 .nav-tabs > li.active > a:hover, .tab-v9 .nav-tabs > li.active > a {
        margin-right: 0;
        border: none;
        border-right: 1px solid #f1f1f1;
        /* min-width: 180px; */
        border-radius: 0;
        color: #a7a7a7;
        padding: 35px 30px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold; }
        .tab-v9 .nav-tabs > li a:hover, .tab-v9 .nav-tabs > li.active > a:hover {
          color: #fff;
          background: #e6125d; }
      .tab-v9 .nav-tabs > li:first-child > a {
        border-left: 1px solid #f1f1f1 !important; }
    .tab-v9 .nav-tabs li.active > a:hover, .tab-v9 .nav-tabs li.active > a {
      color: #fff;
      background: #e6125d; }
      .tab-v9 .nav-tabs li.active > a:hover {
        color: #fff;
        background: #e6125d; }

.no-column-space [class^="col-"],
.no-column-space [class*=" col-"],
.no-column-space {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden; }

@media (max-width: 910px) {
  .tab-v9 .nav-tabs > li > a, .tab-v9 .nav-tabs > li > a:hover, .tab-v9 .nav-tabs > li.active > a:hover, .tab-v9 .nav-tabs > li.active > a,
  .tab-v9 .nav-tabs > li > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a {
    min-width: 100px;
    padding: 40px 15px;
    font-size: 12px; }

  .tab-v9 .nav-tabs {
    padding-left: 0px; } }
@media (max-width: 768px) {
  .tab-v9 .nav-tabs > li > a, .tab-v9 .nav-tabs > li > a:hover, .tab-v9 .nav-tabs > li.active > a:hover, .tab-v9 .nav-tabs > li.active > a,
  .tab-v9 .nav-tabs > li > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a {
    /*	  min-width: 100px;
      padding: 40px 15px;
      font-size: 12px;*/
    border-bottom: 1px solid #f1f1f1; } }
@media (max-width: 562px) {
  .tab-v9 .nav-tabs > li > a, .tab-v9 .nav-tabs > li > a:hover, .tab-v9 .nav-tabs > li.active > a:hover, .tab-v9 .nav-tabs > li.active > a,
  .tab-v9 .nav-tabs > li > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a {
    min-width: 185px; } }
@media (max-width: 374px) {
  .tab-v9 .nav-tabs > li > a, .tab-v9 .nav-tabs > li > a:hover, .tab-v9 .nav-tabs > li.active > a:hover, .tab-v9 .nav-tabs > li.active > a,
  .tab-v9 .nav-tabs > li > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a {
    min-width: 160px; } }
/*tab content*/
.carousel-v6 {
  position: relative; }
  .carousel-v6 .carousel-arrow a.carousel-control, .carousel-v6 .carousel-arrow .tab-v9 .nav-tabs > li a.carousel-control:hover, .tab-v9 .nav-tabs > li .carousel-v6 .carousel-arrow a.carousel-control:hover, .carousel-v6 .carousel-arrow .tab-v9 .nav-tabs li.active > a.carousel-control, .tab-v9 .nav-tabs .carousel-v6 .carousel-arrow li.active > a.carousel-control {
    opacity: 1;
    background: none;
    text-shadow: none;
    position: inherit; }
  .carousel-v6 .carousel-arrow a span, .carousel-v6 .carousel-arrow .tab-v9 .nav-tabs > li a:hover span, .tab-v9 .nav-tabs > li .carousel-v6 .carousel-arrow a:hover span, .carousel-v6 .carousel-arrow .tab-v9 .nav-tabs li.active > a span, .tab-v9 .nav-tabs .carousel-v6 .carousel-arrow li.active > a span {
    position: absolute;
    top: calc(100% - 63px);
    opacity: 1;
    font-size: 13px;
    background: #fff;
    color: #e6125d;
    padding: 16px 0;
    height: 45px;
    width: 45px; }
    .carousel-v6 .carousel-arrow a span:hover {
      opacity: 0.8; }
  .carousel-v6 .carousel-arrow a.left span {
    left: 45px; }
  .carousel-v6 .carousel-arrow a.right, .carousel-v6 .carousel-arrow .tab-v9 .nav-tabs > li a.right:hover, .tab-v9 .nav-tabs > li .carousel-v6 .carousel-arrow a.right:hover, .carousel-v6 .carousel-arrow .tab-v9 .nav-tabs li.active > a.right, .tab-v9 .nav-tabs .carousel-v6 .carousel-arrow li.active > a.right {
    left: 85px; }
  .carousel-v6 .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); }
  .carousel-v6 .carousel-caption {
    right: 0;
    bottom: 80px;
    left: 30px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: none; }

.carousel-v6__price {
  font-weight: bold;
  font-size: 20px;
  color: #e6125d; }

.carousel-v6__title {
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  text-transform: uppercase; }

.carousel-v6__text {
  font-size: 16px;
  opacity: 0.8;
  color: #fff; }

.carousel-v6 .item {
  max-height: 600px; }

/*tab content left side*/
.food-in {
  padding: 20px 10px;
  border-left: 1px solid #f1f1f1;
  max-height: 234px;
  margin-bottom: 1px; }

.tab-pane .food-in:first-child {
  border-left: 0; }

.food-in__cat {
  font-weight: bold;
  font-size: 11px;
  color: #e6125d;
  text-transform: uppercase; }

.food-in__name {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #222; }

.food-in__text {
  font-size: 13px;
  color: #a7a7a7;
  line-height: 1.6; }

.food-in__price {
  font-weight: bold;
  font-size: 16px;
  color: #e6125d; }

@media (max-width: 1199px) {
  .food-in {
    max-height: none;
    border: none; } }
/*End ourProdect*/
/*bannerAD*/
.parallax-quote {
  background: url(../img/bannerAD/21.jpg) repeat fixed;
  padding: 80px 0; }
  .parallax-quote p {
    font-size: 20px; }

/*End bannerAD*/
/*prodect2*/
.prodect-container {
  display: block;
  position: relative;
  overflow: hidden; }
  .prodect-container .img-box {
    position: relative;
    top: 0;
    z-index: 1; }
    .prodect-container .img-box img {
      display: block;
      border: 0;
      width: 100%;
      height: auto; }
  .prodect-container .text-box {
    padding: 15px;
    background: transparent;
    top: 0;
    transition: opacity 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100%; }
    .prodect-container .text-box .text-bg-box {
      display: table;
      width: 100%;
      height: 100%; }
      .prodect-container .text-box .text-bg-box .text-body-box {
        opacity: 0;
        background-color: rgba(230, 48, 93, 0.9);
        transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding: 10px 0; }
        .prodect-container .text-box .text-bg-box .text-body-box h3 {
          font-size: 24px;
          margin-bottom: 25px;
          color: #fff; }
        .prodect-container .text-box .text-bg-box .text-body-box p {
          color: #f8aabf;
          font-size: 14px;
          max-width: 78%;
          margin: 0 auto;
          line-height: 1.4; }
        .prodect-container .text-box .text-bg-box .text-body-box h4 {
          color: #fff; }
    .prodect-container .text-box:hover .text-body-box {
      opacity: 0.9; }

/*Endprodect2*/
/*erweima-box*/
.erweima-box img {
  padding: 13px 3px;
  background: #fff;
  box-shadow: 0 0 5px #ccc; }

/*End erweima-box*/
/*register*/
.categories li {
  padding: 6px 0;
  border-bottom: 1px dotted #eee;
  color: #555; }

#yzmbtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 13px; }

/*End register*/
/*products-list*/
.add-panel {
  background-color: #fcfbfb;
  margin-top: 2px !important;
  border: none;
  box-shadow: none; }
  .add-panel .add-panel-heading .panel-title a, .add-panel .add-panel-heading .panel-title .tab-v9 .nav-tabs > li a:hover, .tab-v9 .nav-tabs > li .add-panel .add-panel-heading .panel-title a:hover, .add-panel .add-panel-heading .panel-title .tab-v9 .nav-tabs li.active > a, .tab-v9 .nav-tabs .add-panel .add-panel-heading .panel-title li.active > a {
    width: 100%;
    display: block;
    background: #eee;
    padding: 5px 10px; }
    .add-panel .add-panel-heading .panel-title a i {
      color: #c0c0c0; }
  .add-panel .add-panel-body {
    padding-top: 5px; }
    .add-panel .add-panel-body ul li {
      color: #858585; }

.product-detail .product-description .product-text {
  text-align: left;
 }
  .product-detail .product-description .product-text h4 {
    font-size: 16px;    text-align: left;margin: 0 }
    .product-detail .product-description .product-text h4 a {
      color: #687074; }
  .product-detail .product-description .product-text span {
    color: #e6125d;
    font-size: 14px; }
.product-detail .title-price {
  font-size: 14px; }
.product-detail .title-collect {
  font-size: 14px;
  color: #687074;
  font-family: "Microsoft YaHei UI" !important;
  margin: 0; }

/*End products-list*/
/*apply-certificate*/
/*.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  color: #c09853;
}*/
/*free-shop-box*/
.free-shop-box .free-shop-title > div {
  display: flex; }
  .free-shop-box .free-shop-title > div .service {
    background: #fff;
    margin: 0 auto;
    width: 100%; }
.free-shop-box .free-shop-content {
  text-align: center;
  background: #fff; }
  .free-shop-box .free-shop-content i {
    font-size: 40px;
    color: #e6125d; }
  .free-shop-box .free-shop-content span {
    display: block;
    color: #939393;
    font-size: 14px; }
  .free-shop-box .free-shop-content ul li {
    font-size: 15px;
    color: #555;
    /*margin: 6px 0;*/ }
  .free-shop-box .free-shop-content .Shop-equity {
    color: #e6125d;
    font-size: 18px; }
  .free-shop-box .free-shop-content hr {
    margin: 20px 0; }

/*End free-shop-box*/
/*apply-certificate-type1*/
.apply-certificate-type1-title, .apply-certificate-type2 .apply-certificate-type2-title, .apply-certificate-type3 .apply-certificate-type3-title, .apply-certificate-type4 .apply-certificate-type4-title {
  background: #f7f7f7 url("../img/title/path.png") no-repeat 20px -445px;
  border: 1px solid #e8e7e7;
  margin: 25px auto 5px;
  width: 100%;
  height: 96px; }

.apply-certificate-type1 .apply-certificate-type1-content {
  text-align: center; }
  .apply-certificate-type1 .apply-certificate-type1-content h5 {
    color: #e6125d;
    font-size: 18px; }
  .apply-certificate-type1 .apply-certificate-type1-content form input {
    /*position:absolute;clip:rect(0 0 0 0);*/ }
  .apply-certificate-type1 .apply-certificate-type1-content form p span {
    color: #e6125d; }
  .apply-certificate-type1 .apply-certificate-type1-content form label {
    font-weight: normal; }

/*End apply-certificate-type1*/
/*apply-certificate-type2*/
.apply-certificate-type2 .apply-certificate-type2-title {
  background: #f7f7f7 url("../img/title/path.png") no-repeat 20px -557px; }
.apply-certificate-type2 .apply-certificate-type2-content span {
  color: #e6125d; }
.apply-certificate-type2 .apply-certificate-type2-content #city_1 select {
  width: 32.9%;
  display: inline-block; }

/*End apply-certificate-type2*/
/*apply-certificate-type3*/
.apply-certificate-type3 .apply-certificate-type3-title {
  background: #f7f7f7 url("../img/title/path.png") no-repeat 20px -675px; }
.apply-certificate-type3 .apply-certificate-type3-content .sky-form {
  box-shadow: none;
  border: none; }
  .apply-certificate-type3 .apply-certificate-type3-content .sky-form section {
    margin-bottom: 15px; }
    .apply-certificate-type3 .apply-certificate-type3-content .sky-form section label {
      font-weight: 700;
      color: #999; }
  .apply-certificate-type3 .apply-certificate-type3-content .sky-form span {
    color: #e6125d; }
  .apply-certificate-type3 .apply-certificate-type3-content .sky-form #city_1 select {
    width: 32.9%;
    display: inline-block; }

/*End apply-certificate-type3*/
/*apply-certificate-type4*/
.apply-certificate-type4 .apply-certificate-type4-title {
  background: #f7f7f7 url("../img/title/path.png") no-repeat 20px -783px; }
.apply-certificate-type4 .apply-certificate-type4-content .sky-form {
  box-shadow: none;
  border: none; }
  .apply-certificate-type4 .apply-certificate-type4-content .sky-form label {
    font-weight: 700;
    color: #999; }
  .apply-certificate-type4 .apply-certificate-type4-content .sky-form span {
    color: #e6125d; }
  .apply-certificate-type4 .apply-certificate-type4-content .sky-form #city_1 select {
    width: 32.9%;
    display: inline-block; }

/*End apply-certificate-type4*/
.log-reg-v3 .state-error em {
  display: block;
  color: #ee9393;
  padding: 0 1px;
  font-size: 11px;
  margin-top: 6px;
  line-height: 15px;
  font-style: normal; }

.apply-help-img {
  box-shadow: 0 2px 8px #ccc; }

/*End apply-certificate*/
/*needForm*/
.needForm .sky-form {
  box-shadow: 0 0 3px #eee; }
  .needForm .sky-form label span {
    color: #e6125d; }
  .needForm .sky-form .reg-header {
    color: #555;
    text-align: center;
    border-bottom: solid 1px #eee; }
  .needForm .sky-form #city_1 select {
    width: 32.9%;
    display: inline-block; }
  .needForm .sky-form section > label {
    font-weight: 700;
    color: #999; }
  .needForm .sky-form .radio, .needForm .sky-form .checkbox {
    padding-left: 25px; }

/*End needForm*/
/*find-password-step1*/
.reg-header {
  color: #555;
  text-align: center;
  border-bottom: dashed 1px #eee; }

.find-password-step1-title, .find-password-step2 .find-password-step2-content .find-password-step2-title, .find-password-step3 .find-password-step3-content .find-password-step3-title, .find-password-step4 .find-password-step4-content .find-password-step4-title {
  width: 768px;
  height: 52px;
  background: url("../img/title/lookPasswordBack.png") no-repeat;
  margin: 30px auto 20px; }

.find-password-step1, .find-password-step2, .find-password-step3, .find-password-step4 {
  background: #fff url("../img/bg/reg_bj.jpg") no-repeat center top;
  min-height: 700px; }

.find-password-step1-content, .find-password-step2 .find-password-step2-content, .find-password-step3 .find-password-step3-content, .find-password-step4 .find-password-step4-content {
  height: 590px;
  background: #fff; }

.find-password-step1-content form, .find-password-step2 .find-password-step2-content form, .find-password-step3 .find-password-step3-content form, .find-password-step4 .find-password-step4-content form {
  text-align: center; }

/*End find-password-step1*/
/*find-password-step2*/
.find-password-step2 .find-password-step2-content .find-password-step2-title {
  background-position: 0 -50px; }
.find-password-step2 .find-password-step2-content #yzmbtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 13px;
  margin-top: 25px; }
.find-password-step2 .find-password-step2-content form {
  text-align: left; }
  .find-password-step2 .find-password-step2-content form label span {
    font-weight: normal;
    color: #555; }

/*End find-password-step2*/
/*find-password-step3*/
.find-password-step3 .find-password-step3-content .find-password-step3-title {
  background-position: 0 -100px; }
.find-password-step3 .find-password-step3-content form {
  text-align: left; }

/*End find-password-step3*/
/*find-password-step4*/
.find-password-step4 .find-password-step4-content .find-password-step4-title {
  background-position: 0 -152px; }
.find-password-step4 .find-password-step4-content section {
  text-align: center; }
  .find-password-step4 .find-password-step4-content section i {
    color: green;
    width: 40px;
    height: 40px;
    border: 2px solid green;
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px; }
  .find-password-step4 .find-password-step4-content section h3 {
    font-weight: 600;
    color: green; }
  .find-password-step4 .find-password-step4-content section div {
    color: #a0a0a0; }
    .find-password-step4 .find-password-step4-content section div a, .find-password-step4 .find-password-step4-content section div .tab-v9 .nav-tabs > li a:hover, .tab-v9 .nav-tabs > li .find-password-step4 .find-password-step4-content section div a:hover, .find-password-step4 .find-password-step4-content section div .tab-v9 .nav-tabs li.active > a, .tab-v9 .nav-tabs .find-password-step4 .find-password-step4-content section div li.active > a {
      color: #e6125d; }

/*End find-password-step4*/
/*prodect-single*/
.shop-product h3.shop-product-title {
  font-family: "Microsoft YaHei UI" !important; }
.shop-product .product-size label {
  width: 100px;
  font-weight: normal;
  font-size: 16px;
  height: 40px; }
.shop-product .shop-product-social li .qrcode-content {
  position: absolute;
  left: -65px;
  z-index: 2;
  background: #fff;
  top: -205px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); }

/*--------------------------------------------------
    [7. Team Section]
----------------------------------------------------*/
/*Second owl carousel design*/
.team-section .owl-carousel-v4 .item {
  text-align: center; }
  .team-section .owl-carousel-v4 .item img {
    margin: 0 auto 35px;
    display: block;
    max-width: 370px;
    max-height: 370px; }
.team-section .owl-carousel-v4 .owl-small {
  font-size: 13px;
  text-transform: uppercase;
  color: #9797a2;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
  letter-spacing: 2px; }
.team-section .owl-carousel-v4 .owl-span {
  margin-bottom: 15px;
  font-size: 13px;
  color: #e6125d;
  text-transform: uppercase;
  letter-spacing: 1px; }
.team-section .owl-carousel-v4 .owl-list {
  padding: 15px 0 0;
  min-height: 50px; }
  .team-section .owl-carousel-v4 .owl-list li > a, .team-section .owl-carousel-v4 .owl-list .tab-v9 .nav-tabs > li > a:hover, .tab-v9 .team-section .owl-carousel-v4 .owl-list .nav-tabs > li > a:hover, .team-section .owl-carousel-v4 .owl-list .tab-v9 .nav-tabs li.active > a {
    font-size: 15px;
    color: #9797a2;
    padding: 5px 10px;
    background: #272730;
    transition: all .4s ease; }
    .team-section .owl-carousel-v4 .owl-list li > a:hover, .team-section .owl-carousel-v4 .owl-list .tab-v9 .nav-tabs > li > a:hover, .tab-v9 .team-section .owl-carousel-v4 .owl-list .nav-tabs > li > a:hover, .team-section .owl-carousel-v4 .owl-list .tab-v9 .nav-tabs li.active > a:hover {
      color: #fff;
      background: #e6125d; }
  .team-section .owl-carousel-v4 .owl-list li a.fb {
    padding: 5px 12px; }

.owl-theme .owl-controls .owl-buttons {
  display: none; }
  .owl-theme .owl-controls .owl-buttons div {
    padding: 13px 17px;
    color: #fff;
    background: #272730;
    border-radius: 50%;
    position: absolute;
    display: none; }
    .owl-theme .owl-controls .owl-buttons div:hover, .owl-theme .owl-controls .owl-buttons div:focus {
      background: #e6125d; }
  .owl-theme .owl-controls .owl-buttons i {
    margin-top: 2px; }
  .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -15px;
    top: 20%; }
  .owl-theme .owl-controls .owl-buttons .owl-next {
    right: -15px;
    top: 20%; }

@media (max-width: 1200px) {
  .team-section .owl-carousel-v4 .owl-slider-v4.team-section .item img {
    margin: 0 auto 20px;
    max-width: 270px;
    max-height: 270px; } }
@media (max-width: 992px) {
  .team-section .owl-theme .owl-controls .owl-buttons .owl-prev {
    top: 20%;
    left: -20px; }

  .team-section .owl-theme .owl-controls .owl-buttons .owl-next {
    top: 20%;
    right: -20px; } }
.product-detail .store-box, .product-detail .product-introduce-box {
  padding: 15px;
  border: 1px solid #eee;
  text-align: center; }
  .product-detail .store-box img, .product-detail .product-introduce-box img {
    display: block;
    margin: 0 auto; }
  .product-detail .store-box h3, .product-detail .product-introduce-box h3 {
    font-size: 18px;
    font-weight: 600; }
  .product-detail .store-box span, .product-detail .product-introduce-box span {
    margin: 5px 0;
    display: block;
    color: #e6125d; }
.product-detail .product-introduce-box {
  text-align: left; }

/*End prodect-single*/
/*fabric-buy-list*/
.product-description .title-price {
  color: #e6125d;
  font-size: 18px; }

/*End fabric-buy-list*/
/*fabric-buy-single*/
.table-striped > tbody > tr:nth-of-type(odd) {
  /*background-color: #eee;*/ }

/*End fabric-buy-single*/
/*info-sure*/
.shopping-cart h2.title-type {
  font-family: "Microsoft YaHei UI" !important;
  margin-left: 0; }
.shopping-cart .billing-info .billing-info-inputs label {
  color: #999; }
  .shopping-cart .billing-info .billing-info-inputs label span {
    color: #e6125d; }
.shopping-cart .billing-info .billing-info-inputs .city-select select {
  width: 32.7%;
  display: inline-block; }
.shopping-cart .billing-info .address-box .change-address {
  cursor: pointer;
  border: 1px solid #d5d7dc; }
  .shopping-cart .billing-info .address-box .change-address ul {
    padding: 10px; }
    .shopping-cart .billing-info .address-box .change-address ul li {
      color: #888;
      font-weight: 600; }
      .shopping-cart .billing-info .address-box .change-address ul li span {
        font-weight: normal; }
.shopping-cart .billing-info .border-img {
  border: 5px solid transparent !important;
  border-image: url("../img/border/01-01.png") 7 repeat !important; }

/*.sky-form{
  border: none;
  .state-error{
    label{
      display: block;
    }
  }
}*/
.pay-fast a, .pay-fast .tab-v9 .nav-tabs > li a:hover, .tab-v9 .nav-tabs > li .pay-fast a:hover, .pay-fast .tab-v9 .nav-tabs li.active > a, .tab-v9 .nav-tabs .pay-fast li.active > a {
  padding: 13px 15px;
  border: 1px solid #d5d7dc; }

.pay-use-bank > div {
  margin-bottom: 10px; }
  .pay-use-bank > div a, .pay-use-bank > div .tab-v9 .nav-tabs > li a:hover, .tab-v9 .nav-tabs > li .pay-use-bank > div a:hover, .pay-use-bank > div .tab-v9 .nav-tabs li.active > a, .tab-v9 .nav-tabs .pay-use-bank > div li.active > a {
    display: block;
    padding: 6px 15px;
    border: 1px solid #d5d7dc; }

/*End info-sure*/
/*stores-list*/
.sample-show img {
  width: 85px;
  display: inline-block; }

/*End stores-list*/
/*add-address-form*/
.add-address-form #city_1 select {
  width: 33%;
  display: inline-block; }

.address-list table .default-address {
  color: #e6125d; }
.address-list table .set-default-address a, .address-list table .set-default-address .tab-v9 .nav-tabs > li a:hover, .tab-v9 .nav-tabs > li .address-list table .set-default-address a:hover, .address-list table .set-default-address .tab-v9 .nav-tabs li.active > a, .tab-v9 .nav-tabs .address-list table .set-default-address li.active > a {
  color: #e6125d;
  display: none; }
.address-list table tr:hover .set-default-address a {
  display: block; }

/*End add-address-form*/
/*store-single*/
.search-block {
  background: url(/public/img/stores/7.jpg); }
  .search-block .form-control {
    height: 45px; }

/*End store-single*/
/*footer-img*/
.footer-img li {
  display: inline-block;
  margin: 0 10px; }
  .footer-img li img {
    width: 90px;
    height: 30px; }

/*End footer-img*/
/*change-head*/
.change-head .change-head-left-box {
  text-align: center;
  background: #eee;
  padding: 150px 40px; }
  .change-head .change-head-left-box .change-head-left {
    display: flex; }
    .change-head .change-head-left-box .change-head-left a, .change-head .change-head-left-box .change-head-left .tab-v9 .nav-tabs > li a:hover, .tab-v9 .nav-tabs > li .change-head .change-head-left-box .change-head-left a:hover, .change-head .change-head-left-box .change-head-left .tab-v9 .nav-tabs li.active > a, .tab-v9 .nav-tabs .change-head .change-head-left-box .change-head-left li.active > a {
      margin: auto;
      position: relative;
      text-decoration: none;
      text-indent: 0;
      line-height: 20px; }
      .change-head .change-head-left-box .change-head-left a input {
        display: block;
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0; }
  .change-head .change-head-left-box p {
    display: block;
    color: #ccc;
    font-size: 14px; }
.change-head .change-head-right {
  background: #eee;
  padding: 10px 20px;
  text-align: center; }
  .change-head .change-head-right h3 {
    color: #e6125d; }
  .change-head .change-head-right .box-130, .change-head .change-head-right .box-60, .change-head .change-head-right .box-30 {
    width: 130px;
    height: 130px;
    background: #ccc;
    margin: 0 auto; }
  .change-head .change-head-right .box-60 {
    width: 60px;
    height: 60px; }
  .change-head .change-head-right .box-30 {
    width: 30px;
    height: 30px; }
  .change-head .change-head-right p {
    color: #ccc;
    margin-bottom: 10px;
    margin-top: 5px; }

/*End change-head*/
/*reg*/
.log-reg-v3 .state-error input,
.log-reg-v3 .state-error select,
.log-reg-v3 .state-error textarea,
.log-reg-v3 .radio.state-error i,
.log-reg-v3 .needForm .sky-form .state-error.checkbox i,
.needForm .sky-form .log-reg-v3 .state-error.checkbox i,
.log-reg-v3 .checkbox.state-error i,
.log-reg-v3 .toggle.state-error i {
  background: #fff0f0; }

/*End reg*/
/* tools-bottom */
#tools-bottom {
  color: #fff;
  position: fixed;
  right: 14px !important;
  bottom: 11px !important;
  z-index: 9999;
  text-align: center;
  line-height: 40px; }

#tools-bottom a {
  display: block;
  position: relative !important;
  right: auto !important;
  bottom: auto !important;
  margin-bottom: 1px;
  color: #fff;
  z-index: 99;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  border-radius: 0 !important; }

#tools-bottom .item-ico {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 40px; }

#qrcodecontrol {
  font-size: 22px; }

#qrcodecontrol:hover .item-ico:before {
  content: '扫二维码';
  font-size: 12px;
  word-break: break-all;
  line-height: 16px;
  display: block;
  padding: 4px;
  font-family: "Microsoft YaHei UI", Arial, sans-serif; }

#logincontrol:hover .item-ico:before {
  content: '登陆网站';
  font-size: 12px;
  word-break: break-all;
  line-height: 16px;
  display: block;
  padding: 4px;
  font-family: "Microsoft YaHei UI", Arial, sans-serif; }

#musiccontrol:hover .item-ico:before {
  content: '暂停音乐';
  font-size: 12px;
  word-break: break-all;
  line-height: 16px;
  display: block;
  padding: 4px;
  font-family: "Microsoft YaHei UI", Arial, sans-serif; }

#musiccontrol.paused:hover .item-ico:before {
  content: '播放音乐'; }

#topcontrol:hover .item-ico:before {
  content: '回到顶部';
  font-size: 12px;
  word-break: break-all;
  line-height: 16px;
  display: block;
  padding: 4px;
  font-family: "Microsoft YaHei UI", Arial, sans-serif; }

#tools-bottom a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.8); }

#topcontrol:after {
  content: ''; }

/* End tools-bottom */
/* Login-popup */
#login-popup .g-popup {
  width: auto; }

#login-popup .qrcode {
  position: relative; }

#login-popup .qrcode img {
  float: none; }

#login-popup .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.8); }

#login-popup .mask .btn-u {
  margin-top: 100px; }

/* End Login-popup */
.footer-intro {
  color: #fff; }

/*认证流程 */
/*free-shop-box*/
.free-shop-box .apply-title h1 {
  color: #E6125D;
  font-size: 42px; }

.free-shop-box .free-shop-content {
  text-align: center;
  background: #fff; }

.free-shop-box .free-shop-content .Shop-equity {
  color: #E6125D;
  font-size: 36px !important; }

.free-shop-box .free-shop-content .auth-list {
  margin-bottom: 10%; }

.free-shop-box .free-shop-content .auth-list .auth-item {
  display: inline-block;
  padding: 20px;
  border: 1px solid #E6125D;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  margin: 10px 10px; }

.free-shop-box .free-shop-content .auth-list .auth-item.disabled {
  border-color: #e2cdd4; }

.free-shop-box .free-shop-content .auth-list .auth-item:not(.disabled):hover {
  background-color: #E6125D;
  color: #FFF;
  cursor: pointer; }

.free-shop-box .free-shop-content ul li .auth-item .name {
  color: #E6125D;
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px; }

.free-shop-box .free-shop-content .auth-list .auth-item:not(.disabled):hover .name {
  background-color: #E6125D;
  color: #FFF;
  cursor: pointer; }

.free-shop-box .free-shop-content .auth-list .auth-item .desc {
  color: #E6125D;
  cursor: pointer;
  font-size: 16px; }

.free-shop-box .free-shop-content .auth-list .auth-item:not(.disabled):hover .desc {
  background-color: #E6125D;
  color: #FFF;
  cursor: pointer; }

.free-shop-box .free-shop-content .auth-list .auth-item.disabled .name,
.free-shop-box .free-shop-content .auth-list .auth-item.disabled .desc {
  color: #e2cdd4; }

.free-shop-box .free-shop-content .auth-welcome {
  padding-bottom: 50px;
  margin: 0 100px 50px;
  border-bottom: 1px solid #E6125D; }

.free-shop-box .free-shop-content .auth-welcome .lead {
  padding: 0px 90px;
  margin-bottom: 50px;
  text-align: center;
  color: #E6125D; }

.free-shop-box .free-shop-content .auth-welcome ul.right-list li {
  float: left;
  width: 25%;
  text-align: center; }

.free-shop-box .free-shop-content .auth-welcome ul.right-list li .fa {
  display: block;
  font-size: 4em;
  margin: 10px auto;
  color: #f1453d; }

/*End free-shop-box*/
/* 衣料汇个人认证和企业认证 start*/
.free-shop-box .step {
  background-color: #FFF;
  height: 120px;
  position: relative;
  text-align: center; }

.free-shop-box .step .p {
  color: #333;
  font-size: 14px; }

.free-shop-box .step .p0 {
  position: absolute;
  left: 0;
  top: 45%;
  margin-top: -20px;
  margin-left: 28px;
  z-index: 1; }

.free-shop-box .step .p50 {
  position: absolute;
  left: 50%;
  top: 45%;
  margin-top: -20px;
  margin-left: -28px;
  z-index: 1; }

.free-shop-box .step .p100 {
  position: absolute;
  right: 0;
  top: 45%;
  margin-top: -20px;
  margin-right: 28px;
  z-index: 1; }

.free-shop-box .step .progress {
  height: 6px;
  background-color: #ccc;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 90%;
  margin-top: -3px;
  margin-left: -45%; }

.free-shop-box .step .p label {
  width: 40px;
  height: 40px;
  border: 1px solid #666;
  border-radius: 20px;
  color: #333;
  line-height: 40px;
  font-size: 22px;
  background-color: #fff;
  margin: 0 auto 5px;
  display: block; }

.free-shop-box .step .current {
  color: #5cb85c; }

.free-shop-box .step .current label {
  color: #5cb85c;
  border-color: #5cb85c; }

.free-shop-box .step .current.danger,
.free-shop-box .step .current.danger label {
  color: #d9534f;
  border-color: #d9534f; }

.free-shop-box .auth-form .auth-input {
  background-color: #fff; }

.free-shop-box .auth-form .tips {
  top: 28px;
  color: #aaa; }

.free-shop-box .auth-form .form-group {
  position: relative;
  overflow: hidden; }

.free-shop-box .form-group {
  margin-bottom: 15px; }

.free-shop-box .auth-form .form-group label {
  font-size: 16px;
  font-weight: 400; }

/* 绑定手机弹出框 */
#fill-mobile .g-popup--discount2 {
  width: auto;
  border-radius: 5px;
  background: rgba(230, 18, 93, 0.7);
  text-align: center; }

#fill-mobile .g-popup--discount2 .g-popup--discount2-message {
  width: 370px;
  padding: 50px 50px 55px; }

#fill-mobile .g-popup--discount2 h3 {
  font-size: 30px; }

#fill-mobile .g-popup--discount2 h4 {
  font-size: 20px;
  margin-bottom: 0; }

#fill-mobile .g-popup--discount2 p {
  font-size: 16px; }

#fill-mobile .g-popup--discount2 .sky-form .input input {
  background: #b7104b;
  border-color: #b7104b;
  border-radius: 2px; }

#fill-mobile .g-popup--discount2 .sky-form .input input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8); }

#fill-mobile .g-popup--discount2 .sky-form .input input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.8); }

#fill-mobile .g-popup--discount2 .sky-form .input input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.8); }

#fill-mobile .g-popup--discount2 .sky-form .input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8); }

#fill-mobile .g-popup--discount2 .sky-form .input button {
  border-radius: 2px; }

#fill-mobile .g-popup--discount2 .btn-default,
#fill-mobile .g-popup--discount2 .btn-default.active,
#fill-mobile .g-popup--discount2 .btn-default:active,
#fill-mobile .g-popup--discount2 .btn-default.hover,
#fill-mobile .g-popup--discount2 .btn-default:hover,
#fill-mobile .g-popup--discount2 .btn-default.focus,
#fill-mobile .g-popup--discount2 .btn-default:focus {
  color: #e53b77; }

#fill-mobile .g-popup--discount2__close,
#fill-mobile .g-popup--discount2__close:hover {
  color: #e53b77; }

#fill-mobile .verify {
  padding-right: 130px;
  position: relative; }

#fill-mobile .verify button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 36px;
  width: 110px; }

#fill-mobile .verify button:disabled {
  background: #e37199;
  color: #ddd !important; }

#fill-mobile label {
  position: relative;
  margin-bottom: 10px; }

#fill-mobile .state-error em.invalid {
  position: absolute;
  right: 10px;
  bottom: 0;
  height: 36px;
  line-height: 36px;
  font-weight: 500;
  color: #bbb;
  font-size: 12px;
  font-style: normal; }

#fill-mobile .verify.state-error em.invalid {
  right: 130px; }

#noty_center_layout_container .btn-u-default {
  background: #999; }

.sky-toggle {
  position: relative;
  /*display: block;
  padding-right: 61px;*/
  font-size: 15px;
  line-height: 27px;
  color: #404040;
  cursor: pointer;
  font-weight: normal; }

.sky-toggle:last-child {
  margin-bottom: 0; }

.sky-toggle input {
  position: absolute;
  left: -9999px; }

.sky-toggle i {
  content: '';
  /*position: absolute;
  top: 4px;
  right: 0;*/
  display: block;
  width: 64px;
  height: 26px;
  border-width: 1px;
  border-style: solid;
  border-radius: 14px;
  background: #fff;
  border-color: #bbb;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s; }

.sky-toggle input:checked + i {
  border-color: #999; }

.sky-toggle i:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 7px;
  right: 8px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  background-color: #999;
  -ms-transition: right 0.2s;
  -moz-transition: right 0.2s;
  -webkit-transition: right 0.2s; }

.sky-toggle input:checked + i:before {
  right: 43px; }

.sky-toggle i:after {
  content: 'OFF';
  position: absolute;
  top: 7px;
  right: 10px;
  left: 11px;
  font-style: normal;
  font-size: 10px;
  line-height: 13px;
  font-weight: 700;
  text-align: left;
  color: #5f5f5f; }

.sky-toggle input:checked + i:after {
  content: 'ON';
  text-align: right; }

[data-toggle="details"] {
  cursor: pointer; }

.toggle-details {
  display: none; }

.toggle-details.open {
  display: block; }

.sidebar-nav-v1 span.badge.rounded.badge-red {
  margin-top: 12px; }

.sidebar-nav-v1 .active span.badge.rounded.badge-red {
  background: #fff;
  color: #e6125d; }

/*# sourceMappingURL=main.css.map */
