/* color */
.color-999 { color: #999;}
.color-000 { color: #000;}




/*官网首页*/

@media (max-width: 991px) {
    body.header-fixed-space, body.header-fixed-space-v2 {
        padding-top: 0;
    }
}
@media (min-width: 992px){
    .header-v8 .navbar-nav.pull-left {margin-left:100px;}
}
/*@media (min-width: 1200px){
    .header-v8 .navbar-nav.pull-left {margin-left:155px;}
}
@media (min-width: 1400px){
    .header-v8 .navbar-nav.pull-left {margin-left:275px;}
}*/

.topbar-list > li{
    padding: 38px 2px;
}
.topbar-list li a{
    color: #555;
}
.topbar-list li a:hover,
.header-v8 .navbar-nav > li > a:hover,
.header-v8 .navbar-nav > .active > a,
.header-v8 .navbar-nav > .active > a:hover,
.header-v8 .navbar-nav > .active > a:focus
{
    color: #E6125D !important;
}
.headline h2, .headline h3, .headline h4{border-color: #E6125D;}
.header-v8 .navbar-nav > li > a{
    font-weight: normal;
    font-size: 12px;
    padding: 8px 10px;
}






/*...*/
.product-choose-list.nav>li>a{
    font-size: 20px;
    line-height: 27px;
    border-radius: 4px;
    padding: 10px;
    margin-right: 20px;
}
.product-choose-list.nav>li>a:hover{
    background: #e6125d;
    color: #fff;
}
.dropdown-menu{
    position: absolute;
    z-index: 99;
    margin-top: 1px;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    padding: 0;
    margin-top: 10px;
}





.topbar-log_reg > li > ul{
    display: none;
    position: absolute;
    top: 95px;
    left: -14px;
    box-shadow: 0 3px 5px #ccc;
    z-index: 5;
    background: #fff;
    padding: 0;
    width: 100px;
    text-align: center;
    border: none;
}
.currency li{
    padding: 7px 0px;
}
.topbar-log_reg > li > a:after{
    top: 39px;
    margin-left: 3px;
    font-size: 11px;
    content: "\f107";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}
.topbar-log_reg > li{
    position: relative;
    padding-right: 18px !important;
}

.content-bg{
    background: url("/public/img/bannerAD/cream_pixels.png");
}
.color-card-case .color-card-text{
    background: rgba(230, 18, 93, 0.7);
    position: absolute;
    left: 15px;
    bottom: 0;
    right: 15px;
    padding-left:15px;
    opacity: 0;
}
.color-card-case .color-card-text p{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.prodect-container .text-box .text-bg-box .text-body-box .prodect-title{
    margin-bottom: 10px;
}
.prodect-container .text-box .text-bg-box .text-body-box .prodect-text{
    margin-bottom: 25px;
}
.hover-effect{
    font-size: 16px;
}
#da-slider{
    border: 0;
}
.classify-text{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    z-index: 99;
    padding: 15% 10%;
    background-color: rgba(0,0,0,.4);
}
.classify-text > i{
    font-size: 38px;
}
.classify-text > p{
    font-size: 18px;
    color: #fff;
    transition: all 0.4s ease-in-out;
}
.team-v3 a:hover p{
    color: #E6125D;
}
.search-model a .item{
    float: left;
    width: 24%;
    text-align: center;
    margin: 0 4%;
    padding: 15px 0;
    color: #fff;
    border-radius: 4px;
    opacity: 0.85;
    position: relative;
    background: rgba(0,0,0,0.5);
    margin-top: 30px;
    font-size: 16px;
    padding-left: 35px;
}
.search-model a .item:hover{
    background: #E6125D;
}
.search-model a .item.active{
    background: #E6125D;
}
.news-title:hover h2{
    color: #E6125D;
}
.product-item{
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    padding: 30px 0;
    margin-bottom: 30px;
    background: #fff;
}
.color-card-photo{
    display: block;
    margin: 0 auto;
}
.color-card-name{
    font-size: 16px;
}
.materials-text .info{
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    color: #333;
}
.materials-text .info > span{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
    font-size: 14px;
}
.see-more{
    margin-top: 95px;
    color: #e6125d;
    text-align: right;
    padding-left: 0;
}
.state{
    color: #999;
}
.product-item-b{
    margin-left: -15px;
}
.mls-list .product-item{
    padding-top: 45px;
}
.materials-imgs > div{

}
.mls-list .product-item .see-more{
    padding-right: 0;
    margin-left: -15px;
    margin-top: 77px;
}
.head-menu{
    position: absolute;
    top:0px;
    right: 100px;
    font-size: 14px;
}
.line-right{
    border-right: 1px solid #e0e0e0;
}
.product-choose-content{
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-menu > li{
    display: inline-block;
    float: inherit;
}
.product-choose-list > li{
    float: left;
}
.product-choose-list > li > h3 a{
    padding: 10px;
    display: block;
    border-radius: 4px;
    margin-right: 20px;
}
.product-choose-list > li > h3 a:hover{
    background: #e6125d;
    color: #fff;
}
.add-panel-body ul > li label{
    font-size: 16px;
    padding: 7px 68px 7px 12px;
    cursor: pointer;
    color: #000;
    width: 100%;
    margin-bottom: 0;
    font-weight: normal;
}
.add-panel-body ul > li label:hover{
    background: #e6125d;
    color: #fff;
}
.add-panel-body input{
    display: none;
}
.condition-checked{
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
    margin-left: 0;
    margin-right: 0px;
    padding-left: 10px;
}
.condition-checked-list{
    padding-left: 0;
}
.condition-checked-list > li{
    float: left;
    font-size: 16px;
    border: 1px solid #E6125D;
    color: #E6125D;
    padding: 5px 10px;
    border-radius:4px ;
    margin-right: 20px;
    background: #fff;
    margin-bottom: 10px;
}
.close span{
    color: #E6125D;
    opacity: 1;
    padding-top: 1px;
}
/*.products-results > div > div{
    padding-right: 29px;
    padding-left: 29px;
}
.products-results > div > div:first-child{
    padding-left: 15px;
    padding-right: 43px;
}
.products-results > div > div:last-child{
    padding-left: 43px;
    padding-right: 15px;
}*/


/* footer */
.footer-intro {
    color:#fff;
}








.navbar-nav .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-top: -1px;
}
.header-fixed-shrink .navbar-nav .avatar {
    width:30px;
    height:30px;
}
.badge-unread {
    display: inline-block;
    right: 14px;
    top: -10px;
    width: 8px;
    height: 8px;
    background: #e6125d;
    border-radius: 50%;
    position: relative;
}
#scrollbar-navmsg.mCustomScrollbar {
    min-height:186px;
    height:auto;
    max-height:280px;
    width:460px;
}
#navmsg>a>.fa,#navsearch>a>.fa {font-size:18px;}
#navmsg .panel-heading {height: 60px;background: #f7f7f7;}
#navmsg .panel-heading h3 {color: #555;line-height: 50px;}
#navmsg .panel-heading a.pull-right {font-size:16px;line-height: 50px;color: #555;}
#navmsg .alert-blocks:first-child {margin-top: 10px;}
#navmsg .alert-blocks {margin: 0 10px 5px;}
#navmsg .alert-blocks .toggle-text {float:none;}
#navmsg .alert-blocks .msg-title {cursor:pointer;}
#navmsg .nomsg {text-align: center;color: #bbb;font-weight: 300;margin-top: 80px;}

/*Search Box
------------------------------------*/
.header-v8 .nav > li > .search {
    /*color: #aaa;*/
    cursor: pointer;
    min-width: 35px;
    font-size: 18px;
    text-align: center;
    /*background: #f7f7f7;*/
    padding: 20px;
    line-height:54px;
    display: inline-block;
    /*border-bottom: solid 2px #aaa;*/
}

/*@media (min-width: 992px) {
    .header-v8 .nav > li > .search {
        bottom: -2px;
        position: relative;
    }
}*/

/*.header-v8 .nav > li > .search:hover {
    color: #72c02c;
    background: #f7f7f7;
    border-bottom-color: #72c02c;
}*/
/*头部导航栏*/
.breadcrumbs-v4:before{
    background: rgba(0,0,0,0.6);
}

.header-v8 .nav .search-open {
    right: 0;
    top: 94px;
    display: none;
    padding: 14px;
    position: absolute;
    background: #fcfcfc;
    border-top: solid 2px #eee;
    box-shadow: 0 1px 3px #ddd;
}

.header-fixed-shrink.header-v8 .nav .search-open {
    top:70px;
}

.header-v8 .nav form.search-open {
    margin: 0;
}

.header-v8 .nav form.search-open .form-control {
    width:250px;
}

@media (min-width: 767px) and (max-width: 991px) {
    .header-v8 .navbar-toggle {
        margin-right: 0;
    }

    .header-v8 .nav .search-open {
        width: 93%;
    }
}

@media (max-width: 991px) {
    .header-v8 .nav > li > .search {
        color: #999;
        width: 35px;
        height: 34px;
        text-align: left;
        background: #eee;
        line-height: 12px;
        text-align: center;
        margin: 5px 10px 0;
        border-bottom: none;
    }

    /*.header-v8 .nav > li > .search:hover {
        background: #5fb611;
        color: #fff !important;
    }*/

    .header-v8 .nav .search-open {
        top: 5px;
        padding: 0;
        left: 48px;
        border-top: none;
        box-shadow: none;
        background: none;
        margin-right: 10px;
    }
}

@media (min-width: 992px) {
    #user-center .dropdown-menu {
        min-width: 180px;
    }
}
#user-center .dropdown-menu > li a {
    line-height: 28px;
    font-size: 14px;
}
#user-center .dropdown-menu > li:hover {
    background-color: #e6125d;
}

#user-center .dropdown-menu > li:hover > a {
    color: #fff;
}



/* fix */
.sky-form .select i {background:transparent;}