/*个人头像部分*/
.photo-box{
    background: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 1px solid #eee;
}
.photo-box img{
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.photo-box h3{
    font-size: 22px;
    margin-top: 10px;
}
.photo-box button{

}
/*End个人头像部分*/
/* sidebar */
.sidebar-nav-v1 > li > a i{
    min-width: 20px;
    margin-right: 5px;
    text-align: center;
}
.sidebar-nav-v1 > li.active, .sidebar-nav-v1 > li.active:hover {
    background: #e6125d;
}
.sidebar-nav-v1 li a {
    font-size: 16px;
    padding: 10px 30px 10px 10px;
}

/*Tab v7
------------------------------------*/
.tab-v7 .nav-tabs {
    border: 1px solid #eee;
}

.tab-v7 .nav-tabs > li {
    margin-left: 30px;
}

.tab-v7 .nav-tabs > li.pull-right {
    margin-left: 0;
    margin-right: 30px;
}

.tab-v7 .nav-tabs > li > a {
    border: none;
    color: #687074;
    padding: 15px 0;
    font-size: 16px;
    margin-right: 0;
    background: none;
    text-transform: uppercase;
    border-bottom: solid 1px transparent;
}

.tab-v7 .nav-tabs > li.active > a,
.tab-v7 .nav-tabs > li.active > a:hover,
.tab-v7 .nav-tabs > li.active > a:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #e6125d;
}

.tab-v7 .nav-tabs > li > a:hover {
    border-bottom: 2px solid #e6125d;
}

.tab-v7 .nav-tabs > li > a:focus {
    border: none;
}

.tab-v7 .tab-content {
    padding: 15px;
    border: 1px solid #eee;
    border-top: none;
}

.owl-carousel-v1 .owl-navigation {
    text-align: right;
    margin-bottom: 10px;
}

/* goods-item */
.mf-goods-item {
    margin-bottom:20px;
    position: relative;
    border: 1px solid #eee;
}
.mf-goods-item .goods-img img {margin:0 auto;width:100%;}
.mf-goods-item .goods-name,.mf-goods-item .goods-code {
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.mf-goods-item .goods-name {margin-top: 5px;}

.goods-operate {overflow:hidden;}

.mf-goods-item .op-btn {
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.mf-goods-item .op-btn {
    height: 34px;
    line-height: 34px;
    padding: 0;
    float: left;
    border-top: 1px solid #eee;
    background: #f9f9f9;
}
.mf-goods-item .btn-cart,.mf-goods-item .btn-left {
    width: 70%;
    height: 34px;
    line-height: 34px;
    padding: 0;
    background: #f9f9f9;
}
.mf-goods-item .btn-remove, .mf-goods-item .btn-right {
    width: 30%;
    height: 34px;
    line-height: 34px;
    padding: 0;
    border-left: 1px solid #eee;
    background: #f9f9f9;
}
.mf-goods-item .goods-name a {color:#555;}
.mf-goods-item .op-btn:hover {text-decoration: none;}
.mf-goods-item .op-btn {color:#888;}