.print-area.label-style1 {
    padding: 30px 10px 30px 20px;
    width: 250px;
    height: 149px;
    box-sizing: border-box;
    cursor: pointer;
}
.print-area.label-style1 .qrcode img {
    width: 90px;
    height: 90px;
}

.print-area.label-style1 .info {
    margin-left: 10px;
}

.print-area ul {
    list-style: none;
    padding: 0;
}

.print-area.label-style2 {
    padding: 20px 10px 20px 15px;
    width: 250px;
    height: 149px;
    box-sizing: border-box;
    cursor: pointer;
}
.print-area.label-style2 .bizinfo {
    height: 32px;
    text-align: center;
    margin-bottom: 10px;
}
.print-area.label-style2 .bizinfo img {
    width: 30px;
    height: 30px;
    margin-right:10px;
}
.print-area.label-style2 .qrcode {
    padding-right: 10px;
    width: 40%;
    text-align: right;
}
.print-area.label-style2 .qrcode img {
    width: 70px;
    height: 70px;
}

.print-area.label-style2 .info {
    width: 60%;
}

@media screen {
    .print-area {
        margin: 0 auto 20px auto;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .print-area:hover {
        border-color: #982828;
    }
    .print-area .qrcode img {
        background-color: #ccc;
    }
}