@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "Microsoft JhengHei UI"; }

p, label, li, li a {
  color: #555; }

h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
  margin-right: 5px; }

/*单个课程详情页*/
.course_info {
  position: relative; }
  .course_info .swiper-wrapper .swiper-slide img {
    min-width: 100%; }
  .course_info .swiper-pagination .swiper-pagination-bullet-active {
    background: #e6125d; }
  .course_info .course_introduce {
    padding: 20px;
    /*课程标题*/
    /*End 课程标题*/
    /*指导老师*/
    /*End 指导老师*/
    /*立即购买按钮*/
    /*End 立即购买按钮*/ }
    .course_info .course_introduce .overflow-h {
      overflow: hidden;
      margin-bottom: 12px;
      border-bottom: 1px solid #dedede; }
      .course_info .course_introduce .overflow-h h2 {
        display: inline-block;
        color: #687074;
        font-size: 18px;
        margin: 5px 0;
        text-transform: uppercase; }
        .course_info .course_introduce .overflow-h h2 i {
          color: #999;
          font-size: 14px;
          margin-bottom: 10px;
          font-style: normal; }
    .course_info .course_introduce .product-ratings {
      margin-bottom: 0; }
      .course_info .course_introduce .product-ratings li {
        padding: 0; }
        .course_info .course_introduce .product-ratings li .rating-selected {
          color: #e6125d;
          font-size: 14px; }
        .course_info .course_introduce .product-ratings li .rating {
          color: #e6125d;
          font-size: 14px; }
        .course_info .course_introduce .product-ratings li span {
          color: #999;
          display: block;
          font-size: 14px;
          margin: 0 0 10px 10px; }
          .course_info .course_introduce .product-ratings li span a {
            color: #777; }
    .course_info .course_introduce .slide-button button {
      background: #e6125d;
      color: #fff;
      border-radius: 4px;
      margin-right: 10px;
      display: inline-block; }
  .course_info .course_detail {
    padding: 0 20px; }
    .course_info .course_detail .overflow-h {
      overflow: hidden;
      margin-bottom: 12px;
      border-bottom: 1px solid #dedede; }
      .course_info .course_detail .overflow-h h2 {
        display: inline-block;
        color: #687074;
        font-size: 18px;
        margin: 5px 0px;
        text-transform: uppercase; }
        .course_info .course_detail .overflow-h h2 i {
          color: #999;
          font-size: 14px;
          margin-bottom: 10px;
          font-style: normal; }
  .course_info .blackColor {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none; }
  .course_info .sure_info {
    display: none;
    background: #fff;
    width: 100%;
    height: 500px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 999;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
    .course_info .sure_info > div {
      border-bottom: 1px solid #d5d7dc;
      padding-bottom: 10px; }
      .course_info .sure_info > div h4 {
        font-size: 16px; }
      .course_info .sure_info > div li {
        list-style: none;
        display: inline-block;
        background: #f3f3f3;
        padding: 5px 10px;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 14px; }
      .course_info .sure_info > div .active {
        background: #e6125d;
        color: #fff; }
    .course_info .sure_info .media .media-left .sure_info_img img {
      display: block;
      max-width: 100px;
      height: auto;
      padding: 3px;
      background: #fff;
      border-radius: 3px; }
    .course_info .sure_info .media .media-body {
      margin-left: 20px; }
      .course_info .sure_info .media .media-body h4 {
        color: #c9253c; }
    .course_info .sure_info .add-to-wishlist {
      margin-top: 10px; }
      .course_info .sure_info .add-to-wishlist li span {
        color: #e6125d; }
    .course_info .sure_info #close {
      position: absolute;
      right: 15px;
      top: 15px;
      border: 1px solid #777;
      border-radius: 50%;
      height: 20px;
      font-size: 18px;
      color: #777;
      width: 20px;
      text-align: center;
      line-height: 16px;
      display: block;
      background: transparent; }
    .course_info .sure_info .threeItem .sky-form {
      border: none; }
      .course_info .sure_info .threeItem .sky-form h4 {
        font-size: 16px;
        color: #555;
        font-family: "Microsoft JhengHei UI"; }
      .course_info .sure_info .threeItem .sky-form label {
        display: inline-block;
        font-size: 14px;
        margin-left: 0; }
    .course_info .sure_info .sure-course {
      background: #e6125d;
      color: #fff;
      font-size: 16px;
      padding: 10px 0;
      width: 100%;
      display: block;
      /*position: absolute;*/
      /*bottom: 0;
      left: 0;
      z-index: 9999;*/
      border: none;
      margin-top: 20px; }

/*End 单个课程详情页*/
/*个人中心、我的订单*/
/*标题部分*/
.slid-toggle {
  background-color: #fff;
  border-bottom: 1px solid #d5d7dc;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  padding: 15px 0;
  width: 100%; }
  .slid-toggle .orderStatusTitle {
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
    color: #555;
    list-style: none; }
    .slid-toggle .orderStatusTitle li {
      font-size: 16px; }
    .slid-toggle .orderStatusTitle .active1 {
      color: #e6125d; }

/*内容部分*/
.order-item {
  border: 1px solid #d5d7dc;
  font-size: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  /*标题部分*/
  /*详情部分*/
  /*状态属性部分*/ }
  .order-item .order-title {
    height: 40px;
    line-height: 40px;
    background-color: #f8f8f8;
    font-size: 16px;
    padding: 0px 5px; }
    .order-item .order-title span {
      font-size: 14px;
      float: left; }
    .order-item .order-title b {
      font-weight: normal;
      color: #e6125d;
      font-size: 14px;
      float: right; }
  .order-item .media {
    padding: 0 10px; }
    .order-item .media .review-body h4 {
      display: inline-block;
      font-size: 16px; }
    .order-item .media .review-body span {
      font-size: 16px;
      float: right;
      color: #e6125d; }
    .order-item .media .review-body p {
      font-size: 14px;
      color: #a0a0a0;
      margin-bottom: 5px; }
    .order-item .media .review-body button {
      padding: 2px 15px;
      font-size: 14px;
      float: right;
      margin-right: 10px; }
    .order-item .media .review-body b {
      font-weight: normal;
      font-size: 14px;
      float: right;
      color: #a0a0a0;
      font-style: normal; }
    .order-item .media .media-left .programimg-box {
      width: 110px;
      overflow: hidden; }
      .order-item .media .media-left .programimg-box img {
        width: 100%; }
      .order-item .media .media-left .programimg-box b {
        font-weight: normal;
        font-size: 14px;
        color: #a0a0a0;
        display: block; }
  .order-item .orderStatus {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px; }
    .order-item .orderStatus a {
      float: right;
      color: #fff;
      margin-right: 10px; }
    .order-item .orderStatus p {
      margin-bottom: 5px;
      font-size: 15px;
      overflow: hidden; }
      .order-item .orderStatus p .btn-orange {
        background-color: #e6125d;
        padding: 2px 8px;
        color: #fff; }
      .order-item .orderStatus p .btn-default {
        padding: 2px 8px; }
    .order-item .orderStatus button {
      float: right;
      margin-right: 10px; }

/*End 个人中心、我的订单*/
/*立即支付*/
.pay {
  text-align: center;
  padding: 20px 0px; }
  .pay .payTitle {
    font-size: 16px;
    color: #323232; }
  .pay .payMoney {
    font-size: 28px;
    margin-bottom: 10px; }
  .pay .payWho {
    background: #fff;
    border: 1px solid #d5d7dc;
    border-left: none;
    border-right: none;
    padding: 15px 10px;
    overflow: hidden; }
    .pay .payWho span {
      float: left;
      font-size: 14px;
      color: #b3b3b3; }
    .pay .payWho b {
      float: right;
      font-weight: normal; }
  .pay .payBtn {
    padding: 0 10px; }
    .pay .payBtn button {
      border: none;
      background: #e6125d;
      color: #fff0f0;
      width: 100%;
      padding: 12px 0;
      margin-top: 20px;
      font-size: 16px;
      border-radius: 4px; }

/*End pay-now*/
/*user-center*/
/*body bg-color*/
.bg-grey {
  background: #f7f7f7; }

/*Endbody bg-color*/
.head {
  background: url("../weixin/images/03.jpg") no-repeat center;
  padding: 30px 0;
  text-align: center; }
  .head .content-box img {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    padding: 3px;
    background: rgba(255, 255, 255, 0.5); }
  .head .content-box span {
    display: block;
    color: #fff;
    font-size: 16px;
    margin: 10px 0 5px; }
  .head .content-box button {
    margin: 0 auto;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    padding: 4px 8px;
    color: #fff;
    border: none; }

.info {
  background: #fff;
  border-bottom: 1px solid #d5d7dc; }
  .info a {
    overflow: hidden;
    padding: 20px;
    display: block; }
  .info .pull-left i {
    color: #e6125d;
    font-size: 18px;
    margin-right: 5px; }
  .info .pull-left h2 {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    color: #555; }
  .info .pull-right span {
    color: #ccc;
    font-size: 14px; }
  .info .pull-right i {
    margin-left: 10px;
    font-size: 18px;
    color: #ccc; }

/*End info*/
/*state*/
.state {
  background: #fff;
  padding: 10px 0; }
  .state > div {
    text-align: center; }
    .state > div h4 {
      margin: 0;
      font-size: 15px;
      color: #555; }
    .state > div i {
      font-size: 18px;
      margin-bottom: 5px;
      color: #ccc; }

/*End state*/
/*address*/
.content-bottom .address {
  background: #fff;
  border-bottom: 1px solid #eee; }
  .content-bottom .address:first-child {
    margin-top: 20px; }
  .content-bottom .address a {
    display: block;
    padding: 10px 20px;
    overflow: hidden; }
    .content-bottom .address a .pull-right i {
      color: #ccc;
      font-size: 18px;
      margin-top: 10px; }
    .content-bottom .address a .pull-left i {
      color: #a0a0a0;
      font-size: 18px;
      margin-right: 5px; }
    .content-bottom .address a .pull-left h4 {
      display: inline-block;
      font-size: 15px;
      color: #555; }

/*End address*/
/*--infoList--*/
/*info_list_title*/
.infoList_title {
  background: #fff;
  padding: 0;
  margin: 10px 0; }
  .infoList_title ul {
    margin: 0;
    list-style: none; }
    .infoList_title ul li.active {
      color: #e6125d;
      border-bottom: 2px solid #e6125d; }
      .infoList_title ul li.active a {
        color: #e6125d;
        text-decoration: none; }
    .infoList_title ul li {
      list-style: none;
      text-align: center;
      padding: 12px 5px; }
      .infoList_title ul li a {
        font-size: 15px;
        color: #555; }

/*End info_list_title*/
/*info_detail*/
.info_detail .info_item {
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 10px; }
  .info_detail .info_item .media .media-left {
    width: 100px;
    height: 100px; }
    .info_detail .info_item .media .media-left img {
      width: 100px;
      height: auto; }
  .info_detail .info_item .media .media-body .media-heading {
    color: #555; }
  .info_detail .info_item .media .media-body h5 {
    font-size: 15px; }
  .info_detail .info_item .media .media-body p {
    font-size: 14px; }
    .info_detail .info_item .media .media-body p span {
      color: #e6125d; }
  .info_detail .info_item:last-child {
    margin-bottom: 0; }

/*End info_detail*/
/*-- End infoList--*/
/*paySuccess*/
.paySuccess {
  padding: 20px 10px;
  text-align: center; }
  .paySuccess i {
    padding: 15px;
    border-radius: 50%;
    background: #e6125d;
    color: #fff;
    font-size: 32px; }
  .paySuccess h5 {
    font: 16px normal, "Microsoft JhengHei UI";
    color: #e6125d;
    margin: 5px 0; }
  .paySuccess h3 {
    font: 26px normal, "Microsoft JhengHei UI";
    color: #323232;
    margin: 0 0 15px; }
  .paySuccess .whoGet {
    border: 1px solid #d5d7dc;
    border-left: none;
    border-right: none;
    padding: 15px 0;
    overflow: hidden; }
    .paySuccess .whoGet span {
      float: left;
      font-size: 14px;
      color: #a0a0a0; }
    .paySuccess .whoGet b {
      float: right;
      font-size: 14px;
      color: #a0a0a0; }
  .paySuccess .payBtn {
    margin-top: 20px;
    background: #e6125d;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px; }

/*End paySuccess*/
/* End个人中心*/
/*my-address*/
/*地址列表*/
/*地址列表*/
.addressList {
  background: #fff;
  margin-top: 10px;
  padding: 10px 20px; }
  .addressList section label {
    border-bottom: 1px solid #d5d7dc; }
    .addressList section label p {
      margin-bottom: 5px;
      font-size: 15px;
      color: #555; }
  .addressList section h3 {
    margin: 0;
    font-size: 18px; }
  .addressList .name {
    overflow: hidden; }
    .addressList .name h4 {
      display: inline-block;
      margin: 5px 0 0;
      font-size: 15px;
      color: #555; }
    .addressList .name span {
      font-size: 14px;
      color: #555; }

.addAddress {
  background: #fff; }
  .addAddress a {
    padding: 12px 20px;
    overflow: hidden;
    display: block; }
  .addAddress .pull-left h4 {
    font-size: 15px;
    color: #555;
    margin: 5px 0; }
  .addAddress .pull-right i {
    font-size: 18px;
    color: #ccc;
    margin-top: 5px;
    display: inline-block; }

/*End 地址列表*/
/*增加新地址*/
.addAddress1 {
  background: #fff;
  padding: 0 0 20px; }
  .addAddress1 .formInput {
    padding: 10px 20px;
    border-bottom: 1px solid #d5d7dc; }
    .addAddress1 .formInput label {
      color: #777;
      font-size: 15px;
      font-weight: 600; }
    .addAddress1 .formInput input {
      border: none;
      font-size: 14px;
      color: #555;
      outline: medium;
      width: 70%;
      padding-left: 5px; }
  .addAddress1 .form-group textarea {
    border: none;
    width: 100%;
    height: 100px;
    padding: 5px 20px;
    resize: none; }
  .addAddress1 #btn {
    border: none;
    background: #ff9b00;
    color: #fff;
    font-size: 16px;
    margin: 50px 0 0; }

/*End 增加新地址*/
/*End my-address*/

/*# sourceMappingURL=weixin.css.map */
