<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">色卡制作单</a></li>
                <li class="active"><a>添加订单</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form role="form" action="{:U('add_post')}" method="post" class="sky-form">
                        <header>添加订单</header>
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">供应商</label>
                                    {$vend.long_name}
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">数量</label>
                                    <div class="input">
                                        <input type="number" name="number" value="10" required>
                                    </div>
                                </section>
                            </div>
                            <section>
                                <label for="inputDescribe" class="label">订单附言</label>
                                <label class="textarea textarea-expandable">
                                    <textarea name="postscript" id="inputDescribe" rows="4"></textarea>
                                </label>
                            </section>
                        </fieldset>
                        <fieldset>
                            <h2>联系信息</h2>
                            <section>
                                <foreach name="address[data]" item="vo">
                                    <label class="radio">
                                        <input type="radio" name="address_id" value="{$vo.address_id}">
                                        <i class="rounded-x"></i> {$vo.province_name} {$vo.city_name} {$vo.district_name}
                                        {$vo.address} {$vo.consignee} {$vo.mobile}
                                    </label>
                                </foreach>
                            </section>
                        </fieldset>
                        <fieldset>
                            <h2>配送信息</h2>
                            <section>
                                <foreach name="shipping[data]" item="vo">
                                    <label class="radio">
                                        <input type="radio" name="shipping_id" value="{$vo.shipping_id}">
                                        <i class="rounded-x"></i> {$vo.shipping_name}
                                    </label>
                                </foreach>
                            </section>
                        </fieldset>
                        <footer>
                            <input type="hidden" name="card_id" value="{$_GET['id']}">
                            <button type="submit" class="btn-u">保存</button>
                            <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){

            $(".sky-form").validate({
                rules:
                {
                    searchCust: {
                        required: 1,
                        inputVal: 'cust_id'
                    },
                    demand_desc:
                    {
                        required: 1,
                        minlength: 10
                    },
                    demand_end_date:
                    {
                        required: 1,
                        date: 1
                    },
                    demand_province:
                    {
                        required: 1,
                    },
                    demand_city:
                    {
                        required: 1,
                    },
                    demand_area:
                    {
                        required: 1,
                    },
                    demand_company:
                    {
                        required: 1,
                    },
                    "contact[name]":
                    {
                        required: 1,
                    },
                    "contact[phone]":
                    {
                        required: 1,
                        mobile: 1,
                    }
                },
                messages:
                {
                    searchCust: {
                        required: '请选择采购商',
                        inputVal: '请选择有效的采购商'
                    },
                    demand_desc:
                    {
                        required: "请描述需求！"
                    },
                    demand_end_date:
                    {
                        required: "请选择到期时间",
                    },
                    demand_province:
                    {
                        required: "请选择省份",
                    },
                    demand_city:
                    {
                        required: "请选择城市",
                    },
                    demand_area:
                    {
                        required: "请选择区",
                    },
                    demand_company:
                    {
                        required: "请填写公司名称",
                    },
                    "contact[name]":
                    {
                        required: "请填写联系人姓名",
                    },
                    "contact[phone]":
                    {
                        required: "请填写联系人手机",
                    }
                },
            });

            getAreas(0,'province',function(){
                var province = '440000';    //广东省
                var city = '440100';        //广州市
                $('[name="province"]').find('[value="'+province+'"]').selected();
                getAreas(province,'city',function(){
                    $('[name="city"]').find('[value="'+city+'"]').selected();
                    getAreas(city,'district')
                });
            });
        });
    </script>
</block>