<extend name="Public:base-v8"/>
<block name="title"><title>订单管理 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->

    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">订单管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">订单管理</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <php>$statuses = D('Order/Order')->statuses;</php>
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="{:leuu('index')}">所有米样订单</a>
                        </li>
                        <li class="pull-right">
                            <a href="{:U('Order/SupplierTfDelivery/index')}">发货单管理</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <!--<form class="sky-form" method="get" action="{:U('index')}"
                                  style="margin-bottom:30px!important;border: 1px solid #eee;">

                                <header>筛选</header>
                                <fieldset>
                                    <section class="row">
                                        <label class="input col-sm-3">
                                            <input type="text" name="filter[keywords]" placeholder="请输入订单号"
                                                   value="{$filter.keywords|default=''}">
                                        </label>
                                        <label class="input col-sm-3" style="padding-right:10px;">
                                            <input id="data-start" type="text" name="filter[datestart]"
                                                   placeholder="开始日期" value="{$filter.datestart|default=''}">
                                        </label>
                                        <label class="input col-sm-3 date2" style="padding-left:10px;">
                                            <input id="data-finish" type="text" name="filter[datefinish]"
                                                   placeholder="截止日期" value="{$filter.datefinish|default=''}">
                                        </label>
                                        <label class="select col-sm-2">
                                            <select name="filter[status]">
                                                <option value="">所有</option>
                                                <foreach name="statuses" item="vo">
                                                    <php>$selected = $filter['status'] == $key ?'selected':'';</php>
                                                    <option value="{$key}" {$selected}>{$vo}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="col-sm-1">
                                            <button type="submit" class="btn-u"><i class="fa fa-search"></i></button>
                                        </label>
                                    </section>
                                </fieldset>
                            </form>-->
                            <table id="datatable" class="table table-striped table-bordered"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        var url = "{:leuu('index')}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: false,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "order_sn",
                    "title": "订单号",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        var view_url = '{:leuu("view")}';
                        view_url += (view_url.indexOf('?') > 0 ? '&' : '?') + 'id=' + row.id;
                        var html = '<a href="' + view_url + '" target="_blank">' + data + "</a>";
                        if (row.issource == 0) {
                            html += '<span class="label label-primary">代理</span>'
                        }
                        return html;
                    }
                }, {
                    "data": "user_nickname",
                    "title": "购货人",
                    "defaultContent": ""
                }, {
                    "data": "goods",
                    "title": "商品",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        return '[' + data.tf_code + '] [编号：]' + data.tf_name + ' × ' + data.number;
                    }
                }, {
                    "data": "order_amount",
                    "title": "订单金额",
                    "defaultContent": ""
                }, {
                    "data": "add_time",
                    "title": "下单时间",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        return (new Date(data * 1000)).Format("yyyy-MM-dd hh:mm:ss");
                    }
                }, {
                    "data": null,
                    "title": "状态",
                    "defaultContent": "",
                    "render": renderStatus
                }, {
                    "data": null,
                    "title": "操作",
                    "defaultContent": '',
                    "orderable": false,
                    "render": function (data, type, row) {
                        var view_url = '{:leuu("view")}';
                        view_url += (view_url.indexOf('?') > 0 ? '&' : '?') + 'id=' + row.id;
                        html = '<a href="' + view_url + '">查看</a>';
                        return html;
                    }
                }],
                "order": [[4, 'desc']],
                buttons: [{
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }]
            });
        });

        function renderStatus(data, type, row) {
            row.order_status = parseInt(row.order_status);
            row.pay_status = parseInt(row.pay_status);
            row.shipping_status = parseInt(row.shipping_status);
            var text = '';
            switch (row.order_status) {
                case 0:
                case 1:
                    if (row.pay_status != 2) {
                        text = '等待买家付款';
                    } else {
                        switch (row.shipping_status) {
                            case 0:
                            case 3:
                            case 4:
                                text = '买家已付款';
                                break;
                            case 1:
                                text = '卖家已发货';
                                break;
                            case 2:
                                text = '交易成功';
                                break;
                        }
                    }
                    break;
                case 2:
                case 3:
                    text = '关闭交易';
                    break;
                case 4:
                    text = '退款中的订单';
                    break;
                default:
            }
            return text;
        }
    </script>
</block>