<extend name="Public:base-member" />
<block name="title"><title>商家中心</title></block>
<block name="page_css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_magazine.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
</block>
<block name="main">
    <div class="bussiness-content">
        <div class="account-info clearfix">
            <div class="remainder-info">
                <p>
                    <span>账户余额：<a>￥ 4000</a></span>
                    <span>短信条数：<a>33000 条</a></span>
                </p>
            </div>
            <div class="order-info">
                <div class="order-label">我的订单:</div>
                <div class="order-status">
                    <a href="" target="_blank">待确认（10）</a>
                    <a href="" target="_blank">代收货（10）</a>
                    <a href="" target="_blank">待提现（10）</a>
                    <a href="" target="_blank">代确认退货（10）</a>
                </div>
            </div>
            <br/>
            <div class="publish-info">
                <div class="publish-label">我的需求:</div>
                <div class="publish-status">
                    <a href="" target="_blank">发出的（10）</a>
                    <a href="" target="_blank">收到的（10）</a>
                    <a href="" target="_blank">我的报价（10）</a>
                </div>
            </div>
        </div>
        <div class="collect">
            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#photos-list-0" data-toggle="tab"
                                          style="font-size:18px;color:#70787C;">收藏面料</a></li>
                    <li><a href="#photos-list-1" data-toggle="tab"
                           style="font-size:18px;color:#70787C;">收藏面料商</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="photos-list-0">
                        <div class="row">
                            <div class="col-md-3 padding-right-0">
                                <div class="thumbnails thumbnail-style">
                                    <img class="img-responsive" src="__PUBLIC__/img/product/four/4.jpg" alt="">
                                    <div class="caption">
                                        <h3><a class="hover-effect" href="#">蜂窝呢60803-28</a></h3>
                                        <p>售价26.00 元/米</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 padding-right-0">
                                <div class="thumbnails thumbnail-style">
                                    <img class="img-responsive" src="__PUBLIC__/img/product/four/1.jpg" alt="">
                                    <div class="caption">
                                        <h3><a class="hover-effect" href="#">蜂窝呢60803-28</a></h3>
                                        <p>售价26.00 元/米</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 padding-right-0">
                                <div class="thumbnails thumbnail-style">
                                    <img class="img-responsive" src="__PUBLIC__/img/product/four/2.jpg" alt="">
                                    <div class="caption">
                                        <h3><a class="hover-effect" href="#">蜂窝呢60803-28</a></h3>
                                        <p>售价26.00 元/米</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3                            ">
                                <div class="thumbnails thumbnail-style">
                                    <img class="img-responsive" src="__PUBLIC__/img/product/four/3.jpg" alt="">
                                    <div class="caption">
                                        <h3><a class="hover-effect" href="#">蜂窝呢60803-28</a></h3>
                                        <p>售价26.00 元/米</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="photos-list-1">
                        <div class="item clearfix">
                            <div calss="item-show" style="float:left;margin:8px;">
                                <img src="./img/product/one/1.jpg"
                                     style="width:130px;height:auto;margin-bottom:5px"><br/>
                                <p>万利纺织有限公司</p>
                                <p>主营：棉、丝纤</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
</block>