<extend name="Public:base-member" />
<block name="title"><title>商家中心</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/profile.css">
</block>
<block name="css">

    <script id="wxinfo-wrapper" type="text/html">
        <div class="media">
            <a class="media-left" href="#">
                <img src="{src}" style="width:64px;height:64px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{nickname}</h4>
                <div>
                    <a class="unbind js-ajax-btn" href="javascript:void(0)"
                       data-confirm="true"
                       data-msg="是否要解绑微信号？"
                       data-href="{:leuu('wx_unbind')}"
                       data-id="0">解绑</a>
                </div>
            </div>
        </div>
    </script>
</block>
<block name="main">
    <div class="profile">
        <div class="profile-body margin-bottom-20">
            <div class="tab-v1">
                <ul class="nav nav-justified nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#profile">基本信息</a></li>
                    <li><a data-toggle="tab" href="#passwordTab">更改密码</a></li>
                    <li><a data-toggle="tab" href="#payment">支付设置</a></li>
                    <li><a data-toggle="tab" href="#settings">通知设置</a></li>
                </ul>
                <div class="tab-content">
                    <div id="profile" class="profile-edit tab-pane fade in active">
                        <h2 class="heading-md">管理您的商家信息</h2>
                        <p>请完善以下信息</p>
                        <br>
                        <form id="basic-form" class="sky-form" action="{:leuu('basic_post')}" method="post">
                            <dl class="dl-horizontal">
                                <dt><strong>用户名</strong></dt>
                                <dd>{$user.user_login}</dd>
                                <hr>
                                <dt><strong>身份</strong></dt>
                                <dd>
                                    <php>echo D('Users')->types[$user['user_type']];</php>
                                </dd>
                                <hr>
                                <dt><strong>昵称</strong></dt>
                                <dd>
                                    <section>
                                        <label class="input">
                                            <input type="text" name="user[nice_name]" value="{$user.nicename}" required>
                                        </label>
                                    </section>
                                </dd>
                                <dt><strong>性别</strong></dt>
                                <dd>
                                    <section>
                                        <label class="select">
                                            <select name="user[sex]">
                                                <option value="1" <eq name="user[ses]" value="1">selected</eq>>男</option>
                                                <option value="2" <eq name="user[ses]" value="2">selected</eq>>女</option>
                                            </select>
                                        </label>
                                    </section>
                                </dd>
                                <dt><strong>生日</strong></dt>
                                <dd>
                                    <section>
                                        <label class="input">
                                            <input type="text" name="user[birthday]" value="{$user.birthday}">
                                        </label>
                                    </section>
                                 </dd>
                                <dt><strong>个性签名</strong></dt>
                                <dd>
                                    <section>
                                        <label class="textarea">
                                            <textarea name="user[signature]">{$user.signature}</textarea>
                                        </label>
                                    </section>
                                 </dd>
                                <hr>
                                <dt><strong>微信号</strong></dt>
                                <dd class="wechat-info">
                                    <notempty name="wx_info">
                                        <div class="media">
                                            <a class="media-left" href="#">
                                                <img src="{$wx_info.headimgurl}" style="width:64px;height:64px;">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">{$wx_info.nickname}</h4>
                                                <div>
                                                    <a class="unbind js-ajax-btn" href="javascript:void(0)"
                                                    data-confirm="true"
                                                    data-msg="是否要解绑微信号？"
                                                    data-href="{:leuu('wx_unbind')}"
                                                    data-id="0">解绑</a>
                                                </div>
                                            </div>
                                        </div>
                                        <else />
                                        <a class="bind" href="javascript:void(0)">绑定</a>
                                    </notempty>
                                </dd>
                                <hr>
                            </dl>
                            <button type="reset" class="btn-u btn-u-default">重置</button>
                            <button type="submit" class="btn-u">保存</button>
                        </form>
                    </div>

                    <div id="passwordTab" class="profile-edit tab-pane fade">
                        <h2 class="heading-md">Manage your Security Settings</h2>
                        <p>Change your password.</p>
                        <br>
                        <form class="sky-form" id="sky-form4" action="#">
                            <dl class="dl-horizontal">
                                <dt>Username</dt>
                                <dd>
                                    <section>
                                        <label class="input">
                                            <i class="icon-append fa fa-user"></i>
                                            <input type="text" placeholder="Username" name="username">
                                            <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
                                        </label>
                                    </section>
                                </dd>
                                <dt>Email address</dt>
                                <dd>
                                    <section>
                                        <label class="input">
                                            <i class="icon-append fa fa-envelope"></i>
                                            <input type="email" placeholder="Email address" name="email">
                                            <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                                        </label>
                                    </section>
                                </dd>
                                <dt>Enter your password</dt>
                                <dd>
                                    <section>
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            <input type="password" id="password" name="password" placeholder="Password">
                                            <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                        </label>
                                    </section>
                                </dd>
                                <dt>Confirm Password</dt>
                                <dd>
                                    <section>
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            <input type="password" name="passwordConfirm" placeholder="Confirm password">
                                            <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                                        </label>
                                    </section>
                                </dd>
                            </dl>
                            <label class="toggle toggle-change"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Remember password</label>
                            <br>
                            <section>
                                <label class="checkbox"><input type="checkbox" id="terms" name="terms"><i></i><a href="#">I agree with the Terms and Conditions</a></label>
                            </section>
                            <button type="button" class="btn-u btn-u-default">Cancel</button>
                            <button class="btn-u" type="submit">Save Changes</button>
                        </form>
                    </div>

                    <div id="payment" class="profile-edit tab-pane fade">
                        <h2 class="heading-md">Manage your Payment Settings</h2>
                        <p>Below are the payment options for your account.</p>
                        <br>
                        <form class="sky-form" id="sky-form" action="#">
                            <!--Checkout-Form-->
                            <section>
                                <div class="inline-group">
                                    <label class="radio"><input type="radio" checked="" name="radio-inline"><i class="rounded-x"></i>Visa</label>
                                    <label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>MasterCard</label>
                                    <label class="radio"><input type="radio" name="radio-inline"><i class="rounded-x"></i>PayPal</label>
                                </div>
                            </section>

                            <section>
                                <label class="input">
                                    <input type="text" name="name" placeholder="Name on card">
                                </label>
                            </section>

                            <div class="row">
                                <section class="col col-10">
                                    <label class="input">
                                        <input type="text" name="card" id="card" placeholder="Card number">
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="cvv" id="cvv" placeholder="CVV2">
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <label class="label col col-4">Expiration date</label>
                                <section class="col col-5">
                                    <label class="select">
                                        <select name="month">
                                            <option disabled="" selected="" value="0">Month</option>
                                            <option value="1">January</option>
                                            <option value="1">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label class="input">
                                        <input type="text" placeholder="Year" id="year" name="year">
                                    </label>
                                </section>
                            </div>
                            <button type="button" class="btn-u btn-u-default">Cancel</button>
                            <button class="btn-u" type="submit">Save Changes</button>
                            <!--End Checkout-Form-->
                        </form>
                    </div>

                    <div id="settings" class="profile-edit tab-pane fade">
                        <h2 class="heading-md">Manage your Notifications.</h2>
                        <p>Below are the notifications you may manage.</p>
                        <br>
                        <form class="sky-form" id="sky-form3" action="#">
                            <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Email notification</label>
                            <hr>
                            <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me email notification when a user comments on my blog</label>
                            <hr>
                            <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me email notification for the latest update</label>
                            <hr>
                            <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Send me email notification when a user sends me message</label>
                            <hr>
                            <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"><i class="no-rounded"></i>Receive our monthly newsletter</label>
                            <hr>
                            <button type="button" class="btn-u btn-u-default">Reset</button>
                            <button class="btn-u" type="submit">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('#basic-form').validate({
                rules: {
                    "user[nicename]":"required"
                },
                messages: {
                    "user[nicename]":"请填写昵称"
                }
            });

            $('.wechat-info').on('click', '.unbind', function(){
                //
            });

            $('.wechat-info').on('click', '.bind', function(){
                $.post('/index.php?g=User&m=Center&a=wx_bind_qr',function(response){
                    var data = response.info;
                    var $img = $('<img class="wxqr" src="'+data.src+'" style="width:160px;height:160px;">')
                    $('.wechat-info').html($img);
                    check_bind_status = true;
                    checkBindStatus();
                });
            });
        });

        var check_bind_status = false;

        function checkBindStatus(){
            if(check_bind_status){
                $.getJSON('/index.php?g=User&m=Center&a=check_bind',function(response){
                    if(response.status){
                        check_bind_status = false;
                        var tpl = $('#wxinfo-wrapper').html();
                        var html = tpl.replace(/\{src\}/g, response.info.src)
                                .replace(/\{nickname\}/g, response.info.nickname);
                        $('.wechat-info').html(html);
                    }
                });
                setTimeout(checkBindStatus,2000)
            }
        }
    </script>
</block>