<admintpl file="header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
            <li><a href="{:U('AdminCats/edit',array('id'=>$data['id'],'select'=>'A'))}"><if condition="$data.id eq ''">添加面料分类<else />编辑面料分类</if></a></li>
            <li><a href="{:U('AdminCats/edit',array('id'=>$data['id'],'select'=>'B'))}">SEO设置</a></li>
            <li class="active"><a href="{:U('AdminCats/prop',array('id'=>$data['id']))}">分类关联的属性</a></li>
            <li><a href="{:U('AdminCats/index')}">返回面料分类管理</a></li>
		</ul>
        <if condition="$add eq '1'">
            　　请先保存添加的分类，再进行关联属性设置！
        <else />
            <form class="js-ajax-form" action="" method="post">
            <div class="table-actions">
                <a class="btn btn-primary btn-small js-ajax-submit" href="{:U('AdminCats/prop_add',array('id'=>$data['id']))}">增加</a>
                　
                <button class="btn btn-danger btn-small js-ajax-submit" type="submit" data-action="{:U('AdminCats/prop_delete')}" data-subcheck="true" data-msg="您确定删除吗？">{:L('DELETE')}</button>
            </div>        
		    <table class="table table-hover table-bordered">
			    <thead>
				    <tr>
					    <th width="15"><label><input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x"></label></th>
                        <th width="30">ID</th>
					    <th width="150">属性名称</th>
                        <th>属性值侯选范围</th>
					    <th width="60">是否必选</th>
					    <th width="60">是否多选</th>
					    <th width="60">是否销售</th>
					    <th width="150">{:L('ACTIONS')}</th>
				    </tr>
			    </thead>
			    <tbody>
                    <php>$_is_must =array("0"=>"否","1"=>"是");</php>
                    <php>$_is_multi=array("0"=>"否","1"=>"是");</php>
                    <php>$_is_sale =array("0"=>"否","1"=>"是");</php>
				    <foreach name="list" item="vo">
				    <tr>
					    <td><input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.id}" title="ID:{$vo.id}"></td>
                        <td>{$vo.id}</td>
					    <td>{$vo.key_name}</td>
                        <td>{$vo.value_range}</td>
					    <td>{$_is_must[$vo['is_must']]}</td>
                        <td>{$_is_multi[$vo['is_multi']]}</td>
                        <td>{$_is_sale[$vo['is_sale']]}</td>

					    <td>
						    <a href='{:U("AdminCats/prop_edit",array("id"=>$vo["id"]))}'>编辑</a> |
						    <a class="js-ajax-delete" href="{:U('AdminCats/prop_delete',array('id'=>$vo['id']))}">删除</a>
                            <if condition="$vo['value_range'] neq '(自定义)'">
                             |
                            <a href='{:U("AdminCats/prop_range",array("id"=>$vo["id"]))}'>编辑侯选范围</a>
                            </if>
					    </td>
				    </tr>
				    </foreach>
			    </tbody>
		    </table>
            <div class="pagination">{$page}</div>
            </form>
        </if>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>