<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
            <li><a href="{:U('AdminCats/edit',array('id'=>$data['id'],'select'=>'A'))}"><if condition="$data.id eq ''">添加面料分类<else />编辑面料分类</if></a></li>
            <li><a href="{:U('AdminCats/edit',array('id'=>$data['id'],'select'=>'B'))}">SEO设置</a></li>
            <li class="active"><a href="{:U('AdminCats/prop',array('id'=>$prop['cid']))}">分类关联的属性</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('AdminCats/prop_range_post')}">
        <input type="hidden" name="id" value="{$prop.id}">
			<fieldset>
                <div class="control-group">
                    <label class="control-label">属性名称：</label>
                    <div class="controls">
                       {$prop.key_name} 
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">请选择属性值侯选范围：</label>
                    <div class="controls">
                        <foreach name="value_list" item="vo">
                        <php>$tem_selected=strstr(",".$prop['value_id_range']."," ,  ",".$vo['id'].",")?"checked='checked'":"";</php>

                        <label class="checkbox inline">
                        <input value="{$vo.id}" type="checkbox" name="ids[]" {$tem_selected}>{$vo.id}.{$vo.value}
                        </label>
                        </foreach>
                    </div>
                </div>

			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">确定</button>
				<a class="btn" href="javascript:history.back(-1);">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>