<admintpl file="header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
	        <li <if condition="$sel neq 'B'">class="active"</if>><a href="#A" data-toggle="tab">
            <if condition="$data.id eq ''">添加面料分类<else />编辑面料分类</if></a></li>
            <li <if condition="$sel eq 'B'">class="active"</if>><a href="#B" data-toggle="tab">SEO设置</a></li>
            <li><a href="{:U('AdminCats/prop',array('id'=>$data['id']))}">分类关联的属性</a></li>

	    </ul>
		<form class="form-horizontal js-ajax-form" action="{:U('AdminCats/post')}" method="post">
            <input type="hidden" name="id" value="{$data.id}" />
			<div class="tabbable">
		        <div class="tab-content">
		          <div class="tab-pane <if condition="$sel neq 'B'">active</if>" id="A">
				  		<div class="row-fluid">
							<div class="span6">
							<table class="table table-bordered">
								<tr>
									<td>
										<fieldset>
											<div class="control-group">
												<label class="control-label">上级</label>
												<div class="controls">
													<select name="pid">
														<option value="0">作为一级分类</option>
														{$terms_tree}
													</select>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label">分类名称</label>
												<div class="controls">
													<input type="text" name="title"  value="{$data.title}"><span class="form-required">*</span>
												</div>
											</div>
											<div class="control-group">
												<label class="control-label">分类名称(英文)</label>
												<div class="controls">
													<input type="text" name="en_title"  value="{$data.en_title}">
												</div>
											</div>
											<div class="control-group">
												<label class="control-label">代码</label>
												<div class="controls">
													<input type="text" name="code"  value="{$data.code}"><span class="form-required">*</span>
												</div>
											</div>                            
										</fieldset>
									</td>
								</tr>
							</table>
							</div>
							<div class="span3">
								<table class="table table-bordered">
								<tr>
									<th><b>thumb缩略图</b></th>
								</tr>
								<tr>
									<td>
										<div id="thumb" class="el-selector" style="text-align: center;">
											<input type="hidden" class="el-input" name="img[thumb]" value="{$img.thumb|default=''}" />
											<if condition="empty($img[thumb])">
												<img class="el-img" src="__PUBLIC__/images/demo.jpg" style="width:135px;cursor:pointer;" />
												<else />
												<img class="el-img" src="{:sp_get_asset_upload_path($img['thumb'])}" style="width:135px;cursor:pointer;" />
											</if>
											<div class="note">点击选择面料分类缩略图片。<strong>建议尺寸：</strong>3:2</div>
											<input type="button" class="btn btn-small" onclick="$('#thumb .el-img').attr('src','__PUBLIC__/images/demo.jpg');$('#thumb .el-input').val('');return false;" value="取消图片">
										</div>
									</td>
								</tr>
								</table>
							</div>
							<div class="span3">
								<table class="table table-bordered">
								<tr>
									<th><b>icon小图标</b></th>
								</tr>
								<tr>
									<td>
										<div id="icon" class="el-selector" style="text-align: center;">
											<input type="hidden" class="el-input" name="img[icon]" value="{$img.icon}"/>
											<if condition="empty($img[icon])">
												<img class="el-img" src="__PUBLIC__/images/demo.jpg" style="width:135px;cursor:pointer;background:#999" />
												<else />
												<img class="el-img" src="{:sp_get_asset_upload_path($img['icon'])}" style="width:135px;cursor:pointer;background:#999" />
											</if>
											<div class="note">点击选择面料小图标。<strong>建议尺寸：</strong>3:2</div>
											<input type="button" class="btn btn-small" onclick="$('#icon .el-img').attr('src','__PUBLIC__/images/demo.jpg');$('#icon .el-input').val('');return false;" value="取消图片">
										</div>
									</td>
								</tr>
								</table>
							</div>
						</div>
		          
				  
				  </div>
		          <div class="tab-pane <if condition="$sel eq 'B'">active</if>" id="B">
						<fieldset>
							<div class="control-group">
								<label class="control-label">{:L('SEO_TITLE')}</label>
								<div class="controls">
									<input type="text" name="seo_title" value="{$data.seo_title}">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">{:L('SEO_KEYWORDS')}</label>
								<div class="controls">
									<input type="text" name="seo_keywords" value="{$data.seo_keywords}">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">{:L('SEO_DESCRIPTION')}</label>
								<div class="controls">
									<textarea name="seo_description" rows="5" cols="57">{$data.seo_description}</textarea>
								</div>
							</div>
						</fieldset>
		          </div>

	
		        </div>
		    </div>
		    <div class="form-actions">
		     	<button class="btn btn-primary js-ajax-submit"type="submit"><if condition="$data.id eq ''">{:L('ADD')}<else />{:L('SAVE')}</if></button>
		      	<a class="btn" href="javascript:history.back(-1);">{:L('BACK')}</a>
		    </div>
		</form>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript">
			$(function(){
				$('.el-selector .el-img').on('click', function(){
		        var eid = $(this).parents('.el-selector').attr('id');
		        window.open('/index.php?g=admin&m=media&a=explorer&t=selector&eid='+eid,
		                '_blank','toolbar=no, location=yes, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, height=402');
    		});
			})
	</script>
</body>
</html>