<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
            <li><a href="{:U('AdminCats/edit',array('id'=>$data['id'],'select'=>'A'))}"><if condition="$data.id eq ''">添加面料分类<else />编辑面料分类</if></a></li>
            <li><a href="{:U('AdminCats/edit',array('id'=>$data['id'],'select'=>'B'))}">SEO设置</a></li>
            <li class="active"><a href="{:U('AdminCats/prop',array('id'=>$data['id']))}">分类关联的属性</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('AdminCats/prop_post')}">
        <input type="hidden" name="cid" value="{$data.id}">
        <input type="hidden" name="id" value="{$id}">
			<fieldset>
                <div class="control-group">
                    <label class="control-label">属性：</label>
                    <div class="controls">
                        
                        <select name="key_id">
                            <foreach name="keylist" item="vo">
                                <php>$selected=$vo['id']==$key_id?"selected":""</php>
                                <option value="{$vo.id}" {$selected}>{$vo.key_name}</option>
                            </foreach>
                        </select>                        
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">设置</label>
                    <div class="controls">

                        <label class="checkbox inline"><input value="1" type="checkbox" name="is_must" <if condition="$is_must eq 1">checked='checked'</if>>是否必选</label>
                        <label class="checkbox inline"><input value="1" type="checkbox" name="is_multi" <if condition="$is_multi eq 1">checked='checked'</if>>是否多选</label>
                        <label class="checkbox inline"><input value="1" type="checkbox" name="is_sale" <if condition="$is_sale eq 1">checked='checked'</if>>是否销售</label>

                    </div>
                </div>

			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit"><if condition="$id eq ''">{:L('ADD')}<else />{:L('SAVE')}</if></button>
				<a class="btn" href="javascript:history.back(-1);">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>