<admintpl file="header" />
<style type="text/css">
.pic-list li {
	margin-bottom: 5px;
}
</style>
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('AdminCats/index')}">面料分类</a></li>
			<li class="active"><a href="javascript:;" target="_self">修改分类名称代码</a></li>
		</ul>
		<form action="{:U('AdminCats/code_edit_post')}" method="post" class="form-horizontal js-ajax-forms" enctype="multipart/form-data">
			<div class="row-fluid">
				<div class="span9">
					<div class="table-actions">
					<a class="btn btn-success btn-small" href="javascript:void(0);">修改{$cid_title}的名称代码：</a>
					</div>
					<table class="table table-bordered">
						<tr>
							<td>
								<fieldset>
									<div class="control-group">
										<label class="control-label">代码</label>
										<div class="controls">
											<input type="text" name="code"  value="{$one_code.code}"><span class="form-required">*</span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">中文名称</label>
										<div class="controls">
											<input type="text" name="cname"  value="{$one_code.cname}"><span class="form-required">*</span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">英文名称</label>
										<div class="controls">
											<input type="text" name="ename"  value="{$one_code.ename}">
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">说明</label>
										<div class="controls">
											<input type="text" name="remark"  value="{$one_code.remark}">
										</div>
									</div>                            
								</fieldset>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="form-actions">
				 <input type="hidden" name="id" value="{$_GET['id']}"/>
				<button class="btn btn-primary js-ajax-submit" type="submit">提交</button>
				<a class="btn" href="javascript:history.back(-1);">返回</a>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript">
		//编辑器路径定义
		var editorURL = GV.WEB_ROOT;
	</script>
	<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript">
		$(function() {

			$(".js-ajax-close-btn").on('click', function(e) {
				e.preventDefault();
				Wind.use("artDialog", function() {
					art.dialog({
						id : "question",
						icon : "question",
						fixed : true,
						lock : true,
						background : "#CCCCCC",
						opacity : 0,
						content : "您确定需要关闭当前页面嘛？",
						ok : function() {
							setCookie("refersh_time", 1);
							window.close();
							return true;
						}
					});
				});
			});
			/////---------------------
			Wind.use('validate', 'ajaxForm', 'artDialog', function() {
				//javascript

				var form = $('form.js-ajax-forms');
				//ie处理placeholder提交问题
				if ($.browser && $.browser.msie) {
					form.find('[placeholder]').each(function() {
						var input = $(this);
						if (input.val() == input.attr('placeholder')) {
							input.val('');
						}
					});
				}

				var formloading = false;
				//表单验证开始
				form.validate({
					//是否在获取焦点时验证
					onfocusout : false,
					//是否在敲击键盘时验证
					onkeyup : false,
					//当鼠标掉级时验证
					onclick : false,
					//验证错误
					showErrors : function(errorMap, errorArr) {
						//errorMap {'name':'错误信息'}
						//errorArr [{'message':'错误信息',element:({})}]
						try {
							$(errorArr[0].element).focus();
							art.dialog({
								id : 'error',
								icon : 'error',
								lock : true,
								fixed : true,
								background : "#CCCCCC",
								opacity : 0,
								content : errorArr[0].message,
								cancelVal : '确定',
								cancel : function() {
									$(errorArr[0].element).focus();
								}
							});
						} catch (err) {
						}
					},
					//验证规则
					// rules : {
					// 	'post[post_title]' : {
					// 		required : 1
					// 	},
					// 	'post[post_content]' : {
					// 		editorcontent : true
					// 	}
					// },
					// //验证未通过提示消息
					// messages : {
					// 	'post[post_title]' : {
					// 		required : '请输入标题'
					// 	},
					// 	'post[post_content]' : {
					// 		editorcontent : '内容不能为空'
					// 	}
					// },
					//给未通过验证的元素加效果,闪烁等
					highlight : false,
					//是否在获取焦点时验证
					onfocusout : false,
					//验证通过，提交表单
					submitHandler : function(forms) {
						if (formloading)
							return;
						$(forms).ajaxSubmit({
							url : form.attr('action'), //按钮上是否自定义提交地址(多按钮情况)
							dataType : 'json',
							beforeSubmit : function(arr, $form, options) {
								formloading = true;
							},
							success : function(data, statusText, xhr, $form) {
								formloading = false;
								if (data.status) {
									setCookie("refersh_time", 1);
									//添加成功
									Wind.use("artDialog", function() {
										art.dialog({
											id : "succeed",
											icon : "succeed",
											fixed : true,
											lock : true,
											background : "#CCCCCC",
											opacity : 0,
											content : data.info,
											button : [ {
												name : '继续添加？',
												callback : function() {
													reloadPage(window);
													return true;
												},
												focus : true
											}, {
												name : '返回列表页',
												callback : function() {
													location = "{:U('AdminCats/code_list',array('id'=>$one_code['cid']))}";
													return true;
												}
											} ]
										});
									});
								} else {
									artdialog_alert(data.info);
								}
							}
						});
					}
				});
			});
			////-------------------------
		});
	</script>
</body>
</html>