<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('AdminCats/index')}">面料分类管理</a></li>
			<li class="active"><a href="{:U('AdminCats/index')}">名称代码列表</a></li>
			<li><a href="{:U('AdminCats/code_add',array('id'=>$_GET['id']))}">添加名称代码</a></li>
		</ul>
		<form method="post" class="js-ajax-form" action="#">
			<div class="table-actions">
               <a class="btn btn-success btn-small" href="javascript:void(0);">{$cid_title}的名称代码：</a>
			</div>
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th width="50">ID</th>
                        <th width="50">代码</th>
						<th>中文名称</th>
			            <th>英文名称</th>
                        <th>分类说明</th>
                        <th>分类代码</th>
						<th>{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
				<foreach name="list" item="vo">
				<tr>
                    <td><b>{$vo.id}</b></td>
					<td>{$vo.code}</td>
					<td>{$vo.cname}</td>
					<td>{$vo.ename}</td>
					<td>{$vo.remark}</td>
					<td>{$vo.cat_code}</td>
					<td>
						<a href="{:U('AdminCats/code_edit',array('id'=>$vo['id']))}">{:L('EDIT')}</a> | 
						<a href="{:U('AdminCats/delete_code',array('id'=>$vo['id']))}" class="js-ajax-delete">{:L('DELETE')}</a>
					</td>
				</tr>
				</foreach>
				</tbody>
				<tfoot>
					<tr>
						<th width="50">ID</th>
                        <th width="50">代码</th>
						<th>中文名称</th>
			            <th>英文名称</th>
                        <th>分类说明</th>
                        <th>分类代码</th>
						<th>{:L('ACTIONS')}</th>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>