<div id="page_{$page_id}" data-page_id="{$page_id}" class="tab-pane removable grid2">
    <volist name="items" id="vo">
        <php>
            $fabric = $selected_fabrics[$vo['tf_id']];
        </php>
        <div class="fabric-block" data-item_id="{$vo.item_id}">
            <present name="selected_fabrics[$vo[tf_id]]">
                <div class="thumbnail list-unstyled placeimg">
                    <div class="fabric" data-tf_id="{$fabric.id}"
                        data-name="{$fabric.name}"
                        data-spec="{$fabric.spec}"
                        data-material="{$fabric.material}"
                        data-component="{$fabric.component}"
                        data-code="{$fabric.code}" style="display: list-item;">
                        <notempty name="fabric[img][thumb]">
                            <img class="img-responsive" src="{:sp_get_image_preview_url($fabric['img']['thumb'])}">
                            <else />
                            <img class="img-responsive" src="__PUBLIC__/images/default-thumbnail.png">
                        </notempty>
                        <span>{$fabric.code}</span>
                    </div>
                </div>
                <div class="info">
                    <div class="qrcode"><img class="img-response" src="{:leuu('Tf/tf/qr',array('code'=>$fabric['code']))}" /></div>
                    <div class="desc">
                        <h3 class="fabric-name">{$fabric.name}</h3>
                        <ul class="list-unstyled">
                            <li class="fabric-spec">{$fabric.spec}</li>
                            <li class="fabric-material">{$fabric.material}</li>
                            <li class="fabric-component">{$fabric.component}</li>
                        </ul>
                    </div>
                </div>
                <else />
                <div class="thumbnail list-unstyled placeimg"></div>
                <div class="info">
                    <div class="qrcode"></div>
                    <div class="desc">
                        <h3 class="fabric-name"></h3>
                        <ul class="list-unstyled">
                            <li class="fabric-spec"></li>
                            <li class="fabric-material"></li>
                            <li class="fabric-component"></li>
                        </ul>
                    </div>
                </div>
            </present>
        </div>
    </volist>
</div>