<extend name="Public:base-v8"/>
<block name="title"><title>提现记录 面料商后台 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC_/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">

    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        /*.sky-form section {
            margin-bottom: 10px!important;
        }
        .sky-form .label {text-align: right;}*/
        td.details-control {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            cursor: pointer;
        }

        tr td.details-control:before {
            content: "\f067";
        }

        tr.shown td.details-control:before {
            content: "\f068";
        }

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: left;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">提现记录</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Index/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Account/Index/index')}">我的账户</a></li>
                <li class="active">提现记录</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('index')}">提现</a></li>
                        <li class="active"><a href="{:leuu('logs')}">提现记录</a></li>
                        <li class="pull-right"><a href="{:leuu('Account/Index/index')}">返回账户</a></li>
                    </ul>
                    <div class="tab-content">
                        <table id="datatable" class="table table-striped table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('logs',array('id'=>$_GET['id']))}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: true,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "className": "details-control",
                    "data": null,
                    "orderable": false,
                    "width": 20,
                    "defaultContent": ""
                }, {
                    "data": "exchange_amount",
                    "title": "提现金额",
                    "defaultContent": "",
                    render: $.fn.dataTable.render.number(',', '.', 2, '￥')
                }, {
                    "data": "receipt_status",
                    "title": "状态",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        return parseInt(data) ? '<span class="color-green1">已入账</span>' : '<span class="color-yellow">未入账</span>';
                    }
                }, {
                    "data": "first_status",
                    "title": "一审",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        switch (parseInt(data)) {
                            case 0:
                                return '<span class="color-yellow">未审核</span>';
                                break;
                            case 1:
                                return '<span class="color-green1">已通过</span>';
                                break;
                            case 2:
                                return '<span class="color-red">已驳回</span>';
                                break;
                            default:
                                return '';
                        }
                    }
                }, {
                    "data": "second_status",
                    "title": "二审",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        switch (parseInt(data)) {
                            case 0:
                                return '<span class="color-yellow">未审核</span>';
                                break;
                            case 1:
                                return '<span class="color-green1">已通过</span>';
                                break;
                            case 2:
                                return '<span class="color-red">已驳回</span>';
                                break;
                            default:
                                return '';
                        }
                    }
                }, {
                    "data": "create_date",
                    "title": "提现时间",
                    "defaultContent": ""
                }],
                "order": [[5, 'desc']],
                buttons: []
            });
            $('#datatable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
                row.child().children('td').css('padding', 0);
            });
        });
        function format(d) {
            // `d` is the original data object for the row
            var exTypes = {
                "1": "支付宝",
                "2": "微信",
                "3": "银行卡"
            };
            var statuses = ['未审核', '已通过', '已驳回'];
            return '<table class="table table-bordered" style="margin-bottom: 0;border:none;">' +
            '<tr>' +
            '<th style="width:80px;">备注：</th><td colspan="2">' + d.remark + '</td>' +
            '</tr>' +
            '<tr>' +
            '<th>提现账号：</th><td>' + exTypes[d.exchange_type] + '</td><td>' + d.exchange_account + '</td>' +
            '</tr>' +
            '<tr>' +
            '<th></th><th>一审</th><th>二审</th>' +
            '</tr>' +
            '<tr>' +
            '<th>审核结果：</th><td>' + statuses[d.first_status] + '</td><td>' + statuses[d.second_status] + '</td>' +
            '</tr>' +
            '<tr>' +
            '<th>备注：</th><td>' + d.first_desc + '</td><td>' + d.second_desc + '</td>' +
            '</tr>' +
            '<tr>' +
            '<th>审核时间：</th><td>' + (d.first_date ? d.first_date : '') + '</td>' +
            '<td>' + (d.second_date ? d.second_date : '') + '</td>' +
            '</tr>' +
            '</table>';
        }
    </script>
</block>