<extend name="Admin:base-v2" />
<block name="css"></block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">采购商</a></li>
                <li><a href="{:U('add')}">添加采购商</a></li>
                <li class="active"><a>修改采购商</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form role="form" action="{:U('edit_post')}" method="post" class="sky-form">
                        <header>
                            修改采购商
                        </header>
                        <fieldset>
                            <label class="label">采购商名称</label>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="input">
                                        <input type="text" name="short_name" value="{$short_name}" placeholder="短名称" />
                                        <b class="tooltip tooltip-top-right">采购商短名称</b>
                                    </label>
                                </section>
                                <section class="col col-8">
                                    <label class="input">
                                        <input type="text" name="long_name" value="{$long_name}" placeholder="长名称" />
                                        <b class="tooltip tooltip-top-right">采购商长名称</b>
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label class="label">主营</label>
                                <label class="input">
                                    <input type="text" name="main_core" value="{$main_core}" placeholder="主营" />
                                </label>
                            </section>
                            <section>
                                <label class="label">客服</label>
                                <label class="input">
                                    <input type="text" name="custom_service" value="{$custom_service}" placeholder="客服" />
                                </label>
                            </section>
                        </fieldset>
                        <fieldset>
                            <label class="label">地区</label>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="select">
                                        <select name="contact[contact_province]" data-sub="contact[contact_city]" required onchange="cleanSubAreas(this.name);getAreas(this.value,'contact[contact_city]')">
                                            <option disabled selected>省（必须）</option>
                                            <foreach name="areas[areas][provinces]" item="vo">
                                                <php>$selected = $vo['id'] == $areas['selected']['province'] ? 'selected':'';</php>
                                                <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                            </foreach>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="select">
                                        <select name="contact[contact_city]" data-sub="contact[contact_area]" required onchange="cleanSubAreas(this.name);getAreas(this.value,'contact[contact_area]')">
                                            <option disabled selected>市（必须）</option>
                                            <foreach name="areas[areas][cities]" item="vo">
                                                <php>$selected = $vo['id'] == $areas['selected']['city'] ? 'selected':'';</php>
                                                <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                            </foreach>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="select">
                                        <select name="contact[contact_area]" required>
                                            <option disabled selected>区（必须）</option>
                                            <foreach name="areas[areas][districts]" item="vo">
                                                <php>$selected = $vo['id'] == $areas['selected']['district'] ? 'selected':'';</php>
                                                <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                            </foreach>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label class="label">地址</label>
                                <label class="input">
                                    <i class="icon-append fa fa-map-marker"></i>
                                    <input type="text" name="contact[contact_address]" value="{$contact.contact_address}" placeholder="地址" />
                                </label>
                            </section>
                            <label class="label">联系方式</label>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-mobile"></i>
                                        <input type="text" name="contact[contact_mobile]" value="{$contact.contact_mobile}" placeholder="手机" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-phone"></i>
                                        <input type="text" name="contact[contact_tel]" value="{$contact.contact_tel}" placeholder="座机" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-envelope"></i>
                                        <input type="email" name="contact[contact_email]" value="{$contact.contact_email}" placeholder="邮箱" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-fax"></i>
                                        <input type="text" name="contact[contact_fax]" value="{$contact.contact_fax}" placeholder="传真" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-qq"></i>
                                        <input type="text" name="contact[contact_qq]" value="{$contact.contact_qq}" placeholder="QQ" />
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <i class="icon-append fa fa-weixin"></i>
                                        <input type="text" name="contact[contact_wechat]" value="{$contact.contact_wechat}" placeholder="微信" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">状态</label>
                                    <label class="select">
                                        <php>$statuses = D('BizMember')->statuses;</php>
                                        <select name="status">
                                            <foreach name="statuses" item="vo">
                                                <php>$selected = isset($id) && $status == $key ? 'selected':'';</php>
                                                <option value="{$key}" {$selected}>{$vo}</option>
                                            </foreach>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <input type="hidden" name="id" value="{$id}">
                            <button type="submit" class="btn-u">保存</button>
                            <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $(".sky-form").validate({
                rules:
                {
                    short_name:
                    {
                        required: 1
                    },
                    long_name:
                    {
                        required: 1
                    },
                    main_core:
                    {
                        required: 1
                    },
                    province:
                    {
                        required: 1
                    },
                    city:
                    {
                        required: 1
                    },
                    area:
                    {
                        required: 1
                    }
                },
                messages:
                {
                    short_name:
                    {
                        required: "请填写短名称"
                    },
                    long_name:
                    {
                        required: "请填写长名称"
                    },
                    main_core:
                    {
                        required: "请填写主营产品"
                    },
                    province:
                    {
                        required: "请选择省份"
                    },
                    city:
                    {
                        required: "请选择城市"
                    },
                    area:
                    {
                        required: "请选择区"
                    }
                }
            });
        });
    </script>
</block>