<extend name="Admin:base-v2" />
<block name="css"></block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('index')}">采购商</a></li>
                <li><a href="{:U('add')}">添加采购商</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form class="sky-form" method="post" action="{:U('index')}">
                        <fieldset>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="short_name" value="{:I('request.short_name/s','')}" placeholder="商号名称" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="qq" value="{:I('request.qq/s','')}" placeholder="QQ" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="custom_service" value="{:I('request.custom_service/s','')}" placeholder="专属客服" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="area" value="{:I('request.area/s','')}" placeholder="地区" />
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="input">
                                        <input type="text" name="address" value="{:I('request.address/s','')}" placeholder="商号地址" />
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="weixin" value="{:I('request.weixin/s','')}" placeholder="微信" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="tel" value="{:I('request.tel/s','')}" placeholder="工厂座机" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="mobile" value="{:I('request.moblie/s','')}" placeholder="手机" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="status" value="{:I('request.status/s','')}" placeholder="状态" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="main_core" value="{:I('request.main_core/s','')}" placeholder="主营" />
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="input">
                                        <input type="text" name="clerk" value="{:I('request.clerk/s','')}" placeholder="业务员" />
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <input type="submit" class="btn btn-primary" value="搜索" />
                            <a class="btn btn-danger" href="{:U('index')}">清空</a>
                        </footer>
                    </form>
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th width="30">ID</th>
                            <th>商号名称</th>
                            <th>商号地址</th>
                            <th>联系手机</th>
                            <th>ＱＱ</th>
                            <th>微信号</th>
                            <th>ＬＯＧＯ</th>
                            <th>主营</th>
                            <th>地区</th>
                            <th>业务员</th>
                            <th>专属客服</th>
                            <th>{:L('STATUS')}</th>
                            <th width="120">{:L('ACTIONS')}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <php>$_statuses=array("0"=>"禁用","1"=>"启用");</php>
                        <php>$_verification=array("0"=>"未验证","1"=>"已验证");</php>
                        <foreach name="members[data]" item="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td><if condition="$vo['user_url']"><a href="{$vo.user_url}" target="_blank" title="{$vo.long_name}">{$vo.short_name}</a><else />{$vo.short_name}</if></td>
                                <td>{$vo.address}</td>
                                <td>{$vo.mobile}</td>
                                <td>{$vo.qq}</td>
                                <td>{$vo.weixin}</td>
                                <td><img width="25" height="25" src="{:U('user/public/avatar',array('id'=>$vo['id']))}" /></td>
                                <td>{$vo.main_core}</td>
                                <td>{$vo.province}{$vo.city}{$vo.district}</td>
                                <td>{$vo.salesman}</td>
                                <td>{$vo.custom_service}</td>
                                <td>{$_statuses[$vo['status']]},{$_verification[$vo['verification']]}</td>
                                <td>
                                    <a href='{:U("edit",array("id"=>$vo["id"]))}'>{:L('EDIT')}</a> |
                                    <a class="js-ajax-delete" href="{:U('delete',array('id'=>$vo['id']))}">{:L('DELETE')}</a> |
                                    <if condition="$vo['status'] eq 1">
                                        <a href="{:U('ban',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要禁用该采购商吗？">禁用</a>
                                        <else />
                                        <a href="{:U('cancelban',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要启用该采购商吗？">启用</a>
                                    </if>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <div class="pagination">{$page}</div>
                </div>
            </div>
        </div>
    </div>
</block>