<extend name="Admin:base-v2"/>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
    <style>

        .modal-body .sky-form {
            border: none;
        }

        .modal-body .sky-form fieldset {
            padding: 0;
        }

        .modal-body .sky-form footer {
            text-align: right;
            padding: 15px;
            margin: 0 -15px;
            padding-bottom: 0;
        }

        .dl-horizontal dt {
            width: 80px
        }

        .dl-horizontal dd {
            margin-left: 100px;
        }

        td.details-control {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            cursor: pointer;
        }

        tr td.details-control:before {
            content: "\f067";
        }

        tr.shown td.details-control:before {
            content: "\f068";
        }

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <table id="datatable" class="table table-striped table-bordered">
        </table>
    </div>
    <div class="modal fade" id="auditmodal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">审核</h4>
                </div>
                <div class="modal-body">
                    <form id="aduitform" class="sky-form" method="post" action="{:U('audit_post')}">
                        <fieldset>
                            <dl class="dl-horizontal">
                                <dt>面料商</dt>
                                <dd class="biz_name"></dd>
                                <dt>提现金额</dt>
                                <dd class="exchange_amount"></dd>
                            </dl>
                            <section>
                                <label class="label">审核操作</label>
                                <div class="inline-group">
                                    <label class="radio"><input type="radio" name="action" value="1" checked=""><i
                                            class="rounded-x"></i>通过审核</label>
                                    <label class="radio"><input type="radio" name="action" value="2"><i
                                            class="rounded-x"></i>驳回审核</label>
                                </div>
                            </section>
                            <section>
                                <label class="label">审核备注</label>
                                <label class="textarea">
                                    <textarea name="remark" rows="3"></textarea>
                                </label>
                                <div class="note"><b>注意：</b>驳回审核请注明原因</div>
                            </section>
                        </fieldset>
                        <footer>
                            <input type="hidden" name="id">
                            <button type="button" class="btn-u btn-u-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn-u btn-u-primary">确定</button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/jquery/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
    <script>
        var url = "{:leuu('index',array('id'=>$_GET['id']))}";
        var table;
        var statuses = JSON.parse('{:json_encode($statuses,256)}');
        var $aduitform;
        var $auditmodal = $('#auditmodal');
        $auditmodal.on('hidden.bs.modal', function () {
            $aduitform.resetForm();
            $aduitform.find('[name="remark"]').removeAttr('required');
            $aduitform.valid();
        });
        $(function () {
            $aduitform = $('#aduitform');
            $aduitform.validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        success: function (response) {
                            if (response.status) {
                                if (response.url) {
                                    location.href = response.url;
                                } else {
                                    table.ajax.reload();
                                    $aduitform.find('[name="id"]').val('');
                                    noty({text: response.info, type: 'success'});
                                    $auditmodal.modal('hide');
                                }
                            } else {
                                noty({text: response.info, type: 'error'});
                            }
                        }
                    });
                }
            });
            $aduitform.find('[name="action"]').on('change', function () {
                if ($aduitform.find('[name="action"]:checked').val() == 2) {
                    $aduitform.find('[name="remark"]').attr('required', 'required').valid();
                } else {
                    $aduitform.find('[name="remark"]').removeAttr('required').valid();
                }
            });
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: true,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [/*{
                    "className": "details-control",
                    "data": null,
                    "orderable": false,
                    "width": 20,
                    "defaultContent": ""
                }, */{
                    "data": "order_sn",
                    "title": "订单号",
                    "defaultContent": "",
                    "render": function(data,type,row){
                        var href = '/index.php?g=Order&m=AdminCard&a=view&id=' + row.order_id;
                        return '<a href="'+href+'">'+data+'</a>';
                    }
                }, {
                    "data": "biz_name",
                    "title": "面料商",
                    "defaultContent": ""
                }, {
                    "data": "order_amount",
                    "title": "订单金额",
                    "defaultContent": "",
                    render: $.fn.dataTable.render.number(',', '.', 2, '￥')
                }, {
                    "data": null,
                    "title": "版式",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        return row['goods'][0]['goods_name'];
                    }
                }, {
                    "data": null,
                    "title": "印刷数量",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        return row['goods'][0]['goods_number']+'本';
                    }
                }, {
                    "data": "status",
                    "title": "状态",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        return statuses[data];
                    }
                }, {
                    "data": "add_time",
                    "title": "下单时间",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        return new Date(data * 1000).Format("yyyy-MM-dd hh:mm:ss");
                    }
                }],
                "order": [[5, 'desc']],
                buttons: [{
                    text: "查看",
                    init: function (dt, node, config) {
                        var that = this;
                        dt.on('select.dt.DT deselect.dt.DT', function () {
                            that.enable(dt.rows({selected: true}).any());
                        });
                        this.disable();
                    },
                    action: function (e, dt, node, config) {
                        var row = dt.row({selected: true}).data();
                        location.href = '/index.php?g=Order&m=AdminCard&a=view&id=' + row.order_id;
                    }
                }, {
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }]
            });
        });
    </script>
</block>