<extend name="Admin:base-v2" />
<block name="css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border-color:#ddd;}
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">所有订单</a></li>
                <li><a href="{:U('view',array('id'=>$order_id))}">订单详情</a></li>
                <li class="active"><a>付款</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form class="panel panel-default sky-form margin-bottom-10"
                          method="post" action="{:U('operate_post')}">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-edit"></i> 订单操作：设为未付款</h3>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width:160px;">操作备注（必填）</th>
                                <td>
                                    <label class="textarea">
                                        <textarea name="action_note" rows="3" required placeholder="必填">{$action_note}</textarea>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>退款方式</th>
                                <td>
                                    <label class="radio">
                                        <input type="radio" name="refund" value="1" checked>
                                        <i class="rounded-x"></i>退回用户余额
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="refund" value="2">
                                        <i class="rounded-x"></i>生成退款申请
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="refund" value="3">
                                        <i class="rounded-x"></i>不处理，误操作时选择此项
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th>退款说明</th>
                                <td>
                                    <label class="textarea">
                                        <textarea name="refund_note" rows="3"></textarea>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <input name="order_id" type="hidden" value="{$order_id}">
                                    <input type="hidden" name="operation" value="unpay">
                                    <input type="hidden" name="act" value="operate_post">
                                    <button type="submit" class="btn-u btn-u-primary">确定</button>
                                    <a href="{:U('view',array('id'=>$order_id))}" class="btn-u btn-u-default">返回</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate({
                messages:{
                    action_note:'请填写操作备注！'
                }
            });
        })
    </script>
</block>