<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">色卡模板</a></li>
                <li class="active"><a>添加模板</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="{:U('add_post')}" method="post" class="sky-form">
                                <header>添加模板</header>
                                <fieldset>
                                    <section>
                                        <label class="label">模板类型</label>
                                        <div class="input">
                                             <label class="select">
                                                <select name="tpl_type">
                                                    <option value="1">电脑模板</option>
                                                    <option value="2">手机模板</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">是否实体</label>
                                        <div class="select">
                                            <select name="isentity">
                                                <option value="0">否</option>
                                                <option value="1">是</option>
                                            </select>
                                            <i></i>
                                        </div>
                                    </section>
                                    <section id="show_type" class="hide">
                                        <label class="label">手机模板单页展示形式</label>
                                        <div class="input">
                                            <label class="select">
                                                <select name="show_type">
                                                    <option value="0">请选择单页展示面料的形式</option>
                                                    <option value="1">单页展示一个面料</option>
                                                    <option value="2">单页展示多个面料</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">模板名称</label>
                                        <div class="input">
                                            <input type="text" name="tpl_name" required>
                                        </div>
                                    </section>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <section>
                                                <label class="label">宽(mm)</label>
                                                <label class="input">
                                                    <input type="number" name="tpl_width" required>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="col-sm-6">
                                            <section>
                                                <label class="label">高(mm)</label>
                                                <label class="input">
                                                    <input type="number" name="tpl_height" required>
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <section>
                                                <label class="label">默认封面</label>
                                                <label class="select">
                                                    <select name="custom_frontcover">
                                                        <option value="0">请选择默认封面模板</option>
                                                        <foreach name="frcovers" item="vo">
                                                            <php>$selected = $data[custom_frontcover] == $vo['pg_id'] ? 'selected':'';</php>
                                                            <option value="{$vo.pg_id}" {$selected}>{$vo.pg_name}</option>
                                                        </foreach>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="col-sm-6">
                                            <section>
                                                <label class="label">默认封底</label>
                                                <label class="select">
                                                    <select name="custom_backcover">
                                                        <option value="0">请选择默认封底模板</option>
                                                        <foreach name="bgcovers" item="vo">
                                                            <php>$selected = $data[custom_backcover] == $vo['pg_id'] ? 'selected':'';</php>
                                                            <option value="{$vo.pg_id}" {$selected}>{$vo.pg_name}</option>
                                                        </foreach>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                    <section style="overflow:hidden;">
                                        <label class="label">背景音乐</label>
                                        <div>
                                            <input type="hidden" id="inputMp3" name="tpl_bgmusic" />
                                            <audio controls="controls" id="audioMp3" style="float:left;">
                                                <source id="sourceMp3" src="" type="audio/mp3" />
                                                Your browser does not support this audio format.
                                            </audio>
                                            <button type="button" class="btn-u btn-u-xs btn-u-primary" style="float:left;margin-left: 10px;" onclick="elExplorer('call_func',{func:'setBgMp3'});">选择MP3</button>
                                            <button type="button" class="btn-u btn-u-xs btn-u-default" style="float:left;margin-left: 10px;" onclick="cancelMp3();">取消MP3</button>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">公共CSS</label>
                                        <label class="textarea">
                                            <textarea name="tpl_css" style="width:100%;height:300px;"></textarea>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">公共JS</label>
                                        <label class="textarea">
                                            <textarea name="tpl_js" style="width:100%;height:300px;"></textarea>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">状态</label>
                                        <div class="select">
                                            <select name="tpl_status">
                                                <option value="1">启用</option>
                                                <option value="0">禁用</option>
                                            </select>
                                            <i></i>
                                        </div>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn-u">保存</button>
                                    <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $(".sky-form").validate({
                rules:
                {
                    tpl_name:
                    {
                        required: 1,
                    },
                    tpl_width:
                    {
                        required: 1,
                    },
                    tpl_height:
                    {
                        required: 1,
                    }
                },
                messages:
                {
                    tpl_name:
                    {
                        required: "请填写模板名称",
                    },
                    tpl_width:
                    {
                        required: "请填写模板宽度",
                    },
                    tpl_height:
                    {
                        required: "请填写模板高度",
                    }
                }
            });

            $('[name="tpl_type"]').on('click',function(){
                if($('[name="tpl_type"]').val()==2){
                    $('#show_type').removeClass("hide");
                }else{
                    $('#show_type').addClass("hide");
                }
            });


        });
        function setBgMp3(src){
            $('#inputMp3').val(src.replace('\/data\/upload\/',''));
            $('#sourceMp3').attr('src',src).parent()[0].load();
        }
        function cancelMp3(){
            $('#inputMp3').val('');
            $('#sourceMp3').attr('src','').parent()[0].load();
        }
    </script>
</block>