<extend name="Admin:base-v2"/>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">色卡模板</a></li>
                <li class="active"><a>修改模板</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form" action="{:U('edit_post')}" method="post" class="sky-form">
                                <header>修改模板</header>
                                <fieldset>
                                    <section>
                                        <label class="label">模板类型</label>
                                        <div class="input">
                                            <label class="select">
                                                <select name="data.tpl_type" readonly>
                                                    <eq name="data.tpl_type" value="1">
                                                        <option value="1">电脑模板</option>
                                                        <else/>
                                                        <option value="2">手机模板</option>
                                                    </eq>
                                                </select>
                                                <i></i>
                                            </label>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">是否实体</label>
                                        <div class="select">
                                            <select name="isentity">
                                                <option value="0"
                                                <eq name="data[isentity]" value="0">selected</eq>
                                                >否</option>
                                                <option value="1"
                                                <eq name="data[isentity]" value="1">selected</eq>
                                                >是</option>
                                            </select>
                                            <i></i>
                                        </div>
                                    </section>
                                    <gt name="data.show_type" value="0">
                                        <section>
                                            <label class="label">手机模板单页展示形式</label>
                                            <div class="input">
                                                <label class="select">
                                                    <select name="data.show_type" readonly>
                                                        <eq name="data.show_type" value="1">
                                                            <option value="1">单页展示一个面料</option>
                                                            <else/>
                                                            <option value="2">单页展示多个面料</option>
                                                        </eq>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </div>
                                        </section>
                                    </gt>
                                    <section>
                                        <label class="label">模板名称</label>
                                        <div class="input">
                                            <input type="text" name="tpl_name" required value="{$data.tpl_name}">
                                        </div>
                                    </section>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <section>
                                                <label class="label">宽(mm)</label>
                                                <label class="input">
                                                    <input type="number" name="tpl_width" required
                                                           value="{$data.tpl_width}">
                                                </label>
                                            </section>
                                        </div>
                                        <div class="col-sm-6">
                                            <section>
                                                <label class="label">高(mm)</label>
                                                <label class="input">
                                                    <input type="number" name="tpl_height" required
                                                           value="{$data.tpl_height}">
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <section>
                                                <label class="label">默认封面</label>
                                                <label class="select">
                                                    <select name="custom_frontcover">
                                                        <option value="0">请选择默认封面模板</option>
                                                        <foreach name="frcovers" item="vo">
                                                            <php>$selected = $data[custom_frontcover] == $vo['pg_id'] ? 'selected':'';</php>
                                                            <option value="{$vo.pg_id}" {$selected}>{$vo.pg_name}</option>
                                                        </foreach>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                        </div>
                                        <div class="col-sm-6">
                                            <section>
                                                <label class="label">默认封底</label>
                                                <label class="select">
                                                    <select name="custom_backcover">
                                                        <option value="0">请选择默认封底模板</option>
                                                        <foreach name="bgcovers" item="vo">
                                                            <php>$selected = $data[custom_backcover] == $vo['pg_id'] ? 'selected':'';</php>
                                                            <option value="{$vo.pg_id}" {$selected}>{$vo.pg_name}</option>
                                                        </foreach>
                                                    </select>
                                                    <i></i>
                                                </label>
                                            </section>
                                        </div>
                                    </div>
                                    <present name="xcvxfsdfsdf">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <section>
                                                    <label class="label">默认封面</label>
                                                    <div id="frontCoverUrl" class="el-selector">
                                                        <input type="hidden" class="el-input" name="tpl_frontcover"
                                                               value="{$data.tpl_frontcover}"/>
                                                        <img class="el-img"
                                                             src="{:get_thumb_url($data[tpl_frontcover],true)}"
                                                             style="width:135px;cursor:pointer;"/>
                                                    </div>
                                                </section>
                                            </div>
                                            <div class="col-sm-6">
                                                <section>
                                                    <label class="label">默认封底</label>
                                                    <div id="backCoverUrl" class="el-selector">
                                                        <input type="hidden" class="el-input" name="tpl_backcover"
                                                               value="{$data.tpl_backcover}"/>
                                                        <img class="el-img"
                                                             src="{:get_thumb_url($data[tpl_backcover],true)}"
                                                             style="width:135px;cursor:pointer;"/>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </present>
                                    <section style="overflow:hidden;">
                                        <label class="label">背景音乐</label>
                                        <div>
                                            <input type="hidden" id="inputMp3" name="tpl_bgmusic"
                                                   value="{$data.tpl_bgmusic}"/>
                                            <audio controls="controls" id="audioMp3" style="float:left;">
                                                <source id="sourceMp3"
                                                        src="{:sp_get_asset_upload_path($data[tpl_bgmusic])}"
                                                        type="audio/mp3"/>
                                                Your browser does not support this audio format.
                                            </audio>
                                            <button type="button" class="btn-u btn-u-xs btn-u-primary"
                                                    style="float:left;margin-left: 10px;"
                                                    onclick="elExplorer('call_func',{func:'setBgMp3'});">选择MP3
                                            </button>
                                            <button type="button" class="btn-u btn-u-xs btn-u-default"
                                                    style="float:left;margin-left: 10px;" onclick="cancelMp3();">取消MP3
                                            </button>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">公共CSS</label>
                                        <label class="textarea">
                                            <textarea name="tpl_css"
                                                      style="width:100%;height:300px;">{$data.tpl_css}</textarea>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">公共JS</label>
                                        <label class="textarea">
                                            <textarea name="tpl_js"
                                                      style="width:100%;height:300px;">{$data.tpl_js}</textarea>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">状态</label>
                                        <div class="select">
                                            <select name="tpl_status">
                                                <option value="1"
                                                <eq name="data[tpl_status]" value="1">selected</eq>
                                                >启用</option>
                                                <option value="0"
                                                <eq name="data[tpl_status]" value="0">selected</eq>
                                                >禁用</option>
                                            </select>
                                            <i></i>
                                        </div>
                                    </section>
                                </fieldset>
                                <footer>
                                    <input type="hidden" name="tpl_id" value="{$data.tpl_id}">
                                    <button type="submit" class="btn-u">保存</button>
                                    <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function () {
            $(".sky-form").validate({
                rules: {
                    tpl_name: {
                        required: 1,
                    },
                    tpl_width: {
                        required: 1,
                    },
                    tpl_height: {
                        required: 1,
                    }
                },
                messages: {
                    tpl_name: {
                        required: "请填写模板名称",
                    },
                    tpl_width: {
                        required: "请填写模板宽度",
                    },
                    tpl_height: {
                        required: "请填写模板高度",
                    }
                }
            });
        });
        function setBgMp3(src) {
            $('#inputMp3').val(src.replace('\/data\/upload\/', ''));
            $('#sourceMp3').attr('src', src).parent()[0].load();
        }
        function cancelMp3() {
            $('#inputMp3').val('');
            $('#sourceMp3').attr('src', '').parent()[0].load();
        }
    </script>
</block>