<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('index')}">色卡模板</a></li>
                <li><a href="{:U('add')}">添加模板</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>尺寸(mm)</th>
                            <th>实体色卡</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="tpls[data]" id="vo">
                            <tr>
                                <td>{$vo.tpl_id}</td>
                                <td>{$vo.tpl_name}</td>
                                <td>{$vo.tpl_width}×{$vo.tpl_height}</td>
                                <td>{$vo[isentity] == 1 ? '是':'否'}</td>
                                <td>{$vo.status_text}</td>
                                <td>
                                    <a href="{:U('edit', array('id'=>$vo[tpl_id]))}">修改</a> |
                                    <a href="{:U('AdminTplPage/index', array('id'=>$vo[tpl_id]))}">模板页</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <ul class="pagination">{$tpls.page}</ul>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
</block>