<extend name="Public:base-v8" />
<block name="title"><title>我的好友</title></block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/pages/profile.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>

        .ucard {margin-bottom:20px;}
        .ucard .btns {display:none;}
        .ucard:hover .btns {display:block;}
        .profile .profile-blog {
            min-height: 200px;
            position: relative;
        }
        .card-footer {
            position: absolute;
            width: 100%;
            padding: 0 20px;
            bottom: 10px;
            left: 0;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">我的好友</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li class="active">我的好友</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="{:leuu('index')}">我的好友</a></li>
                    </ul>
                    <div class="tab-content profile">
                        <div class="row margin-bottom-20">
                            <volist name="list[data]" id="vo">
                                <div id="fans-{$vo.id}" data-id="{$vo.id}" class="col-sm-6 ucard">
                                    <div class="profile-blog blog-border">
                                        <a href="{:leuu('Supplier/Index/single', array('id'=>$vo[member_id]))}">
                                            <img class="rounded-x" src="{:get_avatar_url($vo[biz_logo])}">
                                        </a>
                                        <div class="name-location pull-left">
                                            <a href="{:leuu('Supplier/Index/single', array('id'=>$vo[member_id]))}">
                                                <strong>{$vo.biz_name}</strong>
                                            </a>
                                            <notempty name="vo[district_name]">
                                                <span><i class="fa fa-map-marker"></i>{$vo.province_name}{$vo.city_name}{$vo.district_name}</span>
                                            </notempty>
                                        </div>
                                        <div class="btns pull-right">
                                            <a href="{:leuu('Supplier/Index/single', array('id'=>$vo[member_id]))}"
                                            class="btn-u btn-u-xs rounded margin-bottom-5" style="display:block;">浏览商铺</a>
                                            <button type="button"
                                                    class="btn-u btn-u-default btn-u-xs rounded margin-bottom-5 js-ajax-btn"
                                                    data-confirm="true"
                                                    data-msg="是否要取消删除该好友吗？"
                                                    data-id="{$vo[id]}"
                                                    data-href="{:leuu('delete')}"
                                                    data-success="deleteSuccess"
                                                    style="display:block;">删除好友</button>
                                        </div>
                                        <div class="clearfix margin-bottom-20"></div>
                                        <p>{$vo.biz_intro}</p>
                                        <!--<div class="card-footer">
                                            <hr>
                                            <ul class="list-inline share-list">
                                                <li><i class="fa fa-shopping-cart"></i><a href="#">完成了<strong>{$vo.order_num}</strong>订单</a></li>
                                                <neq name="vo[order_date]" value="0000-00-00 00:00:00">
                                                    <li><i class="fa fa-clock-o"></i>最后下单于{:date('Y-m-d',strtotime($vo['order_date']))}</li>
                                                </neq>
                                            </ul>
                                        </div>-->
                                    </div>
                                </div>
                            </volist>
                        </div>
                        <notempty name="fans[page]">
                            <div class="text-center md-margin-bottom-30">
                                <ul class="pagination">{$list['page']}</ul>
                            </div>
                        </notempty>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        function deleteSuccess(response){
            if(response.url){
                location.href = response.url;
            }else{
                if(response.status){
                    $('#fans-'+response.data.id).remove();
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'success'});
                        }else{
                            alert(response.info);
                        }
                    }
                }else{
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'error'});
                        }else{
                            alert(response.info);
                        }
                    }else{
                        response.info = '操作出错！';
                    }
                }
            }
        }
    </script>

</block>