<extend name="Public:base-v8"/>
<block name="title"><title>在线试衣 {$data.name} {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_masonry_3col.css">
    <style>
        .loading {
            width: 100%;
            height: 300px;
        }

        .loading .fa {
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 40px;
        }

        #sku-list, #model-list {
            height: 600px;
        }

        #preview {
            height: 600px;
        }

        #model-list .item {
            margin-bottom: 10px;
            cursor: pointer;
        }

        #sku-list .item {
            margin: 0;
            padding: 10px;
            cursor: pointer;
        }

        #sku-list .item .media-object {
            border: 1px solid #eee;
            padding: 2px;
            background: #fff;
        }

        #sku-list .item.active {
            background: #3498db;
        }

        #sku-list .item.active .media-body .media-heading {
            color: #fff;
        }

        #sku-list .item img {
            width: 64px;
        }

        #model-list .item img {
            /*border: 1px solid #ccc;*/
            padding: 2px;
        }

        #model-list .item.active {
            border-color: #e6123d;
        }

        #preview .control {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 50px;
            text-align: center;
            font-size: 16px;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">在线试衣</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Tf/List/index')}">面料</a></li>
                <li><a href="{:leuu('Tf/Tf/fabric',array('id'=>$data['id']))}">{$data['name']}</a></li>
                <li class="active">在线试衣</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="bg-grey profile">
        <div class="margin-bottom-40">
            <div class="container content-xs">
                <div class="row margin-bottom-20">
                    <div class="col col-md-3 col-sm-3">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left">面料</h2>
                            </div>
                            <div id="sku-list" class="panel-body no-padding mCustomScrollbar"
                                 data-mcs-theme="minimal-dark">
                                <notempty name="tf_img">
                                    <eq name="tf_img[dress_thumb]" value="1">
                                        <php>$actived = 'active';</php>
                                        <div class="media item thumb {$actived}" data-key="main">
                                            <div class="media-left">
                                                <img class="media-object"
                                                     src="{:get_thumb_url($tf_img[thumb],true,150)}">
                                            </div>
                                        </div>
                                    </eq>
                                    <volist name="tf_img[photo]" id="vo">
                                        <eq name="vo[dress_status]" value="1">
                                            <php>
                                                if(isset($actived)){
                                                $actived = '';
                                                }else{
                                                $actived = $key === 0 ? 'active':'';
                                                }
                                            </php>
                                            <div class="media item thumb {$actived}" data-key="{$key}">
                                                <div class="media-left">
                                                    <img class="media-object"
                                                         src="{:get_thumb_url($vo[url],true,150)}">
                                                </div>
                                            </div>
                                        </eq>
                                    </volist>
                                </notempty>
                                <foreach name="skulist" item="vo">
                                    <php>
                                        if(isset($actived)){
                                        $actived = '';
                                        }else{
                                        $actived = $key === 0 ? 'active':'';
                                        }
                                    </php>
                                    <notempty name="vo.dress_img">

                                    <div class="media item {$actived}" data-id="{$vo.id}">
                                        <div class="media-left">
                                            <img class="media-object"
                                                 src="{:get_thumb_url($vo[dress_img],true,150)}">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">{$vo.color_code}</h4>
                                        </div>
                                    </div>
                                    </notempty>
                                </foreach>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-6 col-sm-6">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left">预览</h2>
                            </div>
                            <div id="preview" class="panel-body no-padding mCustomScrollbar">
                                <div class="control">
                                    <eq name="settings[translate][enabled]" value="1">
                                        <div><span class="fa fa-arrow-up" aria-hidden="true" onclick="Up();"></span></div>
                                        <div>
                                            <span class="fa fa-arrow-left" aria-hidden="true" onclick="Left();"></span>
                                            <span class="fa fa-arrow-right" aria-hidden="true" onclick="Right();"></span>
                                        </div>
                                        <div><span class="fa fa-arrow-down" aria-hidden="true" onclick="Down();"></span>
                                        </div>
                                    </eq>
                                    <eq name="settings[zoom][enabled]" value="1">
                                        <div><span class="fa fa-search-plus" aria-hidden="true"
                                                   onclick="zoomPlus();"></span></div>
                                        <div><span class="fa fa-search-minus" aria-hidden="true"
                                                   onclick="zoomMinus();"></span></div>
                                    </eq>
                                </div>
                                <img style="padding: 10px;" id="dress-pic" class="img-responsive" src="">
                                <p class="loading">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3 col-sm-3">
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left">模特</h2>
                            </div>
                            <div id="model-list" class="panel-body mCustomScrollbar"
                                 data-mcs-theme="minimal-dark">
                                <div class="blog_masonry_3col no-margin no-padding">
                                    <div class="grid-boxes">
                                        <foreach name="models" item="vo">
                                            <php>$actived = $key === 0 ? 'active':'';</php>
                                            <div class="item grid-boxes-in {$actived}"
                                                 data-id="{$vo.id}">
                                                <img class="img-responsive"
                                                     src="{:get_thumb_url($vo[path])}">
                                            </div>
                                        </foreach>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/end row-->
                <div class="text-center">
                    <a class="btn-u btn-u-default btn-u-lg rounded"
                       href="{:leuu('Tf/Tf/fabric',array('id'=>$id))}">返回面料详情</a>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/masonry/jquery.masonry.min.js"></script>
</block>
<block name="app_js">
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init();
            App.initScrollBar();
            var $container = $('.grid-boxes');

            var gutter = 10;
            var min_width = 50;
            $container.imagesLoaded(function () {
                $container.masonry({
                    itemSelector: '.grid-boxes-in',
                    gutterWidth: gutter,
                    isAnimated: true,
                    columnWidth: function (containerWidth) {
                        var box_width = (((containerWidth - 2 * gutter) / 3) | 0);

                        if (box_width < min_width) {
                            box_width = (((containerWidth - gutter) / 2) | 0);
                        }

                        if (box_width < min_width) {
                            box_width = containerWidth;
                        }

                        $('.grid-boxes-in').width(box_width - 3);

                        return box_width;
                    }
                });
            });
        });
    </script>
</block>
<block name="js">
    <script>
        var zoom = 0;
        var posX = 0;
        var posY = 0;
        $(function () {
            if($('#sku-list .item').length > 0 && $('#model-list .item').length > 0){
                if($('#sku-list .item.active').length == 0){
                    $('#sku-list .item').eq(0).addClass('active');
                }
                getSelectedDress();
            }else{
                $('.loading').hide();
            }
            $('#model-list,#sku-list').on('click', '.item', function () {
                if (!$(this).hasClass('active')) {
                    $(this).parent().find('.active').removeClass('active');
                    $(this).addClass('active');
                    $('#dress-pic').attr('src', '');
                    zoom = 0;
                    posX = 0;
                    posY = 0;
                    getSelectedDress();
                }
            });
        });

        function getSelectedDress(requested) {
            if (typeof requested === "undefined") {
                requested = 0;
            }
            var $item = $('#sku-list .item.active');
            var $pic = $('#dress-pic');
            var $loading = $('.loading');
            var $control = $('#preview .control');
            var url = '/index.php?g=Tf&m=Dress&a=get_dress';
            var data = {
                //sku_id: $('#sku-list .item.active').data('id'),
                model_id: $('#model-list .item.active').data('id'),
                zoom: zoom,
                x: posX,
                y: posY
            };
            if($item.hasClass('thumb')){
                url = '/index.php?g=Tf&m=Dress&a=get_dress_by_thumb';
                data.key = $item.data('key');
                data.id = "{:I('get.id/d',0)}";
            }else{
                data.sku_id = $item.data('id');
            }
            if(parseInt(data.model_id) > 0){
                $loading.show();
                $control.hide();
                if (requested) {
                    data.requested = 1;
                }
                $.getJSON(url, data, function (response) {
                    if (!response.status) {
                        $loading.hide();
                        $control.show();
                        noty({type: 'error', text: response.info});
                    } else {
                        switch (response.data.state) {
                            case 'DOWNLOADING':
                                $pic.attr('src', response.data.remote_url);
                                $loading.hide();
                                $control.show();
                                break;
                            case 'DOWNLOADED':
                            case 'EXIST':
                                $pic.attr('src', response.data.url);
                                $loading.hide();
                                $control.show();
                                break;
                            case 'REQUESTED':
                            case 'PROCESSING':
                                setTimeout(function () {
                                    getSelectedDress(1);
                                }, 1000);
                                break;
                            default:
                                setTimeout(getSelectedDress, 1000);
                        }
                    }
                })
            }else{
                $loading.hide();
                $control.hide();
            }
        }

        function Up(){
            posY --;
            getSelectedDress();
        }

        function Down(){
            posY ++;
            getSelectedDress();
        }

        function Left(){
            posX --;
            getSelectedDress();
        }

        function Right(){
            posX ++;
            getSelectedDress();
        }

        function zoomPlus(){
            zoom ++;
            getSelectedDress();
        }

        function zoomMinus(){
            zoom --;
            getSelectedDress();
        }
    </script>
</block>