<extend name="Public:base-v8" />
<block name="title"><title>拼单详情 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">订单详情</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('index')}">我的订单</a></li>
                <li class="active">订单详情</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>
            <div class="col-md-9">
                <div class="panel panel-default basic-info margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 基本信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width:15%;">拼单号：</th>
                            <td style="width:35%;">{$group_sn}</td>
                            <th style="width:15%;">状态：</th>
                            <td style="width:35%;">{$statuses[$group_status]}</td>
                        </tr>
                        <tr>
                            <th>成团需求量：</th>
                            <td>{$min_charge}{$goods_unit}</td>
                            <th>已付款数量：</th>
                            <td>{$paid_goods_number}{$goods_unit}</td>
                        </tr>
                        <tr>
                            <th>订单数：</th>
                            <td>{:count($orders)}</td>
                            <th>已付款订单数：</th>
                            <td>{$paid_user_number}</td>
                        </tr>
                        <tr>
                            <th>创建时间：</th>
                            <td>{$create_date}</td>
                            <th>过期时间：</th>
                            <td>{$expire_date}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 商品信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>订单号</th>
                            <th>购货人</th>
                            <th>状态</th>
                            <th>购买数量</th>
                            <th>小计</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="orders" id="vo">
                            <tr>
                                <td><a href="{:leuu('Order/SupplierGrorder/view',array('id'=>$vo[id]))}">{$vo.order_sn}</a></td>
                                <td>{$vo.user_nickname}</td>
                                <td>
                                    <span style="display: block">
                                                <in name="vo[order_status]" value="0,1">
                                                    <in name="vo[pay_status]" value="0,1">等待买家付款</in>
                                                <eq name="vo[pay_status]" value="2">
                                                    <eq name="vo[shipping_status]" value="0">已付款</eq>
                                                    <eq name="vo[shipping_status]" value="3">待生产</eq>
                                                    <eq name="vo[shipping_status]" value="4">待发货</eq>
                                                    <eq name="vo[shipping_status]" value="1">已发货</eq>
                                                    <eq name="vo[shipping_status]" value="2">已完成</eq>
                                                </eq>
                                                </in>
                                                <in name="vo[order_status]" value="2,3">已关闭</in>
                                                <eq name="vo[order_status]" value="4">退款中</eq>
                                            </span>
                                </td>
                                <td>{$goods.number}{$goods.unit}</td>
                                <td>￥{:number_format($vo[goods_amount],2)}</td>
                            </tr>
                        </volist>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <th class="text-right">合计：</th>
                            <td>￥{:number_format($goods_amount,2)}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <form class="panel panel-default sky-form margin-bottom-10"
                      method="post" action="{:leuu('operate_post')}" style="margin-bottom:10px;">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 操作信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <if condition="$supplierDealSource OR $supplierDealDist OR $distributorDealDist">
                        <tr>
                            <th style="width:140px;">操作备注</th>
                            <td colspan="5">
                                <label class="textarea">
                                    <textarea name="action_note" rows="3"></textarea>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>当前可执行操作</th>
                            <td colspan="5" class="text-center">
                                <if condition="$supplierDealSource OR $supplierDealDist">
                                    <eq name="group_status" value="0">
                                        <button class="btn-u btn-u-primary margin-right-10" type="submit"
                                                name="act" value="grouped">成团</button>
                                    </eq>
                                    <eq name="group_status" value="1">
                                        <foreach name="actions" item="vo">
                                            <eq name="vo" value="1">
                                                <button class="btn-u btn-u-primary margin-right-10" type="submit"
                                                        name="act" value="{$key}">{$model_actions[$key]}</button>
                                            </eq>
                                        </foreach>
                                    </eq>
                                </if>
                                <if condition="$distributorDealDist">
                                    <eq name="group_status" value="1">
                                        <button class="btn-u btn-u-primary margin-right-10" type="submit"
                                                name="act" value="handover">转给供应商</button>
                                    </eq>
                                </if>
                                <input name="group_id" type="hidden" value="{$id}">
                            </td>
                        </tr>
                            </if>
                        <tr>
                            <th>操作者</th>
                            <th>操作</th>
                            <th>操作时间</th>
                            <th>状态</th>
                            <th>备注</th>
                        </tr>
                        <volist name="logs" id="vo">
                            <tr>
                                <td>{$vo[nickname]}</td>
                                <td>{$model_actions[strtolower($vo[action_name])]}</td>
                                <td>{$vo[log_time]}</td>
                                <td>{$statuses[$vo[group_status]]}</td>
                                <td>{$vo.action_note}</td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </form>
                <!--End Invoice Footer-->
                <if condition="$distributorViewDist">
                    <div class="text-center">
                        <a class="btn-u btn-u-default btn-u-lg rounded margin-bottom-10" href="{:leuu('index')}">返回</a>
                    </div>
                </if>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate();
        })
    </script>
</block>