<extend name="Public:base-v8" />
<block name="title"><title>面料产品列表 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/global.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/page_search.css">
</block>
<block name="css">
    <style>
        .btn-u.btn-brd.btn-collect {
            color: #e6125d;
        }
        .btn-u.btn-brd.btn-collect.active {
            background: #e6125d;
            color: #fff;
        }

        .card-title {
            color: #e6125d;
            border-bottom: 1px solid #eee;
        }
        .dropdown-menu {
            min-width:102px;
        }
    </style>
</block>
<block name="main">
    <tc_include file="Public:search-block"/>

    <!--=== Content Part ===-->
    <div class="bg-color-light">
        <!--=== Content Part ===-->
        <div class="content container">
            <div class="row margin-bottom-5">
                <div class="col-sm-4 result-category">
                    <h2 style="font-size: 24px">色卡</h2>
                    <small class="shop-bg-red badge-results">{$list[total]} 个结果</small>
                </div>
                <div class="col-sm-8" style="padding-right: 0">
                    <ul class="list-inline clear-both">
                        <li class="sort-list-btn">
                            <h3>显示数量 :</h3>
                            <div class="btn-group">
                                <php>$show_num = array(16,12,8,4);</php>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {$_GET['ps']|default=16} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <foreach name="show_num" item="voo">
                                    <li><a href="{:leuu('Colorcard/Index/index',array('ps'=>$voo))}">{$voo}</a></li>
                                    </foreach>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!--/end result category-->

            <div class="product-list filter-results mls-list">
                <div class="row">
                    <volist name="list[data]" id="vo">
                        <eq name="mod" value="0"></div><div class="row"></eq>
                        <div class="col-md-6">
                            <div class="product-item overflow-h">
                                <div class="col-xs-3 text-center">
                                    <a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id]))}" target="_blank" class="color-card-photo">
                                        <img class="lazyload img-responsive" style="margin: 0 auto;height: 117px;" src="{:get_thumb_url($vo[frontcover], true, 150)}">
                                    </a>
                                    <p class="color-card-name margin-top-10"><a href="{:leuu('Supplier/Index/single',array('id'=>$vo[supplier_id]))}">{$vo.biz_name}</a></p>
                                    <div class="" style="margin-top: 31px">
                                        <php>
                                            $actived = $vo['is_collected'] ? 'active':'';
                                            $original_title = $vo['is_collected'] ? '取消收藏':'收藏';
                                        </php>
                                        <button id="btn-collect-{$vo.card_id}" class="btn-u btn-brd btn-brd-hover rounded btn-u-xs js-ajax-btn btn-collect {$actived}"
                                                data-placement="left"
                                                data-href="{:leuu('Collect/Index/toggle',array('type'=>2))}"
                                                data-id="{$vo.card_id}"
                                                data-status="{$vo.is_collected}"
                                                data-method="GET"
                                                data-success="collectSuccess">
                                            <empty name="_SESSION[user]">
                                                <i class="fa fa-heart popup-wx-login" style="vertical-align: middle">&nbsp;{$original_title}</i>
                                            <else/>
                                                <i class="fa fa-heart">&nbsp;{$original_title}</i>
                                            </empty>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xs-8" style="">
                                    <h4 class="card-title"><a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id]))}" target="_blank">{$vo.card_name}</a></h4>
                                    <div class="materials-imgs row margin-bottom-15">
                                        <php>$c=0;</php>
                                        <foreach name="vo[pages]" item="page">
                                            <php>if($c > 3) break;</php>
                                            <foreach name="page[items]" item="goods">
                                                <php>
                                                    $c++;
                                                    if($c > 3) break;
                                                </php>
                                                <div class="col-xs-4">
                                                    <a href="{:leuu('Tf/Tf/fabric',array('id'=>$goods[tf_id]))}">
                                                        <img class="lazyload img-responsive" src="{:get_thumb_url($goods[tf][img][thumb], true, 150)}" style="height:94px;">
                                                    </a>
                                                </div>
                                            </foreach>
                                        </foreach>
                                        <php>unset($c);</php>
                                    </div>
                                </div>
                                <div class="col-xs-1 see-more">
                                    <a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id]))}" target="_blank">
                                        查看
                                        <i class="fa fa-chevron-circle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </volist>
                </div>
            </div>

           <div class="text-center">
                <ul class="pagination pagination-v2" style="color: #555;">{$list['page']}</ul>
            </div><!--/end pagination-->

        </div><!--/end container-->
    </div>
    <!--=== End Content Part ===-->
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
</block>
<block name="js">
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            MouseWheel.initMouseWheel();
        });

        $(".close").click(function () {

        });

        function collectSuccess(response){
            if(response.referer){
                // location.href = response.url;
            }else{
                var $collect = $('#btn-collect-'+response.data.goods_id);
                if (response.state === 'success') {
                    if(response.data.rec_id > 0){
                        $collect.data('status',1).addClass('active');
                        $collect.html('<i class="fa fa-heart" style="vertical-align: middle"></i> 取消收藏');
                        noty({type:'success',text:'已添加收藏！'});
                    }else{
                        $collect.data('status',0).removeClass('active');
                        $collect.html('<i class="fa fa-heart" style="vertical-align: middle"></i> 收藏');
                        noty({type:'success',text:'已取消收藏！'});
                    }
                } else if (response.state === 'fail') {
                    noty({type:'error',text:response.info});
                }
            }
        }
    </script>
</block>