<extend name="Public:base-v8" />
<block name="title"><title>添加收货地址 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form footer {border-top:none;}
        #addressListBox .set-default {}
        #addressListBox tr:hover .set-default {display:inline;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">添加收货地址</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('User/Center/profile')}">设置中心</a></li>
                <li><a href="{:leuu('Address/Bm/index')}">收货地址</a></li>
                <li class="active">添加收货地址</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-setting"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('Address/Bm/index')}">收货地址</a></li>
                        <li class="active"><a href="{:leuu('Address/Bm/add')}">添加收货地址</a></li>
                    </ul>
                    <div class="tab-content">
                        <form class="sky-form add-address-form" id="addAddressForm"
                              action="{:leuu('add_post')}" method="post" style="border:none;margin-bottom:30px;">
                            <fieldset class="no-padding">
                                <div class="row">
                                    <section class="col col-4">
                                        <label for="inputAddressName" class="label">地址名称（必须）</label>
                                        <div class="input">
                                            <input type="text" id="inputAddressName" name="address_name" value="{$address_name}" required>
                                        </div>
                                        <div class="note">例如：家、公司、学校</div>
                                    </section>
                                </div>
                                <label class="label">地区</label>
                                <div class="row">
                                    <section class="col col-3">
                                        <label class="select">
                                            <select name="province" data-sub="city" required onchange="getAreas(this.value,'city')">
                                                <option disabled selected>省（必须）</option>
                                                <foreach name="areas[areas][provinces]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['province'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="select">
                                            <select name="city" data-sub="district" required onchange="getAreas(this.value,'district')">
                                                <option disabled selected>市（必须）</option>
                                                <foreach name="areas[areas][cities]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['city'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="select">
                                            <select name="district" required>
                                                <option disabled selected>区（必须）</option>
                                                <foreach name="areas[areas][districts]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['district'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col col-3">
                                        <label class="input"><input type="number" name="zipcode" value="{$zipcode}" placeholder="邮编" /></label>
                                    </section>
                                </div>
                                <section>
                                    <label for="inputAddress" class="label">详细地址</label>
                                    <label class="input">
                                        <input type="text" id="inputAddress" name="address" value="{$address}" required
                                               placeholder="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息">
                                    </label>
                                </section>
                                <div class="row">
                                    <section class="col col-3">
                                        <label for="inputContactName" class="label">联系人（必须）</label>
                                        <div class="input">
                                            <input type="text" id="inputContactName" name="consignee" value="{$consignee}" required>
                                        </div>
                                    </section>
                                    <section class="col col-3">
                                        <label for="inputContactPhone" class="label">手机（必须）</label>
                                        <div class="input">
                                            <input type="text" id="inputContactPhone" name="mobile" value="{$mobile}" required>
                                        </div>
                                    </section>
                                    <section class="col col-3">
                                        <label for="inputTel" class="label">固话</label>
                                        <div class="input">
                                            <input type="text" id="inputTel" name="tel" value="{$tel}">
                                        </div>
                                    </section>
                                    <section class="col col-3">
                                        <label for="inputEmail" class="label">邮箱</label>
                                        <label class="input">
                                            <input type="email" id="inputEmail" name="email" value="{$email}">
                                        </label>
                                    </section>
                                </div>

                                <section>
                                    <label class="checkbox">
                                        <input type="checkbox" name="is_default" value="1" <eq name="is_default" value="1">checked</eq>><i></i>默认地址</label>
                                </section>
                            </fieldset>
                            <footer class="no-padding">
                                <input type="hidden" name="sign_building" value="{$sign_building}">
                                <input type="hidden" name="best_time" value="{$best_time}">
                                <button type="submit" class="btn-u">保存</button>
                                <a class="btn-u btn-u-default" href="{:leuu('index')}">返回</a>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("#addAddressForm").validate({
                rules:
                {
                    address_name:
                    {
                        required: 1,
                    },
                    province:
                    {
                        required: 1,
                    },
                    city:
                    {
                        required: 1,
                    },
                    district:
                    {
                        required: 1,
                    },
                    address:
                    {
                        required: 1,
                    },
                    consignee:
                    {
                        required: 1,
                    },
                    mobile:
                    {
                        required: 1,
                        mobile: 1,
                    }
                },
                messages:
                {
                    address_name:
                    {
                        required: "请填写地址名称",
                    },
                    province:
                    {
                        required: "请选择省份",
                    },
                    city:
                    {
                        required: "请选择城市",
                    },
                    district:
                    {
                        required: "请选择区",
                    },
                    address:
                    {
                        required: "请填写详细地址",
                    },
                    consignee:
                    {
                        required: "请填写联系人姓名",
                    },
                    mobile:
                    {
                        required: "请填写联系人手机",
                    }
                }
            });

            getAreas(0, 'province', function () {
                var province = '440000';    //广东省
                var city = '440100';        //广州市
                $('[name="province"]').find('[value="' + province + '"]').attr('selected','selected');
                getAreas(province, 'city', function () {
                    $('[name="city"]').find('[value="' + city + '"]').attr('selected','selected');
                    getAreas(city, 'district')
                });
            });
        })
    </script>
</block>