<extend name="Public:base-v8" />
<block name="title"><title>我的收货地址 {$site_name}</title></block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_magazine.css">
</block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form footer {border-top:none;}
        #addressListBox .set-default {}
        #addressListBox tr:hover .set-default {display:inline;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">收货地址</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('User/Center/profile')}">设置中心</a></li>
                <li class="active">收货地址</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-setting"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="{:leuu('Address/Bm/index')}">收货地址</a></li>
                        <li><a href="{:leuu('Address/Bm/add')}">添加收货地址</a></li>
                    </ul>
                    <div class="tab-content" style="padding:0;">
                        <notempty name="dsfsdfsdfds">
                            <form class="sky-form add-address-form" id="addAddressForm"
                                  action="{:leuu('add_post')}" method="post" style="margin-bottom:30px;">
                                <div class="headline text-left"><h2 class="heading-sm">添加收货地址</h2></div>
                                <fieldset class="no-padding">
                                    <div class="row">
                                        <section class="col col-4">
                                            <label for="inputAddressName" class="label">地址名称（必须）</label>
                                            <div class="input">
                                                <input type="text" id="inputAddressName" name="address_name" required>
                                            </div>
                                            <div class="note">例如：家、公司、学校</div>
                                        </section>
                                    </div>
                                    <label class="label">地区</label>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label class="select">
                                                <select name="province" data-sub="city" required onchange="getAreas(this.value,'city')">
                                                    <option disabled selected>省（必须）</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="select">
                                                <select name="city" data-sub="district" required onchange="getAreas(this.value,'district')">
                                                    <option disabled selected>市（必须）</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="select">
                                                <select name="district" required>
                                                    <option disabled selected>区（必须）</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-3">
                                            <label class="input"><input type="number" name="zipcode" placeholder="邮编" /></label>
                                        </section>
                                    </div>
                                    <section>
                                        <label for="inputAddress" class="label">详细地址</label>
                                        <label class="input">
                                            <input type="text" id="inputAddress" name="address" required
                                                   placeholder="建议您如实填写详细收货地址，例如街道名称，门牌号码，楼层和房间号等信息">
                                        </label>
                                    </section>
                                    <div class="row">
                                        <section class="col col-3">
                                            <label for="inputContactName" class="label">联系人（必须）</label>
                                            <div class="input">
                                                <input type="text" id="inputContactName" name="consignee" required>
                                            </div>
                                        </section>
                                        <section class="col col-3">
                                            <label for="inputContactPhone" class="label">手机（必须）</label>
                                            <div class="input">
                                                <input type="text" id="inputContactPhone" name="mobile" required>
                                            </div>
                                        </section>
                                        <section class="col col-3">
                                            <label for="inputTel" class="label">固话</label>
                                            <div class="input">
                                                <input type="text" id="inputTel" name="tel">
                                            </div>
                                        </section>
                                        <section class="col col-3">
                                            <label for="inputEmail" class="label">邮箱</label>
                                            <label class="input">
                                                <input type="email" id="inputEmail" name="email">
                                            </label>
                                        </section>
                                    </div>

                                    <section>
                                        <label class="checkbox">
                                            <input type="checkbox" name="is_default" value="1"><i></i>默认地址</label>
                                    </section>
                                </fieldset>
                                <footer class="no-padding">
                                    <input type="hidden" name="country" value="0">
                                    <input type="hidden" name="sign_building" value="">
                                    <input type="hidden" name="best_time" value="">
                                    <button type="submit" class="btn-u">添加</button>
                                </footer>
                            </form>
                        </notempty>
                        <div class="address-list">
                            <table class="table table-striped" id="tab">
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>联系人</th>
                                    <th>详细地址</th>
                                    <th>联系手机</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="addressListBox">
                                <volist name="list" id="vo">
                                    <tr>
                                        <td><eq name="vo[is_default]" value="1"><strong>【默认地址】</strong></eq>{$vo.address_name}</td>
                                        <td>{$vo.consignee}</td>
                                        <td>{$vo.province_name}{$vo.city_name}{$vo.district_name} {$vo.address} {$vo.zipcode}</td>
                                        <td>{$vo.mobile}</td>
                                        <td>
                                            <a href="{:leuu('edit', array('id'=>$vo['address_id']))}">修改</a>
                                            <eq name="vo[is_default]" value="0">
                                                | <a class="js-ajax-btn" data-confirm="true" data-id="{$vo.address_id}" data-href="{:leuu('delete')}" href="javascript:;">删除</a>
                                                | <a class="set-default js-ajax-btn" data-id="{$vo.address_id}" data-href="{:leuu('set_default')}" href="javascript:void(0)">设为默认</a>
                                            </eq>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
</block>