<extend name="Admin:base-v2" />
<block name="css"></block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('editinfo', array('uid'=>$uid))}">修改资料</a></li>
                <li><a href="{:U('User/Indexadmin/index')}">返回</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form role="form" action="{:U('editinfo_post')}" method="post" class="sky-form">
                        <header>
                            {$user.user_login}
                        </header>
                        <fieldset>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">手机号码</label>
                                        <p class="col-md-6 col-sm-8">
                                                {$user[userinfo][mobile]|default="未绑定"}
                                        </p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">昵称</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="userinfo[nickname]" value="{$user.userinfo.nickname}" required>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">性别</label>
                                        <label class="select col-md-6 col-sm-8">
                                            <select name="userinfo[sex]">
                                                <option value="1" <eq name="user[userinfo][sex]" value="1">selected</eq>>男</option>
                                                <option value="2" <eq name="user[userinfo][sex]" value="2">selected</eq>>女</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">生日</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="userinfo[birthday]" value="{$user.userinfo.birthday}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">Email</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="email" name="userinfo[email]" value="{$user.userinfo.email}" />
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">QQ</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="userinfo[qq]" value="{$user.userinfo.qq}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">微信</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="userinfo[wechat]" value="{$user.userinfo.wechat}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">固话</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="userinfo[tel]" value="{$user.userinfo.tel}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">地区</label>
                                        <label class="select col-sm-3">
                                            <select name="userinfo[province]" data-sub="userinfo[city]" onchange="getAreas(this.value,'userinfo[city]')">
                                                <option disabled selected>省（必须）</option>
                                                <foreach name="areas[areas][provinces]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['province'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="select col-sm-3">
                                            <select name="userinfo[city]" data-sub="userinfo[district]" onchange="getAreas(this.value,'userinfo[district]')">
                                                <option disabled selected>市（必须）</option>
                                                <foreach name="areas[areas][cities]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['city'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="select col-sm-3">
                                            <select name="userinfo[district]">
                                                <option disabled selected>区（必须）</option>
                                                <foreach name="areas[areas][districts]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['district'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">地址</label>
                                        <label class="input col-sm-9">
                                            <input type="text" name="userinfo[address]" value="{$user.userinfo.address}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">公司信息</label>
                                        <label class="textarea col-sm-9">
                                            <textarea name="userinfo[corpinfo]" rows="3">{$user.userinfo.corpinfo}</textarea>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">个人介绍</label>
                                        <label class="textarea col-sm-9">
                                            <textarea name="userinfo[desc]" maxlength="500" rows="3" placeholder="最多500个字">{$user.userinfo.desc}</textarea>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">信息公开</label>
                                        <label class="select col-sm-2">
                                            <select name="userinfo[ispublic]">
                                                <option value="1" <eq name="user[userinfo][ispublic]" value="1">selected</eq>>是</option>
                                                <option value="0" <eq name="user[userinfo][ispublic]" value="0">selected</eq>>否</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                        </fieldset>
                        <footer>
                            <input type="hidden" name="id" value="{$user.id}">
                            <input type="hidden" name="userinfo[id]" value="{$user.userinfo.id}">
                            <button type="submit" class="btn-u">保存</button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){

            $('[name="userinfo[birthday]"]').datepicker({
                dateFormat: 'yy-mm-dd',
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });

            $('.sky-form').validate({
                rules: {
                    "userinfo[nickname]":"required",
                    "userinfo[mobile]":"required"
                },
                messages: {
                    "userinfo[nickname]":"请填写昵称",
                    "userinfo[mobile]": {
                        required:"请填写手机号码",
                    }
                }
            });
        });
    </script>
</block>