<extend name="Public:base-v8" />
<block name="title"><title>购买色卡 色卡管理 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/master-slider/masterslider/style/masterslider.css">
    <link rel='stylesheet' href="__PUBLIC__/u/plugins/master-slider/masterslider/skins/default/style.css">
    <link rel="stylesheet" href="__TMPL__assets/css/plugins/fileinput.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_magazine.css">
</block>
<block name="css">
    <style>
        .shop-product {background:#fff;}
        .shop-product .product-quantity {float:none;}

        .sky-form .radio.product-size,
        .sky-form .radio.product-color {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            padding: 0;
        }
        .sky-form .radio.product-size {
            width: auto;
        }
        .sky-form .radio.product-size input + i,
        .sky-form .radio.product-color input + i {
            position: relative;
            border: 2px solid #ddd;
            border-radius: 0;
            width: 50px;
            height: 50px;
            background-size: contain;
            font-size: 18px;
            font-style: normal;
            line-height: 50px;
        }
        .sky-form .radio.product-size input + i {
            width: auto;
            padding: 0 15px;
        }
        .sky-form .radio.product-size input:checked + i,
        .sky-form .radio.product-color input:checked + i {
            border-color: #E6125D;
            color: #E6125D;
        }
        .sky-form .radio.product-size input:checked + i:after,
        .sky-form .radio.product-color input:checked + i:after {
            display:none;
        }
        .total-result p {font-size:16px;}
        .total-result p span {font-size:16px;margin-left:10px;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">购买色卡</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Colorcard/Supplier/index')}">色卡管理</a></li>
                <li class="active">购买色卡</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content shop-product">
        <form id="easy-order-form" class="sky-form" method="post" action="{:leuu('easy_order_post')}">
            <fieldset>
                <div class="media margin-bottom-20">
                    <a class="media-left" href="#">
                        <img class="media-object" style="width: 64px; height: 64px;" src="{:get_thumb_url($card[frontcover], true)}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{$card.card_name}</h4>
                        <p class="price color-red" style="font-size:18px;">
                            ￥{$card.card_price}
                        </p>
                    </div>
                </div>
                <section>
                    <label class="label">数量</label>
                    <div class="product-quantity margin-bottom-10">
                        <button type='button' class="quantity-button" name='subtract' value='-'>-
                        </button>
                        <input type='text' class="quantity-field" name='goods_number' value="1" id='qty'/>
                        <button type='button' class="quantity-button" name='add' value='+'>+
                        </button>
                    </div>
                </section>
                <section>
                    <label class="label">选择地址</label>
                    <foreach name="addresses" item="vo">
                        <php>
                            $checked = $vo['is_default'] ? 'checked':'';
                        </php>
                        <label class="radio">
                            <input type="radio" name="address_id" value="{$vo.address_id}" {$checked}><i class="rounded-x"></i>
                            {$vo.province_name}{$vo.city_name}{$vo.district_name}
                            {$vo.address} {$vo.zipcode} {$vo.consignee} {$vo.mobile}
                        </label>
                    </foreach>
                </section>
                <section>
                    <label class="label">选择配送方式</label>
                    <volist name="shippings" id="vo">
                        <php>
                            $checked = $i == 1 ? 'checked':'';
                        </php>
                        <label class="radio">
                            <input type="radio" name="shipping_id" value="{$vo.shipping_id}" {$checked}><i class="rounded-x"></i>
                            {$vo.shipping_name}
                        </label>
                    </volist>
                </section>
                <section>
                    <label class="label">附言</label>
                    <label class="textarea">
                        <textarea class="form-control" type="text" rows="3" name="postscript"
                                  placeholder="给运营人员的留言"></textarea>
                    </label>
                </section>
            </fieldset>
            <footer>
                <ul class="total-result">
                    <li>
                        <p class="goods-amount">总价:<span class="color-red">---</span></p>
                    </li>
                    <li>
                        <p>运费:<span class="color-red">免邮</span></p>
                    </li>
                    <li class="order-amount">
                        <p>合计:<span class="color-red">---</span></p>
                    </li>
                </ul>
                <input type="hidden" name="card_id" value="{$card.card_id}">
                <button class="btn-u btn-u-lg rounded" type="submit">提交订单</button>
                <button class="btn-u btn-u-lg btn-u-default rounded" type="button">返回</button>
            </footer>
        </form>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Master Slider -->
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/masterslider.min.js"></script>
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/jquery.easing.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
</block>
<block name="app_js">
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init();
            App.initScrollBar();
        });
    </script>
</block>
<block name="js">
    <script>
        $(function(){

            var price = {$card.card_price};
            var $form = $('#easy-order-form');
            $form.validate();
            $('.quantity-button').on('click',function(){
                var $this = $(this);
                var $qty = $this.parent().find('.quantity-field');
                var number = parseInt($qty.val());
                if($this.val() == '+'){
                    $qty.val(number+1);
                }else{
                    if(number > 1){
                        $qty.val(number-1);
                    }
                }
                refreshTotal()
            });
            $('.quantity-field').blur(function(){
                var $this = $(this);
                if(parseInt($this.val()) < 1 || typeof $this.val() !== "number"){
                    $this.val(1);
                }
                refreshTotal()
            });

            function refreshTotal(){
                number = $form.find('[name="goods_number"]').val();
                total = (price * number).toFixed(2);
                $('.goods-amount span,.order-amount span').text('￥'+total);
            }
        });
    </script>
</block>
<block name="iefix"><!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</block>