<extend name="Public:base-v8" />
<block name="title"><title>订单详情 {$site_name}</title></block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .tag-box {
            overflow: hidden;
            padding: 10px;
        }
        .tag-box h4 {font-size:15px;color:#333;}
        .dl-horizontal dt {
            float: left;
            width: 80px;
            overflow: hidden;
            clear: left;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight:500;
            color: #555;
        }
        .dl-horizontal dd {
            margin-bottom:5px;
            margin-left: 80px;
            color:#777;
        }

        .thumb .thumb-left {float:left;}
        .thumb .thumb-left {display:block;}
        .thumb .thumb-left img {display:block;width:64px;height:64px;}
        .thumb .thumb-body {float:left;padding-left:10px;}
        .thumb .thumb-body .thumb-heading {font-size:14px;margin-top:0;}
        .thumb .thumb-desc {
            font-size: 12px;
            color: #999;
        }
        .thumb .thumb-desc i.color {
            display:block;
            width:15px;
            height:15px;
            border:1px solid #999;
        }

        .box-status .order-sn {font-size:12px;text-align:center;}
        .box-status h3 {
            margin: 30px 0 40px 0;
            text-align: center;
            font-size: 20px;
        }

    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">订单详情</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Colorcard/Supplier/index')}">色卡管理</a></li>
                <li><a href="{:leuu('Order/Card/index')}">色卡制作单</a></li>
                <li class="active">订单详情</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>
            <div class="col-md-9">

                <div class="tag-box tag-box-v1 box-status margin-bottom-20">
                    <div class="col-sm-3" style="border-right: 1px solid #eee;">
                        <p class="order-sn">订单号：{$order_sn}</p>
                        <h3>
                            <in name="order_status" value="0,1">
                                <in name="pay_status" value="0,1">等待买家付款</in>
                                <eq name="pay_status" value="2">
                                    <in name="shipping_status" value="0,3,4">买家已付款</in>
                                    <eq name="shipping_status" value="1">卖家已发货</eq>
                                    <eq name="shipping_status" value="2">交易成功</eq>
                                </eq>
                            </in>
                            <in name="order_status" value="2,3">交易关闭</in>
                            <eq name="order_status" value="4">退款中的订单</eq>
                        </h3>
                    </div>
                    <div class="col-sm-9">
                        <h4>订单信息</h4>
                        <dl class="dl-horizontal">
                            <dt>下单时间:</dt>
                            <dd>{:date('Y-m-d H:i:s', $add_time)}</dd>
                            <dt>付款时间:</dt>
                            <dd>
                                <notempty name="pay_time">
                                    {:date('Y-m-d H:i:s', $pay_time)}
                                    <else />
                                    未付款
                                </notempty>
                            </dd>
                            <dt>发货时间:</dt>
                            <dd>
                                <notempty name="shipping_time">
                                    {:date('Y-m-d H:i:s', $shipping_time)}
                                    <else />
                                    未发货
                                </notempty>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="tag-box tag-box-v1 margin-bottom-40">
                    <div class="col-sm-6" style="border-right: 1px solid #eee;">
                        <h4>收货人信息</h4>
                        <dl class="dl-horizontal">
                            <dt>收货人:</dt>
                            <dd>{$consignee}</dd>
                            <dt>地址:</dt>
                            <dd>{$province_name}{$city_name}{$district_name}
                                {$address} <notempty name="zipcode">{$zipcode} </notempty></dd>
                            <dt>手机号码:</dt>
                            <dd>{$mobile}</dd>
                        </dl>
                    </div>
                    <div class="col-sm-6">
                        <h4>配送信息</h4>
                        <dl class="dl-horizontal">
                            <dt>配送方式:</dt>
                            <dd>{$shipping_name}</dd>
                            <dt>运费:</dt>
                            <dd>￥{$shipping_fee}</dd>
                            <dt>物流单号:</dt>
                            <dd>{$invoice_no|default='---'}</dd>
                        </dl>
                    </div>
                </div>

                <div class="panel panel-default margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title">订单清单</h3>
                    </div>
                    <table class="table invoice-table">
                        <thead>
                        <tr>
                            <th>商品</th>
                            <th>商品编号</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>小计</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="goods" item="vo">
                            <tr>
                                <td>
                                    <div class="thumb">
                                        <a class="thumb-left" href="{:leuu('Colorcard/Index/view',array('id'=>$vo[goods_id]))}">
                                            <img style="height: 64px;" src="{:get_thumb_url($vo[goods_thumb], true)}" data-holder-rendered="true">
                                        </a>
                                        <div class="thumb-body">
                                            <a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[goods_id]))}">
                                                <h4 class="thumb-heading">{$vo.goods_name}</h4>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>{$vo.goods_sn}</td>
                                <td>￥{$vo.goods_price}</td>
                                <td>{$vo.goods_number}</td>
                                <td>
                                    ￥{:number_format($vo[goods_price] * $vo[goods_number],2)}
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>

                <!--Invoice Footer-->
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-6 text-right">
                        <ul class="list-unstyled invoice-total-info margin-bottom-20">
                            <li><strong>商品总额：</strong> ￥ {$goods_amount}</li>
                            <li><strong>运费：</strong> ----</li>
                            <li><strong>订单金额：</strong> ￥ {$order_amount}</li>
                        </ul>
                        <notin name="order_status" value="2,3,4">
                            <eq name="pay_status" value="0">
                                <a class="btn-u btn-u-primary" href="{:leuu('Wx/Pay/order', array('id'=>$order_id))}">付款</a>
                                <button type="button" class="btn-u btn-u-default js-ajax-btn"
                                        data-confirm="true"
                                        data-msg="是否要取消订单？"
                                        data-id="{$order_id}"
                                        data-href="{:leuu('cancel')}">取消订单</button>
                            </eq>
                            <eq name="shipping_status" value="1">
                                <button type="button" class="btn-u btn-u-primary js-ajax-btn"
                                        data-confirm="true"
                                        data-msg="是否要完成订单？"
                                        data-id="{$order_id}"
                                        data-href="{:leuu('receive')}">确认收货</button>
                            </eq>
                        </notin>
                        <a class="btn-u btn-u-default" href="{:U('index')}">返回</a>
                    </div>
                </div>
                <!--End Invoice Footer-->
            </div>
        </div>
    </div>
</block>
<block name="js">
</block>