<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">所有会员</a></li>
                <li class="active"><a href="{:U('add')}">添加用户</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        <div class="col-sm-6">
                            <form role="form" action="{:U('add_post')}" method="post" class="sky-form">
                                <header>添加用户</header>
                                <fieldset>
                                    <section>
                                        <label for="inputUserLogin" class="label">用户名（必须）</label>
                                        <label class="input">
                                            <input type="text" id="inputUserLogin" name="user_login" required>
                                        </label>
                                    </section>
                                    <section>
                                        <label for="inputPassword" class="label">密码</label>
                                        <label class="input">
                                            <input type="password" id="inputPassword" name="user_pass">
                                        </label>
                                    </section>
                                    <section>
                                        <label for="inputEmail" class="label">邮箱</label>
                                        <label class="input">
                                            <input type="email" id="inputEmail" name="user_email">
                                        </label>
                                    </section>
                                    <section>
                                        <label for="inputMoblie" class="label">手机</label>
                                        <label class="input">
                                            <input type="text" id="inputMoblie" name="mobile">
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <input type="hidden" name="user_type" value="20">
                                    <button type="submit" class="btn-u">提交</button>
                                    <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){

            $(".sky-form").validate({
                rules:
                {
                    user_login:
                    {
                        required: 1
                    },
                    user_pass:
                    {
                        required: 1
                    },
                    /*user_email:
                    {
                        required: 1
                    },
                    mobile:
                    {
                        required: 1,
                        mobile: true
                    }*/
                },
                messages:
                {
                    user_login:
                    {
                        required: '请输入用户名！'
                    },
                    user_pass:
                    {
                        required: '请输入密码！'
                    },
                    /*user_email:
                    {
                        required: '请输入电子邮箱！'
                    },
                    mobile:
                    {
                        required: '请输入手机号！'
                    }*/
                }
            });
        });
    </script>
</block>