<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <php>
                    $all_actived = !isset($_GET[status]) ? 'active':'';
                    $status0_actived = isset($_GET[status]) && $_GET['status'] == 0 ? 'active':'';
                    $status1_actived = isset($_GET[status]) && $_GET['status'] == 1 ? 'active':'';
                </php>
                <li class="{$all_actived}"><a href="{:U('index')}">所有会员</a></li>
                <li class="{$status1_actived}"><a href="{:U('index', array('status'=>1))}">正常</a></li>
                <li class="{$status0_actived}"><a href="{:U('index', array('status'=>0))}">已禁用</a></li>
                <!--<li><a href="{:U('add')}">添加用户</a></li>-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="panel panel-default margin-bottom-40">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-tasks"></i> 筛选</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline form-search" method="post" action="{:U('Indexadmin/index')}">
                               
                                <div class="form-group">
                                    <label>用户ID：</label>
                                    <input type="text" class="form-control" name="uid" style="width: 120px;" value="{:I('request.uid')}" placeholder="请输入用户ID">
                                </div>&nbsp;&nbsp;
                                <div class="form-group">
                                    <label>关键字：</label>
                                    <input type="text" class="form-control" name="keyword" style="width: 200px;" value="{:I('request.keyword')}" placeholder="用户名/昵称/邮箱">
                                </div>&nbsp;&nbsp;
                                 <div class="form-group">
                                    <label>供应商好友:</label>
                                    <select name="supplier_id" class="form-control" style="width:250px;">
                                    <option value="">全部</option>

                                        <foreach name="memberList" item="vo">
                                            <php>$selected = $memberid == $vo[id] ? 'selected':'';</php>
                                            <option value="{$vo.id}" {$selected}>{$vo.biz_name}</option>
                                        </foreach>
                                    </select>
                                </div>&nbsp;&nbsp;
                                <button type="submit" class="btn-u btn-u-red">搜索</button>
                                <a class="btn-u btn-u-default" href="{:U('Indexadmin/index')}">清空</a>
                            </form>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th align="center">ID</th>
                            <th>{:L('USERNAME')}</th>
                            <th>{:L('NICENAME')}</th>
                            <th>{:L('MOBILE')}</th>
                            <th>{:L('EMAIL')}</th>
                            <th>{:L('REGISTRATION_TIME')}</th>
                            <!--<th>{:L('LAST_LOGIN_TIME')}</th>
                            <th>{:L('LAST_LOGIN_IP')}</th>-->
                            <th>{:L('STATUS')}</th>
                            <th align="center">{:L('ACTIONS')}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <php>$user_statuses=array("0"=>L('USER_STATUS_BLOCKED'),"1"=>L('USER_STATUS_ACTIVATED'),"2"=>L('USER_STATUS_UNVERIFIED'));
                        </php>
                        <foreach name="users[data]" item="vo">
                            <tr>
                                <td align="center">{$vo.id}</td>
                                <td>
                                    <a href="{:U('User/Admin/editinfo', array('uid'=>$vo['id']))}">
                                    <img width="25" height="25" src="{:get_avatar_url($vo[userinfo][avatar])}" />
                                    {$vo['user_login']?$vo['user_login']:L('THIRD_PARTY_USER')}
                                    </a>
                                </td>
                                <td>{$vo['nickname']?$vo['nickname']:L('NOT_FILLED')}</td>
                                <td>{$vo.userinfo.mobile}</td>
                                <td>{$vo.userinfo.email}</td>
                                <td>{$vo.create_time}</td>
                                <!--<td>{$vo.last_login_time}</td>
                                <td>{$vo.last_login_ip}</td>-->
                                <td>{$user_statuses[$vo['user_status']]}</td>
                                <td>
                                    <neq name="vo.id" value="1">
                                        <eq name="vo[user_status]" value="0">
                                            <a href="javascript:void(0);" class="js-ajax-btn"
                                            data-confirm="true"
                                            data-msg="{:L('ACTIVATE_USER_CONFIRM_MESSAGE')}"
                                            data-id="{$vo.id}"
                                            data-href="{:U('cancelban')}">{:L('ACTIVATE_USER')}</a> |
                                            <a href="javascript:void(0);" class="js-ajax-btn"
                                            data-confirm="true"
                                            data-msg="是否删除该用户？"
                                            data-id="{$vo.id}"
                                            data-href="{:U('delete')}">删除</a>
                                        </eq>
                                        <eq name="vo[user_status]" value="1">
                                            <a href="{:U('Notify/Admin/send', array('id'=>$vo['id'],'type'=>1))}">发短信</a> |
                                            <a href="javascript:void(0);" href="{:U('indexadmin/ban',array('id'=>$vo['id']))}" class="js-ajax-btn"
                                            data-confirm="true"
                                            data-msg="{:L('BLOCK_USER_CONFIRM_MESSAGE')}"
                                            data-id="{$vo.id}"
                                            data-href="{:U('ban')}">{:L('BLOCK_USER')}</a>
                                        </eq>
                                    </neq>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <ul class="pagination">{$users.page}</ul>
                </div>
            </div>
        </div>
    </div>
</block>