<extend name="Public:base-v8" />
<block name="title"><title>色卡到付 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .table th {
            text-align: center;
            vertical-align:middle !important;
        }
        .table th {
            color:#fff;
            background-color: #E6125D;
            margin-bottom: 10px;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">色卡到付</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">色卡到付</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>
          
             <php> $statuses = D('CardApply')->statuses;
            </php>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li <neq name="_GET[is_colorcard]" value="1">class="active"</neq>>
                        <a href="{:U('index')}">所有申请</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <form class="sky-form" method="get" action="{:leuu(Order/SupplierGroup/index)}" style="margin-bottom:30px!important;border: 1px solid #eee;">
                                    <header>筛选</header>
                                    <fieldset>
                                        <section class="row">
                                        
                                            <label class="input col-sm-3" style="padding-right:10px;">
                                                <input id="data-start" type="text" name="filter[datestart]" placeholder="开始日期" value="{$filter.datestart|default=''}">
                                            </label>
                                            <label class="input col-sm-3 date2" style="padding-left:10px;">
                                                <input id="data-finish" type="text" name="filter[datefinish]" placeholder="截止日期" value="{$filter.datefinish|default=''}">
                                            </label>
                                            <label class="select col-sm-2">
                                                <select name="filter[status]">
                                                    <option value="-1">所有</option>
                                                    <foreach name="statuses" item="vo">
                                                        <php>$selected = isset($filter['status']) && $filter['status'] == $key ?'selected':'';</php>
                                                        <option value="{$key}" {$selected}>{$vo}</option>
                                                    </foreach>
                                                </select>
                                                <i></i>
                                            </label>
                                            <label class="col-sm-1">
                                                <button type="submit" class="btn-u"><i class="fa fa-search"></i> </button>
                                            </label>
                                        </section>
                                    </fieldset>
                                </form>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>面料</th>
                                    <th>申请人</th>
                                    <th>收货地址</th>
                                    <th>申请时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="applys[data]" id="vo">
                                    <tr>
                                        <td>{$vo.id}</td>
                                        <td>[#{$vo.tf.tf_code}] {$vo.tf.name}</td>
                                        <td>{$vo.user.nickname}</td>
                                        <td>{$vo.province_name}{$vo.city_name}{$vo.district_name}{$vo.address} {$vo.consignee}  {$vo.mobile}</td>
                                        <td>{:date('Y-m-d',strtotime($vo['apply_time']))}</td>
                                        <td>{$statuses[$vo[apply_status]]}</td>
                                        <td>
                                            <a href="{:leuu('view',array('id'=>$vo['id']))}">查看</a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                            <ul class="pagination">{$applys.page}</ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        // Date range
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });
    </script>
</block>