<extend name="Public:base-v8" />
<block name="title"><title>到付详情 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">到付详情</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Tf/SupplierCardapply/index')}">色卡到付</a></li>
                <li class="active">到付详情</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="panel panel-default basic-info margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 基本信息</h3>
                    </div>
                    <form id="delivery" action="{:leuu('Tf/SupplierCardapply/deliver_goods')}" method="post">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th>购货人：</th>
                            <td>
                               
                                {$apply[user][nickname]|default=$apply[user][user_login]}
                            
                            </td>

                            <th>申请时间</th>
                            <td>{$apply.apply_time}</td>
                        </tr>
                        <tr>
                            <th>配送方式：</th>
                            <td>{$apply.shipping_name}</td>
                            <th>状态：</th>
                            <php> 
                                $statuses = D('CardApply')->statuses;
                             </php>
                            <td>
                                {$statuses[$apply[apply_status]]}
                            </td>
                        </tr>
                        <tr>
                            <th>发货单号：</th>
                            <td colspan="3">
                                {$apply['delivery_num']}
                                <empty name="apply[delivery_num]"> 
                                    <input type="text" name="delivery_num" value="{$apply['delivery_num']}" {$readonly} style="width:400px" >
                                </empty>
                            </td>
                        </tr>
                       
                        <tr>
                            <th>操作备注</th>
                            <td colspan="3">
                                <lt name="apply[apply_status]" value="1">  
                                <label class="textarea">
                                    {$apply.action_note}
                                    <empty name="apply[action_note]"> 
                                    <textarea name="action_note" rows="3" cols="50" placeholder="请输入备注，如注明什么快递">{$apply.action_note}</textarea>   
                                    </empty>
                                </label>
                            </td>
                        </tr>
                        <lt name="apply[apply_status]" value="1">   
                        <tr>
                            <th colspan="4" style="vertical-align: middle; text-align: center; ">
                              <input type="hidden" name="id" value="{$apply['id']}">
                                <empty name="apply[delivery_num]"> 
                                    <button class="btn-u btn-u-primary text-center" type="submit">发货</button>
                                </empty>
                            </th>
                        </tr>
                        </lt>
                        </tbody>
                    </table>
                     </form> 
                </div>
                <div class="panel panel-default shipping-info margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 收货人信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width:15%;">收货人：</th>
                            <td style="width:35%;">{$apply.consignee}</td>
                            <th style="width:15%;">电子邮件：</th>
                            <td style="width:35%;">{$apply.email}</td>
                        </tr>
                        <tr>
                            <th>地址：</th>
                            <td>
                                [{$apply.province_name}
                                {$apply.city_name}
                                {$apply.district_name}]
                                {$apply.address}
                            </td>
                            <th>邮编：</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th>电话：</th>
                            <td>{$apply.tel}</td>
                            <th>手机：</th>
                            <td>{$apply.mobile}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 商品信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>商品名称</th>
                            <th>货号</th>
                        </tr>
                        </thead>
                        <tbody>
                    
                        <tr>
                            <td><a href="{:leuu('Tf/Tf/fabric', array('id'=>$apply['tf']['id']))}" target="_blank">{$apply.tf.name}</a></td>
                            <td>{$apply.tf.tf_code}</td>
                        </tr>
                    
                        </tbody>
    
                    </table>
                </div>
                <div class="text-center">
                    <a href="{:leuu('Tf/SupplierCardapply/index')}">
                <button class="btn-u btn-u-primary text-center" type="submit" style="background-color:#999;">返回</button>
                </a>
                </div>

               

        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('#delivery').ajaxForm({
            success: function (response) {
                if (response.url) {
                    location.href = response.url;
                } else {
                    if (response.status) {
                        noty({text: response.info, type: 'success'});
                        location.href = location.pathname + window.location.search;
                    } else {
                        noty({text: response.info, type: 'error'});
                    }
                }
            }
        });
        })

    </script>
</block>