<extend name="Public:base-v8" />
<block name="title"><title>订单操作：付款 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">订单操作：付款</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Order/Supplier/index')}">订单管理</a></li>
                <li class="active">订单操作：付款</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <form class="panel panel-default sky-form margin-bottom-10"
                      method="post" action="{:U('operate_post')}">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 订单操作：付款</h3>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width:160px;">付款备注（必填）</th>
                            <td>
                                <label class="textarea">
                                    <textarea name="action_note" rows="3" required placeholder="必填"></textarea>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <input name="order_id" type="hidden" value="{$order_id}">
                                <input type="hidden" name="operation" value="pay">
                                <input type="hidden" name="act" value="operate_post">
                                <button type="submit" class="btn-u btn-u-primary">确定</button>
                                <a href="{:U('view',array('id'=>$order_id))}" class="btn-u btn-u-default">返回</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate({
                messages:{
                    action_note:'请填写操作备注！'
                }
            });
        })
    </script>
</block>