<extend name="Admin:base-v2" />
<block name="title"><title>订单操作：设为未付款 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
    </style>
</block>
<block name="main">
    <form class="panel panel-default sky-form margin-bottom-10"
          method="post" action="{:U('operate_post')}">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-edit"></i> 订单操作：设为未付款</h3>
        </div>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th style="width:160px;">操作备注（必填）</th>
                <td>
                    <label class="textarea">
                        <textarea name="action_note" rows="3" required placeholder="必填">{$action_note}</textarea>
                    </label>
                </td>
            </tr>
            <tr>
                <th>退款方式</th>
                <td>
                    <label class="radio">
                        <input type="radio" name="refund" value="1" checked>
                        <i class="rounded-x"></i>退回用户余额
                    </label>
                    <label class="radio">
                        <input type="radio" name="refund" value="2">
                        <i class="rounded-x"></i>生成退款申请
                    </label>
                    <label class="radio">
                        <input type="radio" name="refund" value="3">
                        <i class="rounded-x"></i>不处理，误操作时选择此项
                    </label>
                </td>
            </tr>
            <tr>
                <th>退款说明</th>
                <td>
                    <label class="textarea">
                        <textarea name="refund_note" rows="3"></textarea>
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <input name="order_id" type="hidden" value="{$order_id}">
                    <input type="hidden" name="operation" value="unpay">
                    <input type="hidden" name="act" value="operate_post">
                    <button type="submit" class="btn-u btn-u-primary">确定</button>
                    <a href="{:U('view',array('id'=>$order_id))}" class="btn-u btn-u-default">返回</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate({
                messages:{
                    action_note:'请填写操作备注！'
                }
            });
        })
    </script>
</block>