<extend name="Admin:base-v2" />
<block name="css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="panel panel-default basic-info margin-bottom-10">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i> 基本信息</h3>
            </div>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th style="width:15%;">订单号：</th>
                    <td style="width:35%;">{$order_sn}</td>
                    <th style="width:15%;">订单状态：</th>
                    <td style="width:35%;">
                        <in name="order_status" value="0,1">
                            <in name="pay_status" value="0,1">等待买家付款</in>
                            <eq name="pay_status" value="2">
                                <in name="shipping_status" value="0,3,4">买家已付款</in>
                                <eq name="shipping_status" value="1">卖家已发货</eq>
                                <eq name="shipping_status" value="2">交易成功</eq>
                            </eq>
                        </in>
                        <in name="order_status" value="2,3">交易关闭</in>
                        <eq name="order_status" value="4">退款中的订单</eq>
                    </td>
                </tr>
                <tr>
                    <th>购货人：</th>
                    <td>
                        <eq name="_GET[is_colorcard]" value="1">
                            {$member.biz_name}
                            <else/>
                            {$user[nickname]|default=$user[user_login]}
                        </eq>
                    </td>

                    <th>下单时间：</th>
                    <td>{:date('Y-m-d H:i:s', $add_time)}</td>
                </tr>
                <tr>
                    <th>支付方式：</th>
                    <td>{$pay_name}</td>
                    <th>付款时间：</th>
                    <td>
                        <eq name="pay_status" value="2">
                            {:date('Y-m-d H:i:s', $pay_time)}
                            <else />
                            {$pay_statuses[$pay_status]}
                        </eq>
                    </td>
                </tr>
                <tr>
                    <th>配送方式：</th>
                    <td>{$shipping_name}</td>
                    <th>发货时间：</th>
                    <td>
                        <between name="shipping_status" value="1,2">
                            {:date('Y-m-d H:i:s', $shipping_time)}
                            <else />
                            {$shipping_statuses[$shipping_status]}
                        </between>
                    </td>
                </tr>
                <tr>
                    <th>发货单号：</th>
                    <td>{$invoice_no}</td>
                    <th></th>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default other-info margin-bottom-10">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i> 其他信息</h3>
            </div>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th style="width:15%;">发票类型：</th>
                    <td style="width:35%;">{$inv_type}</td>
                    <th style="width:15%;"></th>
                    <td style="width:35%;"></td>
                </tr>
                <tr>
                    <th>发票抬头：</th>
                    <td>{$inv_payee}</td>
                    <th>发票内容：</th>
                    <td>{$inv_content}</td>
                </tr>
                <tr>
                    <th>客户给商家的留言：</th>
                    <td colspan="3">{$postscript}</td>
                </tr>
                <tr>
                    <th>商家给客户的留言：</th>
                    <td colspan="3">{$to_buyer}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default shipping-info margin-bottom-10">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i> 收货人信息</h3>
            </div>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th style="width:15%;">收货人：</th>
                    <td style="width:35%;">{$consignee}</td>
                    <th style="width:15%;">电子邮件：</th>
                    <td style="width:35%;">{$email}</td>
                </tr>
                <tr>
                    <th>地址：</th>
                    <td>
                        [{$province_name}
                        {$city_name}
                        {$district_name}]
                        {$address}
                    </td>
                    <th>邮编：</th>
                    <td>{$zipcode}</td>
                </tr>
                <tr>
                    <th>电话：</th>
                    <td>{$tel}</td>
                    <th>手机：</th>
                    <td>{$mobile}</td>
                </tr>
                <tr>
                    <th>标志性建筑：</th>
                    <td>{$sign_building}</td>
                    <th>最佳送货时间：</th>
                    <td>{$best_time}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default margin-bottom-10">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i> 商品信息</h3>
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>商品名称</th>
                    <th>货号</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
                </thead>
                <tbody>
                <volist name="goods" id="vo">
                    <tr>
                        <td><a href="{:leuu('Tf/Tf/fabric', array('id'=>$vo[goods_id]))}" target="_blank">{$vo.goods_name}</a></td>
                        <td>{$vo.goods_sn}</td>
                        <td>{$vo.goods_price}</td>
                        <td>{$vo.goods_number}</td>
                        <td>{:number_format($vo[goods_price] * $vo[goods_number],2)}</td>
                    </tr>
                </volist>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td class="text-right">合计：</td>
                    <td>{$goods_amount}</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel panel-default margin-bottom-10">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i> 费用信息</h3>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li>商品总金额：￥{$goods_amount}元 - 折扣：￥{$discount}元
                        + 发票税额：￥{$tax}元 + 配送费用：￥{$shipping_fee}元
                        + 保价费用：￥{$insure_fee}元 + 支付费用：￥{$pay_fee}元
                        = 应付款金额：￥{$order_amount}元</li>
                </ul>
            </div>
        </div>
        <form class="panel panel-default sky-form margin-bottom-10"
              method="post" action="{:U('operate')}">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i> 操作信息</h3>
            </div>
            <table class="table table-bordered">
                <tbody>
                <present name="xxxxxxxxxxx">
                    <tr>
                        <th>操作备注</th>
                        <td colspan="5">
                            <label class="textarea">
                                <textarea name="action_note" rows="3"></textarea>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>当前可执行操作</th>
                        <td colspan="5" class="text-center">
                            <foreach name="actions" item="vo">
                                <button class="btn-u btn-u-primary margin-right-10" type="submit" name="{$key}" value="{$vo}">{$vo}</button>
                            </foreach>
                            <a href="{:leuu('AdminGroup/group',array('id'=>$group_id))}" class="btn-u btn-u-default margin-right-10">返回拼单</a>
                            <input name="order_id" type="hidden" value="{$order_id}">
                        </td>
                    </tr>
                </present>
                <tr>
                    <th>操作者</th>
                    <th>操作时间</th>
                    <th>订单状态</th>
                    <th>付款状态</th>
                    <th>发货状态</th>
                    <th>备注</th>
                </tr>
                <volist name="logs" id="vo">
                    <tr>
                        <td>{$vo[nickname]}</td>
                        <td>{:date('Y-m-d H:i:s', $vo[log_time])}</td>
                        <td>{$order_statuses[$vo[order_status]]}</td>
                        <td>{$pay_statuses[$vo[pay_status]]}</td>
                        <td>{$shipping_statuses[$vo[shipping_status]]}</td>
                        <td>{$vo.action_note}</td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </form>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate();
        })
    </script>
</block>