<extend name="Public:base-v8" />
<block name="title"><title>需求管理 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
     <style>
        .table th {
            text-align: center;
            vertical-align:middle !important;
        }
        .table th {
            color:#fff;
            background-color: #E6125D;
            margin-bottom: 10px;
        }
        label.input.col-sm-3.date2:before {
            content: '-';
            position: absolute;
            left: -10px;
            width: 20px;
            text-align: center;
            line-height: 34px;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">订单管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">需求管理</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>
            <php>
            $statuses = D('Demand/Task')->statuses;
            </php>
            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <php>
                            if(!isset($_REQUEST['status'])) $default_active = 'active';
                        </php>
                        <li class="{$default_active}"><a href="{:leuu('index')}">所有需求</a></li>
                        <foreach name="statuses" item="vo">
                            <php>
                                if(!in_array($key, array(0,1))) continue;
                                $actived = isset($_GET['status']) && $_GET['status'] == $key ? 'active':'';
                            </php>
                            <li class="{$actived}"><a href="{:leuu('index',array('status'=>$key))}">{$vo}</a></li>
                        </foreach>
                    </ul>
                    <div class="tab-content">
                        <notpresent name="_REQUEST[status]">
                            <form class="sky-form" method="get" action="{:U('index')}" style="margin-bottom:30px!important;border: 1px solid #eee;">
                                <header>筛选</header>
                                <fieldset>
                                    <section class="row">
                                        <label class="input col-sm-3">
                                            <input type="text" name="filter[keywords]" placeholder="面料成份关键字" value="{$filter.keywords}">
                                        </label>
                                        <label class="input col-sm-3" style="padding-right:10px;">
                                            <input id="data-start" type="text" name="filter[datestart]" placeholder="开始日期" value="{$filter.datestart}">
                                        </label>
                                        <label class="input col-sm-3 date2" style="padding-left:10px;">
                                            <input id="data-finish" type="text" name="filter[datefinish]" placeholder="截止日期" value="{$filter.datefinish}">
                                        </label>
                                        <label class="select col-sm-2">
                                            <select name="filter[status]">
                                                <option value="-1">所有</option>
                                                <foreach name="statuses" item="vo">
                                                    <php>$selected = isset($filter['status']) && $filter['status'] == $key ? 'selected':'';</php>
                                                    <option value="{$key}" {$selected}>{$vo}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="col-sm-1">
                                            <button type="submit" class="btn-u"><i class="fa fa-search"></i> </button>
                                        </label>
                                    </section>
                                </fieldset>
                            </form>
                        </notpresent>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>需求面料图样</th>
                                <th>需求描述</th>
                                <th>成份</th>
                                <th>需求量</th>
                                <th>意向价格</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <volist name="list[data]" id="vo">
                            <php>$demand_img = json_decode($vo['demand_img'],true);</php>
                                <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr class="table-bordered" style="background-color:#F5F5F5;" >
                                    <td colspan="2"><label>分配时间：{:date('Y-m-d',$vo[task_created])}</label>&nbsp;&nbsp;
                                    <td><span>期望交货时间:
                                    <notempty name="vo[demand_expect_date]">
                                    {:date('Y-m-d',$vo[demand_expect_date])}
                                        <else />
                                        ---
                                    </notempty>
                                    &nbsp;&nbsp;</span></td>
                                    <td colspan="3"><span>到期时间:{:date('Y-m-d',$vo[demand_end_date])}</span></td>
                                    <td>
                                        <eq name="vo[demand_status]" value="4">
                                            <eq name="vo[task_accepted]" value="1">
                                                <span class="label rounded label-success pull-right">被采纳</span>
                                            </eq>
                                        </eq>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody class="table-bordered">
                                    <tr>
                                        <td>
                                            <div class="product">
                                                <a class="product-photo pull-left" href="javascript:void(0)">
                                                    <img src="{:sp_get_image_preview_url($vo['demand_img'][0])}" style="width:80px;height:80px;">
                                                </a>
                                            </div>
                                        </td>
                                        <td align="center">{$vo.demand_desc}</td>
                                        <td align="center">{$vo.demand_component}</td>
                                        <td align="center" class="table-bordered"><span style="font-weight:bold;">{$vo.demand_quantity}米</span>
                                        </td>  
                                        <td align="center" class="table-bordered">
                                        {$vo.demand_expect_price}元/{$vo.demand_unit}    
                                        </td>    
                                        <td align="center" class="table-bordered">
                                        {$statuses[$vo['task_status']]}
                                        </td>
                                        <td align="center" class="table-bordered">
                                        <a href="{:leuu('view',array('id'=>$vo[task_id]))}" class="btn btn-block btn-info btn-xs">需求详情</a>
                                            <eq name="vo[task_status]" value="0">
                                                <button type="button" class="btn btn-block btn-default btn-xs js-ajax-btn"
                                                        data-confirm="true"
                                                        data-msg="是否要取消任务？"
                                                        data-id="{$vo[task_id]}"
                                                        data-href="{:leuu('cancel')}">取消任务</button>
                                            </eq>
                                        </td>
                                    </tr>
                                </tbody>
                            </volist>
                        </table>
                        <ul class="pagination">{$list.page}</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        // Date range
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });
    </script>

</block>