<extend name="Public:base-v8" />
<block name="title"><title>需求详情 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">需求详情</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('index')}">需求管理</a></li>
                <li class="active">需求详情</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>
            <div class="col-md-9">
                <!--Invoice Header-->
                 <div class="tab-v7">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">需求管理</a></li>
                <li class="active"><a>需求详情</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <php>$statuses = D('Demand/Task')->statuses;</php>
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <td width="100px">客户</td>
                            <td>{$user[user_nicename]|default=$user[user_login]}</td>
                        </tr>
                        <tr>
                            <td>需求面料样图</td>
                            <td>
                                <foreach name="demand_img" item="vo">
                                    <img src="{:sp_get_image_preview_url($vo)}" alt="" style="width:100px;height:100px;">&nbsp;&nbsp;
                                </foreach>
                            </td>
                        </tr>
                        <notempty name="demand_desc">
                            <tr>
                                <td>需求描述</td>
                                <td>{$demand_desc}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_component">
                            <tr>
                                <td>面料成份</td>
                                <td>{$demand_component}</td>
                            </tr>
                        </notempty>
                        <tr>
                            <td>到期时间</td>
                            <td>{:date('Y-m-d',$demand_end_date)}</td>
                        </tr>
                        <notempty name="demand_expect_date">
                            <tr>
                                <td>期望交货时间</td>
                                <td>
                                    {:date('Y-m-d',$demand_expect_date)}
                                </td>
                            </tr>
                        </notempty>
                        <notempty name="demand_expect_price">
                            <tr>
                                <td>意向价格</td>
                                <td>{$demand_expect_price}元/{$demand_unit}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_quantity">
                            <tr>
                                <td>需求量</td>
                                <td>{$demand_quantity}{$demand_unit}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_address">
                            <tr>
                                <td>地址</td>
                                <td>{$demand_province}{$demand_city}{$demand_area}{$demand_address}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_company">
                            <tr>
                                <td>公司名称 </td>
                                <td>{$demand_company}</td>
                            </tr>
                        </notempty>
                        <tr>
                            <td>联系人</td>
                            <td>{$demand_contact[name]}</td>
                        </tr>
                        <tr>
                            <td>联系手机</td>
                            <td>
                                {$demand_contact[phone]}
                            </td>
                        </tr>
                        <notempty name="demand_contact[tel]">
                            <tr>
                                <td>联系电话</td>
                                <td>{$demand_contact[tel]}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_contact[email]">
                            <tr>
                                <td>邮箱</td>
                                <td>{$demand_contact[email]}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_contact[fax]">
                            <tr>
                                <td>传真</td>
                                <td>{$demand_contact[fax]}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_contact[wechat]">
                            <tr>
                                <td>微信</td>
                                <td>{$demand_contact[wechat]}</td>
                            </tr>
                        </notempty>
                        <tr>
                            <td>需求状态</td>

                            <td><php>echo D('Demand/Demand')->statuses[$demand_status];</php></td>
                        </tr>
                        <tr>
                            <td>任务状态</td>
                            <td>{$statuses[$task_status]}</td>
                        </tr>
                        <eq name="demand_status" value="4">
                            <tr>
                                <td>是否被采纳</td>
                                <td>
                                    <eq name="task_accepted" value="1">
                                        <span class="label rounded label-success">被采纳</span>
                                        <else />
                                        <span class="label rounded label-danger">否</span>
                                    </eq>
                                </td>
                            </tr>
                        </eq>
                        </tbody>
                    </table>

                    <form class="panel panel-default sky-form margin-bottom-10"
                          method="post" action="{:U('operate')}">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-edit"></i> 操作信息</h3>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width:120px;">意见</th>
                                <td colspan="5">
                                    <eq name="task_status" value="0">
                                        <label class="textarea">
                                            <textarea name="task_comment" required rows="3">{$task_comment}</textarea>
                                        </label>
                                        <else />
                                        {$task_comment}
                                    </eq>
                                </td>
                            </tr>
                            <eq name="task_status" value="0">
                                <tr>
                                    <th>当前可执行操作</th>
                                    <td colspan="5" class="text-center">
                                        <button class="btn-u btn-u-primary margin-right-10"
                                                type="submit" name="act" value="comment">提交意见</button>

                                        <button type="button" class="btn-u btn-u-default btn-brd js-ajax-btn"
                                                data-confirm="true"
                                                data-msg="是否要取消任务？"
                                                data-id="{$task_id}"
                                                data-href="{:leuu('cancel')}">取消任务</button>
                                        <input name="task_id" type="hidden" value="{$task_id}">
                                    </td>
                                </tr>
                            </eq>
                            </tbody>
                        </table>
                    </form>
                </div>
                </div>
            </div>
        </div>
                <!--End Invoice Footer-->
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate({
                messages: {
                    'task_comment':'请填写您的意见！'
                }
            });
        })
    </script>
</block>