<extend name="Admin:base-v2"/>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Editor/css/editor.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/colorpicker/css/evol-colorpicker.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .evo-cp-wrap {
            width: 100% !important;
            position: relative;
        }

        .evo-cp-wrap .evo-pointer {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 34px;
        }

        .evo-cp-wrap .evo-pop {
            background: #fff;
            padding: 5px;
            width: auto;
            border: 1px solid #eee;
        }

        .upload-thumb img {
            max-height: 100px;
        }

        #DTE_Field_dress_img-preview {
            width: 100px;
            height: 100px;
            background: #f7f7f7;
            line-height: 100px;
            text-align: center;
            cursor: pointer;
        }
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:void(0);">库存管理</a></li>
                <li><a href="{:leuu('Tf/Admin/edit',array('id'=>$tf['id']))}">修改面料</a></li>
                <li><a href="{:leuu('Tf/Admin/index')}">返回面料库</a></li>
            </ul>
            <div class="tab-content">
                <table id="sku-table" class="table table-striped table-bordered">
                </table>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/jquery/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Editor/js/editor.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/colorpicker/js/evol-colorpicker.min.js"></script>
    <script>
        var types = JSON.parse('{:json_encode($types, 256)}');
        var units = ['米', '千克'];
        var tf_id = "{$tf.id}";
        var url = "{:leuu('index',array('id'=>$_GET['id']))}";
        var post_url = "{:leuu('index')}";
        var editor;
        $(function () {
            editor = new $.fn.dataTable.Editor({
                ajax: post_url,
                table: "#sku-table",
                idSrc: 'id',
                fields: [{
                    label: "类型",
                    name: "value_type",
                    type: "select",
                    options: [
                        {label: "文字", value: 1},
                        {label: "颜色", value: 2},
                        {label: "图片", value: 3}
                    ],
                    def: 1
                }, {
                    label: "SKU值",
                    name: "value_text1"
                }, {
                    label: "SKU颜色",
                    name: "value_text2"
                }, {
                    label: "SKU缩略图",
                    name: "value_text3"
                }, {
                    label: "试衣贴图",
                    name: "dress_img"
                }, {
                    label: "颜色编号",
                    name: "color_code"
                }, {
                    label: "库存类型",
                    name: "sku_type",
                    type: "select",
                    options: [
                        {label: "无货", value: 0},
                        {label: "现货", value: 1},
                    ],
                    def: 1
                }, {
                    label: "是否启用米样购买",
                    name: "sample_enabled",
                    type: "select",
                    options: [
                        {label: "是", value: 1},
                        {label: "否", value: 0}
                    ],
                    def: 1
                }, {
                    label: "米样价格",
                    name: "sku_price"
                }, {
                    label: "最大购买米样数量",
                    name: "max_buy"
                },{
                    label: "米样单位",
                    name: "sku_unit",
                    type: "select",
                    options: ["米", "千克"],
                    def: "米"
                }, {
                    label: "大货价格",
                    name: "large_price"
                },{
                    label: "大货单位",
                    name: "large_unit",
                    type: "select",
                    options: ["米", "千克"],
                    def: "米"
                },{
                    label: "是否启用拼单",
                    name: "group_enabled",
                    type: "select",
                    options: [
                        {label: "是", value: 1},
                        {label: "否", value: 0}
                    ],
                    def: 1
                }, {
                    label: "拼单价格",
                    name: "group_price"
                }, {
                    label: "最小拼单数量",
                    name: "min_charge"
                }, {
                    label: "拼单单位",
                    name: "group_unit",
                    type: "select",
                    options: ["米", "千克"],
                    def: "米"
                }, {
                    label: "v1",
                    name: "value_thumb"
                }, {
                    label: "v2",
                    name: "dress_img_url",
                    type: "hidden"
                }
                ],
                i18n: {
                    create: {
                        button: "添加",
                        title: "添加SKU",
                        submit: "保存"
                    },
                    edit: {
                        button: "修改",
                        title: "修改SKU",
                        submit: "保存"
                    },
                    remove: {
                        button: "删除",
                        title: "删除",
                        submit: "删除",
                        confirm: {
                            _: "是否要删除被选中的%d个SKU？",
                            1: "是否要删除这个SKU？"
                        }
                    }
                }
            });
            editor.dependent('value_type', function (val) {
                switch (val) {
                    case 2:
                        return {hide: ['value_text1', 'value_text3', 'value_thumb'], show: ['value_text2']};
                    case 3:
                        return {hide: ['value_text1', 'value_text2', 'value_thumb'], show: ['value_text3']};
                    default:
                        return {hide: ['value_text2', 'value_text3', 'value_thumb'], show: ['value_text1']};
                }
            });
            editor.dependent('sku_type', function (val) {
                switch (val) {
                    case 1:
                        return {
                            hide: ['group_price', 'group_unit', 'min_charge', 'group_enabled'],
                            show: ['sku_price', 'max_buy', 'sku_unit','large_price','large_unit','sample_enabled']
                        };
                    case 0:
                        return {
                            hide:'',
                            show: ['sku_price', 'max_buy', 'sku_unit','large_price','large_unit','sample_enabled','group_price', 'group_unit', 'min_charge', 'group_enabled']
                        };
                    default:
                        return {hide: ['group_price', 'group_unit', 'min_charge'], show: ['sku_price']};
                }
            });
            
            /*$('#sku-table').on( 'click', 'tbody td:not(:first-child)', function (e) {
             editor.bubble( this );
             } );*/
            var table = $('#sku-table').DataTable({
                lengthChange: false,
                dom: "Bfrtip",
                select: true,
                paging: false,
                "ajax": {
                    "url": url,
                    //"dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "value_type",
                    "title": "值类型",
                    "render": function (data, type, row, meta) {
                        return types[data];
                    }
                }, {
                    "data": "value_text",
                    "title": "SKU值",
                    "defaultContent": "",
                    render: function (data, type, row, meta) {
                        if (row.value_type == 3) {
                            html = '<img class="img-responsive" src="' + row.value_thumb + '" style="max-height: 50px;">'
                        } else if (row.value_type == 2) {
                            html = '<span class="color-block" style="display:block;width:100%;height:18px;background-color:' + data + ';"></span>'
                        } else {
                            html = data;
                        }
                        return html;
                    }
                }, {
                    "data": "sku_price",
                    "title": "价格",
                    "defaultContent": "",
                    render: $.fn.dataTable.render.number(',', '.', 2, '￥')
                }, {
                    "data": "color_code",
                    "title": "颜色编码",
                    "defaultContent": ""
                }, {
                    "data": "sku_type",
                    "title": "库存类型",
                    "render": function (data, type, row, meta) {
                        return parseInt(data) ? '现货' : '无货';
                    }
                }, {
                    "data": "sku_unit",
                    "title": "库存单位",
                    "defaultContent": "米"
                }, {
                    "data": "max_buy",
                    "title": "最大购买数量",
                    "defaultContent": ""
                }, {
                    "data": "min_charge",
                    "title": "最小拼单数量",
                    "defaultContent": ""
                }, {
                    "data": "group_price",
                    "title": "拼单价格",
                    "defaultContent": "0.00"
                }, {
                    "data": "group_unit",
                    "title": "拼单单位",
                    "defaultContent": "米"
                }, {
                    "data": "dress_img_url",
                    "title": "试衣贴图",
                    "render": function (data, type, row, meta) {
                        return '<img class="img-responsive" style="width:40px;" src="' + data + '">';
                    }
                }],
                buttons: [
                    {extend: "create", text: "添加", editor: editor},
                    {extend: "edit", text: "修改", editor: editor},
                    {extend: "remove", text: "删除", editor: editor}
                ]
            });
            editor.on('preSubmit', function (e, data, action) {
                if (action == 'create') {
                    for (x in data.data) {
                        data.data[x].tf_id = tf_id;
                    }
                }
                if(action == 'edit'){
                    for(x in data.data){
                        data.data[x].tf_id = tf_id;
                    }
                }
            });
            editor.on('open', function (e, mode, action) {
                var data = editor.get();
                var $t2 = $('#DTE_Field_value_text2');
                var $t3 = $('#DTE_Field_value_text3');
                var $thumb = data.value_thumb;
                if (data.value_thumb == '') {
                    data.value_thumb = '/public/images/default-thumbnail.png';
                }
                if (!$t2.hasClass('colorPicker')) {
                    $t2.colorpicker();
                } else {
                    $t2.colorpicker('val', $t2.val());
                }
                if ($t3.attr('type') !== 'hidden') {
                    $t3.parent().addClass('upload-thumb');
                    $t3.attr('type', 'hidden');
                    var $img = $('<img>').attr('id', 'DTE_Field_value_text3-preview').attr('src', data.value_thumb)
                            .addClass('img-responsive')
                            .on('click', function () {
                                javascript:upload_one_image('图片上传', '#DTE_Field_value_text3');
                            });
                    $t3.after($img)
                } else {
                    $('#DTE_Field_value_text3-preview').attr('src', data.value_thumb);
                }

                if($('#DTE_Field_dress_img-preview').length == 0){
                    var $dressField = $('#DTE_Field_dress_img');
                    $dressField.parent().addClass('upload-thumb');
                    $dressField.attr('type', 'hidden');
                    var $dressImg = $('<img>')
                            .attr('id', 'DTE_Field_dress_img-preview')
                            .attr('src', data.dress_img_url)
                            .attr('alt', '上传贴图')
                            .addClass('img-responsive')
                            .on('click', function () {
                                javascript:upload_one_image('图片上传', '#DTE_Field_dress_img');
                            });
                    $dressField.after($dressImg)
                }else{
                    $('#DTE_Field_dress_img-preview').attr('src', data.dress_img_url);
                }
            });
        })
    </script>
</block>