<extend name="Admin:base-v2" />
<block name="css">
    <style>
        .table th {
            text-align: center;
            vertical-align:middle !important;
        }
        .table th {
            color:#fff;
            background-color: #E6125D;
            margin-bottom: 10px;
        }
    </style>
</block>
<block name="main">
    <div class="">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li <neq name="_GET[is_colorcard]" value="1">class="active"</neq>>
                <a href="{:U('index')}">所有拼单</a>
                </li>
                <li class="pull-right">
                    <a href="{:U('Order/AdminDelivery/index')}">发货单管理</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form class="sky-form" method="get" action="{:leuu('index')}" style="margin-bottom:30px!important;border: 1px solid #eee;">
                        <header>筛选</header>
                        <fieldset>
                            <section class="row">
                                <label class="input col-sm-3">
                                    <input type="text" name="filter[keywords]" placeholder="请输入订单号" value="{$filter.keywords|default=''}">
                                </label>
                                <label class="input col-sm-3" style="padding-right:10px;">
                                    <input id="data-start" type="text" name="filter[datestart]" placeholder="开始日期" value="{$filter.datestart|default=''}">
                                </label>
                                <label class="input col-sm-3 date2" style="padding-left:10px;">
                                    <input id="data-finish" type="text" name="filter[datefinish]" placeholder="截止日期" value="{$filter.datefinish|default=''}">
                                </label>
                                <label class="select col-sm-2">
                                    <select name="filter[status]">
                                        <option value="">所有</option>
                                        <foreach name="statuses" item="vo">
                                            <php>$selected = $filter['status'] == $key ?'selected':'';</php>
                                            <option value="{$key}" {$selected}>{$vo}</option>
                                        </foreach>
                                    </select>
                                    <i></i>
                                </label>
                                <label class="col-sm-1">
                                    <button type="submit" class="btn-u"><i class="fa fa-search"></i> </button>
                                </label>
                            </section>
                        </fieldset>
                    </form>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>拼单号</th>
                            <th>面料</th>
                            <th>数量</th>
                            <th>货物总额</th>
                            <th>创建时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list[data]" id="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.group_sn}</td>
                                <td>{$vo.goods_name}</td>
                                <td>{$vo.goods_number}{$vo.goods_unit}</td>
                                <td>{:number_format($vo[goods_amount],2)}</td>
                                <td>{$vo.create_date}</td>
                                <td>{$statuses[$vo[group_status]]}</td>
                                <td>
                                    <a href="{:U('group', array('id'=>$vo[id]))}">查看</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <ul class="pagination">{$list.page}</ul>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        // Date range
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });
    </script>
</block>