<admintpl file="header" />
<style>
    .select2 {width:400px;}
</style>
</head>
<body>
<div class="wrap">
    <form method="post" class="form-horizontal js-ajax-form" action="{:U('AdminTheme/home')}">
        <fieldset>
            <legend>主页</legend>
            <div class="control-group">
                <label class="control-label">滚动图片</label>
                <div class="controls">
                    <select name="theme_home[main_banner]">
                        <foreach name="slidecats" item="vo">
                            <option value="{$vo.cat_idname}">{$vo.cat_name}</option>
                        </foreach>
                    </select>
                    <p>请到 <b>扩展工具</b>-><b>幻灯片</b>-><b>幻灯片分类</b> 添加一个分类，<br>
                    然后到 <b>扩展工具</b>-><b>幻灯片</b>-><b>幻灯片管理</b> 添加幻灯片<br>
                    图片比例建议16:9，不超过500K</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">最新资讯</label>
                <div class="controls">
                    <select name="theme_home[news]">{$news_terms}</select>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <input type="hidden" name="key" value="theme_home">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:L('SAVE')}</button>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
<script>
function setBgMp3(src){
    $('#inputMp3').val(src);
    $('#sourceMp3').attr('src',src).parent()[0].load();
}
function cancelMp3(){
    $('#inputMp3').val('');
    $('#sourceMp3').attr('src','').parent()[0].load();
}
</script>
</body>
</html>