<style>
    .container-fluid {
        height:53px;
        width:100%;
    }

</style>
<link rel="stylesheet" href="/public/v2/assets/css/common/front_nav.min.css" />
<nav class="navbar navbar-default" role="navigation" style="border:none;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="pull-left to-r-index" href="__ROOT__/">
                <img class="img-responsive" src="{:sp_get_image_preview_url($site_basic[site_logo_black])}" style="max-width:32px;" alt="logo">
            </a>
            <form action="{:leuu('Portal/Search/index')}" class="sky-form page-search-form" method="get">
                <div class="serach-wrap">
                    <input type="text" name="keyword" class="form-control search-input" placeholder="按品名" value="{:I('get.keyword/s')}">
                    <i class="fa fa-search"></i>
                    <span class="color-btn" @click="switchColor" v-text="showColorTxt"></span>
                </div>
                <a class="usercenter" href="/user/center"><i class="fa fa-user"></i></a>
            </form>
        </div>
    </div>
</nav>
