	<tc_include file=":function"/>
	<tc_include file=":config"/>
	
	<!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/bootstrap/css/bootstrap.min.css">
    <present name="style_normal">
        <link rel="stylesheet" href="__PUBLIC__/u/css/style.css">
    </present>
    <present name="style_shop">
        <link rel="stylesheet" href="__PUBLIC__/u/css/shop.style.css">
    </present>

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/headers/header-v4.css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/animate.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/font-awesome/css/font-awesome.min.css">
    <link href="__PUBLIC__/js/artDialog/skins/default.css" rel="stylesheet" />