<!-- JS Global Compulsory -->
<script type="text/javascript" src="__PUBLIC__/u/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/u/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/u/plugins/bootstrap/js/bootstrap.min.js"></script>
<script>
    var GV = {
        ROOT: "__ROOT__/",
        WEB_ROOT: "__WEB_ROOT__/",
        JS_ROOT: "public/js/",
        APP:'{$Think.MODULE_NAME}'
    };
</script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="__PUBLIC__/u/plugins/back-to-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/u/plugins/smoothScroll.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/noty/packaged/jquery.noty.packaged.js"></script>
<script src="__PUBLIC__/js/artDialog/artDialog.js"></script>
<script src="__PUBLIC__/js/artDialog/iframeTools.js"></script>
<script src="__PUBLIC__/js/wind.js"></script>
<script src="__PUBLIC__/js/common.js"></script>