<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('index')}">报价管理</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>报价供应商</th>
                            <th>报价</th>
                            <th>供应量</th>
                            <th>需求来源ID</th>
                            <th>报价时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="quotes[data]" id="vo">
                            <tr>
                                <td>{$vo.quote_id}</td>
                                <td>{$vo.long_name}</td>
                                <td>{$vo.quote_price}</td>
                                <td>{$vo.quote_quantity}</td>
                                <td>{$vo.demand_id}</td>
                                <td>{$vo.created_at}</td>
                                <php>$status = D('Quote')->statuses[$vo['quote_status']];</php>
                                <td>{$status}</td>
                                <td>
                                    <if condition="$vo['quote_status'] eq 0">   
                                    <a href="#" class="js-ajax-btn"
                                       data-confirm="true"
                                       data-href="{:U('check',array('pass'=>10))}"
                                       data-id="{$vo.quote_id}"
                                       data-msg="是否要通过审核 ？">通过审核</a> |
                                    <else />
                                    <a href="#" class="js-ajax-btn"
                                       data-confirm="true"
                                       data-href="{:U('check',array('nopass'=>20))}"
                                       data-id="{$vo.quote_id}"
                                       data-msg="是否要取消审核 ？">取消审核</a> |
                                    </if>
                                    <a href="#" class="js-ajax-btn"
                                       data-confirm="true"
                                       data-href="{:U('delete')}"
                                       data-id="{$vo.quote_id}"
                                       data-msg="是否要删除 ？">删除</a> 
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <ul class="pagination">{$demands.page}</ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade add-demand-modal-sm" tabindex="-1" role="dialog" aria-labelledby="addDemandModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addDemandModalLabel" class="modal-title">选择采购商</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" id="inputCustName" class="form-control">
                        <span class="input-group-btn">
											<button id="btnSearchCust" class="btn btn-info" type="button">搜索</button>
										</span>
                    </div>
                    <div class="headline"><h3>搜索结果</h3></div>
                    <ul id="searchResult" class="list-inline margin-bottom-40">
                        <li>没有结果</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $('#btnSearchCust').on('click',function(){
                var $this = $(this);
                var url = '/index.php?g=admin&m=bizmember&a=search&type=22&term='+$('#inputCustName').val();
                $this.html('<i class="fa fa-spinner fa-spin"></i>');
                $.getJSON(url,function(response){
                    $this.text('搜索');
                    var $result = $('#searchResult');
                    if(response.length > 0){
                        $result.empty();
                        for(x in response){
                            li = '<li><a href="/index.php?g=Demand&m=AdminDemand&a=add&id='+response[x].id+'">'
                                    + response[x].value +
                                    '</a></li>';
                            $(li).appendTo($result);
                        }
                    }else{
                        $result.empty().append('<li>没有结果</li>')
                    }
                })
            })
        })
    </script>
</block>