<extend name="Public:base-v8"/>
<block name="title"><title>面料池 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_masonry_3col.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .mf-goods-item .btn-left {width:100%;}

        .grid-boxes-thumb {
            position: relative;
        }
        .grid-boxes-in .grid-boxes-thumb .doapply {
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
            width: 100%;
            color: #fff;
            border: none;
            padding: 10px 0;
            font-size: 20px;
            margin-top: -20px;
            text-align: center;
            position: absolute;
            visibility: hidden;
            text-transform: uppercase;
            background: rgba(230, 18, 93, 0.7);
        }
        .grid-boxes-in:hover .grid-boxes-thumb .doapply {
            visibility: visible;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">面料池</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Tf/Supplier/index')}">分销管理</a></li>
                <li class="active">面料池</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="{:leuu('index')}">面料池</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="blog_masonry_3col">
                            <div class="grid-boxes">
                                <volist name="list[data]" id="vo">
                                    <div class="grid-boxes-in">
                                        <div class="grid-boxes-thumb">
                                            <img class="lazyload img-responsive" src="{:get_thumb_url($vo[thumb],true)}">
                                            <present name="need_supplier_level">
                                                <notempty name="suppliers[$vo[supplier_id]]">
                                                    <egt name="suppliers[$vo[supplier_id]][level]" value="$vo[level]">
                                                        <a class="doapply js-ajax-btn" href="javascript:void(0)"
                                                           data-href="{:leuu('apply_post')}"
                                                           data-id="{$vo.id}">发送代理申请</a>
                                                    </egt>
                                                    <else />
                                                    <a class="doapply js-ajax-btn" href="javascript:void(0)"
                                                       data-href="{:leuu('apply_client_post')}"
                                                       data-id="{$vo.supplier_id}">申请成为客户</a>
                                                </notempty>
                                                <else />
                                                <eq name="vo[distributing]" value="0">
                                                    <a class="doapply js-ajax-btn" href="javascript:void(0)"
                                                       data-href="{:leuu('apply_post')}"
                                                       data-id="{$vo.id}">申请代理面料</a>
                                                </eq>
                                            </present>
                                        </div>
                                        <div class="grid-boxes-caption">
                                            <h3><a href="{:leuu('Tf/Tf/fabric',array('tfsn'=>$vo[tf_code]))}">{$vo.name}</a></h3>
                                            <ul class="list-inline grid-boxes-news">
                                                <li><a href="{:leuu('Supplier/Index/single',array('id'=>$vo[supplier_id]))}">{$vo.supplier_name}</a></li>
                                                <li><eq name="vo[distributing]" value="1"><span class="label label-success rounded">已代理</span></eq></li>
                                            </ul>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>
                        <div class="text-center md-margin-bottom-30">
                            <ul class="pagination">
                                {$list['page']}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/u/plugins/masonry/jquery.masonry.min.js"></script>
</block>
<block name="js">
    <script>
        $(document).ready(function(){
            var $container = $('.grid-boxes');

            var gutter = 15;
            var min_width = 100;
            $container.imagesLoaded( function(){
                $container.masonry({
                    itemSelector : '.grid-boxes-in',
                    gutterWidth: gutter,
                    isAnimated: true,
                    columnWidth: function( containerWidth ) {
                        var box_width = (((containerWidth - 2*gutter)/3) | 0) ;

                        if (box_width < min_width) {
                            box_width = (((containerWidth - gutter)/2) | 0);
                        }

                        if (box_width < min_width) {
                            box_width = containerWidth;
                        }

                        $('.grid-boxes-in').width(box_width - 3);

                        return box_width;
                    }
                });
            });
        });
    </script>
</block>