@import "../bootstrap/bootstrap";
@import "../public";

.mobile-header {
    height: 45px;
    border-bottom: 1px solid #ddd;
    line-height: 45px;
    text-align: center;
    position: relative;

    .back-home-btn {
        color: #333;
        text-decoration: none;
        position: absolute;
        left: 0;
        padding: 0 10px;
        height: 100%;
    }
}

.select-list {
    border: 1px solid #b1b1b1;
    background: #fff;
    margin: 10px 10px 0;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    float: right;
    outline: 0;
}

.charts-container {
    height: 320px;
}

.tip-txt {
    padding: 0 20px;
    margin-top: 30px;
    font-size: 12px;
    color: #999;
}