<extend name="Admin:base-v2" />
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/log-reg-v3.css">
    <link rel="stylesheet" href="__TMPL__Public/assets/css/fileinput.css">
    <style>
    .kv-file-upload{
        display:none;
    }
    .btn-bg{
        border-color:#e6125d;
        background: #e6125d;
    }
    .log-reg-v3 .state-error em {
        display: block;
        color: #ee9393;
        padding: 0 1px;
        font-size: 11px;
        margin-top: 6px;
        line-height: 15px;
        font-style: normal;
    }
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">需求管理</a></li>
                <li class="active"><a href="javascript:;">增加需求</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                <div class="needForm">
                    <!--needForm-content-->
                    <div class="row">
                        <div class="log-reg-v3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                            <form id="validateForm4" class="reg-page sky-form" method="post" enctype="multipart/form-data" action="{:leuu('add_post')}">
                                <fieldset style="padding-bottom: 30px">
                                    <div class="reg-header margin-bottom-35"><h1>发布需求，寻求心仪布料</h1></div>

                                    <div class="form-group state-error">
                                        <label for="refer" class="control-label"><span>* </span>参考面料</label>
                                        <input type="file" accept="image/*" multiple class="form-control file" id="refer"
                                            name="demand_img[]" multiple='multiple' aria-required="true">
                                        <span class="alert-warning"
                                            style="margin-top: 3px;">最多可上传5张图片，每张大小不能超过5M，建议上传面料的正面、反面、细节和边缘</span>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputDescribe" class="control-label">面料描述</label>
                                        <textarea name="demand_desc" class="form-control" id="inputDescribe" rows="4" placeholder="请详尽描述需求性质，成份，颜色，季节，图案，工艺，数量或价格等信息，我们能为您找到最匹配的供应商，最少输入十个字符"></textarea>
                                    </div>
                                    <section>
                                        <label for="inputComponent" class="label">成份</label>
                                        <label class="input">
                                            <input type="text" id="inputComponent" name="demand_component" placeholder="请填写面料，如棉、麻、纤维">
                                        </label>
                                    </section>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label for="inputEndDate" class="label"><span>* </span>到期时间</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" name="demand_end_date" id="inputEndDate" aria-required="true" placeholder="到期时间">
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label for="inputExpectDate" class="label">期望交货时间</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" name="demand_expect_date" id="inputExpectDate" placeholder="期望交货时间">
                                            </label>
                                            <div class="note">客户报价后，您期望的交货时间</div>
                                        </section>
                                    </div>
                                    <div class="row">
                                        <section class="col col-4">
                                            <label for="inputExpectPrice" class="label">意向价格</label>
                                            <label class="input">
                                                <div class="input-group inline-group">
                                                    <input type="text" min="0.01" id="inputExpectPrice" name="demand_expect_price" onkeyup='this.value=this.value.replace(/\D/gi,"")'>
                                                    <span class="input-group-addon">元/</span>
                                                </div>
                                            </label>
                                        </section>
                                        <section class="col col-2">
                                            <label class="label">&nbsp;</label>
                                            <label class="select">
                                                <select name="demand_unit">
                                                    <option value="米">米</option>
                                                    <option value="克">克</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </section>
                                        <section class="col col-6">
                                            <label for="inputQuantity" class="label">需求量</label>
                                            <label class="input">
                                                <div class="input-group">
                                                    <input type="text" min="1" id="inputQuantity" name="demand_quantity" onkeyup='this.value=this.value.replace(/\D/gi,"")'>
                                                    <span class="input-group-addon">米</span>
                                                </div>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="row">
                                            <section class="col col-4">
                                                <label for="inputContactName" class="label"><span>* </span>联系人</label>
                                                <div class="input">
                                                    <input type="text" id="inputContactName" name="demand_contact[name]" aria-required="true">
                                                </div>
                                            </section>
                                            <section class="col col-4">
                                                <label for="inputContactPhone" class="label"><span>* </span>联系手机</label>
                                                <div class="input">
                                                    <input type="text" id="inputContactPhone" name="demand_contact[phone]" aria-required="true" value="{$vo.user_mobile}">
                                                </div>
                                            </section>
                                            <section class="col col-4">
                                                <label for="inputTel" class="label">联系电话</label>
                                                <div class="input">
                                                    <input type="text" id="inputTel" name="demand_contact[tel]">
                                                </div>
                                            </section>
                                        </div>
                                        <div class="row">
                                            <section class="col col-3">
                                                <label for="inputEmail" class="label">邮箱</label>
                                                <label class="input">
                                                    <input type="email" id="inputEmail" name="demand_contact[email]" value="{$vo.user_email}">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label for="inputFax" class="label">传真</label>
                                                <label class="input">
                                                    <input type="text" id="inputFax" name="demand_contact[fax]">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label for="inputQQ" class="label">QQ</label>
                                                <label class="input">
                                                    <input type="text" id="inputQQ" name="demand_contact[qq]">
                                                </label>
                                            </section>
                                            <section class="col col-3">
                                                <label for="inputWechat" class="label">微信</label>
                                                <label class="input">
                                                    <input type="text" id="inputWechat" name="demand_contact[wechat]">
                                                </label>
                                            </section>
                                        </div>

                                        <input type="hidden" name="user_id" value="{$user.id}">
                                    <button type="submit" class="btn btn-u">添加</button>
                                </fieldset>

                            </form>
                        </div>
                    </div>

                    <!--End apply-certificate-type1-content-->
                </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
<script type="text/javascript" src="__TMPL__Public/assets/js/fileinput.min.js"></script>
<script type="text/javascript" src="__TMPL__Public/assets/js/fileinput_locale_zh.js"></script>

<script>
    $('#inputEndDate').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        onSelect: function( selectedDate )
        {
            $('#inputExpectDate').datepicker('option', 'minDate', selectedDate);
        }
    });
    $('#inputExpectDate').datepicker({
        dateFormat: 'yy-mm-dd',
        prevText: '<i class="fa fa-angle-left"></i>',
        nextText: '<i class="fa fa-angle-right"></i>',
        onSelect: function( selectedDate )
        {
            $('#inputEndDate').datepicker('option', 'maxDate', selectedDate);
        }
    });

    $("#refer").fileinput({
        uploadUrl: "{:leuu('add_post')}", //上传的地址,必填...否则会报错
        allowedFileExtensions: ['jpg', 'png', 'gif'],//接收的文件后缀
        maxFileCount: 5, //允许上传的文件数 选择上传的文件数量({n}) 超过允许的最大数值{m}！
        dropZoneEnabled: true,//是否显示拖拽区域
        showUpload: false, //是否显示上传按钮
        language: 'zh', //设置语言
        showCaption: true,//是否显示标题
        maxFileSize: 5000,
        //minImageWidth: 50, //图片的最小宽度
        //minImageHeight: 50,//图片的最小高度
        //maxImageWidth: 1000,//图片的最大宽度
        //maxImageHeight: 1000,//图片的最大高度
        browseClass: "btn btn-primary btn-bg", //按钮样式
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });

    $('#validateForm4').validate({
        rules: {
            "demand_img[]": 'required',
            demand_end_date: 'required',
            "demand_contact[name]": 'required',
            "demand_contact[phone]":{ 
                required: 1,
                mobile: 1},
        },
        messages: {
            "demand_img[]": '参考图片不能为空',
            demand_end_date: '到期时间不能为空',
            "demand_contact[name]": '联系人不能为空',
            "demand_contact[phone]": '请输入正确的手机号码',
        },
        errorPlacement: function (error, element) {
            if (element.is(":file")) {
                error.appendTo(element.parent().parent().parent().parent().parent());
            } else {
                error.appendTo(element.is(":radio") || element.is(":checkbox") ? element.parent().parent().parent() : element.parent())
            }
        }
    });
</script>
</block>