<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">需求管理</a></li>
                <li><a href="#" data-toggle="modal" data-target=".add-demand-modal-sm">增加需求</a></li>
                <li class="active"><a>修改需求</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form role="form" action="{:U('edit_post')}" method="post" class="sky-form">
                        <input type="hidden" name="demand_id" value="{$demand_id}" />
                        <header>修改需求</header>
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label for="btnComponent" class="label">采购商</label>
                                    <p>{$long_name}</p>
                                </section>
                            </div>
                            <section>
                                <label for="inputDescribe" class="label">需求描述（必须）</label>
                                <label class="textarea textarea-expandable">
                                    <textarea name="demand_desc" id="inputDescribe" rows="4" cols="50"  required>{$demand_desc}</textarea>
                                </label>
                                <div class="note">请详尽描述需求性质，成份，颜色，季节，图案，工艺，数量或价格等信息，我们能为您找到最匹配的供应商，最少输入十个字符</div>
                            </section>
                            <section>
                                <label for="btnComponent" class="label">面料成分材质</label>
                                <label class="input">
                                    <input type="text" name="demand_component" value="{$demand_component}">
                                </label>
                            </section>
                            <div class="row">
                                <section class="col col-4">
                                    <label for="inputEndDate" class="label">到期时间（必须）</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="demand_end_date" id="inputEndDate" required value="{:date('Y-m-d',$demand_end_date)}" placeholder="到期时间">
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label for="inputExpectDate" class="label">期望交货时间</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="demand_expect_date" id="inputExpectDate" value="{:date('Y-m-d',$demand_expect_date)}" placeholder="期望交货时间">
                                    </label>
                                    <div class="note">客户报价后，您期望的交货时间</div>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-4">
                                    <label for="inputExpectPrice" class="label">意向价格</label>
                                    <label class="input">
                                        <div class="input-group inline-group">
                                            <input type="number" min="0.01" id="inputExpectPrice" name="demand_expect_price" value="{$demand_expect_price}">
                                            <span class="input-group-addon">元/</span>
                                        </div>
                                    </label>
                                </section>
                                <section class="col col-2">
                                    <label class="label">&nbsp;</label>
                                    <label class="select">
                                        <select name="demand_unit">
                                            <php>$units = D('Demand')->units;</php>
                                            <foreach name="units" item="vo">
                                                <php>$selected = $vo == $demand_unit ? 'selected':'';</php>
                                                <option value="{$vo}" {$selected}>{$vo}</option>
                                            </foreach>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label for="inputQuantity" class="label">需求量</label>
                                    <label class="input">
                                        <div class="input-group">
                                            <input type="digits" min="1" id="inputQuantity" name="demand_quantity" value="{$demand_quantity}">
                                            <span class="input-group-addon">{$demand_unit}</span>
                                        </div>
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label class="label">采购图</label>
                                <label class="label">
                                    <button type="button" class="btn-u btn-u-info" onclick="elExplorer('call_func',{func:'addphoto'});">添加图片</button>
                                </label>
                                <div id="photoList" class="row">
                                    <php>$img = json_decode($demand_img,true);</php>
                                    <volist name="demand_img" id="vo">
                                        <div id="img_{$key}" class="col col-2 el-selector">
                                            <input type="hidden" class="el-input" name="demand_img[]" value="{:sp_get_image_preview_url($vo)}" />
                                            <img class="img-responsive el-img" src="{:sp_get_image_preview_url($vo)}" />
                                            <a href="javascript:void(0)" class="act-delete" onclick="$(this).parent().remove();"><i class="fa fa-trash"></i> </a>
                                        </div>
                                    </volist>
                                </div>
                            </section>
                        </fieldset>
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label for="inputContactName" class="label">联系人（必须）</label>
                                    <div class="input">
                                        <input type="text" id="inputContactName" name="contact[name]" required value="{$demand_contact[name]}">
                                    </div>
                                </section>
                                <section class="col col-4">
                                    <label for="inputContactPhone" class="label">联系手机（必须）</label>
                                    <div class="input">
                                        <input type="text" id="inputContactPhone" name="contact[phone]" required value="{$demand_contact[phone]}">
                                    </div>
                                </section>
                                <section class="col col-4">
                                    <label for="inputTel" class="label">联系电话</label>
                                    <div class="input">
                                        <input type="text" id="inputTel" name="contact[tel]" value="{$demand_contact[tel]}">
                                    </div>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-3">
                                    <label for="inputEmail" class="label">邮箱</label>
                                    <label class="input">
                                        <input type="email" id="inputEmail" name="contact[email]" value="{$demand_contact[email]}">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label for="inputFax" class="label">传真</label>
                                    <label class="input">
                                        <input type="text" id="inputFax" name="contact[fax]" value="{$demand_contact[fax]}">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label for="inputQQ" class="label">QQ</label>
                                    <label class="input">
                                        <input type="text" id="inputQQ" name="contact[qq]" value="{$demand_contact[qq]}">
                                    </label>
                                </section>
                                <section class="col col-3">
                                    <label for="inputWechat" class="label">微信</label>
                                    <label class="input">
                                        <input type="text" id="inputWechat" name="contact[wechat]" value="{$demand_contact[wechat]}">
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn-u">保存</button>
                            <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade add-demand-modal-sm" tabindex="-1" role="dialog" aria-labelledby="addDemandModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addDemandModalLabel" class="modal-title">选择采购商</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" id="inputCustName" class="form-control">
                        <span class="input-group-btn">
											<button id="btnSearchCust" class="btn btn-info" type="button">搜索</button>
										</span>
                    </div>
                    <div class="headline"><h3>搜索结果</h3></div>
                    <ul id="searchResult" class="list-inline margin-bottom-40">
                        <li>没有结果</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        function addphoto(url){
            var timestamp =new Date().getTime();
            html = '<div id="img_'+timestamp+'" class="col col-2 el-selector">'+
                    '<input type="hidden" class="el-input" name="demand_img[]" value="'+url+'" />'+
                    '<img class="img-responsive el-img" src="'+url+'" />'+
                    '<a href="javascript:void(0)" class="act-delete" onclick="$(this).parent().remove();"><i class="fa fa-trash"></i> </a>'+
                    '</div>';
            $('#photoList').append($(html));
        }
        $(function(){
            $('#btnSearchCust').on('click',function(){
                var $this = $(this);
                var url = '/index.php?g=admin&m=bizmember&a=search&type=22&term='+$('#inputCustName').val();
                $this.html('<i class="fa fa-spinner fa-spin"></i>');
                $.getJSON(url,function(response){
                    $this.text('搜索');
                    var $result = $('#searchResult');
                    if(response.length > 0){
                        $result.empty();
                        for(x in response){
                            li = '<li><a href="/index.php?g=Demand&m=AdminDemand&a=add&id='+response[x].id+'">'
                                    + response[x].value +
                                    '</a></li>';
                            $(li).appendTo($result);
                        }
                    }else{
                        $result.empty().append('<li>没有结果</li>')
                    }
                })
            })

            $('#inputEndDate').datepicker({
                dateFormat: 'yy-mm-dd',
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>',
                onSelect: function( selectedDate )
                {
                    $('#inputExpectDate').datepicker('option', 'minDate', selectedDate);
                }
            });
            $('#inputExpectDate').datepicker({
                dateFormat: 'yy-mm-dd',
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>',
                onSelect: function( selectedDate )
                {
                    $('#inputEndDate').datepicker('option', 'maxDate', selectedDate);
                }
            });

            $(".sky-form").validate({
                rules:
                {
                    demand_end_date:
                    {
                        required: 1,
                        date: 1
                    },
                    "contact[name]":
                    {
                        required: 1,
                    },
                    "contact[phone]":
                    {
                        required: 1,
                        mobile: 1,
                    }
                },
                messages:
                {
                    demand_end_date:
                    {
                        required: "请选择到期时间",
                    },
                    "contact[name]":
                    {
                        required: "请填写联系人姓名",
                    },
                    "contact[phone]":
                    {
                        required: "请填写联系人手机",
                    }
                },
            });
        });
    </script>
</block>