<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('index')}">需求管理</a></li>
                <li><a href="#" data-toggle="modal" data-target=".add-demand-modal-sm">增加需求</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="panel panel-default margin-bottom-40">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-tasks"></i> 筛选</h3>
                        </div>
                        <php>$statuses = D(Demand)->statuses;</php>
                        <div class="panel-body">
                            <form class="form-inline form-search" method="get" action="{:U('index')}">
                                <div class="form-group">
                                    <label>需求状态</label>
                                    <select name="filter[status]" class="form-control">
                                    <option value="-1">全部</option>
                                        <foreach name="statuses" item="vo">
                                            <php> $selected = isset($filter['status']) && $filter['status'] == $key ? 'selected':'';</php>
                                            <option value="{$key}" {$selected}>{$vo}</option>
                                        </foreach>
                                    </select>
                                </div>&nbsp;&nbsp;
                                <div class="form-group">
                                    <label>客户名称</label>
                                    <input type="text" name="filter[keywords]" class="form-control" value="{$filter.keywords|default=''}" placeholder="客户名称关键字">
                                </div>
                                
                                <div class="form-group">
                                    <label>发布时间</label>
                                    <input id="data-start" type="text" name="filter[datestart]" class="form-control" value="{$filter.datestart|default=''}" placeholder="开始日期">
                                </div>
                                <div class="form-group">
                                    <label>-</label>
                                    <input id="data-finish" type="text" name="filter[datefinish]" class="form-control" value="{$filter.datefinish|default=''}" placeholder="截止日期">
                                </div>
                                <button type="submit" class="btn-u btn-u-red">搜索</button>
                                <a class="btn-u btn-u-default" href="{:U('index')}">清空</a>
                            </form>
                        </div>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>客户</th>
                            <th>成分</th>
                            <th>期望价格</th>
                            <th>需求量</th>
                            <th>发布时间</th>
                            <th>到期时间</th>
                            <th>期望交货时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="demands[data]" id="vo">
                            <tr>
                                <td>{$vo.demand_id}</td>
                                <td>{$vo.nickname|default=$vo['user_login']}</td>
                                <td>{$vo.demand_component}</td>
                                <td>{$vo.demand_expect_price}元/{$vo.demand_unit}</td>
                                <td>{$vo.demand_quantity}</td>
                                <td>{:date('Y-m-d H:m:s',$vo[demand_created])}</td>
                                <td>{:date('Y-m-d H:m:s', time($vo[demand_end_date]))}</td>
                                <td>{:date('Y-m-d H:m:s', time($vo[demand_expect_date]))}</td>
                                <php>$status = D('Demand')->statuses[$vo['demand_status']];</php>
                                <td>{$status}</td>
                                <td>
                                    <a href="{:U('view', array('id'=>$vo[demand_id]))}">查看</a>
                                    <!--<a href="{:U('edit', array('id'=>$vo[demand_id]))}">修改</a>-->
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <ul class="pagination">{$demands.page}</ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade add-demand-modal-sm" tabindex="-1" role="dialog" aria-labelledby="addDemandModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addDemandModalLabel" class="modal-title">选择采购商</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" id="inputCustName" class="form-control">
                        <span class="input-group-btn">
                                            <button id="btnSearchCust" class="btn btn-info" type="button">搜索</button>
                                        </span>
                    </div>
                    <div class="headline"><h3>搜索结果</h3></div>
                    <ul id="searchResult" class="list-inline margin-bottom-40">
                        <li>没有结果</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        
        // Date range
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });

        $(function(){
            $('#btnSearchCust').on('click',function(){
                var $this = $(this);
                var url = '/index.php?g=portal&m=public&a=search_user&term='+$('#inputCustName').val();
                $this.html('<i class="fa fa-spinner fa-spin"></i>');
                $.getJSON(url,function(response){
                    data = response.data;
                    $this.text('搜索');
                    var $result = $('#searchResult');
                    if(data.length > 0){
                        $result.empty();
                        for(x in data){
                            li = '<li><a href="/index.php?g=Demand&m=AdminDemand&a=add&id='+data[x].id+'">'
                                    + data[x].value +
                                    '</a></li>';
                            $(li).appendTo($result);
                        }
                    }else{
                        $result.empty().append('<li>没有结果</li>')
                    }
                })
            })
        })
    </script>

</block>