<extend name="Admin:base-v2" />
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/select2/css/select2.css">
    <link rel="stylesheet" href="__PUBLIC__/js/select2/css/select2-bootstrap.css">
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">需求管理</a></li>
                <li class="active"><a>需求详情</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                            <?php 
                                $userInfo = M('Users')->where(array('id'=>$user_id))->field('nickname,user_login')->find();
                                ?>
                                <td width="100px">客户名称</td>
                                <td>{$userInfo.nickname|default=$userInfo['user_login']}</td>
                            </tr>
                            <tr>
                            <td>需求面料样图</td>
                            <td>
                                <volist name="demand_img" id="vo">
                                    <img src="{:sp_get_image_preview_url($vo)}" alt="" style="width:100px;height:100px;">&nbsp;&nbsp;
                                </volist>
                            </td>
                            </tr>
                            <tr>
                                <td>需求描述</td>
                                <td>{$demand_desc}</td>
                            </tr>
                            <tr>
                                <td>面料成份</td>
                                <td>{$demand_component}</td>
                            </tr>
                            <tr>
                                <td>到期时间</td>
                                <td>{:date('Y-m-d H:i:s',$demand_end_date)}</td>
                            </tr> 
                            <tr>
                                <td>期望交货时间</td>
                                <td>{:date('Y-m-d H:i:s',$demand_expect_date)}</td>
                            </tr>
                            <tr>
                                <td>意向价格</td>
                                <td>{$demand_expect_price}元/{$demand_unit}</td>
                            </tr>  
                            <tr>
                                <td>需求量</td>
                                <td>{$demand_quantity}{$demand_unit}</td>
                            </tr>
                            <tr>
                                <td>联系人</td>
                                <td>{$demand_contact[name]}</td>
                            </tr>
                            <tr>
                                <td>联系手机</td>
                                <td>
                                    {$demand_contact[phone]}
                                </td>
                            </tr>
                            <tr>
                                <td>联系电话</td>
                                <td>{$demand_contact[tel]}</td>
                            </tr>
                            <tr>
                                <td>邮箱</td>
                                <td>{$demand_contact[email]}</td>
                            </tr>
                            <tr>
                                <td>传真</td>
                                <td>{$demand_contact[fax]}</td>
                            </tr>
                            <tr>
                                <td>微信</td>
                                <td>{$demand_contact[wechat]}</td>
                            </tr>
                            <php>$status = D('Demand')->statuses[$demand_status];</php>
                            <tr>
                                <td>状态</td>
                                <td>{$status}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="actions">
                        <eq name="demand_status" value="0">
                            <button type="button" class="btn btn-u btn-u-green btn-u-lg rounded js-ajax-btn"
                            data-confirm="true"
                            data-msg="是否要确认这个需求？"
                            data-id="{$demand_id}"
                            data-href="{:leuu('pass')}">确认需求</button>
                            <button type="button" class="btn-u btn-u-default btn-u-lg rounded js-ajax-btn"
                            data-confirm="true"
                            data-msg="是否要删除这个需求？"
                            data-id="{$demand_id}"
                            data-href="{:leuu('delete')}">删除需求</button> 
                        </eq>
                    </div>

                    <div class="row">
                        <in name="demand_status" value="1,2">
                            <div class="col-md-12">
                                <form id="allot-form" class="sky-form" action="{:U('Demand/AdminTask/allot_post')}" method="post" style="margin-bottom:20px;">
                                    <header>分配任务</header>
                                    <lt name="tasks|count" value="$taskLimit">
                                        <fieldset>
                                            <section>
                                                <label class="label">选择面料商</label>
                                                <label class="select">
                                                    <select name="suppliers[]" class="select2" required multiple
                                                    data-close-on-select="false"
                                                    data-placeholder="选择面料商，最多3个">
                                                        <foreach name="suppliers" item="vo">
                                                            <option value="{$vo.id}">{$vo.biz_name}</option>
                                                        </foreach>
                                                    </select>
                                                </label>
                                            </section>
                                        </fieldset>
                                        <footer>
                                            <input type="hidden" name="demand_id" value="{$demand_id}">
                                            <button type="submit" class="btn-u btn-u-lg rounded">分配</button>
                                        </footer>
                                        <else />
                                        <fieldset>
                                            <div class="alert alert-danger fade in">
                                                <strong>已达到分配上限！</strong>该需求已经分配{:count($tasks)}个任务了，请先删除一些任务再重新分配！
                                            </div>
                                        </fieldset>
                                    </lt>
                                </form>
                            </div>
                        </in>
                        <gt name="demand_status" value="0">
                            <div class="col-md-12">
                                <div class="panel panel-red margin-bottom-40">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-tasks"></i> 已分配的任务</h3>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>供应商</th>
                                            <th>状态</th>
                                            <th>分配时间</th>
                                            <th>客户是否采纳</th>
                                            <th>面料商意见</th>
                                            <th>{:L('ACTIONS')}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <volist name="tasks" id="vo">
                                                <tr>
                                                    <td>{$vo.task_id}</td>
                                                    <td>{$vo.supplier.biz_name}</td>
                                                    <td>{$task_statuses[$vo[task_status]]}</td>
                                                    <td>{:date('Y-m-d H:i:s', $vo[task_created])}</td>
                                                    <td>
                                                        <eq name="vo.task_accepted" value="1">
                                                        <span class="label rounded label-success">是</span>
                                                        <else />
                                                        <span class="label rounded label-danger">否</span>
                                                        </eq>
                                                    </td>
                                                    <td>{$vo.task_comment}</td>
                                                    <td>
                                                        <in name="vo[task_status]" value="0,2">
                                                            <button type="button" class="btn-u btn-u-default btn-u-xs js-ajax-btn"
                                                            data-confirm="true"
                                                            data-msg="是否要删除该任务？"
                                                            data-id="{$vo.task_id}"
                                                            data-href="{:U('Demand/AdminTask/delete')}">删除</button>
                                                        </in>
                                                    </td>
                                                </tr>
                                            </volist>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </gt>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function() {
            $(".select2").select2({
                theme: "bootstrap"
            });

            $('#allot-form').validate({
                rules: {
                    "suppliers[]": {
                        required: true
                    }
                },
                messages: {
                    "suppliers[]": {
                        required: '请选择面料商',
                    }
                }
            });
        });
    </script>
</block>