<extend name="Admin:base-v2" />
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Editor/css/editor.bootstrap.min.css">
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('AdminSingle/bizinfo', array('mid'=>$mid))}">认证信息</a></li>
                <li><a href="{:U('AdminSingle/editinfo', array('mid'=>$mid))}">修改资料</a></li>
                <li><a href="{:U('Account/Admin/index', array('mid'=>$mid))}">账户信息</a></li>
                <li><a href="{:U('AdminSingle/fans', array('mid'=>$mid))}">好友</a></li>
                <li class="active"><a href="{:U('AdminOp/index', array('mid'=>$mid))}">运营人员</a></li>
                <li><a href="{:U('Admin/index')}">返回</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="op-table" class="table table-striped table-bordered"></table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/jquery/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Editor/js/editor.bootstrap.min.js"></script>
    <script>
        var roles = JSON.parse('{:json_encode($roles, 256)}');
        var member_id = "{$mid}";
        var url = "{:leuu('index', array('mid'=>$mid))}";
        var post_url = "{:leuu('index', array('mid'=>$mid))}";
        var editor;
        var table;
        $(function(){
            editor = new $.fn.dataTable.Editor( {
                ajax: post_url,
                table: "#op-table",
                idSrc:  'id',
                fields: [ {
                        label: "搜索用户",
                        name: "keyword"
                    }, {
                        label: "用户",
                        name: "user_id",
                        type: "select"
                    }, {
                        label: "角色",
                        name: "role_id",
                        type: "select",
                        options: roles
                    }, {
                        label: "过期时间",
                        name: "expire_date",
                        type: "datetime"
                    }, {
                        label: "状态",
                        name: "status",
                        type: "select",
                        options: [
                            { label: "正常", value: 1 },
                            { label: "禁用", value: 0 }
                        ],
                        def: 1
                    }
                ],
                i18n: {
                    create: {
                        button: "添加",
                        title:  "添加运营人员",
                        submit: "保存"
                    },
                    edit: {
                        button: "修改",
                        title:  "修改运营人员",
                        submit: "保存"
                    },
                    remove: {
                        button: "删除",
                        title:  "删除运营人员",
                        submit: "删除",
                        confirm: {
                            _: "是否要删除被选中的%d个运营人员？",
                            1: "是否要删除这个运营人员？"
                        }
                    }
                }
            } );
            table = $('#op-table').DataTable({
                lengthChange: false,
                dom: "Bfrtip",
                select: true,
                paging: false,
                "ajax": {
                    "url": url,
                    //"dataSrc": "data",//默认为data
                    "type": "post",
                    "error":function(){noty({type:'error',text:"服务器未正常响应，请重试"});}
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "className": 'details-control text-center',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '<i class="fa fa-plus"></i>'
                },{
                    "data": "id",
                    "title": "ID"
                },{
                    "data": "user_name",
                    "title": "运营人员"
                },{
                    "data": "role_name",
                    "title": "角色"
                },{
                    "data": "create_date",
                    "title": "加入时间"
                },{
                    "data": "expire_date",
                    "title": "过期时间",
                    "render": function(data, type, row, meta){
                        var timestamp = Date.parse(data);
                        if(row.role_id == 1 || timestamp == 0 || isNaN(timestamp)){
                            return '永不';
                        }else{
                            if(row.is_expired == 1){
                                return '已过期';
                            }else{
                                return data;
                            }
                        }
                    }
                },{
                    "data": "status",
                    "title": "状态",
                    "render": function(data, type, row, meta){
                        return data == 1 ? '正常':'禁用';
                    }
                }],
                "order": [[1, 'asc']],
                buttons: [
                    { extend: "create", text: "添加", editor: editor },
                    {
                        extend: "edit", text: "修改", editor: editor,
                        init: function (dt, node, config) {
                            var that = this;
                            dt.on('select.dt.DT deselect.dt.DT', function () {
                                var row = dt.row({ selected: true }).data();
                                that.enable(dt.rows({ selected: true }).any()
                                    && row['role_id'] != 1);
                            });
                            this.disable();
                        },
                    },
                    {
                        extend: "remove", text: "删除", editor: editor,
                        init: function (dt, node, config) {
                            var that = this;
                            dt.on('select.dt.DT deselect.dt.DT', function () {
                                var row = dt.row({ selected: true }).data();
                                that.enable(dt.rows({ selected: true }).any()
                                    && row['role_id'] != 1);
                            });
                            this.disable();
                        },
                    }
                ]
            });
            $('#op-table tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row( tr );
        
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child( format(row.data()) ).show();
                    tr.addClass('shown');
                }
            } );
            editor.dependent( 'role_id', function ( val ) {
                return val == 1 ? {hide:['expire_date']} : {show:['expire_date']};
            } );
            editor.on('preSubmit', function(e, data, action){
                if(action == 'create'){
                    for(x in data.data){
                        data.data[x].member_id = member_id;
                    }
                }
            })
            editor.on('open', function (e, mode, action){
                var data = editor.get();
                var inpSearch = $('#DTE_Field_keyword');
                if (!inpSearch.parent().hasClass('input-group')) {
                    $btnSearch = $('<span class="input-group-btn"><button class="btn btn-info" type="button">搜索</button></span>');
                    $btnSearch.find('button').on('click', search_user);
                    inpSearch.parent().addClass('input-group').css('display', 'table').append($btnSearch);
                } else {
                    inpSearch.parent().css('display', 'table');
                }

                if (action == 'edit') {
                    editor.hide(['keyword','user_id']);
                } else {
                    editor.show(['keyword','user_id']);
                }
            });
        });
        function search_user(){
            var $this = $(this);
            var keyword = $this.parents('.input-group').find('.form-control').val();
            if (keyword !== '') {
                var url = '{:U("search_user")}';
                var data = {search:keyword,mid:member_id};
                $.getJSON(url, data, function(response){
                    editor.field('user_id').update(response.data);
                })
            }
        }
        function format ( d ) {
            rules = d.rules;
            allow = new Array();
            not_allow = new Array();
            for(x in rules){
                if(rules[x].is_allow == 1){
                    allow.push(rules[x].title);
                }else{
                    not_allow.push(rules[x].title);
                }
            }
            html = '允许：全部<br>';
            if(not_allow.length > 0){
                html += '禁止：';
                html += not_allow.join('、');
            }
            return html;
        }
    </script>
</block>