<div id="fill-mobile" class="g-popup-wrapper">
    <div class="g-popup g-popup--discount2" style="width:auto;">
        <div class="g-popup--discount2-message">
            <h3>绑定手机</h3>
            <h4>您的账号还没有绑定手机</h4>
            <p>绑定手机后才能认证供应商</p>

            <form action="{:leuu('user/center/bind_mobile')}" class="sky-form" method="post">
                <label class="input">
                    <input type="text" name="mobile" placeholder="手机号码" class="form-control">
                </label>
                <label class="input verify" style="padding-right:120px;">
                    <input type="text" name="verify" placeholder="验证码" class="form-control">
                    <button class="btn-u btn-default btn-verify" type="button">获取验证码</button>
                </label>
                <label class="input">
                    <button class="btn btn-default btn-block" type="submit">绑定</button>
                </label>
            </form>
        </div>
        <!--<img src="assets/img/blog/26.jpg" alt="ALT" width="270">-->
        <a href="javascript:void(0);" class="g-popup__close g-popup--discount2__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>