<div class="container product-choose-content">
    <ul class="nav nav-pills product-choose-list margin-bottom-10" role="tablist">
        <li role="presentation" class="dropdown">
            <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                棉纺面料
                <i class="fa fa-caret-down"></i>
            </a>
            <div id="menu1" class="dropdown-menu panel-collapse collapse  bg-color-white" role="menu" aria-labelledby="drop1" aria-expanded="false">
                <div class="add-panel-body">
                    <ul>
                        <li>
                            <label for="1">
                                <input type="radio" id="1">
                                全棉
                            </label>
                        </li>
                        <li>
                            <label for="2">
                                <input type="radio" id="2">
                                涤棉布
                            </label>
                        </li>
                        <li>
                            <label for="3">
                                <input type="radio" id="3">
                                纱卡
                            </label>
                        </li>
                        <li>
                            <label for="4">
                                <input type="radio" id="4">
                                棉涤布
                            </label>
                        </li>
                        <li>
                            <label for="5">
                                <input type="radio" id="5">
                                牛仔布
                            </label>
                        </li>
                        <li>
                            <label for="6">
                                <input type="radio" id="6">
                                府绸
                            </label>
                        </li>
                        <li>
                            <label for="7">
                                <input type="radio" id="7">
                                氨棉布
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li role="presentation" class="dropdown">
            <a id="drop2" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                棉纺面料
                <i class="fa fa-caret-down"></i>
            </a>
            <div id="menu2" class="dropdown-menu panel-collapse collapse  bg-color-white" role="menu" aria-labelledby="drop2" aria-expanded="false">
                <div class="add-panel-body">
                    <ul>
                        <li>
                            <label for="8">
                                <input type="radio" id="8">
                                全棉
                            </label>
                        </li>
                        <li>
                            <label for="9">
                                <input type="radio" id="9">
                                涤棉布
                            </label>
                        </li>
                        <li>
                            <label for="10">
                                <input type="radio" id="10">
                                纱卡
                            </label>
                        </li>
                        <li>
                            <label for="11">
                                <input type="radio" id="11">
                                棉涤布
                            </label>
                        </li>
                        <li>
                            <label for="12">
                                <input type="radio" id="12">
                                牛仔布
                            </label>
                        </li>
                        <li>
                            <label for="13">
                                <input type="radio" id="13">
                                府绸
                            </label>
                        </li>
                        <li>
                            <label for="14">
                                <input type="radio" id="14">
                                氨棉布
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li role="presentation" class="dropdown">
            <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                棉纺面料
                <i class="fa fa-caret-down"></i>
            </a>
            <div id="menu3" class="dropdown-menu panel-collapse collapse  bg-color-white" role="menu" aria-labelledby="drop3" aria-expanded="false">
                <div class="add-panel-body">
                    <ul>
                        <li>
                            <label for="15">
                                <input type="radio" id="15">
                                全棉
                            </label>
                        </li>
                        <li>
                            <label for="16">
                                <input type="radio" id="16">
                                涤棉布
                            </label>
                        </li>
                        <li>
                            <label for="17">
                                <input type="radio" id="17">
                                纱卡
                            </label>
                        </li>
                        <li>
                            <label for="18">
                                <input type="radio" id="18">
                                棉涤布
                            </label>
                        </li>
                        <li>
                            <label for="19">
                                <input type="radio" id="19">
                                牛仔布
                            </label>
                        </li>
                        <li>
                            <label for="20">
                                <input type="radio" id="20">
                                府绸
                            </label>
                        </li>
                        <li>
                            <label for="21">
                                <input type="radio" id="21">
                                氨棉布
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li role="presentation" class="dropdown">
            <a id="drop4" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                棉纺面料
                <i class="fa fa-caret-down"></i>
            </a>
            <div id="menu4" class="dropdown-menu panel-collapse collapse  bg-color-white" role="menu" aria-labelledby="drop4" aria-expanded="false">
                <div class="add-panel-body">
                    <ul>
                        <li>
                            <label for="22">
                                <input type="radio" id="22">
                                全棉
                            </label>
                        </li>
                        <li>
                            <label for="23">
                                <input type="radio" id="23">
                                涤棉布
                            </label>
                        </li>
                        <li>
                            <label for="24">
                                <input type="radio" id="24">
                                纱卡
                            </label>
                        </li>
                        <li>
                            <label for="25">
                                <input type="radio" id="25">
                                棉涤布
                            </label>
                        </li>
                        <li>
                            <label for="26">
                                <input type="radio" id="26">
                                牛仔布
                            </label>
                        </li>
                        <li>
                            <label for="27">
                                <input type="radio" id="27">
                                府绸
                            </label>
                        </li>
                        <li>
                            <label for="28">
                                <input type="radio" id="28">
                                氨棉布
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <div class="row condition-checked">
        <ul class="col-xs-10 condition-checked-list">
            <li class="alert fade in">
                全棉
                <button data-dismiss="alert" class="close" style="padding: 1px 0 0 5px">
                    <span aria-hidden="true">×</span>
                </button>

            </li>
            <li class="alert fade in">
                牛仔布
                <button data-dismiss="alert" class="close" style="padding: 1px 0 0 5px">
                    <span aria-hidden="true">×</span>
                </button>

            </li>
            <li class="alert fade in">
                棉涤布
                <button data-dismiss="alert" class="close" style="padding: 1px 0 0 5px">
                    <span aria-hidden="true">×</span>
                </button>

            </li>
        </ul>
        <div class="col-xs-2" style="margin-top: -4px;padding-right: 0;text-align: right;">
            <a href="#">
                <button class="btn btn-lg rounded btn-default" style="color: #777;font-size: 16px" type="button"><i class="fa fa-undo" style="vertical-align: middle"></i> 清除全部筛选</button>
            </a>
        </div>
    </div>
</div>