    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="__ROOT__/"><img id="logo-footer" class="footer-logo" src="{:sp_get_image_preview_url($site_basic[site_logo_white])}"
                                                  alt=""></a>
                        <div class="footer-intro">{$site_basic.intro}</div>
                    </div><!--/col-md-3-->
                    <!-- End About -->
                    <present name="newwwwwwww">
                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>最新资讯</h2></div>
                            <ul class="list-unstyled latest-list">
                                <foreach name="footer_news" item="vo">
                                    <li>
                                        <a href="{:leuu('portal/article/index',array('id'=>$vo[object_id],'cid'=>$vo[term_id]))}">{$vo.post_title}</a>
                                        <small>{:date('Y-m-d', strtotime($vo[post_date]))}</small>
                                    </li>
                                </foreach>
                            </ul>
                        </div>
                    </div>
                    </present>
                    <!--/col-md-3-->
                    <!-- End Latest -->

                    <!-- Link List -->
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="headline"><h2>快捷链接</h2></div>

                        <?php
		  	$filetpl="<a href='\$href' target='\$target'>\$label</a>";
                        $foldertpl="<a href='\$href' target='\$target' class='dropdown-toggle' data-toggle='dropdown'>\$label</a>";
                        $ul_class="dropdown-menu" ;
                        $li_class="" ;
                        $style="list-unstyled link-list";
                        $showlevel=6;
                        $dropdown='dropdown';
                        echo sp_get_menu(4,"footer-links",$filetpl,$foldertpl,$ul_class,$li_class,$style,$showlevel,$dropdown);
                        ?>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->

                    <!-- Address -->
                    <a href="{:leuu('Portal/Index/contact')}" style="color:#fff;">
                    <div class="col-md-4 map-img md-margin-bottom-40" style="margin-left:80px;">
                        <div class="headline"><h2>联系我们</h2></div>
                        <address class="md-margin-bottom-40">
                            <notempty name="site_basic[address]">
                                {$site_basic.address} <br/>
                            </notempty>
                            <notempty name="site_basic[tel]">
                                电话：{$site_basic.tel} <br/>
                            </notempty>
                            <notempty name="site_basic[fax]">
                                传真：{$site_basic.fax} <br/>
                            </notempty>
                            <notempty name="site_basic[email]">
                                Email：<a href="mailto:{$site_basic.email}" class="">{$site_basic.email}</a>
                            </notempty>
                        </address>
                    </div>
                    </a>
                    <!--/col-md-3-->
                    <!-- End Address -->
                </div>
                <div class="row">
                    <ul class="list-unstyled footer-img g-ml-15 g-mt-30">
                        <li><a href=""><img src="__TMPL__assets/img/footer/1.png"></a></li>
                        <li><a href=""><img src="__TMPL__assets/img/footer/2.png"></a></li>
                        <li><a href=""><img src="__TMPL__assets/img/footer/3.png"></a></li>
                        <li><a href=""><img src="__TMPL__assets/img/footer/4.png"></a></li>
                        <li><a href=""><img src="__TMPL__assets/img/footer/5.png"></a></li>
                        <li><a href=""><img src="__TMPL__assets/img/footer/6.png"></a></li>
                    </ul>
                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p style="text-align:center;">{$site_copyright} | <a href="http://www.miitbeian.gov.cn" style="color:#bbb;">{$site_icp}</a></p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6"></div>
                    <!-- End Social Links -->
                </div>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->