<div class="header-v8 header-sticky">
    <!-- Navbar -->
    <div class="navbar mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="res-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!--/end responsive container-->

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav pull-right">
                    <!--<li id="navsearch">-->
                        <!--<a class="search" href="javascript:void(0)"><i class="fa fa-search search-btn"></i></a>-->
                        <!--<form class="search-open" action="{:leuu('Tf/List/index')}">-->
                            <!--<div class="input-group animated fadeInDown">-->
                                <!--<input type="text" name="search" class="form-control" placeholder="搜索面料名称" >-->
                                <!--<span class="input-group-btn">-->
										<!--<button class="btn-u" type="submit"><i class="fa fa-search"></i></button>-->
									<!--</span>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</li>-->
                    <empty name="_SESSION[user]">
                        <li><a href="{:leuu('User/Login/index')}">登录</a></li>
                        <else />
                        <li id="navmsg" class="dropdown">
                            <a class="dropdown-toggle" href="#">
                                消息
                                <notempty name="unread_msgs">
                                    <span class="badge-unread"></span>
                                    <!--<span class="badge badge-red rounded-x">{$unread_msgs|count}</span>-->
                                </notempty>
                            </a>
                            <style>
                            </style>
                            <div class="dropdown-menu no-padding">
                                <div class="panel panel-profile no-margin">
                                    <div class="panel-heading overflow-h">
                                        <h3 class="panel-title heading-sm pull-left">消息({$unread_msgs|count})</h3>
                                        <a class="pull-right" href="{:leuu('Notify/Bm/index')}">查看全部</a>
                                    </div>
                                    <div id="scrollbar-navmsg" class="panel-body no-padding mCustomScrollbar" data-mcs-theme="minimal-dark">
                                        <volist name="unread_msgs" id="vo">
                                            <div id="navmsg_{$vo.message_id}" data-id="{$vo.message_id}" data-read="{$vo.readed}"
                                                 class="alert-blocks alert-blocks-info alert-dismissable">
                                                <button class="close" type="button">×</button>
                                                <!--<i class="icon-custom rounded-x icon-bg-blue fa fa-bolt"></i>-->
                                                <div>
                                                    <strong class="color-blue msg-title">
                                                        {$vo.title} <i class="fa fa-angle-double-down toggle-text"></i>
                                                        <small class="pull-right">
                                                            <eq name="vo[readed]" value="0">
                                                                <b class="color-red label-unread hide">未读</b>
                                                                <else />
                                                                <em>已读</em>
                                                            </eq>
                                                            <em>{$vo.sent_time|delta_time}</em>
                                                        </small>
                                                    </strong>
                                                    <p class="msg-text hide">{$vo.message_text}</p>
                                                </div>
                                            </div>
                                        </volist>
                                        <empty name="unread_msgs">
                                            <h3 class="nomsg">暂无消息</h3>
                                        </empty>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="user-center" class="dropdown">
                            <a href="{:leuu('User/Center/index')}" class="dropdown-toggle" data-toggle="dropdown" onclick="location.href=this.href;">
                                {$_SESSION[user]['userinfo'][nickname]}
                                <notempty name="_SESSION[user][userinfo][avatar]">
                                    <img class="avatar" src="{:get_avatar_url($_SESSION[user][userinfo][avatar])}">
                                    <else />
                                    <img class="avatar" src="__PUBLIC__/images/headicon.png">
                                </notempty>

                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{:leuu('User/Center/index')}">我的总览</a></li>
                                <li><a href="{:leuu('Order/Index/index')}">我的订单</a></li>
                                <li><a href="{:leuu('Demand/Index/index')}">我的需求</a></li>
                                <li><a href="{:leuu('Collect/Index/index')}">我的收藏</a></li>
                                <li class="divider hidden-xs hidden-sm"></li>

                                <empty name="_SESSION[user][member]">
                                    <li><a href="{:leuu('Bizauth/Index/index')}">我要认证</a></li>
                                    <else />
                                    <eq name="_SESSION[user][member][biz_status]" value="1">
                                        <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                                    </eq>
                                    <neq name="_SESSION[user][member][auth][auth_status]" value="1">
                                        <li><a href="{:leuu('Bizauth/Index/index')}">认证信息</a></li>
                                    </neq>
                                </empty>
                                <li><a href="{:leuu('User/Center/profile')}" >设置中心</a></li>
                                <li><a href="{:leuu('Portal/Index/help')}" >帮助中心</a></li>
                                <li class="divider hidden-xs hidden-sm"></li>
                                <li><a href="{:leuu('User/Index/logout')}">退出登录</a></li>
                            </ul>
                        </li>
                    </empty>
                </ul>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>