    <!--=== Header v4 ===-->
    <?php $user_info=sp_get_current_user();?>
    <div class="header-v4">
        <!-- Topbar -->
        <div class="topbar-v1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-6">
                        <ul class="list-inline top-v1-contacts">
                            <li>
                                欢迎来到面料馆
                            </li>
                            <empty name="_SESSION[user]">
                                <li>
                                    <a href="javascript:;" id="login" class="popup-wx-login">登录</a>
                                </li>
                                <else/>
                                <li><a href="{:U('user/index/logout')}"><i class="fa fa-sign-out"></i>退出</a></li>
                            </empty>
                        </ul>
                    </div>

                    <notempty name="_SESSION['user']">
                        <div class="col-md-6 col-xs-6">
                            <ul class="list-inline top-v1-data">
                                <li>
                                    <eq name="_SESSION[user_type]" value="supplier">
                                        <a href="{:leuu('User/Index/switch_type',array('type'=>'customer'))}">切换到买家</a>
                                        <else />
                                        <a href="{:leuu('User/Index/switch_type',array('type'=>'supplier'))}">切换到供应商</a>
                                    </eq>
                                </li>
                                <li>
                                    <a href="#">我的信息 <i class="fa fa-angle-down"></i></a>
                                    <ul class="currency">
                                        <li><a href="{:leuu('order/customer/index')}">已买的宝贝</a></li>
                                        <!--<li><a href="#">关注的店铺</a></li>-->
                                        <li><a href="{:leuu('Collect/Index/index')}">收藏的宝贝</a></li>
                                        <li><a href="{:leuu('Address/Bm/index')}">管理收货地址</a></li>
                                    </ul>
                                </li>
                                <eq name="_SESSION[user_type]" value="supplier">
                                    <li>
                                        <a href="#">商家中心 <i class="fa fa-angle-down"></i></a>
                                        <ul class="currency">
                                            <li><a href="{:leuu('Portal/Certificate/index')}">申请入驻</a></li>
                                            <li><a href="{:leuu('Supplier/Center/index')}">进入管理中心</a></li>
                                        </ul>
                                    </li>
                                </eq>
                            </ul>
                        </div>
                    </notempty>
                </div>
            </div>
        </div>
        <!-- End Topbar -->

        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <a class="navbar-brand" href="__ROOT__/" style="margin-top:-10px">
                                <img id="logo-header" src="__TMPL__assets/img/logo/logo.png" alt="Logo">
                            </a>
                        </div>
                        <notempty name="_SESSION[user]">
                            <eq name="_SESSION[user_type]" value="customer">
                                <div class="col-xs-6 phoneShoppingCar">
                                    <!-- <h3 class="phoneNum" style="display: inline-block"><i class="fa fa-phone"></i>400-000-0000</h3>-->
                                    <div class="shop-badge badge-icons pull-right">
                                        <a href="add-to-cart.html"></a>
                                        <a href="add-to-cart.html"><i class="fa fa-shopping-cart"></i>查看购物车</a>
                                        <span class="badge badge-sea rounded-x hide">3</span>
                                    </div>
                                </div>
                            </eq>
                        </notempty>
                        <div class="col-md-6">
                            <div class="searchBox">
                                <ul>
                                    <li class="cur">找商家</li>
                                    <li>找布料</li>
                                </ul>
                                <form method="post" action="{:leuu('Portal/Biz/index')}" class="search-content">
                                    <div class="input-group">

                                        <input type="text"  name="short_name" class="form-control" value="{$formget.short_name|default=''}" placeholder="请输入店铺关键词">
                                        <span class="input-group-btn">
                                            <button class="btn-u" id="keyword_submit" type="submit">搜索</button>
                                            <!--<button class="btn-u" type="button" onclick="upload_one_image('图片上传','#keyword');">photo</button>-->
                                        </span>            
                                    </div>
                                </form>
                                <form method="post" action="{:U('Tf/search/index')}" class="search-content" style="display:none">
                                    <div class="input-group">
                                    <i class="fa fa-camera cameraBox" onclick="up_img_for_search('根据图片找布料——>图片上传','#keyword');">
                                    </i>                      
                                        <input type="text" id="keyword" name="keyword" class="form-control" placeholder="请输入面料关键词">
                                        <span class="input-group-btn">
                                            <button class="btn-u" id="keyword_submit" type="submit">搜索</button>
                                            <!--<button class="btn-u" type="button" onclick="upload_one_image('图片上传','#keyword');">photo</button>-->
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <notempty name="_SESSION[user]">
                            <eq name="_SESSION[user_type]" value="customer">
                                <div class="col-md-3 webShoppingCar">
                                    <!-- <h3 class="phoneNum" style="display: inline-block"><i class="fa fa-phone"></i>400-000-0000</h3>-->
                                    <div class="shop-badge badge-icons pull-right">
                                        <a href="{:leuu('Cart/Index/index')}"></a>
                                        <a href="{:leuu('Cart/Index/index')}"><i class="fa fa-shopping-cart"></i>查看购物车</a>
                                        <span class="badge badge-sea rounded-x hide">3</span>
                                    </div>
                                </div>
                            </eq>
                        </notempty>
                    </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-responsive-collapse">
                        <span class="full-width-menu">Menu Bar</span>
                        <span class="icon-toggle">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</span>
                    </button>
                </div>
            </div>

            <div class="clearfix"></div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse margin-bottom-20">
                <div class="container">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="active">
                            <a href="{:U('/')}">
                                首页
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- 主菜单 -->
                        <php>
                        $menuModel = M("Nav");
                        $main_menu=$menuModel->where(array("cid"=>1,"parentid"=>0,"status"=>1))->select();                        
                        </php>
                        <foreach name="main_menu" item="vo" key="k">
                        <!-- 一级{$k} -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">{$vo.label}</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content disable-icons">
                                        <div class="container">
                                            <div class="row equal-height">
                                            
                                                <php>
                                                $second_menu=$menuModel->where(array("cid"=>1,"parentid"=>$vo["id"]))->select();                        
                                                </php>
                                                <foreach name="second_menu" item="second_vo" key="second_k"> 
                                                <!-- 二级{$second_k} -->                                           
                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list add-nav-title2">
                                                        <li><h3><a href="{$second_vo.href}">{$second_vo.label}</a></h3></li>
                                                        <div class="row">
                                                            <php>
                                                            $third_menu=$menuModel->where(array("cid"=>1,"parentid"=>$second_vo["id"]))->select();
                                                            $col_open=0;
                                                            </php>
                                                            <!-- 三级 -->
                                                            <foreach name="third_menu" item="third_vo" key="third_k">
                                                            <if condition="$third_k%10 eq '0'">
                                                                <div class="col-md-6">
                                                                <php>
                                                                $col_open=1;
                                                                </php>
                                                            </if>
                                                                <li><a href="{$third_vo.href}"> {$third_vo.label}</a></li>
                                                            <if condition="$third_k%10 eq '9'">
                                                                </div>
                                                                <php>
                                                                $col_open=0;
                                                                </php>                    
                                                            </if>                                                            
                                                            </foreach>
                                                            <if condition="$col_open">
                                                            </div>                    
                                                            </if>
                                                            <!-- 三级 end -->                                                            
                                                        </div>
                                                    </ul>
                                                </div>
                                                <!-- 二级{$second_k} end -->
                                                </foreach>


                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- 一级{$k} end -->
                        </foreach>
                        <!-- End 主菜单 -->
                    </ul>
                </div><!--/end container-->
            </div><!--/navbar-collapse-->
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v4 ===-->