<div class="col-md-3 filter-by-block md-margin-bottom-60">
    <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
        <!-- 帮助中心 -->
        <li class="list-group-item list-toggle active">
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-typography">帮助中心</a>
            <ul id="collapse-typography" class="collapse in">
                <li class="active">
                    <a href="{:leuu('Portal/index/help')}">常见问题</a>
                </li>
                <li>
                    <a href="{:leuu('Portal/index/safeguard')}">服务保障</a>
                </li>
            </ul>
        </li>
        
        <!-- Buttons UI -->
        <li class="list-group-item list-toggle">
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-buttons">法律协议</a>
            <ul id="collapse-buttons" class="collapse">
                <li><a href="{:leuu('Portal/Index/register')}">用户协议</a></li>
                <li>
                    <a href="{:leuu('Portal/Index/statement')}">法律声明</a>
                </li>
            </ul>
        </li>
        <!-- End Buttons UI -->
        <!-- End 帮助中心 -->
    </ul>
</div>