<div class="col-md-3 md-margin-bottom-40 padding-right-0 padding-left-0">
    <div class="photo-box margin-bottom-20">
        <a href="javascript:void(0)"><img class="img-responsive profile-img" src="{:sp_get_image_preview_url($_SESSION[user][avatar])}" alt=""></a>
        <h3>{$_SESSION[user][user_nicename]}</h3>
        <span style="color: #E6125D;font-size: 14px;">
			<eq name="_SESSION[user][user_type]" value="21">
				供应商
				<else />
				普通用户
			</eq>
		</span>
    </div>
    <!--<div class="photo-box clearfix space-count margin-bottom-20">
        <a href="{:leuu('Collect/Index/index')}">
            <div class="stat-item">
                <span class="number">1</span>
                <br>
                收藏
            </div>
        </a>
        <a href="#">
            <div class="stat-item">
                <span class="number">2</span>
                <br>
                我的面料
            </div>
        </a>
        <a href="#">
            <div class="stat-item">
                <span class="number">3</span>
                <br>
                我的色卡
            </div>
        </a>
    </div>-->
    <ul id="sidebar-nav-1" class="list-group sidebar-nav-v1 margin-bottom-40">
        <php>
            $overview_active = CONTROLLER_NAME == 'Center' && ACTION_NAME == 'index' ? 'active':'';
            $profile_active = CONTROLLER_NAME == 'Center' && ACTION_NAME == 'profile' ? 'active':'';
            $my_order_active = CONTROLLER_NAME == 'Index' && MODULE_NAME == 'Order' ? 'active':'';
            $supp_order_active = CONTROLLER_NAME == 'Supplier' && MODULE_NAME == 'Order' ? 'active':'';
            $express_order_active = CONTROLLER_NAME == 'SupplierDelivery' && MODULE_NAME == 'Order' ? 'active':'';
            $collect_active = MODULE_NAME == 'Collect' ? 'active':'';
            $tf_active = MODULE_NAME == 'Tf' ? 'active':'';
            $auth_active = MODULE_NAME == 'Bizauth' ? 'active':'';
            $msg_active = MODULE_NAME == 'Notify' ? 'active':'';
            $address_active = MODULE_NAME == 'Address' ? 'active':'';

        </php>
        <li class="list-group-item {$overview_active}">
            <a href="{:leuu('User/Center/index')}">我的总览</a>
        </li>
        <li class="list-group-item {$my_order_active}">
            <a href="{:leuu('Order/Index/index')}">我的订单</a>
        </li>
        <li class="list-group-item">
            <a href="{:leuu('Demand/Supplier/index')}">我的需求</a>
        </li>
        <li class="list-group-item {$collect_active}">
            <a href="{:leuu('Collect/Index/index')}">我的收藏</a>
        </li>
        <eq name="_SESSION[user][user_type]" value="21">
            <li class="list-group-item {$tf_active}">
                <a href="{:leuu('Tf/List/my_fabric')}"> 我的面料</a>
            </li>
            <li class="list-group-item {$supp_order_active}">
                <a href="{:leuu('Order/Supplier/index')}">销售订单 </a>
            </li>
            <li class="list-group-item {$express_order_active}">
                <a href="{:leuu('Order/SupplierDelivery/index')}">发货单 </a>
            </li>
            <li class="list-group-item">
                <a href="{:leuu('Colorcard/Supplier/index')}">我的色卡</a>
            </li>
            <li class="list-group-item">
                <a href="{:leuu('Order/SupplierCard/index')}">色卡订单</a>
            </li>
            <li class="list-group-item">
                <a href="{:leuu('Supplier/Customer/index')}">我的客户</a>
            </li>
        </eq>
        <empty name="_SESSION[user][member]">
            <li class="list-group-item {$auth_active}"><a href="{:leuu('Bizauth/Index/index')}">我要认证</a></li>
            <else />
            <eq name="_SESSION[user][member][auth][auth_status]" value="1">
                <li class="list-group-item{$auth_active}"><a href="{:leuu('Bizauth/Index/index')}">认证信息</a></li>
            </eq>
        </empty>
        <li class="list-group-item notify {$msg_active}">
            <gt name="unread_msg_num" value="0">
                <span class="badge rounded badge-red">{$unread_msg_num}</span>
            </gt>
            <a href="{:leuu('Notify/Bm/index')}">消息通知</a>
        </li>
        <li class="list-group-item {$address_active}">
            <a href="{:leuu('Address/Bm/index')}">收货地址</a>
        </li>
        <li class="list-group-item {$profile_active}">
            <a href="{:leuu('User/Center/profile')}">设置中心</a>
        </li>
        <li class="list-group-item">
            <a href="{:leuu('User/Index/logout')}">退出</a>
        </li>
    </ul>
</div>
