
<div class="col-md-3 md-margin-bottom-40">
    <div class="photo-box margin-bottom-20">
        <a href="{:leuu('User/Profile/avatar')}">
            <empty name="user_info.avatar">
                <img class="img-responsive profile-img" src="__PUBLIC__/img/headicon/headicon_128.png" alt="">
                <else />
                <img class="img-responsive profile-img" src="{:sp_get_image_preview_url($user_info[avatar])}" alt="">
            </empty>
        </a>
        <h4>{$_SESSION[user][user_nicename]|default=$_SESSION[user][user_login]}</h4>
    </div>
    <ul id="sidebar-nav-1" class="list-group sidebar-nav-v1 margin-bottom-40">
        <li class="list-group-item active">
            <a href="{:leuu('Customer/Center/index')}"><i class="fa fa-list-alt"></i> 我的首页</a>
        </li>
        <li class="list-group-item">
            <a href="{:leuu('Collect/Index/index')}"><i class="fa fa-heart"></i> 我的收藏</a>
        </li>
        <li class="list-group-item">
            <a href="{:U('User/login/forgot_password3',array('mobile'=>$user_info['mobile']))}"><i class="fa fa-lock"></i> 修改密码</a>
        </li>
        <li class="list-group-item">
            <a href="{:leuu('Order/Customer/index')}"><i class="fa fa-comments"></i> 我的订单</a>
        </li>
        <li class="list-group-item notify">
            <gt name="unread_msg_num" value="0">
                <span class="badge rounded badge-red">{$unread_msg_num}</span>
            </gt>
            <a href="{:leuu('Notify/Bm/index')}"><i class="fa fa-comments"></i> 消息通知</a>
        </li>
        <li class="list-group-item">
            <a href="{:leuu('Address/Bm/index')}"><i class="fa fa-cog"></i> 收货地址</a>
        </li>
        <li class="list-group-item">
            <a href="{:leuu('User/Center/profile')}"><i class="fa fa-user"></i> 账户设置</a>
        </li>
    </ul>
    <!--Notification-->
</div>