<div id="tools-bottom">
    <a id="qrcodecontrol" href="javascript:void(0);" data-toggle="g-popup" data-target="#qrcode-popup">
        <span aria-hidden="true" class="item-ico tooltips fa fa-qrcode"></span>
    </a>
</div>

<empty name="_SESSION[user]">
    <div id="login-popup" class="g-popup-wrapper">
        <div class="g-popup g-popup--discount2">
            <div class="g-popup--discount2-message text-center">
                <h4>微信扫一扫登录账号</h4>
                <div class="qrcode">
                    <img class="img-responsive" src="" data-src="{:leuu('wx/login/qr')}" data-login="/index.php?g=wx&m=login&a=dologin" alt="正在加载二维码...">
                    <div class="mask hide">
                        <button type="button" class="btn-u btn-u-red btn-refresh">刷新二维码</button>
                    </div>
                </div>
                <p class="countdown">二维码将在 <b class="num color-red"></b> 秒后过期</p>
                <p class="expired hide"><b class="color-red">二维码已过期</b></p>
            </div>
            <a href="javascript:void(0);" class="g-popup__close g-popup--discount2__close"><span class="icon-close" aria-hidden="true"></span></a>
        </div>
    </div>
    <else />
    <notempty name="_SESSION[invite_show_login]">
        <php>session('invite_show_login',null);</php>
        <script>var popupLoginNow = true;</script>
    </notempty>
    <empty name="_SESSION[user][userinfo][mobile]">
        <empty name="_SESSION[popup_mobile_arisen]">
            <php>$_SESSION['popup_mobile_arisen'] = true;</php>
            <script>var popupMobileNow = true;</script>
        </empty>
        <tc_include file="Public:fill-mobile"/>
    </empty>
</empty>

<div id="qrcode-popup" class="g-popup-wrapper">
    <div class="g-popup g-popup--discount2" style="width:auto;">
        <div class="g-popup--discount2-message text-center" style="padding: 35px 50px 50px;">
            <h4>关注我们的公众号</h4>
            <div class="qrcode">
                <img class="img-responsive" src="{:sp_get_asset_upload_path($site_basic[wxqrcode])}">
            </div>
        </div>
        <a href="javascript:void(0);" class="g-popup__close g-popup--discount2__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>

<!-- JS Global Compulsory -->
<script type="text/javascript" src="__PUBLIC__/u/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/u/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/u/plugins/bootstrap/js/bootstrap.min.js"></script>
<script>
    var GV = {
        ROOT: "__ROOT__/",
        WEB_ROOT: "__WEB_ROOT__/",
        JS_ROOT: "public/js/",
        APP:'{$Think.MODULE_NAME}'
    };
</script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="__PUBLIC__/u/plugins/back-to-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/u/plugins/smoothScroll.js"></script>
<script src="__PUBLIC__/u/plugins/countdown/jquery.plugin.js"></script>
<script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/noty/packaged/jquery.noty.packaged.js"></script>
<script type="text/javascript" src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="__PUBLIC__/js/artDialog/artDialog.js"></script>
<script src="__PUBLIC__/js/artDialog/iframeTools.js"></script>
<script src="__PUBLIC__/js/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="__PUBLIC__/js/jquery.qrcode.min.js"></script>