<div class="search-block parallaxBg margin-bottom-0" style="background: #fff">
    <!--<div style="position: absolute;top: 0;left: 0;right: 0;width: 100%;)"></div>-->
    <div class="container">
        <div class="col-md-12">
            <a href="__ROOT__/" class="site-logo">
                <img src="{:sp_get_image_preview_url($site_basic[site_logo_black])}" alt="金马面料馆">
            </a>
            <form action="" class="sky-form page-search-form" method="post">
                <!--<h1>Discover <span class="color-green">new</span> things</h1>-->
                <div class="input-group">
                   
                    <input type="text" class="form-control" name="search" placeholder="搜索面料" value="{:I('post.search')}">
                    <span class="input-group-btn">
							<button class="btn-u btn-u-lg" type="submit" style="padding: 9px 25px"><i class="fa fa-search"></i></button>
						</span>
                </div>
                <!--<div class="inline-group">
                    <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked=""><i></i>全棉面料</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>麻纺面料</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>针织面料</label>
                    <label class="checkbox"><input type="checkbox" name="checkbox-inline"><i></i>毛纺面料</label>
                </div>-->
                <ul class="search-model clear-both" style="display: none">
                    <php>
                        if(MODULE_NAME == 'Tf') $tf_active = 'active';
                        if(MODULE_NAME == 'Colorcard') $card_active = 'active';
                        if(MODULE_NAME == 'Supplier') $supplier_active = 'active';
                    </php>
                   <!--  <a href="{:leuu('Tf/List/index')}">
                        <li class="item {$tf_active}">
                            <i class="icon-clothes-043 color-card" style="font-size: 28px;position: absolute;top: 58%;transform: translate(0,-50%);left: 30px;"></i>
                            面料
                        </li>
                    </a>
                    <a href="{:leuu('Colorcard/Index/index')}">
                        <li class="item {$card_active}">
                            <i class=" icon-education-100
" style="font-size: 28px;position: absolute;top: 58%;transform: translate(0,-50%);left: 30px;"></i>
                            色卡
                        </li>
                    </a>
                    <a href="{:leuu('Supplier/Index/index')}">
                        <li class="item {$supplier_active}" style="padding-left: 0">
                            <i class="icon-users" style="font-size: 28px;vertical-align: middle;padding-right: 5px;"></i>
                            面料商
                        </li>
                    </a> -->
                </ul>
                <img src="/public/img/site_1.png" class="nav-logo" />
            </form>


        </div>
        <div class="col-md-12">
            <div class="select-box">
                <dl>
                    <dt>主材</dt>
                    <dd>
                        <a href="/">不限</a>
                        <volist name="material_menu" id="vo">
                            <a href="{:leuu('Tf/List/index',array('materialtype'=>$vo[id]))}">{$vo.name}</a>
                        </volist>
                    </dd>
                </dl>
                <dl>
                    <dt>织法</dt>
                    <dd>
                        <a href="/">不限</a>
                        <volist name="weave_menu" id="vo">
                            <a href="{:leuu('Tf/List/index',array('weavetype'=>$vo[id]))}">{$vo.name}</a>
                        </volist>
                    </dd>
                </dl>
                <dl>
                    <dt>工艺</dt>
                    <dd>
                        <a href="/">不限</a>
                        <volist name="craft_menu" id="vo">
                            <a href="{:leuu('Tf/List/index',array('crafttype'=>$vo[id]))}">{$vo.name}</a>
                        </volist>
                    </dd>
                </dl>
                <dl>
                    <dt>质地</dt>
                    <dd>
                        <a href="/">不限</a>
                        <volist name="texture_menu" id="vo">
                            <a href="{:leuu('Tf/List/index',array('texturetype'=>$vo[id]))}">{$vo.name}</a>
                        </volist>
                    </dd>
                </dl>
                <dl>
                    <dt>视觉</dt>
                    <dd>
                        <a href="/">不限</a>
                        <volist name="view_menu" id="vo">
                            <a href="{:leuu('Tf/List/index',array('viewtype'=>$vo[id]))}">{$vo.name}</a>
                        </volist>
                    </dd>
                </dl>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>