<!-- Posts -->
<style>
    .cat-link-list {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
    }
    .cat-link-list li {
        display: block;
    }
    .cat-link-list li a {
        color: #777;
        display: block;
        padding: 8px 0;
        font-size: 14px;
        font-weight: 400;
      
    }
    .cat-link-list li a:hover {
        color: #e6125d;
        text-decoration: none;
    }
</style>

<div class="col-md-3">
        <!-- Blog Thumb v2 -->
    <div class="margin-bottom-50">
        <h2 class="title-v4">最近资讯</h2>
        <php>
        $last_post=sp_sql_posts("cid:$portal_last_post;field:post_title,post_excerpt,tid,object_id,term_id,smeta;order:listorder asc;limit:5;")
        </php>
        <foreach name="last_post" item="vo">
        <php>$smeta=json_decode($vo['smeta'],true);</php>
        <div class="blog-thumb blog-thumb-circle margin-bottom-15">
            <a href="{:leuu('article/index',array('id'=>$vo['object_id'],'cid'=>$vo['term_id']))}">
                <div class="blog-thumb-hover">
                    <img class="rounded-x" src="{:get_thumb_url($smeta['thumb'], true)}" alt="{$vo.post_title}" />
                </div>
            </a>
            <div class="blog-thumb-desc">
                <a href="{:leuu('article/index',array('id'=>$vo['object_id'],'cid'=>$vo['term_id']))}" >{$vo.post_title}</a>
                <h3 class="clear-both"><a>{$vo.post_excerpt|msubstr=0,70}</a></h3>
            </div>
        </div>
        </foreach>
    </div>
    <!-- End Blog Thumb v2 -->
     <div class="margin-bottom-50">
        <h2 class="title-v4">分类目录</h2>
        {:ad_categories(0,article)}
    </div>
</div>
