<php>
    $last_unread_biz_msg_num = D('Notify/Msg')->where(array('receiver_id'=>$_SESSION['user']['member']['id'],'readed'=>0,'deleted'=>0))->order('message_id desc')->find();
</php>
<gt name="last_unread_biz_msg_num['message_id']" value="$_SESSION[new_unread_biz_msg_num][message_id]">
    <script type="text/javascript">
        $(function(){ 
            $('<audio id="chatAudio"><source src="__PUBLIC__/notify/8.mp3" type="audio/mpeg"><source src="__PUBLIC__/notify/8.wav" type="audio/wav"></audio>').appendTo('body');
            $('#chatAudio')[0].play();
        });
    </script>
</gt>

<php>
        $new_unread_biz_msg_num = D('Notify/Msg')->where(array('receiver_id'=>$_SESSION['user']['member']['id'],'readed'=>0,'deleted'=>0))->order('message_id desc')->find();

    session('new_unread_biz_msg_num',$new_unread_biz_msg_num);
</php>