<div class="col-md-3 md-margin-bottom-40 padding-right-0 padding-left-0">
	<div class="photo-box margin-bottom-20">
		<a href="{:leuu('User/Profile/avatar')}">
			<notempty name="_SESSION[user][userinfo][avatar]">
				<img class="img-responsive profile-img"
					 src="{:get_avatar_url($_SESSION[user][userinfo][avatar])}" alt="">
				<else />
				<img class="img-responsive profile-img"
					 src="__PUBLIC__/images/headicon.png" alt="">
			</notempty>
		</a>
		<h3>{$_SESSION[user][userinfo][nickname]}</h3>
		<span style="color: #E6125D;font-size: 14px;">
			会员
		</span>
	</div>
	<ul id="sidebar-nav-1" class="list-group sidebar-nav-v1 margin-bottom-40">
		<php>
			$overview_active = CONTROLLER_NAME == 'Center' && ACTION_NAME == 'index' ? 'active':'';
			$profile_active = CONTROLLER_NAME == 'Center' && ACTION_NAME == 'profile' ? 'active':'';
			$my_order_active = CONTROLLER_NAME == 'Index' && MODULE_NAME == 'Order' ? 'active':'';
			$group_active = CONTROLLER_NAME == 'Group' && MODULE_NAME == 'Order' ? 'active':'';
			$supp_order_active = CONTROLLER_NAME == 'Supplier' && MODULE_NAME == 'Order' ? 'active':'';
			$express_order_active = CONTROLLER_NAME == 'SupplierDelivery' && MODULE_NAME == 'Order' ? 'active':'';
			$collect_active = MODULE_NAME == 'Collect' ? 'active':'';
			$tf_active = MODULE_NAME == 'Tf' ? 'active':'';
			$auth_active = MODULE_NAME == 'Bizauth' ? 'active':'';
			$msg_active = MODULE_NAME == 'Notify' ? 'active':'';
			$address_active = MODULE_NAME == 'Address' ? 'active':'';
			$demand_active = MODULE_NAME == 'Demand' ? 'active':'';
			$fans_active = MODULE_NAME == 'Fans' ? 'active':'';

		</php>
		<li class="list-group-item {$overview_active}">
			<a href="{:leuu('User/Center/index')}"><i class="fa fa-th-large"></i> 我的总览</a>
		</li>
		<li class="list-group-item {$my_order_active}">
			<a href="{:leuu('Order/Index/index')}"><i class="fa fa-list-ul"></i> 我的订单</a>
		</li>
		<li class="list-group-item {$group_active}">
			<a href="{:leuu('Order/Group/index')}"><i class="fa fa-clipboard"></i> 我的拼单</a>
		</li>
		<li class="list-group-item {$demand_active}">
			<a href="{:leuu('Demand/Index/index')}"><i class="fa fa-file-text"></i> 我的需求</a>
		</li>
		<li class="list-group-item {$collect_active}">
			<a href="{:leuu('Collect/Index/index')}"><i class="fa fa-heart"></i> 我的收藏</a>
		</li>
		<li class="list-group-item {$fans_active}">
			<a href="{:leuu('Fans/Index/index')}"><i class="fa fa-users"></i> 我的好友</a>
		</li>
		<li class="list-group-item notify {$msg_active}">
			<gt name="unread_msg_num" value="0">
				<span class="badge rounded badge-red">{$unread_msg_num}</span>
			</gt>
			<a href="{:leuu('Notify/Bm/index')}"><i class="fa fa-bell"></i> 我的消息</a>
		</li>
		<li class="list-group-item {$profile_active}">
			<a href="{:leuu('User/Center/profile')}"><i class="fa fa-cog" style="font-size: 19px"></i> 设置中心</a>
		</li>
		<li class="list-group-item">
			<a href="{:leuu('Portal/index/help')}"><i class="fa fa-question-circle" style="font-size: 18px"></i> 帮助中心</a>
		</li>
		<li class="list-group-item {$profile_active}">
			<a href="{:leuu('User/Index/logout')}"><i class="fa fa-power-off" style="font-size: 18px"></i> 退出登录</a>
		</li>
	</ul>
</div>
