
<div class="col-md-3 md-margin-bottom-40">
	<div class="photo-box margin-bottom-20">
		<a href="{:leuu('User/Profile/avatar')}">
			<empty name="user_info.avatar">
				<img class="img-responsive profile-img" src="__PUBLIC__/img/headicon/headicon_128.png" alt="">
				<else />
				<img class="img-responsive profile-img" src="{:sp_get_image_preview_url($user_info[avatar])}" alt="">
			</empty>
		</a>
		<h4>{$member.long_name}</h4>
		<a href="" class="btn btn-u margin-top-10 margin-right-5">我要开店</a>
		<a href="{:leuu('Tf/Release/add')}" class="btn btn-u margin-top-10 margin-left-5">发布面料</a>
	</div>
	<ul id="sidebar-nav-1" class="list-group sidebar-nav-v1 margin-bottom-40">
		<li class="list-group-item active">
			<a href="{:leuu('Supplier/Center/index')}"><i class="fa fa-list-alt"></i> 我的首页</a>
		</li>
		<li class="list-group-item">
			<a href="{:leuu('Collect/Index/index')}"><i class="fa fa-heart"></i> 我的收藏</a>
		</li>
		<li class="list-group-item">
			<a href="{:leuu('Demand/Supplier/index')}"><i class="fa fa-group"></i> 采购需求</a>
		</li>
		<eq name="_SESSION[user][user_type]" value="21">
			<li class="list-group-item">
				<a href="{:leuu('Tf/List/my_fabric')}"><i class="fa fa-cubes"></i> 我的面料</a>
			</li>
			<li class="list-group-item">
				<a href="{:leuu('Order/Supplier/index')}"><i class="fa fa-comments"></i> 销售订单 </a>
			</li>
			<li class="list-group-item">
				<a href="{:leuu('Order/SupplierDelivery/index')}"><i class="fa fa-comments"></i> 发货单 </a>
			</li>
			<li class="list-group-item">
				<a href="{:leuu('Colorcard/Supplier/index')}"><i class="fa fa-history"></i> 我的色卡</a>
			</li>
			<li class="list-group-item">
				<a href="{:leuu('Order/SupplierCard/index')}"><i class="fa fa-history"></i> 色卡订单</a>
			</li>
			<li class="list-group-item">
				<a href="{:leuu('Supplier/Customer/index')}"><i class="fa fa-group"></i> 我的客户</a>
			</li>
		</eq>
		<li class="list-group-item notify">
			<gt name="unread_msg_num" value="0">
				<span class="badge rounded badge-red">{$unread_msg_num}</span>
			</gt>
			<a href="{:leuu('Notify/Bm/index')}"><i class="fa fa-comments"></i> 消息通知</a>
		</li>
		<li class="list-group-item">
			<a href="{:leuu('Address/Bm/index')}"><i class="fa fa-cog"></i> 收货地址</a>
		</li>
		<li class="list-group-item">
			<a href="{:leuu('User/Center/profile')}"><i class="fa fa-user"></i> 账户设置</a>
		</li>
	</ul>
	<!--Notification-->
</div>