<div class="col-md-3 md-margin-bottom-40 padding-right-0 padding-left-0">
    <div class="photo-box margin-bottom-20">
        <a href="{:leuu('Supplier/Center/avatar')}">
            <notempty name="_SESSION[user][member][biz_logo]">
                <img class="img-responsive profile-img"
                     src="{:get_avatar_url($_SESSION[user][member][biz_logo])}" alt="">
                <else />
                <img class="img-responsive profile-img"
                     src="__PUBLIC__/images/headicon.png" alt="">
            </notempty>
        </a>
        <h3>{$_SESSION[user][member][biz_name]}</h3>
        <h4 style="color: #E6125D;font-size: 14px;">面料商</h4>
        <php>
             //从历史记录表中统计总浏览数
            $browse_total = D('History')->where(array('goods_id'=>$_SESSION[user][member][id],'type'=>3,'isdelete'=>0))->count();
        </php>
        <a href="javascript:void(0);" class="pull-left" style="margin-left:25px;">访问量:{$browse_total|default=0} 次</a>
        <a href="{:leuu('Supplier/History/index',array('id'=>$_SESSION[user][member][id],'type'=>3))}" class="pull-right" style="margin-right:25px;color:blue">访问量详情</a>
        <div class="clearfix"></div>
    </div>
    <ul id="sidebar-nav-1" class="list-group sidebar-nav-v1 margin-bottom-40">
        <php>
            $card_active = MODULE_NAME == 'Colorcard' ? 'active':'';
            $tf_active  = MODULE_NAME == 'Tf' && CONTROLLER_NAME == 'Supplier' || CONTROLLER_NAME == 'SupplierSku'? 'active':'';
            $order_active = MODULE_NAME == 'Order' && CONTROLLER_NAME == 'Supplier' ||  CONTROLLER_NAME == 'SupplierDelivery'? 'active':'';
            $group_active = MODULE_NAME == 'Order' && CONTROLLER_NAME == 'SupplierGroup' ? 'active':'';
            $apply_active = MODULE_NAME == 'Tf' && CONTROLLER_NAME == 'SupplierCardapply' ? 'active':'';
            $card_active .= MODULE_NAME == 'Order' && CONTROLLER_NAME == 'Card' ? 'active':'';
            $fans_active = CONTROLLER_NAME == 'Fans' && CONTROLLER_NAME == 'Fans' || CONTROLLER_NAME == 'Invite' ? 'active':'';
            $share_active = MODULE_NAME == 'Supplier' && CONTROLLER_NAME == 'Share' ? 'active':'';
            $demand_active = MODULE_NAME == 'Demand' ? 'active':'';
            $discover_active = CONTROLLER_NAME == 'Discover' ? 'active':'';
            $center_active = CONTROLLER_NAME == 'Center' && ACTION_NAME == 'index' ? 'active':'';
            $authinfo_active = CONTROLLER_NAME == 'Center' && ACTION_NAME == 'authinfo' ? 'active':'';
            $profile_active = CONTROLLER_NAME == 'Center' && ACTION_NAME == 'profile' ? 'active':'';
            $account_active = MODULE_NAME == 'Account' ? 'active':'';
            $msg_active = MODULE_NAME == 'Notify' ? 'active':'';
            $asset_active = MODULE_NAME == 'Asset' ? 'active':'';
            $dist_active = MODULE_NAME == 'Distribution' ? 'active':'';
        </php>
        <li class="list-group-item {$center_active}">
            <a href="{:leuu('Supplier/Center/index')}">仪表盘</a>
        </li>
        <li class="list-group-item {$discover_active}">
            <a href="{:leuu('Supplier/Discover/index')}">发现</a>
        </li>
        <li class="list-group-item {$asset_active}">
            <a href="{:leuu('Asset/Supplier/index')}">媒体库</a>
        </li>
        <li class="list-group-item {$card_active}">
            <a href="{:leuu('Colorcard/Supplier/index')}">色卡管理</a>
        </li>
        <li class="list-group-item {$tf_active}">
            <a href="{:leuu('Tf/Supplier/index')}">面料管理</a>
        </li>
        <li class="list-group-item {$dist_active}">
            <gt name="notify_num[dist_tf_apply]" value="0">
                <span class="badge rounded badge-red">{$notify_num.dist_tf_apply}</span>
            </gt>
            <a href="{:leuu('Distribution/Index/index')}">分销管理</a>
        </li>
        <li class="list-group-item {$order_active}">
            <gt name="notify_num[easyorder]" value="0">
                <span class="badge rounded badge-red">{$notify_num.easyorder}</span>
            </gt>
            <a href="{:leuu('Order/Supplier/index')}">订单管理</a>
        </li>
        <li class="list-group-item {$group_active}">
            <gt name="notify_num[grouporder]" value="0">
                <span class="badge rounded badge-red">{$notify_num.grouporder}</span>
            </gt>
            <a href="{:leuu('Order/SupplierGroup/index')}">拼单管理</a>
        </li>
        <li class="list-group-item {$apply_active}">
            <a href="{:leuu('Tf/SupplierCardapply/index')}">色卡到付</a>
        </li>
        <li class="list-group-item {$demand_active}">
            <a href="{:leuu('Demand/Task/index')}">需求管理</a>
        </li>
        <li class="list-group-item {$fans_active}">
            <a href="{:leuu('Supplier/Fans/index')}">好友管理</a>
        </li>
        <li class="list-group-item {$share_active}">
            <a href="{:leuu('Supplier/share/index',array('target_type'=>1))}">分享管理</a>
        </li>
        <li class="list-group-item notify {$msg_active}">
            <gt name="unread_biz_msg_num" value="0">
                <span class="badge rounded badge-red">{$unread_biz_msg_num}</span>
            </gt>
            <a href="{:leuu('Notify/Supplier/index')}">消息管理</a>
        </li>
        <li class="list-group-item {$authinfo_active}">
            <a href="{:leuu('Supplier/Center/authinfo')}">认证信息</a>
        </li>
        <li class="list-group-item {$account_active}">
            <a href="{:leuu('Account/Index/index')}">账户中心</a>
        </li>
        <li class="list-group-item {$profile_active}">
            <a href="{:leuu('Supplier/Center/profile')}">设置中心</a>
        </li>
        <li class="list-group-item">
            <a href="{:leuu('Portal/index/help')}">帮助中心</a>
        </li>
    </ul>
</div>
