<div class="col-md-3 md-margin-bottom-40 padding-right-0 padding-left-0">
    <div class="photo-box margin-bottom-20">
        <a href="{:leuu('Supplier/Center/avatar')}">
            <img class="img-responsive profile-img"
                 src="{:get_avatar_url($_SESSION[user][member][biz_logo])}" alt="">
        </a>
        <h3>{$_SESSION[user][member][biz_name]}</h3>
        <span style="color: #E6125D;font-size: 14px;">面料商</span>
    </div>
    <ul id="sidebar-nav-1" class="list-group sidebar-nav-v1 margin-bottom-40">
        <php>
            $pool_active = CONTROLLER_NAME == 'Pool' ? 'active':'';
            $supplier_active = strpos(CONTROLLER_NAME,'Supplier') !== false ? 'active':'';
            $distributor_active = strpos(CONTROLLER_NAME,'Distributor') !== false || CONTROLLER_NAME == 'Index' ? 'active':'';
        </php>
        <!--<li class="list-group-item {$pool_active}">
            <a href="{:leuu('Distribution/Pool/index')}">面料池</a>
        </li>-->
        <li class="list-group-item {$supplier_active}">
            <gt name="notify_num[dist_tf_apply]" value="0">
                <span class="badge rounded badge-red">{$notify_num.dist_tf_apply}</span>
            </gt>
            <a href="{:leuu('Distribution/Supplier/index')}">我是做布商（一批）</a>
        </li>
        <li class="list-group-item {$distributor_active}">
            <a href="{:leuu('Distribution/Distributor/index')}">我是分销商（二批）</a>
        </li>
    </ul>
</div>
