<div class="col-md-3 md-margin-bottom-40 padding-right-0 padding-left-0">
    <div class="photo-box margin-bottom-20">
        <a href="{:leuu('Supplier/Center/avatar')}">
            <img class="img-responsive profile-img"
                 src="{:get_avatar_url($_SESSION[user][member][biz_logo])}" alt="">
        </a>
        <h3>{$_SESSION[user][member][biz_name]}</h3>
        <span style="color: #E6125D;font-size: 14px;">面料商</span>
    </div>
    <ul id="sidebar-nav-1" class="list-group sidebar-nav-v1 margin-bottom-40">
        <php>
            $distributed_active = ACTION_NAME == 'index' ? 'active':'';
            $apply_active = ACTION_NAME == 'application' ? 'active':'';
        </php>
        <li class="list-group-item {$distributed_active}">
            <a href="{:leuu('Distribution/Distributor/index')}">已代理</a>
        </li>
        <li class="list-group-item">
            <a href="{:leuu('Distribution/Pool/index')}">可代理</a>
        </li>
        <li class="list-group-item {$apply_active}">
            <a href="{:leuu('Distribution/Distributor/application')}">在申请</a>
        </li>
    </ul>
</div>