<div class="col-md-3 md-margin-bottom-40 padding-right-0 padding-left-0">
	<div class="photo-box margin-bottom-20">
		<a href="{:leuu('User/Profile/avatar')}">
			<notempty name="_SESSION[user][userinfo][avatar]">
				<img class="img-responsive profile-img"
					 src="{:get_avatar_url($_SESSION[user][userinfo][avatar])}" alt="">
				<else />
				<img class="img-responsive profile-img"
					 src="__PUBLIC__/images/headicon.png" alt="">
			</notempty>
		</a>
		<h3>{$_SESSION[user][userinfo][nickname]}</h3>
		<span style="color: #E6125D;font-size: 14px;">
				会员
		</span>
	</div>
	<ul id="sidebar-nav-1" class="list-group sidebar-nav-v1 margin-bottom-40">
		<php>
			$profile_active = CONTROLLER_NAME == 'Center' && ACTION_NAME == 'profile' ? 'active':'';
			$auth_active = MODULE_NAME == 'Bizauth' ? 'active':'';
			$address_active = MODULE_NAME == 'Address' ? 'active':'';
		</php>
		<li class="list-group-item {$profile_active}">
			<a href="{:leuu('User/Center/profile')}">个人资料</a>
		</li>
		<eq name="_SESSION[user][member][authenticated]" value="1">
			<li class="list-group-item {$auth_active}">
				<a href="{:leuu('Bizauth/Index/info')}">认证信息</a>
			</li>
			<else />

			<li class="list-group-item {$auth_active}">
				<a href="{:leuu('Bizauth/Index/index')}">认证信息</a>
			</li>
		</eq>
		<li class="list-group-item {$address_active}">
			<a href="{:leuu('Address/Bm/index')}">收货地址</a>
		</li>
	</ul>
</div>
