<div class="col-md-3 md-margin-bottom-40 padding-right-0 padding-left-0">
    <div class="photo-box margin-bottom-20">
        <a href="{:leuu('Supplier/Center/avatar')}">
            <notempty name="_SESSION[user][member][biz_logo]">
                <img class="img-responsive profile-img"
                     src="{:get_avatar_url($_SESSION[user][member][biz_logo])}" alt="">
                <else />
                <img class="img-responsive profile-img"
                     src="__PUBLIC__/images/headicon.png" alt="">
            </notempty>
        </a>
        <h3>{$_SESSION[user][member][biz_name]}</h3>
        <span style="color: #E6125D;font-size: 14px;">面料商</span>
    </div>
    <ul id="sidebar-nav-1" class="list-group sidebar-nav-v1 margin-bottom-40">
        <php>
            $profile_active = CONTROLLER_NAME == 'Center' && ACTION_NAME == 'profile' ? 'active':'';
            $oper_active = CONTROLLER_NAME == 'Operator' ? 'active':'';
        </php>
        <li class="list-group-item {$profile_active}">
            <a href="{:leuu('Supplier/Center/profile')}">面料商资料</a>
        </li>
        <php>$opauthcheck = opauth_check($_SESSION['user']['operator']['id'], 'supplier/operator/index');</php>
        <notempty name="opauthcheck">
        <li class="list-group-item {$oper_active}">
            <a href="{:leuu('Supplier/Operator/index')}">运营人员</a>
        </li>
        </notempty>
    </ul>
</div>
