<extend name="Admin:base-v2" />
<block name="css">
    <link rel="stylesheet" href="__TMPL__Colorcard/assets/css/tab.css">
    <php>
        $widths = array('768'=>220,'992'=>292,'1200'=>350,);

        $adapter = array();
        foreach($widths as $key=>$width){
        $tmp['tab_full_width'] = $width;
        $tmp['tab_width'] = (float)$tpl['tpl_width'] / 10;
        $tmp['tab_height'] = (float)$tpl['tpl_height'] / 10;
        $tmp['font_size'] = (float)$tmp['tab_full_width'] / $tmp['tab_width'];
        $tmp['padding_bottom'] = $tmp['tab_height'] / $tmp['tab_width'] * 100;
        $tmp['fabric_list_height'] = $tmp['tab_full_width'] * ($tmp['tab_height'] / $tmp['tab_width']) + 66;
        $adapter[$key] = $tmp;
        }
    </php>
    <volist name="adapter" id="vo">
        <style>
            @media (min-width: {$key}px) {
            #tabs {width:{$vo[tab_full_width]*2}px;}
            #tabs .tab-content {position:relative;font-size:{$vo[font_size]}px;width:{$vo[tab_width]*2}em;height:{$vo[tab_height]}em;padding:0 0 {$vo[padding_bottom]/2}% 0;}

            .mCustomScrollbar {
            max-height: {$vo[fabric_list_height]}px;
            }
            }
        </style>
    </volist>
    <style>
        .mCustomScrollbar {
            height: 487px;
        }
        #fabric {padding:0;overflow:hidden;}
        #fabric > div.fabric {padding:5px;
            list-style:none!important;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
        }
        #fabric .ui-draggable-dragging {
            position: fixed!important;
            z-index: 10000;
            width: 100px!important;
        }
        #fabric .ui-draggable-dragging span {display:none;}

        #tabs .tab-pane {width:100%;height:100%;}
        #tabs .tab-pane > div {position:relative;float:left;width:50%;height: 100%;}
        #tabs .tab-pane > div.page-front {border-right:1px solid #eee;}

        .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left;width:45px; }
        .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
        .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
        .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left;width:400px;height:600px;}
        .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
            border: 1px solid #dad55e;
            background: #fffa90;
            color: #777620;
        }

        .fabric-list .fabric {
            padding-top: 50%!important;
        }

        @media (min-width: 768px) {
            .fabric-list .fabric {
                padding-top: 33.3333333%!important;
            }
        }

        @media (min-width: 992px) {
            .fabric-list .fabric {
                padding-top: 25%!important;
            }
        }

        .fabric-list .fabric img {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px;
        }

        .fabric-list .fabric {padding-bottom: 20px!important;line-height: 20px;}
        .fabric-list .fabric span {
            position: absolute;
            left: 0;
            padding: 0 5px;
            width: 100%;
            overflow: hidden;
            text-align: center;
        }
    </style>
    <style>
        {$tpl.tpl_css}

        /*色卡编辑tpl_page style*/
        .catalogSupplierInfo p{
            line-height: 0.5em !important;
            /*float: right !important;*/
            font-size: 0.3em !important;
            white-space: nowrap;
            text-overflow: clip;
        }
        /*.catalogHeaderRight{
            width:auto !important;
        }*/
    </style>
    <style>
        .cover-form img {
            width: 80px;
            height: 80px;
        }
        #thumb-preview {
            max-height: 100px;
        }
        #thumb-preview[src=""] {
            width: 100px;
            height: 100px;
        }
    </style>
    <style>
        .toggle-filters {font-size:14px;}
        .filters {
            padding: 15px;
            overflow: hidden;
            position: absolute;
            width: 100%;
            z-index: 1000;
            background: #f5f5f5;
            border-bottom: 1px solid #ddd;
        }
        .filters select {
            display:block;
            width: 100%;
        }
        .filters label {
            display:block;
            height: 36px;
            line-height: 34px;
            margin: 0;
            font-weight: normal;
            color: #555;
        }
        .select2-container {width:100%!important;}
        .select2-container .select2-selection--single {
            border-radius:0;
            border-color: #dedede;
            height: 36px;
        }
        .select2-container .select2-selection--single .select2-selection__rendered {
            line-height: 36px;
            padding-right: 30px;
        }
        .select2-container .select2-selection--single .select2-selection__arrow {
            height: 34px;
            width: 30px;
        }
        .select2-container .select2-dropdown {border-radius:0;}
        .select2-container .select2-search--dropdown .select2-search__field {border-color: #dedede;}
        .select2-container .select2-search--dropdown .select2-search__field:focus {
            outline: none;
            border-color: #ff518f;
        }
        .select2-container .select2-results__option--highlighted[aria-selected] {background-color: #ff518f;}
        .select2-dropdown {border-color:#dedede;}
        .select2-results__option:first-child {padding:6px;}
    </style>
</block>
<block name="main">
    <div class="container content-sm margin-bottom-30">
        <div class="row magazine-page">
            <div class="col-md-12">
                <form id="cardInfoForm" class="sky-form" role="form" action="{:leuu('edit_post')}" method="post">
                    <header>基本信息</header>
                    <fieldset>
                        <section>
                            <label class="label">缩略图</label>
                            <label>
                                <input type="hidden" name="thumb" id="thumb" value="{$thumb}">
                                <a href="javascript:upload_one_image('图片上传','#thumb');">
                                    <notempty name="thumb">
                                        <img src="{:get_thumb_url($thumb,true,150)}" id="thumb-preview"/>
                                        <else />
                                        <img src="" id="thumb-preview"/>
                                    </notempty>
                                </a>
                            </label>
                        </section>
                        <section>
                            <label class="label">色卡编号</label>
                            <label class="input">
                                <input type="text" name="card_no" id="inputCardNo" value="{$card_no}" placeholder="色卡编号">
                            </label>
                        </section>
                        <section>
                            <label class="label">品名</label>
                            <label class="input">
                                <input type="text" name="card_name" id="inputCardName" value="{$card_name}" placeholder="品名">
                            </label>
                        </section>
                        <!--<section>
                            <label class="label">品号</label>
                            <label class="input">
                                <input type="text" name="card_code" id="inputCardCode" value="{$card_code}" placeholder="品号">
                            </label>
                        </section>-->
                        <eq name="isentity" value="1">
                            <section>
                                <label class="label">实体色卡信息</label>
                                <p>面料数量限制：{$tf_limit}</p>
                            </section>
                        </eq>
                        <section>
                            <label class="label">私密色卡</label>
                            <div class="row">
                                 <div class="inline-group col-md-3">
                                    <label class="radio">
                                        <input type="radio" name="ispublic" value="1" <eq name="ispublic" value="1">checked</eq>>
                                        <i class="rounded-x"></i>否
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="ispublic" value="0" <eq name="ispublic" value="0">checked</eq>>
                                        <i class="rounded-x"></i>是
                                    </label>
                                </div>
                                <div class="rating col-md-3">
                                    <input type="radio" name="fans_level" value="5" id="overall-5" <eq name="fans_level" value="5">checked</eq>>
                                    <label for="overall-5"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="fans_level" value="4" id="overall-4" <eq name="fans_level" value="4">checked</eq>>
                                    <label for="overall-4"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="fans_level" value="3" id="overall-3" <eq name="fans_level" value="3">checked</eq>>
                                    <label for="overall-3"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="fans_level" value="2" id="overall-2" <eq name="fans_level" value="2">checked</eq>>
                                    <label for="overall-2"><i class="fa fa-star"></i></label>
                                    <input type="radio" name="fans_level" value="1" id="overall-1" <eq name="fans_level" value="1">checked</eq>>
                                    <label for="overall-1"><i class="fa fa-star"></i></label>
                                    私密等级
                                </div>
                            </div>
                        </section>
                    </fieldset>
                    <div class="row">
                        <gt name="custom_frontcover" value="0">
                            <div class="cover-form col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">封面信息</h3>
                                    </div>
                                    <div class="panel-body">
                                        <fieldset>
                                            <volist name="frontcover[smeta][fields]" id="vo">
                                                <label class="label">{$vo.name}</label>
                                                <switch name="vo[type]">
                                                    <case value="text" break="1">
                                                        <label class="input">
                                                            <input type="text" name="frontcoverdata[{$vo.field}]" value="{$frontcover[data][$vo[field]]}">
                                                        </label>
                                                    </case>
                                                    <case value="textarea" break="1">
                                                        <label class="textarea">
                                                            <textarea name="frontcoverdata[{$vo.field}]">{$frontcover[data][$vo[field]]}</textarea>
                                                        </label>
                                                    </case>
                                                    <case value="image" break="1">
                                                        <label>
                                                            <input type="hidden" name="frontcoverdata[{$vo.field}]" id="frontcover-thumb" value="{$frontcover[data][$vo[field]]}">
                                                            <a href="javascript:upload_one_image('图片上传','#frontcover-thumb');">
                                                                <notempty name="frontcover[data][$vo[field]]">
                                                                    <img src="{:get_thumb_url($frontcover[data][$vo[field]])}" id="frontcover-thumb-preview"/>
                                                                    <else />
                                                                    <img src="__TMPL__Public/assets/images/default-thumbnail.png" id="frontcover-thumb-preview"/>
                                                                </notempty>
                                                            </a>
                                                        </label>
                                                    </case>
                                                </switch>
                                            </volist>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </gt>
                        <gt name="custom_backcover" value="0">
                            <div class="cover-form col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">封面信息</h3>
                                    </div>
                                    <div class="panel-body">
                                        <fieldset>
                                            <volist name="backcover[smeta][fields]" id="vo">
                                                <label class="label">{$vo.name}</label>
                                                <switch name="vo[type]">
                                                    <case value="text" break="1">
                                                        <label class="input">
                                                            <input type="text" name="backcoverdata[{$vo.field}]" value="{$backcover[data][$vo[field]]}">
                                                        </label>
                                                    </case>
                                                    <case value="textarea" break="1">
                                                        <label class="textarea">
                                                            <textarea name="backcoverdata[{$vo.field}]">{$backcover[data][$vo[field]]}</textarea>
                                                        </label>
                                                    </case>
                                                    <case value="image" break="1">
                                                        <label>
                                                            <input type="hidden" name="backcoverdata[{$vo.field}]" id="backcover-thumb" value="{$backcover[data][$vo[field]]}">
                                                            <a href="javascript:upload_one_image('图片上传','#backcover-thumb');">
                                                                <notempty name="backcover[data][$vo[field]]">
                                                                    <img src="{:get_thumb_url($backcover[data][$vo[field]])}" id="backcover-thumb-preview"/>
                                                                    <else />
                                                                    <img src="" id="backcover-thumb-preview"/>
                                                                </notempty>
                                                            </a>
                                                        </label>
                                                    </case>
                                                </switch>
                                            </volist>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </gt>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">面料
                                        <a href="javascript:void(0);" class="toggle-filters pull-right">
                                            <i class="fa fa-angle-double-down" style="margin:0;"></i>
                                            筛选
                                        </a>
                                    </h3>
                                </div>
                                <div class="panel-body no-padding" style="position:relative;">
                                    <div class="filters" style="display:none;">
                                        <div class="filter-cat" style="margin-bottom: 5px;">
                                            <label>分类：</label>
                                            <select id="cat-0" class="cat">
                                                <option value="-1">全部({:count($filterCats)})</option>
                                                <foreach name="filterCats" item="vo">
                                                    <option value="{$vo.id}" data-code="{$vo.code}">{$vo.name}({$vo.code})</option>
                                                </foreach>
                                            </select>
                                        </div>
                                        <div class="filter-name" style="margin-bottom: 5px;">
                                            <label>名称：</label>
                                            <select id="cat-name" class="name">
                                                <option value="-1">全部(0)</option>
                                            </select>
                                        </div>
                                        <button type="button" class="btn-u btn-block pull-left" onclick="filterNow()">筛选</button>
                                    </div>
                                    <div id="fabric" class="fabric-list">
                                        <foreach name="unselected_fabrics" item="vo">
                                            <div class="col-md-3 col-sm-4 col-xs-6 fabric"
                                                 data-tf_id="{$vo.id}"
                                                 data-name="{$vo.name}"
                                                 data-spec="{$vo.spec}"
                                                 data-material="{$vo.material}"
                                                 data-component="{$vo.component}"
                                                 data-code="{$vo.code}">
                                                <img class="lazyload img-responsive" data-original="{:get_thumb_url($vo['img']['thumb'], true)}">
                                                <span>{$vo.code}</span>
                                            </div>
                                        </foreach>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">色卡</h3>
                                </div>
                                <div class="panel-body">
                                    <style id="frontcover-css">{$frontcover.pg_css}</style>
                                    <style id="backcover-css">{$backcover.pg_css}</style>
                                    <div id="tabs" class="tab-v2">
                                        <!-- Nav tabs -->
                                        <a class="tab-prev" href="javascript:void(0)" onclick="tabsgo(0)"><span class="fa fa-angle-left"></span></a>
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="active"><a href="#covers" data-toggle="tab">封面/封底</a></li>
                                            <foreach name="pages" item="vo">
                                                <li class="removable" data-page_id="{$vo.page_id}"><a href="#page_{$vo.page_id}" data-toggle="tab">{$vo.listorder}</a></li>
                                            </foreach>
                                            <li class="newtab"><a href="#" data-toggle="modal" data-target="#newtabModal">+</a></li>
                                        </ul>
                                        <a class="tab-next" href="javascript:void(0)" onclick="tabsgo(1)"><span class="fa fa-angle-right"></span></a>
                                        <a class="tab-remove" href="javascript:void(0)" onclick="removePanel()">×</a>

                                        <div class="clearfix"></div>
                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane text-center active" id="covers">
                                                <div class="page-front has-bg">
                                                    {$frontcover.pg_content}
                                                    <!--<button type="button" class="btn-u btn-u-lg"
                                                     style="background-image:url({:sp_get_image_preview_url($frontcover)});"
                                                            onclick="javascript:upload_cover('图片上传','#covers .page-front','front');">选择封面</button>-->
                                                    <button type="button" class="btn-u btn-u-lg"
                                                            data-toggle="modal" data-target="#chooseFrontCoverModal">选择封面</button>
                                                </div>
                                                <div class="page-back has-bg">
                                                    {$backcover.pg_content}
                                                    <!--<button type="button" class="btn-u btn-u-lg"
                                                     style="background-image:url({:sp_get_image_preview_url($backcover)});"
                                                            onclick="javascript:upload_cover('图片上传','#covers .page-back','back');">选择封底</button>-->
                                                    <button type="button" class="btn-u btn-u-lg"
                                                            data-toggle="modal" data-target="#chooseBackCoverModal">选择封底</button>
                                                </div>
                                            </div>
                                            <volist name="pages" id="vo">
                                                {$vo.content}
                                            </volist>
                                        </div>
                                    </div>
                                    <div id="cover-alert" class="alert alert-warning fade in hide" style="margin-top:10px;">
                                        <strong>注意：封面或封底已更改！</strong> 请保存应用封面或封底后修改封面内容！
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <footer>
                    <input type="hidden" name="card_id" value="{$card_id}">
                    <input type="hidden" name="custom_frontcover" value="{$custom_frontcover}">
                    <input type="hidden" name="custom_backcover" value="{$custom_backcover}">
                    <button type="submit" class="btn-u">保存</button>
                    <a href="{:U('preview',array('id'=>$card_id))}" class="btn-u btn-u-yellow">预览</a>
                    <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                </footer>
                </form>
        </div>
    </div>
    <!--/container-->
    <div class="modal fade" id="newtabModal" tabindex="-1" role="dialog"
         aria-labelledby="newtabModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="newtabModalLabel">新增一页</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <foreach name="tpl[pages]" item="vo">
                            <div class="col-md-3 col-xs-2">
                                <div class="thumbnails thumbnail-style">
                                    <a class="add-page js-ajax-btn" href="javascript:void(0);" data-card_id="{$card_id}" data-pgtpl_id="{$vo.pg_id}" title="{$vo.pg_name}">
                                        <img class="img-responsive" src="{:get_thumb_url($vo[pg_thumb],true)}" alt="">
                                    </a>
                                    <div class="caption">
                                        <h3 class="fancybox text-center" data-rel="fancybox-button" href="{:get_thumb_url($vo[pg_thumb],true)}"><a class="hover-effect" href="#">{$vo.pg_name}</a></h3>
                                    </div>
                                </div>
                            </div>
                        </foreach>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="chooseFrontCoverModal" tabindex="-1" role="dialog"
             aria-labelledby="newtabModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="chooseFrontCoverModalLabel">选择封面</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <foreach name="frcovers" item="vo">
                                <div class="col-md-3 col-xs-2">
                                    <div class="thumbnails thumbnail-style" onclick="chooseCover('{$card_id}','{$vo.pg_id}')">
                                        <a class="add-page js-ajax-btn" href="javascript:void(0);" data-card_id="{$card_id}" data-pgtpl_id="{$vo.pg_id}" title="{$vo.pg_name}">
                                            <img class="img-responsive" src="{:get_thumb_url($vo[pg_thumb], true)}" alt="">
                                        </a>
                                        <div class="caption">
                                            <h3 class="fancybox text-center" data-rel="fancybox-button" href="{:get_thumb_url($vo[pg_thumb])}"><a class="hover-effect" href="#">{$vo.pg_name}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </foreach>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="chooseBackCoverModal" tabindex="-1" role="dialog"
             aria-labelledby="newtabModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="chooseBackCoverModalLabel">选择封底</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <foreach name="bgcovers" item="vo">
                                <div class="col-md-3 col-xs-2">
                                    <div class="thumbnails thumbnail-style" onclick="chooseCover('{$card_id}','{$vo.pg_id}')">
                                        <a class="add-page js-ajax-btn" href="javascript:void(0);" data-card_id="{$card_id}" data-pgtpl_id="{$vo.pg_id}" title="{$vo.pg_name}">
                                            <img class="img-responsive" src="{:get_thumb_url($vo[pg_thumb], true)}" alt="">
                                        </a>
                                        <div class="caption">
                                            <h3 class="fancybox text-center" data-rel="fancybox-button" href="{:get_thumb_url($vo[pg_thumb])}"><a class="hover-effect" href="#">{$vo.pg_name}</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </foreach>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__TMPL__Colorcard/assets/js/colorcard.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();

            $('.toggle-filters').on('click', function(){
                var $filters = $('.filters');
                if($filters.css('display') == 'none'){
                    $filters.fadeIn(300, function(){
                        $('.toggle-filters .fa').removeClass('fa-angle-double-down').addClass('fa-angle-double-up');
                    });
                }else{
                    $filters.fadeOut(300, function(){
                        $('.toggle-filters .fa').removeClass('fa-angle-double-up').addClass('fa-angle-double-down');
                    });
                }
            });

            $('#cat-0').select2();
            $('#cat-name').select2();
            $('.filter-cat').on('select2:select', 'select.cat', function(){
                var $this = $(this);
                $this.find('option').each(function(){
                    destroyCatSelecter($(this).val());
                });
                if($this.val() > 0){
                    getCats($this.val());
                }else{
                    refreshNames(parseInt($this.attr('id').split('-')[1]));
                }
            })

            $('#fabric').on('click', 'div.fabric a', function(){
                event.preventDefault();
            });

            $('.fabric-block').find('.qrcode').each(function(){
                $(this).qrcode($(this).data('link'));
            })

            $( ".fabric", $('.fabric-block') ).draggable({
                revert: "invalid",
                containment: "document",
                helper: "clone",
                cursor: "move",
                zIndex: 100
            });

            $('#tabs').find('.nav-tabs').sortable({
                items: '>.removable',
                stop:function(){
                    refreshNums();
                }
            });
        });
        function chooseCover(card_id, pgtpl_id){
            var url = '/index.php?g=Colorcard&m=Admin&a=choose_cover';
            var data = {id:card_id, tpl:pgtpl_id};
            $.post(url,data,function(response){
                if(response.status){
                    var data = response.data;
                    var type = parseInt(data.pg_type);
                    $(type == 4 ? '#chooseFrontCoverModal':'#chooseBackCoverModal').modal('hide');
                    var $field = $('[name="'+(type == 4 ? 'custom_frontcover':'custom_backcover')+'"]');
                    if($field.val() != data.pg_id){
                        $field.val(data.pg_id);

                        var $wrapper = $(type == 4 ? '.page-front':'.page-back');
                        var $content = $(data.pg_content);
                        console.log(data.pg_css);
                        $style = $('#'+type == 4 ? 'frontcover-css':'backcover-css');
                        console.log($style);
                        $style.html(data.pg_css);
                        $wrapper.prepend($content);

                        $('#cover-alert').removeClass('hide');
                    }
                }else{
                    noty({type:'error',text:response.info});
                }
            });
        }

        function filterNow(){
            $('.toggle-filters').click();
            var url = '/index.php?g=Colorcard&m=Admin&a=ajax_tf_list&card_id={$card_id}';
            var $selectors = $('.filter-cat select');
            var $lastSelector = $selectors.eq($selectors.length - 1);
            var cid = parseInt($lastSelector.val());
            var ccode = $lastSelector.find('option:selected').data('code');

            //右边选择全部时候，找父id
            if(cid < 0){
                cid = parseInt($lastSelector.attr('id').split('-')[1]);
                if(cid > 0){
                    //父id还是大于0，说明左边还有选择
                    ccode = $selectors.eq($selectors.length - 2).find('option:selected').data('code');
                }
            }

            if(cid > 0){
                url += '&ccode='+ccode;
            }

            var nid = $('.filter-name select').val();
            var ncode = $('.filter-name select option:selected').data('code');

            if(nid > 0){
                url += '&ncode='+ncode;
            }

            $.get(url, function(response){
                $wrapper = $('#fabric');
                $wrapper.children().remove();
                $wrapper.parents('.mCustomScrollbar').mCustomScrollbar('destroy');
                if(response.data.length > 0){
                    for(var i in response.data){
                        var v = response.data[i];
                        var $fabric = $('<div>')
                                .addClass('col-md-3 col-sm-4 col-xs-6 fabric')
                                .data('tf_id', v.id)
                                .data('name', v.name)
                                .data('spec', v.spec)
                                .data('material', v.material)
                                .data('component', v.component)
                                .data('code', v.code);
                        $img = $('<img>')
                                .addClass('lazyload img-responsive')
                                .attr('src', v.thumb);
                        $span = $('<span>').text(v.code);
                        $img.appendTo($fabric);
                        $span.appendTo($fabric);
                        $wrapper.append($fabric);
                    }
                }

                initFabricDrag($wrapper);
                initFabricDrop($wrapper);
                $wrapper.parent().mCustomScrollbar();
            })
        }

        function destroyCatSelecter(pid){
            var $selector = $('#cat-'+pid);
            if($selector.length > 0){
                var subVal = $selector.val();
                $selector.select2('destroy');
                $selector.remove();
                destroyCatSelecter(subVal);
            }
        }

        function getCats(pid){
            if(typeof pid === "undefined") pid = 0;
            var url = '/index.php?g=Tf&m=Index&a=cats&pid='+pid;
            $.get(url, function(response){
                if(response.total_count > 0){
                    var $select = $('<select>')
                            .data('pid', pid)
                            .attr('id', 'cat-'+pid)
                            .addClass('cat');
                    $('<option>').val(-1).text('全部('+response.total_count+')').appendTo($select);
                    for(var x in response.items){
                        var item = response.items[x];
                        $option = $('<option>').val(item.id).data('code',item.code).text(item.name+'('+item.code+')');
                        $select.append($option);
                    }
                    $('.filter-cat').append($select);
                    $select.select2();
                }
                refreshNames(response.names);
            })
        }

        function refreshNames(items){
            var $select = $('#cat-name');
            $select.find('option').remove();

            if(typeof items === "undefined"){
                items = [];
            }

            if(typeof items === "object"){

                $('<option>').val(-1).text('全部('+items.length+')').appendTo($select);
                for(var x in items){
                    var item = items[x];
                    $option = $('<option>').val(item.id).data('code',item.code).text(item.name+'('+item.code+')');
                    $select.append($option);
                }
                $select.select2('destroy');
                $select.select2();
            }else if(typeof items === "number"){
                var url = '/index.php?g=Tf&m=Index&a=names&cid='+items;
                $.get(url, function(response){
                    $('<option>').val(-1).text('全部('+response.total_count+')').appendTo($select);
                    if(response.total_count > 0){
                        for(var x in response.items){
                            var item = response.items[x];
                            $option = $('<option>').val(item.id).data('code',item.code).text(item.name+'('+item.code+')');
                            $select.append($option);
                        }
                    }
                    $select.select2('destroy');
                    $select.select2();
                })
            }else{
                $('<option>').val(-1).text('全部(0)').appendTo($select);
                $select.select2();
            }
        }

        function upload_cover(dialog_title,input_selector,cover_type){
            open_upload_dialog(dialog_title,function(dialog,files){
                var url = '/index.php?g=Colorcard&m=Admin&a=change_cover';
                var data = {id:{$card_id},type:cover_type,url:files[0].filepath};
                $.post(url,data,function(response){
                    if(response.status){
                        $(input_selector)
                                .addClass('has-bg')
                                .css({'background-image':'url('+files[0].preview_url+')'});
                    }else{
                        noty({type:'error',text:response.info});
                    }
                })
            },{},0,'image');
        }
        function upload_bg(dialog_title,input_selector,page_id){
            open_upload_dialog(dialog_title,function(dialog,files){
                var url = '/index.php?g=Colorcard&m=Admin&a=change_pagebg';
                var data = {id:page_id,url:files[0].filepath};
                $.post(url,data,function(response){
                    if(response.status){
                        $(input_selector)
                                .addClass('isset-bg')
                                .css({'background-image':'url('+files[0].preview_url+')'});
                    }else{
                        noty({type:'error',text:response.info});
                    }
                })
            },{},0,'image');
        }
        function upload_bg_front(dialog_title,input_selector,page_id){
            open_upload_dialog(dialog_title,function(dialog,files){
                var url = '/index.php?g=Colorcard&m=Admin&a=change_pagebg&front=1';
                var data = {id:page_id,url:files[0].filepath};
                $.post(url,data,function(response){
                    if(response.status){
                        $(input_selector)
                                .addClass('isset-bg')
                                .css({'background-image':'url('+files[0].preview_url+')'});
                    }else{
                        noty({type:'error',text:response.info});
                    }
                })
            },{},0,'image');
        }
    </script>
</block>