<extend name="Admin:base-v2" />
<block name="css">
    <style>
        .frontcover {
            overflow: hidden;
            background-position: center;
            background-size: cover;
        }
        .btn-u-xs, a.btn-u-xs {
            font-size: 12px;
            line-height: 18px;
            padding: 2px 5px;
            margin-right:5px;
        }
        .delete-style{
            width:22px;height:22px;padding:2px 5px;text-align:center;background-color:#999;display: inline-block;line-height:22px;color:#fff;text-decoration: none;
        }
        .delete-style:hover{
            text-decoration: none;
        }
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li <notpresent name="_GET[status]">class="active"</notpresent>><a href="{:U('index')}">全部</a></li>
                <li <eq name="_GET[status]" value="0">class="active"</eq>><a href="{:U('index',array('status'=>0))}">未定稿</a></li>
                <li <eq name="_GET[status]" value="10">class="active"</eq>><a href="{:U('index',array('status'=>10))}">正在定稿</a></li>
                <li <eq name="_GET[status]" value="20">class="active"</eq>><a href="{:U('index',array('status'=>20))}">已定稿</a></li>
                <li><a href="#" data-toggle="modal" data-target=".add-modal">添加色卡</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        <php>$statuses = D('Colorcard')->statuses;</php>
                        <volist name="cards[data]" id="vo">
                            <php>
                                $padding_bottom = (float)$vo['tpl']['tpl_height']/(float)$vo['tpl']['tpl_width']*100;
                                if($padding_bottom > 0){
                                $style = "background-image:url(".sp_get_image_preview_url($vo['frontcover']).");";
                                $style .= "padding-bottom:$padding_bottom%;";
                                }
                            </php>

                            <switch name="vo.card_type" >
                                <case value="1">
                                    <php>
                                        //查找该电脑版本色卡有没有对应的手机版本色卡
                                        $mobile_card = M('Colorcard')->where(array('card_rid'=>$vo['card_id'],'card_trash'=>0))->find();
                                        $mobile_tpl = M("Colorcard_tpl")->where(array('tpl_id'=>$mobile_card['card_tpl']))->find();
                                    </php>
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <div class="frontcover" style="{$style}"></div>
                                            <div class="caption">
                                                <h3>{$vo.card_name}</h3>
                                                <p>{$statuses[$vo[card_status]]}</p>
                                                <p>{$vo.biz_name}</p>
                                                <p class="clearfix">
                                                    <lt name="vo[card_status]" value="20">
                                                        <a href="{:U('edit',array('id'=>$vo['card_id']))}" class="btn-u btn-u-xs pull-left">修改电脑版色卡</a>
                                                    </lt>
                                                     <a href="{:U('preview',array('id'=>$vo['card_id']))}"  class="btn-u btn-u-xs pull-left" >预览电脑版色卡</a>
                                                    <a class="js-ajax-btn pull-right delete-style" title="删除电脑版本色卡" data-confirm="true" data-href="{:leuu('delete')}" data-id="{$vo['card_id']}" data-msg="确定要删除吗？删除后不能恢复。"><i class="glyphicon glyphicon-remove-sign"></i></a>
                                                </p>
                                                <p class="clearfix">
                                                <empty name="mobile_card">
                                                    <a href="#" data-toggle="modal" data-target=".add-modal2" data-cardid="{$vo['card_id']}" data-supplierid="{$vo['supplier_id']}" class="btn-u btn-u-xs pull-left addcard">添加手机版色卡</a>
                                                <else/>
                                                    <lt name="mobile_card[card_status]" value="20">
                                                        <a href="{:U('edit',array('id'=>$mobile_card['card_id']))}" class="btn-u btn-u-xs pull-left">修改手机版色卡</a>
                                                    </lt>
                                                    <a href="{:U('view',array('id'=>$mobile_card['card_id'],'show_type'=>$mobile_tpl['show_type']))}" class="btn-u btn-u-xs pull-left">预览手机版色卡</a>
                                                     <a class="js-ajax-btn pull-right delete-style" title="删除手机版本色卡" data-confirm="true" data-href="{:leuu('delete')}" data-id="{$mobile_card['card_id']}" data-msg="确定要删除吗？删除后不能恢复。"><i class="icon-close"></i></a>
                                                </empty>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </case>
                                <case value="2">
                                    <php>
                                    //查找有没有该手机版本对应的电脑版本色卡
                                    $web_card = M('Colorcard')->where(array('card_id'=>$vo['card_id'],'card_rid'=>array('gt',0),'card_trash'=>0))->find();
                                    $self_tpl = M("Colorcard_tpl")->where(array('tpl_id'=>$vo['card_tpl']))->find();
                                    </php>
                                    <empty name="web_card">
                                        <div class="col-md-3">
                                            <div class="thumbnail">
                                                <div class="frontcover" style="{$style}"></div>
                                                <div class="caption">
                                                    <h3>{$vo.card_name}</h3>
                                                    <p>{$statuses[$vo[card_status]]}</p>
                                                    <p>{$vo.biz_name}</p>
                                                    <p class="clearfix">
                                                        <a href="#" data-toggle="modal" data-target=".add-modal3" data-cardid="{$vo['card_id']}" data-show="{$self_tpl['show_type']}" data-supplierid="{$vo['supplier_id']}" class="btn-u btn-u-xs pull-left addcard">添加电脑版色卡</a>
                                                    </p>
                                                    <p class="clearfix">
                                                    <lt name="vo[card_status]" value="20">
                                                        <a href="{:U('edit',array('id'=>$vo['card_id']))}" class="btn-u btn-u-xs pull-left">修改手机版色卡</a>              
                                                    </lt>
                                                    <a href="{:U('view',array('id'=>$vo['card_id'],'show_type'=>$self_tpl['show_type']))}" target="_blank" class="btn-u btn-u-xs pull-left">预览手机版色卡</a>
                                                    <a class="js-ajax-btn pull-right delete-style" title="删除手机版本色卡" data-confirm="true" data-href="{:leuu('delete')}" data-id="{$vo['card_id']}" data-msg="确定要删除吗？删除后不能恢复。"><i class="icon-close"></i></a>
                                                    </p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </empty>
                                </case>
                                <default />

                            </switch>
  

                        </volist>
                    </div>
                    <ul class="pagination">{$cards.page}</ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade add-modal" tabindex="-1" role="dialog"
         aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addModalLabel" class="modal-title">选择供应商</h4>
                </div>
                <div class="modal-body">
                    <form id="addform" action="{:U('newcard')}" method="post">
                        <div class="row margin-bottom-20">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" id="inputVendName" class="form-control" placeholder="搜索供应商">
                                    <span class="input-group-btn">
											<button id="btnSearchVend" class="btn btn-info" type="button">搜索</button>
										</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select id="selectSupplier" class="form-control" name="supplier" required>
                                        <option value="">请先搜索供应商</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="card_type" required>
                                        <option value="">请选择色卡类型</option>
                                        <option value="1">电脑版本</option>
                                        <option value="2">手机版本</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="tpl" required>
                                        <option value="">请选择模板</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn-u btn-u-red pull-right">下一步</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade add-modal2" tabindex="-1" role="dialog"
         aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addModalLabel" class="modal-title">选择模板</h4>
                </div>
                <div class="modal-body">
                    <form id="mobilecard" action="{:U('addmobile_page')}" method="post">
                        <php>$tpls = M('Colorcard_tpl')->where(array('tpl_type'=>2,'tpl_status'=>1))->select();</php>
                        <div class="row margin-bottom-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select class="form-control" name="tpl" required>
                                        <option value="">请选择模板</option>
                                        <foreach name="tpls" item="vo">
                                            <option value="{$vo.tpl_id}">{$vo.tpl_name}</option>
                                        </foreach>
                                    </select>
                                </div>
                                <input type="hidden" name="card_type" value="2">
                                <input type="hidden" name="supplier" value="">
                                <input type="hidden" name="card_rid" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn-u btn-u-red pull-right">下一步</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade add-modal3" tabindex="-1" role="dialog"
         aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addModalLabel" class="modal-title">选择电脑模板</h4>
                </div>
                <div class="modal-body">
                    <form id="webcard" action="{:U('addweb_page')}" method="post">
                          <php>$web_tpls = M('Colorcard_tpl')->where(array('tpl_type'=>1,'tpl_status'=>1))->select();</php>
                       <div class="row margin-bottom-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="tpl_id" required>
                                        <option value="">请选择模板</option>
                                        <foreach name="web_tpls" item="vo">
                                            <option value="{$vo.tpl_id}">{$vo.tpl_name}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="pg_id" required>
                                        <option value="">请选择模板页</option>
                                    </select>
                                </div>
                            </div>
                                <input type="hidden" name="card_type" value="1">
                                <input type="hidden" name="supplier" value="">
                                <input type="hidden" name="card_rid" value="">
                                <input type="hidden" name="show_type" value="">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn-u btn-u-red pull-right">下一步</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){

            //选择色卡类型和色卡模板类型
            $('[name="card_type"]').change(function(){
                $('[name="tpl"]').children().not(":first").remove();
                $.getJSON("{:U('tpl_ajax')}",{tpl_type:$(this).val()},function(response){
                    var data = response.data;
                    for(x in data){
                        opt= '<option value="'+data[x].tpl_id+'">'+data[x].tpl_name+'</option>';
                        $(opt).appendTo('[name="tpl"]');
                    }
                });
            });

                    //选择色卡模板和色卡模板页
            $('[name="tpl_id"]').change(function(){
                $('[name="pg_id"]').children().not(":first").remove();
                $.getJSON("{:U('pg_ajax')}",{tpl_id:$(this).val()},function(response){
                    var data = response.data;
                    for(x in data){
                        opt= '<option value="'+data[x].pg_id+'">'+data[x].pg_name+'</option>';
                        $(opt).appendTo('[name="pg_id"]');
                    }
                });
            });

            $('.addcard').on('click',function(e){
                e.preventDefault();
                 //根据电脑版色卡添加手机版色卡部分
                $('.add-modal2').find('[name="supplier"]').val($(this).data('supplierid'));
-               $('.add-modal2').find('[name="card_rid"]').val($(this).data('cardid'));

                //根据手机班色卡添加电脑版色卡部分
                $('.add-modal3').find('[name="supplier"]').val($(this).data('supplierid'));
-               $('.add-modal3').find('[name="card_rid"]').val($(this).data('cardid'));
-               $('.add-modal3').find('[name="show_type"]').val($(this).data('show'));
            });

            $('#btnSearchVend').on('click',function(){
                var $this = $(this);
                var url = '/index.php?g=Portal&m=Public&a=search_supplier&term='+$('#inputVendName').val();
                $this.html('<i class="fa fa-spinner fa-spin"></i>');
                $.getJSON(url,function(response){
                    $this.text('搜索');
                    var $result = $('#selectSupplier');
                    data = response.data;
                    if(data.length > 0){
                        $result.empty();
                        for(x in data){
                            opt = '<option value="'+ data[x].id +'">'+ data[x].value +'</option>';
                            $(opt).appendTo($result)
                        }
                    }else{
                        noty({type:'error',text:'查不到面料商！'})
                    }
                })
            });
            
            $('#addform').validate();
            $('#mobilecard').validate();
            $('#webcard').validate();
        })
    </script>
</block>