<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <form id="setting-form" class="sky-form" role="form" action="{:U('setting')}" method="post">
            <header>色卡全局设置</header>
            <fieldset>
                <section>
                    <div class="row">
                        <label class="label col col-2">默认封面</label>
                        <div class="col col-10">
                            <div id="frontCoverUrl" class="el-selector">
                                <input type="hidden" class="el-input" name="settings[frontcoverurl]" value="{$options[frontcoverurl]}" />
                                <empty name="options[frontcoverurl]">
                                    <img class="el-img" src="__PUBLIC__/images/default-thumbnail.png" style="width:135px;cursor:pointer;" />
                                    <else />
                                    <img class="el-img" src="{:sp_get_asset_upload_path($options[frontcoverurl])}" style="width:135px;cursor:pointer;" />
                                </empty>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-2">默认封底</label>
                        <div class="col col-10">
                            <div id="backCoverUrl" class="el-selector">
                                <input type="hidden" class="el-input" name="settings[backcoverurl]" value="{$options[backcoverurl]}" />
                                <empty name="options[backcoverurl]">
                                    <img class="el-img" src="__PUBLIC__/images/default-thumbnail.png" style="width:135px;cursor:pointer;" />
                                    <else />
                                    <img class="el-img" src="{:sp_get_asset_upload_path($options[backcoverurl])}" style="width:135px;cursor:pointer;" />
                                </empty>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-2">背景音乐</label>
                        <div class="col col-10">
                            <input type="hidden" id="inputMp3" name="settings[bgmp3]" value="{$options[bgmp3]}" />
                            <audio controls="controls" id="audioMp3" style="float:left;">
                                <source id="sourceMp3" src="{:sp_get_asset_upload_path($options[bgmp3])}" type="audio/mp3" />
                                Your browser does not support this audio format.
                            </audio>
                            <button type="button" class="btn-u btn-u-xs btn-u-primary" style="float:left;margin-left: 10px;" onclick="elExplorer('call_func',{func:'setBgMp3'});">选择MP3</button>
                            <button type="button" class="btn-u btn-u-xs btn-u-default" style="float:left;margin-left: 10px;" onclick="cancelMp3();">取消MP3</button>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <label class="label col col-2">可用模板</label>
                        <div class="col col-10">
                            <php>
                                $page_tpls = D('Colorcard')->pageTpls;
                            </php>
                            <foreach name="page_tpls" item="vo">
                                <div class="col col-3">
                                    <label class="checkbox state-success">
                                        <php>$checked = in_array($key, $options['page_tpls']) ? 'checked':'';</php>
                                        <input type="checkbox" name="settings[page_tpls][]" value="{$key}" {$checked}><i></i>{$vo.name}
                                    </label>
                                </div>
                            </foreach>
                        </div>
                    </div>
                </section>
            </fieldset>
            <footer>
                <input type="hidden" name="key" value="colorcard_settings">
                <button type="submit" class="btn-u">保存</button>
                <a href="{:U('index')}" class="btn-u btn-u-default">返回色卡库</a>
            </footer>
        </form>
    </div>
</block>
<block name="js">
    <script>
        function setBgMp3(src){
            $('#inputMp3').val(src);
            $('#sourceMp3').attr('src',src).parent()[0].load();
        }
        function cancelMp3(){
            $('#inputMp3').val('');
            $('#sourceMp3').attr('src','').parent()[0].load();
        }
    </script>
</block>