<extend name="Public:base-v8" />
<block name="title"><title>商家认证 {$site_name}</title></block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/bizauth.css">
    <style>
        .auth-info {
            background: #fff;
            padding: 40px 0;
        }
        .jumbotron h1{
            font-size: 48px;
            color: #fff;
            text-align: center;
            position: absolute;
            z-index: 200;
            top: 45px;
            left: 50%;
            transform: translate(-50%,0);
        }
        .jumbotron.header{
            position: relative;
        }
        .result-success .fa {
            font-size: 30px;
            border-radius: 50%;
            border: 2px solid #27ae60;
            padding: 30px;
            color: #27ae60;
        }
        .result-success h5 {
            color: #27ae60;
            font-size: 16px;
        }

        .submit-check {
            background-color: #FFF;
            height: 400px;
            text-align: center;
        }
        .submit-check .message {
            border-radius: 20px;
            text-align: center;
            padding: 30px;
            margin: 5%;
        }
        .free-shop-box{
            margin-top: -185px;
        }
        .submit-check .message .msg-finished {
            color: #4a4a4a;
            font-size: 1.5em;
            margin-bottom: 50px;
        }
        .orange {
            color: #F1453D;
        }
        .content.bg-grey{
            padding-top: 110px;
        }
        .free-shop-box .free-shop-content .auth-welcome{
            border: 0;
            margin: 0 135px 50px;
        }
        .auth-welcome .right-list{
            margin-top: 4%;
            padding:  0 25px;
        }
        .free-shop-box .free-shop-content .auth-list{
            margin-bottom: 4%;
        }
        .auth-welcome .right-list li > div img{
            display: block;
            height: auto;
            width: 60px;
            margin: 0 auto;
        }
        .free-shop-box .free-shop-content span{
            font-size: 16px;
        }
        .free-shop-box .free-shop-content .auth-welcome .lead,
        .free-shop-box .free-shop-content .auth-list .auth-item:not(.disabled) .desc,
        .free-shop-box .free-shop-content ul li .auth-item .name,
        .free-shop-box .free-shop-content .auth-list .auth-item{
            color: #8b8b8b;
            border-color:#dcdcdc ;
        }
        .free-shop-box .free-shop-content .auth-welcome .lead{
            font-size: 18px;
            padding: 0px 13%;
        }
        .free-shop-box .free-shop-content .auth-list .auth-item:not(.disabled):hover,
        .free-shop-box .free-shop-content .auth-list .auth-item:not(.disabled):hover .name,
        .free-shop-box .free-shop-content .auth-list .auth-item:not(.disabled):hover .desc{
            background: #fff;
            color: #e6125d;
            border-color:#e6125d ;
        }
        .auth-list .alert-danger{
            color: #b2b2b2;
            background: #f1f1f1;
            border-color:#dcdcdc; 
            margin-left: 0;
            letter-spacing: 1px;
            font-size:16px;
            border-radius: 5px;
            font-weight:300;
        }

        .free-shop-box .free-shop-content .auth-list .auth-item{
            padding: 20px 30px 25px;
        }
        .free-shop-box .free-shop-content ul li .auth-item .name{
            margin-bottom: 15px;
        }

        .free-shop-box .free-shop-content .auth-list .auth-item.disabled .name,
        .free-shop-box .free-shop-content .auth-list .auth-item.disabled .desc {
            color: #cdcdcd;
        }
        .free-shop-box .free-shop-content .auth-list .auth-item.disabled{
            border-color:#dcdcdc;
        }
    </style>
</block>
<block name="main">
    <div class="container-fluid jumbotron header no-margin"  style="background: url(__TMPL__assets/img/bizauth/01.jpg);height: 300px;">
        
        <h1>面料馆认证信息</h1>
        <div style="position: absolute;top: 0;left: 0;right: 0;bottom:0;width: 100%;background: rgba(0,0,0,.6)"></div>
    </div>
    <switch name="member[auth][auth_status]">
        <case value="1" break="1">
            <div class="container-fluid content bg-grey">
                <div class="free-shop-box">
                    <!--free-shop-content-->
                    <div class="row" >
                        <div class="step col-md-8 col-md-offset-2">
                            <div class="p p0 current"><label>1</label>填写信息</div>
                            <div class="p p50 current"><label>2</label>提交审核</div>
                            <div class="p p100 current"><label>3</label>审核结果</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar"  style="width:100%">
                                    <span class="sr-only">0% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="submit-check col-md-8 col-md-offset-2" >
                            <div class="paySuccess g-mt-80">
                                <div class="result-success">
                                    <i class="fa fa-check"></i>
                                    <php>
                                        $member_type = $member['biz_type'] == 1 ? '企业认证':'个人认证';
                                    </php>
                                    <h5>{$member_type}，审核成功,您需要<a href="{:leuu('User/Index/logout')}">重新登录</a>才能生效。</h5>
                                </div>
                                <div class="g-mt-30">
                                    <a href="{:leuu('info')}" class="btn btn-u btn-u-green">查看我的认证信息</a>
                                    <eq name="member[type]" value="2">
                                        　　你还可以, <a href="{:leuu('company')}" class="btn btn-u btn-u-green">升级为企业认证</a>
                                    </eq>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Endfree-shop-content-->
                </div>


            </div>
        </case>
        <case value="2" break="1">
            <div class="container-fluid content bg-grey">
                <div class="free-shop-box">
                    <!--free-shop-content-->
                    <div class="row" >
                        <div class="step col-md-8 col-md-offset-2">
                            <div class="p p0 current"><label>1</label>填写信息</div>
                            <div class="p p50 current"><label>2</label>提交审核</div>
                            <div class="p p100"><label>3</label>审核结果</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                    <span class="sr-only">0% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="submit-check col-md-8 col-md-offset-2" >
                            <div class="message">
                                <div class="msg-finished">
                                    您的认证申请资料已经提交成功，我们将在完成审<br>核后以邮件和短信的方式通知您，并立刻为您开通会员<br>服务和功能。
                                </div>
                                <div class="hint">
                                    认证审核过程一般在1-2个工作日内完成，<br>如有需要帮助请拨打免费咨询电话: <span class="orange">400-876-0103</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Endfree-shop-content-->
                </div>


            </div>
        </case>
        <case value="3" break="1">
            <div class="container-fluid content bg-grey">
                <div class="free-shop-box">
                    <!--free-shop-content-->
                    <div class="row" >
                        <div class="step col-md-10 col-md-offset-1">
                            <div class="p p0 current danger"><label>1</label>填写信息</div>
                            <div class="p p50 current danger"><label>2</label>提交审核</div>
                            <div class="p p100 current danger"><label>3</label>审核结果</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar"  style="width:100%">
                                    <span class="sr-only">0% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="submit-check col-md-10 col-md-offset-1" >
                            <div class="message">
                                <div class="msg-finished">
                                    <php>
                                        $href = leuu($member['auth']['auth_type'] == 1 ? 'company':'personal');
                                    </php>
                                    很抱歉！您申请的认证无法通过审核<br/>
                                    您可以<a href="{$href}" style="color: #00a7ff;text-decoration: none;">修改资料</a>，重新认证。
                                </div>
                                <notempty name="logs">
                                    <p style="color:#e6125d;font-size:16px;">原因：{$logs[0][action_note]}</p>
                                </notempty>
                                <div class="hint">
                                    我们的建议：
                                </div>
                                <div class="hint">
                                    1、确保您的资料的真实性和完整性；
                                </div>
                                <div class="hint">
                                    2、确保您上传的资料清晰可见，无经过任何人为处理。
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Endfree-shop-content-->
                </div>


            </div>
        </case>
        <default />
        <div class="container-fluid content bg-grey">
            <div class="free-shop-box">
                <!--free-shop-content-->
                <div class="free-shop-content col-md-10 col-md-offset-1 g-padding-10 g-pt-40 g-pb-30">
                    <h5 class="Shop-equity margin-bottom-30 margin-top-10" style="font-size: 35px !important;color: #585858;">选择认证类型</h5>
                    <div class="auth-list">
                        <php>
                            $disabled = sp_is_mobile_bind() ? '':'disabled';
                            $personal_href = sp_is_mobile_bind() ? leuu('personal'):'javascript:void(0)';
                            $company_href = sp_is_mobile_bind() ? leuu('company'):'javascript:void(0)';
                        </php>
                        <empty name="_SESSION[user][userinfo][mobile]">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="alert alert-danger fade in" style="letter-spacing: 1px;font-size:16px;margin-left: -15px;border-radius: 5px;font-weight:300;">
                                    绑定手机后才能认证供应商，请先<a href="javascript:void(0)" data-toggle="g-popup" data-target="#fill-mobile"><strong>绑定</strong></a>您的手机号码！
                                </div>
                            </div>
                        </empty>
        
                        <ul class="row">
                            <li class="col-md-4 col-md-offset-2" style="padding-right: 5px;width: 33.85%;">
                                <a href="{$personal_href}" class="auth-item {$disabled}">
                                    <h3 class="name">个人认证</h3>
                                    <p class="desc" style="font-size: 16px;">如果您是从事商业面料的推广，或者是购买面料的个人用户，需要提供个人身份证扫描图片、手机号码及职位等信息。</p>
                                </a>
                            </li>
                            <li class="col-md-4" style="padding-left: 5px;width: 33.85%;">
                                <a href="{$company_href}" class="auth-item {$disabled}">
                                    <h3 class="name">企业认证</h3>
                                    <p class="desc" style="font-size: 16px;">如果您是从事商业面料买卖、宣传的相关组织，或者是品牌企业，需要提供公司营业执照、组织机构代码证等信息。</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="auth-welcome">
                        <p class="lead" style="font-size: 18px;margin: 0;">为了会员和面料商的利益保障，我们必须对用户进行认证，以确保用户身份及信息的真实性。身份认证通过后您将获得以下功能：</p>
                        <ul class="right-list clearfix row">
                            <li class="col-md-2" style="padding-left: 15px;">
                                <div>
                                    <img class="img-responsive" src="__TMPL__assets/img/bizauth/01-01.jpg">
                                </div>
                                <span>
                                    在线下单
                                </span>        
                            </li>
                            <li class="col-md-2">
                                <div>
                                <img class="img-responsive" src="__TMPL__assets/img/bizauth/02-01.jpg">
                                </div>
                                <span>
                                    发布需求
                                </span>
                            </li>
                            <li class="col-md-2">
                                <div>
                                <img class="img-responsive" src="__TMPL__assets/img/bizauth/03-01.jpg">
                                </div>
                                <span>
                                    免费推荐
                                </span>
                            </li>
                            <li class="col-md-2">
                                <div>
                                <img class="img-responsive" src="__TMPL__assets/img/bizauth/04-01.jpg">
                                </div>
                                <span>
                                    发布面料
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--Endfree-shop-content-->
            </div>
        </div>
    </switch>
</block>