<extend name="Public:base-v8" />
<block name="title"><title>我的认证信息 {$site_name}</title></block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/bizauth.css">
    <style>
        .auth-info {
            background: #fff;
            padding: 40px 0;
        }
        .auth-info dt, .auth-info dd {
            font-size:16px;
            line-height:28px;
        }
        .jumbotron h1{
            font-size: 48px;
            color: #fff;
            text-align: center;
            position: absolute;
            z-index: 200;
            top: 45px;
            left: 50%;
            transform: translate(-50%,0);
        }
        .jumbotron.header{
            position: relative;
        }
        .auth-info dt {font-weight:500;color:#555;}
        .auth-info dd {
            color:#777;
            margin-bottom:10px;
        }
        @media (min-width: 768px) {
            .auth-info dt {
                width: 200px;
            }
            .auth-info dd {margin-left:220px;}
        }
        .auth-pic {
            display:block;
            border:1px solid #ddd;
            padding:3px;
            max-width:250px;
            max-height:250px;
        }
        .free-shop-box{
            margin-top: -125px;
        }
    </style>
</block>
<block name="main">
    <div class="container-fluid jumbotron header no-margin"  style="background: url(__TMPL__assets/img/bizauth/01.jpg);height: 300px;">
        
        <h1>我的认证信息</h1>
        <div style="position: absolute;top: 0;left: 0;right: 0;bottom:0;width: 100%;background: rgba(0,0,0,.6)"></div>
    </div>
    <div class="container-fluid content bg-grey">
        <div class="free-shop-box">
            <!--free-shop-content-->
            <div class="row" >
                <div class="col-md-8 col-md-offset-2 auth-info">
                    <dl class="dl-horizontal" style="padding-left: 30%;">
                        <dt>真实姓名</dt>
                        <dd>{$auth.auth_fullname}</dd>
                        <dt>商铺名称</dt>
                        <dd>{$auth.auth_shop_name}</dd>
                        <dt>单位/组织名称(公司名称)</dt>
                        <dd>{$auth.auth_company}</dd>
                        <eq name="auth[auth_type]" value="1">
                            <!--<dt>主营产品</dt>
                            <dd>{$auth.auth_main_core}</dd>
                            <dt>公司简介</dt>
                            <dd>{$shop_intro}</dd>-->
                        </eq>
                        <dt>所在地区</dt>
                        <dd>
                            {$auth.auth_province_name}
                            {$auth.auth_city_name}
                            {$auth.auth_district_name}
                        </dd>
                        <dt>详细地址</dt>
                        <dd>{$auth.auth_address}</dd>
                        <eq name="auth[auth_type]" value="1">
                            <dt>营业执照</dt>
                            <dd>
                                <img class="auth-pic" src="{:sp_get_asset_upload_path($auth[auth_photo_licence])}">
                            </dd>
                        </eq>
                        <eq name="auth[auth_type]" value="2">
                            <dt>身份证正面扫描件</dt>
                            <dd>
                                <img class="auth-pic" src="{:sp_get_asset_upload_path($auth[auth_photo_idcard])}">
                            </dd>
                            <dt>身份证反面扫描件</dt>
                            <dd>
                                <img class="auth-pic" src="{:sp_get_asset_upload_path($auth[auth_photo_idcard_back])}">
                            </dd>
                        </eq>
                    </dl>
                    <eq name="auth[auth_type]" value="2">
                        <div class="text-center">
                            <a href="{:leuu('company')}" class="btn-u btn-u-lg rounded btn-u-green">升级为企业认证</a>
                        </div>
                    </eq>
                </div>
            </div>

            <!--Endfree-shop-content-->
        </div>
    </div>
</block>