<extend name="Public:base-v8" />
<block name="title"><title>面料馆个人认证 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/bizauth.css">
</block>
<block name="main">
    <div class="container-fluid jumbotron no-margin">
        <h1>面料馆个人认证</h1>
    </div>
    <div class="container-fluid content bg-grey">
        <div class="free-shop-box">
            <!--free-shop-content-->
            <div class="row" >
                <div class="col-md-10 col-md-offset-1">
                    <div class="step">
                        <div class="p p0 current"><label>1</label>填写信息</div>
                        <div class="p p50"><label>2</label>审核</div>
                        <div class="p p100"><label>3</label>审核结果</div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                    </div>
                    <form id="auth-form" class="sky-form" method="post" action="{:leuu('personal_post')}">
                        <fieldset>
                            <section class="row">
                                <label class="label required">真实姓名</label>
                                <label class="input col-md-5">
                                    <input type="text" name="auth[auth_fullname]" required value="{$member.auth.auth_fullname}">
                                </label>
                                <div class="col-md-7">
                                    <p>请填写您的真实姓名</p>
                                </div>
                            </section>
                            <section class="row">
                                <label class="label required">验证手机号码</label>
                                <label class="input mobile-verify col-md-5">
                                    <span class="mobile-text">{$_SESSION[user][userinfo][mobile]}</span>
                                    <input class="input-verify" type="text" name="mobile_verify" required value="">
                                    <php>if(!sp_is_mobile_bind()) $disabled = 'disabled';</php>
                                    <button data-mobile="{$_SESSION[user][userinfo][mobile]}"
                                            class="btn-u btn-u-orange btn-verify" {$disabled}
                                            type="button">获取验证码</button>
                                </label>
                                <div class="col-md-7">
                                    <p>请核对您的手机号码，如果有误，请到个人设置中心<a href="{:leuu('user/center/profile')}">修改</a>。</p>
                                </div>
                            </section>
                            <section class="row">
                                <label class="label required">联系邮箱</label>
                                <label class="input col-md-5">
                                    <input type="email" name="user_email" readonly required value="{$_SESSION[user][userinfo][email]}" style="background-color: #f0f0f0;">
                                </label>
                                <div class="col-md-7">
                                    <p>请核对您的邮箱地址，如果有误，请到个人设置中心<a href="{:leuu('user/center/profile')}">修改</a>。</p>
                                </div>
                            </section>
                            <section class="row">
                                <label class="label required">商铺名称</label>
                                <label class="input col-md-5">
                                    <input type="text" name="auth[auth_shop_name]" required value="{$member.auth.auth_shop_name}">
                                </label>
                                <div class="col-md-7">
                                    <p>请输入您的商铺名称</p>
                                </div>
                            </section>
                            <section class="row">
                                <label class="label">单位/组织名称</label>
                                <label class="input col-md-5">
                                    <input type="text" name="auth[auth_company]" value="{$member.auth.auth_company}">
                                </label>
                                <div class="col-md-7">
                                    <p>请输入您所在的单位/组织名称，如果没有，请留空</p>
                                </div>
                            </section>
                            <section class="row">
                                <label class="label required">地区</label>
                                <label class="select col-md-4">
                                    <select name="auth[auth_province]" data-sub="auth[auth_city]" required onchange="getAreas(this.value,'auth[auth_city]')">
                                        <option disabled selected>省（必须）</option>
                                        <foreach name="areas[provinces]" item="vo">
                                            <php>$selected = $vo['id'] == $member['auth']['auth_province'] ? 'selected':'';</php>
                                            <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                        </foreach>
                                    </select>
                                    <i></i>
                                </label>
                                <label class="select col-md-4">
                                    <select name="auth[auth_city]" data-sub="auth[auth_district]" required onchange="getAreas(this.value,'auth[auth_district]')">
                                        <option disabled selected>市（必须）</option>
                                        <foreach name="areas[cities]" item="vo">
                                            <php>$selected = $vo['id'] == $member['auth']['auth_city'] ? 'selected':'';</php>
                                            <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                        </foreach>
                                    </select>
                                    <i></i>
                                </label>
                                <label class="select col-md-4">
                                    <select name="auth[auth_district]" required>
                                        <option disabled selected>区（必须）</option>
                                        <foreach name="areas[districts]" item="vo">
                                            <php>$selected = $vo['id'] == $member['auth']['auth_district'] ? 'selected':'';</php>
                                            <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                        </foreach>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <section class="row">
                                <label class="label required">详细地址</label>
                                <label class="input col-md-5">
                                    <input type="text" name="auth[auth_address]" required value="{$member.auth.auth_address}">
                                </label>
                                <div class="col-md-7"></div>
                            </section>
                            <section class="row">
                                <label class="label required">身份证号</label>
                                <label class="input col-md-5">
                                    <input type="text" name="auth[auth_idcard_no]" required value="{$member.auth.auth_idcard_no}">
                                </label>
                                <div class="col-md-7">
                                    <p>为保障您的利益，请填写您的身份证号码</p>
                                </div>
                            </section>
                            <section class="row">
                                <label class="label required">身份证正面</label>
                                <label class="col-md-5">
                                    <input type="hidden" name="auth[auth_photo_idcard]" id="thumb-idcard" required value="{$member[auth][auth_photo_idcard]|default=''}">
                                    <a href="javascript:upload_one_image('图片上传','#thumb-idcard');">
                                        <if condition="empty($member[auth][auth_photo_idcard])">
                                            <img src="__PUBLIC__/images/idcard.jpg" id="thumb-idcard-preview" width="135" style="cursor: hand"/>
                                            <else />
                                            <img src="{:sp_get_image_preview_url($member[auth][auth_photo_idcard])}" id="thumb-idcard-preview" width="135" style="cursor: hand"/>
                                        </if>
                                    </a>
                                </label>
                                <div class="col-md-7">
                                    <p>
                                        请您上传您本人身份证正面照片<br><br>
                                        （文件上传大小不超过1M）
                                    </p>
                                </div>
                            </section>
                            <section class="row">
                                <label class="label required">身份证反面</label>
                                <label class="col-md-5">
                                    <input type="hidden" name="auth[auth_photo_idcard_back]" id="thumb-idcard_back" required value="{$member[auth][auth_photo_idcard_back]|default=''}">
                                    <a href="javascript:upload_one_image('图片上传','#thumb-idcard_back');">
                                        <if condition="empty($member[auth][auth_photo_idcard_back])">
                                            <img src="__PUBLIC__/images/idcard_back.jpg" id="thumb-idcard_back-preview" width="135" style="cursor: hand"/>
                                            <else />
                                            <img src="{:sp_get_image_preview_url($member[auth][auth_photo_idcard_back])}" id="thumb-idcard-preview" width="135" style="cursor: hand"/>
                                        </if>
                                    </a>
                                </label>
                                <div class="col-md-7">
                                    <p>
                                        请您上传您本人身份证正面照片<br><br>
                                        （文件上传大小不超过1M）
                                    </p>
                                </div>
                            </section>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="agreement" value="1">
                                    <i></i>
                                    我同意面料馆<a href="#">用户服务条款</a>
                                </label>
                            </section>
                        </fieldset>
                        <footer class="text-center">
                            <input type="hidden" name="act" value="personal">
                            <button type="submit" class="btn-u btn-u-lg rounded">提交申请</button>
                            <button type="button" class="btn-u btn-u-lg rounded btn-u-default" onclick="window.history.back();">返回</button>
                        </footer>
                    </form>
                </div>
            </div>
            <!--Endfree-shop-content-->
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
</block>
<block name="js">
    <script>
        $(document).ready(function () {
            $('#auth-form').validate({
                ignore:':disabled',
                rules: {
                    'agreement': 'required',
                    'auth[auth_photo_idcard]': 'required',
                    'auth[auth_photo_idcard_back]': 'required'
                },
                messages: {
                    'auth[auth_fullname]': '请填写您的真实姓名',
                    'mobile_verify': '请输入验证码',
                    'user_email': '请核对您的邮箱地址',
                    'auth[auth_shop_name]': '请输入您的商铺名称',
                    'auth[auth_province]': '请选择您的商铺地区',
                    'auth[auth_city]': '请选择您的商铺地区',
                    'auth[auth_district]': '请选择您的商铺地区',
                    'auth[auth_address]': '请输入您的商铺地址',
                    'auth[auth_idcard_no]': '请填写您的身份证号码',
                    'auth[auth_photo_idcard]': '请上传身份证正面扫描件',
                    'auth[auth_photo_idcard_back]': '请上传身份证反面扫描件',
                    'agreement': '请同意用户服务条款',
                },
                errorPlacement: function(error, element)
                {
                    if(element.attr('name') == 'agreement'){
                        $label = element.parent();
                        error.appendTo($label);
                    }else{
                        $label = element.parent().parent().find('.label');
                        if($label.has('.invalid').length == 0){
                            error.appendTo($label);
                        }
                    }
                }
            });

            $verifyMobile = $('.mobile-verify');
            $verifyMobile.find('.btn-verify:not(:disabled)').on('click',function(){
                var $_this = $(this);
                var mobile = $_this.data('mobile');
                if(mobile){
                    ajaxGetVerifyCode(mobile, $_this);
                }
            });
        });
    </script>
    <notpresent name="areas">
        <script>
            $(function(){
                getAreas(0, 'auth[auth_province]', function () {
                    var province = '440000';    //广东省
                    var city = '440100';        //广州市
                    $('[name="auth[auth_province]"]').find('[value="' + province + '"]').attr('selected','selected');
                    getAreas(province, 'auth[auth_city]', function () {
                        $('[name="auth[auth_city]"]').find('[value="' + city + '"]').attr('selected','selected');
                        getAreas(city, 'auth[auth_district]')
                    });
                });
            })
        </script>
    </notpresent>
</block>