<extend name="Admin:base-v2" />
<block name="css">
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a>分配任务</a></li>
                <li><a href="javascript:history.back(-1);">返回</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="allot-form" class="sky-form" action="{:U('allot_post')}" method="post" style="margin-bottom:20px;">
                                <header>分配任务</header>
                                <fieldset>
                                    <section>
                                        <label class="label">选择面料商</label>
                                        <label class="select">
                                            <select name="suppliers[]" class="select2" required multiple
                                            data-close-on-select="false"
                                            data-placeholder="选择面料商，最多3个">
                                                <foreach name="suppliers" item="vo">
                                                    <option value="{$vo.id}">{$vo.biz_name}</option>
                                                </foreach>
                                            </select>
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <egt name="tasks|count" value="3">
                                        <div class="alert alert-danger fade in">
                                            <strong>已达到分配上限！</strong>该需求已经分配{:count($tasks)}个任务了，请先删除一些任务再重新分配！
                                        </div>
                                        <else />
                                        <input type="hidden" name="demand_id" value="{$demand_id}">
                                        <button type="submit" class="btn-u btn-u-lg rounded">分配</button>
                                    </egt>
                                </footer>
                            </form>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-red margin-bottom-40">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-tasks"></i> 已分配的任务</h3>
                                </div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>供应商</th>
                                        <th>状态</th>
                                        <th>分配时间</th>
                                        <th>{:L('ACTIONS')}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <volist name="tasks" id="vo">
                                            <tr>
                                                <td>{$vo.task_id}</td>
                                                <td>{$vo.supplier.biz_name}</td>
                                                <td>{$statuses[$vo[task_status]]}</td>
                                                <td>{:date('Y-m-d H:i:s', $vo[task_created])}</td>
                                                <td></td>
                                            </tr>
                                        </volist>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function() {
            $(".select2").select2({
                theme: "bootstrap"
            });

            $('#allot-form').validate({
                rules: {
                    "suppliers[]": {
                        required: true
                    }
                },
                messages: {
                    "suppliers[]": {
                        required: '请选择面料商',
                    }
                }
            });

        });
    </script>
</block>