/*Page Search
------------------------------------*/
/*Search Block*/
.search-block {
	padding: 45px 0 80px;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	/*background: url(../../img/bg/7.jpg) 50% 0 repeat fixed;		*/
}

.search-block .site-logo {
	float: left;
}

.search-block .site-logo img{
	width: 90px;
}

.search-block .site-nav {
	position: absolute;
	top: -38px;
}

.search-block .site-nav a {
	padding: 8px 15px!important;
}

.search-block:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: " ";
	position: absolute;
	/*background: rgba(0,0,0,0.3);*/
}

.search-block .select-box {
	border: 1px solid #e8e8e8;
	margin-top: 30px;
	padding: 20px 10px 10px;
}

.select-box dl {
	margin-bottom: 0;
	display: block;
	padding: 0 10px 10px;
}

.select-box dt {
	float: left;
	color: #696969;
	font-weight: 500;
	width: 60px;
	text-align: left;
}

.select-box dd {
	text-align: left;
	margin-left: 65px;
	display: block;
	word-break: keep-all;
}

.select-box dd a {
	padding: 0 8px;
	margin: 0 5px 5px;
	display: inline-block;
}

.search-block h1 {
	color: #fff;
	font-size: 34px;
	font-weight: 200;
	text-align: center;
	margin-bottom: 30px;
	text-transform: uppercase;	
}

.search-block .input-group {
	margin-bottom: 10px;
}

.search-block .nav-logo {
	position: absolute;
	left: 108%;
	top: -28px;
}

.search-block .form-control {
	height: 48px;
	font-size: 16px;
	font-weight: 200;
}

/*Checkbox*/
.search-block form.page-search-form {
	border: none;
	margin: 45px 0 0 180px;
	width: 600px;
	position: relative;
}

.search-block form.page-search-form .radio,
.search-block form.page-search-form .checkbox {
	margin: 0 3% 0 4%;
}

.search-block form.page-search-form .checkbox {
	color: #fff;
	font-weight: 200;
}

.search-block form.page-search-form .radio i,
.search-block form.page-search-form .checkbox i {
	top: 6px;
	width: 15px;
	height: 15px;
	border: none;
}

/*Category
------------------------------------*/
/*Section-Block*/
.section-block {
	padding: 20px;
	border: 1px solid #eee;
	box-shadow: 0 0 3px #eee;
}

.section-block h2 {
	color: #333; 
	font-size: 28px; 
	font-weight: 200; 
	margin: 10px 0 15px;
}

.section-block .text-center p {
	margin-bottom: 0;
}

.section-block .section-block-info {
	margin-top: 5px;
	padding-top: 20px;
	border-top: solid 1px #eee;
}

.section-block .section-block-info ul {
	margin-bottom: 0;
}