<admintpl file="header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="javascript:;">{:L('PORTAL_ADMINPOST_INDEX')}</a></li>
			<li><a href="{:U('AdminPost/add',array('term'=>empty($term['term_id'])?'':$term['term_id']))}" target="_self">{:L('PORTAL_ADMINPOST_ADD')}</a></li>
		</ul>
		<form class="well form-search" method="post" action="{:U('AdminPost/index')}">
			分类： 
			<select name="term" style="width: 120px;">
				<option value='0'>全部</option>{$taxonomys}
			</select> &nbsp;&nbsp;
			时间：
			<input type="text" name="start_time" class="js-datetime" value="{$formget.start_time|default=''}" style="width: 120px;" autocomplete="off">-
			<input type="text" class="js-datetime" name="end_time" value="{$formget.end_time|default=''}" style="width: 120px;" autocomplete="off"> &nbsp; &nbsp;
			关键字： 
			<input type="text" name="keyword" style="width: 200px;" value="{$formget.keyword|default=''}" placeholder="请输入关键字...">
			<input type="submit" class="btn btn-primary" value="搜索" />
			<a class="btn btn-danger" href="{:U('AdminPost/index')}">清空</a>
		</form>
		<form class="js-ajax-form" action="" method="post">
			<div class="table-actions">
				<notempty name="term">
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/listorders')}">{:L('SORT')}</button>
				</notempty>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/check',array('check'=>1))}" data-subcheck="true">审核</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/check',array('uncheck'=>1))}" data-subcheck="true">取消审核</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/top',array('top'=>1))}" data-subcheck="true">置顶</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/top',array('untop'=>1))}" data-subcheck="true">取消置顶</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/recommend',array('recommend'=>1))}" data-subcheck="true">推荐</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/recommend',array('unrecommend'=>1))}" data-subcheck="true">取消推荐</button>
				<notempty name="term">
					<button class="btn btn-primary btn-small js-articles-move" type="button">批量移动</button>
				</notempty>
				<button class="btn btn-primary btn-small js-articles-copy" type="button">批量复制</button>
				<button class="btn btn-danger btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/delete')}" data-subcheck="true" data-msg="您确定删除吗？">{:L('DELETE')}</button>
			</div>
			<table class="table table-hover table-bordered table-list">
				<thead>
					<tr>
						<th width="15"><label><input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x"></label></th>
						<notempty name="term">
						<th width="50">{:L('SORT')}</th>
						</notempty>
						<th width="50">ID</th>
						<th>{:L('TITLE')}</th>
						<th width="50">{:L('AUTHOR')}</th>
						<th width="50">{:L('HITS')}</th>
						<th width="50">{:L('COMMENT_COUNT')}</th>
						<th width="160">{:L('KEYWORDS')}/{:L('SOURCE')}/{:L('ABSTRACT')}/{:L('THUMBNAIL')}</th>
						<th width="100">{:L('PUBLISH_DATE')}</th>
						<th width="50">{:L('STATUS')}</th>
						<th width="70">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<foreach name="posts" item="vo">
				<tr>
					<td><input type="checkbox" class="js-check" data-yid="js-check-y" data-xid="js-check-x" name="ids[]" value="{$vo.id}" title="ID:{$vo.id}"></td>
					<notempty name="term">
					<td><input name="listorders[{$vo.tid}]" class="input input-order" type="text" size="5" value="{$vo.listorder}"></td>
					</notempty>
                    <td><b>{$vo.id}</b></td>
					<td>
						<notempty name="term">
						<a href="{:leuu('portal/article/index',array('id'=>$vo['id'],'cid'=>$term['term_id']))}" target="_blank">{$vo.post_title}</a>
						<else/>
							{$vo.post_title}
						</notempty>
					</td>
					<td>{$vo.nickname|default=$vo[user_login]}</td>
					<td>{$vo.post_hits}</td>
					<td>
						<notempty name="vo.comment_count">
							<a href="javascript:parent.open_iframe_dialog('{:U('comment/commentadmin/index',array('post_id'=>$vo['id']))}','评论列表')">{$vo.comment_count}</a>
						<else/>
							{$vo.comment_count}
						</notempty>
					</td>
					<td>
						<notempty name="vo.post_keywords">
							<i class="fa fa-check fa-fw"></i>
						<else/>
							<i class="fa fa-close fa-fw"></i> 
						</notempty>
						<notempty name="vo.post_source">
							<i class="fa fa-check fa-fw"></i>
						<else/>
							<i class="fa fa-close fa-fw"></i> 
						</notempty>
						<notempty name="vo.post_excerpt">
							<i class="fa fa-check fa-fw"></i>
						<else/>
							<i class="fa fa-close fa-fw"></i> 
						</notempty>
						
						<php>$smeta=json_decode($vo['smeta'],true);</php>
						<notempty name="smeta.thumb">
							<a href="javascript:parent.image_preview_dialog('{:sp_get_image_preview_url($smeta['thumb'])}');">
								<i class="fa fa-photo fa-fw"></i>
							</a>
						</notempty>
					</td>
					<td>{:date('Y-m-d H:i',strtotime($vo['post_date']))}</td>
					<td>
						<notempty name="vo.post_status">
							<a data-toggle="tooltip" title="已审核"><i class="fa fa-check"></i></a>
							<else/>
							<a data-toggle="tooltip" title="未审核"><i class="fa fa-close"></i></a>
						</notempty>
						<notempty name="vo.istop">
							<a data-toggle="tooltip" title="已置顶"><i class="fa fa-arrow-up"></i></a>
							<else />
							<a data-toggle="tooltip" title="未置顶"><i class="fa fa-arrow-down"></i></a>
						</notempty>
						<notempty name="vo.recommended">
							<a data-toggle="tooltip" title="已推荐"><i class="fa fa-thumbs-up"></i></a>
							<else />
							<a data-toggle="tooltip" title="未推荐"><i class="fa fa-thumbs-down"></i></a>
						</notempty>
					</td>
					<td>
						<a href="{:U('AdminPost/edit',array('id'=>$vo['id']))}">{:L('EDIT')}</a> | 
						<a href="{:U('AdminPost/delete',array('id'=>$vo['id']))}" class="js-ajax-delete">{:L('DELETE')}</a>
					</td>
				</tr>
				</foreach>
				<tfoot>
					<tr>
						<th width="15"><label><input type="checkbox" class="js-check-all" data-direction="x" data-checklist="js-check-x"></label></th>
						<notempty name="term">
						<th width="50">{:L('SORT')}</th>
						</notempty>
						<th width="50">ID</th>
						<th>{:L('TITLE')}</th>
						<th width="50">{:L('AUTHOR')}</th>
						<th width="50">{:L('HITS')}</th>
						<th width="50">{:L('COMMENT_COUNT')}</th>
						<th >{:L('KEYWORDS')}/{:L('SOURCE')}/{:L('ABSTRACT')}/{:L('THUMBNAIL')}</th>
						<th width="100">{:L('PUBLISH_DATE')}</th>
						<th width="50">{:L('STATUS')}</th>
						<th width="70">{:L('ACTIONS')}</th>
					</tr>
				</tfoot>
			</table>
			<div class="table-actions">
				<notempty name="term">
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/listorders')}">{:L('SORT')}</button>
				</notempty>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/check',array('check'=>1))}" data-subcheck="true">审核</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/check',array('uncheck'=>1))}" data-subcheck="true">取消审核</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/top',array('top'=>1))}" data-subcheck="true">置顶</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/top',array('untop'=>1))}" data-subcheck="true">取消置顶</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/recommend',array('recommend'=>1))}" data-subcheck="true">推荐</button>
				<button class="btn btn-primary btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/recommend',array('unrecommend'=>1))}" data-subcheck="true">取消推荐</button>
				<notempty name="term">
					<button class="btn btn-primary btn-small js-articles-move" type="button">批量移动</button>
				</notempty>
				<button class="btn btn-primary btn-small js-articles-copy" type="button">批量复制</button>
				<button class="btn btn-danger btn-small js-ajax-submit" type="submit" data-action="{:U('AdminPost/delete')}" data-subcheck="true" data-msg="你确定删除吗？">{:L('DELETE')}</button>
			</div>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
	<script>
		function refersh_window() {
			var refersh_time = getCookie('refersh_time');
			if (refersh_time == 1) {
				window.location = "{:U('AdminPost/index',$formget)}";
			}
		}
		setInterval(function() {
			refersh_window();
		}, 2000);
		$(function() {
			setCookie("refersh_time", 0);
			Wind.use('ajaxForm', 'artDialog', 'iframeTools', function() {
				//批量复制
				$('.js-articles-copy').click(function(e) {
					var ids=[];
					$("input[name='ids[]']").each(function() {
						if ($(this).is(':checked')) {
							ids.push($(this).val());
						}
					});
					
					if (ids.length == 0) {
						art.dialog.through({
							id : 'error',
							icon : 'error',
							content : '您没有勾选信息，无法进行操作！',
							cancelVal : '关闭',
							cancel : true
						});
						return false;
					}
					
					ids= ids.join(',');
					art.dialog.open("__ROOT__/index.php?g=portal&m=AdminPost&a=copy&ids="+ ids, {
						title : "批量复制",
						width : "300px"
					});
				});
				//批量移动
				$('.js-articles-move').click(function(e) {
					var ids=[];
					$("input[name='ids[]']").each(function() {
						if ($(this).is(':checked')) {
							ids.push($(this).val());
						}
					});
					
					if (ids.length == 0) {
						art.dialog.through({
							id : 'error',
							icon : 'error',
							content : '您没有勾选信息，无法进行操作！',
							cancelVal : '关闭',
							cancel : true
						});
						return false;
					}
					
					ids= ids.join(',');
					art.dialog.open("__ROOT__/index.php?g=portal&m=AdminPost&a=move&old_term_id={$term.term_id|default=0}&ids="+ ids, {
						title : "批量移动",
						width : "300px"
					});
				});
			});
		});
	</script>
</body>
</html>