<extend name="Admin:base-v2" />
<block name="title"><title>媒体库 {$site_name}</title></block>
<block name="plugins_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/profile.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .file-upload-btn-wrapper {
            margin-bottom: 10px;
        }

        .file-upload-btn-wrapper .num {
            color: #999999;
            float: right;
            margin-top: 5px;
        }

        .file-upload-btn-wrapper .num em {
            color: #FF5500;
            font-style: normal;
        }

        .files-wrapper {
            border: 1px solid #CCCCCC;
        }

        .files-wrapper ul {
            height: 724px;
            overflow-y: scroll;
            padding-bottom: 10px;
            position: relative;
            margin: 0;
        }

        .files-wrapper li {
            display: inline;
            float: left;
            height: 100px;
            margin: 10px 0 0 10px;
            width: 100px;
            position: relative;
            border:1px solid #CCCCCC;
        }

        .files-wrapper li.selected {
            border: 1px solid #fe781e;
        }
        .files-wrapper li .upload-percent{
            width: 100%;
            height:100%;
            line-height: 100px;
            text-align: center;
        }

        .files-wrapper li .selected-icon-wrapper{
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 20px;
            font-size: 16px;
            text-align:center;
            line-height:20px;
            color:#fe781e;
            display: none;
        }
        .files-wrapper li.selected .selected-icon-wrapper{
            display: block;
        }
        .files-wrapper li img{
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
        .moxie-shim.moxie-shim-html5 {top:-99999px!important;}
    </style>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs" id="uploader-tabs">
                        <li class="active" data-tab="upload-file"><a href="#upload-file-tab" data-toggle="tab">媒体库</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="upload-file-tab">
                            <div class="file-upload-btn-wrapper">
                                <!--选择按钮-->
                                <button type="button" class="btn-u btn-u-primary" id="select-files">上传文件</button>
                                <button type="button" class="btn-u btn-u-primary" id="delete-files" disabled
                                data-confirm="true"
                                data-msg="是否要删除选中的文件？"
                                data-id=""
                                data-href="{:leuu('delete')}"
                                data-success="deleteResponse">删除</button>
                                <span class="num">
                                    单文件最大<em>{$upload_max_filesize_mb}MB</em>,
                                    <em style="cursor: help;" title="可上传格式：{$extensions}" data-toggle="tooltip">支持格式？</em>
                                </span>
                            </div>
                            <div class="files-wrapper">
                                <ul id="files-container">
                                    <volist name="files['list']" id="vo">
                                        <php>
                                            if ($vo['url']) {
                                                $url = $vo['url'];
                                            $url = get_thumb_url($url, true, 150);
                                            }else{
                                                $url = get_thumb_url($vo['filepath'], true, 150);
                                                //$url = sp_get_file_download_url($vo['filepath']);
                                            }
                                        </php>
                                        <li class="uploaded" id="asset-{$vo.aid}"
                                            data-id="{$vo.aid}"
                                            data-url="{$url}"
                                            data-preview_url="{$url}"
                                            data-filepath="{$vo.filepath}"
                                            data-name="{$vo.filename}">
                                            <div class="selected-icon-wrapper"><i class="fa fa-check-circle"></i></div>
                                            <div class="upload-percent">
                                                <img class="img-responsive" data-original="{$url}">
                                            </div>
                                        </li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/plupload-2.3.1/js/plupload.full.min.js"></script>
</block>
<block name="js">
    <script>
        var uploader = new plupload.Uploader({
            runtimes : 'html5,flash,silverlight,html4',
            browse_button : 'select-files', // you can pass an id...
            container: document.getElementById('files-container'), // ... or DOM Element itself
            url : "{:U('upload_post')}",
            flash_swf_url : 'js/Moxie.swf',
            silverlight_xap_url : 'js/Moxie.xap',
            filters : {
                max_file_size : '{$upload_max_filesize_mb}mb',
                mime_types: [{$mime_type}]
            },
            multi_selection:true,
            /*multipart_params:{
                app:''
            },*/
            init: {
                PostInit: function(up) {
                },

                FilesAdded: function(up, files) {
                    plupload.each(files, function(file) {
                        var $newfile=$('\
                                <li class="selected">\
                                    <div class="selected-icon-wrapper"><i class="fa fa-check-circle"></i></div>\
                                    <div class="upload-percent">0%</div>\
                                </li>');
                        $newfile.attr('id',file.id);
                        $(up.getOption().container).prepend($newfile);
                        $newfile.on('click',function(){
                            var $this=$(this);
                            $this.toggleClass('selected');
                        });
                    });
                    up.start();
                },

                UploadProgress: function(up, file) {
                    $('#'+file.id).find('.upload-percent').text(file.percent+"%");
                },
                
                FileUploaded: function(up, file, response) {
                    var data = JSON.parse(response.response);
                    if(data.status==1){
                        var $img=$('<img/>');
                        $img.attr('src',data.url);
                        $('#'+file.id).addClass('uploaded')
                        .attr('id',data.aid > 0 ? 'asset-'+data.aid:file.id)
                        .data('id',data.aid)
                        .data('url',data.url)
                        .data('preview_url',data.preview_url)
                        .data('filepath',data.filepath)
                        .data('name',data.name)
                        .find('.upload-percent')
                        .html($img);
                    }else{
                        alert(data.message);
                        $('#'+file.id).remove();
                    }
                },
                
                Error: function(up, err) {
                }
            }
        });


        function get_selected_files(){
            var tab = $("#uploader-tabs li.active").data('tab');
            var files= [];
            if(tab=='upload-file'){
                var $files=$('#files-container li.uploaded.selected');
                if($files.length==0){
                    alert('请上传文件！');
                    return false;
                }
                $files.each(function(){
                    var $this=$(this);
                    var url = $this.data('url');
                    var preview_url = $this.data('preview_url');
                    var filepath = $this.data('filepath');
                    var name = $this.data('name');
                    var id = $this.data('id');
                    files.push({url:url,preview_url:preview_url,filepath:filepath,name:name,id:id});
                });
            }
            if(tab=='network-file'){
                var url=$('#network-file-input').val();
                if(url==''){
                    alert('请填写文件地址！');
                    return false;
                }
                var id = "networkfile"+new Date().getTime();
                files.push({url:url,preview_url:url,filepath:url,id:id});
            }
            return files;
        }

        function deleteResponse(response){
            if(response.status == 1){
                noty({type:'success',text:response.info});
                data = response.data;
                for(x in data){
                    $('#asset-'+data[x]).remove();
                }
            }else{
                noty({type:'error',text:response.info});
            }
            $('#delete-files').data('id', '').attr('disabled', 'disabled');
            $('#files-container li.selected').removeClass('selected');
        }

        $(function(){
            uploader.init();
            var $container = $(uploader.getOption().container);
            $container.find('li.uploaded').on('click',function(){
                var $this=$(this);
                var $btn = $('#delete-files');
                $this.toggleClass('selected');
                $list = $container.find('li.uploaded.selected');
                len = $list.length;
                ids = new Array();
                if(len > 0){
                    for(var i=0;i<len;i++){
                        ids.push($list.eq(i).data('id'));
                    }
                    $btn.data('id', ids.join()).removeAttr('disabled').addClass('js-ajax-btn');
                }else{
                    $btn.data('id', '').attr('disabled', 'disabled').removeClass('js-ajax-btn');
                }
            });
            $container.find("img").lazyload({
                effect: 'fadeIn',
                container: '#files-container'
            });
        });
    </script>
</block>