<extend name="Admin:base-v2" />
<block name="css"></block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">面料商</a></li>
                <li class="active"><a>增加面料商</a></li>
                <li><a href="{:U('import')}">批量导入面料</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form role="form" action="{:U('add_post')}" method="post" class="sky-form">
                        <header>
                            基本信息
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">名称</label>
                                <label class="input">
                                    <input type="text" name="member[biz_name]" placeholder="名称" required>
                                </label>
                            </section>
                            <section>
                                <label class="label">主营</label>
                                <label class="input">
                                    <input type="text" name="member[main_core]" placeholder="主营" />
                                </label>
                            </section>
                            <section>
                                <label class="label">介绍</label>
                                <label class="textarea">
                                    <textarea name="member[biz_intro]" rows="5"></textarea>
                                </label>
                            </section>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">状态</label>
                                    <label class="select">
                                        <php>$statuses = D('BizMember')->statuses;</php>
                                        <select name="member[biz_status]">
                                            <foreach name="statuses" item="vo">
                                                <option value="{$key}" {$selected}>{$vo}</option>
                                            </foreach>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">认证类型</label>
                                    <label class="select">
                                        <select name="member[biz_type]">
                                            <option value="1">企业</option>
                                            <option value="2">个人</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="label">认证状态</label>
                                    <label class="select">
                                        <select name="member[authenticated]">
                                            <option value="0">未认证</option>
                                            <option value="1">已认证</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <fieldset>
                            <label class="label">认证信息</label>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="input">
                                        <input type="text" name="auth[auth_fullname]" required placeholder="认证姓名" />
                                    </label>
                                </section>
                                <section class="col col-8">
                                    <label class="input">
                                        <input type="text" name="auth[auth_company]" required placeholder="公司名称" />
                                    </label>
                                </section>
                            </div>
                            <label class="label">地区</label>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="select">
                                        <select name="auth[auth_province]" data-sub="auth[auth_city]" required onchange="getAreas(this.value,'auth[auth_city]')">
                                            <option disabled selected>省（必须）</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="select">
                                        <select name="auth[auth_city]" data-sub="auth[auth_district]" required onchange="getAreas(this.value,'auth[auth_district]')">
                                            <option disabled selected>市（必须）</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="select">
                                        <select name="auth[auth_district]" required>
                                            <option disabled selected>区（必须）</option>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label class="label">详细地址</label>
                                <label class="input">
                                    <input type="text" name="auth[auth_address]" required>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn-u">添加</button>
                            <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $(".sky-form").validate({
                rules:
                {
                    short_name:
                    {
                        required: 1
                    },
                    long_name:
                    {
                        required: 1
                    },
                    main_core:
                    {
                        required: 1
                    },
                    province:
                    {
                        required: 1
                    },
                    city:
                    {
                        required: 1
                    },
                    area:
                    {
                        required: 1
                    }
                },
                messages:
                {
                    short_name:
                    {
                        required: "请填写短名称"
                    },
                    long_name:
                    {
                        required: "请填写长名称"
                    },
                    main_core:
                    {
                        required: "请填写主营产品"
                    },
                    province:
                    {
                        required: "请选择省份"
                    },
                    city:
                    {
                        required: "请选择城市"
                    },
                    area:
                    {
                        required: "请选择区"
                    }
                }
            });
        });
    </script>
    <script>
        $(function(){
            getAreas(0, 'auth[auth_province]', function () {
                var province = '440000';    //广东省
                var city = '440100';        //广州市
                $('[name="auth[auth_province]"]').find('[value="' + province + '"]').attr('selected','selected');
                getAreas(province, 'auth[auth_city]', function () {
                    $('[name="auth[auth_city]"]').find('[value="' + city + '"]').attr('selected','selected');
                    getAreas(city, 'auth[auth_district]')
                });
            });
        })
    </script>
</block>