<extend name="Admin:base-v2" />
<block name="css">
    
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/profile.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        dl {
            margin-top: 0;
            margin-bottom: 20px;
            font-size:14px;
        }
        .dl-horizontal dt, .dl-horizontal dd {
        }
        .dl-horizontal dt {
            float: left;
            width: 200px;
            overflow: hidden;
            clear: left;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight:500;
            color: #666;
        }
        .dl-horizontal dd {
            margin-bottom:20px;
            margin-left: 220px;
            color:#888;
        }
        img.auth-pic {
            max-height: 100px;
            border: 1px solid #eee;
            padding: 3px;
        }
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('bizinfo')}">认证信息</a></li>
                <li><a href="{:U('AdminFans'))}">好友</a></li>
                <li><a href="{:U('index')}">返回</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                        <div id="profile" class="profile-edit tab-pane fade in active">
                            <dl class="dl-horizontal" style="padding-top:30px;">
                                <dt>身份</dt>
                                <dd>面料商</dd>
                                <dt>认证类型</dt>
                                <dd><php>echo D('BizAuth')->types[$biz_type];</php></dd>
                                <dt>真实姓名</dt>
                                <dd>{$auth.auth_fullname}</dd>
                                <dt>商铺名称</dt>
                                <dd>{$auth.auth_shop_name}</dd>
                                <dt>单位/组织名称(公司名称)</dt>
                                <dd>{$auth.auth_company}</dd>
                                <dt>所在地区</dt>
                                <dd>
                                    {$auth.auth_province_name}
                                    {$auth.auth_city_name}
                                    {$auth.auth_district_name}
                                </dd>
                                <dt>详细地址</dt>
                                <dd>{$auth.auth_address}</dd>
                                <eq name="biz_type" value="2">
                                    <dt>身份证正面扫描件</dt>
                                    <dd>
                                        <a class="fancybox" data-rel="fancybox-button" title="身份证正面扫描件" href="{:sp_get_asset_upload_path($auth[auth_photo_idcard])}">
                                            <img class="auth-pic" src="{:sp_get_asset_upload_path($auth[auth_photo_idcard])}">
                                        </a>
                                    </dd>
                                    <dt>身份证反面扫描件</dt>
                                    <dd>
                                        <a class="fancybox" data-rel="fancybox-button" title="身份证反面扫描件" href="{:sp_get_asset_upload_path($auth[auth_photo_idcard_back])}">
                                            <img class="auth-pic" src="{:sp_get_asset_upload_path($auth[auth_photo_idcard_back])}">
                                        </a>
                                    </dd>
                                </eq>
                                <eq name="biz_type" value="1">
                                    <dt>营业执照</dt>
                                    <dd>
                                        <a class="fancybox" data-rel="fancybox-button" title="营业执照" href="{:sp_get_asset_upload_path($auth[auth_photo_licence])}">
                                            <img class="auth-pic" src="{:sp_get_asset_upload_path($auth[auth_photo_licence])}">
                                        </a>
                                    </dd>
                                </eq>
                                <dt></dt>
                                <dd>
                                    <a href="{:leuu('Bizauth/Admin/view',array('id'=>$auth['id']))}" class="btn-u btn-u-lg rounded btn-u-green">前往认证管理</a>
                                </dd>
                            </dl>
                        </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script>
        $(function(){
            $(".fancybox").fancybox({
                groupAttr: 'data-rel',
                prevEffect: 'fade',
                nextEffect: 'fade',
                openEffect  : 'elastic',
                closeEffect  : 'fade',
                closeBtn: true,
                helpers: {
                    title: {
                        type: 'float'
                    }
                }
            });
        })
    </script>
</block>