<extend name="Admin:base-v2" />
<block name="css"></block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">面料商</a></li>
                <li><a href="{:U('add')}">增加面料商</a></li>
                <li class="active"><a>批量导入面料</a></li>
            </ul>
            <div class="tab-content">
                <span class="btn btn-primary" id="import-close-data-btn" v-text="uploadZipTxt"></span>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="/public/v2/lib/vue.dev.js"></script>
    <script src="/public/v2/lib/plupload/plupload.js"></script>
    <script>
        var vm = new Vue({
            el: ".tab-content",
            data: {
                showImportFlag: false,
                uploadZipTxt: "选择压缩包"
            },
            methods: {
                initUpload: function() {
                    var uploader = new plupload.Uploader({
                        runtimes: 'flash,html5,html4,silverlight',
                        browse_button: 'import-close-data-btn', //触发文件选择对话框的按钮，为那个元素id
                        autostart: true,
                        url: '/Tf/Supplier/upload_all_zip',
                        flash_swf_url: '__PUBLIC__/js/plupload2/Moxie.swf',
                        silverlight_xap_url: '__PUBLIC__/js/plupload2/Moxie.xap',
                        filters: {
                            max_file_size: '1000mb',
                        },
                        init: {
                            FilesAdded: function (uploader, files) {
                                uploader.start()
                                vm.uploadZipTxt = "开始上传"
                            },


                            UploadProgress: function (uploader, file) {
                                vm.uploadZipTxt = "上传中(" + file.percent + "%)"
                            },

                            FileUploaded: function (uploader, file, responseObject) {
                                if (responseObject.code == "400") {
                                    alert (responseObject.message)
                                }
                                vm.uploadZipTxt = "上传成功 "
                            }
                        }
                    })

                    uploader.init();
                }
            },
            mounted: function() {
                this.initUpload()
            }
        })

    </script>
</block>
</block>