<extend name="Admin:base-v2" />
<block name="css"></block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('index')}">所有面料商</a></li>
                <li><a href="{:U('add')}">增加面料商</a></li>
                <li><a href="{:U('import')}">批量导入面料</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="panel panel-default margin-bottom-40">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-tasks"></i> 筛选</h3>
                        </div>
                        <php>$types =array(1=>'企业',2=>'个人');</php>
                        <div class="panel-body">
                            <form class="form-inline form-search" method="get" action="{:U('index')}">
                                <div class="form-group">
                                    <label>认证类型</label>
                                    <select name="filter[type]" class="form-control">
                                    <option value="">所有类型</option>
                                        <foreach name="types" item="vo">
                                            <php>$selected = $filter['type'] == $key ? 'selected':'';</php>
                                            <option value="{$key}" {$selected}>{$vo}</option>
                                        </foreach>
                                    </select>
                                </div>&nbsp;&nbsp;
                                <div class="form-group">
                                    <label>面料商商号</label>
                                    <input  type="text" name="filter[keywords]" class="form-control" value="{$filter.keywords}" placeholder="面料商关键字">
                                </div>
                                <button type="submit" class="btn-u btn-u-red">搜索</button>
                                <a class="btn-u btn-u-default" href="{:U('index')}">清空</a>
                            </form>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th width="30">ID</th>
                            <th>商号名称</th>
                            <th>主营</th>
                            <th>认证类型</th>
                            <th>认证状态</th>
                            <th>创建时间</th>
                            <th width="120">{:L('ACTIONS')}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <php>
                            $_types = D('BizAuth')->types;
                            $_statuses = D('BizAuth')->statuses;
                        </php>
                        <foreach name="members[data]" item="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td>
                                    <a href="{:U('AdminSingle/bizinfo',array('mid'=>$vo[id]))}" title="{$vo.biz_intro}">
                                        <img width="25" height="25" src="{:get_avatar_url($vo[biz_logo])}" />
                                        {$vo.biz_name}
                                    </a>
                                </td>
                                <td>{$vo.main_core}</td>
                                <td>{$_types[$vo[biz_type]]}</td>
                                <td>{$_statuses[$vo[biz_status]]}</td>
                                <td>{$vo.create_date}
                                <td>
                                    <a href='{:U("Notify/Admin/send",array("id"=>$vo["id"],"type"=>2))}'>发消息</a>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <div class="pagination">{$members.page}</div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
        })
    </script>
</block>