<extend name="Public:base-v8"/>
<block name="title"><title>面料池 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_masonry_3col.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/js/select2/css/select2.min.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .mf-goods-item .btn-left {width:100%;}

        .grid-boxes-thumb {
            position: relative;
        }
        .grid-boxes-in .grid-boxes-thumb .doapply {
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
            width: 100%;
            color: #fff;
            border: none;
            padding: 10px 0;
            font-size: 20px;
            margin-top: -20px;
            text-align: center;
            position: absolute;
            visibility: hidden;
            text-transform: uppercase;
            background: rgba(230, 18, 93, 0.7);
        }
        .grid-boxes-in:hover .grid-boxes-thumb .doapply {
            visibility: visible;
        }

        .filters {
            padding: 10px 0;
            margin-bottom: 30px;
            overflow: hidden;
        }
        .filters select {
            width: 190px;
        }
        .filters label {
            height: 36px;
            line-height: 34px;
            margin: 0;
            float: left;
            font-weight: normal;
            color: #555;
        }
        .filters .filter-name .select2 {float:left;}

        .select2-container .select2-selection--single {
            border-radius:0;
            border-color: #dedede;
            height: 36px;
        }
        .select2-container .select2-selection--single .select2-selection__rendered {
            line-height: 36px;
            padding-right: 30px;
        }
        .select2-container .select2-selection--single .select2-selection__arrow {
            height: 34px;
            width: 30px;
        }
        .select2-container .select2-dropdown {border-radius:0;}
        .select2-container .select2-search--dropdown .select2-search__field {border-color: #dedede;}
        .select2-container .select2-search--dropdown .select2-search__field:focus {
            outline: none;
            border-color: #ff518f;
        }
        .select2-container .select2-results__option--highlighted[aria-selected] {background-color: #ff518f;}
        .select2-dropdown {border-color:#dedede;}
        .select2-results__option:first-child {padding:6px;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">面料池</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('Distribution/Distributor/index')}">我是分销商</a></li>
                <li class="active">可代理</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('suppliers')}">一批列表</a></li>
                        <li class="active"><a href="{:leuu('index')}">分类列表</a></li>
                        <li><a href="{:leuu('Distribution/Distributor/index')}">返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="filters">
                            <div class="filter-cat" style="margin-bottom: 5px;">
                                <label>分类：</label>
                                <foreach name="catSelectors" item="vo">
                                    <select id="cat-{$key}" class="cat select2">
                                        <option value="-1">全部({:count($vo)})</option>
                                        <foreach name="vo" item="voo">
                                            <php>$selected = $voo['selected'] ? 'selected':'';</php>
                                            <option value="{$voo.id}" data-code="{$voo.code}" {$selected}>
                                                {$voo.name}({$voo.code})
                                            </option>
                                        </foreach>
                                    </select>
                                </foreach>
                            </div>
                            <div class="filter-name" style="margin-bottom: 5px;">
                                <label>名称：</label>
                                <select id="cat-name" class="name select2 pull-left">
                                    <option value="-1">全部<present name="names">({:count($names)})</present></option>
                                    <present name="names">
                                        <foreach name="names" item="vo">
                                            <php>$selected = $vo['selected'] ? 'selected':'';</php>
                                            <option value="{$vo.id}" data-code="{$vo.code}" {$selected}>{$vo.name}({$vo.code})</option>
                                        </foreach>
                                    </present>
                                </select>
                                <button type="button" class="btn-u pull-left" onclick="filterNow()">筛选</button>
                            </div>
                        </div>
                        <div class="blog_masonry_3col">
                            <div class="grid-boxes">
                                <volist name="list[data]" id="vo">
                                    <div class="grid-boxes-in">
                                        <div class="grid-boxes-thumb">
                                            <img class="lazyload img-responsive" src="{:get_thumb_url($vo[thumb],true)}">
                                            <present name="need_supplier_level">
                                                <notempty name="suppliers[$vo[supplier_id]]">
                                                    <egt name="suppliers[$vo[supplier_id]][level]" value="$vo[level]">
                                                        <a class="doapply js-ajax-btn" href="javascript:void(0)"
                                                           data-href="{:leuu('apply_post')}"
                                                           data-id="{$vo.id}">发送代理申请</a>
                                                    </egt>
                                                    <else />
                                                    <a class="doapply js-ajax-btn" href="javascript:void(0)"
                                                       data-href="{:leuu('apply_client_post')}"
                                                       data-id="{$vo.supplier_id}">申请成为客户</a>
                                                </notempty>
                                                <else />
                                                <eq name="vo[distributing]" value="0">
                                                    <a class="doapply js-ajax-btn" href="javascript:void(0)"
                                                       data-href="{:leuu('apply_post')}"
                                                       data-id="{$vo.id}">申请代理面料</a>
                                                </eq>
                                            </present>
                                        </div>
                                        <div class="grid-boxes-caption">
                                            <h3><a href="{:leuu('Tf/Tf/fabric',array('tfsn'=>$vo[tf_code]))}">{$vo.name}</a></h3>
                                            <ul class="list-inline grid-boxes-news">
                                                <li><a href="{:leuu('Supplier/Index/single',array('id'=>$vo[supplier_id]))}">{$vo.supplier_name}</a></li>
                                                <li><eq name="vo[distributing]" value="1"><span class="label label-success rounded">已代理</span></eq></li>
                                            </ul>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>
                        <div class="text-center md-margin-bottom-30">
                            <ul class="pagination">
                                {$list['page']}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/u/plugins/masonry/jquery.masonry.min.js"></script>
</block>
<block name="js">
    <script>
        $(document).ready(function(){
            var $container = $('.grid-boxes');

            var gutter = 15;
            var min_width = 100;
            $container.imagesLoaded( function(){
                $container.masonry({
                    itemSelector : '.grid-boxes-in',
                    gutterWidth: gutter,
                    isAnimated: true,
                    columnWidth: function( containerWidth ) {
                        var box_width = (((containerWidth - 2*gutter)/3) | 0) ;

                        if (box_width < min_width) {
                            box_width = (((containerWidth - gutter)/2) | 0);
                        }

                        if (box_width < min_width) {
                            box_width = containerWidth;
                        }

                        $('.grid-boxes-in').width(box_width - 3);

                        return box_width;
                    }
                });
            });

            $('.select2').select2();
            $('.filter-cat').on('select2:select', 'select.cat', function(){
                var $this = $(this);
                $this.find('option').each(function(){
                    destroyCatSelecter($(this).val());
                });
                if($this.val() > 0){
                    getCats($this.val());
                }else{
                    refreshNames(parseInt($this.attr('id').split('-')[1]));
                }
            })
        });

        function filterNow(){
            var url = '{:leuu("index")}';
            var $selectors = $('.filter-cat select');
            var $lastSelector = $selectors.eq($selectors.length - 1);
            var cid = parseInt($lastSelector.val());
            var ccode = $lastSelector.find('option:selected').data('code');

            //右边选择全部时候，找父id
            if(cid < 0){
                cid = parseInt($lastSelector.attr('id').split('-')[1]);
            }

            if(cid > 0){
                if(url.indexOf('?') === -1){
                    url += '?cid='+cid;
                }else{
                    url += '&cid='+cid;
                }
            }

            var nid = $('.filter-name select').val();
            var ncode = $('.filter-name select option:selected').data('code');

            if(nid > 0){
                if(url.indexOf('?') === -1){
                    url += '?ncode='+ncode;
                }else{
                    url += '&ncode='+ncode;
                }
            }

            location.href = url;
        }

        function destroyCatSelecter(pid){
            var $selector = $('#cat-'+pid);
            if($selector.length > 0){
                var subVal = $selector.val();
                $selector.select2('destroy');
                $selector.remove();
                destroyCatSelecter(subVal);
            }
        }

        function getCats(pid){
            if(typeof pid === "undefined") pid = 0;
            var url = '/index.php?g=Tf&m=Index&a=cats&pid='+pid;
            $.get(url, function(response){
                if(response.total_count > 0){
                    var $select = $('<select>')
                            .data('pid', pid)
                            .attr('id', 'cat-'+pid)
                            .addClass('cat');
                    $('<option>').val(-1).text('全部('+response.total_count+')').appendTo($select);
                    for(var x in response.items){
                        var item = response.items[x];
                        $option = $('<option>').val(item.id).data('code',item.code).text(item.name+'('+item.code+')');
                        $select.append($option);
                    }
                    $('.filter-cat').append($select);
                    $select.select2();
                }
                refreshNames(response.names);
            })
        }

        function refreshNames(items){
            var $select = $('#cat-name');
            $select.find('option').remove();

            if(typeof items === "undefined"){
                items = [];
            }

            if(typeof items === "object"){

                $('<option>').val(-1).text('全部('+items.length+')').appendTo($select);
                for(var x in items){
                    var item = items[x];
                    $option = $('<option>').val(item.id).data('code',item.code).text(item.name+'('+item.code+')');
                    $select.append($option);
                }
                $select.select2('destroy');
                $select.select2();
            }else if(typeof items === "number"){
                var url = '/index.php?g=Tf&m=Index&a=names&cid='+items;
                $.get(url, function(response){
                    $('<option>').val(-1).text('全部('+response.total_count+')').appendTo($select);
                    if(response.total_count > 0){
                        for(var x in response.items){
                            var item = response.items[x];
                            $option = $('<option>').val(item.id).data('code',item.code).text(item.name+'('+item.code+')');
                            $select.append($option);
                        }
                    }
                    $select.select2('destroy');
                    $select.select2();
                })
            }else{
                $('<option>').val(-1).text('全部(0)').appendTo($select);
                $select.select2();
            }
        }
    </script>
</block>