<extend name="Public:base-v8"/>
<block name="title"><title>供应商 分销管理 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <block name="css">
        <style>
            .btn-u.btn-brd.btn-collect {
                color: #e6125d;
            }

            .btn-u.btn-brd.btn-collect.active {
                background: #e6125d;
                color: #fff;
            }

            .materials-text .col-xs-10 .info {
                border-top: none;
                padding: 0;
            }

            .materials-imgs ~ .materials-text .col-xs-10 .info {
                border-top: 1px solid #e0e0e0;
                padding-top: 10px;
            }

            .see-more {
                position: absolute;
                right: 0;
                bottom: 0;
                margin-top: 0;
            }

            .materials-imgs a {
                display: block;
                position: relative;
                overflow: hidden;
                width: 100%;
                padding-bottom: 67%;
                background-position: center;
                background-size: cover;
            }

            .product-item .avatar {
                border-radius: 50%;
            }

            .materials-imgs a img {
                position: absolute;
                top: 0;
                left: 0;
            }

            .dropdown-menu {
                min-width: 102px;
            }

            .filter-results {
                padding: 0;
                border: none;
            }
            .materials-text .info > span {
                line-height: 20px;
            }
            .see-more {padding:0;}
        </style>
    </block>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">面料池</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('Distribution/DIstributor/index')}">我是分销商</a></li>
                <li class="active">可代理</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="{:leuu('suppliers')}">一批列表</a></li>
                        <li><a href="{:leuu('index')}">分类列表</a></li>
                        <li><a href="{:leuu('Distribution/Distributor/index')}">返回</a></li>
                    </ul>
                    <div class="tab-content">

                        <div class="product-list filter-results">
                            <div class="row">
                                <volist name="data[data]" id="vo" mod="2">
                                    <!--<eq name="mod" value="0"></div><div class="row"></eq>-->
                                    <div class="col-md-6">
                                        <div class="product-item overflow-h">
                                            <div class="col-xs-3 text-center">
                                                <a href="{:leuu('supplier',array('id'=>$vo[id]))}"
                                                   class="color-card-photo">
                                                    <img class="img-responsive" style="margin: 0 auto;"
                                                         src="{:get_avatar_url($vo[logo])}">
                                                </a>
                                            </div>
                                            <div class="col-xs-9 product-item-b">
                                                <notempty name="vo[cards]">
                                                    <div class="materials-imgs row margin-bottom-15">
                                                        <foreach name="vo[cards]" item="voo">
                                                            <php>$style =
                                                                "background-image:url(".get_thumb_url($voo[frontcover],
                                                                true, 150).");";
                                                            </php>
                                                            <div class="col-xs-4">
                                                                <a href="{:leuu('Colorcard/Index/view',array('id'=>$voo[card_id]))}"
                                                                   style="{$style}"></a>
                                                            </div>
                                                        </foreach>
                                                    </div>
                                                </notempty>
                                                <div class="materials-text row">
                                                    <div class="col-xs-10">
                                                        <div class="info">
                                                            <h3>{$vo.name}</h3>
                                                            <span class="state">主营：{$vo.main_core}</span>
                                                            <span class="state">地区：{$vo.area}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2 see-more">
                                                        <a href="{:leuu('supplier',array('id'=>$vo[id]))}">
                                                            查看
                                                            <i class="fa fa-chevron-circle-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>

                        <div class="text-center">
                            <ul class="pagination pagination-v2" style="color:#555;">{$data[page]}</ul>
                        </div><!--/end pagination-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
</block>
<block name="js">
</block>