#tabs {width:424px;}
#tabs .tab-content {position:relative;width:100%;padding:0 0 141.43% 0}
#tabs .tab-pane {position:absolute;padding:10%;width:100%;height:100%;}
#tabs .nav-tabs {float:left;width:85%;height:36.5px;overflow:hidden;}
.tab-prev,.tab-next,.tab-remove {
    float: left;
    position: relative;
    display: block;
    width: 5%;
    border: 1px solid transparent;
    text-align: center;
    font-size: 21px;
}
.tab-prev:hover,.tab-next:hover,.tab-remove:hover {text-decoration: none;}

#front-cover, #back-cover {background-repeat: no-repeat;background-position: center;background-size: cover;}
#front-cover button, #back-cover button {margin-top:45%;}
.tab-pane.has-bg button {display:none;}
.tab-pane.has-bg:hover button {display:inline-block;}

.fabric-block {float:left;margin-bottom:10%;}
.fabric-block .placeimg {position:relative;padding:0;}
.fabric-block .placeimg > div.fabric {position:absolute;width:100%;height:100%;}
.fabric-block .placeimg > div.fabric img {width:100%;height:100%;}
.fabric-block .placeimg > div.fabric span {display:none;}
.fabric-block .info {overflow: hidden;}
.fabric-block .qrcode {position:relative;background: #ccc;}
.fabric-block .qrcode canvas,.fabric-block .qrcode img {display: block;position:absolute;width: 100%;height: 100%;}

.grid1 .fabric-block {width:100%;}
.grid1 .fabric-block .placeimg {width:100%;padding-bottom:100%;}
.grid1 .fabric-block .info {width:100%;}
.grid1 .fabric-block .info .qrcode {float:left;margin-right:5%;width:30%;padding-bottom:30%;}
.grid1 .fabric-block .info .desc {float:left;}
.grid1 .fabric-block .info .desc h3 {font-size:1.2em;}

.grid2 .fabric-block {width:100%;}
.grid2 .fabric-block .placeimg {float:left;margin-right:5%;width:65%;padding-bottom:65%;}
.grid2 .fabric-block .info {float:left;width:30%;}
.grid2 .fabric-block .info .qrcode {width:100%;padding-bottom:100%;}

.grid4 .fabric-block {width:47.5%;margin-bottom:10%;}
.grid4 .fabric-block:nth-child(odd) {margin-right:5%;}
.grid4 .placeimg {width:100%;padding-bottom:100%;}
.grid4 .fabric-block .info {}
.grid4 .fabric-block .info .qrcode {float:left;margin-right:5%;width:40%;padding-bottom:40%;}
.grid4 .fabric-block .info .desc {float:left;width:55%;}

.grid8 .fabric-block {width:47.5%;margin-bottom:10%;}
.grid8 .fabric-block:nth-child(odd) {margin-right:5%;}
.grid8 .fabric-block .placeimg {float:left;margin-bottom:5%;margin-right:5%;width:65%;padding-bottom:65%;}
.grid8 .fabric-block .info {float:left;width:30%;}
.grid8 .fabric-block .info .qrcode {width:100%;padding-bottom:100%;}