.sj-book .page-wrapper {position:relative;}
.sj-book .tab-pane {position:absolute;padding:3% 6% 5% 12%;width:100%;height:100%;}
.even .tab-pane {padding:3% 12% 5% 6%;}

#front-cover, #back-cover {background-repeat: no-repeat;background-position: center;background-size: cover;}

.fabric-block .placeimg {position:relative;padding:0;}
.fabric-block .placeimg > div.fabric {position:absolute;width:100%;height:100%;list-style: none;}
.fabric-block .placeimg > div.fabric img {width:100%;height:100%;}
.fabric-block .placeimg > div.fabric span {display:none;}
.fabric-block .fabric-info {overflow: hidden;}
.fabric-block .fabric-qr {position:relative;background: #ccc;}
.fabric-block .fabric-qr canvas,
.fabric-block .fabric-qr img {display: block;position:absolute;width: 100%;height: 100%;}

.style1 .row, .style2 .row {margin:0;}
.style1 [class^="col-"], .style2 [class^="col-"] {padding:0;}
.style1 .heading, .style2 .heading {position:relative;height:8%;border-bottom: 3px double #555;margin-bottom:5%;}
.style1 .heading > .row, .style2 .heading > .row {position:absolute;bottom:0;width:100%;}

.style1 .fabric-block {position:relative;}
.style1 .fabric-block .thumbnail {margin: 0;width:100%;padding-bottom:50%;border:1px solid #ccc;}
.style1 .fabric-block:first-child .thumbnail {padding-bottom:100%;}
.style1 .block-right {position: absolute;right: 0;bottom: 0;height: 100%;}
.style1 .fabric-block .fabric-info {position: absolute;bottom:0;width: 90%;margin-left: 10%;height: 100%;padding: 9% 0 8% 0;border-bottom: 1px solid #555;}
.style1 .fabric-block:first-child .fabric-info {height: 50%;}
.style1 .fabric-block:first-child .supplier-info {height:50%;margin-left:10%;}
.style1 .fabric-qr {width: 40%;padding-bottom: 40%;background: #ccc;}
.style1 .fabric-attr {margin:0 0 0 5%;width:55%;height:100%;}
.style1 .fabric-attr li {line-height:1;height:25%;overflow: hidden;}


.style2 .fabric-block {position:relative;margin-bottom:1%;}
.style2 .fabric-block .thumbnail {margin: 0;width:100%;padding-bottom:70%;border:1px solid #ccc;}
.style2 .block-right {position: absolute;right: 0;bottom: 0;height: 100%;}
.style2 .fabric-block .fabric-info {position: absolute;bottom:0;width: 90%;margin-left: 10%;height: 100%;padding: 20% 0;}
.style2 .fabric-qr {width: 35%;padding-bottom: 35%;background: #ccc;}
.style2 .fabric-attr {margin:0 0 0 5%;width: 60%;height:100%;}
.style2 .fabric-attr li {font-size:0.8em;height:25%;overflow: hidden;}