#tabs {width:424px;margin: auto;}
#tabs .tab-content {position:relative;width:100%;padding:0 0 106.3829787234043% 0;font-size:20px;}
#tabs .tab-pane {position:absolute;width:18.8em;height:20em;background-color:#fffff6;}

#tabs .nav-tabs {float:left;width:85%;height:36.5px;overflow:hidden;}
.tab-prev,.tab-next,.tab-remove {
    float: left;
    position: relative;
    display: block;
    width: 5%;
    border: 1px solid transparent;
    text-align: center;
    font-size: 21px;
}
.tab-prev:hover,.tab-next:hover,.tab-remove:hover {text-decoration: none;}

#front-cover, #back-cover {background-repeat: no-repeat;background-position: center;background-size: cover;}
#front-cover button, #back-cover button {margin-top:45%;}
.tab-pane.has-bg button {display:none;}
.tab-pane.has-bg:hover button {display:inline-block;}

.fabric-block {
    position: relative;
    padding: 0 1.2em 0 2.5em;
    width: 100%;
    height: 100%;
    background-color:#fffff6;
}
.page-header {
    margin:0;
    padding: 1em 0 0 0;
    height: 3.2em;
    border:none;
}
.page-header img {
    display: block;
    height: 1.2em;
    width: 3.5em;
    background-color: #ccc;
}

.page-body {
}

.placeimg {
    position:relative;
    padding:0;
    width: 15em;
    height: 13em;
    border: 1px dashed #ccc;
}

.placeimg > div.fabric {position:absolute;width:100%;height:100%;list-style: none;}
.placeimg > div.fabric img {width:100%;height:100%;}
.placeimg > div.fabric span {display:none;}

.page-footer {
    padding-top: .6em;
    height: 3.8em;
}

.page-footer .left {
    float:left;
    padding-right: 10%;
    overflow: hidden;
    width:60%;
}
.page-footer .left h3 {
    margin-bottom: .3em;
    margin-top: 0;
    height:1em;
    font-size: .6em;
    line-height: 1em;
}
.page-footer .left p {
    font-size: .5em;
    margin: 0;
    height:1em;
    line-height: 1em;
    margin-bottom: .1em;
}
.page-footer .right {
    position: relative;
    float:right;
    width:40%;
}
.page-footer .qrcode {
    float: left;
    position:relative;
    width:2em;
    height:2em;
    background-color: #eee;
}
.page-footer .qrcode canvas,
.page-footer .qrcode img {display: block;position:absolute;width: 100%;height: 100%;}
.page-footer .spec {
    margin-left: .4em;
    position: absolute;
    left: 2em;
}
.page-footer .spec li {
    font-size: .4em;
    height: 1.25em;
    line-height: 1.25em;
}