@media (min-width: 768px) {
    .g-blur {overflow: hidden;}
    .g-blur .wrapper,
    .g-blur .outside-more-articles {
        filter: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg"><filter id="blur"><feGaussianBlur stdDeviation="7" /></filter></svg>#blur');
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='7');
        -webkit-filter: blur(7px);
        -moz-filter:blur (7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
    }
    body.header-fixed-space-v2.g-blur { padding-top: 0; }
}

.g-popup-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(62,71,87,.5);
    z-index: 9992;
}
@media (max-width: 600px) {
    .g-popup-wrapper {
        display: none !important;
    }
}

/* Wait FB Block */
.g-popup {
    z-index: 9993;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.g-popup .sky-form {border:none;}

.g-popup--fb {
    width: 465px;
    background: #fff;
}
.g-popup--fb-title {
    background: #4867aa;
    color: #fff;
    position: relative;
}
.g-popup--fb-title:before {
    content: " ";
    display: block;
    position: absolute;
    bottom: -20px;
    left: 52px;
    width: 0;
    height: 0;
    border-left: 0 inset rgba(0,0,0,0);
    border-right: 22px inset rgba(0,0,0,0);
    border-top: 22px solid #4867aa;
}
.g-popup--fb__logo {
    display: block;
    padding: 25px 30px;
}
.g-popup--fb-message {
    border-top: solid 1px rgba(255,255,255,.3);
    padding: 30px;
    font-size: 20px;
    line-height: 1.3;
}
.g-popup--fb-widjet {
    padding: 45px 30px 30px;
}
.g-popup__close {
    color: #333;
    position: absolute;
    line-height: .9;
    font-size: 26px;
    opacity: 1;
    top: -13px;
    right: -13px;
    border-radius: 50% !important;
}
.g-popup__close:hover {
    text-decoration: none;
    color: #333;
}
.g-popup--fb__close,
.g-popup--fb__close:hover {
    color: #4867aa;
    background: #fff;
}

/* Wait Subscribe Block */
.g-popup--subscribe {
    width: 630px;
    background: #f7f7f7;
    padding: 70px 60px 50px;
    box-shadow: 0 0 5px #bbb;
}
.g-popup--subscribe h2 {
    margin: 0 0 30px;
}
.g-popup--subscribe .sky-form {
    border: none;
}
.g-popup--subscribe .sky-form section {
    margin-bottom: 0;
}
.g-popup--subscribe label {
    width: 100%;
}
.g-popup--subscribe .sky-form .input input,
.g-popup--subscribe .sky-form .input input:active,
.g-popup--subscribe .sky-form .input input:focus,
.g-popup--subscribe .sky-form .input input:hover {
    font-weight: normal;
}
.g-popup--subscribe .no-spam {
    font-size: 13px;
    color: #aaa;
    padding-top: 25px;
}
.g-popup--subscribe__close,
.g-popup--subscribe__close:hover {
    color: #bbb;
    background: #fff;
}

/* Wait Subscribe Block */
.g-popup--subscribe2 {
    width: 560px;
    background: #18ba9b;
    color: #fff;
}
.g-popup--subscribe2-message {
    padding: 50px 50px 40px;
}
.g-popup--subscribe2-message .icon {
    font-size: 62px;
    float: left;
    margin: 10px 30px 0 0;
}
.g-popup--subscribe2 h3 {
    color: #fff;
    font-size: 25px;
    margin: 0 0 10px;
}
.g-popup--subscribe2 p {
    color: #fff;
    margin-bottom: 0;
}
.g-popup--subscribe2 .sky-form {
    border: none;
    background: #15a187;
    padding: 40px 50px 35px;
}
.g-popup--subscribe2 .sky-form section {
    margin-bottom: 0;
}
.g-popup--subscribe2 label {
    width: 100%;
}
.g-popup--subscribe2 .sky-form .input input,
.g-popup--subscribe2 .sky-form .input input:active,
.g-popup--subscribe2 .sky-form .input input:focus,
.g-popup--subscribe2 .sky-form .input input:hover {
    background: #128772;
    border-color: #128772;
    color: #fff;
    box-shadow: none;
    height: 36px;
    font-weight: normal;
}
.g-popup--subscribe2 ::-webkit-input-placeholder {
    color: #fff;
}
.g-popup--subscribe2 :-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.g-popup--subscribe2 ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}
.g-popup--subscribe2 :-ms-input-placeholder {
    color: #fff;
}

.g-popup--subscribe2 .btn-default,
.g-popup--subscribe2 .btn-default.active,
.g-popup--subscribe2 .btn-default:active,
.g-popup--subscribe2 .btn-default.hover,
.g-popup--subscribe2 .btn-default:hover,
.g-popup--subscribe2 .btn-default.focus,
.g-popup--subscribe2 .btn-default:focus {
    color: #18ba9b;
    border-color: #fff;
    background: #fff;
}
.g-popup--subscribe2__close,
.g-popup--subscribe2__close:hover {
    color: #18ba9b;
    background: #fff;
}

/* Wait Subscribe Block */
.g-popup--subscribe3 {
    width: 460px;
    height: 460px;
    background: #18ba9b;
    color: #fff;
    border-radius: 50% !important;
    text-align: center;
    padding: 110px 80px 80px;
}
.g-popup--subscribe3 h3 {
    color: #fff;
    font-size: 25px;
    line-height: 1.4;
    margin: 0 0 20px;
}
.g-popup--subscribe3 p {
    color: #fff;
    margin-bottom: 30px;
}
.g-popup--subscribe3 .sky-form {
    border: none;
}
.g-popup--subscribe3 .sky-form section {
    margin-bottom: 0;
}
.g-popup--subscribe3 label {
    width: 100%;
}
.g-popup--subscribe3 .sky-form .input input,
.g-popup--subscribe3 .sky-form .input input:active,
.g-popup--subscribe3 .sky-form .input input:focus,
.g-popup--subscribe3 .sky-form .input input:hover {
    color: #fff;
    height: 36px;
    box-shadow: none;
    background: #128772;
    font-weight: normal;
    border-color: #128772;
}
.g-popup--subscribe3 ::-webkit-input-placeholder {
    color: #fff;
}
.g-popup--subscribe3 :-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.g-popup--subscribe3 ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}
.g-popup--subscribe3 :-ms-input-placeholder {
    color: #fff;
}

.g-popup--subscribe3 .btn-default,
.g-popup--subscribe3 .btn-default.active,
.g-popup--subscribe3 .btn-default:active,
.g-popup--subscribe3 .btn-default.hover,
.g-popup--subscribe3 .btn-default:hover,
.g-popup--subscribe3 .btn-default.focus,
.g-popup--subscribe3 .btn-default:focus {
    color: #18ba9b;
    border-color: #fff;
    background: #fff;
}
.g-popup--subscribe3__close,
.g-popup--subscribe3__close:hover {
    color: #18ba9b;
    background: #fff;
    top: 55px;
    right: 55px;
}

/* Wait Discount Block */
.g-popup--discount {
    width: 380px;
    height: 380px;
    background: #18ba9b;
    color: #fff;
    text-align: center;
    padding: 62px 52px 20px;
}
.g-popup--discount h3 {
    color: #fff;
    font-size: 64px;
    font-weight: 800;
    line-height: 1;
    margin: 0 0 7px;
    text-transform: uppercase;
}
.g-popup--discount p {
    color: #fff;
    font-size: 17px;
}
.g-popup--discount .sky-form {
    border: none;
}
.g-popup--discount .sky-form section {
    margin-bottom: 0;
}
.g-popup--discount label {
    width: 100%;
}
.g-popup--discount .sky-form .input input,
.g-popup--discount .sky-form .input input:active,
.g-popup--discount .sky-form .input input:focus,
.g-popup--discount .sky-form .input input:hover {
    background: #128772;
    border-color: #128772;
    color: #fff;
    box-shadow: none;
    height: 36px;
    font-weight: normal;
}
.g-popup--discount ::-webkit-input-placeholder {
    color: #fff;
}
.g-popup--discount :-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.g-popup--discount ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}
.g-popup--discount :-ms-input-placeholder {
    color: #fff;
}

.g-popup--discount .btn-default,
.g-popup--discount .btn-default.active,
.g-popup--discount .btn-default:active,
.g-popup--discount .btn-default.hover,
.g-popup--discount .btn-default:hover,
.g-popup--discount .btn-default.focus,
.g-popup--discount .btn-default:focus {
    color: #18ba9b;
    border-color: #fff;
    background: #fff;
}
.g-popup--discount__close,
.g-popup--discount__close:hover {
    color: #18ba9b;
    background: #fff;
}

/* Wait Discount2 Block */
.g-popup--discount2 {
    width: 680px;
    background: rgba(230,18,93,.7);;
    color: #fff;
    border-radius: 5px;
}
.g-popup--discount2 img {
    float: right;
}
.g-popup--discount2-message {
    width: 335px;
    padding: 35px 50px 50px !important;
    float: left;
}
.g-popup--discount2 h3,
.g-popup--discount2 h4 {
    color: #fff;
    font-size: 35px;
    line-height: 1.4;
    margin: 0 0 15px;
}
.g-popup--discount2 h3 {
    text-transform: uppercase;
}
.g-popup--discount2 h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
.g-popup--discount2 p b{
    font-weight: normal;
    color: #ffae00;
}
.g-popup--discount2 p {
    color: #fff;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 16px;
}
.g-popup--discount2 label {
    width: 100%;
}
.g-popup--discount2 .sky-form .input input,
.g-popup--discount2 .sky-form .input input:active,
.g-popup--discount2 .sky-form .input input:focus,
.g-popup--discount2 .sky-form .input input:hover {
    background: #128772;
    border-color: #128772;
    color: #fff;
    box-shadow: none;
    height: 36px;
    font-weight: normal;
}
.g-popup--discount2 ::-webkit-input-placeholder {
    color: #fff;
}
.g-popup--discount2 :-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.g-popup--discount2 ::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}
.g-popup--discount2 :-ms-input-placeholder {
    color: #fff;
}
.g-popup--discount2 .btn-default,
.g-popup--discount2 .btn-default.active,
.g-popup--discount2 .btn-default:active,
.g-popup--discount2 .btn-default.hover,
.g-popup--discount2 .btn-default:hover,
.g-popup--discount2 .btn-default.focus,
.g-popup--discount2 .btn-default:focus {
    color: #18ba9b;
    border-color: #fff;
    background: #fff;
}
.g-popup--discount2__close,
.g-popup--discount2__close:hover {
    color: #E6125D;
    background: #fff;
}
