
*, h1, h2, h3, h4, h5, h6, li, li a, p, label, b, a, span, div, address, small, em, button, option, th, td, tr {
  font-family: "Microsoft YaHei UI", Arial;
}

$mainColor: #e6125d;
$btnHoverColor: #c0392b;

@mixin padding-right($value) {
  padding-right: $value;
}

@mixin padding-left($value) {
  padding-left: $value;
}

@mixin margin-top($value) {
  margin-top: $value !important;
}

@mixin margin-bottom($value) {
  margin-bottom: $value !important;
}

ul, ol {
  list-style: none outside none;
  margin-bottom: 0;
  padding: 0;
}

.btn-u {
  background: $mainColor;
}

.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
  background: $btnHoverColor;
}

.padding-left-0 {
  @include padding-left(0);
}

.margin-top-15 {
  @include margin-top(15px);
}

.padding-right-15 {
  @include padding-right(15px);
}

.padding-right-0 {
  @include padding-right(0);
}

.padding-right-5 {
  @include padding-right(5px);
}

.margin-top-0 {
  @include margin-top(0);
}

.margin-top-10 {
  @include margin-top(10px);
}

.margin-top-4 {
  margin-top: 4px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-0 {
  @include margin-bottom(0);
}

/*nav-top*/
.cameraBox{
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 62px;
  z-index: 5;
  color: #ccc;
  font-size: 18px;
  .camera-slide{
    background: #fff;
    width: 555px;
    height: 160px;
    box-shadow: 2px 0 5px #ccc;
    position: absolute;
    top: 24px;
    display: none;
    right:-62px;
    .file{
      top:38%;
      left: 42%;
      position: relative;
      display: inline-block;
      padding: 8px 13px;
      input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
      }
    }
  }
}

.add-nav-title2 {
  li {
    h3 {
      a {
        font-size: 16px !important;
        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}

.top-v1-data {
  > li {
    position: relative;
    padding-right: 18px !important;
    &:hover {
      .currency {
        display: block;
      }
    }
    > a {
      &:after {
        top: 8px;
        margin-left: 3px;
        font-size: 11px;
        content: "\f107";
        position: absolute;
        font-weight: normal;
        display: inline-block;
        font-family: FontAwesome;
      }
    }
    > ul {
      display: none;
      position: absolute;
      top: 34px;
      left: 0;
      box-shadow: 0 3px 5px #ccc;
      z-index: 5;
      background: #fff;
      padding: 0;
      width: 100px;
      text-align: center;
      border: none;
      > li {
        display: block;
        border-right: none !important;
      }
    }
  }
}

.phoneShoppingCar {
  display: none;
}

@media (max-width: 991px) {
  .apply-certificate-type1-title,.find-password-step1-title,.reg-header{
    display: none;
  }
  .clear-padding{
    padding-top: 20px;
  }
  .apply-certificate-type1,.apply-certificate-type2,.apply-certificate-type3,.apply-certificate-type4{
    padding: 10px;
  }
  .apply-certificate-type1-content,.apply-certificate-type2-content,.apply-certificate-type3-content,.apply-certificate-type4-content{
    padding: 0;
  }
  #city_1 select {
    width: 32% !important;
  }
  .sky-form{
    box-shadow: none !important;
  }
  .sky-form fieldset {
    padding: 0;

  }
  .topbar-v1 .top-v1-data li {
    border: none;

  }
  .topbar-v1 .top-v1-data > li {
    display: inline-block;
  }
  .topbar-v1 .top-v1-data li:first-child {
    border-left: none;
    display: inline;
  }
  .top-v1-data > li > ul {
    top: 36px;
  }
  .phoneShoppingCar {
    display: block;
    .shop-badge {
      border: none;
    }
  }
  .header-v4 .navbar-brand img {
    display: block;
    text-align: center;
    margin: 0 0 5px 0;
  }
  .webShoppingCar {
    display: none;
  }
  .header-v4 .navbar-default .navbar-toggle {
    margin: 10px 0;
  }
  .topbar-v1 .top-v1-contacts {
    text-align: left !important;
    li:first-child {
      display: none;
    }
  }
}

/*End nav-top*/

/*searchBox*/
.searchBox {
  ul {
    li {
      display: inline-block;
      cursor: pointer;
    }
    li.cur {
      background: $mainColor;
      color: #fff;
      padding: 5px 7px;
    }
  }
}

/*End searchBox*/

/*phoneNum*/
.phoneNum {
  padding: 30px 15px 0 15px;
  color: #a0a0a0;
}

/*End phoneNum*/

/*Shop Badge*/
.shop-badge {
  border: 1px solid #d5d7dc;
  position: relative;
  margin-left: 20px;
  padding: 15px 18px 10px;
  margin-top: 17px;
  a {
    i {
      color: #687074 !important;
      font-size: 24px;
      min-width: 25px;
      margin-right: 5px;
    }
  }
  span.badge {
    top: 5px;
    left: 33px;
    position: absolute;
    min-width: 12px;
    padding: 3px 6px;
    background: $mainColor;
  }
}

/*Shop Badge*/

/*serviceLink*/
.serviceLink {
  .service-block {
    padding: 18px 10px;
    margin-bottom: 10px;
  }
}

/*End serviceLink*/

/*news*/
.news {
  li {
    @include margin-bottom(5px);
  }
}

/*End news*/

/*ourProdect*/
.tab-v9 {
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  .nav-tabs {
    display: flex;
    border: none;
    text-align: center;
    background: transparent;
    margin: 0;
    > li {
      margin: 0;
      display: inline-block;
      float: none;
      a {
        margin-right: 0;
        border: none;
        border-right: 1px solid #f1f1f1;
        /* min-width: 180px; */
        border-radius: 0;
        color: #a7a7a7;
        padding: 35px 30px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        &:hover {
          @extend a;
          color: #fff;
          background: #e6125d;
        }
      }
      &:first-child {
        > a {
          border-left: 1px solid #f1f1f1 !important;
        }
      }
    }
    li.active {
      > a {
        &:hover {
          @extend a;
          color: #fff;
          background: #e6125d;
        }
        @extend a;
        color: #fff;
        background: #e6125d;
      }
    }
  }
}

.no-column-space [class^="col-"], .no-column-space [class*=" col-"], .no-column-space {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0;
  margin-left: 0;
  overflow: hidden;
}

@media(max-width: 910px) {
  .tab-v9 .nav-tabs > li > a,
  .tab-v9 .nav-tabs > li > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a {
    min-width: 100px;
    padding: 40px 15px;
    font-size: 12px;
  }

  .tab-v9 .nav-tabs {
    padding-left: 0px;
  }

}

@media(max-width: 768px) {
  .tab-v9 .nav-tabs > li > a,
  .tab-v9 .nav-tabs > li > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a {
    /*	  min-width: 100px;
          padding: 40px 15px;
          font-size: 12px;*/
    border-bottom: 1px solid #f1f1f1;
  }
}

@media(max-width: 562px) {
  .tab-v9 .nav-tabs > li > a,
  .tab-v9 .nav-tabs > li > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a {
    min-width: 185px;
  }
}

@media(max-width: 374px) {
  .tab-v9 .nav-tabs > li > a,
  .tab-v9 .nav-tabs > li > a:hover,
  .tab-v9 .nav-tabs > li.active > a:hover,
  .tab-v9 .nav-tabs > li.active > a {
    min-width: 160px;
  }
}

/*tab content*/
.carousel-v6 {
  position: relative;
  .carousel-arrow {
    a.carousel-control {
      opacity: 1;
      background: none;
      text-shadow: none;
      position: inherit;
    }
    a {
      span {
        position: absolute;
        top: calc(100% - 63px);
        opacity: 1;
        font-size: 13px;
        background: #fff;
        color: #e6125d;
        padding: 16px 0;
        height: 45px;
        width: 45px;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    a.left {
      span {
        left: 45px;
      }
    }
    a.right {
      left: 85px;
    }
  }
  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  .carousel-caption {
    right: 0;
    bottom: 80px;
    left: 30px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: none;
  }
}

.carousel-v6__price {
  font-weight: bold;
  font-size: 20px;
  color: #e6125d;
}

.carousel-v6__title {
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  text-transform: uppercase;
}

.carousel-v6__text {
  font-size: 16px;
  opacity: 0.8;
  color: #fff;
}

.carousel-v6 .item {
  max-height: 600px;
}

/*tab content left side*/

.food-in {
  padding: 20px 10px;
  border-left: 1px solid #f1f1f1;
  max-height: 234px;
  margin-bottom: 1px;
}

.tab-pane {
  .food-in {
    &:first-child {
      border-left: 0;
    }
  }
}

.food-in__cat {
  font-weight: bold;
  font-size: 11px;
  color: #e6125d;
  text-transform: uppercase;
}

.food-in__name {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #222;
}

.food-in__text {
  font-size: 13px;
  color: #a7a7a7;
  line-height: 1.6;
}

.food-in__price {
  font-weight: bold;
  font-size: 16px;
  color: #e6125d;
}

@media (max-width: 1199px) {
  .food-in {
    max-height: none;
    border: none;
  }
}

/*End ourProdect*/

/*bannerAD*/
.parallax-quote {
  background: url(../img/bannerAD/21.jpg) repeat fixed;
  padding: 80px 0;
  p {
    font-size: 20px;
  }
}

/*End bannerAD*/

/*prodect2*/
.prodect-container {
  display: block;
  position: relative;
  overflow: hidden;
  .img-box {
    position: relative;
    top: 0;
    z-index: 1;
    img {
      display: block;
      border: 0;
      width: 100%;
      height: auto;
    }
  }
  .text-box {
    padding: 15px;
    background: transparent;
    top: 0;
    transition: opacity 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;
    .text-bg-box {
      display: table;
      width: 100%;
      height: 100%;
      .text-body-box {
        opacity: 0;
        background-color: rgba(230, 48, 93, 0.9);
        transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        padding: 10px 0;
        h3 {
          font-size: 24px;
          margin-bottom: 25px;
          color: #fff;
        }
        p {
          color: #f8aabf;
          font-size: 14px;
          max-width: 78%;
          margin: 0 auto;
          line-height: 1.4;
        }
        h4 {
          color: #fff;
        }
      }
    }
    &:hover {
      .text-body-box {
        opacity: 0.9;
      }
    }
  }
}

/*Endprodect2*/

/*erweima-box*/
.erweima-box {
  img {
    padding: 13px 3px;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
  }
}

/*End erweima-box*/

/*register*/
.categories {
  li {
    padding: 6px 0;
    border-bottom: 1px dotted #eee;
    color: #555;
  }
}

#yzmbtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 13px;
}

/*End register*/

/*products-list*/
.add-panel {
  background-color: #fcfbfb;
  margin-top: 2px !important;
  border: none;
  box-shadow: none;
  .add-panel-heading {
    .panel-title {
      a {
        width: 100%;
        display: block;
        background: #eee;
        padding: 5px 10px;
        i {
          color: #c0c0c0;
        }
      }
    }
  }
  .add-panel-body {
    padding-top: 5px;
    ul {
      li {
        color: #858585;
      }
    }
  }
}

.product-detail {
  .product-description {
    .product-text {
      text-align: center;
      border-bottom: 1px dashed #d5d7dc;
      h4 {
        font-size: 16px;
        a {
          color: #687074
        }
      }
      span {
        color: $mainColor;
        font-size: 14px;
      }
    }
  }
  .title-price {
    font-size: 14px;
  }
  .title-collect {
    font-size: 14px;
    color: #687074;
    font-family: "Microsoft YaHei UI" !important;
    margin: 0;
  }
}

/*End products-list*/

/*apply-certificate*/
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  color: #c09853;
}

/*free-shop-box*/
.free-shop-box {
  .free-shop-title {
    > div {
      display: flex;
      .service {
        background: #fff;
        margin: 0 auto;
        width: 100%;
      }
    }
  }
  .free-shop-content {
    text-align: center;
    background: #fff;
    i {
      font-size: 40px;
      color: $mainColor;
    }
    span {
      display: block;
      color: #939393;
      font-size: 14px;
    }
    ul {
      li {
        font-size: 15px;
        color: #555;
        margin: 6px 0;
      }
    }
    .Shop-equity {
      color: $mainColor;
      font-size: 18px;
    }
    hr {
      margin: 20px 0;
    }
  }
}

/*End free-shop-box*/

/*apply-certificate-type1*/
.apply-certificate-type1-title {
  background: #f7f7f7 url("../img/title/path.png") no-repeat 20px -445px;
  border: 1px solid #e8e7e7;
  margin: 25px auto 5px;
  width: 100%;
  height: 96px;
}

.apply-certificate-type1 {
  .apply-certificate-type1-content {
    text-align: center;
    h5 {
      color: $mainColor;
      font-size: 18px;
    }
    form {
      input {
        /*position:absolute;clip:rect(0 0 0 0);*/
      }
      p {
        span {
          color: $mainColor;
        }
      }
      label {
        font-weight: normal;
      }
    }
  }
}

/*End apply-certificate-type1*/

/*apply-certificate-type2*/
.apply-certificate-type2 {
  .apply-certificate-type2-title {
    @extend .apply-certificate-type1-title;
    background: #f7f7f7 url("../img/title/path.png") no-repeat 20px -557px;
  }
  .apply-certificate-type2-content {
    span {
      color: $mainColor;
    }
    #city_1 {
      select {
        width: 32.9%;
        display: inline-block;
      }
    }
  }
}

/*End apply-certificate-type2*/

/*apply-certificate-type3*/
.apply-certificate-type3 {
  .apply-certificate-type3-title {
    @extend .apply-certificate-type1-title;
    background: #f7f7f7 url("../img/title/path.png") no-repeat 20px -675px;
  }
  .apply-certificate-type3-content {
    .sky-form {
      box-shadow: none;
      border: none;
      section {
        margin-bottom: 15px;
        label {
          font-weight: 700;
          color: #999;
        }

      }
      span {
        color: $mainColor;
      }
      #city_1 {
        select {
          width: 32.9%;
          display: inline-block;
        }
      }

    }
  }

}

/*End apply-certificate-type3*/

/*apply-certificate-type4*/
.apply-certificate-type4 {
  .apply-certificate-type4-title {
    @extend .apply-certificate-type1-title;
    background: #f7f7f7 url("../img/title/path.png") no-repeat 20px -783px;
  }
  .apply-certificate-type4-content {
    .sky-form {
      box-shadow: none;
      border: none;
      label {
        font-weight: 700;
        color: #999;
      }
      span {
        color: $mainColor;
      }
      #city_1 {
        select {
          width: 32.9%;
          display: inline-block;
        }
      }
    }
  }
}

/*End apply-certificate-type4*/

.log-reg-v3 .state-error em {
  display: block;
  color: #ee9393;
  padding: 0 1px;
  font-size: 11px;
  margin-top: 6px;
  line-height: 15px;
  font-style: normal;
}

.apply-help-img {
  box-shadow: 0 2px 8px #ccc;
}

/*End apply-certificate*/

/*needForm*/
.needForm {
  .sky-form {
    box-shadow: 0 0 3px #eee;
    label {
      span {
        color: $mainColor;
      }
    }
    .reg-header {
      color: #555;
      text-align: center;
      border-bottom: solid 1px #eee;
    }
    #city_1 {
      select {
        width: 32.9%;
        display: inline-block;
      }
    }
    section {
      > label {
        font-weight: 700;
        color: #999;
      }
    }
    .radio {
      padding-left: 25px;
    }
    .checkbox {
      @extend .radio
    }
  }

}

/*End needForm*/

/*find-password-step1*/
.reg-header {
  color: #555;
  text-align: center;
  border-bottom: dashed 1px #eee;
}

.find-password-step1-title {
  width: 768px;
  height: 52px;
  background: url('../img/title/lookPasswordBack.png') no-repeat;
  margin: 30px auto 20px;
}

.find-password-step1 {
  background: #fff url("../img/bg/reg_bj.jpg") no-repeat center top;
  min-height: 700px;
}

.find-password-step1-content {
  height: 590px;
  background: #fff;

}

.find-password-step1-content {
  form {
    text-align: center;
  }
}

/*End find-password-step1*/

/*find-password-step2*/
.find-password-step2 {
  @extend .find-password-step1;
  .find-password-step2-content {
    @extend .find-password-step1-content;
    .find-password-step2-title {
      @extend .find-password-step1-title;
      background-position: 0 -50px;
    }
    #yzmbtn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 7px 13px;
      margin-top: 25px;
    }
    form {
      text-align: left;
      label {
        span {
          font-weight: normal;
          color: #555;
        }
      }
    }
  }
}

/*End find-password-step2*/

/*find-password-step3*/
.find-password-step3 {
  @extend .find-password-step1;
  .find-password-step3-content {
    @extend .find-password-step1-content;
    .find-password-step3-title {
      @extend .find-password-step1-title;
      background-position: 0 -100px;
    }
    form {
      text-align: left;
    }
  }
}

/*End find-password-step3*/

/*find-password-step4*/
.find-password-step4 {
  @extend .find-password-step1;
  .find-password-step4-content {
    @extend .find-password-step1-content;
    .find-password-step4-title {
      @extend .find-password-step1-title;
      background-position: 0 -152px;
    }
    section {
      text-align: center;
      i {
        color: green;
        width: 40px;
        height: 40px;
        border: 2px solid green;
        font-size: 24px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
      }
      h3 {
        font-weight: 600;
        color: green;
      }
      div {
        color: #a0a0a0;
        a {
          color: $mainColor;
        }
      }
    }
  }
}

/*End find-password-step4*/

/*prodect-single*/
.shop-product {
  h3.shop-product-title {
    font-family: "Microsoft YaHei UI" !important;
  }
  .product-size {
    label {
      width: 100px;
      font-weight: normal;
      font-size: 16px;
      height: 40px;

    }
  }
  .shop-product-social {
    li {
      .qrcode-content {
        position: absolute;
        left: -65px;
        z-index: 2;
        background: #fff;
        top: -205px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

/*--------------------------------------------------
    [7. Team Section]
----------------------------------------------------*/
/*Second owl carousel design*/
.team-section {
  .owl-carousel-v4 {
    .item {
      text-align: center;
      img {
        margin: 0 auto 35px;
        display: block;
        max-width: 370px;
        max-height: 370px;
      }
    }
    .owl-small {
      font-size: 13px;
      text-transform: uppercase;
      color: #9797a2;
      font-weight: 400;
      display: block;
      margin-bottom: 5px;
      letter-spacing: 2px;
    }
    .owl-span {
      margin-bottom: 15px;
      font-size: 13px;
      color: $mainColor;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .owl-list {
      padding: 15px 0 0;
      min-height: 50px;
      li {
        > a {
          font-size: 15px;
          color: #9797a2;
          padding: 5px 10px;
          background: #272730;
          transition: all .4s ease;
          &:hover {
            color: #fff;
            background: $mainColor;
          }
        }
        a.fb {
          padding: 5px 12px;
        }
      }
    }
  }
}

.owl-theme {
  .owl-controls {
    .owl-buttons {
      display: none;
      div {
        padding: 13px 17px;
        color: #fff;
        background: #272730;
        border-radius: 50%;
        position: absolute;
        display: none;
        &:hover, &:focus {
          background: $mainColor;
        }
      }
      i {
        margin-top: 2px;
      }
      .owl-prev {
        left: -15px;
        top: 20%;
      }
      .owl-next {
        right: -15px;
        top: 20%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .team-section .owl-carousel-v4 .owl-slider-v4.team-section .item img {
    margin: 0 auto 20px;
    max-width: 270px;
    max-height: 270px;
  }
}

@media (max-width: 992px) {
  .team-section .owl-theme .owl-controls .owl-buttons .owl-prev {
    top: 20%;
    left: -20px;
  }

  .team-section .owl-theme .owl-controls .owl-buttons .owl-next {
    top: 20%;
    right: -20px;
  }
}

.product-detail {
  .store-box {
    padding: 15px;
    border: 1px solid #eee;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
    span {
      margin: 5px 0;
      display: block;
      color: $mainColor;
    }
  }

  .product-introduce-box {
    @extend .store-box;
    text-align: left;
  }
}

/*End prodect-single*/

/*fabric-buy-list*/
.product-description {
  .title-price {
    color: $mainColor;
    font-size: 18px;
  }
}

/*End fabric-buy-list*/

/*fabric-buy-single*/
.table-striped > tbody > tr:nth-of-type(odd) {
  /*background-color: #eee;*/
}

/*End fabric-buy-single*/

/*info-sure*/
.shopping-cart {
  h2.title-type {
    font-family: "Microsoft YaHei UI" !important;
    margin-left: 0;
  }
  .billing-info {
    .billing-info-inputs {
      label {
        color: #999;
        span {
          color: $mainColor;
        }
      }
      .city-select {
        select {
          width: 32.7%;
          display: inline-block;
        }
      }
    }
    .address-box {
      .change-address {
        cursor: pointer;
        border: 1px solid #d5d7dc;
        ul {
          padding: 10px;
          li {
            color: #888;
            font-weight: 600;
            span {
              font-weight: normal;
            }
          }
        }
      }
    }
    .border-img{
      border:5px solid transparent !important;
      border-image: url("../img/border/01-01.png")7 repeat !important;
    }
  }
}
.sky-form{
  border: none;
  .state-error{
    label{
      display: block;
    }
  }
}

.pay-fast{
  a{
    padding: 13px 15px;
    border: 1px solid #d5d7dc;
  }
}
.pay-use-bank{
  >div{
    margin-bottom: 10px;
    a{
      display: block;
      padding: 6px 15px;
      border: 1px solid #d5d7dc;
    }
  }
}
/*End info-sure*/

/*stores-list*/
.sample-show{
  img{
    width: 85px;
    display: inline-block;
  }
}
/*End stores-list*/

/*add-address-form*/
.add-address-form{
  #city_1{
    select{
      width: 33%;
      display: inline-block;
    }
  }
}
.address-list{
  table{
    .default-address{
       color: $mainColor;
     }
    .set-default-address a{
      color: $mainColor;
      display: none;
    }
    tr{
      &:hover{
        .set-default-address a{
          display: block;
        }
      }
    }
  }
}
/*End add-address-form*/

/*store-single*/
.search-block {
  background: url(../img/stores/7.jpg);
  .form-control {
    height: 45px;
  }
}
/*End store-single*/

/*footer-img*/
.footer-img{
  li{
    display: inline-block;
    margin:0 10px;
    img{
      width: 90px;
      height: 30px;
    }
  }
}
/*End footer-img*/

/*change-head*/
.change-head{
  .change-head-left-box{
    text-align: center;
    background: #eee;
    padding: 150px 40px;
    .change-head-left{
      display: flex;
      a{
        margin: auto;
        position: relative;
        text-decoration: none;
        text-indent: 0;
        line-height: 20px;
        input{
          display: block;
          position: absolute;
          font-size: 100px;
          right: 0;
          top: 0;
          opacity: 0;
        }
      }
    }
    p{
      display: block;
      color: #ccc;
      font-size: 14px;
    }
  }
  .change-head-right{
    background: #eee;
    padding: 10px 20px;
    text-align: center;
    h3{
      color: $mainColor;
    }
    .box-130{
      width: 130px;
      height: 130px;
      background: #ccc;
      margin: 0 auto;
    }
    .box-60{
      width: 60px;
      height: 60px;
      @extend .box-130
    }
    .box-30{
      width: 30px;
      height: 30px;
      @extend .box-130
    }
    p{
      color: #ccc;
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }
}

/*End change-head*/


/*补充*/
.log-reg-v3 .state-error input,
.log-reg-v3 .state-error select,
.log-reg-v3 .state-error textarea,
.log-reg-v3 .radio.state-error i,
.log-reg-v3 .checkbox.state-error i,
.log-reg-v3 .toggle.state-error i {
  background: rgb(255, 240, 240);
}
/*End补充*/




