html{
    font-size: 20px;
}
body{
    font-size: .8rem;
    padding: 2.3rem 0 1.5rem 0;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}
ul,li{
    list-style: none;
}