body {
    font-size: 16px;
    line-height: 1.25em;
}

body {
    padding-top: 45px;
    font-family: "Microsoft YaHei UI", Arial, sans-serif;
    color: #333;
    background-color: #f0f2f5;

}
h1, h2, h3, h4, h5, h6 {
    font-family: "Microsoft YaHei UI", Arial, sans-serif;
}

.font-s12 {font-size:12px;}

p {margin:0;}
.page {display:none;}
.page.active {display:block;}

.no-bdbt {border-bottom:none;}
.no-margin {margin:0!important;}
.bdbr-1px, .bdbt-1px {
    position: relative;
}
.bdbr-1px:after, .bdbr-1px:before,.bdbt-1px:after, .bdbt-1px:before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.bdbt-1px:before {
    height: 1px;
    content: '';
    width: 100%;
    border-bottom: 1px solid #e3e5e9;
    position: absolute;
    top: -1px;
    left: 0;
    transform: scaleY(.5);
    -webkit-transform: scaleY(.5);
    z-index: 10;
}
.bdbr-1px:after {
    height: 1px;
    content: '';
    width: 100%;
    border-top: 1px solid #e3e5e9;
    position: absolute;
    bottom: -1px;
    right: 0;
    transform: scaleY(.5);
    -webkit-transform: scaleY(.5);
    z-index: 10;
}

/* navbar */
.navbar {min-height: inherit;}
.navbar-header > a,.navbar-header > button {
    padding: 10px;
    width: 40px;
    font-size: 16px;
    line-height: 24px;
    color: #555;
}
.navbar-header > a{
    padding: 0 12px;
    font-size: 22px;
    line-height: 2.2rem;
    height: 2.2rem;
}
.navbar-header .pull-left.back {
    font-size: 30px;
}
.navbar-header h3 {
    margin: 10px 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* footer */
.footer {
    position: fixed;
    background: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* panel */
.panel-default {
    border:none;
    margin-bottom: 10px;
    box-shadow: none;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #EFEFEF;
}
.panel-default .panel-title {font-size:14px;}
.panel-default .panel-title:before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 14px;
    background-color: #e6125d;
    margin-right: 6px;
    vertical-align: middle;
}



/* 菜单 */
.center-content {
    margin-top: 10px;
}
.center-banner {
    height: 44px;
    line-height: 44px;
    background: #fff;
    padding: 0 10px;
}
.center-link {
    display: block;
}
.couponIn-icon {
    margin-right: 10px;
    line-height: 44px;
    vertical-align: top;
    width: 18px;
}
.center-link .pull-right,.in-item-info .pull-right {font-size:14px;color:#ccc;}
.center-link .right-arrow,.in-item-info .pull-right .right-arrow {font-size:18px;}

.center-item {
    display:block;
    padding: 17px 15px 6px 15px;
    background: #fff;
}
.center-item a {
    font-size: 14px;
    text-align:center;
}

.in-list {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    overflow: hidden;
}
.in-list .in-item {
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 10px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    vertical-align: middle;
}
.in-item .in-item-info {
    vertical-align: middle;
    padding-right: 10px;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    margin-left: 10px;
}

/* 遮罩层 */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
    background: rgba(0,0,0,.8);
}

/* m-select */
.m-select {
    display:none;
    background: #fff;
    width: 80%;
    position: absolute;
    top: 50%;
    margin: 0 10%;
    z-index: 1099;
    transform: translateY(-50%);
}
.m-select .option {
    display: block;
    width: 100%;
    height: 44px;
    line-height:44px;
    text-align: right;
    margin:0;
    font-weight:normal;
    padding: 0 15px;
}
.m-select .option input {
    left: -9999px;
    position: absolute;
}
.m-select .option input + i {
    position: absolute;
    left: 15px;
    line-height: 44px;
}
.m-select .option input + i:after {
    text-align: center;
    font: normal 20px FontAwesome;
}
.m-select .option input:checked + i:after {
    content: "\f00c";
    color: #e6125d;
}