.sky-toggle {
  position: relative;
  /*display: block;
  padding-right: 61px;*/
  font-size: 15px;
  line-height: 27px;
  color: #404040;
  cursor: pointer;
  font-weight: normal; }

.sky-toggle:last-child {
  margin-bottom: 0; }

.sky-toggle input {
  position: absolute;
  left: -9999px; }

.sky-toggle i {
  content: '';
  /*position: absolute;
  top: 4px;
  right: 0;*/
  display: block;
  width: 64px;
  height: 26px;
  border-width: 1px;
  border-style: solid;
  border-radius: 14px;
  background: #fff;
  border-color: #bbb;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s; }

.sky-toggle input:checked + i {
  border-color: #999; }

.sky-toggle i:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 7px;
  right: 8px;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  background-color: #999;
  -ms-transition: right 0.2s;
  -moz-transition: right 0.2s;
  -webkit-transition: right 0.2s; }

  .sky-toggle i.shop-s-x:before {
    right: 4px;
  }

  .sky-toggle input:checked + i:before {
  right: 43px; }

  .sky-toggle input:checked + i.shop-s-x:before {
  right: 47px; }

.sky-toggle i:after {
  content: 'OFF';
  position: absolute;
  top: 7px;
  right: 10px;
  left: 11px;
  font-style: normal;
  font-size: 10px;
  line-height: 13px;
  font-weight: 700;
  text-align: left;
  color: #5f5f5f; }

.sky-toggle input:checked + i:after {
  content: 'ON';
  text-align: right; }