@import "basic.css";
@import "table.css";
@import "u.css";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {font-size: 20px;}
body{
    margin: 0;
    padding: 0;
    font-size: .8rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #eee;
    font-family: "Microsoft YaHei UI",Arial;
}
a {color:#555;}
/*button{
    background: none;
    border: none;
    outline: none;
}
button:focus{
    background: none;
    border: none;
}*/
.header{
    background: #fafafa;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 2;
    text-align: center;
}
.header h1 {
    display: inline-block;
    font-size: .8rem;
    font-weight: normal;
}
.header-text{
    font-size: .7rem;
}
.header a.pull-left, .header a.pull-right {
    font-size: 1rem;
    line-height: 1.3rem;
    width: 2.3rem;
    height: 100%;
    color: #999;
    padding: 0.42rem;
}
.header .back{
    font-size: 1.3rem;
}
.order-tab{
    position: relative;
    background: #fff;
    overflow: hidden;
}
.order-tab ul {
    margin: 0;
}
.order-tab ul li{
    float: left;
    width: 50%;
    font-size: .7rem;
    text-align: center;
}
.order-tab ul li a{
    position: relative;
    padding: .3rem;
    display: inline-block;
    margin: 0 auto;
    border-bottom: 2px solid transparent;
}
.order-tab ul li:before,.recommend-tab ul li:after{
    content: "";
    display: block;
    height: 40%;
    width: 1px;
    position: absolute;
    background: #eee;
    left: 0;
    top: 30%;
}
.recommend .recommend-tab ul li:after{
    height: 62%;
}
.order-tab .tab-active,.recommend-tab .tab-active,.comment-tab .tab-active,.news .up.tab-active,.choose-item .up.tab-active{
    color: #e6125d;
    border-color: #e6125d;
}



/*order_inform*/
.send{
    position: relative;
    padding-bottom: 2%;
}
.send .jd-thank{
    font-size: .55rem;
}
.send .send-img,.name .me,.phone .phone-img{
    color: #e6125d;
    font-size: .65rem;
    padding-top: 3.7%;
    float: left;
}
.send .tojd{
    float: right;
    padding: 2.5% 3% 0 0;
    font-size: .9rem;
    color: #ccc;
}
.to-address .address{
    color: #848689;
    font-size: .6rem;
}
.line{
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: .1rem;
    background: url("../img/borderline.png") repeat-x;
}
.address-in{
    margin-bottom: 2%;
    overflow: hidden;
}
.address-in .name{
    width: 40%;
    float: left;
    font-size: .7rem;
}
.address-in .name .me{
    padding: 3% 2% 0 0;
    font-size: .55rem;
}
.address-in .phone{
    float: right;
    font-size: .6rem;
    width: 27%;
}
.address-in .phone .phone-img{
    padding: 2.8% 1% 0 0;
    font-size: .7rem;
}
.ware-num{
    margin-top:.5rem;
    font-size: .65rem;
    bottom: 0;
    color:#999;
}
.info-orderlist .price span{
    padding:0;
    float: right;
    line-height: normal;
}
.callme{
    border-top: 1px solid #e3e5e9;
    background: #fff;
    padding: 2%;
}
.callme .call-me{
    font-size: .55rem;
    color: #e6125d;
    vertical-align: 15%;
    margin-right: -1%;
}
.callme a{
    font-size: .55rem;
    display: block;
    padding: 1.8% 0;
    text-align: center;
    border: 1px solid #848689;
    border-radius: 6px;
    color: #bfbfbf;
}
.way,.invoice,.sendmsg{
    padding: 2% 3% 2% 0;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;
}
.way p,.inp-item-p1{
    float: left;
    font-size: .7rem;
    color: #686868;
}
.way span,.inp-item-p2{
    float: right;
    font-size: .65rem;
}
.sendmsg p{
    font-size: .7rem;
    color: #686868;
    margin-bottom: 1%;
}
.pay-way .invoice{
    border: 0;
}
.inp-item{
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2%;
}
.inp-item-p2{
    color: #e6125d;
}
.inp-item-q{
    padding: 0% 3% 2% 0;
    overflow: hidden;
}
.inp-item-p{
    padding: 2% 3% 2% 0;
    overflow: hidden;
}
.sf{
    padding:  0% 2% 2% 0;
    float: right;
    text-align: right;
}
.sf-p,.mc{
    font-size: .65rem;
}
.sf-p span{
    font-size: .7rem;
    color: #e6125d;
}
.sf-time{
    font-size: .65rem;
    color: #848689;
}
/*.footer{
    margin-top: 3%;
    padding: 2%;
    text-align: center;
    background: #eaedf1;
    border-top: 1px solid #e0e0e0;
}*/
.footer1{
    overflow: hidden;
    margin: 0 auto;
    margin-right: -2%;
}
.footer1 div a{
    box-sizing: border-box;
    float: left;
    font-size: .5rem;
    width: 23%;
    border: 1px solid #bfbfbf;
    border-radius: 6px;
    background: #fff;
    padding: 2% 0;
    margin-right: 2%;
}
.footer1 .inbuy-again a{
    background: #e6125d;
    color: #fff;
    font-size: .65rem;
}
.delete-hint-b,.delete-hint-b2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    z-index: 5;
}
.delete-hint{
    position: fixed;
    width: 80%;
    background: #f8f8f8;
    padding: 5%;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
}
.delete-hint-t{
    font-size: .7rem;
    text-align: center;
    margin-bottom: 10%;
}
.delete-btn{
    text-align: center;
    overflow: hidden;
    margin-right: -2%;

}
.delete-n,.delete-y,.cancel-n,.cancel-y{
    box-sizing: border-box;
    float: left;
    width: 48%;
    padding: 2%;
    font-size: .5rem;
    display: block;
    color: #bfbfbf;
    border: 1px solid #e0e0e0;
    margin-right: 2%;
    border-radius: 4px;
    background: #fff;
}
.delete-btn a.delete-y,.cancel-y{
    background: #f35656;
    color: #fff;
    border: 1px solid #f35656;
}




/*my_concern css*/
.my_concern .order-tab{
    border-bottom: 1px solid #e3e5e9;
}
.my_concern .order-tab ul li a{
    font-size: .7rem;
    width: 60%;
}
.shop-list li{
    padding-top: 3%;
    position: relative;
}
.shop-img{
    width: 30%;
    float: left;
    padding-top: 2%;
}
.shop-content{
    padding: 0 5% 3% 2%;
    margin-left: 30%;
    border-bottom: 1px solid #e3e5e9;
}
.shop-list li:last-child .shop-content{
    border-bottom: none;
}
.shoplist-name{
    font-size: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 1.7rem;
    margin-bottom: 13%;
}
.shop-price{
    color: #e6125d;
    font-size: .65rem;
}
.shop-price span{
    font-size: .75rem;
    margin-left: -.2rem;
}
.list-btn{
    position: relative;
    margin-top: -3%;
}
.list-btn a{
    color: #e6125d;
    font-size: .7rem;
    border: 1px solid #e6125d;
    padding: 0 2%;
    border-radius: 3px;
}
.list-btn .shoppingcart{
    position: absolute;
    right: 0;
    font-size: .8rem;
    color: #e6125d;
    /* background: #e6125d; */
    border-radius: 50%;
    border: 2px dashed #e6125d;
    padding: 2%;
    margin-top: 1%;
}
.supplier-img{
    float: left;
    width: 25%;
    margin-top: 5.2%;
}
.supplier-img img{
    border: 1px solid rgba(0,0,0,0.5);
}
.supplier-content{
    padding: 4% 5% 13% 30%;
    border-bottom: 1px solid #e3e5e9;
    font-size: .7rem;
    color: #666;
}
.supplier-list li:last-child .supplier-content{
    border-bottom: 0;
}
.supplier-name{
    margin-bottom: 3%;
}
.s-concern s{
    float: left;
    height: .8em;
    background: url(../img/icon-x.png) repeat-x .06em -0.81em;
    width: 4.8em;
    background-size: 1em 1.75em;
    position: relative;
    overflow: hidden;
}
.s-concern s b{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: url(../img/icon-x.png) repeat-x .06em .08em;
    background-size: 1em 1.75em;
    width: 90.90909%;
}
.favourable{
    margin-top: -14%;
}
.favourable span{
    font-size: .5rem;
    padding: 0% 2%;
    color: #fff;
    border-radius: 5px;
}
.new-style{
    background: #6cb247;
}
.coupon{
    background: #e78e58;
}
.guanzhu{
    float: right;
    font-size: .65rem;
    /* padding-bottom: 6%; */
    margin-top: -1.2%;
}
.to-foot{
    position: relative;
    text-align: center;
    padding:0 0 2% 0;
    background: #fff;
    border-top: 1px solid #e3e5e9;
}
.to-foot p span{
    position: relative;
    font-size: .7rem;
    color: #b2b2b2;
    z-index: 2;
    padding: 0 2%;
    background: #fff;
}
.to-foot:after{
    content: "";
    position: absolute;
    width: 95%;
    height: 2px;
    background-color: #ebebeb;
    display: block;
    top: 50%;
    left: 3%;
    z-index: 1;
}
.concern-footer{
    padding: 5% 7%;
    background: #f8f8f8;
    overflow: hidden;
    border-bottom: 1px solid #bfbfbf;
    border-top: 1px solid #bfbfbf;
}
.footer-list{
    overflow: hidden;
}
.footer-list li{
    float: left;
    width: 25%;
    text-align: center;
}
.footer-list li a{
    font-size: .7rem;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* line-height: 1.1em; */
    /* margin: 0 auto; */
    border-right: 1px solid #d7d7d7;
    padding-right: 1%;
    color: #848689;
}


/*commodity css*/
.commodity .header{
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}
.header-tab{
    padding: 2.5% 22% 0;
    list-style: none;
    margin: 0;
}
.header-tab li{
    float: left;
    width: 33.3%;
    font-size: .65rem;
    text-align: center;
}
.header-tab li a{
    position: relative;
    font-size: .7rem;
    padding: 0 9%;
    color: #333;
}
.header-tab .tab-active,.sended{
    color: #e6125d;
}
.header-tab .tab-active:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #e6125d;
    display: block;
    bottom: -52%;
    left: 0%;
}
.commodity-img{
    background: #fff;
}
#commodity-owl .item{
    width: 95%;
    margin: 0 auto;
}
.my_address .choose-new,.my_address .c-news{
    margin-bottom: 2%;
}
.my_shops{
    color: #fff;
    background: #e6125d;
    padding: 0 1%;
    border-radius: 4px;
}
.goods-price{
    color: #e6125d;
    margin-bottom: 3%;
}
.big-price{
    font-size: .9rem;
    font-weight: bold;
}

.cut-price{
    float: right;
    color: #686868;
    border: 1px solid #bfbfbf;
    display: block;
    padding: 1% 2%;
    font-size: .65rem;
}
.goods-act{
    color: #81838e;
    font-size: .65rem;
}
.goods-act a{
    color: #e6125d;
    text-decoration: underline;

}
.choose .new-title{
    font-size: .7rem;
    color: #81838e;
    float: left;
}
.choose-news .new-title,.news .shop-price{
    padding-top: 1%;
}
.new,.c-news,.sended{
    font-size: .7rem;
}
.news .shape{
    font-size: .5rem;

}
.c-news,.news{
    padding-left: 4%;
    overflow: hidden;
}
.c-news a{
    border: 1px solid #bfbfbf;
    padding: 1% 4%;
    margin-right: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 3%;
    display: block;
    float: left;
    border-radius: 4px;
}
.c-news .my_choose{
    border-color: #e6125d;
    color: #e6125d;
}
.news .up{
    float: right;
    color: #999;
    font-size: 1rem;
    padding-right: 2%;

}
.news .shape{
    margin-left: 4%;
    vertical-align: 7%;
}
#number{
    width: 1rem;
    height: .9rem;
    font-size: .7rem;
    float: left;
    text-align: center;
    padding: .8% 2%;
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}
.color-b{
    color: #bbb;
}
/*.c-news button{
    font-weight: normal;
    font-size: .9rem;
    border: 1px solid #bfbfbf;
    display: block;
    float: left;
}*/
.prom-item{
    color: #6a77b6;
    margin-right: 2%;
    margin-top: 3%;
    display: inline-block;
}
.show-prom .prom-item,.show-prom .prom-say{
    display: block;
}
.promiseIco.show-prom{
    height: auto;
}
.prom-i{
    font-size: .65rem;
    border: 2px solid #6a77b6;
    vertical-align: middle;
    padding-right: 2%;
}
.promiseIco .prom-item .prom-i img{
    width: .75rem;
    vertical-align: bottom;
    display: inline;
}
.promiseIco{
    padding-bottom: 1%;
    position: relative;
    padding-right: 3%;
    height: 1.3rem;
}
.choose-item .up{
    position: absolute;
    color: #999;
    font-size: 1rem;
    top: 1.1rem;
    right: 2%;
}
.prom-say{
    display: none;
    font-size: .52rem;
    margin-top: 1%;
    color: #9d9c9c;
}
.store-img{
    width: 22%;
    border: 1px solid rgba(0,0,0,0.5);
    float: left;
    margin-top: 3%;
    margin-right: 3%;
}
.store-name{
    padding-top: 2%;
}
.namekey{
    margin-right: 2%;
    margin-top: 2%;
}
.namepro{
    color: #848689;
    font-size: .65rem;
}
.store-item,.assess-img{
    overflow: hidden;
    position: relative;
}
.store-show{
    overflow: hidden;
    margin-top: 3%;
    margin-right: -10px;
}
.store-show li{
    float: left;
    width: 33.33%;
    text-align: center;
    border-right: 1px solid #d7d7d7;
    box-sizing: border-box;
}
.store-show .num{
    font-size: .7rem;
}
.store-show .text{
    font-size: .65rem;
    color: #848689;
}
.shore-btn{
    text-align: center;
    margin-top: 4%;
}
.shore-btn button i{
    color: #e6125d;
    font-size: .65rem;
}
.shore-btn button .call-me{
    vertical-align: 6%;
}
.shore-btn button{
    font-size: .65rem;
    width: 47%;
    text-align: center;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    padding: 2% 0;
}
.call-shore{
    margin-right: 4%;
}
.assess .store{
    padding-right: 0;
}
.assess-part{
    padding: 1% 3% 3% 0;
    font-size: .7rem;
    border-bottom: 1px solid #e1e1e1;
}
.part-msg{
    color: #81838e;
}
.goods-per{
    float: right;
}
.goods-per .right{
    font-size: 1rem;
    float: right;
    margin-top: -4%;
    color: #81838e;
}
#per{
    color: #e6125d;
}
.assess-info{
    padding: 2% 4% 2% 0 ;
    font-size: .7rem;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
}
.assess-star{
    display: inline-block;
    overflow: hidden;
    width: 4rem;
    height: .7rem;
    background: url(../img/comment-star.png) repeat-x 0 -.55rem;
    background-size: .8rem;
    vertical-align: bottom;
}
.assess-author{
    color: #81838e;
    font-size: .55rem;
    float: right;
}
.real-star{
    display: inline-block;
    height: .7rem;
    background: url(../img/comment-star.png) repeat-x 0 .04rem;
    background-size: .8rem;
    vertical-align: top;
}
.star-width{
    width: 100%;
}
.assess-content{
    font-size: .7rem;
    margin-top: 3%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 3%;
}
.assess-img-list{
    overflow: hidden;
}
.assess-img-list li{
    display: block;
    width: 22%;
    height: 3.3rem;
    float: left;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
    box-sizing: border-box;
    margin-right: 4%;
    z-index: 99;
}
.assess-img-list li:last-child{
    margin-right: 0%;
}
.assess-img-list li img{
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.assess-data{
    color: #81838e;
    font-size: .55rem;
    float: right;
    margin-top: 3%;
}
.assess .shore-btn{
    margin-left: -2%;
}
.shore-btn a{
    display: block;
    width: 40%;
    float: left;
    margin: 0 auto;
}
.recommend-tab{
    overflow: hidden;
    position: relative;
}
.recommend-tab ul li{
    float: left;
    width: 50%;
    font-size: .65rem;
    text-align: center;
}
.recommend-tab ul li a{
    color: #9a9a9a;
    position: relative;
    display: block;
    width: 38%;
    margin: 0 auto;
}
.r-small{
    width: 32%;
    float: left;
    margin-right: 2%;
}
.r-small:last-child{
    margin-right: 0%;
}
.r-img{
    border: 1px solid #bfbfbf;
    margin-bottom: 2%;
}
.r-title{
    font-size: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 2%;
}
.r-allprice{
    font-size: .55rem;
}
.r-item{
    margin-top: 3%;
    overflow: hidden;
}
.dity-footer{
    background: #fff;
    overflow: hidden;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
    left: 0;
    border-top: 1px solid #d2d2d2;
}
.dity-footer2{
    width: 100%;
    height: 1.9rem;
}
.footer-l{
    width: 47%;
    padding-top: 2.5%;
}
.footer-r{
    width: 53%;
}
.footer-l a{
    width: 33%;
    text-align: center;
    font-size: .55rem;
    display: block;
    float: left;
    position: relative;
}
.footer-l a i{
    font-size: .75rem;
    color: #666;
    padding-bottom: 8%;
}
.cart-num{
    position: absolute;
    color: #fff;
    background: #e6125d;
    border-radius: 50%;
    padding: 2% 8%;
    font-size: .45rem;
    right: 18%;
    top:-19%;
}
.footer-l a span{
    display: block;
    margin-top: -4%;
}
.footer-l,.footer-r{
    float: left;

}
.footer-r a{
    line-height: .4rem;
    font-size: .65rem;
    width: 50%;
    float: left;
    text-align: center;
    color: #fff;
    padding: 10% 0;
}
.add-cart{
    background: #ffb03f;
}
.to-buy{
    background: #e6125d;
}




/*details*/
.details .recommend-tab{
    padding: 2% 0;
    background: #fff;
    border-bottom: 1px solid #e1e1e1;
}
.details-info{
    padding: 2% 3%;
    background: #fff;
    overflow: hidden;
}
.parameter{
    min-height: 23rem;
}
.parameter-t{
    font-size: .7rem;
    width: 100%;
}
.T-title{
    border: 1px solid #bfbfbf;
    text-align: start;
    padding: 1% 2%;
}
.parameter-t tr td:first-child{
    width: 30%;
}
.parameter-t tr td{
    width: 60%;
    border: 1px solid #bfbfbf;
    padding: 1% 2%;
}
.comment-tab{
    background: #fff;
    font-size: .5rem;
    overflow: hidden;
    padding: 2% 0;
}
.comment-tab li{
    width: 20%;
    text-align: center;
    display: block;
    float: left;
}
.tab-text{
    font-size: .55rem;
}





/*comment*/
.comment-user{
    line-height: 1.3rem;
    border-bottom: 1px solid #e0e0e0;
    padding: 1% 3% 3% 1%;
}
.store .comment-user .comment-u-img img{
    border-radius: 50%;
    height: 1.3rem;
    float: left;
    width: 1.3rem;
}
.comment-u-name{
    padding-left: 3%;
}
.comment-u-data{
    float: right;
    font-size: .5rem;
    color: #81838e;
    margin-top: 1%;
}
.comment .assess-content,.comment .assess-img{
    padding-right: 3%;
}
.comment-hint{
    margin-top: 2%;
}
.comment-p{
    font-size: .55rem;
    color: #bfbfbf;
}
.comment .store-item{
    margin-left: -3%;
    margin-top: 2%;
    border-top: 1px solid #e0e0e0;
}
.comment .assess .shore-btn{
    margin-top: 2%;
}
.comment .shore-btn button{
    width: 45%;
    margin-left: 1%;
}
.recommend-item2 .ms-view{
    background: #fff;
}
.owl-carousel .owl-stage{
    height: auto;
}





/*shops_cart*/
.font-s7{
    font-size: .7rem;
}
.font-s6{
    font-size: .7rem;
}
.font-s5{
    font-size: .5rem;
}
.color-c{
    color: #e6125d;
}
.shops-group-item{
    padding-top: 2%;
    background: #fff;
    margin-bottom: 2%;
}
.shop-i-list li{
    padding: 2% 0;
    background: #fff;
}
.shop-i-list li{
    border-top: 1px solid #ebebeb;
}
.shops-title{
    padding: 0 4% 2%;
}
.shops-title .shops-choose{
    float: left;
    font-size: .8rem;
    padding-top: 1.2%;
}
.shops-name .shops-i{
    font-size: .7rem;
    color: #999;
    vertical-align: middle;
}
.shops-name{
    line-height: 0;
    padding-left: 10%;
}
.shops-name .r-i{
    vertical-align: middle;
}
.shop-name{
    color: #555;
    font-size: .65rem;
}
.shop-name i{
    color: #555;
}
.shop-i-img{
    width: 26%;
    float: left;
    padding-top: 2%;
}
.shop-items{
    padding: 0 4%;
    position: relative;
}
.shop-i-choose{
    float: left;
}
.shop-i-choose .shops-choose1,.all-choose i{
    font-size: .8rem;
}
.shop-i-core{
    padding-left: 10%;
}
.shop-i-text{
    padding: 2% 0 3% 28%;
}
.product-name span{
    max-height: 1.4rem;
    line-height: .7rem;
    display: -webkit-box;
    -webkit-box-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #555;
    word-break: break-all;
    width: 9rem;
    font-size: .56rem;
}
.product-prop{
    font-size: .55rem;
    color: #81838e;
    white-space: nowrap;
}
.product-price{
    font-size: .55rem;
    margin-top: 4%;
    padding-bottom: 4%;
}
.p-big-price{
    font-size: .85rem;
}
.p-total{
    font-size: .55rem;
    float: right;
    padding-top: 2%;
    border-top: 1px solid #ebebeb;
}
.over{
    overflow: hidden;
}
.shop-i-delete{
    float: right;
    font-size: .55rem;
    background: #e6125d;
    color: #fff;
    padding: 2% 4%;
    border-radius: 4px;
}
.shops_cart-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    padding-left: 4%;
    width: 100%;
    border-top: 1px solid #e3e5e9;
}
.shops-f-price{
    float: left;
    font-size: .53rem;
    position: relative;
    margin-top: 2%;
    margin-left: 4%;
}
.shops-total-price{
    display: block;
}
.shops-balance{
    float: right;
    width: 33%;
    background: #e6125d;
    text-align: center;
    padding: 3% 2%;
    font-size: .8rem;
    color: #fff;
}
.all-choose .all-check{
    position: absolute;
    top: 38%;
}
.shops_cart-footer2{
    width: 100%;
    height: 1.7rem;
}









/*订单结算*/
.send-address{
    display:block;
    background: #fff;
    position: relative;
    color: #555;
}
.send-name{
    padding-right: 10%;
}
.address-where{
    color: #444;
    font-size: .65rem;
}
.send-where .send-i{
    font-size: .7rem;
}
.send-address-line{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: .07rem;
    width: 100%;
    background: url(../img/location-border.png) repeat-x;
    background-size: 3.5rem 1rem;
}
.middle-box{
    margin-top: 2%;
    padding: 5% 2% 0%;
    background: #fff;
    border-top: 1px solid #ddd;
}
.un-all-img{
    padding-right: 29%;
}
.good-number{
    text-align: center;
    font-size: .55rem;
    padding-top: 4%;
}
.in-all{
    float: right;
    font-size: .65rem;
    color: #999;
    width: 20%;
    margin-top: 8%;
}
.in-all .to-useraddress{
    font-size: 1rem;
    padding-left: 2%;
    vertical-align: -8%;
}
.pay-item{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.box-step3{
    padding: 3% 6% 3% 0;
    position: relative;
    border-bottom: 1px solid #F0F2F4;
}
.deliver-tim{
    font-size: .55rem;
    color: #999;
    text-align: right;
}
.small-time,.big-time{
    text-align: right;
    float: right;
    line-height: .5rem;
}
.small-goods,.small-time,.big-goods,.big-time{
    line-height: 1.5rem;
}
.small-goods,.big-goods{
    color: #666;
}
.box-step4{
    padding: 3% 6% 3% 0;
    position: relative;
    font-size: .65rem;
}
.sitem-l{
    float: left;
    width: 40%;
    line-height: 1rem;
}
.sitem-r{
    float: right;
    line-height: 1rem;
}
.sitem-num{
    background: #e6125d;
    font-size: .55rem;
    padding: 1% 3%;
    color: #fff;
    border-radius:4px ;
}
.to-sitem{
    font-size: 1rem;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    right: 2%;
    color: #999;
}


/*订单结算*/
.send-address{
    background: #fff;
    position: relative;
}
.send-name{
    padding-right: 10%;
}
.send-address .to-useraddress{
    position: absolute;
    right: 0;
    top: 30%;
    font-size: 1rem;
    color: #999;
}
.send-address-line{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: .07rem;
    width: 100%;
    background: url(../img/location-border.png) repeat-x;
    background-size: 3.5rem 1rem;
}
.middle-box{
    margin-top: 2%;
    padding: 5% 2% 0%;
    background: #fff;
    border-top: 1px solid #ddd;
}
.un-all-img{
    padding-right: 29%;
}
.good-number{
    text-align: center;
    font-size: .55rem;
    padding-top: 4%;
}
.in-all{
    float: right;
    font-size: .65rem;
    color: #999;
    width: 20%;
    margin-top: 6%;
}
.in-all .to-useraddress{
    font-size: 1rem;
    padding-left: 2%;
    vertical-align: -8%;
}
.good-name{
    margin:0;
    max-height: 1.5rem;
    line-height: .7rem;
    display: -webkit-box;
    -webkit-box-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.box-step1{
    border-bottom: 1px solid #F0F2F4;
    padding-bottom: .5rem;
    overflow: hidden;
    position: relative;
}
.good-img{
    float: left;
    width: 3rem;
}
.good-con{
    padding-left: 2%;
    float: left;
    width: 50%;
}
.good-price{
    float: right;
    color: #E6125D;
}
.to-good{
    position: absolute;
    right: 0;
    top: 28%;
    color: #999;
}
.send-way{
    padding: 3% 0;
    position: relative;
    font-size: .7rem;
}
.pay-item{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.send-way .to-payway,.box-step4 .to-sitem{
    font-size: 1rem;
    top: 49%;
    position: absolute;
    transform: translateY(-50%);
    right: 0;
    color: #999;
}
.box-step3{
    padding: 3% 6% 3% 0;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}
.deliver-tim{
    font-size: .55rem;
    color: #999;
    text-align: right;
}
.small-time,.big-time{
    text-align: right;
    float: right;
    line-height: .5rem;
}
.faclock{
    color: #e6125d;
}
.small-goods,.small-time,.big-goods,.big-time{
    line-height: 1.5rem;
}
.small-goods,.big-goods{
    color: #666;
}
.box-step4{
    padding: 3% 6% 3% 0;
    position: relative;
    font-size: .65rem;
}
.sitem-l{
    float: left;
    width: 40%;
    line-height: 1rem;
}
.sitem-r{
    float: right;
    line-height: 1rem;
}
.sitem-num{
    background: #e6125d;
    font-size: .55rem;
    padding: 1% 3%;
    color: #fff;
    border-radius:4px ;
}
.to-sitem{
    font-size: 1rem;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    right: 2%;
    color: #999;
}
.goods-money{
    background: #fff;
    padding: 2% 4% 3% 2%;
    margin-top: 2%;
}
.send-to{
    padding: 3% 4% 3% 2%;
    background: #fff6e8;
    font-size: .65rem;
}
.state-footer{
    position: fixed;
    background: #fff;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #e0e0e0;
}
.actual-price{
    float: left;
    margin-top: 4%;
    margin-left: 2%;
}
.state-footer .refer{
    background: #e6125d;
    padding: 4% 5%;
    float: right;
    color: #fff;

}
.state-footer2{
    width: 100%;
    height: 2.5rem;
    background: #fff;
}






/*address*/
.address-item{
    padding: 3%;
    background: #fff;
    font-size: .65rem;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}
.address-item > i{
    float: left;
    font-size: .8rem;
    color: #fff;
    margin-top: 3%;
}
.address-item .check{
    color: #E6125D;
}
.address-info{
    float: left;
    padding-left: 9%;
    width: 85%;
}
.user-address{
    font-size: .6rem;
    color: #666;
}
.address-item .write-address{
    font-size: .9rem;
}
.write-add{
    display: block;
    float: right;
    margin-top: 3%;
}
.shipping-address{
    min-height: 27.5rem;
    background: #fff;
}
.shipping-address-footer{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 3%;
}
.shipping-address-footer2{
    width: 100%;
    height: 1rem;
    background: #fff;
}
.shipping-address-footer a{
    padding: 2% 10%;
    background: #E6125D;
    color: #fff;
    font-size: .7rem;
    border-radius: 4px;
}




/*write_address*/
.write-item{
    background: #fff;
    padding: 3% 5%;
    font-size: .7rem;
    border-bottom: 1px solid #e0e0e0;
}
.write-title{
    display: inline-block;
    width: 25%;
}
.write-item input{
    border: 0;
    background: #fff;
}
.write-item input:focus{
    outline: none;
}
#take-address{
    display: inline-block;
    width: 70%;
}
.write-item .to-choose-add{
    font-size: .9rem;
    float: right;
    color: #999;
}




/*  */
.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block;
}
.header-tab .active a{
    color: #e6125d;
}
.header-tab .active a:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #e6125d;
    display: block;
    bottom: -52%;
    left: 0;
}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.btn {
    box-sizing: border-box;
    font-size: .8rem;
    line-height: 1rem;
    border-radius: 6px;
    /*background: #fff;*/
    padding: .3rem .6rem;
    margin-right: 2%;
    border:none;
}
.btn-bordered {
    border: 1px solid #ddd;
}
.btn-small {
    color:#555;
    border-radius: 3px;
    padding: .1rem .2rem;
    background: #fff;
    margin-right: 2%;
}
.btn.btn-red {
    background: #e6125d;
    color: #fff;
}
.btn-bordered.btn-red {
    border-color: #e6125d;
    background: #fff;
    color: #e6125d;
}
/* 遮罩层 */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0,0,0,.8);
}

/* panel */
.panel {
    background: #fff;
}
.panel-bordered {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.panel-header {
    padding: .5rem;
    border-bottom: 1px solid #F0F2F4;
}
.panel-header h3 {
    margin: 0;
    font-weight: normal;
    font-size: .7rem;
}
.panel-body {
    padding: .5rem;
    overflow: hidden;
}
.panel-body img {
    max-width: 100%;
}

/* 调整数量 */
.goods-number {
    display:inline-block;
    overflow: hidden;
    border: 1px solid #eee;
    box-sizing: content-box;
    font-size: 0.5rem;
}
.goods-number .btn-adjust {
    float: left;
    width: 2.4em;
    height: 2.4em;
    border: none;
    font-size: 1.4em;
    background: #eee;
}
.goods-number .inp-number {
    display: block;
    float: left;
    width: 2.4em;
    height: 2.4em;
    font-size: 1.4em;
    text-align: center;
    background: #fff;
    border:none;
}

/* checkbox radio */
.checkbox, .radio {line-height: .8rem;}
.checkbox input {
    left: -9999px;
    position: absolute;
}
.checkbox i {
    display: block;
    float: left;
    width: .8rem;
    height: .8rem;
}
.checkbox input + i:after {
    content: '\f096';
    text-align: center;
    font: normal .8rem FontAwesome;
}
.checkbox input:checked + i:after {
    content: '\f046';
    color: #e6125d;
}

/* slidefixed-box */
.slidefixed-box {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

.slidefixed-box .box-heading {
    padding: 0 .5rem;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 -1px 2px #ddd;
}

.slidefixed-box .box-body {
    padding: 1rem .5rem;
}

.slidefixed-box .box-actions button {
    display: block;
    width: 100%;
    height: 2.3rem;
    border: none;
    background-color: #ffb03f;
    color: #fff;
}

.slidefixed-box .box-heading .close {
    float: right;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1rem;
    color: #999;
}