<extend name="Public:base-v8" />
<block name="title"><title>更改手机</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form section {
            margin-bottom: 10px!important;
        }
        .sky-form {
            display:none;
        }
        .result-success {
            display:block;
        }
        .result-success .fa-check {
            font-size: 40px;
            padding: 20px;
            color: #2ecc71;
            border: 2px solid #2ecc71;
            border-radius: 50%;
        }
        .result-success h4 {
            color: #2ecc71;
            margin: 10px 0 30px 0;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">更改手机</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('User/Center/profile')}">设置中心</a></li>
                <li class="active">更改手机</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-setting"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="javascript:void(0)">更改手机</a></li>
                    </ul>
                    <div class="tab-content profile-edit">
                        <div class="result-success text-center">
                            <div><i class="fa fa-check"></i> </div>
                            <h4>您的手机已更改！</h4>
                            <a href="{:leuu('profile')}" class="btn-u btn-u-green btn-u-lg rounded">返回</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
</block>
<block name="js">
</block>