<extend name="Public:base-v8" />
<block name="title"><title>更改手机</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form section {
            margin-bottom: 10px!important;
        }

        .mobile-verify {padding-right: 135px;}
        .mobile-verify .btn-verify {
            display: block;
            position: absolute;
            top: 0;
            right: 15px;
            width: 120px;
        }
        .mobile-verify .btn-verify:disabled,
        .mobile-verify .btn-verify:disabled:hover {
            background-color: #efb989;
            border-color: #efb989;
        }
        #fill-mobile .state-error em.invalid {
            position: inherit !important;
            left: 0 !important;
            bottom: 0;
            height: 20px !important;
             line-height: 20px !important; 
            font-weight: 500;
            color: #bbb;
            font-size: 12px;
            font-style: normal;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">手机服务</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('User/Center/profile')}">设置中心</a></li>
                <li class="active">更改手机</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-setting"/>
            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="javascript:void(0)">更改手机</a></li>
                    </ul>
                    <div id="fill-mobile" class="tab-content profile-edit">
                        <form  class="sky-form" action="{:leuu('change_mobile_post')}"
                              method="post" style="border:none;">
                            <fieldset>
                                <section class="row new-mobile">
                                    <label class="label col-md-1 col-sm-2">新手机号码</label>
                                    <label class="input col-md-6 col-sm-8">
                                        <input type="text" name="mobile">
                                    </label>
                                    <div class="note">短信验证码仅能使用一次,十五分钟内有效。</div>
                                </section>
                                <section class="row">
                                    <label class="label col-md-1 col-sm-2">短信验证码</label>
                                    <label class="input mobile-verify col-md-6 col-sm-8">
                                        <input class="input-verify" type="text" name="verify" value="">
                                        <button  class="btn-u btn-u-orange btn-verify" type="button">获取验证码</button>
                                    </label>
                                </section>
                                <section class="row">
                                    <div class="col-md-offset-1 com-sm-offset-2 col-md-6 col-sm-8">
                                        <button type="submit" class="btn-u">下一步</button>
                                    </div>
                                </section>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
</block>
<block name="js">
 <script>
    $(function(){
        /* 绑定手机popup */
        $popupMobile = $('#fill-mobile');
        if($popupMobile.length > 0){
            if(typeof popupMobileNow !== "undefined"){
                if(popupMobileNow === true){
                    popupMobileNow = false;
                    showGPopup($popupMobile);
                }
            }
            $popupMobile.find('form').validate({
                rules: {
                    mobile: {
                        required:1,
                        mobile:1
                    },
                    verify: {
                        required: 1
                    }
                },
                messages: {
                    mobile: {
                        required: "请输入手机号码",
                        mobile: "请输入正确的手机号码"
                    },
                    verify: {
                        required: "请输入验证码"
                    }
                },
                errorPlacement: function (error, element) {
                    $label = element.parent().parent().find('.input');
                    error.appendTo($label);
                },
                submitHandler: function(form) {
                    if(typeof $(form).ajaxSubmit == "function"){
                        $(form).ajaxSubmit({
                            success:function(response){
                                if(response.url){
                                    location.href = response.url;
                                }else{
                                    if(response.status){
                                        noty({text:response.info,type:'success'});
                                        $popupMobile.find('.g-popup__close').click();
                                    }else{
                                        noty({text:response.info,type:'error'});
                                    }
                                }
                            }
                        });
                    }
                }
            });
            $popupMobile.find('.btn-verify:not(:disabled)').on('click',function(){
                var $_this = $(this);
                var $mobile = $popupMobile.find('[name="mobile"]');
                if($mobile.valid()){
                    ajaxGetVerifyCode($mobile.val(), $_this);
                }
            });
        }

    });

    /* 手机验证码倒计时 */
function verifyCodeCountdown(dt,btn){
    dt--;
    if(!btn.prop('disabled')){
        btn.prop('disabled',true);
    }
    btn.text(dt+"秒后可重发");
    if(dt > 0){
        setTimeout(verifyCodeCountdown,1000,dt,btn);
    }else{
        btn.prop('disabled',false);
        btn.text('获取验证码')
    }
}
function ajaxGetVerifyCode(to, btn){
    btn.prop('disabled',true);
    var url = '/index.php?g=Sms&m=Send&a=send_code';
    var data = {to:to};
    $.post(url,data,function(response){
        if(response.status){
            verifyCodeCountdown(60,btn);
        }else{
            btn.prop('disabled',false);
            noty({type:'error',text:response.info});
        }
    });
}
</script>
</block>