
<extend name="Public:base-v8" />
<block name="title"><title>我的总览</title></block>
<block name="plugins_css">
	<link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.css">
</block>
<block name="page_css">
	<!-- CSS Page Style -->
</block>
<block name="css">
	<link rel="stylesheet" href="__TMPL__assets/css/overview.css">
</block>

<block name="breadcrumbs">
	<div class="breadcrumbs-v4">
		<div class="container">
			<span class="page-name">我的总览</span>
			<ul class="breadcrumb-v4-in">
				<li><a href="__ROOT__/">首页</a></li>
				<li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
				<li class="active">我的总览</li>
			</ul>
		</div><!--/end container-->
	</div>
</block>
<block name="main">
	<div class="container content">
		<div class="row">
			<tc_include file="Public:usernav"/>

			<div class="col-md-9">
				<div class="tab-v7">
					<ul class="nav nav-tabs">
						<li class="active"><a href="{:leuu('User/Center/index')}">发现</a></li>
						<li><a href="{:leuu('Collect/Index/index',array('type'=>2))}">色卡</a></li>
						<li><a href="{:leuu('Collect/Index/index',array('type'=>1))}">面料</a></li>
						<li><a href="{:leuu('Collect/Index/index',array('type'=>3))}">布行</a></li>
					</ul>
					<div class="tab-content">
						<h2 style="font-size: 22px;">浏览记录</h2>
						<p class="margin-bottom-30">衣料汇为您记录最近的浏览历史，您可以立即购买或者添加到收藏，以避免错过您感兴趣的内容。</p>

						<notempty name="history[tf]">
							<div class="owl-carousel-v1 margin-bottom-20">
								<div class="headline clearfix"><h2 class="pull-left" style="font-size: 20px;">看过的面料</h2>
									<!--<div class="owl-navigation">
										<div class="customNavigation">
											<a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
											<a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
										</div>
                                    </div>-->
								</div>

								<div class="owl-recent-works-v1">
									<volist name="history[tf]" id="vo">
										<div id="history-1_{$vo.id}" data-id="{$vo.id}" class="item">
											<div class="mf-goods-item">
												<div class="goods-img">
													<a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo[id]))}">
														<img class="img-responsive" src="{:get_thumb_url($vo[img][thumb],true)}" alt="" style="height:192px;">
													</a>
												</div>
												<div class="caption">
													<p class="goods-name">
														<a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo[id]))}">{$vo.name}</a>
													</p>
													<p class="goods-code">{$vo.tf_code}</p>
													<div class="goods-operate">
														<a class="op-btn btn-left" href="{:leuu('Order/Index/easy_order',array('id'=>$vo[id]))}">购买米样</a>
														<a class="op-btn btn-remove js-ajax-btn"
														   data-href="{:leuu('User/Center/delete_history',array('type'=>1))}"
														   data-id="{$vo.id}"
														   data-method="GET"
														   data-success="removeHistory">删除</a>
													</div>
												</div>
											</div>
										</div>
									</volist>
								</div>
							</div>
						</notempty>
						<notempty name="history[supplier]">
							<div class="panel panel-profile no-bg" style="background: #fff;box-shadow:none;">
                            <div class="panel-body no-padding">

                                <div class="owl-carousel-v1">
                                    <div class="headline clearfix"><h2 class="pull-left" style="font-size: 20px;">看过的面料商</h2>
                                    </div>

                                    <div class="owl-recent-works-v1" style="padding-left:15px;">
                                        <volist name="history[supplier]" id="vo">
                                            <div id="history-1_{$vo.id}" data-id="{$vo.id}" class="item text-center">
                                                <a href="{:leuu('Supplier/Index/single',array('id'=>$vo[id]))}" style="display:inline-block;text-align:center">
                                                            <img class="img-responsive"
                                                                 src="{:get_avatar_url($vo[biz_logo])}" style="margin-bottom:10px;height:128px;">
                                                    <span >{$vo.biz_name}</span>
                                                </a>
                                            </div>
                                        </volist>
                                    </div>
                                </div>

                            </div>
                        </div>
						</notempty>
						<notempty name="history[card]">
							<div class="panel panel-profile no-bg" style="background: #fff;box-shadow:none;">
                            <div class="panel-body no-padding">

                                <div class="owl-carousel-v1">
                                    <div class="headline clearfix"><h2 class="pull-left" style="font-size: 20px;">看过的色卡</h2>
                                    </div>

                                    <div class="owl-recent-works-v1" style="padding-left:15px;">
                                        <volist name="history[card]" id="vo">
                                            <div id="history-1_{$vo.id}" data-id="{$vo.id}" class="item text-center">
                                                <a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id]))}" style="display:inline-block;text-align:center">
                                                            <img class="img-responsive"
                                                                 src="{:get_thumb_url($vo[frontcover],true,150)}" style="margin-bottom:10px;height:128px;width:128px;">
                                                    <span >{$vo.card_name}</span>
                                                </a>
                                            </div>
                                        </volist>
                                    </div>
                                </div>

                            </div>
                        </div>
						</notempty>
					</div>
				</div>
			</div>
		</div>
	</div>
</block>
<block name="plugins_js">
	<script type="text/javascript" src="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
</block>
<block name="js">
	<script>
		var owl = jQuery(".owl-recent-works-v1");
		owl.owlCarousel({
			items: [4],
			itemsDesktop : [1000,4],
			itemsDesktopSmall : [900,3],
			itemsTablet: [600,2],
			itemsMobile : [479,1],
			slideSpeed: 1000
		});

		// Custom Navigation Events
		jQuery(".next-v2").click(function(){
			owl.trigger('owl.next');
		})
		jQuery(".prev-v2").click(function(){
			owl.trigger('owl.prev');
		})


		function removeHistory(response){
			if(response.status){
				$('#history-'+response.info.type+'_'+response.info.id).parent().remove();
			}else{
				noty({type:'error',text:response.info});
			}
		}
	</script>
</block>