<extend name="Public:base-v8" />
<block name="title"><title>个人资料</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form section {
            margin-bottom: 10px!important;
        }
        .sky-form .label {text-align: right;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">个人资料</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('User/Center/profile')}">设置中心</a></li>
                <li class="active">个人资料</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-setting"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#profile">个人资料</a></li>
                        <!--<li><a data-toggle="tab" href="#passwordTab">更改密码</a></li>-->
                    </ul>
                    <div class="tab-content">
                        <div id="profile" class="profile-edit tab-pane fade in active">
                            <h2 class="heading-md">管理您的个人信息</h2>
                            <p>请完善以下信息</p>
                            <br>
                            <form id="basic-form" class="sky-form" action="{:leuu('info_post')}"
                                  method="post" style="border:none;">
                                <fieldset>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">用户名</label>
                                        <p class="col-md-6 col-sm-8">{$user.user_login}</p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">身份</label>
                                        <p class="col-md-6 col-sm-8">
                                            <empty name="_SESSION[user][member]">
                                                会员
                                                <else />
                                                面料商
                                            </empty>
                                        </p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">手机号码</label>
                                        <p class="col-md-6 col-sm-8">
                                            <empty name="user[userinfo][mobile]">
                                                <a href="javascript:void(0)" data-toggle="g-popup" data-target="#fill-mobile">绑定</a>
                                                <else />
                                                {$user.userinfo.mobile}
                                                <a href="{:leuu('verify_mobile',array('act'=>'change_mobile'))}"
                                                style="margin-left:10px;">【更改】</a>
                                            </empty>
                                        </p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">昵称</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="userinfo[nickname]" value="{$user.userinfo.nickname}" required>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">性别</label>
                                        <label class="select col-md-6 col-sm-8">
                                            <select name="userinfo[sex]">
                                                <option value="1" <eq name="user[userinfo][sex]" value="1">selected</eq>>男</option>
                                                <option value="2" <eq name="user[userinfo][sex]" value="2">selected</eq>>女</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">生日</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="userinfo[birthday]" value="{$user.userinfo.birthday}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">Email</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="email" name="userinfo[email]" value="{$user.userinfo.email}" required />
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">QQ</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="userinfo[qq]" value="{$user.userinfo.qq}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">微信</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="userinfo[wechat]" value="{$user.userinfo.wechat}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">固话</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="userinfo[tel]" value="{$user.userinfo.tel}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">地区</label>
                                        <label class="select col-sm-3">
                                            <select name="userinfo[province]" data-sub="userinfo[city]" onchange="getAreas(this.value,'userinfo[city]')">
                                                <option disabled selected>省（必须）</option>
                                                <foreach name="areas[areas][provinces]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['province'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="select col-sm-3">
                                            <select name="userinfo[city]" data-sub="userinfo[district]" onchange="getAreas(this.value,'userinfo[district]')">
                                                <option disabled selected>市（必须）</option>
                                                <foreach name="areas[areas][cities]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['city'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="select col-sm-3">
                                            <select name="userinfo[district]">
                                                <option disabled selected>区（必须）</option>
                                                <foreach name="areas[areas][districts]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['district'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">地址</label>
                                        <label class="input col-sm-9">
                                            <input type="text" name="userinfo[address]" value="{$user.userinfo.address}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">公司信息</label>
                                        <label class="textarea col-sm-9">
                                            <textarea name="userinfo[corpinfo]" rows="3">{$user.userinfo.corpinfo}</textarea>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">个人介绍</label>
                                        <label class="textarea col-sm-9">
                                            <textarea name="userinfo[desc]" maxlength="500" rows="3" placeholder="最多500个字">{$user.userinfo.desc}</textarea>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">信息公开</label>
                                        <label class="select col-sm-2">
                                            <select name="userinfo[ispublic]">
                                                <option value="1" <eq name="user[userinfo][ispublic]" value="1">selected</eq>>是</option>
                                                <option value="0" <eq name="user[userinfo][ispublic]" value="0">selected</eq>>否</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <present name="disp32423534534lay_wx">
                                        <section class="row">
                                            <label class="label col-md-1 col-sm-2">微信号</label>
                                            <div class="wechat-info col-md-6 col-sm-8">

                                                <notempty name="wx_info">
                                                    <div class="media">
                                                        <a class="media-left" href="#">
                                                            <img src="{$wx_info.headimgurl}" style="width:64px;height:64px;">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">{$wx_info.nickname}</h4>
                                                            <div>
                                                                <a class="unbind js-ajax-btn" href="javascript:void(0)"
                                                                   data-confirm="true"
                                                                   data-msg="是否要解绑微信号？"
                                                                   data-href="{:leuu('wx/bind/unbind')}"
                                                                   data-id="0">解绑</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <else />
                                                    <a class="bind" href="javascript:void(0)">绑定</a>
                                                </notempty>
                                            </div>
                                        </section>
                                    </present>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn-u">保存</button>
                                    <button type="reset" class="btn-u btn-u-default">重置</button>
                                </footer>
                            </form>
                        </div>

                        <div id="passwordTab" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">密码安全设置</h2>
                            <p>更改您的登录密码。</p>
                            <br>
                            <form class="sky-form" id="pwd-form" action="{:leuu('User/Profile/password_post')}" method="post">
                                <dl class="dl-horizontal">
                                    <dt>旧密码</dt>
                                    <dd>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" id="old-password" name="old_password" placeholder="旧密码">
                                            </label>
                                        </section>
                                    </dd>
                                    <dt>新密码</dt>
                                    <dd>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" id="password" name="password" placeholder="新密码">
                                                <b class="tooltip tooltip-bottom-right">新密码不能与旧密码相同</b>
                                            </label>
                                        </section>
                                    </dd>
                                    <dt>确认密码</dt>
                                    <dd>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" name="repassword" placeholder="确认密码">
                                                <b class="tooltip tooltip-bottom-right">确认密码需要与新密码一致</b>
                                            </label>
                                        </section>
                                    </dd>
                                </dl>
                                <button type="reset" class="btn-u btn-u-default">重置</button>
                                <button class="btn-u" type="submit">保存</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){

            $('[name="userinfo[birthday]"]').datepicker({
                dateFormat: 'yy-mm-dd',
                prevText: '<i class="fa fa-angle-left"></i>',
                nextText: '<i class="fa fa-angle-right"></i>'
            });

            $('#basic-form').validate({
                rules: {
                    "userinfo[nickname]":"required",
                    "userinfo[mobile]":"required"
                },
                messages: {
                    "userinfo[nickname]":"请填写昵称",
                    "userinfo[mobile]": {
                        required:"请填写手机号码",
                    }
                }
            });

            var pwdValidator = $('#pwd-form').validate({
                submitHandler: function(form) {
                    $(form).ajaxSubmit({
                        success:function(response){
                            if(response.url){
                                location.href = response.url;
                            }else{
                                if(response.status){
                                    noty({text:response.info,type:'success'});
                                    pwdValidator.resetForm();
                                }else{
                                    noty({text:response.info,type:'error'});
                                }
                            }
                        }
                    });
                }
            });

            $('.wechat-info').on('click', '.unbind', function(){
                //
            });

            $('.wechat-info').on('click', '.bind', function(){
                $.post('/index.php?g=wx&m=bind&a=qr',function(response){
                    var data = response.info;
                    var $img = $('<img class="wxqr" style="width:160px;height:160px;">')
                    $img.attr('src',data.src);
                    $img.data('sceneid',data.sceneid);
                    $img.data('ticket',data.ticket);
                    $('.wechat-info').html($img);
                    check_bind_status = true;
                    checkBindStatus();
                });
            });
        });

        var check_bind_status = false;

        function checkBindStatus(){
            if(check_bind_status){
                var $qr = $('.wxqr');
                var url = '/index.php?g=wx&m=bind&a=check_bind';
                var data = {sceneid:$qr.data('sceneid'),ticket:$qr.data('ticket')};
                $.getJSON(url,data,function(response){
                    var $wrapper = $('.wechat-info');
                    if(response.status){
                        check_bind_status = false;
                        var tpl = $('#wxinfo-wrapper').html();
                        var html = tpl.replace(/\{src\}/g, response.info.src)
                                .replace(/\{nickname\}/g, response.info.nickname);
                        $wrapper.html(html);
                    }else{
                        if(response.info !== ''){
                            if($wrapper.has('.error').length > 0){
                                $wrapper.children('.error').text(response.info);
                            }else{
                                $('.wechat-info').append('<p class="error">'+response.info+'</p>');
                            }
                        }
                    }
                });
                setTimeout(checkBindStatus,2000)
            }
        }
    </script>
</block>