<extend name="Public:base-v8" />
<block name="title"><title>手机服务</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form section {
            margin-bottom: 10px!important;
        }

        .mobile-verify {padding-right: 135px;}
        .mobile-verify .btn-verify {
            display: block;
            position: absolute;
            top: 0;
            right: 15px;
            width: 120px;
        }
        .mobile-verify .btn-verify:disabled,
        .mobile-verify .btn-verify:disabled:hover {
            background-color: #efb989;
            border-color: #efb989;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">手机服务</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('User/Center/profile')}">设置中心</a></li>
                <li class="active">手机服务</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-setting"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="javascript:void(0)">手机服务</a></li>
                    </ul>
                    <div class="tab-content profile-edit">
                        <h2 class="heading-md">手机服务</h2>
                        <p>为了您的帐号安全，请先进行安全验证</p>
                        <br>
                        <form id="normal-form" class="sky-form" action="{:leuu('verify_mobile')}"
                              method="post" style="border:none;">
                            <fieldset>
                                <section class="row">
                                    <label class="label col-md-1 col-sm-2">手机号码</label>
                                    <label class="col-md-6 col-sm-8">
                                        {$_SESSION[user][userinfo][mobile]}
                                    </label>
                                </section>
                                <section class="row">
                                    <label class="label col-md-1 col-sm-2">短信验证码</label>
                                    <label class="input mobile-verify col-md-6 col-sm-8">
                                        <input class="input-verify" type="text" name="verify" required value="">
                                        <button data-mobile="{$_SESSION[user][userinfo][mobile]}"
                                                class="btn-u btn-u-orange btn-verify"
                                                type="button">获取验证码</button>
                                    </label>
                                </section>
                                <section class="row">
                                    <div class="col-md-offset-1 com-sm-offset-2 col-md-6 col-sm-8">
                                        <input type="hidden" name="act" value="{$_GET['act']}">
                                        <button type="submit" class="btn-u">下一步</button>
                                    </div>
                                </section>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
</block>
<block name="js">
    <script>
        $(function() {
            $('#normal-form').validate({
                ignore: ':disabled',
                messages: {
                    'mobile_verify': '请输入验证码',
                },
                errorPlacement: function (error, element) {
                    $label = element.parent().parent().find('.input');
                    error.appendTo($label);
                }
            });

            $verifyMobile = $('.mobile-verify');
            $verifyMobile.find('.btn-verify:not(:disabled)').on('click', function () {
                var $_this = $(this);
                var mobile = $_this.data('mobile');
                if (mobile) {
                    ajaxGetVerifyCode(mobile, $_this);
                }
            });
        });
    </script>
</block>