<extend name="Public:base-v8" />
<block name="title"><title>需求详情 {$site_name}</title></block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">需求详情</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('index')}">需求管理</a></li>
                <li class="active">需求详情</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav"/>
            <div class="col-md-9">
                <!--Invoice Header-->
                 <div class="tab-v7">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">我的需求</a></li>
                <li class="active"><a>需求详情</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <php>$statuses = D('Demand/Demand')->statuses;
                    $userInfo = M('Users')->where(array('id'=>$user_id))->field('nickname,user_login')->find();
                    </php>
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <td width="100px">采购商</td>
                            <td>{$userInfo['nickname'] |default=$userInfo['user_login']}</td>
                        </tr>
                        <tr>
                            <td>需求面料样图</td>
                            <td>
                                <volist name="demand_img" id="vo">
                                    <img src="{:sp_get_image_preview_url($vo)}" alt="" style="width:100px;height:100px;">&nbsp;&nbsp;
                                </volist>
                            </td>
                        </tr>
                        <notempty name="demand_desc">
                            <tr>
                                <td>需求描述</td>
                                <td>{$demand_desc}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_component">
                            <tr>
                                <td>面料成份</td>
                                <td>{$demand_component}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_component"></notempty>
                        <tr>
                            <td>到期时间</td>
                            <td>{:date('Y-m-d',$demand_end_date)}</td>
                        </tr>
                        <notempty name="demand_expect_date">
                            <tr>
                                <td>期望交货时间</td>
                                <td>
                                    {:date('Y-m-d',$demand_expect_date)}
                                </td>
                            </tr></notempty>
                        <notempty name="demand_expect_price">
                            <tr>
                                <td>意向价格</td>
                                <td>{$demand_expect_price}元/{$demand_unit}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_quantity">
                            <tr>
                                <td>需求量</td>
                                <td>{$demand_quantity}{$demand_unit}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_address">
                            <tr>
                                <td>地址</td>
                                <td>{$demand_province}{$demand_city}{$demand_area}{$demand_address}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_company">
                            <tr>
                                <td>公司名称 </td>
                                <td>{$demand_company}</td>
                            </tr>
                        </notempty>
                        <tr>
                            <td>联系人</td>
                            <td>{$demand_contact[name]}</td>
                        </tr>
                        <tr>
                            <td>联系手机</td>
                            <td>
                                {$demand_contact[phone]}
                            </td>
                        </tr>
                        <notempty name="demand_contact[tel]">
                            <tr>
                                <td>联系电话</td>
                                <td>{$demand_contact[tel]}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_contact[email]">
                            <tr>
                                <td>邮箱</td>
                                <td>{$demand_contact[email]}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_contact[fax]">
                            <tr>
                                <td>传真</td>
                                <td>{$demand_contact[fax]}</td>
                            </tr>
                        </notempty>
                        <notempty name="demand_contact[wechat]">
                            <tr>
                                <td>微信</td>
                                <td>{$demand_contact[wechat]}</td>
                            </tr>
                        </notempty>
                        <tr>
                            <td>状态</td>
                            <td>{$statuses[$demand_status]}</td>
                        </tr>
                        <eq name="demand_status" value="0">
                            <tr>
                                <td>可执行操作</td>
                                <td colspan="5">
                                    <eq name="demand_status" value="0">
                                        <button type="button" class="btn btn-default  js-ajax-btn" data-confirm="true" data-msg="是否要取消需求？" data-id="{$demand_id}" data-href="{:leuu('trash')}">取消需求</button>
                                    </eq>
                                </td>
                            </tr>
                        </eq>
                        </tbody>
                    </table>

                    <in name="demand_status" value="2,3,4">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width:120px;">供应商</th>
                                <th colspan="4">意见</th>
                                <th style="width:120px;">操作</th>
                            </tr>
                            <volist name="task" id="vo">
                                <tr>
                                    <td>{$vo[supplier][biz_name]}</td>
                                    <td colspan="4">{$vo.task_comment}</td>
                                    <td>
                                        <neq name="vo[demand_status]" value="4">
                                            <button type="button" class="btn-u js-ajax-btn"
                                                    data-confirm="true"
                                                    data-msg="<span style='font-size:16px;'>是否要采纳此方案？<br>在确认此操作后将完成此需求！</span>"
                                                    data-id="{$vo.task_id}"
                                                    data-href="{:leuu('accept')}">采纳</button>
                                        </neq>
                                        <eq name="vo[demand_status]" value="4">
                                            <eq name="vo[task_accepted]" value="1">
                                            <span class="label rounded label-success">已采纳</span>
                                            <else />
                                            <span class="label rounded label-danger">已拒绝</span>
                                            </eq>
                                        </eq>

                                    </td>
                            </volist>
                            </tbody>
                        </table>
                    </in>
                </div>
            </div>
        </div>
                <!--End Invoice Footer-->
            </div>
        </div>
    </div>
</block>
<block name="js">
</block>