<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">收货地址</a></li>
                <li><a href="#" data-toggle="modal" data-target=".add-modal-sm">添加地址</a></li>
                <li class="active"><a>修改地址</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form role="form" action="{:U('edit_post')}" method="post" class="sky-form">
                        <header>修改地址</header>
                        <fieldset>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="label">用户</label>
                                    {$nickname}
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-4">
                                    <label for="inputAddressName" class="label">地址名称</label>
                                    <div class="input">
                                        <input type="text" id="inputAddressName" name="address_name" value="{$address_name}" required>
                                    </div>
                                    <div class="note">例如：家、公司、学校</div>
                                </section>
                            </div>
                            <label class="label">地区</label>
                            <div class="row">
                                <section class="col col-4">
                                    <label class="select">
                                        <select name="province" data-sub="city" required onchange="cleanSubAreas(this.name);getAreas(this.value,'city')">
                                            <option disabled selected>省（必须）</option>
                                            <foreach name="areas[areas][provinces]" item="vo">
                                                <php>$selected = $vo['id'] == $areas['selected']['province'] ? 'selected':'';</php>
                                                <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                            </foreach>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="select">
                                        <select name="city" data-sub="district" required onchange="cleanSubAreas(this.name);getAreas(this.value,'district')">
                                            <option disabled selected>市（必须）</option>
                                            <foreach name="areas[areas][cities]" item="vo">
                                                <php>$selected = $vo['id'] == $areas['selected']['city'] ? 'selected':'';</php>
                                                <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                            </foreach>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-4">
                                    <label class="select">
                                        <select name="district" required>
                                            <option disabled selected>区（必须）</option>
                                            <foreach name="areas[areas][districts]" item="vo">
                                                <php>$selected = $vo['id'] == $areas['selected']['district'] ? 'selected':'';</php>
                                                <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                            </foreach>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                            </div>
                            <section>
                                <label for="inputAddress" class="label">详细地址</label>
                                <label class="input">
                                    <input type="text" id="inputAddress" name="address" value="{$address}" required>
                                </label>
                            </section>
                            <div class="row">
                                <section class="col col-3">
                                    <label for="inputContactName" class="label">联系人</label>
                                    <div class="input">
                                        <input type="text" id="inputContactName" name="consignee" value="{$consignee}" required>
                                    </div>
                                </section>
                                <section class="col col-3">
                                    <label for="inputContactPhone" class="label">手机</label>
                                    <div class="input">
                                        <input type="text" id="inputContactPhone" name="mobile" value="{$mobile}" required>
                                    </div>
                                </section>
                                <section class="col col-3">
                                    <label for="inputTel" class="label">固话</label>
                                    <div class="input">
                                        <input type="text" id="inputTel" name="tel" value="{$tel}">
                                    </div>
                                </section>
                                <section class="col col-3">
                                    <label for="inputEmail" class="label">邮箱</label>
                                    <label class="input">
                                        <input type="email" id="inputEmail" name="email" value="{$email}">
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <input type="hidden" name="address_id" value="{$address_id}">
                            <input type="hidden" name="country" value="{$country}">
                            <input type="hidden" name="zipcode" value="{$zipcode}">
                            <input type="hidden" name="sign_building" value="{$sign_building}">
                            <input type="hidden" name="best_time" value="{$best_time}">
                            <button type="submit" class="btn-u">保存</button>
                            <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){

            $(".sky-form").validate({
                rules:
                {
                    address_name:
                    {
                        required: 1,
                    },
                    province:
                    {
                        required: 1,
                    },
                    city:
                    {
                        required: 1,
                    },
                    district:
                    {
                        required: 1,
                    },
                    address:
                    {
                        required: 1,
                    },
                    consignee:
                    {
                        required: 1,
                    },
                    mobile:
                    {
                        required: 1,
                        mobile: 1,
                    }
                },
                messages:
                {
                    address_name:
                    {
                        required: "请填写地址名称",
                    },
                    province:
                    {
                        required: "请选择省份",
                    },
                    city:
                    {
                        required: "请选择城市",
                    },
                    district:
                    {
                        required: "请选择区",
                    },
                    address:
                    {
                        required: "请填写详细地址",
                    },
                    consignee:
                    {
                        required: "请填写联系人姓名",
                    },
                    mobile:
                    {
                        required: "请填写联系人手机",
                    }
                }
            });
        });
    </script>
</block>