<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('index')}">收货地址</a></li>
                <li><a href="#" data-toggle="modal" data-target=".add-modal-sm">添加地址</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>用户昵称</th>
                            <th>姓名</th>
                            <th>手机</th>
                            <th>地址</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list[data]" id="vo">
                            <tr>
                                <td>{$vo.address_id}</td>
                                <td>{$vo.nickname|default=$vo['user_login']}</td>
                                <td>{$vo.consignee}</td>
                                <td>{$vo.mobile}</td>
                                <td>{$vo.province_name} {$vo.city_name} {$vo.district_name} {$vo.address} {$vo.zipcode}</td>
                                <td>
                                    <a href="{:U('edit', array('id'=>$vo[address_id]))}">修改</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <ul class="pagination">{$list.page}</ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade add-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addModalLabel" class="modal-title">选择供应商</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" id="inputMemberName" class="form-control">
                        <span class="input-group-btn">
											<button id="btnSearchMember" class="btn btn-info" type="button">搜索</button>
										</span>
                    </div>
                    <div class="headline"><h3>搜索结果</h3></div>
                    <ul id="searchResult" class="list-inline margin-bottom-40">
                        <li>没有结果</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $('#btnSearchMember').on('click',function(){
                var $this = $(this);
                var url = '/index.php?g=Address&m=Admin&a=search&term='+$('#inputMemberName').val();
                $this.html('<i class="fa fa-spinner fa-spin"></i>');
                $.getJSON(url,function(response){
                    $this.text('搜索');
                    var $result = $('#searchResult');
                    if(response.length > 0){
                        $result.empty();
                        for(x in response){
                            li = '<li><a href="/index.php?g=Address&m=Admin&a=add&id='+response[x].id+'">'
                                    + response[x].uname +
                                    '</a></li>';
                            $(li).appendTo($result);
                        }
                    }else{
                        $result.empty().append('<li>没有结果</li>')
                    }
                })
            })
        })
    </script>
</block>