<extend name="Public:base-v8" />
<block name="title"><title>我代理的面料 面料商后台 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC_/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">

    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        /*.sky-form section {
            margin-bottom: 10px!important;
        }
        .sky-form .label {text-align: right;}*/
        td.details-control {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            cursor: pointer;
        }

        tr td.details-control:before {
            content: "\f067";
        }

        tr.shown td.details-control:before {
            content: "\f068";
        }

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
    </style>
    <style>
        #datatable td {vertical-align: middle!important;}
        td.tfinfo .pull-left {width:45px;margin-right:5px;}
        td.tfinfo .tf-name {margin:0;font-size:16px;}
        td.tfinfo .tf-code {margin:0;font-size:12px;}

        td.supplier-info .pull-left {width:45px;margin-right:5px;border-radius:50%;}
        td.supplier-info span {line-height: 45px;}
    </style>
    <script id="tfinfo-wrapper" type="text/html">
        <a class="pull-left">
            <img class="img-responsive">
        </a>
        <a><h3 class="tf-name"></h3></a>
        <p class="tf-code"></p>
    </script>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">客户管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Index/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Index/index')}">分销管理</a></li>
                <li><a href="{:leuu('index')}">我是分销商</a></li>
                <li class="active">我代理的面料</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="{:leuu('index')}">已代理</a></li>
                        <li><a href="{:leuu('index/index')}">可代理</a></li>
                        <li><a href="{:leuu('application')}">在申请</a></li>
                    </ul>
                    <div class="tab-content">
                        <table id="datatable" class="table table-striped table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('index')}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: false,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": null,
                    "title": "面料",
                    "className": "tfinfo",
                    "defaultContent": "",
                    "render": tfRender
                }, {
                    "data": "source_supplier_name",
                    "title": "供应商",
                    "className": "supplier-info",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        var html = '<a href="'+row.source_supplier_link+'">'
                        html += '<img class="img-responsive pull-left"' +
                                ' src="'+row.source_supplier_logo+'">';
                        html += '<span>'+row.source_supplier_name+'</span>';
                        html += '</a>';
                        return html;
                    }
                }, {
                    "data": "on_sale",
                    "title": "是否上架",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return parseInt(data) ? '<span style="color:#72c02c;">已上架</span>':'<span class="color-red">已下架</span>';
                    }
                }, {
                    "data": "create_date",
                    "title": "代理时间",
                    "defaultContent": ""
                }, {
                    "data": null,
                    "title": "操作",
                    "defaultContent": '',
                    "orderable": false,
                    "render": function(data, type, row){
                        var tf_url = '{:leuu("tf")}';
                        var sku_url = '{:leuu("sku")}';
                        tf_url += (tf_url.indexOf('?') > 0 ? '&':'?') + 'id=' + row.id;
                        sku_url += (tf_url.indexOf('?') > 0 ? '&':'?') + 'id=' + row.id;
                        var html = '<a href="'+tf_url+'">设置</a>';
                        html += ' | <a href="'+sku_url+'">库存</a>';
                        return html;
                    }
                }],
                "order": [[3, 'desc']],
                buttons: [{
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }]
            });
        });

        function tfRender(data, type, row){
            var $wrapper = $('<div>');
            $($('#tfinfo-wrapper').html()).appendTo($wrapper);
            $wrapper.find('a').attr('href', row.link);
            $wrapper.find('img').attr('src', row.thumb);
            $wrapper.find('.tf-name').text(row.name);
            $wrapper.find('.tf-code').text(row.tf_code);
            return $wrapper.html();
        }
    </script>
</block>