<extend name="Public:base-v8"/>
<block name="title"><title>库存管理 我代理的面料 面料商后台 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">库存管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('index')}">我代理的面料</a></li>
                <li class="active">库存管理</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('index')}">我代理的面料</a></li>
                        <li class="active"><a href="javascript:void(0);">库存管理</a></li>
                    </ul>
                    <div class="tab-content">
                        <table id="sku-table" class="table table-striped table-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editmodal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">修改价格</h4>
                </div>
                <div class="modal-body">
                    <form id="editform" class="sky-form" method="post" action="{:U('sku_post')}"
                    style="border:none;margin:-15px -15px 0;">
                        <fieldset>
                            <section>
                                <label class="label">米样价格</label>
                                <label class="input">
                                    <input type="text" required name="sku_price">
                                </label>
                            </section>
                            <section>
                                <label class="label">拼单价格</label>
                                <label class="input">
                                    <input type="text" required name="group_price">
                                </label>
                            </section>
                        </fieldset>
                        <footer style="padding-bottom:0;">
                            <input type="hidden" name="id">
                            <button type="submit" class="btn-u btn-u-primary">确定</button>
                            <button type="button" class="btn-u btn-u-default" data-dismiss="modal">关闭</button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('sku',array('id'=>$_GET['id']))}";
        var $modal = $('#editmodal');
        var $form = $('#editform');
        $(function () {
            var table = $('#sku-table').DataTable({
                lengthChange: false,
                dom: "Blfrtip",
                select: true,
                paging: false,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "value_text",
                    "title": "SKU",
                    "defaultContent": "",
                    render: function (data, type, row, meta) {
                        if (row.value_type == 3) {
                            html = '<img class="img-responsive" src="' + row.value_thumb + '" style="max-height: 50px;">'
                        } else if (row.value_type == 2) {
                            html = '<span class="color-block" style="display:block;width:100%;height:18px;background-color:' + data + ';"></span>'
                        } else {
                            html = data;
                        }
                        return html;
                    }
                }, {
                    "data": "color_code",
                    "title": "颜色编码",
                    "defaultContent": ""
                }, {
                    "data": "sku_type",
                    "title": "类型",
                    "render": function (data, type, row, meta) {
                        return parseInt(data) ? '现货' : '无货';
                    }
                }, {
                    "data": "sku_price",
                    "title": "价格",
                    "defaultContent": "",
                    render: function(data, type, row){
                        return '￥'+(parseFloat(data)).toFixed(2)+'/'+row.sku_unit;
                    }
                }, {
                    "data": "large_price",
                    "title": "大货价格",
                    "defaultContent": "",
                    render: function(data, type, row){
                        return '￥'+(parseFloat(data)).toFixed(2)+'/'+row.large_unit;
                    }
                }, {
                    "data": "max_buy",
                    "title": "最大购买数",
                    "defaultContent": ""
                }, {
                    "data": "min_charge",
                    "title": "最小拼单数",
                    "defaultContent": ""
                }, {
                    "data": "group_price",
                    "title": "拼单价格",
                    "defaultContent": "0.00",
                    render: function(data, type, row){
                        return '￥'+(parseFloat(data)).toFixed(2)+'/'+row.group_unit;
                    }
                }, {
                    "data": "dress_img_url",
                    "title": "试衣贴图",
                    "render": function (data, type, row, meta) {
                        return data ? '<img class="img-responsive" style="width:40px;" src="' + data + '">':'';
                    }
                }],
                "order": [[1, 'asc']],
                buttons: [{
                    text: "修改",
                    enable: false,
                    init: function (dt, node, config) {
                        var that = this;
                        dt.on('select.dt.DT deselect.dt.DT', function () {
                            that.enable(dt.rows({selected: true}).any());
                        });
                        this.disable();
                    },
                    action: function (e, dt, node, config) {
                        var row = dt.row({selected: true}).data();
                        $form.find('[name="id"]').val(row['id']);
                        $form.find('[name="sku_price"]').val(row['sku_price']);
                        $form.find('[name="group_price"]').val(row['group_price']);
                        $modal.modal('show');
                    }
                }, {
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }]
            });
            $form.validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        success: function (response) {
                            if (response.status) {
                                if (response.url) {
                                    location.href = response.url;
                                } else {
                                    table.ajax.reload();
                                    $form.find('[name="id"]').val('');
                                    noty({text: response.info, type: 'success'});
                                    $modal.modal('hide');
                                }
                            } else {
                                noty({text: response.info, type: 'error'});
                            }
                        }
                    });
                }
            });
        })
    </script>
</block>