<extend name="Public:base-v8"/>
<block name="title"><title>分销管理 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .photos a {float:left;width:80px;height:80px;margin-right:10px;border:1px solid #eee;padding:2px;}
    </style>
    <script type="text/html" id="photos-item-wrapper">
        <div id="savedimage{id}" class="col-sm-4 col-md-3">
            <a href="{url}" rel="gallery2" class="fancybox img-hover-v1">
                <span><img id="photo-{id}-preview" class="img-responsive" src="{url}" alt=""></span>
            </a>
            <button type="button" class="btn-u btn-u-xs"
                    onclick="javascript:upload_one_image('图片上传','#photo-{id}');">
                <i class="rounded-x fa fa-edit"></i>
            </button>
            <button type="button" class="btn-u btn-u-xs"
                    onclick="javascript:$('#savedimage{id}').remove();">
                <i class="rounded-x fa fa-trash-o"></i>
            </button>
            <input id="photo-{id}" type="hidden" name="photos_url[]" value="{filepath}">
            <input id="photo-{id}-name" type="hidden" name="photos_alt[]" value="{name}">
            <input id="photo-{id}-dress" type="hidden" name="photos_dress[]" value="0">
        </div>
    </script>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">分销管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">分销管理</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0)">代理面料详情</a></li>
                        <li><a href="{:leuu('index')}">返回</a></li>
                    </ul>
                    <div class="tab-content" style="padding:0;">
                        <form class="sky-form" method="post" action="{:leuu('tf_post')}" style="border:none;">
                            <table class="table table-bordered no-margin">
                                <tbody>
                                <tr>
                                    <th style="width:15%;">所属分类</th>
                                    <td style="width:35%;">{$data.cat_title}</td>
                                    <th style="width:15%;">编码名称</th>
                                    <td style="width:35%;">{$data.name_title}</td>
                                </tr>
                                <tr>
                                    <th>品名</th>
                                    <td colspan="2">
                                        <label class="input">
                                            <input type="text" name="name" required value="{$data.name}" placeholder="请输入品名">
                                        </label>
                                    </td>
                                    <td rowspan="5">
                                        <div id="qrcode"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>编码</th>
                                    <td colspan="2">
                                        <label class="label pull-left" style="line-height:27px;font-size:14px;color:#333;">
                                            {$data.distributor_id}-{$data.cat_code}-{$data.name_code}-
                                        </label>
                                        <label class="input pull-left">
                                            <input type="text" id="code" name="code" value="{$data.code}" required placeholder="请输入商家自编号">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>最小拼单数量</th>
                                    <td colspan="2">{$data.min_charge}</td>
                                </tr>
                                <tr>
                                    <th>分销价格</th>
                                    <td colspan="2">{$data[price]|number_format=2}</td>
                                </tr>
                                <tr>
                                    <th>状态</th>
                                    <td colspan="2">
                                        {$data['on_sale'] ? '已上架':'已下架'}
                                    </td>
                                </tr>
                                <tr>
                                    <th>主图</th>
                                    <td colspan="3">
                                        <input type="hidden" name="img[thumb]" id="thumb" value="{$data[thumb]|default=''}">
                                        <input type="hidden" name="img[dress_thumb]" value="{$data[dress_thumb]}">
                                        <a href="javascript:upload_one_image('图片上传','#thumb');">
                                            <img src="{:get_thumb_url($data[thumb],true)}" id="thumb-preview" width="135" style="cursor: hand"/>
                                        </a>
                                        <br>
                                        <input type="button" class="btn-u btn-u-default" onclick="$('#thumb-preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">

                                    </td>
                                </tr>
                                <tr>
                                    <th>相册图集</th>
                                    <td colspan="3">
                                        <div id="photos" class="row">
                                            <notempty name="data['img']['photo']">
                                                <foreach name="data['img']['photo']" item="vo">
                                                    <php>$img_url=sp_get_image_preview_url($vo['url']);</php>
                                                    <div id="savedimage{$key}" class="col-sm-3 col-md-2">
                                                        <a href="{:get_thumb_url($vo[url])}" rel="gallery2" class="fancybox img-hover-v1">
                                                            <span><img id="photo-{$key}-preview" class="img-responsive" src="{:get_thumb_url($vo[url],true,150)}" alt=""></span>
                                                        </a>
                                                        <button type="button" class="btn-u btn-u-xs"
                                                                onclick="javascript:upload_one_image('图片上传','#photo-{$key}');">
                                                            <i class="rounded-x fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" class="btn-u btn-u-xs"
                                                                onclick="javascript:$('#savedimage{$key}').remove();">
                                                            <i class="rounded-x fa fa-trash-o"></i>
                                                        </button>
                                                        <input id="photo-{$key}" type="hidden" name="photos_url[]" value="{:get_thumb_url($vo[url])}">
                                                        <input id="photo-{$key}-name" type="hidden" name="photos_alt[]" value="{$vo.alt}">
                                                        <input id="photo-{$key}-dress" type="hidden" name="photos_dress[]" value="{$vo.dress_status}">

                                                    </div>
                                                </foreach>
                                            </notempty>
                                        </div>
                                        <a href="javascript:upload_multi_image('图片上传','#photos','photos-item-wrapper');" class="btn-u btn-u-default">选择图片</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>规格</th>
                                    <td>{$data.spec}</td>
                                    <th>门幅</th>
                                    <td>{$data.width}</td>
                                </tr>
                                <tr>
                                    <th>克重</th>
                                    <td>{$data.weight}</td>
                                    <th>原料</th>
                                    <td>{$data.material}</td>
                                </tr>
                                <tr>
                                    <th>成分</th>
                                    <td>{$data.component}</td>
                                    <th>功能</th>
                                    <td>{$data.function}</td>
                                </tr>
                                <tr>
                                    <th>用途</th>
                                    <td>{$data.purpose}</td>
                                    <td colspan="2"></td>
                                </tr>
                                </tbody>
                            </table>
                            <footer style="border-top:none;">
                                <input type="hidden" name="id" value="{$data.id}">
                                <button type="submit" class="btn-u">保存</button>
                                <a class="btn-u btn-u-default" href="{:leuu('index')}">返回</a>
                            </footer>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/qrcode.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            var qrcode = new QRCode($('#qrcode')[0]);
            qrcode.makeCode('{:leuu("Tf/Tf/fabric",array("tfsn"=>$data[tf_code]),false,true)}');
            $('.sky-form').validate();
        })
    </script>
</block>