<volist name="data[data]" id="vo1" key="date1">
    <php>

        if (date("Y-m-d") == $key) {
            $dateName = "今天";
        } else if (date("Y-m-d", time() - 3600 * 24) == $key) {
            $dateName = "昨天";
        } else {
            $dateName = $key;
        }

    </php>
    <div class="date-item">{$dateName}</div>
    <volist name="vo1" id="vo">
        <php>
            if($data['type'] == 1){
            $href = leuu('Tf/Tf/fabric',array('id'=>$vo['goods_id']));
            $thumb = get_thumb_url($vo['goods']['img']['thumb'],true);
            $name = $vo['goods']['name'];
            }elseif($data['type'] == 2){
            $href = leuu('Colorcard/Index/view',array('id'=>$vo['goods_id']));
            $thumb = get_thumb_url($vo['goods']['frontcover'],true);
            $name = $vo['goods']['card_name'];
            }elseif($data['type'] == 3){
            $href = leuu('Supplier/Index/single',array('id'=>$vo['goods_id']));
            $thumb = get_avatar_url($vo['goods']['biz_logo']);
            $name = $vo['goods']['biz_name'];
            }
        </php>
        <div id="coll_{$vo.rec_id}" class="media margin-bottom-10">
            <a class="media-left" href="{$href}">
                <img class="img-responsive" src="/{$vo['goods']['img']['photo']}">
            </a>
            <div class="media-body bdbr-1px">
                <div class="location-item fabric-title"><span class="item-title">品名</span> {$name}</div>
                <div class="location-item"><span class="item-title">所在面料馆位置</span> 2柜-3屉-红绳-5号</div>
                <div class="location-item"><span class="item-title">所在底卡册位置</span> 3册-3页-5行</div>
                <div class="buttons">
                    <button type="button" class="btn-collect-btn js-ajax-btn"
                            data-id="{$vo.rec_id}"
                            data-href="{:leuu('deleteColorboard',array('type'=>$data['type']))}"
                            data-success="delResponse">移除</button>
                    <button id="toggle-collect" type="button" class="btn-collect-btn js-ajax-btn" data-href="{:leuu('Collect/Index/toggle',array('type'=> 1))}"
                            data-id="{$vo.goods_id}"
                            data-status="1"
                            data-method="GET"
                            data-success="collectSuccess">加入收藏</button>
                </div>
            </div>
        </div>
    </volist>

</volist>