<volist name="data[data]" id="vo">
    <php>
        if($data['type'] == 1){
            $href = leuu('Tf/Tf/fabric',array('id'=>$vo['goods_id']));
            $thumb = get_thumb_url($vo['goods']['img']['thumb'],true);
            $name = $vo['goods']['name'];
        }elseif($data['type'] == 2){
            $href = leuu('Colorcard/Index/view',array('id'=>$vo['goods_id']));
            $thumb = get_thumb_url($vo['goods']['frontcover'],true);
            $name = $vo['goods']['card_name'];
        }elseif($data['type'] == 3){
            $href = leuu('Supplier/Index/single',array('id'=>$vo['goods_id']));
            $thumb = get_avatar_url($vo['goods']['biz_logo']);
            $name = $vo['goods']['biz_name'];
        }
    </php>
    <div id="coll_{$vo.rec_id}" class="media margin-bottom-10">
        <a class="media-left" href="{$href}">
            <img class="img-responsive" src="/{$vo['goods']['img']['photo']}">
        </a>
        <div class="media-body bdbr-1px">
            <a href="{$href}"><h4 class="media-heading">{$name}</h4></a>
            <div class="buttons">
                <button type="button" class="btn-cancel-collect-btn js-ajax-btn"
                        data-id="{$vo.rec_id}"
                        data-href="{:leuu('delete',array('type'=>$data['type']))}"
                data-success="delResponse">取消收藏</button>
            </div>
        </div>
    </div>
</volist>