<extend name="Public:base-v8"/>
<block name="title"><title>{$tf.name}统计 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        #datatable td {vertical-align: middle;}
        td.details-control {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            cursor: pointer;
        }

        tr td.details-control:before {
            content: "\f067";
        }

        tr.shown td.details-control:before {
            content: "\f068";
        }

        td.distname img {
            height: 40px;
            margin-right: 5px;
            border-radius: 50%;
        }
        td.distname span {
            line-height: 40px;
        }

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
    </style>
    <style>
        .info .thumb {
            padding: 2px;
            margin-right:10px;
            width:100px;
            border: 1px solid #eee;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">分销设置</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('Supplier/index')}">我是做布商（一批）</a></li>
                <li><a href="{:leuu('Supplier/index')}">供二批面料</a></li>
                <li class="active">{$tf.name}统计</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0)">面料销售数据</a></li>
                        <li><a href="{:leuu('Supplier/index')}">返回二批面料</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="info clearfix">
                            <div class="thumb pull-left">
                                <img class="img-responsive" src="{:get_thumb_url($img['thumb'], true, 150)}">
                            </div>
                            <div class="pull-left">
                                <h3>{$name}</h3>
                                <p>{$tf_code}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row margin-bottom-40">
                            <div class="counters amount_30 col-md-4 col-sm-4">
                                <span class="counter">{$amount_30}</span>
                                <h4>30天交易额</h4>
                            </div>
                            <div class="counters amount_90 col-md-4 col-sm-4">
                                <span class="counter">{$amount_90}</span>
                                <h4>90天交易额</h4>
                            </div>
                            <div class="counters amount_all col-md-4 col-sm-4">
                                <span class="counter">{$amount_all}</span>
                                <h4>总交易额</h4>
                            </div>
                        </div>
                        <table id="datatable" class="table table-striped table-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
    <script src="__PUBLIC__/u/plugins/counter/waypoints.min.js"></script>
    <script src="__PUBLIC__/u/plugins/counter/jquery.counterup.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('tf',array('id'=>$_GET['id']))}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: false,
                multi: true,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "id",
                    "title": "ID",
                    "visible": false
                }, {
                    "data": "distributor_name",
                    "title": "客户",
                    "className": "distname",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return '<img class="pull-left img-responsive" src="'+row.avatar+'">' +
                                '<span class="pull-left">'+data+'</span>';
                    }
                }, {
                    "data": "amount_30",
                    "title": "30天销售额",
                    "defaultContent": ""
                }, {
                    "data": "amount_90",
                    "title": "90天销售额",
                    "defaultContent": ""
                }, {
                    "data": "amount_all",
                    "title": "总销售额",
                    "defaultContent": ""
                }],
                "order": [[2, 'desc'],[3, 'desc'],[4, 'desc']],
                buttons: [{
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }]
            });
            /*table.on('xhr.dt', function(e, settings, json, xhr){
                $('.amount_all .counter').text(json.tf.amount_all);
                $('.amount_30 .counter').text(json.tf.amount_30);
                $('.amount_90 .counter').text(json.tf.amount_90);
                $('.counter').counterUp({
                    delay: 10,
                    time: 1000
                });
            })*/
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
        });
    </script>
</block>