<extend name="Public:base-v8" />
<block name="title"><title>面料产品列表 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/global.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/page_search.css">
</block>
<block name="css">
    <style>
        .product-ratings li.like-icon.active a {
            color: #e6125d;
        }

        .image-wrap {
            width: 80%;
            float: left;
            text-align: left;
        }

        .image-wrap .image-item {
            width: 35px;
            height: 35px;
            border: 1px solid #eee;
            cursor: pointer;
            margin-left: 3px;
        }

        .image-wrap .image-item:hover {
            border: 1px solid #e6125d;
        }

        .sku-wrap {
            text-align: right;
        }

        .sku-number {
            color: #e6125d;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            margin-top: 6px;
            text-align: right;
        }
    </style>
</block>
<block name="main">
    <tc_include file="Public:search-block"/>
    <!--<tc_include file="Public:filter-block"/>-->
    <!--=== Content Part ===-->
    <div class="bg-color-light">
        <div class="content container ">
            <div class="row">
                <div class="col-md-12">
                    <div class="row margin-bottom-5">
                        <div class="col-sm-4 result-category">
                            <h2 style="font-size: 24px">面料列表</h2>
                            <small class="shop-bg-red badge-results">{$list[total]} 个结果</small>
                        </div>
                        <div class="col-sm-6 padding-right-0">
                            <ul class="list-inline clear-both">
                                <li class="sort-list-btn">
                                    <h3>最近上新 :</h3>
                                    <div class="btn-group">
                                        <php>$show_time = array("近一个月"=>2592000,'近三个月'=>7776000,'近六个月'=>15552000);</php>
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown">
                                                <php>
                                                    if($_GET['ts'] == '2592000'){
                                                        $late_month="近一个月";
                                                    }elseif($_GET['ts'] == '7776000'){
                                                        $late_month="近三个月";
                                                    }elseif($_GET['ts'] == '15552000'){
                                                        $late_month="近六个月";
                                                    }else{
                                                        $late_month="不限时间";
                                                    };
                                                </php>
                                            {$late_month}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="min-width: 140px;">
                                            <li><a href="{:leuu('Tf/List/index')}">不限时间</a></li>
                                            <foreach name="show_time" item="voo">
                                            <li><a href="{:leuu('Tf/List/index',array('ts'=>$voo))}">{$key}</a></li>
                                            </foreach>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2 padding-right-0">
                            <ul class="list-inline clear-both">
                                <li class="sort-list-btn">
                                    <h3>显示 :</h3>
                                    <div class="btn-group">
                                        <php>$show_num = array(16,12,8,4)</php>
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown">
                                            {$_GET['ps']|default='16'} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="min-width:102px;">
                                            <foreach name="show_num" item="voo">
                                            <li><a href="{:leuu('Tf/List/index',array('ps'=>$voo))}">{$voo}</a></li>
                                            </foreach>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!--/end result category-->

                    <div class="filter-results products-results">
                        <div class="row illustration-v2 margin-bottom-30">

                            <volist name="list[data]" id="vo" mod="4" key="k">
                                <eq name="mod" value="0">
                                    </div><div class="row illustration-v2 margin-bottom-30">
                                </eq>
                                <div class="col-md-3">
                                    <div class="product-img-brd product-detail bg-color-white">
                                        <div class="product-img">
                                            <a href="{:leuu('/Tf/Tf/fabric',array('id'=>$vo['id']))}">
                                                    <img class="full-width lazyload img-responsive" data-original="/{$vo['img']['photo']}" src="/{$vo['img']['photo']}" style="height:262.5px;">
                                            </a>
                                            <!--<notempty name="vo[skus]">-->
                                            <!--<a class="add-to-cart" href="{:leuu('Order/Index/easy_order',array('id'=>$vo[id]))}"><i class="fa fa-shopping-cart"></i>购买米样</a>-->
                                            <!--</notempty>-->
                                        </div>
                                        <div class="product-description">
                                            <div class="overflow-h">
                                                <div class="product-text">
                                                    <div class="sku-wrap">
                                                        <div class="image-wrap">
                                                            <volist name="vo.skus" id="img2"  offset="0" length='9'>
                                                                <php>
                                                                    $image = json_decode($img2['dress_img'], true);

                                                                </php>
                                                                <img class="image-item" src="/{$image[1]}" alt="{$img2.value_text}" />
                                                            </volist>
                                                        </div>
                                                        <php>
                                                            $skuCount = count($vo['skus']);
                                                        </php>
                                                        <gt name="$skuCount" value="0">
                                                            <span class="sku-number">缺货</span>
                                                        <else />
                                                            <span class="sku-number">共 {$skuCount} 款</span>
                                                        </gt>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                    <h4><a href="{:leuu('/Tf/Tf/fabric',array('id'=>$vo['id']))}">{$vo.name|msubstr=0,30}</a></h4>
                                                    <!--<span>￥132/米</span>-->
                                                </div>
                                            </div>
                                            <ul class="list-inline product-ratings">
                                                <!-- <php>
                                                    $actived = $vo['is_collected'] ? 'active':'';
                                                    $original_title = $vo['is_collected'] ? '取消收藏':'添加收藏';
                                                </php> -->
                                                <!--<li class="pull-left">{$vo.supplier.biz_name}</li>-->
                                                <!--<li id="like-icon-{$vo.id}" class="like-icon {$actived}">-->
                                                    <!--<a class="js-ajax-btn" href="#"-->
                                                       <!--data-original-title="{$original_title}"-->
                                                       <!--data-toggle="tooltip"-->
                                                       <!--data-placement="left"-->
                                                       <!--data-href="{:leuu('Collect/Index/toggle',array('type'=>1))}"-->
                                                       <!--data-id="{$vo.id}"-->
                                                       <!--data-status="{$vo.is_collected}"-->
                                                       <!--data-method="GET"-->
                                                       <!--data-success="collectSuccess">-->
                                                       <!--<empty name="_SESSION[user]">-->
                                                           <!--<gt name="vo.is_collected" value="0">-->
                                                            <!--<i class="fa fa-heart popup-wx-login" style="vertical-align: middle">&nbsp;{$original_title}</i>-->
                                                            <!--<else/>-->
                                                            <!--<i class="fa fa-heart-o popup-wx-login" style="vertical-align: middle">&nbsp;{$original_title}</i>-->
                                                            <!--</gt>-->
                                                        <!--<else/>-->
                                                            <!--<gt name="vo.is_collected" value="0">-->
                                                            <!--<i class="fa fa-heart" style="vertical-align: middle">&nbsp;{$original_title}</i>-->
                                                            <!--<else/>-->
                                                            <!--<i class="fa fa-heart-o" style="vertical-align: middle">&nbsp;{$original_title}</i>-->
                                                            <!--</gt>-->
                                                        <!--</empty>-->
                                                    <!--</a>-->
                                                <!--</li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </volist>
                        </div>
                    </div><!--/end filter resilts-->

                    <div class="text-center">
                        <ul class="pagination pagination-v2" style="color: #555;">{$list['page']}</ul>
                    </div><!--/end pagination-->
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>
    <!--=== End Content Part ===-->
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
</block>
<block name="js">
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            MouseWheel.initMouseWheel();
        });

        $(".close").click(function () {

        });

        function collectSuccess(response){
            if(response.referer){
                // location.href = response.url;
            }else{
                var $collect = $('#like-icon-'+response.data.goods_id+' a');
                if (response.state === 'success') {
                    if(response.data.rec_id > 0){
                        $collect.data('status',1);
                        $collect.data('original-title','取消收藏').parent().addClass('active');
                        $collect.html('<i class="fa fa-heart"></i> 取消收藏');
                        noty({type:'success',text:'已添加收藏！'});
                    }else{
                        $collect.data('status',0);
                        $collect.data('original-title','添加收藏').parent().removeClass('active');
                        $collect.html('<i class="fa fa-heart-o"></i> 添加收藏');
                        noty({type:'success',text:'已取消收藏！'});
                    }
                } else if (response.state === 'fail') {
                    noty({type:'error',text:response.info});
                }
            }
        }
    </script>
</block>