@import "../public";

.wrapper {
    background: #efefef;

    .panel {
        margin-bottom: 5px;
    }

    .panel-body {
        &.describe {
            .detail-img {
                margin-bottom: 10px;
                width: 100%;
            }
        }
    }

    .pc-slide {
        .swiper-container {
            .image-direction-type {
                position: absolute;
                left: 0;
                bottom: 0;
                background: #a5a5a5;
                font-size: 12px;
                padding: 3px 5px;
                color: #fff;
                opacity: 0.8;
                border-top-right-radius: 5px;
            }
        }
    }

    .view {
        .swiper-slide {
            img {
                height: 100%;
                max-width: 100%;
            }
        }
    }

    .good-title-wrap {
        white-space: nowrap;
        padding: 10px 10px;

        .title-item {
            float: left;
            display: inline-block;
            width: 50%;
            font-size: 12px;
            text-align: left;

            .goods-title {
                margin: 0;
                padding: 0;
                font-size: 12px;
                display: inline;  
                font-weight: bold;
            }

            .item-label {
                padding: 0 3px;
            }

            .item-value {
                display: inline-block;
                font-weight: bold;
                color: #e6125d;
            }
        }
    }

    .color-list {
        .one {
            h4 {
                float: left;
                padding: 0 10px 0 0;
                font-size: 12px;
            }

            .sku-list {
                padding: 0;
                white-space: nowrap;
                overflow-x: auto;
                height: 105px;

                label {
                    margin-right: 5px;
                    display: inline-block;
                    width: 11%;
                    text-align: center;
                    position: relative;

                    .no-image-sku {
                        border: 1px solid #ddd;
                        border-radius: 3px;
                        width: 100%;
                    }

                    .selected-icon {
                        position: absolute;
                        border-left: 4px solid transparent;
                        border-bottom: 4px solid transparent;
                        border-top: 4px solid #e6125d;
                        border-right: 4px solid #e6125d;
                        top: 0;
                        right: 0;
                        border-radius: 2px;
                    }
                }

                img {
                    width: 100%;
                    border: 1px solid #ddd;
                    border-radius: 3px;
                }

                .color-num {
                    display: block;
                    font-size: 12px;
                    font-weight: normal;
                    margin-top: 2px;
                }
            }
        }
    }

    .locate-wrap {
        font-size: 12px;
        padding: 10px 10px;
        border-bottom: 1px solid #efefef;

        .item-wrap {
            .item-label {
                display: inline-block;
                width: 40%;
            }

            .item-value {
                display: inline-block;
                text-align: center;
                width: 50%;
                font-weight: bold;
                color: #666;
            }
        }
    }

    .basket-wrap {
        position: fixed;
        bottom: 60px;
        display: block;
        right: 20px;
        font-size: 12px;
        border-radius: 50%;
        text-align: center;
        background: #efefef;
        padding: 10px;
        box-shadow: 0px 0px 3px #aaa;
        text-decoration: none;

        .iconfont {
            display: block;
            font-size: 20px;
        }
    }
}

.slidefixed-box {
    .sku-list {
        padding: 0;

        label {
            margin-right: 2.5%;
            margin-bottom: 2%;
            display: block;
            float: left;
            width: 11%;
            text-align: center;
        }

        img {
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

        .color-num {
            display: block;
            font-size: 12px;
            font-weight: normal;
            margin-top: 2px;
        }
    }

    .colorboard-tip {
        font-size: 12px;
        margin-bottom: 10px;
    }


    .choose-wrap {
        width: 50%;
        float: left;

        label {
            padding: 5px 0;
            display: block;
            margin: 5px 0
        }
    }

    .fee-wrap {
        .fee-tip {
            font-size: 12px;

            strong {
                color: #f00;
                margin: 0 5px;
            }
        }
    }

}