<extend name="Public:base-v8"/>
<block name="title"><title>发货单管理 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .panel.sky-form {
            border: 1px solid #ddd;
        }

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">发货单管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Order/Supplier/index')}">订单管理</a></li>
                <li class="active">发货单管理</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>
            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="{:leuu('index')}">所有米样发货单</a></li>
                        <li class="pull-right"><a href="{:leuu('Order/Supplier/index')}">所有米样订单</a></li>
                        <li class="pull-right"><a href="{:leuu('Order/SupplierGroup/index')}">所有拼单</a></li>
                    </ul>
                    <div class="tab-content">
                        <table id="datatable" class="table table-striped table-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="plugins_js">
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('index')}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: false,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "delivery_sn",
                    "title": "发货单流水号",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        var view_url = '{:leuu("view")}';
                        view_url += (view_url.indexOf('?') > 0 ? '&':'?') + 'id=' + row.id;
                        return '<a href="'+view_url+'" target="_blank">'+data+"</a>";
                    }
                }, {
                    "data": "order_sn",
                    "title": "订单号",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        var view_url = '{:leuu("Supplier/view")}';
                        view_url += (view_url.indexOf('?') > 0 ? '&':'?') + 'id=' + row.order_id;
                        return '<a href="'+view_url+'" target="_blank">'+data+"</a>";
                    }
                }, {
                    "data": "order_time",
                    "title": "下单时间",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return (new Date(data*1000)).Format("yyyy-MM-dd hh:mm:ss");
                    }
                }, {
                    "data": "consignee",
                    "title": "收货人",
                    "defaultContent": ""
                /*}, {
                    "data": "goods",
                    "title": "商品",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return '['+data.tf_code+'] [编号：]'+data.tf_name+' × '+data.number;
                    }*/
                }, {
                    "data": "shipping_time",
                    "title": "发货时间",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return data == 0 ? '':(new Date(data*1000)).Format("yyyy-MM-dd hh:mm:ss");
                    }
                }, {
                    "data": null,
                    "title": "状态",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return row.status_text;
                    }
                }, {
                    "data": null,
                    "title": "操作",
                    "defaultContent": '',
                    "orderable": false,
                    "render": function(data, type, row){
                        var view_url = '{:leuu("view")}';
                        view_url += (view_url.indexOf('?') > 0 ? '&':'?') + 'id=' + row.id;
                        html = '<a href="'+view_url+'">查看</a>';
                        return html;
                    }
                }],
                "order": [[2, 'desc']],
                buttons: [{
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }]
            });
        });
    </script>
</block>