<extend name="Admin:base-v2" />
<block name="css">
    <style>
        ul.funny-boxes-rating li {
            display: inline-block;
        }
        ul.funny-boxes-rating li i {
            color: #f8be2c;
            cursor: pointer;
            font-size: 14px;
        }
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('Supplier/AdminSingle/bizinfo', array('mid'=>$mid))}">认证信息</a></li>
                <li><a href="{:U('Supplier/AdminSingle/editinfo', array('mid'=>$mid))}">修改资料</a></li>
                <li class="active"><a href="{:U('Account/Admin/index', array('mid'=>$mid))}">账户信息</a></li>
                <li><a href="{:U('Supplier/AdminSingle/fans', array('mid'=>$mid))}">好友</a></li>
                <li><a href="{:U('Supplier/AdminOp/index', array('mid'=>$mid))}">运营人员</a></li>
                <li><a href="{:U('Supplier/Admin/index')}">返回</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        <tr>
                            <th>面料商</th>
                            <td colspan="3">{$biz_name}</td>
                        </tr>
                        <tr>
                            <th style="width:15%;">账户余额</th>
                            <td style="width:35%;">{$amount_current}</td>
                            <th style="width:15%;">冻结金额</th>
                            <td style="width:35%;">{$amount_block}</td>
                        </tr>
                        <tr>
                            <th>累计借方金额</th>
                            <td>{$amount_debit_sum}</td>
                            <th>累计贷方金额</th>
                            <td>{$amount_credit_sum}</td>
                        </tr>
                        <tr>
                            <th>账户创建人</th>
                            <td>{$create_user}</td>
                            <th>账户创建时间</th>
                            <td>{$create_date}</td>
                        </tr>
                        <tr>
                            <th>上次修改账户的用户</th>
                            <td>{$modify_user}</td>
                            <th>账户修改时间</th>
                            <td>{$modify_date}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
        })
    </script>
</block>