<extend name="Admin:base-v2" />
<block name="css">
    <link href="__PUBLIC__/js/summernote/summernote.css" rel="stylesheet">
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index',array('id'=>$data['tpl']['tpl_id']))}">模板页</a></li>
                <li><a href="{:U('add',array('id'=>$data['tpl']['tpl_id']))}">添加页</a></li>
                <li class="active"><a>修改页</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form role="form" action="{:U('edit_post')}" method="post" class="sky-form" style="border:none;">
                        <div class="row">
                            <div class="col-md-9">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th style="width:80px;">所属模板</th>
                                        <td>{$data.tpl.tpl_name}</td>
                                    </tr>
                                    <tr>
                                        <th>尺寸(mm)</th>
                                        <td>{$data.tpl.tpl_width} × {$data.tpl.tpl_height}</td>
                                    </tr>
                                    <tr>
                                        <th>页名称</th>
                                        <td>
                                            <label class="input">
                                                <input type="text" name="pg_name" required value="{$data.pg_name}">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>页类型</th>
                                        <td>
                                            {$pgTypes[$data[pg_type]]}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>产品数量</th>
                                        <td>
                                            <label class="input">
                                                <input type="number" name="pg_item_num" required value="{$data.pg_item_num}">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>模板内容</th>
                                        <td>
                                            <textarea id="content" name="pg_content" style="width:100%;height:400px;">{$data.pg_content}</textarea>
                                            <div class="note"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>css</th>
                                        <td>
                                            <label class="textarea">
                                                <textarea name="pg_css" rows="15">{$data.pg_css}</textarea>
                                            </label>
                                            <div class="note"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>smeta</th>
                                        <td>
                                            <label class="textarea">
                                                <textarea name="smeta" rows="15">{$data.smeta}</textarea>
                                            </label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width:60px;">缩略图</th>
                                        <td>
                                            <div style="text-align: center;">
                                                <input type="hidden" name="pg_thumb" id="thumb" value="{$data.pg_thumb}">
                                                <a href="javascript:upload_one_image('图片上传','#thumb');">
                                                    <notempty name="data[pg_thumb]">
                                                        <img src="{:sp_get_image_preview_url($data[pg_thumb])}" id="thumb-preview" width="135" style="cursor: hand"/>
                                                        <else />
                                                        <img src="__TMPL__Public/assets/images/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand"/>
                                                    </notempty>
                                                </a>
                                                <br><br>
                                                <input type="button" class="btn-u btn-u-small" onclick="$('#thumb-preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>状态</th>
                                        <td>
                                            <label class="select">
                                                <select name="pg_status">
                                                    <option value="1" <eq name="data[status]" value="1">selected</eq>>启用</option>
                                                    <option value="0" <eq name="data[status]" value="0">selected</eq>>禁用</option>
                                                </select>
                                                <i></i>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <footer>
                            <input type="hidden" name="pg_id" value="{$data.pg_id}">
                            <button type="submit" class="btn-u">保存</button>
                            <a href="{:U('index',array('id'=>$data[tpl_id]))}" class="btn-u btn-u-default">返回</a>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript">
        //编辑器路径定义
        var editorURL = GV.WEB_ROOT;
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/summernote/summernote.min.js"></script>
    <script>
        $(function(){
            $(document).ready(function() {
                /*$('#content').summernote({
                    minHeight: 400,
                });*/
            });
            //增加编辑器验证规则
            jQuery.validator.addMethod('summernote',function() {
                return !$('#content').summernote('isEmpty');
            });

            $(".sky-form").validate({
                rules:
                {
                    pg_name:
                    {
                        required: 1
                    },
                    pg_content:
                    {
                        reqiured : true
                    }
                },
                messages:
                {
                    tpl_name:
                    {
                        required: "请填写模板页名称"
                    },
                    pg_content:
                    {
                        reqiured : '模板内容不能为空'
                    }
                }
            });
        });
    </script>
</block>