<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('AdminTpl/index')}">返回到模板表</a></li>
                <li class="active"><a href="{:U('index',array('id'=>$tpl[tpl_id]))}">模板页</a></li>
                <li><a href="{:U('add',array('id'=>$_GET['id']))}">添加页</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>类型</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.pg_id}</td>
                                <td>{$vo.pg_name}</td>
                                <td>{$vo.pg_type}</td>
                                <td>{$vo.status_text}</td>
                                <td>
                                    <a href="{:U('edit', array('id'=>$vo[pg_id]))}">修改</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
</block>