<extend name="Public:base-v8" />
<block name="title"><title>发现</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC_/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>

        ul.funny-boxes-rating li {
            display: inline-block;
        }
        ul.funny-boxes-rating li i {
            color: #f8be2c;
            cursor: pointer;
            font-size: 14px;
        }

        .ucard {margin-bottom:20px;}
        .ucard .btns {display:none;}
        .ucard:hover .btns {display:block;}
        .profile .profile-blog {
            min-height: 200px;
            position: relative;
        }
        .card-footer {
            position: absolute;
            width: 100%;
            padding: 0 20px;
            bottom: 10px;
            left: 0;
        }


        .card-wrapper {}
        .card-wrapper > .avatar {
            margin:0 auto 5px auto;
            display:block;
            height:64px;
            width:64px;
            border-radius:50%;
        }
        .card-wrapper > .nickname {text-align: center;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">发现</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">发现</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="profile">
                    <div class="profile-body">
                        <form class="sky-form" method="get" action="{:U('index')}"
                              style="margin-bottom:30px!important;border: 1px solid #eee;">
                            <fieldset>
                                <div class="row">
                                    <section class="col-xs-2 col-sm-2 col-md-2">
                                        <label class="select">
                                            <select name="filter[action]">
                                                <option value="history" <eq name="_REQUEST[filter][action]" value="history">selected</eq>>浏览的</option>
                                                <option value="collect" <eq name="_REQUEST[filter][action]" value="collect">selected</eq>>收藏的</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="col-sm-6">
                                        <div class="inline-group">
                                            <label class="checkbox">
                                                <php>$checked = in_array(1,$_REQUEST['filter']['type']) ? 'checked':''; </php>
                                                <input type="checkbox" name="filter[type][]" value="1" {$checked}><i></i>面料
                                            </label>
                                            <label class="checkbox">
                                                <php>$checked = in_array(2,$_REQUEST['filter']['type']) ? 'checked':''; </php>
                                                <input type="checkbox" name="filter[type][]" value="2" {$checked}><i></i>色卡
                                            </label>
                                            <label class="checkbox">
                                                <php>$checked = in_array(3,$_REQUEST['filter']['type']) ? 'checked':''; </php>
                                                <input type="checkbox" name="filter[type][]" value="3" {$checked}><i></i>布行
                                            </label>
                                            <button type="submit" class="btn-u">查询</button>
                                        </div>
                                    </section>
                                </div>
                            </fieldset>
                        </form>
                        <div class="row margin-bottom-20">
                            <volist name="list[data]" id="vo">
                                <div class="col-sm-6">
                                <div id="user-{$vo.user_id}" class="profile-blog blog-border ucard">
                                        <img class="rounded-x" src="{:get_avatar_url($vo[avatar])}">
                                    <div class="name-location pull-left">
                                        <strong>{$vo.nickname}</strong>
                                        <notempty name="vo[district_name]">
                                                        <span>
                                                            <i class="fa fa-map-marker"></i>
                                                            {$vo.province_name}
                                                            {$vo.city_name}
                                                            {$vo.district_name}</span>
                                        </notempty>
                                    </div>
                                    <div class="pull-right">
                                        <gt name="vo[isfans]" value="0">
                                            <span class="label label-light">已添加好友</span>
                                            <br>
                                            <a href="{:leuu('Sms/Supplier/send',array('uids'=>$vo[user_id]))}"
                                            class="pull-right btn-u btn-u-xs" style="margin-top:5px;">发送信息</a>
                                            <else />
                                            <button type="button" class="pull-right btn-u btn-u-xs btn-add js-ajax-btn"
                                                    data-href="{:leuu('Supplier/Fans/apply_user_fans')}"
                                                    data-id="{$vo.user_id}"
                                                    data-success="fansSuccess">加为好友</button>
                                        </gt>
                                    </div>
                                    <div class="clearfix margin-bottom-20"></div>
                                    <p>{$vo.desc}</p>
                                    <div class="card-footer">
                                        <hr>
                                        <ul class="list-inline share-list">
                                            <li><i class="fa fa-heart"></i><a href="#">收藏了<strong>{$vo.c_tf_count}</strong>面料</a></li>
                                            <li><i class="fa fa-eye"></i><a href="#">浏览了<strong>{$vo.h_tf_count}</strong>面料</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </volist>
                        </div>
                        <div class="text-center md-margin-bottom-30">
                            <ul class="pagination">
                                {$list['page']}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        // Date range
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });

        function fansSuccess(response){
            if(response.status){
                var id = response.data.id;
                $block = $('#user-'+id);
                $btn = $block.find('.btn-add');
                if(response.data.type == 1){
                    text = '已添加好友';
                }else{
                    text = '已发送申请';
                }
                $btn.parent().append('<span class="label label-light">'+text+'</span>');
                $btn.remove();
                if(typeof noty == "function"){
                    noty({text:response.info,type:'success'});
                }else{
                    alert(response.info);
                }
            }else{
                if(response.info.length > 0){
                    if(typeof noty == "function"){
                        noty({text:response.info,type:'error'});
                    }else{
                        alert(response.info);
                    }
                }else{
                    response.info = '操作出错！';
                }
            }
        }
    </script>
</block>