<volist name="data[data]" id="vo">
    <li>
        <div class="order-item">
            <div class="order-item-title">
                <span>拼单号：{$vo.group_sn}</span>
                <a href="{:U('Order/SupplierGroup/group', array('id'=>$vo['id']))}"
                   class="pull-right btn-u btn-u-xs rounded"
                   style="font-size: 14px;padding: 2px 10px;">操作</a>
            </div>
            <div class="order-info">
                <p>商品：[#{$vo.goods.tf_code}] [编号：{$vo.goods.color_code}] {$vo.goods.tf_name}</p>
                <p>数量：{$vo.goods_number}{$vo.goods_unit}</p>
                <p>货物总额：{:number_format($vo[goods_amount],2)}</p>
                <p>下单时间：{$vo.create_date}</p>
                <p>状态：{$statuses[$vo[group_status]]}</p>
            </div>
        </div>
    </li>
</volist>