<extend name="Public:base-member" />
<block name="title"><title>商家中心</title></block>
<block name="page_css">
</block>
<block name="css">
    <style>
        .mf-goods-item {
            margin-bottom:20px;
            position: relative;
            border: 1px solid #eee;
        }
        .mf-goods-item .goods-img img {margin:0 auto;width:100%;}
        .mf-goods-item .goods-name,.mf-goods-item .goods-code {
            height: 22px;
            line-height: 22px;
            padding: 0 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
        }

        .goods-operate {overflow:hidden;}

        .mf-goods-item .op-btn {
            display: inline-block;
            text-align: center;
            cursor: pointer;
        }
        .mf-goods-item .op-btn {
            height: 34px;
            line-height: 34px;
            padding: 0;
            float: left;
            border-top: 1px solid #eee;
            background: #f9f9f9;
        }
        .mf-goods-item .btn-cart {
            width: 70%;
            height: 34px;
            line-height: 34px;
            padding: 0;
            background: #f9f9f9;
        }
        .mf-goods-item .btn-remove {
            width: 30%;
            height: 34px;
            line-height: 34px;
            padding: 0;
            border-left: 1px solid #eee;
            background: #f9f9f9;
        }
        .mf-goods-item .goods-name a {color:#555;}
        .mf-goods-item .op-btn:hover {text-decoration: none;}
        .mf-goods-item .op-btn {color:#888;}
    </style>
</block>
<block name="main">
    <div class="bussiness-content">
        <div class="collect">
            <div class="tab-v2">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="{:leuu('index')}">收藏面料</a></li>
                    <li><a href="#">收藏面料商</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="row">
                            <volist name="data[data]" id="vo">
                                <div id="collect_{$vo.rec_id}" data-id="{$vo.rec_id}" class="col-xs-2 col-sm-4 col-md-4">
                                    <div class="mf-goods-item">
                                        <div class="goods-img">
                                            <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo[goods_id]))}">
                                                <img class="img-responsive" src="{$vo.goods.img.thumb|sp_get_image_preview_url}" alt="">
                                            </a>
                                        </div>
                                        <div class="caption">
                                            <p class="goods-name">
                                                <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo[goods_id]))}">{$vo.goods.name}</a>
                                            </p>
                                            <p class="goods-code">{$vo.goods.vend_id}{$vo.goods.cid}{$vo.goods.code}{$vo.goods.name_code}</p>
                                            <div class="goods-operate">
                                                <a class="op-btn btn-cart">加入购物车</a>
                                                <a class="op-btn btn-remove js-ajax-btn"
                                                   data-href="{:leuu('Collect/Index/delete')}"
                                                   data-id="{$vo.rec_id}"
                                                   data-method="GET"
                                                   data-success="removeCollect">取消收藏</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </volist>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
</block>
<block name="js">
    <script>
        function removeCollect(response){
            if(response.status){
                $('#collect_'+response.info).remove();
            }else{
                noty({type:'error',text:response.info});
            }
        }
    </script>
</block>