<extend name="Public:base-v8" />
<block name="title"><title>商家中心</title></block>
<block name="plugins_css"></block>
<block name="page_css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_magazine.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .btn-u.btn-brd.btn-remove {
            color: #e6125d;
        }
        .product-item {
            margin:15px;
        }
        .product-item:first-child {margin-top:0;}
        .product-item:last-child {margin-bottom:0;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">我的收藏</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li class="active">我的收藏</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <php>
                            $types = D('Collect/Collect')->types;
                            $active1 = $type == 1 ? 'active':'';
                            $active2 = $type == 2 ? 'active':'';
                            $active3 = $type == 3 ? 'active':'';
                        </php>
                        <li class="{$active2}"><a href="{:leuu('Collect/Index/index',array('type'=>2))}">色卡</a></li>
                        <li class="{$active1}"><a href="{:leuu('Collect/Index/index',array('type'=>1))}">面料</a></li>
                        <li class="{$active3}"><a href="{:leuu('Collect/Index/index',array('type'=>3))}">布行</a></li>
                        <li class="pull-right">
                            <php>
                                if(empty($_SESSION['user']['member'])){
                                $href = leuu('Bizauth/Index/index');
                                }else{
                                    switch($type){
                                        case 1:
                                            if(!empty($_SESSION['user']['member'])){
                                                    if($_SESSION['user']['member']['biz_status']=1){
                                                        $href = leuu('Tf/Supplier/index');
                                                    }elseif($_SESSION['user']['member']['auth']['auth_status']!=1){
                                                        $href = leuu('Bizauth/Index/index');
                                                    }
                                                }
                                            break;
                                        case 2:
                                            if(!empty($_SESSION['user']['member'])){
                                                if($_SESSION['user']['member']['biz_status']=1){
                                                    $href = leuu('Colorcard/Supplier/index');
                                                }elseif($_SESSION['user']['member']['auth']['auth_status']!=1){
                                                    $href = leuu('Bizauth/Index/index');
                                                }
                                            }
                                            break;
                                        case 3:
                                            if(!empty($_SESSION['user']['member'])){
                                                if($_SESSION['user']['member']['biz_status']=1){
                                                    $href = leuu('Supplier/Center/index');
                                                }elseif($_SESSION['user']['member']['auth']['auth_status']!=1){
                                                    $href = leuu('Bizauth/Index/index');
                                                }
                                            }
                                            break;
                                        default:
                                            $href = '#';
                                    }
                                }
                            </php>
                            <a href="{$href}">管理我的{$types[$type]}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="row margin-bottom-20">
                            <volist name="data[data]" id="vo">
                                <switch name="type">
                                    <case value="1">
                                        <div id="collect_{$vo.rec_id}" data-id="{$vo.rec_id}" class="col-xs-2 col-sm-4 col-md-4">
                                            <div class="mf-goods-item">
                                                <div class="goods-img">
                                                    <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo[goods_id]))}">
                                                        <img class="img-responsive" src="{:get_thumb_url($vo[goods][img][thumb],true)}" alt="">
                                                    </a>
                                                </div>
                                                <div class="caption">
                                                    <p class="goods-name">
                                                        <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo[goods_id]))}">{$vo.goods.name}</a>
                                                    </p>
                                                    <p class="goods-code">{$vo.goods.vend_id}{$vo.goods.cid}{$vo.goods.code}{$vo.goods.name_code}</p>
                                                    <div class="goods-operate">
                                                        <a class="op-btn btn-cart" href="{:leuu('Order/Index/easy_order',array('id'=>$vo[goods_id]))}">购买米样</a>
                                                        <a class="op-btn btn-remove js-ajax-btn"
                                                           data-href="{:leuu('Collect/Index/delete')}"
                                                           data-id="{$vo.rec_id}"
                                                           data-method="GET"
                                                           data-success="removeCollect">取消收藏</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </case>
                                    <case value="2">
                                        <div id="collect_{$vo.rec_id}" data-id="{$vo.rec_id}" class="product-item overflow-h">
                                            <div class="col-xs-3 col-md-2 text-center">
                                                <a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[goods][card_id]))}" class="color-card-photo">
                                                    <img class="img-responsive" style="margin: 0 auto;" src="{:get_thumb_url($vo[goods][frontcover], true)}">
                                                </a>
                                                <p class="color-card-name margin-top-10"><a href="{:leuu('Supplier/Index/single',array('id'=>$vo[goods][supplier_id]))}">{$vo.goods.biz_name}</a></p>
                                                <div class="margin-top-10">
                                                    <button id="btn-collect-{$vo.card_id}" class="btn-u btn-brd btn-brd-hover rounded btn-u-xs js-ajax-btn btn-remove"
                                                            data-href="{:leuu('Collect/Index/delete',array('type'=>2))}"
                                                            data-id="{$vo.rec_id}"
                                                            data-method="GET"
                                                            data-success="removeCollect">
                                                        <i class="fa fa-heart" style="vertical-align: middle"></i>
                                                        取消收藏
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-xs-8 col-md-9" style="">
                                                <h4 class="card-title"><a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id]))}">{$vo.goods.card_name}</a></h4>
                                                <div class="materials-imgs row margin-bottom-15">
                                                    <php>$c=0;</php>
                                                    <foreach name="vo[goods][pages]" item="page">
                                                        <php>if($c > 3) break;</php>
                                                        <foreach name="page[items]" item="goods">
                                                            <php>
                                                                $c++;
                                                                if($c > 3) break;
                                                            </php>
                                                            <div class="col-xs-4">
                                                                <a href="{:leuu('Tf/Tf/fabric',array('id'=>$goods[tf_id]))}">
                                                                    <img class="img-responsive" src="{:get_thumb_url($goods[tf][img][thumb],true)}">
                                                                </a>
                                                            </div>
                                                        </foreach>
                                                    </foreach>
                                                    <php>unset($c);</php>
                                                </div>
                                            </div>
                                            <div class="col-xs-1 col-md-1 see-more">
                                                <a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[goods][card_id]))}">
                                                    查看
                                                    <i class="fa fa-chevron-circle-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </case>
                                    <case value="3">
                                        <div id="collect_{$vo.rec_id}" data-id="{$vo.rec_id}" class="product-item overflow-h">
                                            <div class="col-xs-3 col-md-2 text-center">
                                                <a href="#" class="color-card-photo">
                                                    <notempty name="vo[goods][biz_logo]">
                                                        <img class="img-responsive" style="margin: 0 auto;" src="{:get_avatar_url($vo[goods][biz_logo])}">
                                                        <else />
                                                        <img class="img-responsive" style="margin: 0 auto;" src="__PUBLIC__/images/headicon.png">
                                                    </notempty>
                                                </a>
                                                <button id="btn-collect-{$vo.card_id}"
                                                        class="btn-u btn-brd btn-brd-hover rounded btn-u-xs js-ajax-btn btn-remove margin-top-10"
                                                        data-href="{:leuu('Collect/Index/delete',array("type"=>3))}"
                                                        data-id="{$vo.rec_id}"
                                                        data-method="GET"
                                                        data-success="removeCollect">
                                                    <i class="fa fa-heart" style="vertical-align: middle"></i>
                                                    取消收藏
                                                </button>
                                            </div>
                                            <div class="col-xs-9 col-md-10 product-item-b">
                                                <notempty name="vo[cards]">
                                                    <div class="materials-imgs row margin-bottom-15">
                                                        <foreach name="vo[goods][cards]" item="voo">
                                                            <div class="col-xs-4">
                                                                <a href="#">
                                                                    <img class="img-responsive" src="{:get_thumb_url($voo[covers][front][bgurl],true)}">
                                                                </a>
                                                            </div>
                                                        </foreach>
                                                    </div>
                                                </notempty>
                                                <div class="materials-text row">
                                                    <div class="col-xs-10">
                                                        <div class="info">
                                    <span>
                                        <b>面料商:</b>
                                        <span class="state">{$vo.goods.biz_name}</span>
                                    </span>
                                                            <span>
                                        <b>主营:</b>
                                        <span class="state">{$vo.goods.main_core}</span>
                                    </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-2 see-more">
                                                        <a href="{:leuu('Supplier/Index/single',array('id'=>$vo[goods][id]))}">
                                                            查看
                                                            <i class="fa fa-chevron-circle-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </case>
                                </switch>
                            </volist>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
</block>
<block name="js">
    <script>
        function removeCollect(response){
            if(response.status){
                $('#collect_'+response.info).remove();
            }else{
                noty({type:'error',text:response.info});
            }
        }
    </script>
</block>