@import "../public"; 

body {
    padding-top: 0;
    background: #fff;

    .cp-app {
        z-index: 10000!important;
    }

    .navbar {
        padding:  0;
    }
}

.page {

    .mobile-header {
        background: $brand-color;
        height: 44px;
        line-height: 44px;
        position: relative;

        .back-home-btn {
            color: #fff;
            height: 100%;
            display: inline-block;
            padding: 0 10px;
            position: absolute;
        }

        .search-wrap {
            display: block;
            width: 60%;
            margin: 0 auto;
            height: 100%;
            position: relative;

            input {
                border: none;
                outline: none;
                width: 100%;
                height: 30px;
                line-height: 30px;
                border-radius: 5px;
                padding: 1px 10px 0 30px;
                font-size: 14px;
            }

            .switch-color {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 22px;
                height: 100%;
            }

            .search-icon {
                position: absolute;
                left: 0;
                top: 0;
                padding: 0 8px;
            }
        }

        .user-link-btn {
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 10px;

            .iconfont {
                color: #fff;
            }

        }
    }

    .show-image-fixed-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 11;
        display: none;

        .show-image-content {
            width: 90%;
            margin: 30px auto;
            height: 200px;
            background: #fff;

            img {
                width: 100%;
            }

            .image-des {
                background: #fff;
                text-align: center;
                font-size: 14px;
                padding: 20px 0 0;
                font-weight: bold;
            }

            .btn-wrap {
                width: 100%;
                text-align: center;
                background: #fff;
                padding: 20px 0;
                margin-top: -1px;

                .btn {
                    margin: 0 30px;
                }
            }
        }
    }

    .navbar-default {
        .color-btn {
            position: absolute;
            right: 5px;
            top: 0;
            padding: 7px;
        }
    }

    .color-wrap-fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 10;
        overflow: hidden;
        display: none;

        .color-wrap {
            padding: 15px 15px 25px;
            background: #fff;
            margin: 100px 15px;
            position: relative;


            .close-btn {
                position: absolute;
                top: -37px;
                right: 0;
                color: #fff;
                padding: 10px 0 10px 10px;
            }


            .color-picker-wrap {
                width: 75%;

                .slide-wrapper {
                    width: 20px;
                }

                .picker-wrapper {
                    width: 65%;
                }
            }

            .color-result {
                margin-left: 60%;

                .result-title {
                    text-align: center;
                    font-size: 14px;
                    margin: 0 0 10px;
                }

                .cur-color {
                    font-size: 12px;
                    text-align: center;
                    margin: 8px auto 3px;
                    font-weight: bold;
                    border: 1px solid #000;
                    width: 80px;
                    display: block;
                    line-height: 28px;
                    height: 28px;
                }

                .color-item {
                    width: 32px;
                    height: 32px;
                    margin: 0 auto;
                    background: #000;
                }

                .btn-submit {
                    margin: 10px auto 0;
                    display: block;
                    width: 80px;
                }
            }
        }
    }



    .tab-menu {
        @extend .clearfix;
        background: #fff;
        margin: 20px 10px 18px;
        color: #e6125d;

        .menu-item {
            width: 50%;
            float: left;
            text-align: center;
            font-size: 12px;
            padding: 5px 0;
            border: 1px solid #e6125d;

            &.selected {
                background: #e6125d;
                border: 1px solid #e6125d;
                color: #fff;
            }

            &:first-child {
                border-right: none;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                border-left-color: #e6125d;
            }
        }
    }

    .find-fabric-wrap {

        display: none;

        &.show {
            display: block;
        }

        padding: 0 10px;

        h2 {
            text-align: center;
            font-size: 20px;
        }

        .txt-content {

            p {
                font-size: 14px;
            }

            .qrcode-wrap {
                text-align: center;
                font-size: 14px;

                .qrcode-img {
                    width: 140px;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }

    .select-fixed-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
        display: none;

        .select-container {
            padding: 0 10px;
            position: absolute;
            top: 0;
            width: 90%;
            background: #fff;
            left: 10%;
            height: 100%;
            overflow-y: scroll;

            .select-list {
                font-size: 12px;
                margin-bottom: 5px;
                @extend .clearfix;

                .scroll-to-top {
                    color: #4aa3de;
                    font-weight: normal;
                    text-decoration: underline;
                    padding: 0 5px;
                }

                &.fixed {
                    position: fixed;
                    z-index: 3;
                    background: #fff;
                    top: 0;
                    width: 100%;
                    padding: 10px 15px;
                    border-bottom: 1px solid #ddd;
                    box-shadow: 1px 1px 3px #ddd;
                    margin: 0 -10px;

                    .item-title {
                        display: block;
                        float: none;
                        text-align: center;
                        width: 100%;
                    }

                    .item-value-content {
                        margin: 0;
                    }
                }

                .item-title {
                    font-weight: bold;
                    width: 40px;
                    display: inline-block;
                    float: left;
                    padding: 4px 0;
                    margin: 3px 0;
                }

                .item-value-content {
                    margin: 0 0 0 40px;

                    .select-item {
                        display: inline-block;
                        padding: 3px 18px 3px 8px;
                        margin: 4px 5px;
                        border: 1px solid #e6125d;
                        color: #e6125d;
                        border-radius: 3px;
                        position: relative;

                        &.selected {
                            background: #e6125d;
                            color: #fff;
                            border-radius: 5px;
                        }

                        .iconfont {
                            font-size: 12px;
                            position: absolute;
                            right: 0;
                            padding: 0 3px;
                        }
                    }
                }
            }

            .view-wrap {
                background: #f5f5f5;
                padding: 10px 0;
                margin: 10px -10px;
                position: relative;

                .arrow-top {
                    position: absolute;
                    border-right: 10px solid transparent;
                    border-left: 10px solid transparent;
                    border-bottom: 10px solid #f5f5f5;
                    border-top: 10px solid transparent;
                    top: -20px;
                    left: 18%;
                }

                .weave-item-wrap {
                    font-size: 12px;
                    margin-bottom: 5px;

                    .item-title {
                        font-weight: bold;
                        width: 40px;
                        display: inline-block;
                        float: left;
                        padding: 4px 0;
                        margin: 3px 0;
                    }

                    .item-value-content {
                        margin: 0 0 0 40px;

                        .weave-item {
                            display: inline-block;
                            padding: 4px 9px;
                            margin: 3px 5px;

                            &.selected {
                                background: #e6125d;
                                color: #fff;
                                border-radius: 5px;
                            }
                        }
                    }
                }
            }

            .weave-wrap, .cab-wrap {
                font-size: 12px;
                margin: 15px 0 5px;
                @extend .clearfix;

                .item-title {
                    font-weight: bold;
                    width: 40px;
                    display: inline-block;
                    float: left;
                    padding: 4px 0;
                    margin: 3px 0;
                }

                .item-value-content {
                    margin: 0 0 0 40px;

                    .weave-item {
                        display: inline-block;
                        padding: 4px 9px;
                        margin: 3px 5px;

                        &.selected {
                            background: #e6125d;
                            color: #fff;
                            border-radius: 5px;
                        }
                    }
                }
            }

            .matrix-table {
                width: 100%;
                overflow: hidden;
                margin-bottom: 10px;

                .matrix-column-line {
                    width: 10%;
                    font-size: 12px;
                    float: left;
                    text-align: center;

                    .column-item {
                        width: 100%;
                        display: block;
                        height: 42px;
                        line-height: 42px;
                        margin-bottom: 8px;

                        &.blank-item {
                            height: 22px;
                        }
                    }
                }

                .matrix-row-line {
                    font-size: 12px;
                    overflow: hidden;
                    width: 90%;

                    .line-item {
                        white-space: nowrap;
                        height: 22px;
                        margin-bottom: 8px;
                        position: relative;

                        .row-item-title {
                            width: 20%;
                            display: inline-block;
                            text-align: center;
                            border-bottom: none;
                            border-right: none;
                            margin: 0 0 0 -3px;

                            &.selected {
                                color: #e6125d;
                            }

                            img {
                                height: 58px;
                            }
                        }

                        &.item-detail {
                            height: 58px;

                            .row-item-title {

                                line-height: 42px;
                                width: 20%;
                                position: relative;

                                .item-name {
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    text-align: center;
                                    font-size: 12px;
                                    line-height: 12px;
                                    padding: 2px 0;
                                    background: rgba(142, 142, 142, 0.8);
                                    color: #fff;
                                }

                                &.selected {
                                    .arrow-icon {
                                        display: block;
                                    }
                                }

                                .arrow-icon {
                                    display: none;
                                    position: absolute;
                                    right: 8%;
                                    top: 0;
                                    border-right: 5px solid #e6125d;
                                    border-top: 5px solid #e6125d;
                                    border-bottom: 5px solid transparent;
                                    border-left: 5px solid transparent;

                                }
                            }
                        }
                    }
                }
            }

            .show-more-btn {
                text-align: center;
                font-size: 14px;
                position: relative;
                height: 40px;

                .more-line {
                    border-bottom: 1px solid #999;
                    height: 1px;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                }

                .more-label {
                    position: absolute;
                    width: 50%;
                    text-align: center;
                    z-index: 1;
                    background: #fff;
                    left: 25%;
                    padding: 15px 10px;
                    top: -5px;
                }
            }
        }
    }


    .order-wrap {
        @extend .clearfix;
        border-bottom: 1px solid #ddd;

        select {
            width: 40%;
            appearance: none;
            display: block;
            float: left;
            border: none;
            font-size: 14px;
            background: #fff;
            padding: 8px 0 8px 14%;
            outline: none;
            text-align: center;

            option {
                text-align: center;
            }
        }

        .filter-wrap {
            display: block;
            width: 20%;
            float: right;
            padding: 8px 10px;
            font-size: 14px;
            text-align: right;
            border-left: 1px solid #ddd;
            white-space: nowrap;

            .iconfont {
                font-size: 14px;
            }
        }
    }

    .ml-list {

        margin-top: 10px;

        .loading-wrap {
            text-align: center;
            font-size: 12px;
            padding: 10px 0 20px;
        }

        .empty-data-wrap {
            text-align: center;
            font-size: 15px;
            padding: 50px 0;
        }
    }
    .ml-item {
        .fab-item {
            border: 1px solid #ddd;
            border-radius: 5px;

            .team-img {
                a {
                    overflow: hidden;
                }
            }

            .fab-name {
                color: #333;
                font-size: 12px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0 0 5px 0;
            }

            .fab-info-wrap {
                padding: 5px 5px 0;

                .price-value {
                    font-size: 12px;
                    color: #e6125d;
                }
            }



        }
    }

    .basket-wrap {
        position: fixed;
        display: block;
        bottom: 20px;
        right: 20px;
        font-size: 12px;
        border-radius: 50%;
        text-align: center;
        background: #efefef;
        padding: 10px;
        box-shadow: 0px 0px 3px #aaa;
        text-decoration: none;

        .iconfont {
            display: block;
            font-size: 20px;
        }
    }
}