.form-wrap {
    h2 {
        text-align: center;
        padding: 10px 25px;
    }

    .next-btn {
        display: block;
    }

    .first-content {
        padding: 0 20px;

        h2 {
            margin-top: 30%; 
        }

        .content-text {
            margin-top: 20px;
        }

        .next-btn {
            margin-top: 20%;
        }
    }

    .second-content {
        padding: 0 20px;

        .next-btn {
            margin-top: 20%;
        }


    }

    .third-content {
        padding: 0 20px;

        h2 {
            margin: 15% 0 10%;
            font-size: 24px;
        }

         .download-link { 
            display: block;
            margin-bottom: 5px;
            text-align: center;
            padding: 20px 0 10px;
            font-size: 16px;
        }

        .download-tip {
            display: block;
            color: #999;
            text-align: center;
            font-size: 14px;
        }

        .content-text {
            margin-top: 10%;
            text-align: center;
        }

        .pc-download-wrap {
            text-align: center;
            margin: 30px;
            font-size: 16px;
            border-top: 1px solid #ababab;
            padding: 30px 0;

            .url-link {
                background: #ddd;
                padding: 2px;
                display: block;
                font-weight: bold;
                margin: 10px auto;
                text-shadow: 0 0 1px #999;
                width: 70%;
            }
        }

        

        strong {
            color: #e6125d;
        }
    }
}