.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after { clear:both; }

@font-face {
    font-family: 'iconfont';  /* project id 545596 */
    src: url('//at.alicdn.com/t/font_545596_tpakn71asnlpiudi.eot');
    src: url('//at.alicdn.com/t/font_545596_tpakn71asnlpiudi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_545596_tpakn71asnlpiudi.woff') format('woff'),
    url('//at.alicdn.com/t/font_545596_tpakn71asnlpiudi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_545596_tpakn71asnlpiudi.svg#iconfont') format('svg');
}
$brand-color: #e6125d;

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}