<extend name="Admin:base-v2" />
<block name="css">
    <style>
        ul.funny-boxes-rating li {
            display: inline-block;
        }
        ul.funny-boxes-rating li i {
            color: #f8be2c;
            cursor: pointer;
            font-size: 14px;
        }
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('bizinfo', array('mid'=>$mid))}">认证信息</a></li>
                <li><a href="{:U('editinfo', array('mid'=>$mid))}">修改资料</a></li>
                <li><a href="{:U('Account/Admin/index', array('mid'=>$mid))}">账户信息</a></li>
                <li class="active"><a href="{:U('fans', array('mid'=>$mid))}">好友</a></li>
                <li><a href="{:U('AdminOp/index', array('mid'=>$mid))}">运营人员</a></li>
                <li><a href="{:U('Admin/index')}">返回</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th width="30">ID</th>
                            <th>好友</th>
                            <th>等级</th>
                            <th>下单次数</th>
                            <th>成为好友时间</th>
                            <th width="120">{:L('ACTIONS')}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="list[data]" item="vo">
                            <tr id="fans-{$vo.id}" data-id="{$vo.id}">
                                <td>{$vo.id}</td>
                                <td>
                                    <a href="{:U('User/Admin/editinfo', array('uid'=>$vo['user_id']))}">
                                    <img width="25" height="25" src="{:get_avatar_url($vo[avatar])}" />
                                    {$vo.nickname}
                                    </a>
                                </td>
                                <td>
                                    <ul class="list-unstyled funny-boxes-rating pull-left" data-level="{$vo.level}" data-lock="false">
                                        <for start="1" end="$vo[level]+1">
                                            <li data-val="{$i}"><i class="fa fa-star"></i></li>
                                        </for><for start="$vo[level]+1" end="6">
                                            <li data-val="{$i}"><i class="fa fa-star-o"></i></li>
                                        </for>
                                    </ul>
                                </td>
                                <td>{$vo.order_num}</td>
                                <td>{:date('Y-m-d', strtotime($vo['create_time']))}</td>
                                <td>
                                    <button type="button" class="btn-u btn-u-default btn-u-xs js-ajax-btn"
                                    data-confirm="true"
                                    data-msg="是否要删除该好友？"
                                    data-id="{$vo.id}"
                                    data-href="{:U('delete_fans',array('mid'=>$mid))}"
                                    >删除</button>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <div class="pagination">{$list.page}</div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $('.funny-boxes-rating li').hover(function(){
                if(!$(this).parent().data('lock')){
                    setLevel($(this).data('val'), $(this).parent());
                }
            })
            .on('click', function(){
                var $this = $(this);
                var $ul = $this.parent();
                var curLevel = $ul.data('level');
                var level = $this.data('val');

                $ul.data('lock', true);

                if(level != curLevel){
                    setLevel(level, $ul);
                    var url = "{:U('fans_level_post')}";
                    var data = {
                        id: $this.parents('tr').data('id'),
                        level: level
                    }
                    $.post(url, data, function(response){
                        if(response.status){
                            $ul.data('level', level);
                            setLevel(level, $ul);
                        }else{
                            setLevel(curLevel, $ul);
                        }
                        $ul.data('lock', false);
                    })
                }
            })

            $('.funny-boxes-rating').hover(function(){},function(){
                if(!$(this).data('lock')){
                    setLevel($(this).data('level'),$(this));
                }
            });

            function setLevel(level, $ul){
                var $cur = $ul.find('li').eq(level-1);
                $cur.find('i').removeClass('fa-star-o').addClass('fa-star');
                $cur.prevAll().find('i').removeClass('fa-star-o').addClass('fa-star');
                $cur.nextAll().find('i').removeClass('fa-star').addClass('fa-star-o');
            }
        })
    </script>
</block>