{template 'common/header-base'}
<div class="gw-container">
	{if !empty($_W['uniacid']) && !defined('IN_MESSAGE')}
	<div class="navbar navbar-inverse navbar-static-top" role="navigation" style="z-index:1001; margin-bottom:0;">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"  style="display:block; max-width:150px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; "><i class="fa fa-group"></i>{$_W['account']['name']} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						{if $_W['role'] != 'operator'}
						<li><a href="{url 'account/post' array('uniacid' => $_W['uniacid'])}" target="_blank"><i class="fa fa-weixin fa-fw"></i> 编辑当前账号资料</a></li>
						{/if}
						{if $_W['role'] == 'founder'}
						<li><a href="{url 'system/updatecache'}" target="_blank"><i class="fa fa-refresh fa-fw"></i> 更新缓存</a></li>
						{/if}
						<li><a href="{url 'utility/emulator'}" target="_blank"><i class="fa fa-mobile fa-fw"></i> 模拟测试</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	{/if}

	<div class="navbar navbar-static-top" role="navigation" style="padding-top:20px;">
	</div>
	
	<div class="container-fluid">
		{if defined('IN_MESSAGE')}
		<div>
			<div class="jumbotron clearfix alert alert-{$label}">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
						<i class="fa fa-5x fa-{if $label=='success'}check-circle{/if}{if $label=='danger'}times-circle{/if}{if $label=='info'}info-circle{/if}{if $label=='warning'}exclamation-triangle{/if}"></i>
					</div>
					<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
						{if is_array($msg)}
							<h2>MYSQL 错误：</h2>
							<p>{php echo cutstr($msg['sql'], 300, 1);}</p>
							<p><b>{$msg['error'][0]} {$msg['error'][1]}：</b>{$msg['error'][2]}</p>
						{else}
						<h2>{$caption}</h2>
						<p>{$msg}</p>
						{/if}
						{if $redirect}
						<p><a href="{$redirect}" class="alert-link">如果你的浏览器没有自动跳转，请点击此链接</a></p>
						<script type="text/javascript">
							setTimeout(function () {
								location.href = "{$redirect}";
							}, 3000);
						</script>
						{else}
							<p>[<a href="javascript:history.go(-1);" class="alert-link">点击这里返回上一页</a>] &nbsp; [<a href="./?refresh" class="alert-link">首页</a>]</p>
						{/if}
					</div>
				</div>
			</div>
		{else}
		<div class="well">
		{/if}
<script>
	var h = document.documentElement.clientHeight;
	$(".gw-container").css('min-height',h);
	{php echo site_profile_perfect_tips();}
</script>