<extend name="Public:base-v8" />
<block name="title"><title>充值 面料商后台 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC_/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form section {
            margin-bottom: 10px!important;
        }
        .sky-form .label {text-align: right;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">充值</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Index/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Account/Index/index')}">我的账户</a></li>
                <li class="active">充值</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="{:leuu('index')}">充值</a></li>
                        <li><a href="{:leuu('logs')}">充值记录</a></li>
                        <li class="pull-right"><a href="{:leuu('Account/Index/index')}">返回账户</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="profile" class="profile-edit tab-pane fade in active">
                            <form id="basic-form" class="sky-form" action="{:leuu('create_post')}"
                                  method="post" style="border:none;">
                                <fieldset>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">充值账号</label>
                                        <p class="col-md-6 col-sm-8">{$member.biz_name}</p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">充值金额</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="recharge_money" required placeholder="1.00-10万">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">备注</label>
                                        <label class="textarea col-md-6 col-sm-8">
                                            <textarea name="remark" rows="3"></textarea>
                                            0/64
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn-u">去充值</button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js"></block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate({});
        })
    </script>
</block>