<extend name="Public:base-v8" />
<block name="title"><title>充值记录 面料商后台 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC_/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">

    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        /*.sky-form section {
            margin-bottom: 10px!important;
        }
        .sky-form .label {text-align: right;}*/
        td.details-control {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            cursor: pointer;
        }

        tr td.details-control:before {
            content: "\f067";
        }

        tr.shown td.details-control:before {
            content: "\f068";
        }

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">充值记录</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Index/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Account/Index/index')}">我的账户</a></li>
                <li class="active">充值记录</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('index')}">充值</a></li>
                        <li class="active"><a href="{:leuu('logs')}">充值记录</a></li>
                        <li class="pull-right"><a href="{:leuu('Account/Index/index')}">返回账户</a></li>
                    </ul>
                    <div class="tab-content">
                        <table id="datatable" class="table table-striped table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('logs',array('id'=>$_GET['id']))}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: true,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "recharge_money",
                    "title": "充值金额",
                    "defaultContent": "",
                    render: $.fn.dataTable.render.number(',', '.', 2, '￥')
                }, {
                    "data": "receipt_status",
                    "title": "状态",
                    "defaultContent": "",
                    "render": function (data, type, row) {
                        return parseInt(data) ? '<span class="color-green1">已入账</span>' : '<span class="color-yellow">未入账</span>';
                    }
                }, {
                    "data": "receipt_date",
                    "title": "入账时间",
                    "defaultContent": ''
                }, {
                    "data": "create_date",
                    "title": "充值时间",
                    "defaultContent": ''
                }],
                "order": [[3, 'desc']],
                buttons: [{
                    text: "付款",
                    enable: false,
                    init: function (dt, node, config) {
                        var that = this;
                        dt.on('select.dt.DT deselect.dt.DT', function () {
                            var row = dt.row({selected: true}).data();
                            that.enable(dt.rows({selected: true}).any()
                                    && row['receipt_status'] == 0);
                        });
                        this.disable();
                    },
                    action: function (e, dt, node, config) {
                        var row = dt.row({selected: true}).data();
                        location.href = '/index.php?g=wx&m=pay&a=recharge&id='+row['id'];
                    }
                },{
                    text: "取消充值单",
                    enable: false,
                    init: function (dt, node, config) {
                        var that = this;
                        dt.on('select.dt.DT deselect.dt.DT', function () {
                            var row = dt.row({selected: true}).data();
                            that.enable(dt.rows({selected: true}).any()
                                    && row['receipt_status'] == 0);
                        });
                        this.disable();
                    },
                    action: function (e, dt, node, config) {
                        var row = dt.row({selected: true}).data();

                        if ($('body').has('.overlay').length > 0) {
                            $('body>.overlay').show();
                        } else {
                            $('body').append('<div class="overlay"></div>');
                        }
                        noty({
                            text: '是否要取消该充值单',
                            layout: 'center',
                            theme: 'relax2',
                            animation: {
                                open: {height: 'toggle'},
                                close: {height: 'toggle'},
                                easing: 'swing',
                                speed: 500
                            },
                            buttons: [
                                {
                                    addClass: 'btn-u btn-u-primary rounded', text: '确定', onClick: function ($noty) {
                                    var href = "{:U('cancel')}";
                                    var data = {id: row['id']};
                                    ajaxAction(href, data, 'post', function (response) {
                                        if (response.state === 'success') {
                                            noty({type: 'success', text: response.info});
                                            table.ajax.reload();
                                        } else if (response.state === 'fail') {
                                            noty({type: 'error', text: response.info});
                                        }
                                    });
                                    $noty.close();
                                    if ($('body').has('.overlay').length > 0) {
                                        $('body>.overlay').hide();
                                    }
                                }
                                }, {
                                    addClass: 'btn-u btn-u-default rounded', text: '取消', onClick: function ($noty) {
                                        $noty.close();
                                        if ($('body').has('.overlay').length > 0) {
                                            $('body>.overlay').hide();
                                        }
                                    }
                                }
                            ]
                        });
                    }
                }]
            });
        });
    </script>
</block>