@import "../public";

.cart-mobile-scss {
    .shops-group {
        .shops-name {
            padding-left: 0;
        }

        .shop-i-list {
            li {
                padding: 2% 0 0;
            }
        }

        .shop-items {
            .shop-i-text {
                padding: 2% 0 2% 29%;
                @extend .clearfix;

                .product-prop {
                    float: left;
                    width: 45%;

                    p {
                        margin-bottom: 5px;
                    }
                }

                .product-price {
                    float: right;
                    width: 50%;
                    margin: 0;

                    .button-group {
                        text-align: right;
                        padding-top: 15px;

                        .remove-goods {
                            border: none;
                            color: #fff;
                            background: #f00;
                            border-radius: 3px;
                            font-size: 12px;
                            padding: 2px 6px;
                        }
                    }
                }
            }
        }
    }
}