<admintpl file="header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('Prop/index')}">面料属性</a></li>
			<li><a href="{:U('Prop/add')}">属性添加</a></li>
		</ul>

		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th width="30">ID</th>
					<th nowrap="nowrap">属性名称</th>
					<th>属性值</th>
					<th width="120">{:L('ACTIONS')}</th>
				</tr>
			</thead>
			<tbody>
                <php>$_statuses=array("0"=>"禁用","1"=>"启用");</php>
                <php>$_verification=array("0"=>"未验证","1"=>"已验证");</php>
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td>{$vo.key_name}</td>

					<td>{$vo.val}</td>
					<td>
							<a href='{:U("Prop/edit",array("id"=>$vo["id"]))}'>{:L('EDIT')}</a> |
                            
							<a class="js-ajax-delete" href="{:U('Prop/delete',array('id'=>$vo['id']))}">{:L('DELETE')}</a> |
				
				            <a href="{:U('Prop/delete',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="删除该属性将会同时删除该属性下的所有值，您确定要删除该属性吗？">删除</a>

					</td>
				</tr>
				</foreach>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>