<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('Prop/index')}">面料属性</a></li>
			<li <if condition="$keyname.id eq ''">class="active"</if>><a href="{:U('Prop/add')}">属性添加</a></li>
		</ul>
        <div class="row-fluid">
        <div class="span6">
        <!-- 左边开始 -->
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('Prop/post')}">
        <input type="hidden" name="id" value="{$keyname.id}">
			<fieldset>
                <div class="control-group">
                    <label class="control-label">属性名称</label>
                    <div class="controls">
                        <input type="text" name="key_name" value="{$keyname.key_name}">
                    </div>
                </div>

			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit"><if condition="$keyname.id eq ''">{:L('ADD')}<else />{:L('SAVE')}</if></button>
				<a class="btn" href="javascript:history.back(-1);">{:L('BACK')}</a>
			</div>
		</form>
        <!-- 左边结束 -->
        </div>
        <div class="span6">
        <!-- 右边开始 -->
        <if condition="$keyname.id neq ''">
        <form method="post" class="form-horizontal js-ajax-form" action="{:U('Prop/value_post')}">
        <input type="hidden" name="key_id" value="{$keyname.id}">
        <input type="hidden" name="id" value="{$keyvalue.id}">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">属性值</label>
                    <div class="controls">
                        <input type="text" name="value" value="{$keyvalue.value}">
                        <button type="submit" class="btn btn-primary js-ajax-submit"><if condition="$keyvalue.id eq ''">{:L('ADD')}<else />{:L('SAVE')}</if></button>
                    </div>
                </div>

            </fieldset>
        </form>        
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th width="30">ID</th>
                    <th>属性值</th>
                    <th width="120">{:L('ACTIONS')}</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="list" item="vo">
                <tr>
                    <td>{$vo.id}</td>
                    <td>{$vo.value}</td>
                    <td>
                            <a href='{:U("Prop/edit",array("id"=>$keyname["id"],"vid"=>$vo["id"]))}'>{:L('EDIT')}</a> |
                            
                            <a class="js-ajax-delete" href="{:U('Prop/value_delete',array('id'=>$vo['id']))}">{:L('DELETE')}</a> |

                    </td>
                </tr>
                </foreach>
            </tbody>
        </table>        
        </if>
        <!-- 右边结束 -->
        </div>
        </div>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>