<extend name="Public:base-v8" />
<block name="title"><title>添加面料</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/fancybox/source/jquery.fancybox.css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
        .panel.sky-form {border-color:#ddd;}
        .panel select[multiple] {min-height:120px;}
        #sku_tb .parent .two {background-color:#D0D0C8;}
        #sku_tb .parent.has-child .two {background-color:transparent;}
        #sku_tb .sku-img {display:none;}
        #sku_tb input[type="color"] {
            width: 120px;
            border: none;
            padding: 0;
            margin: 0;
            background: transparent;
            display: block;
            height: 32px;
        }
        #qrcode img {max-width:160px;margin:20px auto;}
    </style>
    <script type="text/html" id="photos-item-wrapper">
        <div id="savedimage{id}" class="col-sm-4 col-md-3">
            <a href="{url}" rel="gallery2" class="fancybox img-hover-v1">
                <span><img id="photo-{id}-preview" class="img-responsive" src="{url}" alt=""></span>
            </a>
            <button type="button" class="btn-u btn-u-xs"
                    onclick="javascript:upload_one_image('图片上传','#photo-{id}');">
                <i class="rounded-x fa fa-edit"></i>
            </button>
            <button type="button" class="btn-u btn-u-xs"
                    onclick="javascript:$('#savedimage{id}').remove();">
                <i class="rounded-x fa fa-trash-o"></i>
            </button>
            <input id="photo-{id}" type="hidden" name="photos_url[]" value="{filepath}">
            <input id="photo-{id}-name" type="hidden" name="photos_alt[]" value="{name}">
            <input id="photo-{id}-dress" type="hidden" name="photos_dress[]" value="0">
        </div>
    </script>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">添加面料</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Tf/Supplier/index')}">面料管理</a></li>
                <li class="active">添加面料</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:U('index')}">面料库</a></li>
                        <li class="active"><a>添加面料</a></li>
                    </ul>
                    <div class="tab-content">
                <form class="sky-form" method="post" action="{:U('add_post')}"
                style="border:none;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default basic-info margin-bottom-10">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-edit"></i> 基本信息</h3>
                                </div>
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th style="width:15%;">所属分类</th>
                                        <td style="width:35%;">{$cat_name}</td>
                                        <th style="width:15%;">编码名称</th>
                                        <td style="width:35%;">{$code_name}</td>
                                    </tr>
                                    <tr>
                                        <th>品名：</th>
                                        <td colspan="3">
                                            <label class="input">
                                                <input type="text"  name="name" required placeholder="请输入品名">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>编码：</th>
                                        <td colspan="3">
                                            <label class="label col col-3 text-right" style="text-align:right;">
                                                {$_SESSION['user']['member']['id']}-{$cat.code}-{$name_code}-
                                            </label>
                                            <label class="input col col-3">
                                                <input type="text" id="code" name="code" required placeholder="请输入商家自编号" aria-required="true">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>私密面料：</th>
                                        <td colspan="1">
                                            <div class="inline-group">
                                                <label class="radio">
                                                    <input type="radio" name="ispublic" value="1" checked>
                                                    <i class="rounded-x"></i>否
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="ispublic" value="0">
                                                    <i class="rounded-x"></i>是
                                                </label>
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="rating">
                                                <input type="radio" name="fans_level" value="5" id="overall-5">
                                                <label for="overall-5"><i class="fa fa-star"></i></label>
                                                <input type="radio" name="fans_level" value="4" id="overall-4">
                                                <label for="overall-4"><i class="fa fa-star"></i></label>
                                                <input type="radio" name="fans_level" value="3" id="overall-3" checked>
                                                <label for="overall-3"><i class="fa fa-star"></i></label>
                                                <input type="radio" name="fans_level" value="2" id="overall-2">
                                                <label for="overall-2"><i class="fa fa-star"></i></label>
                                                <input type="radio" name="fans_level" value="1" id="overall-1">
                                                <label for="overall-1"><i class="fa fa-star"></i></label>
                                                私密等级
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>最小拼单数量：</th>
                                        <td>
                                            <input type="number" class="form-control" name="min_charge" value="0">
                                        </td>
                                        <td colspan=2></td>
                                    </tr>
                                    <tr>
                                        <th>主图</th>
                                        <td colspan="3">
                                            <input type="hidden" name="smeta[thumb]" id="thumb">
                                            <input type="hidden" name="smeta[dress_thumb]" value="1">
                                            <a href="javascript:upload_one_image('图片上传','#thumb');">
                                                <img src="__PUBLIC__/images/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand"/>
                                            </a>
                                            <input type="button" class="btn-u btn-u-default" onclick="$('#thumb-preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">

                                        </td>
                                    </tr>
                                    <tr>
                                        <th>相册图集</th>
                                        <td colspan="3">
                                            <div id="photos" class="row"></div>
                                            <a href="javascript:upload_multi_image('图片上传','#photos','photos-item-wrapper');" class="btn-u btn-u-default">选择图片</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>多样性分类</th>
                                        <td colspan="3">
                                            <section>
                                                <label class="select">
                                                    <select name="term[]" class="select2" multiple data-close-on-select="false"
                                                    data-placeholder="选择面料多样性分类">
                                                        <foreach name="tf_terms" item="vo">
                                                            <option value="{$vo.tf_term_id}">{$vo.name}</option>
                                                        </foreach>
                                                    </select>
                                                </label>
                                            </section>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel panel-default margin-bottom-10">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-edit"></i> 主要属性</h3>
                                </div>
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <th style="width:80px;">规格：</th>
                                        <td>
                                            <label class="input">
                                                <input type="text" name="spec">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>门幅：</th>
                                        <td>
                                            <label class="input">
                                                <input type="text" name="width">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>克重：</th>
                                        <td>
                                            <label class="input">
                                                <input type="text" name="weight">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>原料：</th>
                                        <td>
                                            <label class="input">
                                                <input type="text" name="material">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>成分：</th>
                                        <td>
                                            <label class="input">
                                                <input type="text" name="component">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>功能：</th>
                                        <td>
                                            <label class="input">
                                                <input type="text" name="function">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>用途：</th>
                                        <td>
                                            <label class="input">
                                                <input type="text" name="purpose">
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>货架状态：</th>
                                        <td>
                                            <div class="inline-group">
                                                <label class="radio">
                                                    <input type="radio" name="on_sale" value="1" checked>
                                                    <i class="rounded-x"></i>上架
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="on_sale" value="0">
                                                    <i class="rounded-x"></i>下架
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--<div class="panel panel-default margin-bottom-10">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-edit"></i> 扩展属性</h3>
                                </div>
                                <table class="table table-bordered">
                                    <tbody>
                                    <foreach name="ex_list" item="vo">
                                        <tr>
                                            <th style="width:80px;">{$vo.key_name}：</th>
                                            <td>
                                                <input type="hidden" name="ex_id[{$vo.key_id}]" value="{$vo.tfp_id}">
                                                <input type="hidden" name="ex_key_name[{$vo.key_id}]" value="{$vo.key_name}">

                                                <php>$is_must=$vo['is_must']?" required ":"";//是否必填</php>
                                                <empty name="vo[value]">
                                                    <label class="input">
                                                        <input type="text" name="ex[{$vo.key_id}]" {$is_must} value="{$vo['value_text']}">
                                                    </label>
                                                    <else />
                                                    <label class="select">
                                                        <php>
                                                            $multiple = $vo['is_multi'] ? 'multiple':'';
                                                        </php>
                                                        <select {$multiple} {$is_must} name="ex[{$vo.key_id}][]">
                                                            <if condition="!($vo['is_multi'])"><option></option></if>
                                                            <foreach name="vo['value']" item="so">
                                                                <php>$template_selected=(($vo['value_id']==$so['id']) or (strstr(",".$vo['value_text']."," ,  ",".$so['id'].",")))?"selected":"";</php>
                                                                <option value="{$so['id']}" {$template_selected}>{$so['value']}</option>
                                                            </foreach>
                                                        </select>
                                                        <empty name="$vo['is_multi']"><i></i></empty>
                                                    </label>
                                                    <if condition="$vo['is_multi']"><div class="note">可多选</div></if>
                                                </empty>
                                            </td>
                                        </tr>
                                    </foreach>
                                    </tbody>
                                </table>
                            </div>-->
                            <div class="panel panel-default margin-bottom-20">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-edit"></i> 详情</h3>
                                </div>
                                <script type="text/plain" id="content" name="describe"></script>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input type="hidden" name="cid" value="{$cid}">
                            <input type="hidden" name="name_code" value="{$name_code}">
                            <button type="submit" class="btn-u">{:L('SAVE')}</button>
                            <a class="btn-u btn-u-default" href="javascript:history.back(-1);">{:L('BACK')}</a>
                        </div>
                    </div>
                </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
        //编辑器路径定义
        var editorURL = GV.WEB_ROOT;
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
</block>
<block name="js">
    <script>
        
        $(function(){
            
            editorcontent = new baidu.editor.ui.Editor();
            editorcontent.render('content');
            try {
                editorcontent.sync();
            } catch (err) {
            }
            //增加编辑器验证规则
            jQuery.validator.addMethod('editorcontent', function() {
                try {
                    editorcontent.sync();
                } catch (err) {
                }
                return editorcontent.hasContents();
            });

            jQuery(".fancybox").fancybox({
                groupAttr: 'data-rel',
                prevEffect: 'fade',
                nextEffect: 'fade',
                openEffect  : 'elastic',
                closeEffect  : 'fade',
                closeBtn: true,
                helpers: {
                    title: {
                        type: 'float'
                    }
                }
            });

            $(".fbox-modal").fancybox({
                maxWidth    : 800,
                maxHeight   : 600,
                fitToView   : false,
                width       : '70%',
                height      : '70%',
                autoSize    : false,
                closeClick  : false,
                closeEffect : 'fade',
                openEffect  : 'elastic'
            });


            //$('#code').mask('2099', {placeholder:'X'});
            $('.sky-form').validate({

                submitHandler: function(form) {
                    $(form).ajaxSubmit({
                        success:function(response){
                            if(response.status){
                                if(response.url){
                                    location.href = response.url;
                                }else{
                                    noty({text:response.info,type:'success'});
                                }
                            }else{
                                noty({text:response.info,type:'error'});
                            }
                        }
                    });
                }
            });
        })

        $(".select2").select2({
                theme: "bootstrap"
            });
    </script>
</block>