<extend name="Public:base-v8"/>
<block name="title"><title>试衣贴图设置</title></block>
<block name="plugins_css"></block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>

        .fabric-thumb .thumb {
            float: left;
            width: 80px;
            height: auto;
            margin-right: 5px;
        }

        .sky-toggle.status i:after {
            content: '关闭';
        }

        .sky-toggle.status input:checked + i:after {
            content: '启用';
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">试衣贴图设置</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">试衣贴图设置</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0)">试衣贴图设置</a></li>
                        <li><a href="{:leuu('Tf/Supplier/index')}">返回</a></li>
                    </ul>
                    <div class="tab-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>贴图</th>
                                <th>是否启用贴图</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-bordered">
                                <td class="text-left table-bordered">
                                    <div class="fabric-thumb">
                                        <div class="thumb">
                                            <img class="lazyload img-responsive"
                                                 data-original="{:get_thumb_url($img['thumb'],true,150)}">
                                        </div>
                                    </div>
                                </td>
                                <td class="table-bordered">
                                    <php>$checked = $img['dress_thumb'] == 1 ? 'checked':'';</php>
                                    <label class="sky-toggle status">
                                        <input data-key="main" type="checkbox" name="checkbox-toggle" {$checked}>
                                        <i></i>
                                    </label>
                                </td>
                            </tr>
                            <volist name="img[photo]" id="vo">
                                <tr class="table-bordered">
                                    <td class="text-left table-bordered">
                                        <div class="fabric-thumb">
                                            <div class="thumb">
                                                <img class="lazyload img-responsive"
                                                     data-original="{:get_thumb_url($vo['url'],true,150)}">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="table-bordered">
                                        <php>$checked = $vo['dress_status'] == 1 ? 'checked':'';</php>
                                        <label class="sky-toggle status">
                                            <input data-key="{$key}" type="checkbox" name="checkbox-toggle" {$checked}>
                                            <i></i>
                                        </label>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        $(function(){

            $('.sky-toggle input[type="checkbox"]').change(function () {
                var $this = $(this);
                var id = '{:I("get.id/d",0)}';
                var value = $this.prop('checked') ? 1 : 0;
                var url = "{:leuu('toggle_dress_thumb')}";
                var data = {id: id, value: value, key:$this.data('key')};
                if (url !== '') {
                    $.post(url, data, function (response) {
                        $this.prop('checked', response.data == 1);
                        if (response.status) {
                            noty({type: 'success', text: response.info});
                        } else {
                            noty({type: 'error', text: response.info});
                        }
                    });
                }
            })
        })
    </script>
</block>