<extend name="Public:base-v8" />
<block name="title"><title>修改面料 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/fancybox/source/jquery.fancybox.css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
        .panel.sky-form {border-color:#ddd;}
        .panel select[multiple] {min-height:120px;}
        #sku_tb .parent .two {background-color:#D0D0C8;}
        #sku_tb .parent.has-child .two {background-color:transparent;}
        #sku_tb .sku-img {display:none;}
        #sku_tb input[type="color"] {
            width: 120px;
            border: none;
            padding: 0;
            margin: 0;
            background: transparent;
            display: block;
            height: 32px;
        }
        #qrcode img {max-width:160px;margin:20px auto;}
    </style>
    <script type="text/html" id="photos-item-wrapper">
        <div id="savedimage{id}" class="col-sm-4 col-md-3">
            <a href="{url}" rel="gallery2" class="fancybox img-hover-v1">
                <span><img id="photo-{id}-preview" class="img-responsive" src="{url}" alt=""></span>
            </a>
            <button type="button" class="btn-u btn-u-xs"
                    onclick="javascript:upload_one_image('图片上传','#photo-{id}');">
                <i class="rounded-x fa fa-edit"></i>
            </button>
            <button type="button" class="btn-u btn-u-xs"
                    onclick="javascript:$('#savedimage{id}').remove();">
                <i class="rounded-x fa fa-trash-o"></i>
            </button>
            <input id="photo-{id}" type="hidden" name="photos_url[]" value="{filepath}">
            <input id="photo-{id}-name" type="hidden" name="photos_alt[]" value="{name}">
            <input id="photo-{id}-dress" type="hidden" name="photos_dress[]" value="0">
        </div>
    </script>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">修改面料</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Tf/Supplier/index')}">面料管理</a></li>
                <li class="active">修改面料</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>
            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:U('index')}">面料库</a></li>
                        <li class="active"><a>修改面料</a></li>
                    </ul>
                    <div class="tab-content">
                    <form class="sky-form" method="post" action="{:U('edit_post')}"
                    style="border:none;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default basic-info margin-bottom-10">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-edit"></i> 基本信息</h3>
                                    </div>
                                    <table class="table table-bordered">
                                        <tbody>
                                    
                                        <tr>
                                            <th>品名：</th>
                                            <td colspan="2">
                                                <label class="input">
                                                    <input type="text"  name="name" required value="{$data.name}" placeholder="请输入品名">
                                                </label>
                                            </td>
                                            <td rowspan="3">
                                                <div id="qrcode"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>编码：</th>
                                            <td colspan="2">
                                                <label class="label pull-left" style="line-height:27px;font-size:14px;color:#333;">
                                                    {$data.vend_id}-{$data.cat_code}-{$data.name_code}-
                                                </label>
                                                <label class="input pull-left">
                                                    <input type="text" id="code" name="code" value="{$data.code}" required placeholder="请输入商家自编号" aria-required="true">
                                                </label>
                                            </td>
                                        </tr>
                                    
                                
                                        </tbody>
                                    </table>
                                </div>
                                <div class="panel panel-default margin-bottom-10">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-edit"></i> 主要属性</h3>
                                    </div>
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <th style="width:80px;">规格：</th>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="spec" value="{$data.spec}">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>门幅：</th>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="width" value="{$data.width}">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>克重：</th>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="weight" value="{$data.weight}">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>原料：</th>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="material" value="{$data.material}">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>成分：</th>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="component" value="{$data.component}">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>面料管位置：</th>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="kim_located" value="{$data.kim_located}">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>色卡册位置：</th>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="colorboard_located" value="{$data.colorboard_located}">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>货架状态：</th>
                                            <td>
                                                <div class="inline-group">
                                                    <label class="radio">
                                                        <input type="radio" name="on_sale" value="1" checked>
                                                        <i class="rounded-x"></i>上架
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="on_sale" value="0">
                                                        <i class="rounded-x"></i>下架
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--<div class="panel panel-default margin-bottom-10">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-edit"></i>扩展属性</h3>
                                    </div>
                                    <table class="table table-bordered">
                                        <tbody>
                                        <foreach name="ex_list" item="vo">
                                            <tr>
                                                <th style="width:80px;">{$vo.key_name}：</th>
                                                <td>
                                                    <input type="hidden" name="ex_id[{$vo.key_id}]" value="{$vo.tfp_id}">
                                                    <input type="hidden" name="ex_key_name[{$vo.key_id}]" value="{$vo.key_name}">

                                                    <php>$is_must=$vo['is_must']?" required ":"";//是否必填</php>
                                                    <empty name="vo[value]">
                                                        <label class="input">
                                                            <input type="text" name="ex[{$vo.key_id}]" {$is_must} value="{$vo['value_text']}">
                                                        </label>
                                                        <else />
                                                        <label class="select">
                                                            <php>
                                                                $multiple = $vo['is_multi'] ? 'multiple':'';
                                                            </php>
                                                            <select {$multiple} {$is_must} name="ex[{$vo.key_id}][]">
                                                                <if condition="!($vo['is_multi'])"><option></option></if>
                                                                <foreach name="vo['value']" item="so">
                                                                    <php>$template_selected=(($vo['value_id']==$so['id']) or (strstr(",".$vo['value_text']."," ,  ",".$so['id'].",")))?"selected":"";</php>
                                                                    <option value="{$so['id']}" {$template_selected}>{$so['value']}</option>
                                                                </foreach>
                                                            </select>
                                                            <empty name="$vo['is_multi']"><i></i></empty>
                                                        </label>
                                                        <if condition="$vo['is_multi']"><div class="note">可多选</div></if>
                                                    </empty>
                                                </td>
                                            </tr>
                                        </foreach>
                                        </tbody>
                                    </table>
                                </div>-->
                                <div class="panel panel-default margin-bottom-20">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-edit"></i> 详情</h3>
                                    </div>
                                    <script type="text/plain" id="content" name="describe">{$data.describe}</script>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" name="id" value="{$data.id}">
                                <input type="hidden" name="vend_id" value="{$data.vend_id}">
                                <input type="hidden" name="cid" value="{$data.cid}">
                                <button type="submit" class="btn-u">{:L('SAVE')}</button>
                                <a class="btn-u btn-u-default" href="{:leuu('SupplierSku/index', array('id'=>$data['id']))}" target="_blank">库存</a>
                                <a class="btn-u btn-u-default" href="{:leuu('index')}">{:L('BACK')}</a>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
        //编辑器路径定义
        var editorURL = GV.WEB_ROOT;
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/qrcode.min.js"></script>
    <script type="text/javascript">
    </script>
    <script>
        $(function(){
            var qrcode = new QRCode($('#qrcode')[0]);
            qrcode.makeCode('{:leuu("Tf/Tf/fabric",array("id"=>$data[id]),false,true)}');

            editorcontent = new baidu.editor.ui.Editor();
            editorcontent.render('content');
            try {
                editorcontent.sync();
            } catch (err) {
            }
            //增加编辑器验证规则
            jQuery.validator.addMethod('editorcontent', function() {
                try {
                    editorcontent.sync();
                } catch (err) {
                }
                return editorcontent.hasContents();
            });

            jQuery(".fancybox").fancybox({
                groupAttr: 'data-rel',
                prevEffect: 'fade',
                nextEffect: 'fade',
                openEffect  : 'elastic',
                closeEffect  : 'fade',
                closeBtn: true,
                helpers: {
                    title: {
                        type: 'float'
                    }
                }
            });

            $(".fbox-modal").fancybox({
                maxWidth    : 800,
                maxHeight   : 600,
                fitToView   : false,
                width       : '70%',
                height      : '70%',
                autoSize    : false,
                closeClick  : false,
                closeEffect : 'fade',
                openEffect  : 'elastic'
            });


            //$('#code').mask('2099', {placeholder:'X'});
            $('.sky-form').validate({

                submitHandler: function(form) {
                    $(form).ajaxSubmit({
                        success:function(response){
                            if(response.status){
                                if(response.url){
                                    location.href = response.url;
                                }else{
                                    noty({text:response.info,type:'success'});
                                }
                            }else{
                                noty({text:response.info,type:'error'});
                            }
                        }
                    });
                }
            });
        })
        $(".select2").select2({
                theme: "bootstrap"
            });
    </script>
</block>