<extend name="Public:base-v8"/>
<block name="title"><title>面料管理</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/my_fabric.css">
    <link rel="stylesheet" href="__TMPL__assets/css/print-label.css">
    <style>
        .table th, td {
            text-align: center;
            vertical-align: middle !important;
        }

        .table th {
            color: #fff;
            background-color: #E6125D;
            margin-bottom: 10px;
        }

        .fabric-thumb .thumb {
            float: left;
            width: 80px;
            height: auto;
            margin-right: 5px;
        }

        .fabric-thumb .fabric-title {
            float: left;
        }

        .fabric-thumb .fabric-title a, .fabric-thumb .fabric-title span {
            display: block;
        }

        .fabric-thumb .fabric-title a {
            margin-bottom: 5px;
            font-size: 14px;
        }

        .fabric-thumb .fabric-title span {
            color: #999;
        }

        .sky-toggle.status i:after {
            content: '已下线';
        }

        .sky-toggle.status input:checked + i:after {
            content: '已上线';
        }

        .sky-toggle.ispublic i:after {
            content: '私密';
            right: 16px;
            left: 16px;
        }

        .sky-toggle.ispublic input:checked + i:after {
            content: '公开';
        }

        .sky-toggle.recommended i:after {
            content: '未推荐';
        }

        .sky-toggle.recommended input:checked + i:after {
            content: '已推荐';
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">面料管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">面料管理</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <php>
                    $statuses = D('Tf/Tf')->statuses;
                </php>
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <php>
                            if(!isset($_REQUEST['status'])) $default_active = 'active';
                        </php>
                        <li class="{$default_active}"><a href="{:leuu('Tf/Supplier/index')}">所有面料</a></li>
                        <foreach name="statuses" item="vo">
                            <php>
                                $actived = isset($_GET['status']) && $_GET['status'] == $key ? 'active':'';
                            </php>
                            <li class="{$actived}"><a href="{:leuu('index',array('status'=>$key))}">{$vo}</a></li>
                        </foreach>
                        <li class="pull-right"><a href="#" data-toggle="modal" data-target=".add-modal">添加面料</a></li>
                    </ul>
                    <div class="tab-content">
                        <notpresent name="_REQUEST[status]">
                            <form class="sky-form" method="get" action="{:U('index')}"
                                  style="margin-bottom:30px!important;border: 1px solid #eee;">
                                <header>筛选</header>
                                <fieldset>
                                    <section class="row">
                                        <label class="input col-sm-3">
                                            <input type="text" name="filter[keywords]" placeholder="关键字"
                                                   value="{$filter.keywords}">
                                        </label>
                                        <label class="input col-sm-3" style="padding-right:10px;">
                                            <input id="data-start" type="text" name="filter[datestart]"
                                                   placeholder="开始日期" value="{$filter.datestart}">
                                        </label>
                                        <label class="input col-sm-3 date2" style="padding-left:10px;">
                                            <input id="data-finish" type="text" name="filter[datefinish]"
                                                   placeholder="截止日期" value="{$filter.datefinish}">
                                        </label>
                                        <label class="select col-sm-2">
                                            <select name="filter[status]">
                                                <option value="">所有</option>
                                                <volist name="statuses" id="vo">
                                                    <php>$selected = isset($filter['status']) && $filter['status'] !==
                                                        '' && (int)$filter['status'] === $key ? 'selected':'';
                                                    </php>
                                                    <option value="{$key}" {$selected}>{$vo}</option>
                                                </volist>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="col-sm-1">
                                            <button type="submit" class="btn-u"><i class="fa fa-search"></i></button>
                                        </label>
                                    </section>
                                </fieldset>
                            </form>
                        </notpresent>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>面料名称</th>
                                <th>成分</th>
                                <th>状态</th>
                                <th>是否私密</th>
                                <th>是否推荐</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="list[data]" item="vo" key="k">
                                <tr>
                                    <td></td>
                                </tr>
                                <tr class="table-bordered"
                                    id="tf-{$vo.id}"
                                    data-id="{$vo.id}"
                                    data-biz_name="{$vo.supplier.biz_name}"
                                    data-biz_logo="{:get_thumb_url($vo[supplier][biz_logo],true,150)}"
                                    data-name="{$vo.name}"
                                    data-code="{$vo.code}"
                                    data-width="{$vo.width}"
                                    data-weight="{$vo.weight}"
                                    data-link="{:leuu('Tf/Tf/fabric',array('id'=>$vo[id]),false,true)}">
                                    <td class="text-left table-bordered">
                                        <div class="fabric-thumb">
                                            <div class="thumb">
                                                <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo['id']))}">
                                                    <img class="lazyload img-responsive"
                                                         data-original="{:get_thumb_url($vo['img']['thumb'],true,80)}"
                                                         alt="">
                                                </a>
                                            </div>
                                            <div class="fabric-title">
                                                <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo['id']))}">{$vo.name|msubstr=0,30}</a>
                                                <span>编码：{$vo.tf_code}</span>
                                                <notempty name="vo[width]"><span>门幅：{$vo.width}</span></notempty>
                                                <notempty name="vo[weight]"><span>克重：{$vo.weight}</span></notempty>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{$vo.component}</td>
                                    <td class="table-bordered">
                                        <php>$checked = $vo['status'] == 1 ? 'checked':'';</php>
                                        <label class="sky-toggle status">
                                            <input type="checkbox" name="checkbox-toggle" {$checked}>
                                            <i></i>
                                        </label>
                                    </td>
                                    <td class="table-bordered">
                                        <php>$checked = $vo['ispublic'] == 1 ? 'checked':'';</php>
                                        <label class="sky-toggle ispublic">
                                            <input type="checkbox" name="checkbox-toggle" {$checked}>
                                            <i></i>
                                        </label>
                                    </td>
                                    <td>
                                        <php>$checked = $vo['recommended'] == 1 ? 'checked':'';</php>
                                        <label class="sky-toggle recommended">
                                            <input type="checkbox" name="checkbox-toggle" {$checked}>
                                            <i></i>
                                        </label>
                                    </td>
                                    <td class="table-bordered">
                                        <a href="{:leuu('Sms/Supplier/send', array('tf_id'=>$vo[id],'pd_type'=>1))}">发送给好友</a>
                                        <br>
                                        <a href="{:leuu('edit', array('id'=>$vo['id']))}">编辑</a> |
                                        <a href="{:leuu('SupplierSku/index', array('id'=>$vo['id']))}">库存</a> |
                                        <a href="javascript:;" class="js-ajax-btn"
                                           data-confirm="true"
                                           data-msg="是否要删除该面料吗？"
                                           data-id="{$vo[id]}"
                                           data-href="{:leuu('delete')}"
                                           data-success="deleteSuccess">删除</a>
                                        <br>
                                        <a class="print-modal" href="javascript:void(0)">打印标签</a>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        <!-- Pagination -->
                        <div class="text-center md-margin-bottom-30">
                            <ul class="pagination">
                                {$list['page']}
                            </ul>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade print-label-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">打印标签</h4>
                </div>
                <div class="modal-body">
                    <h4 class="tfname"></h4>
                    <div class="print-area label-style1">
                        <div class="qrcode pull-left">
                            <img src="">
                        </div>
                        <ul class="info pull-left">
                            <li class="code">编号：<span></span></li>
                            <li class="width">幅宽：<span></span></li>
                            <li class="weight">克重：<span></span></li>
                        </ul>
                    </div>
                    <div class="print-area label-style2">
                        <div class="bizinfo">
                            <img src="">
                            <span></span>
                        </div>
                        <div class="tfinfo">
                            <div class="qrcode pull-left">
                                <img src="">
                            </div>
                            <ul class="info pull-left">
                                <li class="code">编号：<span></span></li>
                                <li class="width">幅宽：<span></span></li>
                                <li class="weight">克重：<span></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade add-modal" tabindex="-1" role="dialog"
         aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addModalLabel" class="modal-title">选择分类</h4>
                </div>
                <div class="modal-body">
                    <form id="addform" action="{:leuu('add')}">
                        <div class="row margin-bottom-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="cid" id="category" required>
                                        <option value="">请选择分类</option>
                                        {$cats_tree}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select name="name_code" class="form-control" required>
                                        <option value="">请选择名称</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn-u btn-u-red pull-right">下一步</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/js/jquery.jqprint.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        $(function(){
            var $modal = $('.print-label-modal');
            $('.print-modal').on('click', function(){
                var data = $(this).parents('tr.table-bordered').data();
                var $printarea = $('.print-area');
                $printarea.find('.bizinfo span').text(data.biz_name);
                $printarea.find('.bizinfo img').attr('src', data.biz_logo);
                $printarea.find('.code span').text(data.code);
                $printarea.find('.width span').text(data.width);
                $printarea.find('.weight span').text(data.weight);
                $qr = $('<div>').qrcode({
                    render: 'canvas',
                    text: data.link,
                    correctLevel: 3,
                    width: 100,
                    height: 100
                });
                var src = $qr.find('canvas')[0].toDataURL();
                $printarea.find('.qrcode img').attr('src',src);
                $modal.modal('show');
            });
            /*$qrcode = $('#qrcode');
            $qrcode.qrcode({
                render: 'canvas',
                text: '{$url}',
                correctLevel: 3,
                width: 400,
                height: 400
            });
            var $canvas = $qrcode.find('canvas');
            var src = $canvas[0].toDataURL();
            $canvas.hide();
            $qrcode.append('<img src="'+src+'">');*/

            $('.print-area').on('click',function(){
                $(this).jqprint({
                    //debug: true, //show the iframe for debugging
                    importCSS: true, // import page CSS
                    printContainer: true // grab outer container as well as the contents of the selector
                });
            });
        })
    </script>
    <script>
        $(function () {
            $('#addform').validate();

            $('.sky-toggle input[type="checkbox"]').change(function () {
                var $this = $(this);
                var id = $this.parents('tr').data('id');
                var value = $this.prop('checked') ? 1 : 0;
                var url = '';
                var data = {id: id, value: value};
                if ($this.parents('.sky-toggle').hasClass('status')) {
                    url = "{:leuu('toggle_status')}";
                } else if ($this.parents('.sky-toggle').hasClass('ispublic')) {
                    url = "{:leuu('toggle_public')}";
                } else if ($this.parents('.sky-toggle').hasClass('recommended')) {
                    url = "{:leuu('toggle_recommended')}";
                }
                if (url !== '') {
                    $.post(url, data, function (response) {
                        $this.prop('checked', response.data == 1);
                        if (response.status) {
                            noty({type: 'success', text: response.info});
                        } else {
                            noty({type: 'error', text: response.info});
                        }
                    });
                }
            })
        })
        // Date range
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function (selectedDate) {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function (selectedDate) {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });

        //选择分类和名称联动
        $("#category").change(function () {
            $('[name="name_code"]').children().not(":first").remove();
            $.getJSON("{:U('Supplier/cid_ajax')}", {cid: $(this).val()}, function (response) {
                var data = response.data;
                for (x in data) {
                    $('<option value="' + data[x].code + '">' + data[x].cname + '</option>').appendTo('[name="name_code"]');
                }
            });

        });

        function deleteSuccess(response) {
            if (response.url) {
                location.href = response.url;
            } else {
                if (response.status) {
                    $('#tf-' + response.data.id).remove();
                    if (response.info.length > 0) {
                        if (typeof noty == "function") {
                            noty({text: response.info, type: 'success'});
                        } else {
                            alert(response.info);
                        }
                    }
                } else {
                    if (response.info.length > 0) {
                        if (typeof noty == "function") {
                            noty({text: response.info, type: 'error'});
                        } else {
                            alert(response.info);
                        }
                    } else {
                        response.info = '操作出错！';
                    }
                }
            }
        }
    </script>

</block>