<extend name="Public:base-v8" />
<block name="title"><title>账户信息 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/fancybox/source/jquery.fancybox.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        dl {
            margin-top: 0;
            margin-bottom: 20px;
            font-size:14px;
        }
        .dl-horizontal dt, .dl-horizontal dd {
        }
        .dl-horizontal dt {
            float: left;
            width: 200px;
            overflow: hidden;
            clear: left;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight:500;
            color: #666;
        }
        .dl-horizontal dd {
            margin-bottom:20px;
            margin-left: 220px;
            color:#888;
        }
        img.auth-pic {
            max-height: 100px;
            border: 1px solid #eee;
            padding: 3px;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">账户信息</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">账户信息</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#profile">账户信息</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="profile" class="profile-edit tab-pane fade in active">
                            <dl class="dl-horizontal" style="padding-top:30px;">
                                <dt>用户名</dt>
                                <dd>{$_SESSION[user][user_login]}</dd>
                                <dt>身份</dt>
                                <dd>面料商</dd>
                                <dt>认证类型</dt>
                                <dd><php>echo D('BizAuth')->types[$biz_type];</php></dd>
                                <dt>真实姓名</dt>
                                <dd>{$auth.auth_fullname}</dd>
                                <dt>商铺名称</dt>
                                <dd>{$auth.auth_shop_name}</dd>
                                <dt>单位/组织名称(公司名称)</dt>
                                <dd>{$auth.auth_company}</dd>
                                <dt>所在地区</dt>
                                <dd>
                                    {$auth.auth_province_name}
                                    {$auth.auth_city_name}
                                    {$auth.auth_district_name}
                                </dd>
                                <dt>详细地址</dt>
                                <dd>{$auth.auth_address}</dd>
                                <eq name="biz_type" value="2">
                                    <dt>身份证正面扫描件</dt>
                                    <dd>
                                        <a class="fancybox" data-rel="fancybox-button" title="身份证正面扫描件" href="{:sp_get_asset_upload_path($auth[auth_photo_idcard])}">
                                            <img class="auth-pic" src="{:sp_get_asset_upload_path($auth[auth_photo_idcard])}">
                                        </a>
                                    </dd>
                                    <dt>身份证反面扫描件</dt>
                                    <dd>
                                        <a class="fancybox" data-rel="fancybox-button" title="身份证反面扫描件" href="{:sp_get_asset_upload_path($auth[auth_photo_idcard_back])}">
                                            <img class="auth-pic" src="{:sp_get_asset_upload_path($auth[auth_photo_idcard_back])}">
                                        </a>
                                    </dd>
                                </eq>
                                <eq name="biz_type" value="1">
                                    <dt>营业执照</dt>
                                    <dd>
                                        <a class="fancybox" data-rel="fancybox-button" title="营业执照" href="{:sp_get_asset_upload_path($auth[auth_photo_licence])}">
                                            <img class="auth-pic" src="{:sp_get_asset_upload_path($auth[auth_photo_licence])}">
                                        </a>
                                    </dd>
                                </eq>

                                <eq name="biz_type" value="2">
                                    <dt></dt>
                                    <dd>
                                        <a href="{:leuu('Bizauth/Index/company')}" class="btn-u btn-u-lg rounded btn-u-green">升级为企业认证</a>
                                    </dd>

                                </eq>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        $(function(){
            $(".fancybox").fancybox({
                groupAttr: 'data-rel',
                prevEffect: 'fade',
                nextEffect: 'fade',
                openEffect  : 'elastic',
                closeEffect  : 'fade',
                closeBtn: true,
                helpers: {
                    title: {
                        type: 'float'
                    }
                }
            });
        })
    </script>
</block>