<extend name="Public:base-v8"/>
<block name="title"><title>修改头像</title></block>
<block name="plugins_css">
	<link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.css">
</block>
<block name="css">
	<link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">

	<style type="text/css">
		.btn-u.btn-brd.btn-remove {
            color: #e6125d;
        }
        .product-item {
            margin:15px;
        }
        .product-item:first-child {margin-top:0;}
        .product-item:last-child {margin-bottom:0;}


		.tab-content{overflow: visible;}

		.uploaded_avatar_area{
			margin-top: 20px;
		}
		.uploaded_avatar_btns{
			margin-top: 20px;
		}
		.uploaded_avatar_area .uploaded_avatar_btns{display: none;}
	</style>
</block>
<block name="breadcrumbs">
	<div class="breadcrumbs-v4 margin-bottom-30">
        <div class="container">
            <span class="page-name">商家愛中心</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li class="active">店铺标志</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>
				
            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0)">修改头像</a></li>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="one">
	           		<if condition="empty($_SESSION[user][member][biz_logo])">
		            	<img src="__TMPL__assets/img/headicon/headicon_128.png" class="headicon"/>
		            <else/>
		            	<img src="{:sp_get_image_preview_url($_SESSION[user][member][biz_logo])}?t={:time()}" class="headicon"/>
		            </if>
	           		<input class="btn btn-u margin-top-20" type="file" onchange="avatar_upload(this)" id="avatar_uploder"  name="file"/>
	           		<div class="uploaded_avatar_area">
	           		
	           		<div class="uploaded_avatar_btns">
	           			<a class="btn btn-u confirm_avatar_btn" onclick="update_avatar()">确定</a>
	           			<a class="btn btn-u" onclick="reloadPage()">取消</a>
	           		</div>
	           		</div>
	           </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="plugins_js">
	<script src="__PUBLIC__/js/wind.js"></script>
	<script src="__PUBLIC__/js/frontend.js"></script>
</block>
<block name="js">
	<script type="text/javascript">
	    jQuery(document).ready(function () {
	    
	    });
	    function update_avatar(){
			var area=$(".uploaded_avatar_area img").data("area");
			$.post("{:U('Supplier/Center/avatar_update')}",area,
					function(data){
				if(data.status==1){
					reloadPage(window);
				}
				
			},"json");
			
		}
		function avatar_upload(obj){
			var $fileinput=$(obj);
			/* $(obj)
			.show()
			.ajaxComplete(function(){
				$(this).hide();
			}); */
			Wind.css("jcrop");
			Wind.use("ajaxfileupload","jcrop","noty",function(){
				$.ajaxFileUpload({
					url:"{:U('Supplier/Center/avatar_upload')}",
					secureuri:false,
					fileElementId:"avatar_uploder",
					dataType: 'json',
					data:{},
					success: function (data, status){
						if(data.status==1){
							$("#avatar_uploder").hide();
							var $uploaded_area=$(".uploaded_avatar_area");
							$uploaded_area.find("img").remove();
							var $img=$("<img/>").attr("src","__UPLOAD__shop_logo/"+data.data.file);
							$img.prependTo($uploaded_area);
							$(".uploaded_avatar_btns").show();
							$img.Jcrop({
						    	aspectRatio:1/1,
						    	setSelect: [ 0, 0, 100, 100 ],
						    	onSelect: function(c){
						    		$img.data("area",c);
						    	}
						    });
							
						}else{
							noty({text: data.info,
	                    		type:'error',
	                    		layout:'center'
	                    	});
						}
						
					},
					error: function (data, status, e){}
				});
			});
			
			return false;
		}
	</script>
</block>

