<extend name="Public:base-v8" />
<block name="title"><title>仪表盘 面料商后台 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC_/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .service-block-light {background: #fff;}
        /*Service Block v3 (used in profile pages)
------------------------------------*/
        .service-block-v3 i {
            color: #687074;
        }

        .service-block-v3 .service-heading,
        .service-block-v3 .service-in small {
            color: #687074;
        }

        .service-block-v3 .service-in h4,
        .service-block-v3 .counter {
            color: #687074;
        }

        /*Statistics*/
        .service-block-v3 .statistics .heading-xs {
            color: #687074;
        }

        .service-block-v3 .statistics small {
            color: #687074;
        }

        .service-block-v3 .statistics .progress {
            background: #bbb;
        }

        .service-block-v3 .statistics .progress-bar-light {
            background: #687074;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">仪表盘</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('index')}">面料商后台</a></li>
                <li class="active">仪表盘</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9 profile">
                <div class="profile-body">
                    <div class="service-block-v3 service-block-light marin-bottom-20"
                    style="margin-bottom:20px;">
                        <i class="icon-credit-card"></i>
                        <span class="service-heading">账户余额</span>
                        <span class="counter">￥{$member.account.amount_current}</span>

                        <div class="clearfix margin-bottom-10"></div>

                        <div class="row margin-bottom-10">
                            <div class="col-xs-3 service-in">
                                <small>短信数量</small>
                                <h4 class="counter">{$member.sms.sms_current}条</h4>
                            </div>
                            <div class="col-xs-3 service-in">
                                <small>冻结金额</small>
                                <h4 class="counter">￥{$member.account.amount_block}</h4>
                            </div>
                            <div class="col-xs-3 service-in">
                                <small>昨天收益</small>
                                <h4 class="counter">￥0.00</h4>
                            </div>
                        </div>
                        <div class="clearfix margin-bottom-10"></div>

                        <div class="row margin-bottom-10">
                            <div class="col-xs-3 service-in">
                                <small>总订单</small>
                                <h4 class="counter">{$order_count.all}</h4>
                            </div>
                            <div class="col-xs-3 service-in">
                                <small>近7日订单</small>
                                <h4 class="counter">{$order_count.week}</h4>
                            </div>
                            <div class="col-xs-3 service-in">
                                <small>待处理订单</small>
                                <h4 class="counter">{$order_count.processing}</h4>
                            </div>
                        </div>
                        <div class="clearfix margin-bottom-10"></div>

                        <div class="row margin-bottom-10">
                            <div class="col-xs-3 service-in">
                                <small>面料总数</small>
                                <h4 class="counter">{$tf_count}</h4>
                            </div>
                            <div class="col-xs-3 service-in">
                                <small>色卡总数</small>
                                <h4 class="counter">{$card_count}</h4>
                            </div>
                        </div>
                    </div>
                    <notempty name="history[tf]">
                        <div class="panel panel-profile no-bg" style="background: #fff;padding:15px;">
                            <div class="panel-body no-padding">
                                <div class="owl-carousel-v1 margin-bottom-20">
                                    <div class="headline"><h2 class="pull-left" style="font-size: 20px;">浏览过我的面料的人</h2>
                                        <div class="owl-navigation">
                                            <div class="customNavigation">
                                                <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
                                                <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div><!--/navigation-->
                                    </div>

                                    <div class="owl-recent-works-v1">
                                        <volist name="history[tf]" id="vo">
                                            <div id="history-1_{$vo.id}" data-id="{$vo.id}" class="item text-center">


                                                <a href="#">
                                                    <em class="overflow-hidden">
                                                            <img class="img-responsive rounded-x"
                                                                 src="{:get_avatar_url($vo[avatar])}">
                                                    </em>
                                                    <span>{$vo.nickname}</span>
                                                </a>
                                            </div>
                                        </volist>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </notempty>
                    <notempty name="history[card]">
                        <div class="panel panel-profile no-bg" style="background: #fff;padding:15px;">
                            <div class="panel-body no-padding">

                                <div class="owl-carousel-v1 margin-bottom-20">
                                    <div class="headline"><h2 class="pull-left" style="font-size: 20px;">浏览过我的色卡的人</h2>
                                        <div class="owl-navigation">
                                            <div class="customNavigation">
                                                <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
                                                <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div><!--/navigation-->
                                    </div>

                                    <div class="owl-recent-works-v1">
                                        <volist name="history[card]" id="vo">
                                            <div id="history-2_{$vo.id}" data-id="{$vo.id}" class="item text-center">


                                                <a href="#">
                                                    <em class="overflow-hidden">
                                                            <img class="img-responsive rounded-x"
                                                                 src="{:get_avatar_url($vo[avatar])}">
                                                    </em>
                                                    <span>{$vo.nickname}</span>
                                                </a>
                                            </div>
                                        </volist>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </notempty>
                    <notempty name="collect[tf]">
                        <div class="panel panel-profile no-bg" style="background: #fff;padding:15px;">
                            <div class="panel-body no-padding">

                                <div class="owl-carousel-v1 margin-bottom-20">
                                    <div class="headline"><h2 class="pull-left" style="font-size: 20px;">最近收藏我的面料的人</h2>
                                        <div class="owl-navigation">
                                            <div class="customNavigation">
                                                <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
                                                <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div><!--/navigation-->
                                    </div>

                                    <div class="owl-recent-works-v1">
                                        <volist name="collect[tf]" id="vo">
                                            <div id="collect-1_{$vo.id}" data-id="{$vo.id}" class="item text-center">


                                                <a href="#">
                                                    <em class="overflow-hidden">
                                                            <img class="img-responsive rounded-x"
                                                                 src="{:get_avatar_url($vo[avatar])}">
                                                    </em>
                                                    <span>{$vo.nickname}</span>
                                                </a>
                                            </div>
                                        </volist>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </notempty>
                    <notempty name="collect[card]">
                        <div class="panel panel-profile no-bg" style="background: #fff;padding:15px;">
                            <div class="panel-body no-padding">

                                <div class="owl-carousel-v1 margin-bottom-20">
                                    <div class="headline"><h2 class="pull-left" style="font-size: 20px;">最近收藏我的色卡的人</h2>
                                        <div class="owl-navigation">
                                            <div class="customNavigation">
                                                <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
                                                <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div><!--/navigation-->
                                    </div>

                                    <div class="owl-recent-works-v1">
                                        <volist name="collect[card]" id="vo">
                                            <div id="collect-2_{$vo.id}" data-id="{$vo.id}" class="item text-center">


                                                <a href="#">
                                                    <em class="overflow-hidden">
                                                            <img class="img-responsive rounded-x"
                                                                 src="{:get_avatar_url($vo[avatar])}">
                                                    </em>
                                                    <span>{$vo.nickname}</span>
                                                </a>
                                            </div>
                                        </volist>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </notempty>
                    <notempty name="collect[shop]">

                        <div class="panel panel-profile no-bg" style="background: #fff;padding:15px;">
                            <div class="panel-body no-padding">

                                <div class="owl-carousel-v1 margin-bottom-20">
                                    <div class="headline"><h2 class="pull-left" style="font-size: 20px;">最近收藏我的人</h2>
                                        <div class="owl-navigation">
                                            <div class="customNavigation">
                                                <a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>
                                                <a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div><!--/navigation-->
                                    </div>

                                    <div class="owl-recent-works-v1">
                                        <volist name="collect[shop]" id="vo">
                                            <div id="collect-3_{$vo.id}" data-id="{$vo.id}" class="item text-center">


                                                <a href="#">
                                                    <em class="overflow-hidden">
                                                            <img class="img-responsive rounded-x"
                                                                 src="{:get_avatar_url($vo[avatar])}">
                                                    </em>
                                                    <span>{$vo.nickname}</span>
                                                </a>
                                            </div>
                                        </volist>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </notempty>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        $(function(){

            var owl = jQuery(".owl-recent-works-v1");
            owl.owlCarousel({
                items: [6],
                itemsDesktop : [1000,6],
                itemsDesktopSmall : [900,4],
                itemsTablet: [600,3],
                itemsMobile : [479,2],
                slideSpeed: 1000
            });

            // Custom Navigation Events
            jQuery(".next-v2").click(function(){
                owl.trigger('owl.next');
            })
            jQuery(".prev-v2").click(function(){
                owl.trigger('owl.prev');
            })
        })
    </script>
</block>