<extend name="Public:base-v8" />
<block name="title"><title>商户资料 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form section {
            margin-bottom: 10px!important;
        }
        .sky-form .label {text-align: right;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">商户资料</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Supplier/Center/profile')}">设置中心</a></li>
                <li class="active">商户资料</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-setting"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#profile">商户资料</a></li>
                        <!--<li><a data-toggle="tab" href="#passwordTab">更改密码</a></li>-->
                    </ul>
                    <div class="tab-content">
                        <div id="profile" class="profile-edit tab-pane fade in active">
                            <h2 class="heading-md">管理您的商户资料</h2>
                            <p>请完善以下信息</p>
                            <br>
                            <form id="basic-form" class="sky-form" action="{:leuu('info_post')}"
                                  method="post" style="border:none;">
                                <fieldset>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">面料商</label>
                                        <p class="col-md-6 col-sm-8">{$member.biz_name}</p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">认证类型</label>
                                        <p class="col-md-6 col-sm-8">
                                            <php>$types = D('BizAuth')->types;</php>
                                            {$types[$member[biz_type]]}
                                        </p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">主营</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="member[main_core]" value="{$member.main_core}" required>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">商户介绍</label>
                                        <label class="textarea col-sm-9">
                                            <textarea name="member[biz_intro]" rows="3">{$member.biz_intro}</textarea>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">微信二维码</label>
                                        <label class="col-md-3">
                                            <input type="hidden" name="member[code_service]" id="thumb-code" value="{$member['code_service']|default=''}">
                                            <a href="javascript:upload_one_image('图片上传','#thumb-code');">
                                                <if condition="empty($member[code_service])">
                                                    <img src="__PUBLIC__/images/code.jpg" id="thumb-code-preview" width="135" style="cursor: hand"/>
                                                    <else />
                                                    <img src="{:sp_get_image_preview_url($member['code_service'])}" id="thumb-code-preview" width="135" style="cursor: hand"/>
                                                </if>
                                            </a>
                                        </label>
                                        <div class="col-md-6">
                                            <p>
                                                请您上传微信二维码<br>
                                                （文件上传大小不超过1M）
                                            </p>
                                        </div>
                                    </section>
                                </fieldset>
                                <fieldset>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">Email</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="email" name="contact[contact_email]" value="{$member.contact.contact_email}" />
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">QQ</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="contact[contact_qq]" value="{$member.contact.contact_qq}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">微信</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="contact[contact_wechat]" value="{$member.contact.contact_wechat}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">固话</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="contact[contact_tel]" value="{$member.contact.contact_tel}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">手机</label>
                                        <label class="input col-md-6 col-sm-8">
                                            <input type="text" name="contact[contact_mobile]" value="{$member.contact.contact_mobile}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">地区</label>
                                        <label class="select col-sm-3">
                                            <select name="contact[contact_province]" data-sub="contact[contact_city]" onchange="getAreas(this.value,'contact[contact_city]')">
                                                <option disabled selected>省（必须）</option>
                                                <foreach name="areas[areas][provinces]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['province'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="select col-sm-3">
                                            <select name="contact[contact_city]" data-sub="contact[contact_district]" onchange="getAreas(this.value,'contact[contact_district]')">
                                                <option disabled selected>市（必须）</option>
                                                <foreach name="areas[areas][cities]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['city'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="select col-sm-3">
                                            <select name="contact[contact_district]">
                                                <option disabled selected>区（必须）</option>
                                                <foreach name="areas[areas][districts]" item="vo">
                                                    <php>$selected = $vo['id'] == $areas['selected']['district'] ? 'selected':'';</php>
                                                    <option value="{$vo.id}" {$selected}>{$vo.name}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-1 col-sm-2">地址</label>
                                        <label class="input col-sm-9">
                                            <input type="text" name="contact[contact_address]" value="{$member.contact.contact_address}">
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn-u">保存</button>
                                    <button type="reset" class="btn-u btn-u-default">重置</button>
                                </footer>
                            </form>
                        </div>

                        <div id="passwordTab" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">密码安全设置</h2>
                            <p>更改您的登录密码。</p>
                            <br>
                            <form class="sky-form" id="pwd-form" action="{:leuu('User/Profile/password_post')}" method="post">
                                <dl class="dl-horizontal">
                                    <dt>旧密码</dt>
                                    <dd>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" id="old-password" name="old_password" placeholder="旧密码">
                                            </label>
                                        </section>
                                    </dd>
                                    <dt>新密码</dt>
                                    <dd>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" id="password" name="password" placeholder="新密码">
                                                <b class="tooltip tooltip-bottom-right">新密码不能与旧密码相同</b>
                                            </label>
                                        </section>
                                    </dd>
                                    <dt>确认密码</dt>
                                    <dd>
                                        <section>
                                            <label class="input">
                                                <i class="icon-append fa fa-lock"></i>
                                                <input type="password" name="repassword" placeholder="确认密码">
                                                <b class="tooltip tooltip-bottom-right">确认密码需要与新密码一致</b>
                                            </label>
                                        </section>
                                    </dd>
                                </dl>
                                <button type="reset" class="btn-u btn-u-default">重置</button>
                                <button class="btn-u" type="submit">保存</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        $(function(){
            $('.sky-form').validate();
        })
    </script>
</block>