<extend name="Admin:base-v2" />
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Editor/css/editor.bootstrap.min.css">
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('index')}">权限规则</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="rule-table" class="table table-striped table-bordered"></table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/jquery/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Editor/js/editor.bootstrap.min.js"></script>
    <script>
        var url = "{:leuu('index')}";
        var post_url = "{:leuu('index')}";
        var editor;
        $(function(){
            editor = new $.fn.dataTable.Editor( {
                ajax: post_url,
                table: "#rule-table",
                idSrc:  'id',
                fields: [ {
                        label: "名称",
                        name: "title"
                    }, {
                        label: "模块",
                        name: "module"
                    }, {
                        label: "分类",
                        name: "type",
                        def: "supplier_url"
                    }, {
                        label: "规则",
                        name: "name"
                    }, {
                        label: "参数",
                        name: "param"
                    }, {
                        label: "状态",
                        name: "status",
                        type: "select",
                        options: [
                            { label: "正常", value: 1 },
                            { label: "禁用", value: 0 }
                        ],
                        def: 1
                    }, {
                        label: "附加条件",
                        name: "condition"
                    }
                ],
                i18n: {
                    create: {
                        button: "添加",
                        title:  "添加规则",
                        submit: "保存"
                    },
                    edit: {
                        button: "修改",
                        title:  "修改规则",
                        submit: "保存"
                    },
                    remove: {
                        button: "删除",
                        title:  "删除规则",
                        submit: "删除",
                        confirm: {
                            _: "是否要删除被选中的%d个规则？",
                            1: "是否要删除这个规则？"
                        }
                    }
                }
            } );
            var table = $('#rule-table').DataTable({
                lengthChange: false,
                dom: "Bfrtip",
                select: true,
                "ajax": {
                    "url": url,
                    //"dataSrc": "data",//默认为data
                    "type": "post",
                    "error":function(){noty({type:'error',text:"服务器未正常响应，请重试"});}
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "id",
                    "title": "ID"
                },{
                    "data": "title",
                    "title": "名称"
                },{
                    "data": "name",
                    "title": "规则"
                },{
                    "data": "param",
                    "title": "参数"
                },{
                    "data": "type",
                    "title": "类型"
                },{
                    "data": "module",
                    "title": "模块",
                },{
                    "data": "status",
                    "title": "状态",
                    "render": function(data, type, row, meta){
                        return data == 1 ? '正常':'禁用';
                    }
                }],
                buttons: [
                    { extend: "create", text: "添加", editor: editor },
                    { extend: "edit", text: "修改", editor: editor },
                    { extend: "remove", text: "删除", editor: editor }
                ]
            });
        })
    </script>
</block>