<extend name="Admin:base-v2" />
<block name="css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
    </style>
</block>
<block name="main">
    <div class="tab-v2">
        <ul class="nav nav-tabs">
            <li class="active"><a href="javascript:void(0)">发货单</a></li>
            <li><a href="{:leuu('Order/AdminGroup/group',array('id'=>$group_id))}">返回拼单</a></li>
        </ul>
        <div class="tab-content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>发货单流水号</th>
                    <th>订单号</th>
                    <th>下单时间</th>
                    <th>收货人</th>
                    <th>发货时间</th>
                    <th>发货单状态</th>
                    <th>操作人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="deliveries" id="vo">
                    <tr>
                        <td>{$vo.delivery_sn}</td>
                        <td>{$vo.order_sn}</td>
                        <td>{:date('Y-m-d H:i:s', $vo['add_time'])}</td>
                        <td>{$vo.consignee}</td>
                        <td>
                            <notempty name="vo[shippint_time]">
                                {:date('Y-m-d H:i:s', $vo['shipping_time'])}
                            </notempty>
                        </td>
                        <td>{$statuses[$vo[status]]}</td>
                        <td>{$vo.nickname|default=$user_login}</td>
                        <td>
                            <a href="{:U('view', array('id'=>$vo[delivery_id]))}">查看</a>
                            <present name="xxxxxxxx">
                                |
                                <a href="#" class="js-ajax-btn"
                                   data-confirm="true"
                                   data-href="{:U('delete')}"
                                   data-id="{$vo.delivery_id}"
                                   data-msg="删除发货单后，订单将变为未发货状态！<br>是否要删除？">移除</a>
                            </present>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <ul class="pagination">{$deliveries.page}</ul>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
        })
    </script>
</block>