
<extend name="Admin:base-v2" />
<block name="css"></block>
<block name="main">
    <div class="container-fluid content-xs">
        <php>
            $delivery_statuses = D('Order/Delivery')->statuses;
        </php>
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <php>$active = !isset($_GET['status']) ? 'active':'';</php>
                <li class="{$active}"><a href="{:U('index')}">所有发货单</a></li>
                <foreach name="delivery_statuses" item="vo">
                    <php>$active = isset($_GET['status']) && $_GET['status'] == $key ? 'active':'';</php>
                    <li class="{$active}"><a href="{:U('index',array('status'=>$key))}">{$vo}</a></li>
                </foreach>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <notpresent name="_REQUEST[status]">
                    <div class="panel panel-default margin-bottom-40">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-tasks"></i> 筛选</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline form-search" method="get" action="{:U('index')}">
                                <div class="form-group">
                                    <label>发货单状态</label>
                                    <select name="filter[type]" class="form-control">
                                    <option value="-1">全部</option>
                                        <foreach name="delivery_statuses" item="vo">
                                            
                                            <php>$selected = isset($filter['type']) && $filter['type'] == $key ? 'selected':'';</php>
                                            <option value="{$key}" {$selected}>{$vo}</option>
                                        </foreach>
                                    </select>
                                </div>&nbsp;&nbsp;
                                <div class="form-group">
                                    <label>订单号</label>
                                    <input type="text" name="filter[order_sn]" class="form-control" value="{$filter.order_sn}" placeholder="请输入订单号">
                                </div>
                                <button type="submit" class="btn-u btn-u-red">搜索</button>
                                <a class="btn-u btn-u-default" href="{:U('index')}">清空</a>
                            </form>
                        </div>
                    </div>
                    </notpresent>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>发货单流水号</th>
                                <th>订单号</th>
                                <th>下单时间</th>
                                <th>收货人</th>
                                <th>发货时间</th>
                                <th>发货单状态</th>
                                <th>操作人</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <volist name="deliveries[data]" id="vo">
                            <tr>
                                <td>{$vo.delivery_sn}</td>
                                <td>{$vo.order_sn}</td>
                                <td>{:date('Y年m月d日 H:i:s', $vo['add_time'])}</td>
                                <td>{$vo.consignee}</td>
                                <td>{:date('Y年m月d日 H:i:s', $vo['shipping_time'])}</td>
                                <td>{$statuses[$vo[status]]}</td>
                                <td>{$vo.nickname|default=$user_login}</td>
                                <td>
                                    <a href="{:U('view', array('id'=>$vo[delivery_id]))}">查看</a>
                                    <present name="xxxxxxxxx">
                                        |
                                    <a href="#" class="js-ajax-btn"
                                    data-confirm="true"
                                    data-href="{:U('delete')}"
                                    data-id="{$vo.delivery_id}"
                                    data-msg="删除发货单后，订单将变为未发货状态！<br>是否要删除？">移除</a>
                                        </present>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <ul class="pagination">{$deliveries.page}</ul>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
</block>
<block name="js">
     <script>
        $(function(){
        })
    </script>
</block>