<extend name="Public:base-v8" />
<block name="title"><title>面料商色卡列表 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/global.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/page_search.css">
</block>
<block name="css">
    <style>

        .product-ratings li.like-icon.active a {
            color: #e6125d;
        }
        .tab-list a{
            color: #687074;
        }
        .tab-list a:hover{
            color: #e6125d;
            cursor:pointer;
        }
        .btn-u.btn-brd.btn-collect {
            color: #e6125d;
        }
        .btn-u.btn-brd.btn-collect.active {
            background: #e6125d;
            color: #fff;
        }

        .card-title {
            color: #e6125d;
            border-bottom: 1px solid #eee;
        }
        .dropdown-menu {
            min-width:102px;
        }
        .rgba-si{
            color: #bbb;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            float: left;
            margin-left: 5px;
        }
    </style>
</block>
<block name="main">
    <div class="search-block parallaxBg margin-bottom-0" style="background: url(__PUBLIC__/img/classify/01.jpg)">
    <div style="position: absolute;top: 0;left: 0;right: 0;width: 100%;background: rgba(0,0,0,.5)"></div>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
        <php>
            $supplier = D('BizMember')->getMember($_GET['id']);
        </php>
            <form action="" class="sky-form page-search-form" method="post">
                <h1>{$supplier['biz_name']}</h1>
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="搜索本店色卡..." value="{:I('search')}">
                    <span class="input-group-btn">
                            <button class="btn-u btn-u-lg" type="submit" style="padding: 9px 25px"><i class="fa fa-search"></i></button>
                    </span>
                </div> 
            </form>
        </div>
    </div>
</div>

    <!--=== Content Part ===-->
    <div class="bg-color-light">
        <div class="content container ">
            <div class="row">
                <div class="col-md-3 filter-by-block md-margin-bottom-60">
                    <div class="product-detail" style="background-color: #fff; margin-bottom:10px;">
                        <div class="store-box">
                            <img class="img-responsive" src="{:get_thumb_url($supplier['biz_logo'],true)}" style="padding:20px;">
                            <a style="font-weight:normal;margin-top: -10px;font-size:14px;"><i class="fa fa-home"></i> {$supplier['biz_name']}</a>
                            <a href="#" class="qrcode" style="font-weight:normal;margin-top: -10px;font-size:14px;margin-left:6px;" data-toggle="g-popup" data-target="#shop-qrcode" data-link="{:leuu('Supplier/Index/Single',array('id'=>$_GET['id']))}"><i class="glyphicon glyphicon-qrcode"></i> 店铺二维码</a>
                            <notempty name="supplier['main_core']">
                                <p style="margin-top:10px;">主营产品： {$supplier['main_core']}</p>
                            </notempty>
                            <notempty name="supplier[auth][auth_province_name]">
                            <p style="margin-top:10px;">所在地区：{$supplier[auth][auth_province_name]} {$supplier[auth][auth_city_name]} {$supplier[auth][auth_district_name]}</p>
                            </notempty>
                            <notempty name="_SESSION[user]">
                            <empty name="fans">
                                <a id="btn-apply-fans" href="javascript:void(0)" class="btn-u tooltips js-ajax-btn rounded"
                                data-original-title="成为面料商好友后可看更多的面料和色卡。"
                                data-toggle="tooltip"
                                data-placement="right"
                                data-href="{:leuu('User/Fans/apply_supplier_fans')}"
                                data-id="{$supplier.id}"
                                data-success="applySuccess"><i class="fa fa-user popup-wx-login" style="vertical-align: middle"></i>&nbsp;申请好友</a>
                            </empty>
                            </notempty>
                        </div>
                    </div>

                    <div class="product-detail" style="background-color: #fff;">
                        
                        <div class="store-box no-padding">
                            <h4 style="border-bottom: 1px solid #eee;padding: 3px 0 8px;">简介</h4>
                            <notempty name="supplier['biz_intro']">
                                <p style="text-align: left;text-indent:2em;padding:0 15px;">{$supplier['biz_intro']}</p>
                            </notempty>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row margin-bottom-5">
                        <div class="col-sm-2 tab-list" style="margin-top:2px;">
                            <a href="{:leuu('single',array('id'=>$_GET['id']))}" class="active" style="font-size: 24px;">面料列表</a>
                        </div>
                        <div class="col-sm-4 result-category">
                            <h2 style="font-size: 24px;color: #e6125d;">色卡列表</h2>
                            <small class="shop-bg-red badge-results">{$list[total]} 个色卡</small>
                        </div>
                        <div class="col-sm-6 padding-right-0">
                            <ul class="list-inline clear-both">
                                <li class="sort-list-btn">
                                    <h3>显示 :</h3>
                                    <div class="btn-group">
                                        <php>$show_num =array(12,8,6,4)</php>
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown">
                                            {$_GET['ps']|default="12"} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <foreach name="show_num" item="voo">
                                                <li><a href="{:leuu('Supplier/Index/colorcard',array('id'=>$_GET['id'],'ps'=>$voo))}">{$voo}</a></li>
                                            </foreach> 
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!--/end result category-->
                    <div class="product-list filter-results mls-list">
                        <div class="row">
                            <volist name="list[data]" id="vo">
                                <eq name="mod" value="2"></div><div class="row"></eq>
                                <div class="col-md-6">
                                    <div class="product-item overflow-h">
                                        <div class="col-xs-4 text-center" style="padding-right: 30px;">
                                            <a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id]))}" target="_blank" class="color-card-photo">
                                                <img class="img-responsive" style="margin: 0 auto;height:98px;" src="{:get_thumb_url($vo[frontcover], true)}">
                                                
                                            </a>
                                           
                                            <div class="" style="margin-top: 15px">
                                                <php>
                                                    $actived = $vo['is_collected'] ? 'active':'';
                                                    $original_title = $vo['is_collected'] ? '取消收藏':'收藏';
                                                </php>
                                                <button id="btn-collect-{$vo.card_id}" class="btn-u btn-brd btn-brd-hover rounded btn-u-xs js-ajax-btn btn-collect {$actived}"
                                                        data-placement="left"
                                                        data-href="{:leuu('Collect/Index/toggle',array('type'=>2))}"
                                                        data-id="{$vo.card_id}"
                                                        data-status="{$vo.is_collected}"
                                                        data-method="GET"
                                                        data-success="collectSuccess">
                                                    <empty name="_SESSION[user]">
                                                        <i class="fa fa-heart popup-wx-login" style="vertical-align: middle">&nbsp;{$original_title}</i>
                                                    <else/>
                                                        <i class="fa fa-heart">&nbsp;{$original_title}</i>
                                                    </empty>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-xs-7 " style="padding-right: 20px;padding-left: 0;margin-left: -15px;">
                                            <h4 class="card-title clearfix" style="margin-right: -10px;"><a class="pull-left" href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id]))}" target="_blank">{$vo.card_name}</a>
                                            <eq name="vo[ispublic]" value="0">
                                            <div class="rgba-si">私密</div>
                                        </eq></h4>
                                            <div class="materials-imgs row margin-bottom-15">
                                                <php>$c=0;</php>
                                                <foreach name="vo[pages]" item="page">
                                                    <php>if($c > 3) break;</php>
                                                    <foreach name="page[items]" item="goods">
                                                        <php>
                                                            $c++;
                                                            if($c > 3) break;
                                                        </php>
                                                        <div class="col-xs-4">
                                                            <a href="{:leuu('Tf/Tf/fabric',array('id'=>$goods[tf_id]))}">
                                                                <img class="img-responsive" src="{:get_thumb_url($goods[tf][img][thumb], true)}" style="max-width:120%">
                                                            </a>
                                                        </div>
                                                    </foreach>
                                                </foreach>
                                                <php>unset($c);</php>
                                            </div>
                                        </div>
                                        <div class="col-xs-1 see-more" style="white-space: nowrap;margin-left: 0px;">
                                            <a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id]))}" target="_blank">
                                                查看
                                                <i class="fa fa-chevron-circle-right"></i>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </volist>
                        </div>
                    </div>

                    <div class="text-center">
                        <ul class="pagination pagination-v2" style="color:#555;">{$list['page']}</ul>
                    </div><!--/end pagination-->
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>
    <!--=== End Content Part ===-->

</block>
<block name="plugins_js">

    <div id="shop-qrcode" class="g-popup-wrapper">
        <div class="g-popup g-popup--discount2" style="width:auto;">
            <div class="g-popup--discount2-message text-center" style="padding: 35px 50px 50px;">
                <h4>请用微信扫一扫，进入店铺</h4>
                <div class="qrcode"  style="background:#fff;padding:10px;text-align:center;">
                </div>
            </div>
            <a href="javascript:void(0);" class="g-popup__close g-popup--discount2__close"><span class="icon-close" aria-hidden="true"></span></a>
        </div>
    </div>

    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
</block>
<block name="js">
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            MouseWheel.initMouseWheel();

            //生成店铺二维码
            $('#shop-qrcode .qrcode').qrcode({ 
                render: "canvas", //table方式 
                width: 204, //宽度 
                height:204, //高度 
                text: "{:leuu('Supplier/Index/single',array('id'=>$supplier['id']),false,true)}" //任意内容 
            }); 
        });

        $(".close").click(function () {

        });

        function collectSuccess(response){
            if(response.referer){
                // location.href = response.url;
            }else{
                var $collect = $('#btn-collect-'+response.data.goods_id);
                if (response.state === 'success') {
                    if(response.data.rec_id > 0){
                        $collect.data('status',1).addClass('active');
                        $collect.html('<i class="fa fa-heart" style="vertical-align: middle"></i> 取消收藏');
                        noty({type:'success',text:'已添加收藏！'});
                    }else{
                        $collect.data('status',0).removeClass('active');
                        $collect.html('<i class="fa fa-heart" style="vertical-align: middle"></i> 收藏');
                        noty({type:'success',text:'已取消收藏！'});
                    }
                } else if (response.state === 'fail') {
                    noty({type:'error',text:response.info});
                }
            }
        }

        function applySuccess(response){
            if(response.referer){
                location.href = response.url;
            }else{
                var $btn = $('#btn-apply-fans');
                if (response.state === 'success') {
                    if(response.is_fans){
                        location.reload();
                    }else{
                        $btn.off('click');
                        $btn.text('已发送申请').css('background','#f7a8c4');
                        noty({type:'success',text:response.info});
                    }
                } else if (response.state === 'fail') {
                    noty({type:'error',text:response.info});
                }
            }
        }
    </script>
</block>