<extend name="Public:base-v8" />
<block name="title"><title>面料商 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/global.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/page_search.css">
</block>
<block name="css">
    <style>
        .btn-u.btn-brd.btn-collect {
            color: #e6125d;
        }
        .btn-u.btn-brd.btn-collect.active {
            background: #e6125d;
            color: #fff;
        }
        .materials-text .col-xs-10 .info {
            border-top:none;
            padding:0;
        }
        .materials-imgs ~ .materials-text .col-xs-10 .info {
            border-top: 1px solid #e0e0e0;
            padding-top:10px;
        }
        .see-more {
            position: absolute;
            right: 0;
            bottom: 0;
            margin-top: 0;
        }
        .materials-imgs a {
            display: block;
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-bottom: 67%;
            background-position:center;
            background-size:cover;
        }
        .product-item .avatar {border-radius:50%;}
        .materials-imgs a img {position:absolute;top:0;left:0;}
        .dropdown-menu {
            min-width:102px;
        }
    </style>
</block>
<block name="main">
    <tc_include file="Public:search-block"/>

    <!--=== Content Part ===-->
    <div class="bg-color-light">
        <div class="content container">
            <div class="row margin-bottom-5">
                <div class="col-sm-4 result-category">
                    <h2 style="font-size: 24px">面料商</h2>
                    <small class="shop-bg-red badge-results">{$list[total]} 个结果</small>
                </div>
                <div class="col-sm-8" style="padding-right: 0">
                    <ul class="list-inline clear-both">
                        <li class="sort-list-btn">
                            <h3>显示数量 :</h3>
                            <div class="btn-group">
                                <php>$show_num = array(16,12,8,4);</php>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    {$_GET['ps']|default="16"} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <foreach name="show_num" item="voo">
                                    <li><a href="{:leuu('Supplier/index/index',array('ps'=>$voo))}">{$voo}</a></li>
                                    </foreach>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!--/end result category-->

            <div class="product-list filter-results">
                <div class="row">
                    <volist name="list[data]" id="vo" mod="2"> 
                        <eq name="mod" value="0"></div><div class="row"></eq>
                        <div class="col-md-6">
                            <div class="product-item overflow-h">
                                <div class="col-xs-3 text-center">
                                    <a href="{:leuu('Supplier/Index/single',array('id'=>$vo[id]))}" class="color-card-photo">
                                            <img class="img-responsive" style="margin: 0 auto;" src="{:get_avatar_url($vo[biz_logo])}">
                                    </a>
                                    <!--<p class="color-card-name margin-top-10"><a href="">色卡集</a></p>-->
                                    <!--<p class="color-999"><a href="#"><i class="icon-users" style="font-size: 16px;vertical-align: text-bottom"></i> 万丽纺织</a></p>-->
                                    <div class="margin-top-20">
                                        <php>
                                            $actived = $vo['is_collected'] ? 'active':'';
                                            $original_title = $vo['is_collected'] ? '取消收藏':'收藏';
                                        </php>
                                        <button id="btn-collect-{$vo.id}" class="btn-u btn-brd btn-brd-hover rounded btn-u-xs js-ajax-btn btn-collect {$actived}"
                                                data-placement="left"
                                                data-href="{:leuu('Collect/Index/toggle',array('type'=>3))}"
                                                data-id="{$vo.id}"
                                                data-status="{$vo.is_collected}"
                                                data-method="GET"
                                                data-success="collectSuccess">
                                            <empty name="_SESSION[user]">
                                                <i class="fa fa-heart popup-wx-login" style="vertical-align: middle">&nbsp;{$original_title}</i>
                                            <else/>
                                                <i class="fa fa-heart">&nbsp;{$original_title}</i>
                                            </empty>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-xs-9 product-item-b">
                                    <notempty name="vo[cards]">
                                        <div class="materials-imgs row margin-bottom-15">
                                            <foreach name="vo[cards]" item="voo">
                                                <php>$style = "background-image:url(".get_thumb_url($voo[frontcover], true, 150).");";</php>
                                                <div class="col-xs-4">
                                                    <a href="{:leuu('Colorcard/Index/view',array('id'=>$voo[card_id]))}" style="{$style}"></a>
                                                </div>
                                            </foreach>
                                        </div>
                                    </notempty>
                                    <div class="materials-text row">
                                        <div class="col-xs-10">
                                            <div class="info">
                                    <span>
                                        <b>面料商:</b>
                                        <span class="state">{$vo.biz_name}</span>
                                    </span>
                                                <span>
                                        <b>主营:</b>
                                        <span class="state">{$vo.main_core}</span>
                                    </span>
                                                <span>
                                        <b>地区:</b>
                                        <span class="state">
                                            {$vo.auth.auth_province_name}
                                            {$vo.auth.auth_city_name}
                                            {$vo.auth.auth_district_name}
                                        </span>
                                    </span>
                                            </div>
                                        </div>
                                        <div class="col-xs-2 see-more">
                                            <a href="{:leuu('Supplier/Index/single',array('id'=>$vo[id]))}">
                                                查看
                                                <i class="fa fa-chevron-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </volist>
                </div>
            </div>

            <div class="text-center">
                <ul class="pagination pagination-v2" style="color:#555;">{$list[page]}</ul>
            </div><!--/end pagination-->

            <!--/end row-->
        </div><!--/end container-->
    </div>
    <!--=== End Content Part ===-->
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
</block>
<block name="js">
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            MouseWheel.initMouseWheel();
        });

        $(".close").click(function () {

        });

        function collectSuccess(response){
            if(response.referer){
                // location.href = response.url;
            }else{
                var $collect = $('#btn-collect-'+response.data.goods_id);
                if (response.state === 'success') {
                    if(response.data.rec_id > 0){
                        $collect.data('status',1).addClass('active');
                        $collect.html('<i class="fa fa-heart" style="vertical-align: middle"></i> 取消收藏');
                        noty({type:'success',text:'已添加收藏！'});
                    }else{
                        $collect.data('status',0).removeClass('active');
                        $collect.html('<i class="fa fa-heart" style="vertical-align: middle"></i> 收藏');
                        noty({type:'success',text:'已取消收藏！'});
                    }
                } else if (response.state === 'fail') {
                    noty({type:'error',text:response.info});
                }
            }
        }
    </script>
</block>