<extend name="Public:base-v8" />
<php>
    $supplier = D('BizMember')->getMember($_GET['id']);
</php>
<block name="title"><title>{$supplier.biz_name} {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/js/select2/css/select2.min.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/global.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/page_search.css">
</block>
<block name="css">
    <style>
        .product-ratings li.like-icon.active a {
            color: #e6125d;
        }
        .tab-list a{
            color: #687074;
        }
        .tab-list a:hover{
            color: #e6125d;
            cursor:pointer;
        }
        .products-results > div:last-child{
            margin-bottom: 0;
        }

        .filters {
            padding: 10px 0;
            margin-bottom: 30px;
            border-top: 1px solid #dedede;
        }
        .filters select {
            width: 190px;
        }
        .filters label {
            height: 36px;
            line-height: 34px;
            margin: 0;
            float: left;
            font-weight: normal;
            color: #555;
        }
        .filters .filter-name .select2 {float:left;}

        .select2-container .select2-selection--single {
            border-radius:0;
            border-color: #dedede;
            height: 36px;
        }
        .select2-container .select2-selection--single .select2-selection__rendered {
            line-height: 36px;
            padding-right: 30px;
        }
        .select2-container .select2-selection--single .select2-selection__arrow {
            height: 34px;
            width: 30px;
        }
        .select2-container .select2-dropdown {border-radius:0;}
        .select2-container .select2-search--dropdown .select2-search__field {border-color: #dedede;}
        .select2-container .select2-search--dropdown .select2-search__field:focus {
            outline: none;
            border-color: #ff518f;
        }
        .select2-container .select2-results__option--highlighted[aria-selected] {background-color: #ff518f;}
        .select2-dropdown {border-color:#dedede;}
        .select2-results__option:first-child {padding:6px;}
    </style>
</block>
<block name="main">
    <div class="search-block parallaxBg margin-bottom-0" style="background: url(__PUBLIC__/img/classify/01.jpg)">
        <div style="position: absolute;top: 0;left: 0;right: 0;width: 100%;background: rgba(0,0,0,.5)"></div>
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <form action="" class="sky-form page-search-form" method="post">
                    <h1>{$supplier['biz_name']}</h1>
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="搜索本店面料..." value="{:I('search')}">
                        <span class="input-group-btn">
                                <button class="btn-u btn-u-lg" type="submit" style="padding: 9px 25px"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <!--=== Content Part ===-->
    <div class="bg-color-light">
        <div class="content container ">
            <div class="row">
                <div class="col-md-3 filter-by-block md-margin-bottom-60">
                    <div class="product-detail" style="background-color: #fff; margin-bottom:10px;">
                        <div class="store-box">
                            <img class="img-responsive" src="{:get_thumb_url($supplier['biz_logo'],true)}" style="padding:20px;">
                            <a style="font-weight:normal;margin-top: -10px;font-size:14px;"><i class="fa fa-home"></i> {$supplier['biz_name']}</a>
                            <a href="#" class="qrcode" style="font-weight:normal;margin-top: -10px;font-size:14px;margin-left:6px;" data-toggle="g-popup" data-target="#shop-qrcode" data-link="{:leuu('Supplier/Index/Single',array('id'=>$_GET['id']))}"><i class="glyphicon glyphicon-qrcode"></i> 店铺二维码</a>
                            <notempty name="supplier['main_core']">
                                <p style="margin-top:10px;">主营产品： {$supplier['main_core']}</p>
                            </notempty>
                            <notempty name="supplier[auth][auth_province_name]">
                            <p style="margin-top:10px;">所在地区：{$supplier[auth][auth_province_name]} {$supplier[auth][auth_city_name]} {$supplier[auth][auth_district_name]}</p>
                            </notempty>
                            <notempty name="_SESSION[user]">
                            <empty name="fans">
                                <a id="btn-apply-fans" href="javascript:void(0)" class="btn-u tooltips js-ajax-btn rounded"
                                data-original-title="成为面料商好友后可看更多的面料和色卡。"
                                data-toggle="tooltip"
                                data-placement="right"
                                data-href="{:leuu('User/Fans/apply_supplier_fans')}"
                                data-id="{$supplier.id}"
                                data-success="applySuccess"><i class="fa fa-user popup-wx-login" style="vertical-align: middle"></i>&nbsp;申请好友</a>
                            </empty>
                            </notempty>
                        </div>
                    </div>

                    <div class="product-detail" style="background-color: #fff;">
                        
                        <div class="store-box no-padding">
                            <h4 style="border-bottom: 1px solid #eee;padding: 3px 0 8px;">简介</h4>
                            <notempty name="supplier['biz_intro']">
                                <p style="text-align: left;text-indent:2em;padding:0 15px;">{$supplier['biz_intro']}</p>
                            </notempty>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-9">
                    <div class="row margin-bottom-5">
                        <div class="col-sm-3 result-category">
                            <h2 style="font-size: 24px;color: #e6125d;">面料列表</h2>
                            <small class="shop-bg-red badge-results" style="padding: 3px 4px;">{$list[total]} 个面料</small>
                        </div>
                        <div class="col-sm-2 tab-list" style="margin-top:2px;">
                            <a href="{:leuu('colorcard',array('id'=>$_GET['id']))}" class="active"  style="font-size: 24px;">色卡列表</a>
                        </div>
                        <div class="col-sm-4 padding-right-0">
                            <ul class="list-inline clear-both">
                                <li class="sort-list-btn">
                                    <h3>最近上新 :</h3>
                                    <div class="btn-group">
                                        <php>$show_time = array("近一个月"=>2592000,'近三个月'=>7776000,'近六个月'=>15552000);</php>
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown">
                                                <php>
                                                    if($_GET['ts'] == '2592000'){
                                                        $late_month="近一个月";
                                                    }elseif($_GET['ts'] == '7776000'){
                                                        $late_month="近三个月";
                                                    }elseif($_GET['ts'] == '15552000'){
                                                        $late_month="近六个月";
                                                    }else{
                                                        $late_month="不限时间";
                                                    };
                                                </php>
                                            {$late_month}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="min-width:140px">
                                             <li><a href="{:leuu('Supplier/Index/single',array('id'=>$_GET['id']))}">不限时间</a></li>
                                            <foreach name="show_time" item="voo">
                                            <li><a href="{:leuu('Supplier/Index/single',array('id'=>$_GET['id'],'ts'=>$voo))}">{$key}</a></li>
                                            </foreach>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3 padding-right-0">
                            <ul class="list-inline clear-both">
                                <li class="sort-list-btn">
                                    <h3>显示 :</h3>
                                    <div class="btn-group">
                                        <php>$show_num =array(12,9,6,3)</php>
                                        <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown">
                                            {$_GET['ps']|default="12"} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="min-width:102px">
                                            <foreach name="show_num" item="voo">
                                                <li><a href="{:leuu('Supplier/Index/single',array('id'=>$_GET['id'],'ps'=>$voo))}">{$voo}</a></li>
                                            </foreach> 
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!--/end result category-->
                    <div class="filters">
                        <div class="filter-cat" style="margin-bottom: 5px;">
                            <label>分类：</label>
                            <foreach name="catSelectors" item="vo">
                                <select id="cat-{$key}" class="cat select2">
                                    <option value="-1">全部({:count($vo)})</option>
                                    <foreach name="vo" item="voo">
                                        <php>$selected = $voo['selected'] ? 'selected':'';</php>
                                        <option value="{$voo.id}" data-code="{$voo.code}" {$selected}>
                                            {$voo.name}({$voo.code})
                                        </option>
                                    </foreach>
                                </select>
                            </foreach>
                        </div>
                        <div class="filter-name" style="margin-bottom: 5px;">
                            <label>名称：</label>
                            <select id="cat-name" class="name select2 pull-left">
                                <option value="-1">全部(0)</option>
                                <present name="names">
                                    <foreach name="names" item="vo">
                                        <php>$selected = $vo['selected'] ? 'selected':'';</php>
                                        <option value="{$vo.id}" data-code="{$vo.code}" {$selected}>{$vo.name}({$vo.code})</option>
                                    </foreach>
                                </present>
                            </select>
                            <button type="button" class="btn-u pull-left" onclick="filterNow()">筛选</button>
                        </div>
                    </div>
                    <div class="filter-results products-results" style="padding-bottom:30px;padding-top:10px;">
                        <div class="row illustration-v2 margin-bottom-30">
                            <volist name="list[data]" id="vo" mod="3" key="k">
                                <eq name="mod" value="0">
                        </div><div class="row illustration-v2 margin-bottom-30">
                                </eq>
                                <div class="col-md-4">
                                    <div class="product-img-brd product-detail bg-color-white">
                                        <div class="product-img">
                                            <a href="{:leuu('/Tf/Tf/fabric',array('tfsn'=>$vo['tf_code']))}">
                                                <img class="lazyload full-width img-responsive" data-original="{:get_thumb_url($vo['img']['thumb'],true)}" style="height:263px">
                                            </a>

                                            <notempty name="vo[skus]">
                                                <empty name="_SESSION[user]">
                                                <a class="add-to-cart popup-wx-login" href="javascript:void(0);"><i class="fa fa-shopping-cart"></i>购买米样</a>
                                                <else/>
                                                    <a  class="add-to-cart" href="{:leuu('Order/Index/easy_order',array('id'=>$vo[id]))}"><i class="fa fa-shopping-cart"></i>购买米样</a>
                                                </empty>
                                            </notempty>
                                            <eq name="vo[ispublic]" value="0">
                                                <div class="shop-rgba-red rgba-banner">私密</div>
                                            </eq>
                                        </div>
                                        <div class="product-description margin-bottom-5">
                                            <div class="overflow-h">
                                                <div class="product-text g-pb-10 margin-bottom-10">
                                                    <h4><a href="{:leuu('/Tf/Tf/fabric',array('tfsn'=>$vo['tf_code']))}">{$vo.name|msubstr=0,30}</a></h4>
                                                    <!--<span>￥132/米</span>-->
                                                </div>
                                                <h4 class="title-price pull-left"><a href="">{$vo.supplier.long_name}</a></h4>
                                                <!--<h4 class="title-collect pull-right">收藏</h4>-->
                                            </div>
                                            <ul class="list-inline product-ratings">
                                                <php>
                                                    $actived = $vo['is_collected'] ? 'active':'';
                                                    $original_title = $vo['is_collected'] ? '取消收藏':'添加收藏';
                                                </php>
                                                <li id="like-icon-{$vo.id}" class="like-icon {$actived}">
                                                    <a class="js-ajax-btn" href="#"
                                                       data-original-title="{$original_title}"
                                                       data-toggle="tooltip"
                                                       data-placement="left"
                                                       data-href="{:leuu('Collect/Index/toggle',array('type'=>1))}"
                                                       data-id="{$vo.id}"
                                                       data-status="{$vo.is_collected}"
                                                       data-method="GET"
                                                       data-success="collectSuccess">
                                                        <empty name="_SESSION[user]">
                                                           <gt name="vo.is_collected" value="0">
                                                            <i class="fa fa-heart popup-wx-login" style="vertical-align: middle">&nbsp;{$original_title}</i>
                                                            <else/>
                                                            <i class="fa fa-heart-o popup-wx-login" style="vertical-align: middle">&nbsp;{$original_title}</i>
                                                            </gt>
                                                        <else/>
                                                            <gt name="vo.is_collected" value="0">
                                                            <i class="fa fa-heart" style="vertical-align: middle">&nbsp;{$original_title}</i>
                                                            <else/>
                                                            <i class="fa fa-heart-o" style="vertical-align: middle">&nbsp;{$original_title}</i>
                                                            </gt>
                                                        </empty>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </volist>
                        </div>
                    </div><!--/end filter resilts-->

                    <div class="text-center">
                        <ul class="pagination pagination-v2" style="color:#555;">{$list['page']}</ul>
                    </div><!--/end pagination-->
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>
    <!--=== End Content Part ===-->
    
    
</block>
<block name="plugins_js">

    <div id="shop-qrcode" class="g-popup-wrapper">
        <div class="g-popup g-popup--discount2" style="width:auto;">
            <div class="g-popup--discount2-message text-center" style="padding: 35px 50px 50px;">
                <h4>请用微信扫一扫，进入店铺</h4>
                <div class="qrcode"  style="background:#fff;padding:10px;text-align:center;">
                </div>
            </div>
            <a href="javascript:void(0);" class="g-popup__close g-popup--discount2__close"><span class="icon-close" aria-hidden="true"></span></a>
        </div>
    </div>
    
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/js/select2/js/select2.min.js"></script>
    <!--<script src="__PUBLIC__/js/jquery.qrcode.min.js"></script>-->
</block>
<block name="js">
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        
        jQuery(document).ready(function () {
             //生成店铺二维码
            $('#shop-qrcode .qrcode').qrcode({ 
                render: "canvas", //canvas方式 
                width: 204, //宽度 
                height:204, //高度 
                text: "{:leuu('Supplier/Index/single',array('id'=>$supplier['id']),false,true)}" //任意内容 
            });
            
            MouseWheel.initMouseWheel();
            $('.select2').select2();
            $('.filter-cat').on('select2:select', 'select.cat', function(){
                var $this = $(this);
                $this.find('option').each(function(){
                    destroyCatSelecter($(this).val());
                });
                if($this.val() > 0){
                    getCats($this.val());
                }else{
                    refreshNames(parseInt($this.attr('id').split('-')[1]));
                }
            })

           

        });

        function filterNow(){
            var url = '{:leuu("Supplier/Index/single", array("id"=>$supplier[id]))}';
            var $selectors = $('.filter-cat select');
            var $lastSelector = $selectors.eq($selectors.length - 1);
            var cid = parseInt($lastSelector.val());
            var ccode = $lastSelector.find('option:selected').data('code');

            //右边选择全部时候，找父id
            if(cid < 0){
                cid = parseInt($lastSelector.attr('id').split('-')[1]);
            }

            if(cid > 0){
                if(url.indexOf('?') === -1){
                    url += '?cid='+cid;
                }else{
                    url += '&cid='+cid;
                }
            }

            var nid = $('.filter-name select').val();
            var ncode = $('.filter-name select option:selected').data('code');

            if(nid > 0){
                if(url.indexOf('?') === -1){
                    url += '?ncode='+ncode;
                }else{
                    url += '&ncode='+ncode;
                }
            }

            location.href = url;
        }

        function destroyCatSelecter(pid){
            var $selector = $('#cat-'+pid);
            if($selector.length > 0){
                var subVal = $selector.val();
                $selector.select2('destroy');
                $selector.remove();
                destroyCatSelecter(subVal);
            }
        }

        function getCats(pid){
            if(typeof pid === "undefined") pid = 0;
            var url = '/index.php?g=Tf&m=Index&a=cats&pid='+pid;
            $.get(url, function(response){
                if(response.total_count > 0){
                    var $select = $('<select>')
                            .data('pid', pid)
                            .attr('id', 'cat-'+pid)
                            .addClass('cat');
                    $('<option>').val(-1).text('全部('+response.total_count+')').appendTo($select);
                    for(var x in response.items){
                        var item = response.items[x];
                        $option = $('<option>').val(item.id).data('code',item.code).text(item.name+'('+item.code+')');
                        $select.append($option);
                    }
                    $('.filter-cat').append($select);
                    $select.select2();
                }
                refreshNames(response.names);
            })
        }

        function refreshNames(items){
            var $select = $('#cat-name');
            $select.find('option').remove();

            if(typeof items === "undefined"){
                items = [];
            }

            if(typeof items === "object"){

                $('<option>').val(-1).text('全部('+items.length+')').appendTo($select);
                for(var x in items){
                    var item = items[x];
                    $option = $('<option>').val(item.id).data('code',item.code).text(item.name+'('+item.code+')');
                    $select.append($option);
                }
                $select.select2('destroy');
                $select.select2();
            }else if(typeof items === "number"){
                var url = '/index.php?g=Tf&m=Index&a=names&cid='+items;
                $.get(url, function(response){
                    $('<option>').val(-1).text('全部('+response.total_count+')').appendTo($select);
                    if(response.total_count > 0){
                        for(var x in response.items){
                            var item = response.items[x];
                            $option = $('<option>').val(item.id).data('code',item.code).text(item.name+'('+item.code+')');
                            $select.append($option);
                        }
                    }
                    $select.select2('destroy');
                    $select.select2();
                })
            }else{
                $('<option>').val(-1).text('全部(0)').appendTo($select);
                $select.select2();
            }
        }

        $(".close").click(function () {

        });

        function collectSuccess(response){
            if(response.referer){
                // location.href = response.url;
            }else{
                var $collect = $('#like-icon-'+response.data.goods_id+' a');
                if (response.state === 'success') {
                    if(response.data.rec_id > 0){
                        $collect.data('status',1);
                        $collect.data('original-title','取消收藏').parent().addClass('active');
                        $collect.html('<i class="fa fa-heart"></i> 取消收藏');
                        noty({type:'success',text:'已添加收藏！'});
                    }else{
                        $collect.data('status',0);
                        $collect.data('original-title','添加收藏').parent().removeClass('active');
                        $collect.html('<i class="fa fa-heart"></i> 添加收藏');
                        noty({type:'success',text:'已取消收藏！'});
                    }
                } else if (response.state === 'fail') {
                    noty({type:'error',text:response.info});
                }
            }
        }

        function applySuccess(response){
            if(response.referer){
                location.href = response.url;
            }else{
                var $btn = $('#btn-apply-fans');
                if (response.state === 'success') {
                    if(response.is_fans){
                        location.reload();
                    }else{
                        $btn.off('click');
                        $btn.text('已发送申请').css('background','#f7a8c4');
                        noty({type:'success',text:response.info});
                    }
                } else if (response.state === 'fail') {
                    noty({type:'error',text:response.info});
                }
            }
        }
    </script>
</block>