<extend name="Public:base-v8" />
<block name="title"><title>关于面料馆</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.css">
</block>
<block name="css">
    <style>
    .breadcrumbs-v3.img-v3 {
        background: url(__TMPL__assets/img/about-us/02.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .breadcrumbs-v3:before{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: " ";
        position: absolute;
        background: rgba(0,0,0,0.5);
    }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v3 img-v3 text-center">
        <div class="container" style="position: relative;">
            <h1>时尚潮流·时尚面料</h1>
            <p>Discover more about us</p>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>面料馆</h2>
            <p>面料馆创于2017年，隶属于广州艾芈谷电子商务有限公司，致力打造最权威、最有影响力的纺织服装行业的快速供应链平台，通过互联网改变纺织行业，促进行业升级换代。面料馆有效整合了纺织面料资源，连接上下游企业，为纺织企业提供高效的设计、制作色卡及面料产品推广等优质服务；为设计师、服装生产商等采购商提供大量、优质的面料资源，解决了找布难、买布贵、交易无保障等问题，实现面料的快捷采购，降低采购成本，让交易更高效、更放心。面料馆本着“以服务为魂，以效果为道；始于客户需求，终于客户满意”的理念，不断拓展和优化纺织面料产业链，成为最专业的纺织面料行业一站式商品交易智能服务平台。</p>
        </div>

        <div class="row">
            <div class="col-md-6 md-margin-bottom-50">
                <img class="img-responsive" src="__TMPL__assets/img/about-us/us01.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>致力于为中国面料采购商提供分享时尚与优质生活的多元化资讯及多样化服务。网站涉及面料购买、色卡制作、色卡购买等优质服务，拥有数万款面料和上万间合作的面料商家。</p><br>
                <div class="row">
                    <ul class="col-xs-6 list-unstyled lists-v1">
                        <li><i class="fa fa-angle-right"></i>担保交易</li>
                        <li><i class="fa fa-angle-right"></i>无货立赔</li>
                        <li><i class="fa fa-angle-right"></i>免费验货</li>
                        <li><i class="fa fa-angle-right"></i>无忧退货</li>
                    </ul>
                    <ul class="col-xs-6 list-unstyled lists-v1">
                        <li><i class="fa fa-angle-right"></i>大货检测</li>
                        <li><i class="fa fa-angle-right"></i>让时尚不再遥不可及</li>
                        <li><i class="fa fa-angle-right"></i>全面塑造高品质时尚观</li>
                        <li><i class="fa fa-angle-right"></i>7X24小时365天全年无休服务</li>
                    </ul>
                </div>
            </div>
        </div><!--/end row-->
    </div>


    <div class="service-block-v5">
        <div class="container">
            <div class="row equal-height-columns">
                <div class="col-md-4 service-inner equal-height-column" style="height: 338px;">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-diamond"></i>
                    <span>服务</span>
                    <p>提供纺织行业快速供应链整合方案。助力纺企高效设计、制作色卡及面料产品的推广，帮助采购商实现面料的快捷采购。</p>
                </div>
                <div class="col-md-4 service-inner equal-height-column service-border" style="height: 338px;">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-rocket"></i>
                    <span>目标</span>
                    <p>让采购商轻松找到心仪的面料，使设计和生产服装变得更简单；为纺企创造商机和价值，使纺织业产业链更优化。</p>
                </div>
                <div class="col-md-4 service-inner equal-height-column" style="height: 338px;">
                    <i class="icon-custom icon-md rounded-x icon-bg-u icon-support"></i>
                    <span>使命</span>
                    <p>打造最权威、最有影响力的纺织服装行业的快速供应链平台，用互联网改变纺织行业。</p>
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>

    <div class="container content-sm">
        <div class="headline-center margin-bottom-60">
            <h2>团队精神</h2>
            <p>用户需求是我们发展的源动力，尊重每一位用户，用优质的服务赢得信赖，以专注、专业、诚信实现共赢；坚持心中的信念，以刚强的毅力和永不言败的勇气迎接各种挑战；本着互信、互助、友爱的协作精神，精诚团结，共铸辉煌；只要拥有敬业心、责任心、事业心，梦想并非虚幻，未来可期！</p>
        </div>

        <div class="row team-v4">
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img class="img-responsive" src="__TMPL__assets/img/about-us/us02.jpg" alt="">
                <span>服务</span>
                <small>-以服务追求卓越-</small>
                <p>Lorem ipsum dolor sit amet，consect etur adipiscing elit，sed a nulla non</p>
            </div>
            <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                <img class="img-responsive" src="__TMPL__assets/img/about-us/us03.jpg" alt="">
                <span>信念</span>
                <small>-以信念迎接挑战-</small>
                <p>Lorem ipsum dolor sit amet，consect etur adipiscing elit，sed a nulla non</p>
            </div>
            <div class="col-md-3 col-sm-6 sm-margin-bottom-50">
                <img class="img-responsive" src="__TMPL__assets/img/about-us/us04.jpg" alt="">
                <span>协助</span>
                <small>-以协作铸就辉煌-</small>
                <p>Lorem ipsum dolor sit amet，consect etur adipiscing elit，sed a nulla non</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <img class="img-responsive" src="__TMPL__assets/img/about-us/us04.jpg" alt="">
                <span>梦想</span>
                <small>-以梦想成就未来-</small>
                <p>Lorem ipsum dolor sit amet，consect etur adipiscing elit，sed a nulla non</p>
            </div>
        </div><!--/end row-->
    </div>

    <!-- Owl Clients v1 -->
    <div class="bg-color-light">
    <div class="container content-sm">
        <div class="owl-clients-v1">
            <div class="item">
                <img src="__TMPL__assets/img/product/four/mls01.png" alt="">
            </div>
            <div class="item">
                <img src="__TMPL__assets/img/product/four/mls01.png" alt="">
            </div>
            <div class="item">
                <img src="__TMPL__assets/img/product/four/mls01.png" alt="">
            </div>
            <div class="item">
                <img src="__TMPL__assets/img/product/four/mls01.png" alt="">
            </div>
            <div class="item">
                <img src="__TMPL__assets/img/product/four/mls01.png" alt="">
            </div>
            <div class="item">
                <img src="__TMPL__assets/img/product/four/mls01.png" alt="">
            </div>
            <div class="item">
                <img src="__TMPL__assets/img/product/four/mls01.png" alt="">
            </div>
            <div class="item">
                <img src="__TMPL__assets/img/product/four/mls01.png" alt="">
            </div>
            <div class="item">
                <img src="__TMPL__assets/img/product/four/mls01.png" alt="">
            </div>
        </div>
    </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <!-- JS Customization -->
    <script src="__PUBLIC__/u/js/custom.js"></script>
    <!-- JS Page Level -->
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script src="__PUBLIC__/u/js/plugins/style-switcher.js"></script>
    <script type="text/javascript" src="__PUBLIC__/u/js/plugins/owl-carousel.js"></script>
</block>
<block name="js">
<script>
    jQuery(document).ready(function () {
        MouseWheel.initMouseWheel();
        OwlCarousel.initOwlCarousel();
        StyleSwitcher.initStyleSwitcher();
    });

    /*头部个人信息鼠标经过显示*/
    $(".dropdown-toggle").hover(function () {
        $(this).next().show();
    },function () {
        $(this).next().hide();
    });
    $(".dropdown-menu").hover(function () {
        $(this).show();
    },function () {
        $(this).hide();
    });

    /*点击搜索弹出搜索框*/
    $("#search-bar").click(
            function () {
                $(".search-form").css("width","190");
                $("#search").focus();
            }
    );
    $("#search").blur(function () {
        $(".search-form").css("width","0");
    });
</script>
</block>