<extend name="Public:base-v8" />
<block name="title"><title>联系我们</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.css">
</block>
<block name="css">
    <style>
    .breadcrumbs-v3.img-v3 {
        background: url(__TMPL__assets/img/breadcrumbs/img3.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
    }
    </style>
</block>
<block name="breadcrumbs">
    <!--<div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left font-bold">联系我们</h1>
        </div>
    </div>-->
    <div class="breadcrumbs-v4">
		<div class="container">
			<span class="page-name">联系我们</span>
			<ul class="breadcrumb-v4-in">
				<li><a href="__ROOT__/">首页</a></li>
				<li class="active">联系我们</li>
			</ul>
		</div><!--/end container-->
	</div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!-- Google Map -->
                <div style="width:550px;height:450px;border:#ccc solid 1px;font-size:12px" id="map"></div>

                <!-- End Google Map -->
            </div>
            <div class="col-md-6 col-sm-6">
                <!-- Contacts -->
                <h3 class="font-bold">联系信息</h3>
                <ul class="list-unstyled who">
                    <li><a href="#"><i class="fa  fa-map-marker" style="font-size: 1.6rem"></i>{$site_basic.address}</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>{$site_basic.tel}</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>{$site_basic.email}</a></li>
                    <!--<li><a href="#"><i class="fa fa-phone"></i>88888888</a></li>-->
                    <li><a href="#"><i class="fa fa-globe" style="font-size: 1.4rem;"></i>http://www.mianliaoguan.cn</a></li>
                </ul>

                <hr>

                <!-- Business Hours -->
                <h3 class="font-bold">我们的服务</h3>
                <ul class="list-unstyled who">
                    <li>
                        <i class="fa fa-check"></i>
                        专业，敬业，诚信，责任
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        为全球客户提供最佳的产品和服务
                    </li>
                    <li>
                        <i class="fa fa-check"></i>
                        诚信，用心，定制生产，交货快捷为每一个客户提供有凝聚力的服务
                    </li>
                </ul>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Gk3dDEFkZTgYfBtBYDEpdDKQ5We7Zt7F"></script>
</block>
<block name="js">
    <script>
        function initMap(){
        createMap();//创建地图
        setMapEvent();//设置地图事件
        addMapControl();//向地图添加控件
        addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){
        map = new BMap.Map("map");
        map.centerAndZoom(new BMap.Point(113.303853,23.136674),17);
    }
    function setMapEvent(){
        map.enableScrollWheelZoom();
        map.enableKeyboard();
        map.enableDragging();
        map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
        target.addEventListener("click",function(){
            target.openInfoWindow(window);
        });
    }
    function addMapOverlay(){
        var markers = [
            {content:"{$site_basic.address}",title:"面料馆",imageOffset: {width:-46,height:-21},position:{lat:23.134863,lng:113.303467}}
        ];
        for(var index = 0; index < markers.length; index++ ){
            var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
            var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
                imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
            })});
            var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
            var opts = {
                width: 200,
                title: markers[index].title,
                enableMessage: false
            };
            var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
            marker.setLabel(label);
            addClickHandler(marker,infoWindow);
            map.addOverlay(marker);
            map.openInfoWindow(infoWindow,point);
        };
        var labels = [
        ];
        for(var index = 0; index < labels.length; index++){
            var opt = { position: new BMap.Point(labels[index].position.lng,labels[index].position.lat )};
            var label = new BMap.Label(labels[index].content,opt);
            map.addOverlay(label);
        };
        var plOpts = [
        ];
        var plPath = [
        ];
        for(var index = 0; index < plOpts.length; index++){
            var polyline = new BMap.Polyline(plPath[index],plOpts[index]);
            map.addOverlay(polyline);
        }
    }
    //向地图添加控件
    function addMapControl(){
        var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
        scaleControl.setUnit(BMAP_UNIT_METRIC);
        map.addControl(scaleControl);
        var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:0});
        map.addControl(navControl);
        var overviewControl = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:true});
        map.addControl(overviewControl);
    }
    var map;
    initMap();
    </script>
</block>
