<extend name="Public:base-v8" />
<block name="title"><title>面料求购列表</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/plugins/style-switcher.css">
</block>
<block name="css">
    
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">面料求购</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="">求购列表</a></li>
                <li class="active">求购详情</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <!--=== Content Part ===-->
    <div class="content container">
        <div class="row">
            <div class="col-md-3 filter-by-block md-margin-bottom-60">
                <h1>过滤器</h1>

                <div class="panel-group" id="accordion-v3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v3" href="#collapseThree">
                                    所有产品
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="panel panel-default add-panel">
                                    <div class="panel-heading add-panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion-1" href="#collapse-One" aria-expanded="false">
                                                <i class="fa fa-plus"></i>
                                                棉纺面料
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-One" class="panel-collapse collapse  " aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body add-panel-body">
                                            <ul>
                                                <li><a href="#">全棉</a></li>
                                                <li><a href="#">涤棉布</a></li>
                                                <li><a href="#">纱卡</a></li>
                                                <li><a href="#">棉涤布</a></li>
                                                <li><a href="#">牛仔布</a></li>
                                                <li><a href="#">府绸</a></li>
                                                <li><a href="#">氨棉布</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default add-panel">
                                    <div class="panel-heading add-panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion-1" href="#collapse-Two" aria-expanded="false">
                                                <i class="fa fa-plus"></i>
                                                化纤面料
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Two" class="panel-collapse collapse" aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body add-panel-body">
                                            <ul>
                                                <li><a href="#">全棉</a></li>
                                                <li><a href="#">涤棉布</a></li>
                                                <li><a href="#">纱卡</a></li>
                                                <li><a href="#">棉涤布</a></li>
                                                <li><a href="#">牛仔布</a></li>
                                                <li><a href="#">府绸</a></li>
                                                <li><a href="#">氨棉布</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default add-panel">
                                    <div class="panel-heading add-panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion-1" href="#collapse-Three" aria-expanded="false">
                                                <i class="fa fa-plus"></i>
                                                针织面料
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Three" class="panel-collapse collapse  " aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body add-panel-body">
                                            <ul>
                                                <li><a href="#">全棉</a></li>
                                                <li><a href="#">涤棉布</a></li>
                                                <li><a href="#">纱卡</a></li>
                                                <li><a href="#">棉涤布</a></li>
                                                <li><a href="#">牛仔布</a></li>
                                                <li><a href="#">府绸</a></li>
                                                <li><a href="#">氨棉布</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default add-panel">
                                    <div class="panel-heading add-panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion-1" href="#collapse-Four" aria-expanded="false">
                                                <i class="fa fa-plus"></i>
                                                毛纺面料
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Four" class="panel-collapse collapse" aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body add-panel-body">
                                            <ul>
                                                <li><a href="#">全棉</a></li>
                                                <li><a href="#">涤棉布</a></li>
                                                <li><a href="#">纱卡</a></li>
                                                <li><a href="#">棉涤布</a></li>
                                                <li><a href="#">牛仔布</a></li>
                                                <li><a href="#">府绸</a></li>
                                                <li><a href="#">氨棉布</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default add-panel">
                                    <div class="panel-heading add-panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion-1" href="#collapse-Five" aria-expanded="false">
                                                <i class="fa fa-plus"></i>
                                                麻纺面料
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Five" class="panel-collapse collapse  " aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body add-panel-body">
                                            <ul>
                                                <li><a href="#">全棉</a></li>
                                                <li><a href="#">涤棉布</a></li>
                                                <li><a href="#">纱卡</a></li>
                                                <li><a href="#">棉涤布</a></li>
                                                <li><a href="#">牛仔布</a></li>
                                                <li><a href="#">府绸</a></li>
                                                <li><a href="#">氨棉布</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default add-panel">
                                    <div class="panel-heading add-panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion-1" href="#collapse-Six" aria-expanded="false">
                                                <i class="fa fa-plus"></i>
                                                丝绸面料
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Six" class="panel-collapse collapse" aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body add-panel-body">
                                            <ul>
                                                <li><a href="#">全棉</a></li>
                                                <li><a href="#">涤棉布</a></li>
                                                <li><a href="#">纱卡</a></li>
                                                <li><a href="#">棉涤布</a></li>
                                                <li><a href="#">牛仔布</a></li>
                                                <li><a href="#">府绸</a></li>
                                                <li><a href="#">氨棉布</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default add-panel">
                                    <div class="panel-heading add-panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion-1" href="#collapse-Seven" aria-expanded="false">
                                                <i class="fa fa-plus"></i>
                                                坯布
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Seven" class="panel-collapse collapse  " aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body add-panel-body">
                                            <ul>
                                                <li><a href="#">全棉</a></li>
                                                <li><a href="#">涤棉布</a></li>
                                                <li><a href="#">纱卡</a></li>
                                                <li><a href="#">棉涤布</a></li>
                                                <li><a href="#">牛仔布</a></li>
                                                <li><a href="#">府绸</a></li>
                                                <li><a href="#">氨棉布</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default add-panel">
                                    <div class="panel-heading add-panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion-1" href="#collapse-Eight" aria-expanded="false">
                                                <i class="fa fa-plus"></i>
                                                皮/革
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Eight" class="panel-collapse collapse" aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body add-panel-body">
                                            <ul>
                                                <li><a href="#">全棉</a></li>
                                                <li><a href="#">涤棉布</a></li>
                                                <li><a href="#">纱卡</a></li>
                                                <li><a href="#">棉涤布</a></li>
                                                <li><a href="#">牛仔布</a></li>
                                                <li><a href="#">府绸</a></li>
                                                <li><a href="#">氨棉布</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default add-panel">
                                    <div class="panel-heading add-panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion-1" href="#collapse-Night" aria-expanded="false">
                                                <i class="fa fa-plus"></i>
                                                其他面料
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-Night" class="panel-collapse collapse" aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body add-panel-body">
                                            <ul>
                                                <li><a href="#">全棉</a></li>
                                                <li><a href="#">涤棉布</a></li>
                                                <li><a href="#">纱卡</a></li>
                                                <li><a href="#">棉涤布</a></li>
                                                <li><a href="#">牛仔布</a></li>
                                                <li><a href="#">府绸</a></li>
                                                <li><a href="#">氨棉布</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->
            </div>

            <div class="col-md-9">
                <div class="row margin-bottom-5">
                    <div class="col-sm-4 result-category">
                        <h2>面料求购列表</h2>
                    </div>
                    <div class="col-sm-8" style="padding-right: 0">
                        <ul class="list-inline clear-both">
                            <li class="sort-list-btn">
                                <h3>排序方式:</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        默认 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">发布时间</a></li>
                                        <li><a href="#">截止时间</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sort-list-btn">
                                <h3>显示数量 :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        20 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">10</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">3</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!--/end result category-->

                <div class="filter-results">
                    <volist name="demand_list" id="vo">
                     <php>$demand_img = json_decode($vo[demand_img],true);</php>
                        <div class="list-product-description product-description-brd margin-bottom-30">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="{:leuu('Portal/Purchasing/purchasing_single')}"><img class="img-responsive sm-margin-bottom-20" src="{:sp_get_asset_upload_path($demand_img[0])}" alt="" style="width:256px;height:294px;"></a>
                                </div>
                                <div class="col-sm-8 product-description">
                                    <div class="overflow-h margin-bottom-5">
                                        <ul class="list-inline overflow-h">
                                            <li><h4 class="title-price"><a href="{:leuu('Portal/Purchasing/purchasing_single')}">纯棉面料</a></h4></li>
                                        </ul>
                                        <div class="margin-bottom-10">
                                            期望价格：<span class="title-price margin-right-10">￥{$vo.demand_expect_price}</span>
                                        </div>
                                        <p class="margin-bottom-20">{$vo.demand_desc}</p>
                                        <ul class="list-inline add-to-wishlist margin-bottom-20">
                                            <li class="wishlist-in">
                                                发布时间：{:date("Y-m-d",strtotime($vo[created_at]))}
                                            </li>
                                            <li class="compare-in">
                                                到期时间：{:date("Y-m-d",strtotime($vo[demand_end_date]))}
                                            </li>
                                            <li class="compare-in">
                                                采购数量：{$vo.demand_quantity}米
                                            </li>
                                        </ul>
                                        <a href="{:leuu('Portal/Purchasing/purchasing_single',array('demand_id'=>$vo[demand_id]))}" class="btn-u">查看详情</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </volist>
                </div><!--/end filter resilts-->

                <div class="text-center">
                    {$page}
                </div><!--/end pagination-->
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- JS Customization -->
    <script src="__PUBLIC__/u/js/custom.js"></script>
    <!-- JS Page Level -->
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script src="__PUBLIC__/u/js/plugins/style-switcher.js"></script>
</block>
<block name="js">
    <script>
    jQuery(document).ready(function () {
        App.init();
        App.initScrollBar();
        MouseWheel.initMouseWheel();
        StyleSwitcher.initStyleSwitcher();
    });
</script>
</block>