<extend name="Public:base-v8" />
<block name="title"><title>面料求购列表</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/master-slider/masterslider/style/masterslider.css">
    <link rel='stylesheet' href="__PUBLIC__/u/plugins/master-slider/masterslider/skins/default/style.css">
</block>
<block name="css">
    <style>
        /*Panel Pink*/
    .panel-pink {
        border-color: #E6125D;
    }

    .panel-pink > .panel-heading {
        background: #E6125D;
    }
    .panel-pink > .table-quoto td,th{
        vertical-align: middle !important;
        text-align: center;
    }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">面料求购</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Portal/Need/index')}">求购列表</a></li>
                <li class="active">求购详情</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="shop-product">
        <div class="container">
            <div class="row g-mt-50">
                <div class="col-md-5 md-margin-bottom-50">
                    <div class="ms-showcase2-template">
                        <!-- Master Slider -->
                        <div class="master-slider ms-skin-default" id="masterslider">
                        <php>

                            $demand_img = json_decode($demand['demand_img'],true);
                        </php>
                        <volist name="demand_img" id="vo">
                            <div class="ms-slide">
                                <img class="ms-brd" src="__PUBLIC__/u/img/blank.gif" data-src="{:sp_get_asset_upload_path($vo)}"
                                     alt="lorem ipsum dolor sit">
                                <img class="ms-thumb" src="{:sp_get_asset_upload_path($vo)}" alt="thumb">
                            </div>
                        </volist>
                        </div>
                        <!-- End Master Slider -->
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="shop-product-heading" style="border-bottom: none;margin-bottom: 0">
                        <h2>{$demand.demand_component}</h2>
                    </div><!--/end shop product social-->

                    <p class="g-mb-15">{$demand.demand_desc}</p>

                    <table class="table table-striped">

                        <tbody>
                        <tr>
                            <td>采购数量：<span>{$demand.demand_quantity}米</span></td>
                        </tr>
                        <tr>
                            <td>期望价格：<span>{$demand.demand_expect_price}</span></td>
                        </tr>
                        <tr>
                            <td>期望交货时间：<span>{$demand.demand_expect_date}</span></td>
                        </tr>
                        <tr>
                            <td>地区：{$demand.demand_city} {$demand.demand_area}<span></span></td>
                        </tr>
                        <tr>
                            <td>发布时间：<span>{$demand.created_at}</span></td>
                        </tr>
                        <tr>
                            <td>截止时间：<span>{$demand.demand_end_date}</span></td>
                        </tr>

                        </tbody>
                    </table>

                    <ul class="list-inline margin-bottom-20 g-mt-20">
                        <li>
                            <empty name="_SESSION[user]">
                            <button class="btn-u btn-u-lg popup-wx-login" >
                                我要报价
                            </button>
                        <else/>
                            <button class="btn-u  btn-u-lg" data-toggle="modal" data-target="#myModal">
                                我要报价
                            </button>
                        </empty>
                        </li>
                    </ul>

                    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog log-reg-v3">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                        &times;
                                    </button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        我要报价
                                    </h4>
                                </div>
                                <form role="form" id="validateForm5" action="{:U('Portal/Purchasing/quote_post')}" method="post" >
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="price">价钱</label>
                                            <input type="number" class="form-control" placeholder="请输入价钱" required
                                                   name="quote_price" id="price">
                                        </div>
                                        <div class="form-group">
                                            <label for="num">数量</label>
                                            <input type="number" class="form-control" required placeholder="请输入您能够提供的数量"
                                                   name="quote_quantity" id="num">
                                            <input type="hidden" name="demand_id" value="{$demand.demand_id}">
                                            <input type="hidden" name="vend_id" value="{:sp_get_current_userid()}">
                                            <input type="hidden" name="created_at" value="{:date('Y-m-d H:i:s',time())}">
                                        </div>
                                        <!-- <div class="form-group">
                                            <label for="selectName">布料类别</label>
                                            <select class="form-control" name="selectName" id="selectName">
                                                <option disabled selected>请选择类别</option>
                                                <option>纯棉</option>
                                                <option>牛仔</option>
                                                <option>棉麻</option>
                                            </select>
                                        </div> -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                        </button>
                                        <button type="submit" class="btn btn-u">
                                            提交报价
                                        </button>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>

                </div>
            </div><!--/end row-->
            <div class="row g-mt-50">
                <div class="col-md-12">
                    <div class="panel panel-pink margin-bottom-40">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-tasks"></i> 报价信息</h3>
                        </div>
                        <table class="table table-quoto">
                            <thead>
                                <tr>
                                    <th>报价方</th>
                                    <th>价格</th>
                                    <th>供应量</th>
                                    <th class="hidden-sm">时间</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="demand_quotes" id="vo">
                                <tr>
                                <?php 
                                    $str = $vo['long_name'];
                                    $len = mb_strlen($str,'utf-8');
                                    if($len>=6){
                                        $str1 = mb_substr($str,0,2,'utf-8');
                                        $str2 = mb_substr($str,$len-2,2,'utf-8');
                                    }else{
                                        $str1 = mb_substr($str,0,1,'utf-8');
                                        $str2 = mb_substr($str,$len-1,1,'utf-8');            
                                    }
                                 ?>
                                    <td>{$str1}*****{$str2}</td>
                                    <td>{$vo.quote_price}</td>
                                    <td>{$vo.quote_quantity}</td>
                                    <td class="hidden-sm">{$vo.created_at}</td>
                                </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                            <div class="text-center">
                                {$page}
                            </div><!--/end pagination-->
                    <!--End Basic Table-->
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/owl-carousel2/owl.carousel.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <!-- Master Slider -->
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/masterslider.min.js"></script>
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/jquery.easing.min.js"></script>
    <!-- JS Customization -->
    <script src="__PUBLIC__/u/js/custom.js"></script>
    <script src="__TMPL__assets/js/validate-form.js"></script>
    <!-- JS Page Level -->
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__TMPL__assets/js/custom.js"></script>
    <!--<script src="__PUBLIC__/u/js/plugins/owl-carousel2.js"></script>-->
    <!--<script src="__PUBLIC__/u/js/plugins/master-slider.js"></script>-->
    <script src="__PUBLIC__/u/js/forms/product-quantity.js"></script>
    <script src="__PUBLIC__/u/js/plugins/style-switcher.js"></script>
</block>
<block name="js">
    <script>
        $(document).ready(function () {
            validateForm.priceForm();
        });

        $('.owl-slider-v4-team').owlCarousel({
            loop: true,
            margin: 0,
            responsive: {
                300: {
                    items: 2
                },
                500: {
                    items: 4
                },
                768: {
                    items: 6
                },
            },
            nav: true,
            dots: false,
            navText: ["<span class='fa fa-chevron-left'></span>", "<span class='fa fa-chevron-right'></span>"],
            navContainerClass: 'owl-buttons'
        });

        var slider = new MasterSlider();
        slider.control('arrows');
        slider.control('thumblist', {
            autohide: false,
            dir: 'h',
            arrows: false,
            align: 'bottom',
            width: 160,
            height: 150,
            margin: 5,
            space: 5
        });

        slider.setup('masterslider', {
            width: 550,
            height: 550,
            space: 5,
            view: 'fade'
        });

        jQuery(document).ready(function () {
            App.init();
            App.initScrollBar();
            StyleSwitcher.initStyleSwitcher();
            //MasterSliderShowcase2.initMasterSliderShowcase2();
        });
    </script>
</block>
