<extend name="Public:base-v8" />
<block name="title"><title>法律声明</title></block>
<block name="plugins_css">
</block>
<block name="css">
    <style>
        .breadcrumbs-v3.img-v3 {
            background: url(__TMPL__assets/img/about-us/02.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
        }
        /*帮助中心*/
        .help-list .sidebar-nav-v1 > li > a{
            color: #333;
            font-size: 16px;
            padding: 12px 30px 12px 10px;
        }
        .help-list .sidebar-nav-v1 li ul a{
            font-size: 14px;
            background: #fff;
            padding: 10px 30px 10px 17px;
        }
        .help-list .list-toggle:after{
            top:12px;
        }
        .help-list .list-toggle.active:after{
            color: #333;
        }
        .help-list .sidebar-nav-v1 > li.active > a{
            color: #333;
        }
        .help-list .sidebar-nav-v1 > li.active{
            background: #f8f8f8;
        }
        .help-list .sidebar-nav-v1 li.active ul a{
            background: #fff;
        }
        .help-content > h2{
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 10px;
        }
        .help-content{
            border: 1px solid #e0e0e0;
            padding: 15px 20px;
        }
        .help-content > div > p{
            text-indent: 20pt;
        }
        .breadcrumbs-v3:before{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: " ";
            position: absolute;
            background: rgba(0,0,0,0.5);
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v3 img-v3 text-center">
        <div class="container" style="position: relative;">
            <h1>时尚潮流·时尚面料</h1>
            <p>Discover more about us</p>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="content container help-list">
        <div class="row">
            <tc_include file="Public:help-sidebar"/>

            <div class="col-md-9 help-content" >
                <h2 class="font-bold">法律声明</h2>
                <div class="margin-top-20">
                    <p>感谢您访问、浏览或使用面料馆平台（以下亦简称“本平台”），在使用本平台前，请仔细阅读、理解本声明。请注意访问或使用本平台（如复制任何资讯、注册成为面料馆平台的网站用户）即表示您接受本声明的所有条款，同意受本声明的约束。如果您不接受本声明的任一条款，请您立即停止访问或使用本平台，并删除、销毁所有包含本平台内容的复制件。</p>
                    <p style="font-size: 18px;">一、平台的使用  </p>
                    <p>由于本平台提供的网络服务关系到您的交易安全，关系到每个会员（含商城经营者和用户）的合法权益。为保证交易安全，您确认同意：</p>
                    <p>1、您提供的注册信息及其他在面料馆平台上发布的任何信息均是真实、准确、完整、合法有效的；</p>
                    <p>2、您提供的注册资料如发生变化，请务必及时在本平台进行更新；</p>
                    <p>3、本平台可能会不定期的将交易资讯、行业资讯、促销活动等通过电子邮件或短信等方式通知您。且您在本平台注册后，视为您同意接受本平台以电子邮件或短信等方式的通知。</p>
                    <p style="font-size: 18px;">三、隐私权政策</p>
                    <p>1、尊重会员隐私是面料馆平台的一项基本政策。为了给您提供更准确、更优质的服务，面料馆平台会按照本隐私权政策的规定对您提供的信息采取保密措施。</p>
                    <p>2、您向本平台提供的信息受到本平台的保护，但如果存在以下情况，面料馆平台将披露您的信息：</p>
                    <p>①征得您的同意；</p>
                    <p>②您对自身信息保密不当原因，导致您非公开信息泄露；</p>
                    <p>③由于网络线路、黑客攻击、计算机病毒、政府管制等原因造成的信息泄露、丢失、被盗用或被篡改等；</p>
                    <p>④根据法律法规的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>
                    <p>⑤因您违反法律法规、或者面料馆平台用户服务协议或其他规定的情况，需要向第三方披露。</p>
                    <p>3、虽然本平台对您的信息、密码等采取了安全保护措施，确保您的信息不丢失，不被滥用和变造。但是请您注意在信息网络上不存在“完善的安全措施”，所以请您妥善保管您的账户及密码信息。如您发现您的账户、密码已经泄露或存在风险，请您立即联系本平台的客户，以便本平台采取相应的措施。</p>
                    <p style="font-size: 18px;">四、权利声明</p>
                    <p>对于本网站中所含的知识产权和其他权利，您应当予以尊重。如果内容未含权利声明，并不代表本网站对其不享有权利和不主张权利，您应根据法律、法规及诚实信用原则尊重权利人的合法权益并合法使用该内容。未经本平台许可，任何人不得擅自（包括但不限于：以非法的方式复制、传播、展示、下载）使用。否则，面料馆平台运营者将依法追究您的法律责任。</p>
                    <p style="font-size: 18px;">五、免责声明 </p>
                    <p>1、面料馆平台上关于会员发布的任何信息（包括但不限于注册信息、企业/个人信息、店铺名称、联系人及联络信息、产品的描述和说明、图片、视频、言论等）均由会员自行提供，因此而产生的责任均由会员提供者本人全部承担，与面料馆平台无关。</p>
                    <p>2、本平台因维护、升级可能会不定期的中断提供服务；因您操作不当、电脑病毒或黑客攻击可能也会引发暂时的服务中断。您接受本声明，视为同意上述单方面的服务中断。本平台将会对可预料的中断服务提供告知（如在平台上公告或以电子邮件或短信等方式通知）。如发生服务中断，本平台会争取在最短的时间内恢复服务。但是，因上述原因导致您遭受的损失，由您本人承担。</p>
                    <p>3、本平台对于因战争、地震、洪水、火灾等不可抗力原因或互联网运输问题、信号线路问题等其他不可预见、不可控制的原因而导致本平台无法正常提供服务，或者导致您的信息泄露、利益受损不负责任。但是，本平台会在上述事由发生后积极挽救，努力使您的利益损失降到最低。</p>
                    <p style="font-size: 18px;">六、其他</p>
                    <p>1、如您对本声明有任何意见或建议，请和面料馆平台客服联系。</p>
                    <p>2、本声明自发布之日起，即对访问和使用本平台的任何第三方发生法律效力。</p>
                </div>
            </div>
        </div><!--/end row-->
    </div>
</block>



<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>帮助中心</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <!-- <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'> -->

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/shop.style.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-v8.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v1.css">


    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="assets/css/plugins/style-switcher.css">
    <link rel="stylesheet" href="assets/css/global.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/red.css" id="style_color">
    <link rel="stylesheet" href="assets/css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main2.css">
</head>

<body class="header-fixed header-fixed-space-v2">

<div class="wrapper about-us">
    <div class="header-v8 header-sticky">
        <!-- Navbar -->
        <ul class="navbar mega-menu" role="navigation">
            <div class="navbar-brand">
                <a href="index2.html">
                    <img src="img/logo/logo1.png" alt="面料馆">
                </a>
            </div>
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="res-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div><!--/end responsive container-->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="res-container">
                        <ul class="nav navbar-nav nav-menu">
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="index2.html">
                                    首页
                                </a>
                            </li>
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="products-list2.html">
                                    面料
                                </a>
                            </li>
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="fabric-buy-list2.html">
                                    色卡
                                </a>
                            </li>
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="fabric-mls-list2.html">
                                    面料商
                                </a>
                            </li>
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="news-list.html">
                                    资讯
                                </a>
                            </li>
                            <li class="dropdown active">
                                <a href="about-us.html">
                                    关于面料馆
                                </a>
                            </li>
                            <li><a href="entry-process.html">入驻流程</a></li>
                        </ul>
                    </div>
                </div><!--/navbar-collapse-->
            </div>

            <ul class="nav navbar-nav nav-menu head-menu" style="display: none">
                <li><a href="#" class="font-normal">登录</a></li>
                <span style="color: #eee;margin-left: -10px;margin-right: -10px"> | </span>
                <li><a href="#" class="font-normal">注册</a></li>
            </ul>

            <ul class="nav navbar-nav nav-menu head-menu login-h-menu" style="display: block">
                <li class="dropdown" id="search-bar">
                    <i class="fa fa-search head-i" ></i>
                    <form class="search-form">
                        <span class="search-combobox">
                            <i class="fa fa-search search-i"></i>
                            <input type="text" placeholder="搜索" id="search">
                        </span>
                    </form>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        <i class="fa fa-bell head-i"></i>
                        <span class="count"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right message_tips">
                        <li class="clearfix message_tips_title">
                            <span class="font-bold">消息(1)</span>
                            <a href="#" class="pull-right">查看全部</a>
                        </li>
                        <li class="message_tip">
                            <a href="#" style="padding: 0;" class="clearfix">
                                <div class="pull-left" style="width: 40px">
                                    <img class="img-responsive" src="img/product/four/mls01.png">
                                </div>
                                <span class="pull-left margin-top-4">订单已发货</span>
                                <div class="pull-right margin-top-4">查看</div>
                            </a>
                        </li>
                        <li class="message_tip">
                            <a href="#" style="padding: 0;" class="clearfix">
                                <div class="pull-left" style="width: 40px">
                                    <img class="img-responsive" src="img/product/four/mls01.png">
                                </div>
                                <span class="pull-left margin-top-4">订单已发货</span>
                                <div class="pull-right margin-top-4">查看</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#">
                        <span class="font-normal">小小小</span>
                        <img src="img/product/four/mls01.png" class="img-circle">
                    </a>
                    <ul class="dropdown-menu personal">
                        <li><a href="my-pandect-fx.html">我的总览</a></li>
                        <li><a href="#">我的订单</a></li>
                        <li><a href="#">我的需求</a></li>
                        <li><a href="my-collect.html">我的收藏</a></li>
                        <li class="divider"></li>
                        <li><a href="#">我要认证</a></li>
                        <li><a href="set-user.html">设置中心</a></li>
                        <li><a href="help-center.html">帮助中心</a></li>
                        <li class="divider"></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
            </ul>
        </ul>
        <!-- End Navbar -->
    </div>

    <div class="breadcrumbs-v3 img-v3 text-center">
        <div class="container">
            <h1>时尚潮流·时尚面料</h1>
            <p>Discover more about us</p>
        </div><!--/end container-->
    </div>

    <div class="content-md container help-list">
        <div class="row">
            <div class="col-md-3 filter-by-block md-margin-bottom-60">
                <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                    <!-- 帮助中心 -->
                    <li class="list-group-item list-toggle ">
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-typography">帮助中心</a>
                        <ul id="collapse-typography" class="collapse ">
                            <li>
                                <a href="help-center.html">常见问题</a>
                            </li>
                            <li>
                                <a href="help-center1.html">服务保障</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End 帮助中心 -->

                    <!-- Buttons UI -->
                    <li class="list-group-item list-toggle active">
                        <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-buttons">法律协议</a>
                        <ul id="collapse-buttons" class="collapse in">
                            <li class="active"><a href="help-center2.html">用户协议</a></li>
                            <li>
                                <a href="#">入驻协议</a>
                            </li>
                        </ul>
                    </li>
                    <!-- End Buttons UI -->
                </ul>
            </div>

            <div class="col-md-9 help-content">
                <h2 class="font-bold">用户协议</h2>
                <div class="copyright-body">
                    <p>面料馆根据用户委托提供作品上传及传播等服务。为了保护网络版权、知识产权以及用户权益，每个用户有责任确保他们上传至面料馆网站上的资料不侵犯任何第三方的版权。</p>
                    <p>如果您认为面料馆用户在TVCBOOK所传播的视听内容侵犯了您的相关权益，请您向面料馆发出权利通知，面料馆将根据相关法律规定采取措施删除相关内容，您可以向面料馆所设立的专门接受版权投诉和接收侵权通知的邮箱发送通知书。</p>
                    <p>肖像和名誉的申诉，包括侵犯公民个人名誉权、肖像权的投诉；版权申诉，包括侵犯个人或单位的著作权、商标权等知识产权，请在线提交投诉资料，或发送邮件至：<a href="mailto:support@tvcbook.com">support@yiliaohui.com</a></p>
                    <p>相关版权资料邮寄至：广州市昌岗路富盈大厦<br>
                        邮编：200030</p>
                    <hr>
                    <p><span class="copyright-notice">申诉需知</span><br>
                        投诉方提供的资料应包含下列资料：<br>
                        1、权利人的姓名（名称）、联系方式、地址、身份证扫描件（自然人）、企业法人营业执照（单位）、法定代表人身份证明（单位）；<br>
                        2、要求删除或者断开链接的侵权作品的准确名称和网络地址，以便面料馆能够发现并初步审核涉嫌侵权作品；<br>
                        3、认为构成侵权的初步证明材料，包括但不限于对作品享有版权或依法享有信息网络传播权的权属证明，以及对涉嫌侵权作品侵权事实的举证。<br>
                        4、通知书需由权利人或其合法授权人亲笔签名，若为单位则需加盖单位公章。<br>
                        5、权利人应对通知书的真实性负责。若通知书的内容不真实，权利人将承担由此造成的全部法律责任。</p>
                    <hr>
                    <p>一旦收到符合上述要求之通知，我们将在合理时间内删除涉嫌侵权的作品。如不符合上述条件，我们会请阁下提供相应信息，且暂不采取删除等相应措施。</p>
                    <p>用户在面料馆上传作品则视为同意面料馆就上述情况所采取的相应措施，面料馆不因此承担任何违约责任或其他任何法律责任。面料馆在收到上述通知后会发送电子邮件通知上载作品的用户。对于多次上载涉嫌侵权作品的用户，我们将取消其用户资格。</p>
                </div>
            </div>
        </div><!--/end row-->
    </div>

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index.html"><img id="logo-footer" style="width: 130px" class="footer-logo" src="img/logo/logo2-1.png" alt=""></a>
                        <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero
                            tincidunt sodales.</p>
                        <p>Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat
                            non arcu.</p>
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>Latest Posts</h2></div>
                            <ul class="list-unstyled latest-list">
                                <li>
                                    <a href="#">Incredible content</a>
                                    <small>May 8, 2014</small>
                                </li>
                                <li>
                                    <a href="#">Best shoots</a>
                                    <small>June 23, 2014</small>
                                </li>
                                <li>
                                    <a href="#">New Terms and Conditions</a>
                                    <small>September 15, 2014</small>
                                </li>
                            </ul>
                        </div>
                    </div><!--/col-md-3-->
                    <!-- End Latest -->

                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="about-us.html">关于我们</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="contact-us.html">联系我们</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>联系我们</h2></div>
                        <address class="md-margin-bottom-40">
                            25, Lorem Lis Street, Orange <br/>
                            California, US <br/>
                            电话: 800 123 3456 <br/>
                            传真: 800 123 3456 <br/>
                            Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            2015 &copy; All Rights Reserved.
                            <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                                   data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script src="assets/plugins/jquery/jquery.min.js"></script>
<script src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="assets/plugins/back-to-top.js"></script>
<script src="assets/plugins/smoothScroll.js"></script>
<script src="assets/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
<script src="assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
<!-- JS Customization -->
<script src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script src="assets/js/shop.app.js"></script>
<script src="assets/js/app.js"></script>
<script src="assets/js/plugins/mouse-wheel.js"></script>
<script src="assets/js/plugins/style-switcher.js"></script>
<script type="text/javascript" src="assets/js/plugins/owl-carousel.js"></script>
<script>
    jQuery(document).ready(function () {
        MouseWheel.initMouseWheel();
        OwlCarousel.initOwlCarousel();
        StyleSwitcher.initStyleSwitcher();
        App.init();
    });

    /*头部个人信息鼠标经过显示*/
    $(".dropdown-toggle").hover(function () {
        $(this).next().show();
    },function () {
        $(this).next().hide();
    });
    $(".dropdown-menu").hover(function () {
        $(this).show();
    },function () {
        $(this).hide();
    });

    /*点击搜索弹出搜索框*/
    $("#search-bar").click(
            function () {
                $(".search-form").css("width","190");
                $("#search").focus();
            }
    );
    $("#search").blur(function () {
        $(".search-form").css("width","0");
    });
</script>
<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->
<!--[if lt IE 10]>
<script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
<![endif]-->

</body>
</html>
