<extend name="Public:base-v8" />
<block name="title"><title>帮助中心</title></block>
<block name="plugins_css">
</block>
<block name="css">
    <style>
        .breadcrumbs-v3.img-v3 {
            background: url(__TMPL__assets/img/about-us/02.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
        }
        /*帮助中心*/
        .help-list .sidebar-nav-v1 > li > a{
            color: #333;
            font-size: 16px;
            padding: 12px 30px 12px 10px;
        }
        .help-list .sidebar-nav-v1 li ul a{
            font-size: 14px;
            background: #fff;
            padding: 10px 30px 10px 17px;
        }
        .help-list .list-toggle:after{
            top:12px;
        }
        .help-list .list-toggle.active:after{
            color: #333;
        }
        .help-list .sidebar-nav-v1 > li.active > a{
            color: #333;
        }
        .help-list .sidebar-nav-v1 > li.active{
            background: #f8f8f8;
        }
        .help-list .sidebar-nav-v1 li.active ul a{
            background: #fff;
        }
        .help-content > h2{
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 10px;
        }
        .help-content{
             border: 1px solid #e0e0e0;
            padding: 15px 20px;
        }
        .breadcrumbs-v3:before{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: " ";
            position: absolute;
            background: rgba(0,0,0,0.5);
        }
    </style>
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v3 img-v3 text-center">
        <div class="container" style="position: relative;">
            <h1>时尚潮流·时尚面料</h1>
            <p>Discover more about us</p>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="content container help-list">
        <div class="row">
            <tc_include file="Public:help-sidebar"/>

            <div class="col-md-9 help-content">
                <h2 class="font-bold">常见问题</h2>
                <ul>
                    <li class="margin-bottom-40">
                        <h5 class="font-bold margin-top-15">
                            <i class="fa fa-question-circle" style="font-size: 20px;vertical-align: bottom;color: #E6125D"></i>
                            如何注册登录面料馆？
                        </h5>
                        <p>答：您可点击导航栏【登录】按钮，使用微信扫一扫进行注册登录，同时可进行手机绑定。</p>
                    </li>
                    <li class="margin-bottom-40">
                        <h5 class="font-bold margin-top-15">
                            <i class="fa fa-question-circle" style="font-size: 20px;vertical-align: bottom;color: #E6125D"></i>
                            如何寻找您所需要的面料？
                        </h5>
                        <p>答：方式1：点击选择搜索栏下方的【面料】选项，在搜索栏中输入您索要找的面料关键字，点击【搜索】按钮完成搜索。
                                <br>方式2：您可使用面料产品页面的筛选功能进行类别筛选。</p>
                    </li>
                    <li class="margin-bottom-40">
                        <h5 class="font-bold margin-top-15">
                            <i class="fa fa-question-circle" style="font-size: 20px;vertical-align: bottom;color: #E6125D"></i>
                            如何发布面料购买需求？
                        </h5>
                        <p>答：您可从【首页】或【我的需求】中的【发布需求】进入发布需求页面，填写对应的信息并发布；符合条件的供应商会与您联系并做对应的报价，您可选择您最心仪的最后达成交易。</p>
                    </li>
                    <li class="margin-bottom-40">
                        <h5 class="font-bold margin-top-15">
                            <i class="fa fa-question-circle" style="font-size: 20px;vertical-align: bottom;color: #E6125D"></i>
                            如何进行面料大货购买？如何拼单？
                        </h5>
                        <p>答：在面料详情页，如存在【拼单】按钮说明该面料商这款面料可以进行拼单。点击进入拼单页面，您可参与已有拼单或新创建拼单，完善对应拼单信息并付款之后即可完成参与或创建拼单，在有效期内如果拼单数量达到面料商设定的最低拼单数量则该面料商进行对应面料的生产并分别发货，最后完成您面料大货购买的需求。如果到期时拼单失败，则货款将自动原路返还。</p>
                    </li>
                    <li class="margin-bottom-40">
                        <h5 class="font-bold margin-top-15">
                            <i class="fa fa-question-circle" style="font-size: 20px;vertical-align: bottom;color: #E6125D"></i>
                            如何申请入驻，成为面料馆平台的供应商？
                        </h5>
                        <p>答：您可通过首页的【申请入驻】或者用户菜单中的【我要认证】进入面料馆认证页面，完善需要填写的资料后提交申请，面料馆审核通过后即可成功入驻。</p>
                    </li>
                    <li class="margin-bottom-40">
                        <h5 class="font-bold margin-top-15">
                            <i class="fa fa-question-circle" style="font-size: 20px;vertical-align: bottom;color: #E6125D"></i>
                            面料商如何设计和制作设卡？
                        </h5>
                        <p>答：首先您要进入面料商后台，在【色卡管理】页面点击【添加色卡】按钮进行色卡的设计制作，电子色卡定稿之后即可下单，您付款之后面料馆根据您的订单立即帮您制作实物色卡并进行配送。</p>
                    </li>
                    <li class="margin-bottom-40">
                        <h5 class="font-bold margin-top-15">
                            <i class="fa fa-question-circle" style="font-size: 20px;vertical-align: bottom;color: #E6125D"></i>
                            添加面料商为好友有什么用？如何添加？
                        </h5>
                        <p>答：在某一面料商主页，您可通过【申请好友】按钮进行好友申请，该面料商同意您就可以成为其好友了，您就可以查看其更多的【私密面料】，该面料商如有优惠活动等都可第一时间通知到您。</p>
                    </li>
                    <li class="margin-bottom-40">
                        <h5 class="font-bold margin-top-15">
                            <i class="fa fa-question-circle" style="font-size: 20px;vertical-align: bottom;color: #E6125D"></i>
                            面料商如何邀请好友？如何添加好友？如何管理好友？
                        </h5>
                        <p>答：在面料商后台，您可通过【好友管理】页面下实现好友的邀请和好友的添加。有三个邀请方式：1、分享您的专属链接；2、通过好友手机进行邀请；3、通过好友邮箱进行邀请。您可从订单中添加好友，只要在您店铺里下过单的都可添加为好友。您可在【我的好友】下进行发送消息、删除好友、设置好友等级。</p>
                    </li>
                    <li class="margin-bottom-40">
                        <h5 class="font-bold margin-top-15">
                            <i class="fa fa-question-circle" style="font-size: 20px;vertical-align: bottom;color: #E6125D"></i>
                            面料商如何设置私密面料？
                        </h5>
                        <p>答：产品管理中心，进入某一面料的编辑页面，设置该面料是否为私密面料，也可设私密等级，默认为三级。</p>
                    </li>
                </ul>
            </div>
        </div><!--/end row-->
    </div>
</block>