<extend name="Public:base-v8" />
<block name="title"><title>帮助中心</title></block>
<block name="plugins_css">
</block>
<block name="css">
    <style>
        .breadcrumbs-v3.img-v3 {
            background: url(__TMPL__assets/img/about-us/02.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
        }
        /*帮助中心*/
        .help-list .sidebar-nav-v1 > li > a{
            color: #333;
            font-size: 16px;
            padding: 12px 30px 12px 10px;
        }
        .help-list .sidebar-nav-v1 li ul a{
            font-size: 14px;
            background: #fff;
            padding: 10px 30px 10px 17px;
        }
        .help-list .list-toggle:after{
            top:12px;
        }
        .help-list .list-toggle.active:after{
            color: #333;
        }
        .help-list .sidebar-nav-v1 > li.active > a{
            color: #333;
        }
        .help-list .sidebar-nav-v1 > li.active{
            background: #f8f8f8;
        }
        .help-list .sidebar-nav-v1 li.active ul a{
            background: #fff;
        }
        .help-content > h2{
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 10px;
        }
        .help-content{
            border: 1px solid #e0e0e0;
            padding: 15px 20px;
        }
        .help-content > div > p{
            text-indent: 20pt;
        }
        .help-content .right-list li > div{
            padding: 20px;
        }
        .help-content .right-list li > span{
            display: block;
            margin-top: -25px;
        }
        .breadcrumbs-v3:before{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: " ";
            position: absolute;
            background: rgba(0,0,0,0.5);
        }
    </style>
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v3 img-v3 text-center">
        <div class="container" style="position: relative;">
            <h1>时尚潮流·时尚面料</h1>
            <p>Discover more about us</p>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="content container help-list">
        <div class="row">
            <tc_include file="Public:help-sidebar"/>

            <div class="col-md-9 help-content">
                <h2 class="font-bold">服务保障</h2>
                <div class="copyright-body">
                    <p>面料馆严格把控面料供应渠道，与顶级商家强强联合，提供品类齐全商品的同时保证交易商品的品质。面料馆采用担保交易服务，买家在支付货款完成在线交易后，货款并不直接付给卖家，而是存放在面料馆平台，等买家收到货确认无误后，再由卖家提现，确保公平合理地保证买卖双方的安全和利益。与知名物流公司合作，保证运输安全的同时实现极速配送。提供全天候优质客户服务，产品经专人检测后发货，如有质量问题随时咨询退换。</p>
                   
                </div>
                <ul class="right-list clearfix row">
                    <li class="col-md-2 text-center" style="padding-left: 15px;">
                        <div>
                            <img class="img-responsive" src="__TMPL__assets/img/help/01-01.jpg">
                        </div>
                        <span>正品保证</span>
                    </li>
                    <li class="col-md-2 text-center">
                        <div>
                            <img class="img-responsive" src="__TMPL__assets/img/help/02-01.jpg">
                        </div>
                        <span>顶级商家</span>
                    </li>
                    <li class="col-md-2 text-center">
                        <div>
                            <img class="img-responsive" src="__TMPL__assets/img/help/04-01.jpg">
                        </div>
                        <span>类品齐全</span>
                    </li>
                    <li class="col-md-2 text-center">
                        <div>
                            <img class="img-responsive" src="__TMPL__assets/img/help/05-01.jpg">
                        </div>
                        <span>担保交易</span>
                    </li>
                    <li class="col-md-2 text-center">
                        <div>
                            <img class="img-responsive" src="__TMPL__assets/img/help/03-01.jpg">
                        </div>
                        <span>极速配送</span>
                    </li>
                    <li class="col-md-2 text-center">
                        <div>
                            <img class="img-responsive" src="__TMPL__assets/img/help/06-01.jpg">
                        </div>
                        <span>售后无忧</span>
                    </li>
                </ul>
            </div>
        </div><!--/end row-->
    </div>
</block>