<extend name="Public:base-v8" />
<block name="title"><title>面料求购列表</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/line-icons-pro/styles.css">

    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/plugins/style-switcher.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/page_search.css">
</block>
<block name="css">
    <style>
        /*面料馆资讯*/
        .blog-grid h3 a:hover{
            color: #E6125D;
            text-decoration: underline;
        }
        .blog-grid a.r-more{
            color: #E6125D;
            font-style: inherit;
        }
        .filter-results{
            border-top-color: #fff;
        }
        .new-detail .filter-results{
            border-bottom-color:#fff ;
        }
        .blog-grid p,.blog-thumb .blog-thumb-desc h3{
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
        .title-v4{
            font-size: 20px;
            border-color: #E6125D;
        }
        .blog-thumb .blog-thumb-hover:hover:after{
            background: none;
        }
        .blog-thumb .blog-thumb-desc h3 a{
            color: #999;
        }
        .blog-thumb{
            border-bottom: 1px dashed #e0e0e0 !important;
            padding-bottom: 10px;
        }
        .blog-thumb:last-child{
            border: none !important;
        }
        .blog-thumb-desc > a:hover{
            text-decoration: underline;
        }
        .blog-thumb-desc > a{
            display: block;
            float: left;
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
        .blog-thumb .blog-thumb-desc,.blog-thumb .blog-thumb-info li{
            font-size: 14px;
        }
        .content_detail{
            font-size: 14px;
            line-height: 24px;
            text-indent: 2em;
        }
        .new_wrap{
            padding: 0 30px;
        }
        .content_detail p{
            margin-bottom: 10px;
        }
    </style>
</block>
<block name="main">
    <!--=== Content Part ===-->
    <div class="">
        <div class="content container new-detail">

            <div class="product-list filter-results">
                <div class="row">
                    <div class="col-md-9 md-margin-bottom-50">
                        <div class="new_wrap">
                            <div class="text-center">
                                <h1 class="font-bold">{$post_title}</h1>
                                <p class="color-999">
                                    <span class="margin-right-20">{:date('m月d日  H:i',strtotime($post_date))}</span>
                                    <span>来源：{$user_nicename|default=$user_login}</span>
                                </p>
                            </div>
                            <div class="content_detail">
                                {$post_content}
                            </div>
                            <div class="margin-bottom-30 g-mt-30">
                            <if condition="!empty($prev)">
                                <a href="{:leuu('article/index',array('id'=>$prev['object_id'],'cid'=>$prev['term_id']))}" class="btn btn-u pull-left">上一篇</a>
                            </if>
                            <if condition="!empty($next)">
                                <a href="{:leuu('article/index',array('id'=>$next['object_id'],'cid'=>$next['term_id']))}" class="btn btn-u pull-right">下一篇</a>
                            </if>
                            <div class="clearfix"></div>
                        </div>
                        </div>
                    </div>

                    <tc_include file="Public:sidebar"/>
                </div>
            </div>
            <!--/end row-->
        </div><!--/end container-->
    </div>
    <!--=== End Content Part ===-->
</block>
<block name="plugins_js">
    <script src="__Public__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__Public__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- JS Customization -->
    <script src="__Public__/u/js/custom.js"></script>
    <!-- JS Page Level -->
    <script src="__Public__/u/js/shop.app.js"></script>
    <script src="__Public__/u/js/plugins/mouse-wheel.js"></script>
    <script src="__Public__/u/js/plugins/style-switcher.js"></script>
</block>
<block name="js">
    <script>
    jQuery(document).ready(function () {
        MouseWheel.initMouseWheel();
        StyleSwitcher.initStyleSwitcher();
    });

    /*头部个人信息鼠标经过显示*/
    $(".head-menu .dropdown-toggle").hover(function () {
        $(".head-menu .dropdown-menu").show();
    },function () {
        $(".head-menu .dropdown-menu").hide();
    });
    $(".dropdown-menu").hover(function () {
        $(this).show();
    },function () {
        $(this).hide();
    });
    </script>
</block>