<extend name="Public:base-v8" />
<block name="title"><title>面料求购列表</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/line-icons-pro/styles.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">

    <!-- Style Switcher -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/plugins/style-switcher.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/page_search.css">
</block>
<block name="css">
    <style>
        /*面料馆资讯*/
        .blog-grid h3 a:hover{
            color: #E6125D;
            text-decoration: underline;
        }
        .blog-grid a.r-more{
            color: #E6125D;
            font-style: inherit;
        }
        .filter-results{
            border-top-color: #fff;
        }
        .new-detail .filter-results{
            border-bottom-color:#fff ;
        }
        .blog-grid p,.blog-thumb .blog-thumb-desc h3{
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
        .title-v4{
            font-size: 20px;
            border-color: #E6125D;
        }
        .blog-thumb .blog-thumb-hover:hover:after{
            background: none;
        }
        .blog-thumb .blog-thumb-desc h3 a{
            color: #999;
        }
        .blog-thumb{
            border-bottom: 1px dashed #e0e0e0 !important;
            padding-bottom: 10px;
        }
        .blog-thumb:last-child{
            border: none !important;
        }
        .blog-thumb-desc > a:hover{
            text-decoration: underline;
        }
        .blog-thumb-desc > a{
            display: block;
            float: left;
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
        .blog-thumb .blog-thumb-desc,.blog-thumb .blog-thumb-info li{
            font-size: 14px;
        }
        .content_detail{
            font-size: 14px;
            line-height: 24px;
            text-indent: 2em;
        }
        .new_wrap{
            padding: 0 30px;
        }
        .content_detail p{
            margin-bottom: 10px;
        }
    </style>
</block>
<block name="breadcrumbs">
    <!--<div class="breadcrumbs breadcrumbs-light">
        <div class="container">
            <h1 class="pull-left">{$name}</h1>
        </div>
    </div>-->
    <div class="breadcrumbs-v4">
		<div class="container">
			<span class="page-name">面料馆资讯</span>
			<ul class="breadcrumb-v4-in">
				<li><a href="__ROOT__/">首页</a></li>
				<li class="active">面料馆资讯</li>
			</ul>
		</div><!--/end container-->
	</div>
</block>
<block name="main">
    <div class="">
        <div class="content container">
        <php>
            $lists = ad_sql_posts_paged("path:$cat_id;order:listorder ASC,post_date DESC;",10);
        </php>
            <div class="product-list filter-results">
                <div class="row">
                    <div class="col-md-9 md-margin-bottom-50">
                        <!-- Blog Grid -->
                    <volist name="lists['posts']" id="vo" mod="4">
                    <php>
                        $smeta=json_decode($vo['smeta'], true);
                    </php>
                        <div class="row margin-bottom-50">
                        <notempty name="smeta[thumb]">
                            <div class="col-sm-4 sm-margin-bottom-20">
                                <img class="img-responsive" src="{:get_thumb_url($smeta['thumb'], true)}" alt="">
                            </div>
                            <div class="col-sm-8">
                        <else />
                            <div class="col-sm-12">
                        </notempty>
                                <div class="blog-grid">
                                    <h3><a href="{:leuu('article/index',array('id'=>$vo['object_id'],'cid'=>$vo['term_id']))}">{$vo.post_title}</a></h3>
                                    <ul class="blog-grid-info">
                                        <li>万利纺织</li>
                                        <li>{:date('m月d日  H:i',strtotime($vo['post_date']))}</li>
                                        <li><a href="#"><i class="fa fa-comments"></i> 0</a></li>
                                    </ul>
                                    <p>{$vo.post_excerpt|msubstr=0,256}</p>
                                    <a class="r-more" href="{:leuu('article/index',array('id'=>$vo['object_id'],'cid'=>$vo['term_id']))}">阅读更多</a>
                                </div>
                            </div>
                        </div>
                        <!-- End Blog Grid -->
                    </volist>
                    </div>

                    <tc_include file="Public:sidebar"/>
                </div>
            </div>

            <div class="text-center">
                    <ul class="pagination pagination-v2">{$lists['page']}</ul>
            </div>

            <!--/end row-->
        </div><!--/end container-->
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- JS Customization -->
    <script src="__PUBLIC__/u/js/custom.js"></script>
    <!-- JS Page Level -->
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script src="__PUBLIC__/u/js/plugins/style-switcher.js"></script>
</block>
<block name="js">
    <script>
    jQuery(document).ready(function () {
        MouseWheel.initMouseWheel();
        StyleSwitcher.initStyleSwitcher();
    });

    /*头部个人信息鼠标经过显示*/
    $(".head-menu .dropdown-toggle").hover(function () {
        $(".head-menu .dropdown-menu").show();
    },function () {
        $(".head-menu .dropdown-menu").hide();
    });
    $(".dropdown-menu").hover(function () {
        $(this).show();
    },function () {
        $(this).hide();
    });
    </script>
</block>

