<extend name="Admin:base-v2" />
<block name="css"></block>
<block name="main">
    <div class="container-fluid content-xs">
        <php>
            $types = D('BizAuth')->types;
            $statuses = D('BizAuth')->statuses;
        </php>
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <php>$active = !isset($_GET['status']) ? 'active':'';</php>
                <li class="{$active}"><a href="{:U('index')}">所有</a></li>
                <foreach name="statuses" item="vo">
                    <php>$active = isset($_GET['status']) && $_GET['status'] == $key ? 'active':'';</php>
                    <li class="{$active}"><a href="{:U('index',array('status'=>$key))}">{$vo}</a></li>
                </foreach>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <notpresent name="_REQUEST[status]">
                    <div class="panel panel-default margin-bottom-40">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-tasks"></i> 筛选</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline form-search" method="get" action="{:U('index')}">
                                <div class="form-group">
                                    <label>认证类型</label>
                                    <select name="filter[type]" class="form-control">
                                    <option value="">所有类型</option>
                                        <foreach name="types" item="vo">
                                            <php>$selected = $filter['type'] == $key ? 'selected':'';</php>
                                            <option value="{$key}" {$selected}>{$vo}</option>
                                        </foreach>
                                    </select>
                                </div>&nbsp;&nbsp;
                                <div class="form-group">
                                    <label>申请时间</label>
                                    <input id="data-start" type="text" name="filter[datestart]" class="form-control" value="{$filter.datestart}" placeholder="开始日期">
                                </div>
                                <div class="form-group">
                                    <label>-</label>
                                    <input id="data-finish" type="text" name="filter[datefinish]" class="form-control" value="{$filter.datefinish}" placeholder="截止日期">
                                </div>
                                <button type="submit" class="btn-u btn-u-red">搜索</button>
                                <a class="btn-u btn-u-default" href="{:U('index')}">清空</a>
                            </form>
                        </div>
                    </div>
                    </notpresent>
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th width="30">ID</th>
                            <th>商家名称</th>
                            <th>负责人</th>
                            <th>组织</th>
                            <th>地区</th>
                            <th>类型</th>
                            <th>状态</th>
                            <th>申请时间</th>
                            <th width="120">{:L('ACTIONS')}</th>
                        </tr>
                        </thead>
                        <tbody>

                        <foreach name="list[data]" item="vo">
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.auth_shop_name}</td>
                                <td>{$vo.auth_fullname}</td>
                                <td>{$vo.auth_company}</td>
                                <td>
                                    {$vo.auth_province_name}
                                    {$vo.auth_city_name}
                                    {$vo.auth_district_name}
                                </td>
                                <td>{$types[$vo[auth_type]]}</td>
                                <td>{$statuses[$vo[auth_status]]}</td>
                                <td>{$vo.auth_apply_time}</td>
                                <td>
                                    <a href='{:U("view",array("id"=>$vo["id"]))}'>查看</a>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <div class="pagination">{$list.page}</div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
</block>
<block name="js">
    <script>
        // Date range
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });
    </script>
</block>