<extend name="Admin:base-v2" />
<block name="css"></block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:void(0)">查看认证信息</a></li>
                <li><a href="javascript:history.back(-1)">返回</a></li>
            </ul>
            <php>
                $types = D('BizAuth')->types;
                $statuses = D('BizAuth')->statuses;
            </php>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-bordered" style="margin-bottom:0;">
                        <tr>
                            <th style="width:200px;">商家ID</th>
                            <td>{$auth.member_id}</td>
                        </tr>
                        <tr>
                            <th>商家名称</th>
                            <td>{$auth.auth_shop_name}</td>
                        </tr>
                        <tr>
                            <th>负责真实姓名人</th>
                            <td>{$auth.auth_fullname}</td>
                        </tr>
                        <tr>
                            <th>组织</th>
                            <td>{$auth.auth_company}</td>
                        </tr>
                        <tr>
                            <th>地区</th>
                            <td>
                                {$auth.auth_province_name}
                                {$auth.auth_city_name}
                                {$auth.auth_district_name}
                            </td>
                        </tr>
                        <tr>
                            <th>地址</th>
                            <td>{$auth.auth_address}</td>
                        </tr>
                        <tr>
                            <th>类型</th>
                            <td><php>echo $types[$auth['auth_type']];</php></td>
                        </tr>
                        <eq name="auth[auth_type]" value="1">
                            <tr>
                                <th>营业执照</th>
                                <td>
                                    <img src="{:get_thumb_url($auth[auth_photo_licence],true,150)}">
                                </td>
                            </tr>
                            <else />
                            <tr>
                                <th>身份证正面扫描件</th>
                                <td>
                                    <img src="{:get_thumb_url($auth[auth_photo_idcard],true,150)}">
                                </td>
                            </tr>
                            <tr>
                                <th>身份证反面扫描件</th>
                                <td>
                                    <img src="{:get_thumb_url($auth[auth_photo_idcard_back],true,150)}">
                                </td>
                            </tr>
                        </eq>
                        <tr>
                            <th>状态</th>
                            <td>
                                <php>$status = $statuses[$auth['auth_status']];</php>
                                <eq name="auth[auth_status]" value="0">
                                    <span class="label label-warning">{$status}</span>
                                </eq>
                                <eq name="auth[auth_status]" value="1">
                                    <span class="label label-success">{$status}</span>
                                </eq>
                                <eq name="auth[auth_status]" value="2">
                                    <span class="label label-info">{$status}</span>
                                </eq>
                                <eq name="auth[auth_status]" value="3">
                                    <span class="label label-danger">{$status}</span>
                                </eq>
                            </td>
                        </tr>
                        <tr>
                            <th>操作</th>
                            <td>
                                <in name="auth[auth_status]" value="1,2">
                                    <form id="operate-form" class="sky-form" method="post" action="{:U('operate_post')}" style="border:none;">
                                        <section>
                                            <label class="textarea">
                                                <textarea rows="3" name="action_note" placeholder="原因"></textarea>
                                            </label>
                                            <div class="note"><strong>注意:</strong>撤销认证需要注明原因</div>
                                        </section>
                                        <input type="hidden" name="id" value="{$auth.id}">
                                        <eq name="auth[auth_status]" value="2">
                                            <button class="btn-u btn-u-green" type="submit" name="act" value="pass">通过审核</button>
                                            <button class="btn-u btn-u-danger" type="submit" name="act" value="nopass">驳回审核</button>
                                        <else />
                                            <button class="btn-u btn-u-danger" type="submit" name="act" value="revoke">撤销认证</button>
                                        </eq>
                                    </form>
                                </in>
                            </td>
                        </tr>
                    </table>
                    <table class="table table-bordered" style="margin-top:-1px;">
                        <thead>
                        <tr>
                            <th class="text-center" colspan="5">操作记录</th>
                        </tr>
                        <tr>
                            <th>类型</th>
                            <th>状态</th>
                            <th>操作员</th>
                            <th>备注</th>
                            <th>时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="logs" item="vo">
                            <tr>
                                <td>{$types[$vo[type]]}</td>
                                <td>
                                    <php>$status = $statuses[$vo['status']];</php>
                                    <eq name="vo[status]" value="0">
                                        <span class="label label-warning">{$status}</span>
                                    </eq>
                                    <eq name="vo[status]" value="1">
                                        <span class="label label-success">{$status}</span>
                                    </eq>
                                    <eq name="vo[status]" value="2">
                                        <span class="label label-info">{$status}</span>
                                    </eq>
                                    <eq name="vo[status]" value="3">
                                        <span class="label label-danger">{$status}</span>
                                    </eq>
                                </td>
                                <td>
                                    <eq name="vo[operator]" value="$vo[user_id]">
                                        本人
                                        <else />
                                        {$vo[nickname]|default=$vo[user_login]}
                                    </eq>
                                </td>
                                <td>{$vo[action_note]}</td>
                                <td>{$vo[log_time]}</td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $('#operate-form').ajaxForm();
        })
    </script>
</block>