<admintpl file="header" />
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
	        <li><a href="{:U('AdminTfTerm/index')}">分类管理</a></li>
	        <li class="active"><a href="javascripts:;" >添加分类</a></li>
	       
	    </ul>
		<form class="form-horizontal js-ajax-form" action="{:U('AdminTfTerm/add_post')}" method="post">
			<div class="tabbable">
		        <div class="tab-content">
		          <div>
						<fieldset>
							<div class="control-group">
								<label class="control-label">{:L('NAME')}</label>
								<div class="controls">
									<input type="text" name="name" value=""><span class="form-required">*</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">{:L('CATEGORY_DESCRIPTION')}</label>
								<div class="controls">
									<textarea name="description" rows="5" cols="57"></textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">{:L('CATEGORY_TYPE')}</label>
								<div class="controls">
									<select name="taxonomy">
										<foreach name="taxonomys" item="vo">
								        	<option value="{$key}">{$vo}</option>
										</foreach>
									</select>
								</div>
							</div>
						</fieldset>
		          </div>
		          
		        </div>
		    </div>
		    <div class="form-actions">
		     	<button class="btn btn-primary js-ajax-submit"type="submit">{:L('ADD')}</button>
		      	<a class="btn" href="javascript:history.back(-1);">{:L('BACK')}</a>
		    </div>
		</form>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
</body>
</html>