<admintpl file="header" />
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('AdminTfTerm/index')}">分类管理</a></li>
			<li><a href="{:U('AdminTfTerm/add')}">添加分类</a></li>
		</ul>
		<form method="post" class="js-ajax-form" action="{:U('AdminTerm/listorders')}">
			<div class="table-actions">
				<button type="submit" class="btn btn-primary btn-small js-ajax-submit">{:L('SORT')}</button>
			</div>
			<table class="table table-hover table-bordered table-list">
				<thead>
					<tr>
						<th width="50">{:L('SORT')}</th>
						<th width="50">ID</th>
						<th>{:L('NAME')}</th>
						<th>分类类型</th>
						<th>分类描述</th>
						<th>{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					<foreach name="tf_trem_list" item="vo">
					<tr>
						<td><input name='listorders[{$vo.tf_term_id}]' type='text' size='3' value='{$vo.listorder}' class='input input-order'></td>
						<td>{$vo.tf_term_id}</td>
						<td>{$vo.name}</td>
						<td>{$vo.taxonomy}</td>
						<td>{$vo.description}</td>
						<td><a href="{:U('AdminTfTerm/edit',array('id'=>$vo['tf_term_id']))}">{:L('EDIT')}</a> | 
						<a href="{:U('AdminTfTerm/delete',array('id'=>$vo['tf_term_id']))}" class="js-ajax-delete">{:L('DELETE')}</td>
					</tr>
					</foreach>
				</tbody>
				<tfoot>
					<tr>
						<th width="50">{:L('SORT')}</th>
						<th width="50">ID</th>
						<th>{:L('NAME')}</th>
						<th>分类类型</th>
						<th>分类描述</th>
						<th>{:L('ACTIONS')}</th>
					</tr>
				</tfoot>
			</table>
			<div class="table-actions">
				<button type="submit" class="btn btn-primary btn-small js-ajax-submit">{:L('SORT')}</button>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>