#tabs {width:424px;margin: auto;}
/*#tabs .tab-content {position:relative;width:100%;padding:0 0 106.3829787234043% 0;font-size:20px;}
#tabs .tab-pane {position:absolute;width:18.8em;height:20em;}*/
#tabs .tab-content {position:relative;width:100%;padding:0;font-size:20px;}
#tabs .tab-pane {position:absolute;}

#tabs .nav-tabs {float:left;width:85%;height:36.5px;overflow:hidden;}
.tab-prev,.tab-next,.tab-remove {
    float: left;
    position: relative;
    display: block;
    width: 5%;
    border: 1px solid transparent;
    text-align: center;
    font-size: 21px;
}
.tab-prev:hover,.tab-next:hover,.tab-remove:hover {text-decoration: none;}

.has-bg {background-repeat: no-repeat;background-position: center;background-size: cover;}
.tab-pane .has-bg button {display:none;margin-top:45%;}
.tab-pane .has-bg:hover button {display:inline-block;}