<volist name="list[data]" id="vo">
    <php>$tpl = M("Colorcard_tpl")->where(array('tpl_id'=>$vo['card_tpl']))->find();</php>
                <li class="sk-item">
                    <div class="sk-i-title clearfix">
                        <div class="sk-cover-img">
                            <a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id],'show_type'=>$tpl['show_type']))}">
                                <img class="lazyload img-responsive" src="{:get_thumb_url($vo[frontcover],true,150)}" style="height:88px;margin:0 auto;">
                            </a>
                        </div>
                        <div class="sk-info">
                            <div class="sk-text" style="position: relative;">
                                <p class="sk-name"><a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id],'show_type'=>$tpl['show_type']))}">{$vo.card_name}</a></p>
                                <p class="sk-shop">面料商：{$vo.biz_name}</p>
                                <a href="{:leuu('Colorcard/Index/view',array('id'=>$vo[card_id],'show_type'=>$tpl['show_type']))}">
                                <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                            <div class="sk-ml">
                                <php>$c=0;</php>
                                <ul>
                                    <foreach name="vo[pages]" item="page">
                                        <php>if($c > 3) break;</php>
                                        <foreach name="page[items]" item="goods">
                                            <php>
                                                $c++;
                                                if($c > 3) break;
                                            </php>
                                            <li>
                                                <a href="{:leuu('Tf/Tf/fabric',array('id'=>$goods[tf_id]))}">
                                                    <img class="lazyload img-responsive" src="{:get_thumb_url($goods[tf][img][thumb],true,80)}" alt="">
                                                </a>
                                            </li>
                                        </foreach>
                                    </foreach>
                                    <php>unset($c);</php>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </volist>