<extend name="Public:base-v8" />
<block name="title"><title>拼单 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="css">
    <style>
        .shop-product {background:#fff;}
        .shop-product .product-quantity {float:none;}

        .sky-form .radio.product-size,
        .sky-form .radio.product-color {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            padding: 0;
        }
        .sky-form .radio.product-size {
            width: auto;
        }
        .sky-form .radio.product-size input + i,
        .sky-form .radio.product-color input + i {
            position: relative;
            border: 2px solid #ddd;
            border-radius: 0;
            width: 50px;
            height: 50px;
            background-size: contain;
            font-size: 18px;
            font-style: normal;
            line-height: 50px;
        }
        .sky-form .radio.product-size input + i {
            width: auto;
            padding: 0 15px;
        }
        .sky-form .radio.product-size input:checked + i,
        .sky-form .radio.product-color input:checked + i {
            border-color: #E6125D;
            color: #E6125D;
        }
        .sky-form .radio.product-size input:checked + i:after,
        .sky-form .radio.product-color input:checked + i:after {
            display:none;
        }
        .total-result p {font-size:16px;}
        .total-result p span {font-size:16px;margin-left:10px;}
        
        .groups {
            padding:20px;
            background: #f7f7f7;
        }
        .order-group {
            padding:15px;
            background: #fff;
        }
        .order-group:last-child {
            margin-bottom: 0;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">拼单</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li class="active">拼单</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="heading heading-v4 margin-bottom-20">
                    <h2>选择一个拼单</h2>
                </div>
                <div class="groups margin-bottom-20">
                    <volist name="groups" id="vo">
                        <php>
                            $finish_percent = number_format((float)$vo['paid_goods_number']/(float)$vo['min_charge'] * 100,2);
                            $delta = get_delta_time($vo['expire_date']);
                        </php>
                        <div class="order-group margin-bottom-20">
                            <h3 class="heading-xs">{$vo.group_sn} <span class="pull-right">{$finish_percent}%</span></h3>
                            <div class="progress progress-u progress-xxs">
                                <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="{$finish_percent}" aria-valuemin="0" aria-valuemax="100" style="width: {$finish_percent}%">
                                </div>
                            </div>
                            <ul class="list-inline blog-info-v2">
                                <li>
                                    <span><strong>{:count($vo[orders])}</strong>个用户已下单</span>
                                </li>
                                <gt name="vo[paid_goods_number]" value="0">
                                    <li>
                                        <span><strong>{$vo.paid_user_number}</strong>个用户已付款<strong>{$vo.paid_goods_number}{$vo.goods_unit}</strong></span>
                                    </li>
                                </gt>
                                <li>
                                    <egt name="vo[paid_goods_number]" value="$vo[min_charge]">
                                        已成团
                                        <else />
                                        <span>成团还需购买<strong>{$vo[min_charge]-$vo[paid_goods_number]}{$vo.goods_unit}</strong></span>
                                    </egt>
                                </li>
                                <li>
                                    <gt name="delta[day]" value="0">
                                        <span>剩余<strong>{$delta[day]}</strong>天</span>
                                        <else />
                                        <gt name="delta[hour]" value="0">
                                            <span>剩余<strong>{$delta[hour]}</strong>小时</span>
                                            <else />
                                            <gt name="delta[minute]" value="0">
                                                <span>剩余<strong>{$delta[minute]}</strong>分钟</span>
                                                <else />
                                                <gt name="delta[second]" value="0">
                                                    <span>剩余<strong>{$delta[second]}</strong>秒</span>
                                                    <else />
                                                    已过期
                                                </gt>
                                            </gt>
                                        </gt>
                                    </gt>
                                </li>
                                <php>
                                    $expire_time = strtotime($vo['expire_date']);
                                </php>
                                <gt name="expire_time" value="{:time()}">
                                    <li class="pull-right">
                                    <a href="{:leuu('group_order',array('sku_id'=>$vo[goods_sku_id],'group_id'=>$vo[id]))}" class="btn-u btn-u-xs rounded">参加拼单</a>
                                </li>
                                <else/>
                                    <li class="pull-right">
                                    <a href="#" class="btn-u btn-u-xs rounded" style="background-color:#bfbfbf;">已过期</a>
                                </gt>
                            </ul>
                        </div>
                    </volist>
                </div>
                <div class="text-center">
                    <a class="btn-u btn-u-lg rounded" href="{:leuu('group_order',array('tfsn'=>$tf_code,'sku_id'=>$vo[goods_sku_id]))}">跳过，新建拼单</a>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
</block>
<block name="js">
</block>
<block name="iefix"><!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</block>