<extend name="Public:base-v8" />
<block name="title"><title>拼单 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="css">
    <style>
        .shop-product {background:#fff;}
        .shop-product .product-quantity {float:none;}

        .sky-form .radio.product-size,
        .sky-form .radio.product-color {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            padding: 0;
        }
        .sky-form .radio.product-size {
            width: auto;
        }
        .sky-form .radio.product-size input + i,
        .sky-form .radio.product-color input + i {
            position: relative;
            border: 2px solid #ddd;
            border-radius: 0;
            width: 50px;
            height: 50px;
            background-size: contain;
            font-size: 18px;
            font-style: normal;
            line-height: 50px;
        }
        .sky-form .radio.product-size input + i {
            width: auto;
            padding: 0 15px;
        }
        .sky-form .radio.product-size input:checked + i,
        .sky-form .radio.product-color input:checked + i {
            border-color: #E6125D;
            color: #E6125D;
        }
        .sky-form .radio.product-size input:checked + i:after,
        .sky-form .radio.product-color input:checked + i:after {
            display:none;
        }
        .total-result p {font-size:16px;}
        .total-result p span {font-size:16px;margin-left:10px;}
        .triangle-topleft {
            position:absolute;
            top: 7px;
            left: 2px;
            width: 0;
            height: 0;
            border-top: 30px solid #999999;
            border-right: 30px solid transparent;

        }
        .color-num {
            position: absolute;
            top: 6px;
            left: 1px;
            width: 30px;
            height: 30px;
            padding-left: 2px;
            background: transparent;
            color: #fff;
            font-size: 12px;
            text-align: left;
        }
        .list-inline>li:hover .triangle-topleft{
            border-top: 30px solid #E6125D;
            border-right: 30px solid transparent;
        }
        
        .sky-form .radio.product-size:hover .triangle-topleft,.sky-form .radio.product-color:hover .triangle-topleft{
             border-top: 30px solid #E6125D;
            border-right: 30px solid transparent;
        }
        .sky-form .radio.product-size input:checked + i + .triangle-topleft,
        .sky-form .radio.product-color input:checked + i + .triangle-topleft {
            border-top: 30px solid #E6125D;
            border-right: 30px solid transparent;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">拼单</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li class="active">拼单</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content shop-product">
        <form id="easy-order-form" class="sky-form" method="post" action="{:leuu('group_order_post')}">
            <header>
                <notempty name="group">
                    参加拼单
                    <else />
                    发起拼单
                </notempty>
            </header>
            <fieldset>
                <div class="media margin-bottom-20">
                    <a class="media-left" href="#">
                        <img class="media-object" style="width: 64px; height: 64px;" src="{:get_thumb_url($tf[thumb], true, 150)}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{$tf.name}</h4>
                        <p class="price color-red" style="font-size:18px;">
                            ￥{$sku.group_price}/{$sku.group_unit}
                        </p>
                    </div>
                </div>
                <section>
                    <label class="label">颜色</label>
                    <div class="inline-group">
                        <php>
                            $type = $sku['value_type'];
                            if($type == 3){
                            $style='color:transparent;background:url('.get_thumb_url($sku['value_text']).');background-size: contain;';
                            $ulclass="product-color";
                            } elseif($type == 2){
                            $style='color:transparent;background-color: '.$sku['value_text'].';';
                            $ulclass="product-color";
                            } else {
                            $style="";
                            $ulclass="product-size";
                            }
                        </php>
                        <label class="radio {$ulclass}" title="{$sku.color_code}">
                            <input type="radio" data-price="{$sku.group_price}" name="sku_id" value="{$sku.id}" checked>
                            <i style="{$style}"><eq name="type" value="1">
                                {$sku.value_text}
                            </eq></i>
                            <div class="triangle-topleft">
                            </div>
                            <span class="color-num">{$sku.color_code}</span>
                        </label>
                    </div>
                </section>
               
                <section>
                    <label class="label">数量</label>
                    <div class="product-quantity margin-bottom-10">
                        <button type='button' class="quantity-button" name='subtract' value='-'>-
                        </button>
                        <input type='text' class="quantity-field" name='goods_number' value="{$goods_number}" id='qty'/>
                        <button type='button' class="quantity-button" name='add' value='+'>+
                        </button>
                    </div>
                    <div class="note">最低拼单数量{$sku.min_charge}{$sku.group_unit}，
                        未满{$sku.min_charge}{$sku.group_unit}需要等待拼单成团。</div>
                </section>
                <div class="row">
                    <notempty name="group">
                        <else />
                        <section class="col-sm-4">
                            <label class="label">拼单截止时间</label>
                            <label class="input">
                                <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="expire_date" placeholder="截止时间">
                            </label>
                        </section>
                    </notempty>
                </div>
                <section>
                    <empty name="addresses">  
                        <p><a href="{:leuu('Address/Bm/add')}"><span aria-hidden="true" class="icon-plus"></span>&nbsp;&nbsp;添加收货地址</a></p>
                    <else/>
                        <label class="label">选择地址</label>
                    </empty>
                    <foreach name="addresses" item="vo">
                        <php>
                            $checked = $vo['is_default'] ? 'checked':'';
                        </php>
                        <label class="radio">
                            <input type="radio" name="address_id" value="{$vo.address_id}" {$checked}><i class="rounded-x"></i>
                            {$vo.province_name}{$vo.city_name}{$vo.district_name}
                            {$vo.address} {$vo.zipcode} {$vo.consignee} {$vo.mobile}
                        </label>
                    </foreach>
                </section>
                <section>
                    <label class="label">选择配送方式</label>
                    <foreach name="shippings" item="vo">
                        <php>
                            $checked = $vo['shipping_code'] == $shipping['shipping_code'] ? 'checked':'';
                        </php>
                        <label class="radio">
                            <input type="radio" name="shipping_id" value="{$vo.shipping_id}" {$checked}><i class="rounded-x"></i>
                            {$vo.shipping_name}
                        </label>
                    </foreach>
                </section>
                <section>
                    <label class="label">附言</label>
                    <label class="textarea">
                        <textarea class="form-control" type="text" rows="3" name="postscript"
                                  placeholder="给供应商的留言"></textarea>
                    </label>
                </section>
            </fieldset>
            <footer>
                <ul class="total-result">
                    <li>
                        <p class="goods-amount">总价:<span class="color-red">
                                ￥{:number_format($sku[group_price]*$goods_number,2)}
                            </span></p>
                    </li>
                    <li>
                        <p>运费:<span class="color-red">免邮</span></p>
                    </li>
                    <li class="order-amount">
                        <p>合计:<span class="color-red">
                                ￥{:number_format($sku[group_price]*$goods_number,2)}
                            </span></p>
                    </li>
                </ul>
                <notempty name="group">
                    <input type="hidden" name="group_id" value="{$group.id}">
                </notempty>
                <input type="hidden" name="source" value="{$tf.source}">
                <input type="hidden" name="tf_code" value="{$tf.tf_code}">
                <button class="btn-u btn-u-lg rounded" type="submit">提交</button>
                <button class="btn-u btn-u-lg btn-u-default rounded" type="button" onclick="javascript:history.go(-1)">返回</button>
            </footer>
        </form>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('[name="expire_date"]').datepicker({
                dateFormat: 'yy-mm-dd',
                prevText: '<i class="icon-chevron-left"></i>',
                nextText: '<i class="icon-chevron-right"></i>',
                defaultDate: "+1w",
                minDate: "+1D",
                maxDate: "+1M"
            });

            var $form = $('#easy-order-form');
            $form.validate();
            $('.quantity-button').on('click',function(){
                var $this = $(this);
                var $qty = $this.parent().find('.quantity-field');
                var number = parseInt($qty.val());
                if($this.val() == '+'){
                    $qty.val(number+1);
                }else{
                    if(number > 1){
                        $qty.val(number-1);
                    }
                }
                refreshTotal()
            });
            $('.quantity-field').blur(function(){
                var $this = $(this);
                var number = parseInt($this.val());
                if(isNaN(number)) number = 1;
                if(number < 1) number = 1;
                $this.val(number);
                refreshTotal()
            });

            function refreshTotal(){
                price = parseFloat($form.find('[name="sku_id"]:checked').data('price'));
                number = $form.find('[name="goods_number"]').val();
                total = (price * number).toFixed(2);
                $('.goods-amount span,.order-amount span').text('￥'+total);
            }
        });
    </script>
</block>
<block name="iefix"><!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</block>