<extend name="Public:base-v8" />
<block name="title"><title>订单详情 {$site_name}</title></block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .tag-box {
            overflow: hidden;
            padding: 10px;
        }
        .tag-box h4 {font-size:15px;color:#333;}
        .dl-horizontal dt {
            float: left;
            width: 80px;
            overflow: hidden;
            clear: left;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight:500;
            color: #555;
        }
        .dl-horizontal dd {
            margin-bottom:5px;
            margin-left: 80px;
            color:#777;
        }

        .thumb .thumb-left {float:left;}
        .thumb .thumb-left {display:block;}
        .thumb .thumb-left img {display:block;width:64px;height:64px;}
        .thumb .thumb-body {float:left;padding-left:10px;}
        .thumb .thumb-body .thumb-heading {font-size:14px;margin-top:0;}
        .thumb .thumb-desc {
            font-size: 12px;
            color: #999;
        }
        .thumb .thumb-desc i.color {
            display:block;
            width:15px;
            height:15px;
            border:1px solid #999;
        }

        .box-status .order-sn {font-size:12px;text-align:center;}
        .box-status h3 {
            margin: 30px 0 40px 0;
            text-align: center;
            font-size: 20px;
        }
        .group-info-left dt {width:100px;}
        .group-info-left dd {margin-left:100px;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">订单详情</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('index')}">我的订单</a></li>
                <li class="active">订单详情</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav"/>
            <div class="col-md-9">

                <div class="tag-box tag-box-v1 box-status margin-bottom-20">
                    <div class="col-sm-3">
                        <p class="order-sn">拼单号：{$group.group_sn}</p>
                        <h3>{$statuses[$group[group_status]]}</h3>
                    </div>
                    <div class="col-sm-9" style="border-left: 1px solid #eee;">
                        <h4>拼单信息</h4>
                        <div class="row">
                            <dl class="dl-horizontal group-info-left col-sm-6">
                                <dt>成团需求量:</dt>
                                <dd>{$group.min_charge}{$group.goods_unit}</dd>
                                <dt>已付款数量:</dt>
                                <dd>{$group.paid_goods_number}{$group.goods_unit}</dd>
                                <dt>已下单数:</dt>
                                <dd>{$group.ordered_user_number}</dd>
                                <dt>已付款数:</dt>
                                <dd>{$group.paid_user_number}</dd>
                            </dl>
                            <dl class="dl-horizontal col-sm-6">
                                <dt>创建时间:</dt>
                                <dd>{$group.create_date}</dd>
                                <dt>过期时间:</dt>
                                <dd>
                                    {$group.expire_date}
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="tag-box tag-box-v1 box-status margin-bottom-20">
                    <div class="col-sm-3">
                        <p class="order-sn">订单号：{$order_sn}</p>
                        <h3>
                            <in name="order_status" value="0,1">
                                <in name="pay_status" value="0,1">等待买家付款</in>
                                <eq name="pay_status" value="2">
                                    <in name="shipping_status" value="0,3,4">买家已付款</in>
                                    <eq name="shipping_status" value="1">卖家已发货</eq>
                                    <eq name="shipping_status" value="2">交易成功</eq>
                                </eq>
                            </in>
                            <in name="order_status" value="2,3">交易关闭</in>
                            <eq name="order_status" value="4">退款中的订单</eq>
                        </h3>
                    </div>
                    <div class="col-sm-9" style="border-left: 1px solid #eee;">
                        <h4>订单信息</h4>
                        <dl class="dl-horizontal">
                            <dt>下单时间:</dt>
                            <dd>{:date('Y-m-d H:i:s', $add_time)}</dd>
                            <dt>付款时间:</dt>
                            <dd>
                                <notempty name="pay_time">
                                    {:date('Y-m-d H:i:s', $pay_time)}
                                    <else />
                                    未付款
                                </notempty>
                            </dd>
                            <dt>发货时间:</dt>
                            <dd>
                                <notempty name="shipping_time">
                                    {:date('Y-m-d H:i:s', $shipping_time)}
                                    <else />
                                    未发货
                                </notempty>
                            </dd>
                        </dl>
                    </div>
                </div>

                <div class="tag-box tag-box-v1 margin-bottom-40">
                    <div class="col-sm-6" style="border-right: 1px solid #eee;">
                        <h4>收货人信息</h4>
                        <dl class="dl-horizontal">
                            <dt>收货人:</dt>
                            <dd>{$consignee}</dd>
                            <dt>地址:</dt>
                            <dd>{$province_name}{$city_name}{$district_name}
                                {$address} <notempty name="zipcode">{$zipcode} </notempty></dd>
                            <dt>手机号码:</dt>
                            <dd>{$mobile}</dd>
                        </dl>
                    </div>
                    <div class="col-sm-6">
                        <h4>配送信息</h4>
                        <dl class="dl-horizontal">
                            <dt>配送方式:</dt>
                            <dd>{$shipping_name}</dd>
                            <dt>运费:</dt>
                            <dd>￥{$shipping_fee}</dd>
                            <dt>物流单号:</dt>
                            <dd>{$invoice_no|default='---'}</dd>
                        </dl>
                    </div>
                </div>

                <div class="panel panel-default margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title">拼单商品</h3>
                    </div>
                    <table class="table invoice-table">
                        <thead>
                        <tr>
                            <th>商品</th>
                            <th>商品编号</th>
                            <th>单价</th>
                            <th>数量</th>
                            <th>小计</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <php>
                                    $sku = $goods['sku'];
                                    $type = $sku['value_type'];
                                    if($type == 3){
                                    $style='color:transparent;background:url('.get_thumb_url($sku['value_text']).');background-size: contain;';
                                    $ulclass="product-color";
                                    } elseif($type == 2){
                                    $style='color:transparent;background-color: '.$sku['value_text'].';';
                                    $ulclass="product-color";
                                    } else {
                                    $style='';
                                    $ulclass="product-size";
                                    }
                                </php>
                                <div class="thumb">
                                    <a class="thumb-left" href="{:leuu('Tf/Tf/fabric',array('tfsn'=>$goods[tf_code]))}">
                                        <php>
                                            $thumb = $type == 3 ? $sku['value_text']:$goods['thumb'];
                                        </php>
                                        <img style="height: 64px;" src="{:get_thumb_url($thumb, true, 150)}" data-holder-rendered="true">
                                    </a>
                                    <div class="thumb-body">
                                        <a href="{:leuu('Tf/Tf/fabric',array('tfsn'=>$goods[tf_code]))}">
                                            <span class="thumb-heading">{$goods[tf_name]}</span>
                                        </a>
                                        <p style="font-size: 12px;">
                                            编号:{$goods.sku.color_code}
                                        </p>
                                        <p class="thumb-desc">
                                            <eq name="type" value="1">{$sku.key_name}</eq>
                                            <eq name="type" value="2"><i class="color" style="{$style}"></i></eq>
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td>{$goods.tf_code}</td>
                            <td>￥{$goods.price}</td>
                            <td>{$goods.number}</td>
                            <td>
                                ￥{:number_format($goods_amount,2)}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!--Invoice Footer-->
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-6 text-right">
                        <ul class="list-unstyled invoice-total-info margin-bottom-20">
                            <li><strong>商品总额：</strong> ￥ {$goods_amount}</li>
                            <li><strong>运费：</strong> ----</li>
                            <li><strong>订单金额：</strong> ￥ {$order_amount}</li>
                        </ul>
                        <notin name="order_status" value="2,3,4">
                            <eq name="pay_status" value="0">
                                <a class="btn-u btn-u-primary" href="{:leuu('Wx/Pay/order', array('id'=>$id))}">付款</a>
                                <button type="button" class="btn-u btn-u-default js-ajax-btn"
                                        data-confirm="true"
                                        data-msg="是否要取消订单？"
                                        data-id="{$id}"
                                        data-href="{:leuu('cancel')}">取消订单</button>
                            </eq>
                            <eq name="shipping_status" value="1">
                                <button type="button" class="btn-u btn-u-primary js-ajax-btn"
                                        data-confirm="true"
                                        data-msg="是否要完成订单？"
                                        data-id="{$id}"
                                        data-href="{:leuu('receive')}">确认收货</button>
                            </eq>
                        </notin>
                        <a class="btn-u btn-u-default" href="{:leuu('index')}">返回</a>
                    </div>
                </div>
                <!--End Invoice Footer-->
            </div>
        </div>
    </div>
</block>
<block name="js">
</block>