<extend name="Public:base-v8" />
<block name="title"><title>色卡管理</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .cbp-caption {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .cbp-l-caption-alignCenter {
            table-layout: fixed;
        }
        .cbp-item:hover .cbp-l-grid-agency-title,.cube-portfolio .cbp-l-grid-agency-desc {font-family:"Microsoft YaHei UI",Arial}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">色卡管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">色卡管理</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li <notpresent name="_GET[status]">class="active"</notpresent>><a href="{:leuu('index')}">全部</a></li>
                        <li <eq name="_GET[status]" value="0">class="active"</eq>><a href="{:leuu('index',array('status'=>0))}">未定稿</a></li>
                        <li <eq name="_GET[status]" value="10">class="active"</eq>><a href="{:leuu('index',array('status'=>10))}">正在定稿</a></li>
                        <li <eq name="_GET[status]" value="20">class="active"</eq>><a href="{:leuu('index',array('status'=>20))}">已定稿</a></li>
                        <li class="pull-right"><a href="{:leuu('Order/SupplierCard/index')}">色卡制作单</a></li>
                        <li class="pull-right"><a href="{:leuu('Order/SupplierCard/new_card')}">制作实体色卡</a></li>
                        <li class="pull-right"><a href="#" data-toggle="modal" data-target=".add-card-modal-sm">制作电子色卡</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="cube-portfolio">
                            <div id="grid-container" class="cbp-l-grid-agency">
                                <php>$statuses = D('Colorcard')->statuses;</php>
                                <volist name="cards[data]" mod="4" id="vo">
                                    <php>
                                        $padding_bottom = (float)$vo['tpl']['tpl_height']/(float)$vo['tpl']['tpl_width']*100;
                                        if(!$padding_bottom){
                                        $padding_bottom = 100;
                                        }
                                        $style = "padding-bottom:$padding_bottom%;";
                                        $style .= "background-image: url(".get_thumb_url($vo['frontcover']).");";   
                                    </php>
                                    <switch name="vo['card_type']" >
                                        <case value="1">
                                             <php>
                                                 //查找该电脑版本色卡有没有对应的手机版本色卡
                                                 $mobile_card = M('Colorcard')->where(array('card_rid'=>$vo['card_id'],'card_trash'=>0))->find();
                                                 $mobile_tpl = M("Colorcard_tpl")->where(array('tpl_id'=>$mobile_card['card_tpl']))->find();
                                             </php>
                                            <div class="cbp-item colorcard">
                                                <div class="cbp-caption" style="{$style}">
                                                    <div class="cbp-caption-activeWrap">
                                                        <div class="cbp-l-caption-alignCenter">
                                                            <div class="cbp-l-caption-body">
                                                                <ul class="link-captions">
                                                                    <lt name="vo[card_status]" value="20">
                                                                        <li><a href="{:leuu('edit',array('id'=>$vo['card_id']))}" title="修改电脑版本色卡"><i class="rounded-x icon-screen-desktop"></i></a></li>
                                                                    </lt>
                                                                    <li>
                                                                        <a href="{:leuu('preview',array('id'=>$vo['card_id']))}" title="预览电脑版本色卡" target="_blank"><i class="rounded-x fa fa-search"></i></a>
                                                                    </li>
                                                                    <!--<li><a href="{:leuu('Index/qr',array('code'=>$vo['card_no']))}" title="电脑版本色卡code" class="cbp-lightbox" data-title="{$vo.card_name}"><i class="rounded-x fa fa-qrcode"></i></a></li>-->
                                                                    <eq name="vo[card_status]" value="20">
                                                                        <li><a href="{:leuu('Sms/Supplier/send',array('pd_type'=>2,'card_id'=>$vo['card_id']))}" title="分享电脑版本色卡"><i class="rounded-x icon-share"></i></a></li>
                                                                    </eq>
                                                                    <eq name="vo[isentity]" value="0">
                                                                        <li>
                                                                            <a class="js-ajax-btn" title="删除电脑版本色卡"
                                                                            data-confirm="true"
                                                                            data-href="{:leuu('delete')}"
                                                                            data-id="{$vo['card_id']}"
                                                                            data-msg="确定要删除吗？删除后不能恢复。"><i class="rounded-x icon-close"></i></a>
                                                                        </li>
                                                                        <else/>
                                                                        <li>
                                                                            <a href="{:leuu('Order/SupplierCard/easy_order',array('id'=>$vo['card_id']))}"
                                                                            title="制作实体色卡"><i class="rounded-x icon-printer"></i></a>
                                                                        </li>
                                                                    </eq>
                                                                </ul>
                                                                <ul class="link-captions">
                                                                    <empty name="mobile_card">
                                                                        <li><a href="#" data-toggle="modal" data-target=".add-modal2" data-cardid="{$vo['card_id']}" title="添加手机版本色卡" data-supplierid="{$vo['supplier_id']}" class="addcard"><i class="rounded-x glyphicon glyphicon-phone"></i></a></li>
                                                                    <else/>
                                                                        <lt name="mobile_card[card_status]" value="20">
                                                                            <li><a href="{:leuu('edit',array('id'=>$mobile_card['card_id']))}" title="修改手机版本色卡"><i class="rounded-x glyphicon glyphicon-phone"></i></a></li>
                                                                        </lt>
                                                                        <li>
                                                                        <a href="{:U('view',array('id'=>$mobile_card['card_id'],'show_type'=>$mobile_tpl['show_type']))}" title="预览手机版本色卡" target="_blank"><i class="rounded-x glyphicon glyphicon-zoom-in"></i></a>
                                                                        </li>
                                                                        <!--<li><a href="{:leuu('Index/qr',array('code'=>$mobile_card['card_no']))}" title="手机版本色卡code" class="cbp-lightbox" data-title="{$vo.card_name}"><i class="rounded-x fa fa-qrcode"></i></a></li>-->
                                                                        <eq name="mobile_card[card_status]" value="20">
                                                                            <li><a href="#" title="分享手机版本色卡" class="share_card" data-cardid="{$mobile_card.card_id}" data-toggle="g-popup" data-target="#wxshare-popup"><i class="rounded-x fa fa-external-link"></i></a></li>
                                                                        </eq>
                                                                        <li>
                                                                        <a class="js-ajax-btn" title="删除手机版本色卡"
                                                                            data-confirm="true"
                                                                            data-href="{:leuu('delete')}"
                                                                            data-id="{$mobile_card['card_id']}"
                                                                            data-msg="确定要删除吗？删除后不能恢复。"><i class="rounded-x glyphicon glyphicon-remove-sign"></i></a>
                                                                    </li>
                                                                    </empty>
                                                                </ul>
                                                                <div class="cbp-l-grid-agency-title">{$vo.card_name}</div>
                                                                <notpresent name="_GET[status]">
                                                                    <div class="cbp-l-grid-agency-desc">{$statuses[$vo[card_status]]}</div>
                                                                </notpresent>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </case>
                                        <case value="2">
                                            <php>
                                                //查找有没有该手机版本对应的电脑版本色卡
                                                $web_card = M('Colorcard')->where(array('card_id'=>$vo['card_id'],'card_rid'=>array('gt',0),'card_trash'=>0))->find();
                                                $self_tpl = M("Colorcard_tpl")->where(array('tpl_id'=>$vo['card_tpl']))->find();
                                             </php>
                                            <empty name="web_card">
                                            <div class="cbp-item colorcard">
                                                <div class="cbp-caption" style="{$style}">
                                                    <div class="cbp-caption-activeWrap">
                                                        <div class="cbp-l-caption-alignCenter">
                                                            <div class="cbp-l-caption-body">
                                                                <ul class="link-captions">
                                                                    <lt name="vo[card_status]" value="20">
                                                                        <li><a href="{:leuu('edit',array('id'=>$vo['card_id']))}" title="修改手机版本色卡"><i class="rounded-x glyphicon glyphicon-phone"></i></a></li>
                                                                    </lt>
                                                                    <li>
                                                                        <a href="{:leuu('view',array('id'=>$vo['card_id'],'show_type'=>$self_tpl['show_type']))}" title="预览手机版本色卡" target="_blank"><i class="rounded-x glyphicon glyphicon-zoom-in"></i></a>
                                                                    </li>
                                                                    <!--<li><a href="{:leuu('Index/qr',array('code'=>$vo['card_no']))}" title="电脑版本色卡code" class="cbp-lightbox" data-title="{$vo.card_name}"><i class="rounded-x fa fa-qrcode"></i></a></li>-->
                                                                    <eq name="vo[card_status]" value="20">
                                                                        <li><a href="#" title="分享手机版本色卡" class="share_card" data-cardid="{$vo.card_id}" data-toggle="g-popup" data-target="#wxshare-popup"><i class="rounded-x fa fa-external-link"></i></a></li>
                                                                    </eq>
                                                                    <li>
                                                                        <a class="js-ajax-btn" title="删除电脑版本色卡"
                                                                        data-confirm="true"
                                                                        data-href="{:leuu('delete')}"
                                                                        data-id="{$vo['card_id']}"
                                                                        data-msg="确定要删除吗？删除后不能恢复。"><i class="rounded-x glyphicon glyphicon-remove-sign"></i></a>
                                                                    </li> 
                                                                </ul>
                                                                <ul class="link-captions">
                                                                    <li><a href="#" data-toggle="modal" data-target=".add-modal3" data-cardid="{$vo['card_id']}" data-show="{$self_tpl['show_type']}" title="添加电脑版本色卡" data-supplierid="{$vo['supplier_id']}" class="addcard"><i class="rounded-x icon-screen-desktop"></i></a></li>
                                                                </ul>
                                                                <div class="cbp-l-grid-agency-title">{$vo.card_name}</div>
                                                                <notpresent name="_GET[status]">
                                                                    <div class="cbp-l-grid-agency-desc">{$statuses[$vo[card_status]]}</div>
                                                                </notpresent>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </empty>
                                        </case>
                                        <default />
                                    </switch>

                                </volist>
                            </div>
                        </div>
                        <ul class="pagination">{$cards.page}</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade add-card-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addModalLabel" class="modal-title">选择模板</h4>
                </div>
                <div class="modal-body">
                    <form id="addform" action="{:U('newcard')}" method="post">
                        <div class="row margin-bottom-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="card_type" required>
                                        <option value="">请选择色卡类型</option>
                                        <option value="1">电脑版本</option>
                                        <option value="2">手机版本</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="tpl" required>
                                        <option value="">请选择模板</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn-u btn-u-red pull-right">下一步</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade add-modal2" tabindex="-1" role="dialog"
         aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addModalLabel" class="modal-title">选择手机模板</h4>
                </div>
                <div class="modal-body">
                    <form id="mobilecard" action="{:U('addmobile_page')}" method="post">
                        <php>$tpls = M('Colorcard_tpl')->where(array('tpl_type'=>2,'tpl_status'=>1))->select();</php>
                        <div class="row margin-bottom-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <select class="form-control" name="tpl" required>
                                        <option value="">请选择模板</option>
                                        <foreach name="tpls" item="vo">
                                            <option value="{$vo.tpl_id}">{$vo.tpl_name}</option>
                                        </foreach>
                                    </select>
                                </div>
                                <input type="hidden" name="card_type" value="2">
                                <input type="hidden" name="supplier" value="">
                                <input type="hidden" name="card_rid" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn-u btn-u-red pull-right">下一步</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade add-modal3" tabindex="-1" role="dialog"
         aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="addModalLabel" class="modal-title">选择电脑模板</h4>
                </div>
                <div class="modal-body">
                    <form id="webcard" action="{:U('addweb_page')}" method="post">
                          <php>$web_tpls = M('Colorcard_tpl')->where(array('tpl_type'=>1,'tpl_status'=>1))->select();</php>
                       <div class="row margin-bottom-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="tpl_id" required>
                                        <option value="">请选择模板</option>
                                        <foreach name="web_tpls" item="vo">
                                            <option value="{$vo.tpl_id}">{$vo.tpl_name}</option>
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control" name="pg_id" required>
                                        <option value="">请选择模板页</option>
                                    </select>
                                </div>
                            </div>
                                <input type="hidden" name="card_type" value="1">
                                <input type="hidden" name="supplier" value="">
                                <input type="hidden" name="card_rid" value="">
                                <input type="hidden" name="show_type" value="">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn-u btn-u-red pull-right">下一步</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="wxshare-popup" class="g-popup-wrapper">
    <div class="g-popup g-popup--discount2" style="width:auto;">
        <div class="g-popup--discount2-message text-center" style="padding: 35px 50px;">
            <h4>扫码分享到微信</h4>
            <div class="qrcode">
                <img class="img-responsive" src="">
            </div>
        </div>
        <a href="javascript:void(0);" class="g-popup__close g-popup--discount2__close"><span class="icon-close" aria-hidden="true"></span></a>
    </div>
</div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script type="text/javascript">
    

    (function($, window, document, undefined) {
        'use strict';

        var gridContainer = $('#grid-container'),
                filtersContainer = $('#filters-container'),
                wrap, filtersCallback;


        /*********************************
         init cubeportfolio
         *********************************/
        gridContainer.cubeportfolio({
            layoutMode: 'grid',
            rewindNav: true,
            scrollByPage: false,
            defaultFilter: '*',
            animationType: 'slideLeft',
            gapHorizontal: 20,
            gapVertical: 20,
            gridAdjustment: 'responsive',
            mediaQueries: [{
                width: 800,
                cols: 4
            }, {
                width: 500,
                cols: 2
            }, {
                width: 320,
                cols: 1
            }],
            caption: 'zoom',
            displayType: 'lazyLoading',
            displayTypeSpeed: 100
        });


        /*********************************
         add listener for filters
         *********************************/
        if (filtersContainer.hasClass('cbp-l-filters-dropdown')) {
            wrap = filtersContainer.find('.cbp-l-filters-dropdownWrap');

            wrap.on({
                'mouseover.cbp': function() {
                    wrap.addClass('cbp-l-filters-dropdownWrap-open');
                },
                'mouseleave.cbp': function() {
                    wrap.removeClass('cbp-l-filters-dropdownWrap-open');
                }
            });

            filtersCallback = function(me) {
                wrap.find('.cbp-filter-item').removeClass('cbp-filter-item-active');
                wrap.find('.cbp-l-filters-dropdownHeader').text(me.text());
                me.addClass('cbp-filter-item-active');
                wrap.trigger('mouseleave.cbp');
            };
        } else {
            filtersCallback = function(me) {
                me.addClass('cbp-filter-item-active').siblings().removeClass('cbp-filter-item-active');
            };
        }

        filtersContainer.on('click.cbp', '.cbp-filter-item', function() {
            var me = $(this);

            if (me.hasClass('cbp-filter-item-active')) {
                return;
            }

            // get cubeportfolio data and check if is still animating (reposition) the items.
            if (!$.data(gridContainer[0], 'cubeportfolio').isAnimating) {
                filtersCallback.call(null, me);
            }

            // filter the items
            gridContainer.cubeportfolio('filter', me.data('filter'), function() {});
        });


        /*********************************
         activate counter for filters
         *********************************/
        gridContainer.cubeportfolio('showCounter', filtersContainer.find('.cbp-filter-item'), function() {
            // read from url and change filter active
            var match = /#cbpf=(.*?)([#|?&]|$)/gi.exec(location.href),
                    item;
            if (match !== null) {
                item = filtersContainer.find('.cbp-filter-item').filter('[data-filter="' + match[1] + '"]');
                if (item.length) {
                    filtersCallback.call(null, item);
                }
            }
        });

    })(jQuery, window, document);

    $(function(){
        $('.share_card').on('click',function(){
            $.getJSON("/index.php?g=portal&m=public&a=wx_qr",{id:$(this).data('cardid'),type:4},function(response){
                $('#wxshare-popup .qrcode img').attr('src', response.url);
            });
        })    
        //选择色卡类型和色卡模板类型
            $('[name="card_type"]').change(function(){
                $('[name="tpl"]').children().not(":first").remove();
                $.getJSON("{:U('tpl_ajax')}",{tpl_type:$(this).val()},function(response){
                    var data = response.data;
                    for(x in data){
                        opt= '<option value="'+data[x].tpl_id+'">'+data[x].tpl_name+'</option>';
                        $(opt).appendTo('[name="tpl"]');
                    }
                });
            });

        //选择色卡模板和色卡模板页
            $('[name="tpl_id"]').change(function(){
                $('[name="pg_id"]').children().not(":first").remove();
                $.getJSON("{:U('pg_ajax')}",{tpl_id:$(this).val()},function(response){
                    var data = response.data;
                    for(x in data){
                        opt= '<option value="'+data[x].pg_id+'">'+data[x].pg_name+'</option>';
                        $(opt).appendTo('[name="pg_id"]');
                    }
                });
            });

        $('.addcard').on('click',function(e){
                e.preventDefault();
                //根据电脑版色卡添加手机版色卡部分
                $('.add-modal2').find('[name="supplier"]').val($(this).data('supplierid'));
-               $('.add-modal2').find('[name="card_rid"]').val($(this).data('cardid'));
                
                //根据手机班色卡添加电脑版色卡部分
                $('.add-modal3').find('[name="supplier"]').val($(this).data('supplierid'));
-               $('.add-modal3').find('[name="card_rid"]').val($(this).data('cardid'));
-               $('.add-modal3').find('[name="show_type"]').val($(this).data('show'));
            });

        $('#addform').validate();
        $('#mobilecard').validate();
        $('#webcard').validate();
    })
    </script>
</block>

