<div id="page_{$page.page_id}" data-id="{$page.page_id}" role="tabpanel" class="tab-pane removable">
    <eq name="page[page_type]" value="2">
        <div class="page-back front has-bg text-center"
             style="background-image:url({:get_thumb_url($page[page_front_bgurl],true,800)});">
        </div>
    </eq>
    <in name="page[page_type]" value="1,3">
        <div class="page-front">{$content}</div>
    </in>
    <div class="page-back has-bg text-center"
         style="background-image:url({:get_thumb_url($page[page_back_bgurl],true,800)});"></div>
</div>