<extend name="Admin:base-v2"/>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Editor/css/editor.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/colorpicker/css/evol-colorpicker.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .upload-thumb img {
            max-height: 100px;
        }

        #DTE_Field_path-preview {
            width: 100px;
            height: 100px;
            background: #f7f7f7;
            line-height: 100px;
            text-align: center;
            cursor: pointer;
        }
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:void(0);">模特管理</a></li>
            </ul>
            <div class="tab-content">
                <table id="datatable" class="table table-striped table-bordered">
                </table>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/jquery/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Editor/js/editor.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/colorpicker/js/evol-colorpicker.min.js"></script>
    <script>
        var url = "{:leuu('models')}";
        var editor;
        $(function () {
            editor = new $.fn.dataTable.Editor({
                ajax: url,
                table: "#datatable",
                idSrc: 'id',
                fields: [{
                    label: "状态",
                    name: "status",
                    type: "select",
                    options: [
                        {label: "启用", value: 1},
                        {label: "禁用", value: 0}
                    ],
                    def: 1
                }, {
                    label: "编号",
                    name: "num"
                }, {
                    label: "图片",
                    name: "path"
                }, {
                    label: "预览图片",
                    name: "real_path",
                    type: "hidden"
                }
                ],
                i18n: {
                    create: {
                        button: "添加",
                        title: "添加SKU",
                        submit: "保存"
                    },
                    edit: {
                        button: "修改",
                        title: "修改SKU",
                        submit: "保存"
                    },
                    remove: {
                        button: "删除",
                        title: "删除",
                        submit: "删除",
                        confirm: {
                            _: "是否要删除被选中的%d个SKU？",
                            1: "是否要删除这个SKU？"
                        }
                    }
                }
            });
            /*$('#sku-table').on( 'click', 'tbody td:not(:first-child)', function (e) {
             editor.bubble( this );
             } );*/
            var table = $('#datatable').DataTable({
                lengthChange: false,
                dom: "Bfrtip",
                select: true,
                paging: false,
                "ajax": {
                    "url": url,
                    //"dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "num",
                    "title": "编号",
                    "defaultContent": "<span class='color-red'>未填写</span>"
                }, {
                    "data": "real_path",
                    "title": "图片",
                    "render": function (data, type, row, meta) {
                        return '<img class="img-responsive" style="max-height: 50px;" src="' + data + '">';
                    }
                }, {
                    "data": "status",
                    "title": "状态",
                    "render": function (data, type, row, meta) {
                        return parseInt(data) ? '启用' : '禁用';
                    }
                }],
                buttons: [
                    {extend: "create", text: "添加", editor: editor},
                    {extend: "edit", text: "修改", editor: editor},
                    {extend: "remove", text: "删除", editor: editor}
                ]
            });
            /*editor.on('preSubmit', function(e, data, action){
             if(action == 'create'){
             for(x in data.data){
             data.data[x].tf_id = tf_id;
             }
             }
             if(action == 'edit'){
             for(x in data.data){
             data.data[x].tf_id = tf_id;
             }
             }
             });*/
            editor.on('open', function (e, mode, action) {
                var data = editor.get();

                if ($('#DTE_Field_path-preview').length == 0) {
                    var $dressField = $('#DTE_Field_path');
                    $dressField.parent().addClass('upload-thumb');
                    $dressField.attr('type', 'hidden');
                    var $dressImg = $('<img>')
                            .attr('id', 'DTE_Field_path-preview')
                            .attr('src', data.real_path)
                            .attr('alt', '上传贴图')
                            .addClass('img-responsive')
                            .on('click', function () {
                                javascript:upload_one_image('图片上传', '#DTE_Field_path',{},'dress');
                            });
                    $dressField.after($dressImg)
                } else {
                    $('#DTE_Field_path-preview').attr('src', data.real_path);
                }
            });
        })
    </script>
</block>