<extend name="Admin:base-v2"/>
<block name="css"></block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <form method="post" class="sky-form" action="{:U('Tf/AdminDress/setting')}">
                    <header>试衣设置</header>
                    <fieldset>
                        <section>
                            <label class="label">缩放功能</label>
                            <div class="select">
                                <select name="options[zoom][enabled]">
                                    <option value="0" <eq name="options[zoom][enabled]" value="0">selected</eq>>关闭</option>
                                    <option value="1" <eq name="options[zoom][enabled]" value="1">selected</eq>>开启</option>
                                </select>
                                <i></i>
                            </div>
                        </section>
                        <section>
                            <label class="label">平移功能</label>
                            <div class="select">
                                <select name="options[translate][enabled]">
                                    <option value="0" <eq name="options[translate][enabled]" value="0">selected</eq>>关闭</option>
                                    <option value="1" <eq name="options[translate][enabled]" value="1">selected</eq>>开启</option>
                                </select>
                                <i></i>
                            </div>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn-u">保存</button>
                        <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $(".sky-form").validate();
        });
    </script>
</block>