<extend name="Public:base-v8" />
<block name="title"><title>申请管理 面料商后台 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC_/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">

    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        /*.sky-form section {
            margin-bottom: 10px!important;
        }
        .sky-form .label {text-align: right;}*/
        td.details-control {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            cursor: pointer;
        }

        tr td.details-control:before {
            content: "\f067";
        }

        tr.shown td.details-control:before {
            content: "\f068";
        }

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }

        .accept-detail {padding:0!important;}
        .accept-detail form {border:none;}
    </style>
    <script id="accept-form-example" type="text/html">
        <form action="/index.php?g=Distribution&m=SupplierClient&a=accept"
              class="sky-form" novalidate="novalidate" method="post">
            <header>添加客户-<span class="distributor-name"></span></header>

            <fieldset>
                <section>
                    <label class="input">
                        <input type="text" name="remark" placeholder="备注">
                    </label>
                </section>

                <section>
                    <div class="rating">
                        <input type="radio" name="level" value="5" id="level-5">
                        <label for="level-5"><i class="fa fa-star"></i></label>
                        <input type="radio" name="level" value="4" id="level-4">
                        <label for="level-4"><i class="fa fa-star"></i></label>
                        <input type="radio" name="level" value="3" id="level-3">
                        <label for="level-3"><i class="fa fa-star"></i></label>
                        <input type="radio" name="level" value="2" id="level-2">
                        <label for="level-2"><i class="fa fa-star"></i></label>
                        <input type="radio" name="level" value="1" id="level-1">
                        <label for="level-1"><i class="fa fa-star"></i></label>
                        等级
                    </div>
                </section>
            </fieldset>
            <footer>
                <input type="hidden" name="id">
                <button type="submit" class="btn-u">保存</button>
                <button type="button" class="btn-u btn-u-default cancel">取消</button>
            </footer>
        </form>
</script>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">申请管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Index/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('index')}">客户管理</a></li>
                <li class="active">申请管理</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('index')}">客户管理</a></li>
                        <li class="active"><a href="{:leuu('application')}">申请管理</a></li>
                        <li class="pull-right"><a href="{:leuu('Supplier/index')}">返回一批管理</a></li>
                    </ul>
                    <div class="tab-content">
                        <table id="datatable" class="table table-striped table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('application')}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: false,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "distributor_name",
                    "title": "分销商",
                    "defaultContent": ""
                }, {
                    "data": null,
                    "title": "申请时间",
                    "defaultContent": '',
                    "render": function(data, type, row){
                        if(row.modify_time != null){
                            return row.modify_time;
                        }else{
                            return row.create_time;
                        }
                    }
                }, {
                    "data": null,
                    "title": "操作",
                    "defaultContent": '',
                    "orderable": false,
                    "render": function(data, type, row){
                        var accept_url = "{:leuu('accept')}";
                        var ignore_url = "{:leuu('ignore')}";
                        accept_url += (accept_url.indexOf('?') > 0 ? '&':'?') + 'id='+row.id;
                        //var html = '<a class="accept" href="'+accept_url+'">同意</a>';
                        var html = '<a class="accept" href="javascript:void(0)">同意</a>';
                        html += ' | <a href="javascript:void(0)" class="ignore js-ajax-btn"' +
                                'data-href="'+ignore_url+'"' +
                                'data-id="'+row.id+'"' +
                                'data-success="ignoreResponse">忽略</a>';
                        return html;
                    }
                }],
                "order": [[1, 'desc']],
                buttons: [{
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }]
            });
            $('#datatable').on('click', '.accept', function(){
                var tr = $(this).closest('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    row.child.hide();
                }
                else {
                    row.child(formatAcceptForm(row), 'accept-detail').show();
                }
            });

            function formatAcceptForm(row){
                var data = row.data();
                var $form = $($('#accept-form-example').html());
                $form.find('[name="id"]').val(data.id);
                $form.find('.distributor-name').text(data.distributor_name);
                $form.find('[name="remark"]').val(data.distributor_name);
                $form.find('[name="level"][value="1"]').attr('checked','checked').prop('checked',true);
                $form.find('.cancel').on('click',function(){row.child.hide()});
                $form.validate({
                    submitHandler: function(form) {
                        if(typeof $(form).ajaxSubmit == "function"){
                            $(form).ajaxSubmit({
                                beforeSubmit: function(formData, $form, options) {
                                    $form.find('[type="submit"]').attr('disabled', 'disabled').addClass('disabled');
                                },
                                success:function(response, statusText, xhr, $form){
                                    if(response.status){
                                        row.child.hide();
                                        $(row.node()).children(':last-child')
                                                .html('<span style="color:#72c02c;">已接受</span>');
                                        noty({text:response.info,type:'success'});
                                    }else{
                                        noty({text:response.info,type:'error'});
                                    }
                                    $form.find('[type="submit"]').removeAttr('disabled', 'disabled').removeClass('disabled');
                                }
                            });
                        }
                    }
                });
                return $form;
            }
        });

        function ignoreResponse(response){
            if(response.status){
                table.rows().data().each(function(value,index){

                    if(parseInt(value.id) === parseInt(response.data)){
                        $(table.row(index).node()).children(':last-child')
                                .html('<span class="color-grey">已忽略</span>');
                    }
                })
            }else{
                noty({type:'error',text:response.info});
            }
        }
    </script>
</block>