<extend name="Public:base-v8"/>
<block name="title"><title>{$client.distributor_name} 二批商户 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">

</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
    </style>
    <style>
        #datatable td {vertical-align: middle!important;}
        td.tfinfo .pull-left {width:45px;margin-right:5px;}
        td.tfinfo .tf-name {margin:0;font-size:16px;}
        td.tfinfo .tf-code {margin:0;font-size:12px;}

        td.supplier-info .pull-left {width:45px;margin-right:5px;border-radius:50%;}
        td.supplier-info span {line-height: 45px;}

        .setting {padding:0!important;}
        .setting form {border:none;}
    </style>
    <script id="tfinfo-wrapper" type="text/html">
        <a class="pull-left" href="javascript:void(0)">
            <img class="img-responsive">
        </a>
        <h3 class="tf-name"></h3>
        <p class="tf-code"></p>
    </script>
    <script id="setting-wrapper" type="text/html">
        <form action="/index.php?g=Distribution&m=SupplierClient&a=tf_setting_post"
              class="sky-form" novalidate="novalidate" method="post">
            <fieldset>
                <table class="table table-bordered price-table">
                    <thead>
                    <th style="width:30px;"></th>
                    <th style="width:80px;">等级</th>
                    <th>价格</th>
                    </thead>
                    <tbody>
                    <for start="1" end="6">
                        <tr class="star-{$i}" data-level="{$i}">
                            <td>
                                <label class="radio">
                                    <input type="radio" name="level" value="{$i}" {$checked}>
                                    <i class="rounded-x"></i>
                                </label>
                            </td>
                            <td>
                                <for start="1" end="$i+1" name="j">
                                    <i class="fa fa-star color-red"></i>
                                </for>
                            </td>
                            <td class="price"></td>
                        </tr>
                    </for>
                    </tbody>
                </table>
            </fieldset>
            <footer>
                <input type="hidden" name="id">
                <button type="submit" class="btn-u">保存</button>
                <button type="button" class="btn-u btn-u-default cancel">关闭</button>
            </footer>
        </form>
    </script>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">{$client.distributor_name}</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('Supplier/index')}">我是做布商（一批）</a></li>
                <li><a href="{:leuu('SupplierClient/index')}">二批商户</a></li>
                <li class="active">{$client.distributor_name}</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0)">客户设置</a></li>
                        <li><a href="{:leuu('SupplierClient/index')}">返回我的客户</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="row margin-bottom-30">
                            <form class="sky-form col-sm-6" style="border:none;">
                                <section>
                                    <div class="rating">
                                        <for start="1" end="6">
                                            <php>
                                                $star = 6-$i;
                                                $checked = $client['level'] == $star ? 'checked':'';
                                            </php>
                                            <input type="radio" name="level" value="{$star}" id="star-{$star}" {$checked}>
                                            <label for="star-{$star}"><i class="fa fa-star"></i></label>
                                        </for>
                                        商户等级
                                    </div>
                                </section>
                            </form>
                        </div>
                        <table id="datatable" class="table table-striped table-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('distfs',array('id'=>$client[distributor_id]))}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: false,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": null,
                    "title": "面料",
                    "className": "tfinfo",
                    "defaultContent": "",
                    "render": tfRender
                }, {
                    "data": "price",
                    "title": "价格",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return '￥'+data;
                    }
                },{
                    "data": "on_sale",
                    "title": "是否上架",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        return data ? '<span style="color:#72c02c;">已上架</span>':'<span class="color-red">已下架</span>';
                    }
                }, {
                    "data": null,
                    "title": "操作",
                    "defaultContent": '',
                    "orderable": false,
                    "render": function(data, type, row){
                        return '<a class="btn-setting" href="javascript:void(0)">设置</a>';
                    }
                }],
                "order": [[1, 'desc']],
                buttons: [{
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }]
            });

            $('#datatable').on('click', '.btn-setting', function(){
                var tr = $(this).closest('tr');
                var row = table.row( tr );
                if ( row.child.isShown() ) {
                    row.child.hide();
                }else{
                    var url = '/index.php?g=Distribution&m=SupplierClient&a=tf_setting';
                    var data = {id:row.data().source_id};
                    $.get(url, data, function(response){
                        if(response.data){
                            row.child(formatSettingForm(row, response.data), 'setting').show();
                        }
                    });
                }
            });

            $('[name="level"]').change(function(){
                var level = $('[name="level"]:checked').val();
                var data = {
                    id: '{$_GET["id"]}',
                    value: level
                };
                $.post('{:leuu("set_level")}', data, function(response){
                    if(response.status){
                        noty({type:'success',text:response.info});
                    }else{
                        noty({type:'error',text:response.info});
                    }
                })
            })
        });

        function tfRender(data, type, row){
            var $wrapper = $('<div>');
            $($('#tfinfo-wrapper').html()).appendTo($wrapper);
            $wrapper.find('img').attr('src', row.thumb);
            $wrapper.find('.tf-name').text(row.name);
            $wrapper.find('.tf-code').text(row.tf_code);
            return $wrapper.html();
        }

        function formatSettingForm(row, priceList){
            var data = row.data();
            var $form = $($('#setting-wrapper').html());
            $form.find('.price-table tbody tr').each(function(){
                $(this).find('.price').text('￥'+priceList[$(this).data('level')]);
            });
            $form.find('[name="id"]').val(data.id);
            $form.find('.star-'+data.level+' [name="level"]').attr('checked','checked').prop('checked',true);
            $form.find('.cancel').on('click',function(){row.child.hide()});
            $form.validate({
                submitHandler: function(form) {
                    if(typeof $(form).ajaxSubmit == "function"){
                        $(form).ajaxSubmit({
                            beforeSubmit: function(formData, $form, options) {
                                $form.find('[type="submit"]').attr('disabled', 'disabled').addClass('disabled');
                            },
                            success:function(response, statusText, xhr, $form){
                                if(response.status){
                                    noty({text:response.info,type:'success'});
                                }else{
                                    noty({text:response.info,type:'error'});
                                }
                                $form.find('[type="submit"]').removeAttr('disabled', 'disabled').removeClass('disabled');
                            }
                        });
                    }
                }
            });
            return $form;
        }
    </script>
</block>