<extend name="Public:base-v8" />
<block name="title"><title>二批商户 面料商后台 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC_/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">

    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        #datatable td {vertical-align: middle;}
        td.details-control {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            cursor: pointer;
        }

        tr td.details-control:before {
            content: "\f067";
        }

        tr.shown td.details-control:before {
            content: "\f068";
        }

        td.distname img {
            height: 40px;
            margin-right: 5px;
            border-radius: 50%;
        }
        td.distname span {
            line-height: 40px;
        }
        .selected .distname p {color:#fff;}

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">二批商户</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Index/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Distribution/Pool/index')}">分销管理</a></li>
                <li><a href="{:leuu('Supplier/index')}">我是做布商（一批）</a></li>
                <li class="active">二批商户</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier-distribute"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('Supplier/index')}">供二批面料</a></li>
                        <li class="active"><a href="{:leuu('SupplierClient/index')}">二批商户</a></li>
                        <li>
                            <a href="{:leuu('Supplier/application')}">二批申请
                                <gt name="notify_num[dist_tf_apply]" value="0">
                                    <span class="badge rounded badge-red" style="margin-top: -3px;">{$notify_num.dist_tf_apply}</span>
                                </gt>
                            </a>
                        </li>
                        <li><a href="{:leuu('Supplier/fabrics')}">面料管理</a></li>
                    </ul>
                    <div class="tab-content">
                        <table id="datatable" class="table table-striped table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
</block>
<block name="js">
    <script>
        var url = "{:leuu('index')}";
        var table;
        $(function () {
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: false,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "data": "distributor_name",
                    "title": "客户",
                    "className": "distname",
                    "defaultContent": "",
                    "render": function(data, type, row){
                        html = '<img class="pull-left img-responsive" src="'+row.avatar+'">' +
                                '<div class="pull-left">' +
                                '<p class="no-margin">'+data+'</p>';
                        html += '<p class="no-margin">';
                        level = parseInt(row.level);
                        for(var i=1;i<=5;i++){
                            red = i <= level ? 'color-red':'color-grey';
                            html += '<i class="fa fa-star '+red+'"></i>';
                        }
                        html += '</p>';
                        html += '</div>';
                        return html;
                    }
                }, {
                    "data": "amount_30",
                    "title": "30天销售额",
                    "defaultContent": ""
                }, {
                    "data": "amount_90",
                    "title": "90天销售额",
                    "defaultContent": ""
                }, {
                    "data": "amount_all",
                    "title": "总销售额",
                    "defaultContent": ""
                }, {
                    "data": null,
                    "title": "操作",
                    "defaultContent": '',
                    "orderable": false,
                    "render": function(data, type, row){
                        return '<a href="'+row.setting_link+'">设置</a>' +
                                ' | <a href="'+row.report_link+'">统计</a>';
                    }
                }],
                "order": [[1, 'desc']],
                buttons: [{
                    text: "刷新",
                    action: function (e, dt, node, config) {
                        dt.ajax.reload();
                    }
                }]
            });
        });
    </script>
</block>