<extend name="Public:base-v8" />
<block name="title"><title>制作色卡 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/master-slider/masterslider/style/masterslider.css">
    <link rel='stylesheet' href="__PUBLIC__/u/plugins/master-slider/masterslider/skins/default/style.css">
    <link rel="stylesheet" href="__TMPL__assets/css/plugins/fileinput.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_magazine.css">
</block>
<block name="css">
    <style>
        .shop-product {background:#fff;}
        .shop-product .product-quantity {float:none;}

        .sky-form .radio.product-size,
        .sky-form .radio.product-color {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            padding: 0;
        }
        .sky-form .radio.product-size {
            width: auto;
        }
        .sky-form .radio.product-size input + i,
        .sky-form .radio.product-color input + i {
            position: relative;
            border: 2px solid #ddd;
            border-radius: 0;
            width: 50px;
            height: 50px;
            background-size: contain;
            font-size: 18px;
            font-style: normal;
            line-height: 50px;
        }
        .sky-form .radio.product-size input + i {
            width: auto;
            padding: 0 15px;
        }
        .sky-form .radio.product-size input:checked + i,
        .sky-form .radio.product-color input:checked + i {
            border-color: #E6125D;
            color: #E6125D;
        }
        .sky-form .radio.product-size input:checked + i:after,
        .sky-form .radio.product-color input:checked + i:after {
            display:none;
        }
        .total-result p {font-size:16px;}
        .total-result p span {font-size:16px;margin-left:10px;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">制作色卡</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Colorcard/Supplier/index')}">色卡管理</a></li>
                <li class="active">制作色卡</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <php>$offer = $offers[0];</php>
    <div class="container content shop-product">
        <form id="easy-order-form" class="sky-form" method="post" action="{:leuu('easy_order_post')}">
            <fieldset>
                <div class="media margin-bottom-20">
                    <a class="media-left" href="{:leuu('Colorcard/Index/view',array('id'=>$offer[card_id]))}" target="_blank">
                        <img class="media-object" style="width: 64px; height: 64px;" src="{:get_thumb_url($offer[frontcover], true, 150)}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{$offer.card_name}</h4>
                        <p class="price color-red offer-price"
                           data-secondary="{$isSecondary}"
                           style="font-size:18px;">
                            <if condition="$isSecondary">
                                <span class="next-offer">￥{$offer.next_offer}</span>
                                <span class="init-offer" style="text-decoration-line: line-through;color: #ccc;font-size:14px;">
                                    ￥{$offer.init_offer}
                                </span>
                                <else/>
                                <span class="init-offer">￥{$offer.init_offer}</span>
                            </if>
                        </p>
                    </div>
                </div>
                <section id="print_qty">
                    <label class="label">印刷数量</label>
                    <div class="inline-group">
                        <volist name="offers" id="vo">
                            <php>
                                $checked = $vo['print_qty'] == $offer['print_qty'] ? "checked":"";
                            </php>
                            <label class="radio product-size">
                                <input type="radio" name="offer_id" value="{$vo.id}"
                                       data-print_qty="{$vo.print_qty}"
                                       data-init="{$vo.init_offer}"
                                       data-next="{$vo.next_offer}" {$checked}>
                                <i>{$vo.print_qty}</i>
                            </label>
                        </volist>
                    </div>
                </section>
                <section>
                    <label class="label">选择地址
                    </label>
                    <foreach name="addresses" item="vo">
                        <php>
                            $checked = $vo['is_default'] ? 'checked':'';
                        </php>
                        <label class="radio">
                            <input type="radio" name="address_id" value="{$vo.address_id}" {$checked}><i class="rounded-x"></i>
                            {$vo.province_name}{$vo.city_name}{$vo.district_name}
                            {$vo.address} {$vo.zipcode} {$vo.consignee} {$vo.mobile}
                        </label>
                    </foreach>
                </section>
                <section>
                    <label class="label">选择配送方式</label>
                    <foreach name="shippings" item="vo">
                        <php>
                            $checked = $vo['shipping_code'] == $shipping['shipping_code'] ? 'checked':'';
                        </php>
                        <label class="radio">
                            <input type="radio" name="shipping_id" value="{$vo.shipping_id}" {$checked}><i class="rounded-x"></i>
                            {$vo.shipping_name}
                        </label>
                    </foreach>
                </section>
                <section>
                    <label class="label">附言</label>
                    <label class="textarea">
                        <textarea class="form-control" type="text" rows="3" name="postscript"
                                  placeholder="给供应商的留言"></textarea>
                    </label>
                </section>
            </fieldset>
            <footer>
                <php>
                    if($isSecondary){
                    $amount = number_format($offer['next_offer'] * $offer['print_qty'],2,'.','');
                    }else{
                    $amount = number_format($offer['init_offer'] * $offer['print_qty'],2,'.','');
                    }
                </php>
                <ul class="total-result">
                    <li>
                        <p class="goods-amount">总价:
                            <span class="color-red amount">￥{$amount}</span>
                        </p>
                    </li>
                    <li>
                        <p>运费:<span class="color-red">免邮</span></p>
                    </li>
                    <li class="order-amount">
                        <p>合计:<span class="color-red amount">￥{$amount}</span></p>
                    </li>
                </ul>
                <input type="hidden" name="card_id" value="{$card_id}">
                <button class="btn-u btn-u-lg rounded" type="submit">提交订单</button>
                <button class="btn-u btn-u-lg btn-u-default rounded" type="button">返回</button>
            </footer>
        </form>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Master Slider -->
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/masterslider.min.js"></script>
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/jquery.easing.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
</block>
<block name="app_js">
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init();
            App.initScrollBar();
        });
    </script>
</block>
<block name="js">
    <script>
        $(function(){
            var $form = $('#easy-order-form');
            $form.validate();

            $('[name="offer_id"]').on('change', function(){
                var $this = $('[name="offer_id"]:checked');
                var $price = $('.offer-price');
                var isSecondary = $price.data('secondary');
                var price = isSecondary ? $this.data('next'):$this.data('init');
                var amount = (parseFloat(price) * parseInt($this.data('print_qty'))).toFixed(2);
                $('span.amount').text('￥'+amount);
                $('.offer-price .init-offer').text('￥'+$this.data('init'));
                $('.offer-price .next-offer').text('￥'+$this.data('next'));
            });
        });
    </script>
</block>
<block name="iefix"><!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</block>