<extend name="Public:base-v8" />
<block name="title"><title>制作色卡 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/master-slider/masterslider/style/masterslider.css">
    <link rel='stylesheet' href="__PUBLIC__/u/plugins/master-slider/masterslider/skins/default/style.css">
    <link rel="stylesheet" href="__TMPL__assets/css/plugins/fileinput.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_magazine.css">
</block>
<block name="css">
    <style>
        .shop-product {background:#fff;}
        .shop-product .product-quantity {float:none;}

        .sky-form .radio.product-size,
        .sky-form .radio.product-color {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            padding: 0;
        }
        .sky-form .radio.product-size {width: auto;}
        .sky-form .radio.product-size input + i,
        .sky-form .radio.product-color input + i {
            position: relative;
            border: 2px solid #ddd;
            border-radius: 0;
            width: 50px;
            height: 50px;
            background-size: cover;
            font-size: 18px;
            font-style: normal;
            line-height: 50px;
        }
        .sky-form .radio.product-color input + i {
            color: transparent;
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px;
        }
        .sky-form .radio.product-size input + i {
            width: auto;
            padding: 0 15px;
        }
        .sky-form .radio.product-size input:checked + i,
        .sky-form .radio.product-color input:checked + i {
            border-color: #E6125D;
            color: #E6125D;
        }
        .sky-form .radio.product-size input:checked + i:after,
        .sky-form .radio.product-color input:checked + i:after {
            display:none;
        }
        .total-result p {font-size:16px;}
        .total-result p span {font-size:16px;margin-left:10px;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">制作色卡</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Colorcard/Supplier/index')}">色卡管理</a></li>
                <li class="active">制作色卡</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <php>$offer = reset(reset(reset($offers)));</php>
    <div class="container content shop-product">
        <form id="easy-order-form" class="sky-form" method="post" action="{:leuu('new_card_post')}">
            <fieldset>
                <div class="media margin-bottom-20">
                    <a class="media-left" href="#">
                        <img class="media-object" style="width: 64px; height: 64px;" src="{:get_thumb_url($offer[tpl_thumb], true, 150)}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{$offer.tpl_name}</h4>
                        <p class="price color-red init-offer" style="font-size:18px;">￥{$offer.init_offer}</p>
                    </div>
                </div>
                <section id="tpl">
                    <label class="label">版式</label>
                    <div class="inline-group">
                        <volist name="offers" id="vo">
                            <php>
                                $checked = $key == $offer['tpl_id'] ? "checked":"";
                                $tmp = reset(reset($vo));
                                $style='background-image:url('.get_thumb_url($tmp['tpl_thumb'],true,150).');';
                            </php>
                            <label class="radio product-color">
                                <input type="radio" name="tpl_id" value="{$key}"
                                       data-name="{$tmp.tpl_name}"
                                       data-thumb="{:get_thumb_url($tmp[tpl_thumb],true,150)}"
                                       {$checked}>
                                <i style="{$style}"></i>
                            </label>
                        </volist>
                    </div>
                </section>
                <section id="tf_qty">
                    <label class="label">面料数量</label>
                    <volist name="offers" id="vo">
                        <php>
                            $hidden = $key != $offer['tpl_id'] ? 'hide':'';
                        </php>
                        <div class="inline-group {$hidden}" data-tpl_id="{$key}">
                            <volist name="offers[$key]" id="voo">
                                <php>$checked = $key == $offer['tf_qty'] ? "checked":"";</php>
                                <label class="radio product-size">
                                    <input type="radio" name="tf_qty" value="{$key}" {$checked}>
                                    <i>{$key}</i>
                                </label>
                            </volist>
                        </div>
                    </volist>
                </section>
                <section id="print_qty">
                    <label class="label">印刷数量</label>
                    <volist name="offers" id="vo">
                        <php>$tpl_id = $key;</php>
                        <volist name="offers[$key]" id="voo">
                            <php>$hidden = $key != $offer['tf_qty'] ? 'hide':'';</php>
                            <div class="inline-group {$hidden}" data-tf_qty="{$key}">
                                <volist name="offers[$tpl_id][$key]" id="vooo">
                                    <php>$checked = $vooo['id'] == $offer['id'] ? "checked":"";</php>
                                    <label class="radio product-size">
                                        <input type="radio" name="offer_id" value="{$vooo.id}"
                                               data-print_qty="{$vooo.print_qty}"
                                               data-price="{$vooo.init_offer}" {$checked}>
                                        <i>{$vooo.print_qty}</i>
                                    </label>
                                </volist>
                            </div>
                        </volist>
                    </volist>
                </section>
                <section>
                    <label class="label">选择地址</label>
                    <foreach name="addresses" item="vo">
                        <php>
                            $checked = $vo['is_default'] ? 'checked':'';
                        </php>
                        <label class="radio">
                            <input type="radio" name="address_id" value="{$vo.address_id}" {$checked}><i class="rounded-x"></i>
                            {$vo.province_name}{$vo.city_name}{$vo.district_name}
                            {$vo.address} {$vo.zipcode} {$vo.consignee} {$vo.mobile}
                        </label>
                    </foreach>
                </section>
                <section>
                    <label class="label">选择配送方式</label>
                    <foreach name="shippings" item="vo">
                        <php>
                            $checked = $vo['shipping_code'] == $shipping['shipping_code'] ? 'checked':'';
                        </php>
                        <label class="radio">
                            <input type="radio" name="shipping_id" value="{$vo.shipping_id}" {$checked}><i class="rounded-x"></i>
                            {$vo.shipping_name}
                        </label>
                    </foreach>
                </section>
                <section>
                    <label class="label">附言</label>
                    <label class="textarea">
                        <textarea class="form-control" type="text" rows="3" name="postscript"
                                  placeholder="给供应商的留言"></textarea>
                    </label>
                </section>
            </fieldset>
            <footer>
                <php>$amount = number_format($offer['init_offer'] * $offer['print_qty'],2,'.','');</php>
                <ul class="total-result">
                    <li>
                        <p class="goods-amount">总价:
                            <span class="color-red init-amount">￥{$amount}</span>
                        </p>
                    </li>
                    <li>
                        <p>运费:<span class="color-red">免邮</span></p>
                    </li>
                    <li class="order-amount">
                        <p>合计:<span class="color-red init-amount">￥{$amount}</span></p>
                    </li>
                </ul>
                <button class="btn-u btn-u-lg rounded" type="submit">提交订单</button>
                <a href="javascript:history.go(-1);" class="btn-u btn-u-lg btn-u-default rounded">返回</a>
            </footer>
        </form>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Master Slider -->
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/masterslider.min.js"></script>
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/jquery.easing.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
</block>
<block name="app_js">
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init();
            App.initScrollBar();
        });
    </script>
</block>
<block name="js">
    <script>
        $(function(){
            var $form = $('#easy-order-form');
            $form.validate();

            $('[name="tpl_id"]').on('change',function(){
                var $this = $('[name="tpl_id"]:checked');
                $('.media-object').attr('src',$this.data('thumb'));
                $('.media-heading').text($this.data('name'));
                $('#tf_qty')
                        .find('.inline-group:not([data-tf_id="'+$this.val()+'"])').addClass('hide')
                        .parent()
                        .find('[data-tpl_id="'+$this.val()+'"]').removeClass('hide')
                        .find('[name="tf_qty"]').eq(0).click();
            });

            $('[name="tf_qty"]').on('change', function(){
                var $this = $('[name="tf_qty"]:checked');
                $('#print_qty')
                        .find('.inline-group:not([data-tf_qty="'+$this.val()+'"])').addClass('hide')
                        .parent()
                        .find('[data-tf_qty="'+$this.val()+'"]').removeClass('hide')
                        .find('[name="offer_id"]').eq(0).click();
            });

            $('[name="offer_id"]').on('change', function(){
                var $this = $('[name="offer_id"]:checked');
                $('.init-offer').text('￥'+$this.data('price'));
                var amount = (parseFloat($this.data('price')) * parseInt($this.data('print_qty'))).toFixed(2);
                $('.init-amount').text('￥'+amount);
            });
        });
    </script>
</block>
<block name="iefix"><!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</block>