<volist name="history[tf]" id="vo">
    <li class="ml-item">
        <div>
        <div class="team-img ">
            <a href="{:leuu('/Tf/Tf/fabric',array('id'=>$vo['id']))}">
                <img class="lazyload img-responsive" data-original="{:get_thumb_url($vo['img']['thumb'],true)}" style="width:100%;height:169px;">
            </a>
        </div>
        <span class="shop-info">{$vo.name|msubstr=0,30}</span>
        <div class="shop-name">
            {$vo[supplier][biz_name]|default='&nbsp;'}
        </div>
        </div>
    </li>
</volist>