<extend name="Public:base-v8" />
<block name="title"><title>我的账户 面料商后台 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC_/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .service-block-light {background: #fff;}
        /*Service Block v3 (used in profile pages)
------------------------------------*/
        .service-block-v3 i {
            color: #687074;
        }

        .service-block-v3 .service-heading,
        .service-block-v3 .service-in small {
            color: #687074;
        }

        .service-block-v3 .service-in h4,
        .service-block-v3 .counter {
            color: #687074;
        }

        /*Statistics*/
        .service-block-v3 .statistics .heading-xs {
            color: #687074;
        }

        .service-block-v3 .statistics small {
            color: #687074;
        }

        .service-block-v3 .statistics .progress {
            background: #bbb;
        }

        .service-block-v3 .statistics .progress-bar-light {
            background: #687074;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">我的账户</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Index/index')}">面料商后台</a></li>
                <li class="active">我的账户</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9 profile">
                <div class="profile-body">
                    <div class="service-block-v3 service-block-light marin-bottom-20"
                         style="margin-bottom:20px;">
                        <i class="icon-credit-card"></i>
                        <span class="service-heading">账户余额</span>
                        <span class="counter">￥{$account.amount_current}</span>

                        <div class="clearfix margin-bottom-10"></div>

                        <div class="row margin-bottom-10">
                            <div class="col-xs-3 service-in">
                                <small>冻结金额</small>
                                <h4 class="counter">￥{$account.amount_block}</h4>
                            </div>
                            <div class="col-xs-3 service-in">
                                <small>昨天收益</small>
                                <h4 class="counter">￥0.00</h4>
                            </div>
                        </div>

                        <div class="clearfix margin-bottom-10"></div>

                        <div class="row margin-bottom-10">
                            <div class="col-xs-3 service-in">
                                <small>累积收入</small>
                                <h4 class="counter">￥{$account.amount_credit_sum}</h4>
                            </div>
                            <div class="col-xs-3 service-in">
                                <small>累积支出</small>
                                <h4 class="counter">￥{$account.amount_debit_sum}</h4>
                            </div>
                        </div>

                        <div class="clearfix margin-bottom-10"></div>

                        <div class="margin-bottom-10">
                            <a class="btn-u" href="{:leuu('recharge/index')}">充值</a>
                            <a class="btn-u" href="{:leuu('withdraw/index')}">提现</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js"></block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
</block>