@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "Microsoft JhengHei UI";
}

p, label, li, li a {
  color: #555;
}

h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
  margin-right: 5px;
}

$mainColor: #e6125d;
$garyColor: #a0a0a0;
@mixin margin-bottom($num) {
  margin-bottom: $num;
}

@mixin borderRadius($borderRadius) {
  border-radius: $borderRadius;
}

/*单个课程详情页*/
.course_info {
  position: relative;
  .swiper-wrapper {
    .swiper-slide {
      img {
        min-width: 100%;
      }
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet-active {
      background: $mainColor;
    }
  }
  .course_introduce {
    padding: 20px;
    /*课程标题*/
    .overflow-h {
      overflow: hidden;
      margin-bottom: 12px;
      border-bottom: 1px solid #dedede;
      h2 {
        display: inline-block;
        color: #687074;
        font-size: 18px;
        margin: 5px 0;
        text-transform: uppercase;
        i {
          color: #999;
          font-size: 14px;
          margin-bottom: 10px;
          font-style: normal;
        }
      }
    }
    /*End 课程标题*/

    /*指导老师*/
    .product-ratings {
      margin-bottom: 0;
      li {
        padding: 0;
        .rating-selected {
          color: $mainColor;
          font-size: 14px;
        }
        .rating {
          color: $mainColor;
          font-size: 14px;
        }
        span {
          color: #999;
          display: block;
          font-size: 14px;
          margin: 0 0 10px 10px;
          a {
            color: #777;
          }
        }
      }
    }
    /*End 指导老师*/

    /*立即购买按钮*/
    .slide-button {
      button {
        background: $mainColor;
        color: #fff;
        border-radius: 4px;
        margin-right: 10px;
        display: inline-block;
      }
    }
    /*End 立即购买按钮*/
  }
  .course_detail {
    padding: 0 20px;
    .overflow-h {
      overflow: hidden;
      margin-bottom: 12px;
      border-bottom: 1px solid #dedede;
      h2 {
        display: inline-block;
        color: #687074;
        font-size: 18px;
        margin: 5px 0px;
        text-transform: uppercase;
        i {
          color: #999;
          font-size: 14px;
          margin-bottom: 10px;
          font-style: normal;
        }
      }
    }
  }
  .blackColor {
    background: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
  }
  .sure_info {

    display: none;
    background: #fff;
    width: 100%;
    height: 500px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    z-index: 999;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    > div {
      border-bottom: 1px solid #d5d7dc;
      padding-bottom: 10px;
      h4 {
        font-size: 16px;

      }
      li {
        list-style: none;
        display: inline-block;
        background: #f3f3f3;
        padding: 5px 10px;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 14px;
      }
      .active {
        background: $mainColor;
        color: #fff;
      }
    }

    .media {
      .media-left {
        .sure_info_img img {
          display: block;
          max-width: 100px;
          height: auto;
          padding: 3px;
          background: #fff;
          border-radius: 3px;
        }
      }
      .media-body {
        margin-left: 20px;
        h4 {
          color: #c9253c;
        }
      }

    }

    .add-to-wishlist {
      margin-top: 10px;
      li {
        span {
          color: $mainColor;
        }
      }
    }

    #close {
      position: absolute;
      right: 15px;
      top: 15px;
      border: 1px solid #777;
      border-radius: 50%;
      height: 20px;
      font-size: 18px;
      color: #777;
      width: 20px;
      text-align: center;
      line-height: 16px;
      display: block;
      background: transparent;
    }

    .threeItem {
      .sky-form {
        border: none;
        h4 {
          font-size: 16px;
          color: #555;
          font-family: "Microsoft JhengHei UI";
        }
        label {
          display: inline-block;
          font-size: 14px;
          margin-left: 0;
        }
      }
    }
    .sure-course {
      background: $mainColor;
      color: #fff;
      font-size: 16px;
      padding: 10px 0;
      width: 100%;
      display: block;
      /*position: absolute;*/
      /*bottom: 0;
      left: 0;
      z-index: 9999;*/
      border: none;
      margin-top: 20px;
    }

  }

}

/*End 单个课程详情页*/

/*个人中心、我的订单*/

/*标题部分*/
.slid-toggle {
  background-color: #fff;
  border-bottom: 1px solid #d5d7dc;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  padding: 15px 0;
  width: 100%;
  .orderStatusTitle {
    padding: 0 10px;
    li {
      font-size: 16px;
    }
    text-align: center;
    font-size: 16px;
    color: #555;
    list-style: none;
    .active1 {
      color: $mainColor;
    }
  }
}

/*内容部分*/
.order-item {
  border: 1px solid #d5d7dc;
  font-size: 16px;
  margin-bottom: 20px;
  overflow: hidden;
  /*标题部分*/
  .order-title {
    height: 40px;
    line-height: 40px;
    background-color: #f8f8f8;
    font-size: 16px;
    padding: 0px 5px;
    span {
      font-size: 14px;
      float: left;
    }
    b {
      font-weight: normal;
      color: $mainColor;
      font-size: 14px;
      float: right;
    }
  }

  /*详情部分*/
  .media {
    padding: 0 10px;
    .review-body {
      h4 {
        display: inline-block;
        font-size: 16px
      }
      span {
        font-size: 16px;
        float: right;
        color: $mainColor;
      }
      p {
        font-size: 14px;
        color: $garyColor;
        margin-bottom: 5px;
      }
      button {
        padding: 2px 15px;
        font-size: 14px;
        float: right;
        margin-right: 10px;
      }
      b {
        font-weight: normal;
        font-size: 14px;
        float: right;
        color: $garyColor;
        font-style: normal;
      }
    }
    .media-left {
      .programimg-box {
        width: 110px;
        overflow: hidden;
        img {
          width: 100%;
        }
        b {
          font-weight: normal;
          font-size: 14px;
          color: $garyColor;
          display: block;
        }
      }
    }
  }
  /*状态属性部分*/
  .orderStatus {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    a {
      float: right;
      color: #fff;
      margin-right: 10px;
    }
    p {
      margin-bottom: 5px;
      font-size: 15px;
      overflow: hidden;
      .btn-orange {
        background-color: $mainColor;
        padding: 2px 8px;
        color: #fff;
      }
      .btn-default {
        padding: 2px 8px;
      }
    }
    button {
      float: right;
      margin-right: 10px;
    }

  }
}

/*End 个人中心、我的订单*/

/*立即支付*/
.pay {
  text-align: center;
  padding: 20px 0px;
  .payTitle {
    font-size: 16px;
    color: #323232;
  }

  .payMoney {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .payWho {
    background: #fff;
    border: 1px solid #d5d7dc;
    border-left: none;
    border-right: none;
    padding: 15px 10px;
    overflow: hidden;
    span {
      float: left;
      font-size: 14px;
      color: #b3b3b3;
    }
    b {
      float: right;
      font-weight: normal;
    }
  }

  .payBtn {
    padding: 0 10px;
    button {
      border: none;
      background: $mainColor;
      color: #fff0f0;
      width: 100%;
      padding: 12px 0;
      margin-top: 20px;
      font-size: 16px;
      border-radius: 4px;
    }
  }
}

/*End pay-now*/

/*user-center*/

/*body bg-color*/
.bg-grey {
  background: #f7f7f7;
}

/*Endbody bg-color*/

.head {
  background: url("../weixin/images/03.jpg") no-repeat center;
  padding: 30px 0;
  text-align: center;
  .content-box {
    img {
      margin: 0 auto;
      display: block;
      border-radius: 50px;
      width: 80px;
      height: 80px;
      padding: 3px;
      background: rgba(255, 255, 255, .5);
    }
    span {
      display: block;
      color: #fff;
      font-size: 16px;
      margin: 10px 0 5px;
    }
    button {
      margin: 0 auto;
      display: block;
      background: rgba(255, 255, 255, .2);
      padding: 4px 8px;
      color: #fff;
      border: none;
    }
  }

}

.info {
  a {
    overflow: hidden;
    padding: 20px;
    display: block;
  }
  background: #fff;
  border-bottom: 1px solid #d5d7dc;
  .pull-left {
    i {
      color: $mainColor;
      font-size: 18px;
      margin-right: 5px;
    }
    h2 {
      display: inline-block;
      font-size: 16px;
      margin: 0;
      color: #555;
    }
  }
  .pull-right {
    span {
      color: #ccc;
      font-size: 14px;
    }
    i {
      margin-left: 10px;
      font-size: 18px;
      color: #ccc;
    }
  }
}

/*End info*/

/*state*/
.state {
  background: #fff;
  padding: 10px 0;
  > div {
    text-align: center;
    h4 {
      margin: 0;
      font-size: 15px;
      color: #555;
    }
    i {
      font-size: 18px;
      margin-bottom: 5px;
      color: #ccc;
    }
  }

}

/*End state*/

/*address*/
.content-bottom {
  .address {
    background: #fff;
    border-bottom: 1px solid #eee;
    &:first-child {
      margin-top: 20px;
    }
    a {
      display: block;
      padding: 10px 20px;
      overflow: hidden;
      .pull-right {
        i {
          color: #ccc;
          font-size: 18px;
          margin-top: 10px;
        }
      }
      .pull-left {
        i {
          color: $garyColor;
          font-size: 18px;
          margin-right: 5px;
        }
        h4 {
          display: inline-block;
          font-size: 15px;
          color: #555;
        }
      }
    }

  }
}

/*End address*/

/*--infoList--*/

/*info_list_title*/
.infoList_title {
  background: #fff;
  padding: 0;
  margin: 10px 0;
  ul {
    margin: 0;
    list-style: none;
    li.active {
      color: $mainColor;
      border-bottom: 2px solid $mainColor;
      a {
        color: $mainColor;
        text-decoration: none;
      }
    }
    li {
      list-style: none;
      text-align: center;
      padding: 12px 5px;
      a {
        font-size: 15px;
        color: #555;
      }
    }
  }
}

/*End info_list_title*/

/*info_detail*/
.info_detail {
  .info_item {
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    .media {
      .media-left {
        width: 100px;
        height: 100px;
        img {
          width: 100px;
          height: auto;
        }
      }
      .media-body {
        .media-heading {
          color: #555;
        }
        h5 {
          font-size: 15px;
        }
        p {
          font-size: 14px;
          span {
            color: $mainColor;
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

}

/*End info_detail*/

/*-- End infoList--*/

/*paySuccess*/
.paySuccess {
  padding: 20px 10px;
  text-align: center;
  i {
    padding: 15px;
    border-radius: 50%;
    background: $mainColor;
    color: #fff;
    font-size: 32px;
  }
  h5 {
    font: 16px normal, "Microsoft JhengHei UI";
    color: $mainColor;
    margin: 5px 0;
  }
  h3 {
    font: 26px normal, "Microsoft JhengHei UI";
    color: #323232;
    margin: 0 0 15px;
  }
  .whoGet {
    border: 1px solid #d5d7dc;
    border-left: none;
    border-right: none;
    padding: 15px 0;
    overflow: hidden;
    span {
      float: left;
      font-size: 14px;
      color: $garyColor;
    }
    b {
      float: right;
      font-size: 14px;
      color: $garyColor;
    }
  }
  .payBtn {
    margin-top: 20px;
    background: $mainColor;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/*End paySuccess*/

/* End个人中心*/

/*my-address*/
/*地址列表*/
/*地址列表*/
.addressList {
  background: #fff;
  margin-top: 10px;
  padding: 10px 20px;
  section {
    label {
      border-bottom: 1px solid #d5d7dc;
      p {
        margin-bottom: 5px;
        font-size: 15px;
        color: #555;
      }
    }
    h3 {
      margin: 0;
      font-size: 18px;
    }
  }
  .name {
    overflow: hidden;
    h4 {
      display: inline-block;
      margin: 5px 0 0;
      font-size: 15px;
      color: #555;
    }
    span {
      font-size: 14px;
      color: #555;
    }
  }

}

.addAddress {
  a {
    padding: 12px 20px;
    overflow: hidden;
    display: block;
  }

  background: #fff;
  .pull-left {
    h4 {
      font-size: 15px;
      color: #555;
      margin: 5px 0;
    }
  }
  .pull-right {
    i {
      font-size: 18px;
      color: #ccc;
      margin-top: 5px;
      display: inline-block;
    }
  }
}

/*End 地址列表*/

/*增加新地址*/
.addAddress1 {
  background: #fff;
  padding: 0 0 20px;
  .formInput {
    padding: 10px 20px;
    border-bottom: 1px solid #d5d7dc;
    label {
      color: #777;
      font-size: 15px;
      font-weight: 600;
    }
    input {
      border: none;
      font-size: 14px;
      color: #555;
      outline: medium;
      width: 70%;
      padding-left: 5px;
    }
  }
  .form-group {
    textarea {
      border: none;
      width: 100%;
      height: 100px;
      padding: 5px 20px;
      resize: none;
    }
  }
  #btn {
    border: none;
    background: #ff9b00;
    color: #fff;
    font-size: 16px;
    margin: 50px 0 0;
  }
}

/*End 增加新地址*/

/*End my-address*/