<extend name="Public:base-v8"/>
<block name="title"><title>货架管理 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .shelves {
            height: 400px;
            overflow: hidden;
        }
        .shelves li {
            padding:5px;
            overflow: hidden;
            cursor: pointer;
        }
        .shelves li:hover {
            background: #ec6d99;
        }
        .shelves li.selected {
            background: #e6125d;
        }
        .shelves li:hover .fabric-content p,
        .shelves li.selected .fabric-content p{
            color:#fff!important;
        }
        .shelves li .fabric-thumb {
            float:left;
            width:40px;
            height:40px;
        }
        .shelves li .fabric-content {
            float:left;
            margin-left: 5px;
        }
        .shelves.right li .fabric-thumb {
            float:right;
        }
        .shelves.right li .fabric-content {
            float:right;
            margin-left:0;
            margin-right: 5px;
        }
        .shelves li .fabric-content p {
            margin:0;
            line-height: 20px;
        }
        .shelves li .fabric-content p.name {
            color: #555;
            font-size: 16px;
        }
        .shelves li .fabric-content p.code {
            font-size: 12px;
        }

        .actions {
            padding: 15px;
            padding-top:150px;
            height:400px;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">货架管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Tf/Supplier/index')}">产品管理</a></li>
                <li class="active">货架管理</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('Tf/Supplier/index')}">所有面料</a></li>
                        <li class="active"><a href="javascript:void(0);">货架管理</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">未上架的面料
                                            <button type="button"
                                                    class="btn-u btn-u-xs pull-right select-all"
                                                    style="margin-top: 3px;">全选</button>
                                        </h3>
                                    </div>
                                    <div class="panel-body no-padding shelves left">
                                        <ul class="list-unstyled">
                                            <foreach name="shelves[0]" item="vo">
                                                <li class="fabric" data-id="{$vo.id}">
                                                    <div class="fabric-thumb">
                                                        <img class="img-responsive"
                                                             data-original="{:get_thumb_url($vo[thumb], true, 150)}">
                                                    </div>
                                                    <div class="fabric-content">
                                                        <p class="name">{$vo.name}</p>
                                                        <p class="code">{$vo.code}</p>
                                                    </div>
                                                </li>
                                            </foreach>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 actions">
                                <button id="hit-shelve" type="button" class="btn-u btn-block margin-bottom-20">
                                    上架 <i class="fa fa-long-arrow-right"></i></button>
                                <button id="un-shelve" type="button" class="btn-u btn-block">
                                    <i class="fa fa-long-arrow-left"></i> 下架</button>
                            </div>
                            <div class="col-xs-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">上架的面料
                                            <button type="button"
                                                    class="btn-u btn-u-xs pull-right select-all"
                                                    style="margin-top: 3px;">全选</button>
                                        </h3>
                                    </div>
                                    <div class="panel-body no-padding shelves right">
                                        <ul class="list-unstyled">
                                            <foreach name="shelves[1]" item="vo">
                                                <li class="fabric" data-id="{$vo.id}">
                                                    <div class="fabric-thumb">
                                                        <img class="img-responsive"
                                                             data-original="{:get_thumb_url($vo[thumb], true, 150)}">
                                                    </div>
                                                    <div class="fabric-content">
                                                        <p class="name">{$vo.name}</p>
                                                        <p class="code">{$vo.code}</p>
                                                    </div>
                                                </li>
                                            </foreach>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="text-center">
                            <button type="button" class="btn-u btn-u-lg rounded" onclick="saveShelves()">保存</button>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            var $left = $('.shelves.left');
            var $right = $('.shelves.right');
            var $leftImgs = $left.find('.fabric-thumb img');
            var $rightImgs = $right.find('.fabric-thumb img');

            $('.shelves').on('click', 'li', function() {
                var $this = $(this);
                $this.toggleClass('selected');
                refreshSelectAllBtn();
            });

            $leftImgs.lazyload({
                effect: "fadeIn",
                container: $left
            });

            $rightImgs.lazyload({
                effect: "fadeIn",
                container: $right
            });

            $left.mCustomScrollbar({
                callbacks:{
                    whileScrolling:function(){ $leftImgs.trigger('scroll') }
                }
            });

            $right.mCustomScrollbar({
                callbacks:{
                    whileScrolling:function(){ $rightImgs.trigger('scroll') }
                }
            });

            $('#hit-shelve').on('click', function(){
                $left.find('li.selected').appendTo($right.find('ul')).removeClass('selected');
                refreshSelectAllBtn();
            });

            $('#un-shelve').on('click', function(){
                $right.find('li.selected').appendTo($left.find('ul')).removeClass('selected');
                refreshSelectAllBtn();
            });

            $('.select-all').on('click', function(){
                var $this = $(this);
                var $fabrics = $this.parents('.panel').find('.shelves .fabric');
                if($this.text() == '全选'){
                    $fabrics.addClass('selected');
                    $this.text('取消全选');
                }else{
                    $fabrics.removeClass('selected');
                    $this.text('全选');
                }
            })
        });

        function refreshSelectAllBtn(){
            $('.shelves').each(function(){
                var $this = $(this);
                var $fabrics = $this.find('.fabric');
                var $btn = $this.parents('.panel').find('.select-all');
                if($fabrics.length == $fabrics.filter('.selected').length && $fabrics.length !== 0){
                    $btn.text('取消全选');
                }else{
                    $btn.text('全选');
                }
            })
        }

        function saveShelves(){
            var ids = [[],[]];
            $('.shelves.left li').each(function(){
                ids[0].push($(this).data('id'));
            });
            $('.shelves.right li').each(function(){
                ids[1].push($(this).data('id'));
            });
            var data = {ids: ids};
            var url = '/index.php?g=Tf&m=SupplierShelves&a=post';
            $.post(url, data, function(response){
                if(response.status){
                    noty({type:'success',text:response.info});
                }else{
                    noty({type:'error',text:response.info});
                }
            })
        }
    </script>
</block>