@import "../public";

body {
    background: #efefef;
}

.order-mobile-scss {
    background: #efefef;
    height: 100%;

    .item-shop {
        font-size: .7rem;
        padding: .4rem .5rem;
        position: relative;
        border-bottom: 1px solid #e8e8e8;

        .ordered {
            font-size: .6rem;
            float: right;
            color: #e6125d;
            line-height: 1rem;
        }
    }

    .item-body {
        .img-responsive {
            width: 20%;
            float: left;
        }

        .info-content {
            margin-left: 10px;
        }
    }

    .price {
        border-top: 1px solid #e8e8e8;
        font-size: 14px;
        position: relative;
        color: #e6125d;
        overflow: hidden;
        padding: 5px 10px;

        .btn-red {
            font-size: 12px;
            padding: 2px 5px;
        }

    }
}