<extend name="Public:base-v8"/>
<block name="title"><title>忘记密码</title></block>
<block name="plugins_css">
	<link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="page_css">
	<link rel="stylesheet" href="__PUBLIC__/u/css/pages/log-reg-v3.css">
</block>
<block name="css">
	
</block>
<block name="breadcrumbs">
	<div class="breadcrumbs-v4">
    <div class="container">
        <span class="page-name">忘记密码</span>
        <ul class="breadcrumb-v4-in">
            <li><a href="__ROOT__/">首页</a></li>
            <li class="active">找回密码</li>
        </ul>
    </div><!--/end container-->
</div>
</block>
<block name="main">
    <!--findPassword-->
    <div class="find-password-step4">
        <div class="container">
            <div class="find-password-step4-content g-padding-30 g-pt-40">
                <div class="reg-header"><h1 class="margin-bottom-30">找回密码</h1></div>
                <div class="find-password-step4-title"></div>
                <section class="g-mt-50">
                    <i class="fa fa-check"></i><h3>密码已设置成功！</h3>
                    <div>请立即用新密码<a href="{:U('user/login/index')}"> 登录</a></div>
                </section>
            </div>
        </div>
    </div>
    <!--End findPassword-->
</block>
<block name="plugins_js">
	<script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<!-- JS Page Level -->
	<script src="__PUBLIC__/u/js/shop.app.js"></script>
	<script src="__PUBLIC__/u/js/forms/page_login.js"></script>
	<script src="__PUBLIC__/u/js/forms/page_contact_form.js"></script>
	<!-- JS Customization -->
	<script src="__TMPL__assets/js/custom.js"></script>

</block>
<block name="js">
	<script src="__TMPL__assets/js/validate-form.js"></script>
<script>
    $(document).ready(function () {
        validateForm.findPassword();
    });



</script>
</block>
