<extend name="Public:base-v8"/>
<block name="title"><title>忘记密码</title></block>
<block name="plugins_css">
	<link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="page_css">
	<link rel="stylesheet" href="__PUBLIC__/u/css/pages/log-reg-v3.css">
</block>
<block name="css">
	<style>
        .find-password-step1 form{
            text-align:left;
        }
    </style>
</block>
<block name="breadcrumbs">
	<div class="breadcrumbs-v4">
    <div class="container">
        <span class="page-name">忘记密码</span>
        <ul class="breadcrumb-v4-in">
            <li><a href="__ROOT__/">首页</a></li>
            <li class="active">找回密码</li>
        </ul>
    </div><!--/end container-->
</div>
</block>
<block name="main">
	<div class="find-password-step1">
    <div class="container">
        <div class="find-password-step1-content g-padding-30 g-pt-40">
            <div class="reg-header"><h1 class="margin-bottom-30">找回密码</h1></div>
            <div class="find-password-step1-title"></div>
            <div class="row log-reg-v3">
                <form class="col-md-4 col-lg-offset-4 g-mt-40" id="validateStep1" method="post" action="{:U('User/login/forgot_post1')}">
                    <div class="form-group">
                        <label for="mobile" class="control-label">输入手机号码</label>
                        <input type="number" class="form-control" required id="mobile" name="user_mobile" placeholder="请输入手机号">
                    </div>
                    <input type="hidden" name="act" value="setting_pass">
                 <button type="submit" class="btn btn-u g-mt-10">下一步</button>
                </form>
            </div>
        </div>
    </div>
</div>
</block>
<block name="plugins_js">

</block>
<block name="js">
	<script>
		$(function(){
            $('#validateStep1').validate({
                rules: {
                    user_mobile:{ 
                        required: 1,
                        mobile: 1},
                },
                messages: {
                    user_mobile: '请输入正确的手机号码',
                },
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent());
                }
            });
        })
	</script>
</block>