<extend name="Public:base-v8"/>
<block name="title"><title>忘记密码</title></block>
<block name="plugins_css">
	<link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="page_css">
	<link rel="stylesheet" href="__PUBLIC__/u/css/pages/log-reg-v3.css">
</block>
<block name="css">
	<style>
        .sky-form section {
            margin-bottom: 10px!important;
        }

        .mobile-verify {padding-right: 135px;}
        .mobile-verify .btn-verify {
            display: block;
            position: absolute;
            bottom: 0;
            right: 15px;
            width: 120px;
        }
        .mobile-verify .btn-verify:disabled,
        .mobile-verify .btn-verify:disabled:hover {
            background-color: #efb989;
            border-color: #efb989;
        }
    </style>
</block>
<block name="breadcrumbs">
	<div class="breadcrumbs-v4">
    <div class="container">
        <span class="page-name">忘记密码</span>
        <ul class="breadcrumb-v4-in">
            <li><a href="__ROOT__/">首页</a></li>
            <li class="active">找回密码</li>
        </ul>
    </div><!--/end container-->
</div>
</block>
<block name="main">
	<!--findPassword-->
<div class="find-password-step2">
    <div class="container">
        <div class="find-password-step2-content g-padding-30 g-pt-40">
            <div class="reg-header"><h1 class="margin-bottom-30">找回密码</h1></div>
            <div class="find-password-step2-title"></div>
            <div class="row">
                <form class="col-md-4 col-lg-offset-4 g-mt-40" id="validateStep2" action="{:U('User/Login/forgot_post2')}" method="post">
                    <div class="form-group">
                        <label>已验证手机：<span>{:I('get.mobile')}</span></label>
                    </div>
                    <div class="form-group mobile-verify" style="position: relative;">
                        <label for="name" class="control-label">短信校验码：</label>
                         <input type="text" required class="form-control" id="name" name="verify" placeholder="请输入校验码"  aria-required="true">
                        <button data-mobile="{:I('get.mobile')}"
                                class="btn-u btn-u-orange btn-verify"
                                type="button">获取验证码</button>
                    </div>
                    <input type="hidden" name="act" value="{:I('get.act')}">
                    <input type="hidden" name="mobile" value="{:I('get.mobile')}">
                    <button type="submit" class="btn btn-u g-mt-10">下一步</button>
                </form>
            </div>

        </div>
    </div>
</div>
</block>
<block name="plugins_js">
	<script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<!-- JS Page Level -->
	<script src="__PUBLIC__/u/js/shop.app.js"></script>
	<script src="__PUBLIC__/u/js/forms/page_login.js"></script>
	<script src="__PUBLIC__/u/js/forms/page_contact_form.js"></script>
	<!-- JS Customization -->
	<script src="__TMPL__assets/js/custom.js"></script>

</block>
<block name="js">
	<script>
        $(function() {
            

            $verifyMobile = $('.mobile-verify');
            $verifyMobile.find('.btn-verify:not(:disabled)').on('click', function () {
                var $_this = $(this);
                var mobile = $_this.data('mobile');
                if (mobile) {
                    ajaxGetVerifyCode(mobile, $_this);
                }
            });
        });
    </script>
</block>

