<extend name="Public:base-v8"/>
<block name="title"><title>登陆</title></block>
<block name="plugins_css">
	<link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="page_css">
	<link rel="stylesheet" href="__PUBLIC__/u/css/pages/log-reg-v3.css">
</block>
<block name="css">
	<style>
		.log-reg-v3 .log-reg-block h2{
			float: left;
		}
		.log-reg-v3 .log-reg-block .login-username,.log-reg-v3 .log-reg-block .login-code{
			width: 50%;
			font-size: 22px;
			font-weight: 200;
			text-align: center;
			margin-bottom: 30px;
			text-decoration: none ;
			display: block;
			float: left;
		}
		.login-code.active,.login-username.active,.login-username:hover,.login-code:hover{
			color: #e6125d !important;
			
		}
		.code-login img{
			width: 220px;
			margin: 0 auto;
		}
		.code-login .mask{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			
		}
	</style>
</block>
<block name="breadcrumbs">
	<div class="breadcrumbs-v4">
		<div class="container">
			<span class="page-name">登录</span>
			<ul class="breadcrumb-v4-in">
				<li><a href="__ROOT__/">首页</a></li>
				<li class="active">登录</li>
			</ul>
		</div><!--/end container-->
	</div>
</block>
<block name="main">
	<div class="log-reg-v3 content-md">
			<div class="container">
				<div class="row">
					<div class="col-md-8 md-margin-bottom-50">
						<h2 class="welcome-title" style="margin-bottom:10px">面料馆，面料好管</h2>
						<div class="info-block-v2" style="margin-bottom:10px">
							<img src="__TMPL__assets/img/login/mlg_01.png" alt="" style="float: left;margin-right:15px;margin-top:-1px;">
							<div class="info-block-in">
								<h3>色卡好管</h3>
								<p> ● 三种全新设计色卡，各司其职。</p>
								<p> ● 两种电子色卡，方便网上传播扩散。</p>
								<p> ● 色卡委托制作，系统直接生成或下单。</p>
							</div>
						</div>
						<div class="info-block-v2" style="margin-bottom:10px">
							<img src="__TMPL__assets/img/login/mlg_02.png" alt="" style="float: left;margin-right:15px;margin-top:-1px;">
							<div class="info-block-in">
								<h3>客户好管</h3>
								<p> ● 对客户进行分级管理。</p>
								<p> ● 记录客户访问时间和次数。</p>
								<p> ● 加强与客户交流互动。</p>
							</div>
						</div>
						<div class="info-block-v2" style="margin-bottom:10px">
							<img src="__TMPL__assets/img/login/mlg_03.png" alt="" style="float: left;margin-right:15px;margin-top:-1px;">
							<div class="info-block-in">
								<h3>款式好管</h3>
								<p> ● 所有款式分类管理。</p>
								<p> ● 断货款式还可拼单。</p>
							</div>
						</div>
						<div class="info-block-v2" style="margin-bottom:10px">
							<img src="__TMPL__assets/img/login/mlg_04.png" alt="" style="float: left;margin-right:15px;">
							<div class="info-block-in">
								<h3>散剪好管</h3>
								<p> ● 米样网上下单。</p>
								<p> ● 散剪网上下单，无需人工干预。</p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<form id="sky-form1" class="log-reg-block sky-form js-ajax-form" action="{:U('user/login/dologin')}" method="post">
							<div class="clearfix">
								<a href="javascript:void(0)" class="login-username active" style="border-right:2px solid #e6125d;">账号登录</a>
								<a href="javascript:void(0)" class="login-code popup-wx-login">扫码登录</a>
							</div>
							
							<section>
								<label class="input login-input margin-bottom-20" >
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
										<input type="text" placeholder="请输入手机号码" name="username" class="form-control">
									</div>
								</label>
							</section>
							<section>
								<label class="input login-input no-border-top margin-bottom-20">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock"></i></span>
										<input type="password" placeholder="请输入密码" name="password" class="form-control">
									</div>
								</label>
							</section>
							<present name="rrrrrrrrrrrrrrrr">
							<section>
								<label class="input login-input no-border-top">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock"></i></span>
										<input type="text" id="input_verify" name="verify"  placeholder="验证码" style="width:220px;" class="form-control">&nbsp;
							{:sp_verifycode_img('length=4&font_size=14&width=100&height=34&charset=2345678&use_noise=1&use_curve=0')}
									</div>
								</label>
							</section>
							</present>
							
							<div class="row margin-bottom-15">
								
								<div class="col-xs-12 text-right">
									<a href="{:U('user/login/forgot_password')}">忘记密码?</a>
								</div>
							</div>
							
							<button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">登录</button>

							<!--<div class="border-wings">
								<span>or</span>
							</div>

							<div class="row columns-space-removes">
								<div class="col-lg-6 margin-bottom-10">
									<button type="button" class="btn-u btn-u-md btn-u-fb btn-block"><i class="fa fa-facebook"></i> Facebook Log In</button>
								</div>
								<div class="col-lg-6">
									<button type="button" class="btn-u btn-u-md btn-u-tw btn-block"><i class="fa fa-twitter"></i> Twitter Log In</button>
								</div>
							</div>-->
						</form>

						<div class="margin-bottom-20"></div>
						<!--<p class="text-center">还未注册面料馆账号，请先 <a href="{:U('user/register/index')}">注册</a></p>-->
					</div>
				</div><!--/end row-->
			</div><!--/end container-->
	</div>
</block>
<block name="plugins_js">
	<script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<!-- JS Page Level -->
	<script src="__PUBLIC__/u/js/shop.app.js"></script>
	<script src="__PUBLIC__/u/js/forms/page_login.js"></script>
	<script src="__PUBLIC__/u/js/forms/page_contact_form.js"></script>
	<!-- JS Customization -->
	<script src="__TMPL__assets/js/custom.js"></script>
	
</block>
<block name="js">
	<script>
		jQuery(document).ready(function() {
			App.init();
			Login.initLogin();
			App.initScrollBar();
			PageContactForm.initPageContactForm();
		});
	</script>
</block>
