<extend name="Public:base-v8"/>
<block name="title"><title>面料商登陆</title></block>
<block name="plugins_css">
	<link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="page_css">
	<link rel="stylesheet" href="__PUBLIC__/u/css/pages/log-reg-v3.css">
</block>
<block name="css">
	<style>
		.log-reg-v3 .log-reg-block h2{
			float: left;
		}
		.log-reg-v3 .log-reg-block .login-username,.log-reg-v3 .log-reg-block .login-code{
			width: 50%;
			font-size: 22px;
			font-weight: 200;
			text-align: center;
			margin-bottom: 30px;
			text-decoration: none ;
			display: block;
			float: left;
		}
		.login-code.active,.login-username.active,.login-username:hover,.login-code:hover{
			color: #e6125d !important;
			
		}
		.code-login img{
			width: 220px;
			margin: 0 auto;
		}
		.code-login .mask{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			
		}
	</style>
</block>
<block name="breadcrumbs">
	<div class="breadcrumbs-v4">
		<div class="container">
			<span class="page-name" style=" margin-left: 0;">面料商登录</span>
			<ul class="breadcrumb-v4-in">
				<li><a href="__ROOT__/">首页</a></li>
				<li class="active">登录</li>
			</ul>
		</div><!--/end container-->
	</div>
</block>
<block name="main">
	<div class="log-reg-v3 content-md">
			<div class="container">
				<div class="row">
					<div class="col-md-7 md-margin-bottom-50">
						<h2 class="welcome-title">欢迎来到面料馆</h2>
						<p>Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit vehicula massa.</p><br>
						<div class="info-block-v2">
							<i class="icon icon-layers"></i>
							<div class="info-block-in">
								<h3>Pellentesque vulputate</h3>
								<p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
							</div>
						</div>
						<div class="info-block-v2">
							<i class="icon icon-settings"></i>
							<div class="info-block-in">
								<h3>Curabitur tincidunt</h3>
								<p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
							</div>
						</div>
						<div class="info-block-v2">
							<i class="icon icon-paper-plane"></i>
							<div class="info-block-in">
								<h3>Aenean condimentum</h3>
								<p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
							</div>
						</div>
					</div>

					<div class="col-md-5">
						<form id="sky-form1" class="log-reg-block sky-form js-ajax-form" action="{:U('user/login/dologin')}" method="post">
							<div class="clearfix">
								<a href="javascript:void(0)" class="login-username active">账号登录</a>
								<a href="javascript:void(0)" class="login-code">扫码登录</a>
							</div>
							
							<div class="username-login">
								<section>
									<label class="input login-input">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
											<input type="text" placeholder="请输入手机号" name="username" class="form-control">
										</div>
									</label>
								</section>
								<section>
									<label class="input login-input no-border-top">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<input type="password" placeholder="请输入密码" name="password" class="form-control">
										</div>
									</label>
								</section>
								<section>
									<label class="input login-input no-border-top">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock"></i></span>
											<input type="text" id="input_verify" name="verify"  placeholder="验证码" style="width:220px;" class="form-control">&nbsp;
								{:sp_verifycode_img('length=4&font_size=14&width=100&height=34&charset=2345678&use_noise=1&use_curve=0')}
										</div>
									</label>
								</section>
								<div class="row margin-bottom-5">
									<div class="col-xs-6">
										<label class="checkbox">
											<input type="checkbox" name="checkbox"/>
											<i></i>
											记住密码
										</label>
									</div>
									<div class="col-xs-6 text-right">
										<a href="{:U('user/login/forgot_password')}">忘记密码?</a>
									</div>
								</div>
								<button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">登录</button>
							</div>
							<div class="code-login" style="display: none;">
								<img class="img-responsive" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQFp8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAybUV5dHNhVDNiWC0xYmRfaTFwMVcAAgSRvxJZAwQ8AAAA" data-src="/index.php?g=wx&amp;m=login&amp;a=qr" data-login="/index.php?g=wx&amp;m=login&amp;a=dologin" alt="正在加载二维码..." data-sceneid="2043072243" data-ticket="gQFp8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAybUV5dHNhVDNiWC0xYmRfaTFwMVcAAgSRvxJZAwQ8AAAA">
								<div class="mask">
									<button type="button" class="btn-u btn-u-red btn-refresh">刷新二维码</button>
								</div>
								<p class="countdown text-center">二维码将在 <b class="num color-red" style="color:#ffae00">50</b> 秒后过期</p>
                				<p class="expired hide text-center"><b class="color-red">二维码已过期</b></p>
							</div>

							<!--<div class="border-wings">
								<span>or</span>
							</div>

							<div class="row columns-space-removes">
								<div class="col-lg-6 margin-bottom-10">
									<button type="button" class="btn-u btn-u-md btn-u-fb btn-block"><i class="fa fa-facebook"></i> Facebook Log In</button>
								</div>
								<div class="col-lg-6">
									<button type="button" class="btn-u btn-u-md btn-u-tw btn-block"><i class="fa fa-twitter"></i> Twitter Log In</button>
								</div>
							</div>-->
						</form>

						<div class="margin-bottom-20"></div>
						<p class="text-center">还未注册面料馆账号，请先 <a href="{:U('user/register/index')}">注册</a></p>
					</div>
				</div><!--/end row-->
			</div><!--/end container-->
	</div>
</block>
<block name="plugins_js">
	<script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
	<script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
	<!-- JS Page Level -->
	<script src="__PUBLIC__/u/js/shop.app.js"></script>
	<script src="__PUBLIC__/u/js/forms/page_login.js"></script>
	<script src="__PUBLIC__/u/js/forms/page_contact_form.js"></script>
	<!-- JS Customization -->
	<script src="__TMPL__assets/js/custom.js"></script>
	
</block>
<block name="js">
	<script>
		jQuery(document).ready(function() {
			App.init();
			Login.initLogin();
			App.initScrollBar();
			PageContactForm.initPageContactForm();
		});
		jQuery(".login-username").click(function() {
			$(".username-login").show();
			$(".code-login").hide();
			$(this).addClass("active");
			$(".login-code").removeClass("active");
		});
		jQuery(".login-code").click(function() {
			$(".code-login").show();
			$(".username-login").hide();
			$(this).addClass("active");
			$(".login-username").removeClass("active");
		});
	</script>
</block>
