<extend name="Public:base-v8"/>
<block name="title"><title>注册</title></block>
<block name="plugins_css">
   <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="page_css">
    <!-- CSS Page Styles -->
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/log-reg-v3.css">
</block>
<block name="css">
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">注册</span>
            <!--<h1>Maecenas <span class="shop-green">enim</span> sapien</h1>-->
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li class="active">注册</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="log-reg-v3 content-md margin-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-md-7 md-margin-bottom-10">
                    <h2 class="welcome-title">欢迎来到面料馆</h2>
                    <div class="row margin-bottom-30">
                        <div class="col-sm-4 md-margin-bottom-20">
                            <div class="site-statistics">
                                <span>20,039</span>
                                <small>样品</small>
                            </div>
                        </div>
                        <div class="col-sm-4 md-margin-bottom-20">
                            <div class="site-statistics">
                                <span>5483</span>
                                <small>商家</small>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="site-statistics">
                                <span>12365</span>
                                <small>客户</small>
                            </div>
                        </div>
                    </div>
                    <div class="margin-bottom-30">
                        <div class="headline margin-bottom-20"><h2>您是买家</h2></div>
                        <ul class="list-unstyled categories">
                            <li>快捷发布需求，线下专业找版，48小时精准匹配</li>
                            <li>平台快速调样，拒绝货不对版，轻松购买大货</li>
                            <li>携手科泰斯，验货保障质量；线上担保交易，保障资金安全</li>
                        </ul>
                    </div>
                    <div class="margin-bottom-30">
                        <div class="headline margin-bottom-20"><h2>您是卖家</h2></div>
                        <ul class="list-unstyled categories">
                            <li>无需租金，无需推广费用，免费线上开店，打造个性店铺</li>
                            <li>丰富平台活动，助力店铺宣传与商品曝光，提高询盘与成交</li>
                            <li>智能筛选需求，匹配合适订单，随时随地精确捕捉销售机遇</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-5">
                    <form id="sky-form4" class="log-reg-block sky-form js-ajax-form" action="{:U('user/register/doregister')}" method="post">
                        <h2>注册新账号</h2>

                        <div class="login-input reg-input">

                            <section>
                                <label class="input">
                                    <input type="text" name="user_login" placeholder="用户名" class="form-control">
                                </label>
                            </section>
                            <section style="position: relative;">
                                <label class="input">
                                    <input type="text" name="mobile" placeholder="请输入注册手机号码"  class="form-control">
                                </label>
                                <button class="btn btn-u btn-orange" type="button" id="yzmbtn" onclick="settime()">发送验证码
                                </button>
                            </section>
                            <section>
                                <label class="input">
                                    <input type="text" name="mobile_verify" placeholder="请输入6位数手机验证码" readonly
                                           class="form-control">
                                </label>
                            </section>
                            <!-- <section>
                                <label class="input">
                                    <input type="text" name="companyName" placeholder="请输入公司名称，个人用户请填写“个人”"
                                           class="form-control">
                                </label>
                            </section> -->
                            <section>
                                <label class="input">
                                    <input type="password" name="password" placeholder="密码" id="password"
                                           class="form-control">
                                </label>
                            </section>
                            <section>
                                <label class="input">
                                    <input type="password" name="repassword" placeholder="再次输入密码"
                                           class="form-control">
                                </label>
                            </section>
                            <section>
                                <label class="input">
                                    <input type="text" name="verify" placeholder="验证码" style="width:232px;display:inline-block;" class="form-control">&nbsp;
                                    {:sp_verifycode_img('length=4&font_size=16&width=120&height=36&charset=1234567890&use_noise=1&use_curve=0')}
                                </label>
                            </section>

                        </div>

                        <label class="checkbox margin-bottom-5">
                            <input type="checkbox" name="checkbox"/>
                            <i></i>
                            我已经阅读 <a href="#">面料管协议和条约</a>
                        </label>
                        <div class="margin-bottom-20"></div>
                        <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20 js-ajax-submit" type="submit">注册
                        </button>
                    </form>

                    <div class="margin-bottom-20"></div>
                    <p class="text-center">已有面料馆账号? 请<a href="{:U('user/login/index')}"> 登录</a></p>
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <!-- JS Page Level -->
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/forms/page_login.js"></script>
    <script src="__PUBLIC__/u/js/forms/page_contact_form.js"></script>
    <!-- JS Customization -->
    <script src="__TMPL__assets/js/custom.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
<script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- JS Customization -->
<!-- JS Page Level -->
<script src="__PUBLIC__/u/js/shop.app.js"></script>
<script src="__PUBLIC__/u/js/forms/page_registration.js"></script>
<!-- JS Customization -->
<script src="__TMPL__assets/js/custom.js"></script>

</block>
<block name="js">
    <script>
    jQuery(document).ready(function () {
        App.init();
        App.initScrollBar();
        Registration.initRegistration();
    });

    var count = 60;
    function settime() {
        var btn = document.getElementById("yzmbtn");
        if (count == 0) {
            btn.disabled = false;
            btn.style.background = "rgb(230,18,93)";
            btn.innerHTML = "发送验证码";
            count = 60;
            return
        } else {
            btn.disabled = true;
            btn.innerHTML=('重新发送 (' + count + ')');
            btn.style.background = "rgba(230,18,93,0.6)";
            count--;
        }
        setTimeout(settime,1000);
    }
    </script>
</block>
