<extend name="Public:base" />
<block name="title"><title>色卡订单 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/jquery-steps/css/custom-jquery.steps.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <style>
        .shopping-cart .product-it-in {margin-top:0;}
    </style>
</block>
<block name="header">
    <tc_include file="Public:header"/>

    <!--=== Breadcrumbs v4 ===-->
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">购物车</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="index.html">首页</a></li>
                <li><a href="">产品</a></li>
                <li class="active">购物车</li>
            </ul>
        </div><!--/end container-->
    </div>
    <!--=== End Breadcrumbs v4 ===-->
</block>
<block name="main">
    <div class="content-md margin-bottom-30">
        <div class="container">
            <empty name="cart">
                <h1>购物车空空如也！</h1>
                <else />
                <form class="shopping-cart sky-form" action="#">
                    <input type="hidden" name="card_id" value="{$card.card_id}">
                    <div>
                        <div class="header-tags">
                            <div class="overflow-h">
                                <h2>购物车</h2>
                                <p>查看、编辑您的产品</p>
                                <i class="rounded-x fa fa-check"></i>
                            </div>
                        </div>
                        <section>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>名称</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                        <th>总价</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <php>$total = 0.00;</php>
                                    <volist name="cart" id="vo">
                                        <volist name="vo[goods]" id="goods">
                                            <php>
                                                $tf = $goods['tf'];
                                                $sku = $goods['goods_sku'];
                                                if(strstr($sku["key_name"],"/") || strstr($sku["key_name"],"\\")){
                                                $type=3;//图片
                                                $ulclass="image";
                                                } else if(strstr($sku["key_name"],"#")){
                                                $type=2;//颜色
                                                $ulclass="color";
                                                } else {
                                                $type=1;//文字
                                                $ulclass="text";
                                                }
                                            </php>
                                            <php>
                                                if($type == 2) $style='background-color: '.$sku['key_name'].';';
                                                //if($type == 3) $style='background-image:url('.$sku['key_name'].');';
                                            </php>
                                            <tr id="goods_{$goods.rec_id}" data-id="{$goods.rec_id}">
                                                <td class="product-in-table">
                                                    <eq name="type" value="3">
                                                        <img class="img-responsive" src="{:sp_get_image_preview_url($sku[key_name])}">
                                                        <else />
                                                        <img class="img-responsive" src="{:sp_get_image_preview_url($goods[tf][img][thumb])}">
                                                    </eq>
                                                    <div class="product-it-in">
                                                        <p>{$goods.goods_name}</p>
                                                        <p>编号：{$goods.tf.tf_code}</p>
                                                        <gt name="goods[goods_sku_id]" value="0">
                                                            <p>
                                                                <neq name="type" value="3">
                                            <span class="sku-display {$ulclass}" style="{$style}">
                                                <eq name="type" value="1">
                                                {$sku.key_name}
                                                </eq>
                                            </span>
                                                                </neq>
                                                                <notempty name="goods[goods_sku][value_text]">
                                                                    、{$goods.goods_sku.value_text}
                                                                </notempty>
                                                            </p>
                                                        </gt>
                                                        <p>供应商：{$vo.long_name}</p>
                                                    </div>
                                                </td>
                                                <td class="price" data-price="{$goods.goods_price}">￥ {$goods.goods_price}</td>
                                                <td class="number">
                                                    <button type='button' class="quantity-button" name='subtract'
                                                            onclick='javascript: subtractQty({$goods.rec_id},-1);' value='-'>-
                                                    </button>
                                                    <input id='qty-{$goods.rec_id}' type='number' min="1" class="quantity-field" name='number' value="{$goods.goods_number}" />
                                                    <button type='button' class="quantity-button" name='add'
                                                            onclick='javascript: subtractQty({$goods.rec_id},1);'
                                                            value='+'>+
                                                    </button>
                                                </td>
                                                <php>
                                                    $subtotal = $goods['goods_price']*$goods['goods_number'];
                                                    $total += $goods['goods_price']*$goods['goods_number'];
                                                </php>
                                                <td class="subtotal shop-red">￥ {$subtotal|number_format=2}</td>
                                                <td>
                                                    <button type="button" class="close remove-goods"><span>×</span><span class="sr-only">Close</span></button>
                                                </td>
                                            </tr>
                                        </volist>
                                    </volist>
                                    </tbody>
                                </table>
                            </div>
                        </section>

                        <div class="header-tags">
                            <div class="overflow-h">
                                <h2>确认订单</h2>
                                <p>填写收货地址</p>
                                <i class="rounded-x fa fa-home"></i>
                            </div>
                        </div>
                        <section class="billing-info">
                            <h2 class="title-type">选择地址</h2>
                            <div class="state-error margin-bottom-40">
                                <div>
                                    <foreach name="address[data]" item="vo">
                                        <php>
                                            $checked = $vo['address_id'] == $address['default'] ? 'checked':'';
                                        </php>
                                        <label class="radio">
                                            <input type="radio" name="address_id" value="{$vo.address_id}" {$checked}><i class="rounded-x"></i>
                                            {$vo.province_name}{$vo.city_name}{$vo.district_name}
                                            {$vo.address} {$vo.zipcode} {$vo.consignee} {$vo.mobile}
                                        </label>
                                    </foreach>
                                </div>
                            </div>
                            <h2 class="title-type">选择配送方式</h2>
                            <div class="state-error margin-bottom-40">
                                <div class="inline-group">
                                    <foreach name="shipping[data]" item="vo">
                                        <php>
                                            $checked = $vo['shipping_code'] == 'EXPRESS' ? 'checked':'';
                                        </php>
                                        <label class="radio">
                                            <input type="radio" name="shipping_id" value="{$vo.shipping_id}" {$checked}><i class="rounded-x"></i>
                                            {$vo.shipping_name}
                                        </label>
                                    </foreach>
                                </div>
                            </div>
                            <div class="billing-info-inputs">
                                <h2 class="title-type">附言</h2>
                                <div class="form-group">
                                <textarea class="form-control" type="text" rows="3" name="postscript"
                                          placeholder="给供应商的留言"></textarea>
                                </div>
                            </div>
                        </section>

                        <div class="header-tags">
                            <div class="overflow-h">
                                <h2>支付</h2>
                                <p>选择支付方式</p>
                                <i class="rounded-x fa fa-credit-card"></i>
                            </div>
                        </div>
                        <section></section>
                        <div class="coupon-code">
                            <div class="row">

                                <div class="col-sm-3 col-sm-offset-9">
                                    <ul class="list-inline total-result">
                                        <li>
                                            <h4>总价:</h4>
                                            <div class="total-result-in goods-amount">
                                                <span>￥ {$total|number_format=2}</span>
                                            </div>
                                        </li>
                                        <li>
                                            <h4>运费:</h4>
                                            <div class="total-result-in">
                                                <span class="text-right">- - - -</span>
                                            </div>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="total-price">
                                            <h4>合计:</h4>
                                            <div class="total-result-in order-amount">
                                                <span>￥ {$total|number_format=2}</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </empty>
        </div><!--/end container-->
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/jquery-steps/build/jquery.steps.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){

            var form = $(".shopping-cart");
            form.validate({
                errorPlacement: function errorPlacement(error, element) { element.before(error); },
                rules: {
                    number: {
                        min: 1
                    },
                    address_id: {
                        required: true
                    },
                    shipping_id: {
                        required: true
                    }
                }
            });

            form.children("div").steps({
                headerTag: ".header-tags",
                bodyTag: "section",
                transitionEffect: "fade",
                labels:{
                    cancel: "取消",
                    current: "当前位置:",
                    finish: "提交订单",
                    next: "下一步",
                    previous: "上一步",
                    loading: "加载中 ..."
                },
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Allways allow previous action even if the current form is not valid!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onStepChanged: function(event, currentIndex, priorIndex){
                    var $wizard = $(event.target);
                    if(currentIndex == 1){
                        $wizard.find('.actions ul li').eq(1).hide();
                        $wizard.find('.actions ul li').eq(2).show();
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {
                    var url = "{:leuu('Order/Customer/build_order')}";
                    var data = form.serialize();
                    $.post(url,data,function(response){
                        if(response.status){
                            location.href = response.url;
                        }else{
                            noty({type:'error',text:response.info});
                        }
                    })
                }
            });

            $('.remove-goods').on('click',function(){
                var $this = $(this);
                console.log($this);
                var $tr = $this.parents('tr');
                $.post('/index.php?g=Cart&m=Index&a=remove_item',{id:$tr.data('id')},function(response){
                    if(response.status){
                        $tr.remove();
                    }else{
                        noty({type:'error',text:response.info});
                    }
                })
            });

            $('.quantity-field').blur(function(){
                var $_this = $(this);
                var id = $_this.parents('tr').data('id');
                var value = $_this.val();


                var url = '/index.php?g=cart&m=index&a=change_num';
                var data = {id:id,number:value};
                $.post(url,data,function(response){
                    if(response.status){
                        $_this.val(value);
                        var total = response.info;
                        $('tr[id^="goods_"]').each(function(){
                            var $this = $(this);
                            var price = $this.find('.price').data('price');
                            var number = $this.find('.number [name="number"]').val();
                            subtotal = (price * number).toFixed(2);
                            $this.find('.subtotal').text('￥ '+ subtotal);
                        });

                        $('.goods-amount').find('span').text('￥ '+ total);
                        $('.order-amount').find('span').text('￥ '+ total);
                    }
                });
            })
        });

        function subtractQty(id,num) {
            var $qty = $('#qty-'+id);
            var value = parseInt($qty.val()) + num;
            var price = parseFloat($qty.parents('tr').find('.price').data('price'));
            if(value < 1)
                value = 1;
            
            $qty.val(value);

            var url = '/index.php?g=cart&m=index&a=change_num';
            var data = {id:id,number:value};
            $.post(url,data,function(response){
                if(response.status){
                    var total = response.info;
                    $('tr[id^="goods_"]').each(function(){
                        var $this = $(this);
                        var price = $this.find('.price').data('price');
                        var number = $this.find('.number [name="number"]').val();
                        subtotal = (price * number).toFixed(2);
                        $this.find('.subtotal').text('￥ '+ subtotal);
                    });

                    $('.goods-amount').find('span').text('￥ '+ total);
                    $('.order-amount').find('span').text('￥ '+ total);
                }
            });
        }
    </script>
</block>
<block name="iefix">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/u/plugins/respond.js"></script>
    <script src="__PUBLIC__/u/plugins/html5shiv.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</block>