<extend name="Public:base-v8" />
<block name="title"><title>我的消息</title></block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_sidebar.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/business_center.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .alert-blocks .toggle-text {
            float:none;
        }
        .alert-blocks .msg-title {
            cursor:pointer;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">我的消息</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li class="active">我的消息</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <php>
                            if(!isset($_GET['read'])){
                            $default_active = 'active';
                            }elseif($_GET['read'] == 0){
                            $unread_active = 'active';
                            }else{
                            $read_active = 'active';
                            }
                        </php>
                        <li class="{$default_active}"><a href="{:leuu('index')}">全部消息</a></li>
                        <li class="{$unread_active}"><a href="{:leuu('index',array('read'=>0))}">未读消息</a></li>
                        <li class="{$read_active}"><a href="{:leuu('index',array('read'=>1))}">已读消息</a></li>
                    </ul>
                    <div class="tab-content">
                        <volist name="msgs[data]" id="vo">
                            <div id="msg_{$vo.message_id}" data-id="{$vo.message_id}" data-read="{$vo.readed}"
                                 class="alert-blocks alert-blocks-info alert-dismissable">
                                <button class="close" type="button">×</button>
                                <!--<i class="icon-custom rounded-x icon-bg-blue fa fa-bolt"></i>-->
                                <div>
                                    <strong class="color-blue msg-title">
                                        {$vo.title} <i class="fa fa-angle-double-down toggle-text"></i>
                                        <small class="pull-right">
                                            <eq name="vo[readed]" value="0">
                                                <b class="color-red label-unread">未读</b>
                                                <else />
                                                <em>已读</em>
                                            </eq>
                                            <em>{$vo.sent_time|delta_time}</em>
                                        </small>
                                    </strong>
                                    <p class="msg-text hide">{$vo.message_text}</p>
                                </div>
                            </div>
                        </volist>
                        <ul class="pagination pagination-v2">
                            {$msgs['page']}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js"></block>
<block name="js">
    <script>
        $(function(){

            $('.alert-blocks .msg-title').on('click',function(){
                var $this = $(this);
                var $block = $this.parents('.alert-blocks');
                if($this.find('.toggle-text').hasClass('fa-angle-double-down')){
                    $this.find('.toggle-text').removeClass('fa-angle-double-down').addClass('fa-angle-double-up');
                    $this.parent().find('.msg-text').removeClass('hide');
                    if(!$block.data('read')){
                        setTimeout(function(){
                            mark_read($block.data('id'));
                        },1000);
                    }
                }else{
                    $this.find('.toggle-text').removeClass('fa-angle-double-up').addClass('fa-angle-double-down');
                    $this.parent().find('.msg-text').addClass('hide');
                }
            });

            $('.alert-blocks .close').on('click',function(){
                var $this = $(this),
                        $block = $this.parents('.alert-blocks');
                mark_deleted($block.data('id'));
            });

            function mark_read(id){
                var $block = $('#msg_'+id),
                        url = '/index.php?g=Notify&m=Bm&a=read',
                        data = {id:id};
                if(!$block.find('.msg-text').hasClass('hide')){
                    $.post(url,data,function(response){
                        if(response.status){
                            $block.data('read',1);
                            $block.find('.label-unread').before('<em>已读</em>').parent().find('.label-unread').remove();
                            refresh_notify_num();
                        }else{
                            noty({type:'error',text:response.info});
                        }
                    });
                }
            }

            function mark_deleted(id){
                var $block = $('#msg_'+id),
                        url = '/index.php?g=Notify&m=Bm&a=delete',
                        data = {id:id};
                $.post(url,data,function(response){
                    if(response.status){
                        $block.remove();
                    }else{
                        noty({type:'error',text:response.info});
                    }
                })
            }
        });

    </script>
</block>