<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <php>$statuses = D('Order/Order')->statuses;</php>
                    <ul class="nav nav-tabs">
                        <php>
                            if(!isset($_REQUEST['status'])) $default_active = 'active';
                            $is_colorcard = I('get.is_colorcard/d',0);
                        </php>
                        <li class="{$default_active}"><a href="{:leuu('index',array('is_colorcard'=>$is_colorcard))}">所有订单</a></li>
                        <foreach name="statuses" item="vo">
                            <php>
                                if(in_array($key, array('closed','refunded'))) continue;
                                $actived = $_GET['status'] == $key ? 'active':'';
                            </php>
                            <li class="{$actived}"><a href="{:leuu('index',array('is_colorcard'=>$is_colorcard,'status'=>$key))}">{$vo}</a></li>
                        </foreach>
                    </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                        <notpresent name="_REQUEST[status]">
                            <form class="sky-form" method="get" action="{:U('index',array('is_colorcard'=>$is_colorcard))}" style="margin-bottom:30px!important;border: 1px solid #eee;">
                                <header>筛选</header>
                                <fieldset>
                                    <section class="row">
                                        <label class="input col-sm-3">
                                            <input type="text" name="filter[keywords]" placeholder="请输入订单号" value="{$filter.keywords|default=''}">
                                        </label>
                                        <label class="input col-sm-3" style="padding-right:10px;">
                                            <input id="data-start" type="text" name="filter[datestart]" placeholder="开始日期" value="{$filter.datestart|default=''}">
                                        </label>
                                        <label class="input col-sm-3 date2" style="padding-left:10px;">
                                            <input id="data-finish" type="text" name="filter[datefinish]" placeholder="截止日期" value="{$filter.datefinish|default=''}">
                                        </label>
                                        <label class="select col-sm-2">
                                            <select name="filter[status]">
                                                <option value="">所有</option>
                                                <foreach name="statuses" item="vo">
                                                    <php>$selected = $filter['status'] == $key ? 'selected':'';</php>
                                                    <option value="{$key}" {$selected}>{$vo}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="col-sm-1">
                                            <button type="submit" class="btn-u"><i class="fa fa-search"></i> </button>
                                        </label>
                                    </section>
                                </fieldset>
                            </form>
                        </notpresent>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>订单号</th>
                            <eq name="is_colorcard" value="0">
                            <th>供应商</th>
                            </eq>
                            <th>购货人</th>
                            <eq name="is_colorcard" value="1">
                            <th>色卡</th>
                            <else/>
                            <th>商品</th>
                            </eq>
                            <th>订单金额</th>
                            <th>下单时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="orders[data]" id="vo">
                            <tr>
                                <td>{$vo.order_id}</td>
                                <td>{$vo.order_sn}</td>
                                <eq name="is_colorcard" value="0">
                                <td>{$vo.supplier_name}</td>
                                </eq>
                                <td>
                                    <eq name="is_colorcard" value="0">
                                    {$vo.user_name}
                                    <else/>
                                    {$vo.buyer_name}
                                    </eq>
                                </td>
                                <td>
                                    <ul class="list-unstyled no-margin">
                                        <foreach name="vo[goods]" item="voo">
                                            <li>[#{$voo.goods_sn}] {$voo.goods_name} × {$voo.goods_number}</li>
                                        </foreach>
                                    </ul>
                                </td>
                                <td>{$vo.order_amount}</td>
                                <td>{:date('Y-m-d H:i:s', $vo['add_time'])}</td>
                                <td>
                                    <in name="vo[order_status]" value="0,1">
                                                <in name="vo[pay_status]" value="0,1">等待买家付款</in>
                                                <eq name="vo[pay_status]" value="2">
                                                    <in name="vo[shipping_status]" value="0,3,4">买家已付款</in>
                                                    <eq name="vo[shipping_status]" value="1">卖家已发货</eq>
                                                    <eq name="vo[shipping_status]" value="2">交易成功</eq>
                                                </eq>
                                            </in>
                                            <in name="vo[order_status]" value="2,3">交易关闭</in>
                                            <eq name="vo[order_status]" value="4">退款中的订单</eq>
                                </td>
                                <td>
                                    <a href="{:U('view', array('id'=>$vo[order_id]))}">查看</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <ul class="pagination">{$orders.page}</ul>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });

        $(function(){
        })
    </script>
</block>