
@media screen and (max-width: 768px) {
 .business-content{
	border:none;
}
}
.order-num {
    padding: 10px 10px 10px 0;
    border-bottom: 2px solid #e6125d;
    margin-bottom:20px;
}
.order-num h3 {
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #333;
}
.order-num .order-actions {
    float:right;
}
.progress-list {
    width: 100%;
    height: 20px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    border-radius: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #424242;
    background-color: #eee;
}

.progress-list .step-active {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #83c44e;
    color: #fff;
}
.progress-list .step-first {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.progress-list .step {
    float: left;
    width: 160px;
    height: 20px;
}
.progress-list .step-done {
    background-color: #e6125d;
    color: #fff;
}
.progress-list .step .info {
    margin-top: 15px;
    color: #757575;
}
.logistics-info .iconfont {
    width:14px;
    height:14px;
    font-weight:bolder;
    border:2px solid #757575;
    border-radius: 14px;
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.user-info {
    margin-bottom:20px;
}
.user-info .info-table td{
    padding-right:10px;
    text-align:left;
    color: #757575;
    font-size: 14px;
    line-height:30px;
}

.total-info {
    float:right;

}
.total-info p {

    font-size:18px;
}
.total-info p span {
    color:#e6125d;
    font-weight:bold;
}