<extend name="Admin:base-v2"/>
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
    <style>

        .modal-body .sky-form {
            border: none;
        }

        .modal-body .sky-form fieldset {
            padding: 0;
        }

        .modal-body .sky-form footer {
            text-align: right;
            padding: 15px;
            margin: 0 -15px;
            padding-bottom: 0;
        }

        .dl-horizontal dt {
            width: 80px
        }

        .dl-horizontal dd {
            margin-left: 100px;
        }

        td.details-control {
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            cursor: pointer;
        }

        tr td.details-control:before {
            content: "\f067";
        }

        tr.shown td.details-control:before {
            content: "\f068";
        }

        .dt-buttons {
            float: left;
        }

        .dataTables_length {
            float: right;
        }
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="margin-bottom-20">
            <p>显示/隐藏字段</p>
            <div class="btn-group toggle-vis" data-toggle="buttons">
                <label class="btn btn-success">
                    <input type="checkbox" autocomplete="off" data-columns="6"> 印刷成本
                </label>
                <label class="btn btn-success active">
                    <input type="checkbox" autocomplete="off" data-columns="7" checked> 拍照单价
                </label>
                <label class="btn btn-success active">
                    <input type="checkbox" autocomplete="off" data-columns="8" checked> 设计单价
                </label>
                <label class="btn btn-success active">
                    <input type="checkbox" autocomplete="off" data-columns="9" checked> 录入单价
                </label>
                <label class="btn btn-success active">
                    <input type="checkbox" autocomplete="off" data-columns="10" checked> 统筹单价
                </label>
                <label class="btn btn-success active">
                    <input type="checkbox" autocomplete="off" data-columns="11" checked> 初次利润率
                </label>
                <label class="btn btn-success active">
                    <input type="checkbox" autocomplete="off" data-columns="13" checked> 二次利润率
                </label>
            </div>
        </div>
        <table id="datatable" class="table table-striped table-bordered">
        </table>
    </div>
    <div class="modal fade" id="editormodal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">编辑</h4>
                </div>
                <div class="modal-body">
                    <form id="editorform" class="sky-form" method="post" action="{:U('post')}">
                        <fieldset>
                            <section>
                                <label class="label">版式</label>
                                <label class="select">
                                    <select name="tpl_id" required>
                                        <foreach name="tpls" item="vo">
                                            <option value="{$vo.tpl_id}">{$vo.tpl_name}</option>
                                        </foreach>
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">产品数量</label>
                                    <label class="input">
                                        <input type="number" min="0" name="tf_qty" required>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">打版价格</label>
                                    <label class="input">
                                        <input type="text" name="pattern_price" required>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">印刷数量</label>
                                    <label class="select">
                                        <select name="print_qty" required>
                                            <foreach name="qty_list" item="vo">
                                                <option value="{$vo}">{$vo}</option>
                                            </foreach>
                                        </select>
                                        <i></i>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">大货印刷单价（元）</label>
                                    <label class="input">
                                        <input type="text" name="big_price" required>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">拍照单价（元/款）</label>
                                    <label class="input">
                                        <input type="text" name="photo_price" value="10" required>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">设计单价（元/款）</label>
                                    <label class="input">
                                        <input type="text" name="design_price" value="50" required>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">录入单价（元/款）</label>
                                    <label class="input">
                                        <input type="text" name="input_price" value="10" required>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">统筹单价（元/款）</label>
                                    <label class="input">
                                        <input type="text" name="overall_price" value="300" required>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">初次利润(%)</label>
                                    <label class="input">
                                        <input type="text" name="init_profit" value="10" required>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">二次利润(%)</label>
                                    <label class="input">
                                        <input type="text" name="next_profit" value="15" required>
                                    </label>
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="label">初次报价（元/本）</label>
                                    <label class="input">
                                        <input type="text" name="init_offer" required>
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="label">二次报价（元/本）</label>
                                    <label class="input">
                                        <input type="text" name="next_offer" required>
                                    </label>
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <button type="button" class="btn-u btn-u-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn-u btn-u-primary">确定</button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/jquery/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
    <script>
        var url = "{:leuu('index')}";
        var table;
        var $form;
        var $modal = $('#editormodal');
        $modal.on('hidden.bs.modal', function(){
            $form.find('[name="id"]').remove('');
            $form.resetForm();
            $form.valid();
        });
        $(function () {
            $form = $('#editorform');
            $form.validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        success: function (response) {
                            if (response.status) {
                                table.ajax.reload();
                                noty({text: response.info, type: 'success'});
                                $modal.modal('hide');
                            } else {
                                noty({text: response.info, type: 'error'});
                            }
                        }
                    });
                }
            });
            $form.find('[name="action"]').on('change', function () {
                if ($aduitform.find('[name="action"]:checked').val() == 2) {
                    $aduitform.find('[name="remark"]').attr('required', 'required').valid();
                } else {
                    $aduitform.find('[name="remark"]').removeAttr('required').valid();
                }
            });
            table = $('#datatable').DataTable({
                dom: "Blfrtip",
                select: true,
                paging: true,
                lengthChange: true,
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //"bProcessing": true,
                //"bServerSide": true,
                "ajax": {
                    "url": url,
                    "dataSrc": "data",//默认为data
                    "type": "post",
                    "error": function () {
                        noty({type: 'error', text: "服务器未正常响应，请重试"});
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columns": [{
                    "className": "details-control",
                    "data": null,
                    "orderable": false,
                    "width": 20,
                    "defaultContent": ""
                }, {
                    "data": "tpl_name",
                    "title": "版式",
                    "defaultContent": ""
                }, {
                    "data": "tf_qty",
                    "title": "产品数量",
                    "defaultContent": ""
                }, {
                    "data": "pattern_price",
                    "title": "打版价格",
                    "defaultContent": "",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '￥')
                }, {
                    "data": "print_qty",
                    "title": "印刷数量",
                    "defaultContent": ""
                }, {
                    "data": "big_price",
                    "title": "大货印刷单价",
                    "defaultContent": "",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '￥')
                }, {
                    "data": null,
                    "title": "印刷成本",
                    "defaultContent": "",
                    "visible": false,
                    "render": function(data, type, row) {
                        return '￥'+(row.big_price * row.print_qty).toFixed(2);
                    }
                }, {
                    "data": "photo_price",
                    "title": "拍照单价",
                    "defaultContent": "",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '￥','/款')
                }, {
                    "data": "design_price",
                    "title": "设计单价",
                    "defaultContent": "",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '￥','/款')
                }, {
                    "data": "input_price",
                    "title": "录入单价",
                    "defaultContent": "",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '￥','/款')
                }, {
                    "data": "overall_price",
                    "title": "统筹单价",
                    "defaultContent": "",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '￥','/款')
                }, {
                    "data": "init_profit",
                    "title": "初次利润",
                    "defaultContent": "",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '','%')
                }, {
                    "data": "init_offer",
                    "title": "初次报价",
                    "defaultContent": "",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '￥','/本')
                },{
                    "data": "next_profit",
                    "title": "二次利润",
                    "defaultContent": "",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '','%')
                }, {
                    "data": "next_offer",
                    "title": "二次报价",
                    "defaultContent": "",
                    "render": $.fn.dataTable.render.number(',', '.', 2, '￥','/本')
                }],
                "order": [[1, 'asc'],[2, 'asc'],[4, 'asc']],
                buttons: [
                    {
                        text: "增加",
                        action: function (e, dt, node, config) {
                            $modal.modal('show');
                        }
                    },
                    {
                        text: "修改",
                        enable: false,
                        init: function (dt, node, config) {
                            var that = this;
                            dt.on('select.dt.DT deselect.dt.DT', function () {
                                that.enable(dt.rows({selected: true}).any());
                            });
                            this.disable();
                        },
                        action: function (e, dt, node, config) {
                            var row = dt.row({selected: true}).data();
                            $input = $('<input type="hidden" name="id">');
                            $form.find('footer').prepend($input);
                            for (x in row) {
                                $form.find('[name="'+x+'"]').val(row[x]);
                            }
                            $modal.modal('show');
                        }
                    }
                ]
            });
            $('.toggle-vis [type="checkbox"]').on('change', function (e) {
                e.preventDefault();
                var column = table.column($(this).data('columns'));
                column.visible(!column.visible());
            });
            $('#datatable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
                row.child().children('td').css('padding', 0);
            });
        });
        function format(d) {
            // `d` is the original data object for the row
            d.big_price = parseFloat(d.big_price);
            d.print_qty = parseInt(d.print_qty);
            d.photo_price = parseFloat(d.photo_price);
            d.design_price = parseFloat(d.design_price);
            d.input_price = parseFloat(d.input_price);
            d.overall_price = parseFloat(d.overall_price);
            d.init_profit = parseFloat(d.init_profit);
            d.next_profit = parseFloat(d.next_profit);
            var print_cost = d.big_price * d.print_qty;
            var init_ori_cost = (print_cost + d.photo_price + d.design_price
                            + d.input_price + d.overall_price).toFixed(2),
                    init_avg_cost = (init_ori_cost / d.print_qty).toFixed(2),
                    init_total_profit = (init_ori_cost * d.init_profit).toFixed(2);
            var next_ori_cost = (print_cost + d.overall_price).toFixed(2),
                    next_avg_cost = (next_ori_cost / d.print_qty).toFixed(2),
                    next_total_profit = (next_ori_cost * d.next_profit).toFixed(2);
            return '<table class="table table-bordered" style="margin-bottom: 0;border:none;">' +
                    '<tr>' +
                    '<th style="width:80px;">印刷成本：</th>' +
                    '<td colspan="2">￥' + print_cost.toFixed(2) + '</td>' +
                    '</tr>' +
                    '<tr><th>拍照成本：</th><td colspan="2">￥' + (d.photo_price * d.tf_qty).toFixed(2)+ '</td></tr>' +
                    '<tr><th>设计成本：</th><td colspan="2">￥' + (d.design_price * d.tf_qty).toFixed(2)+ '</td></tr>' +
                    '<tr><th>录入成本：</th><td colspan="2">￥' + (d.input_price * d.tf_qty).toFixed(2)+ '</td></tr>' +
                    '<tr><th>统筹成本：</th><td colspan="2">￥' + (d.overall_price * d.tf_qty).toFixed(2)+ '</td></tr>' +
                    '<tr>' +
                    '<th></th><th>初次制作</th><th>二次制作</th>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>原始成本：</th><td>￥' + init_ori_cost + '</td><td>￥' + next_ori_cost + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>平均成本：</th><td>￥' + init_avg_cost + '</td><td>￥' + next_avg_cost + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>利润率：</th><td>' + d.init_profit.toFixed(2) + '%</td><td>' + d.next_profit.toFixed(2) + '%</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>利润：</th><td>￥' + init_total_profit + '</td><td>￥' + next_total_profit + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<th>服务报价：</th><td>￥' + d.init_offer + '/本</td><td>￥' + d.next_offer + '/本</td>' +
                    '</tr>' +
                    '</table>';
        }
    </script>
</block>