<volist name="orders[data]" id="vo">
    <div id="order_{$vo.id}" class="orderlist-item margin-bottom-10">
        <div class="item-shop">
            <span class="fa fa-university shop-icon"></span>
             <a href="{:leuu('Supplier/index/single',array('id'=>$vo['supplier_id']))}">{$vo[supplier_name]|msubstr=36}</a>
            <in name="vo[order_status]" value="2,3">
                        <span class="fa fa-trash-o lj-delete js-ajax-btn"
                              data-confirm="true"
                              data-msg="是否要删除订单？"
                              data-id="{$vo.id}"
                              data-href="{:leuu('delete')}"></span>
                <else />
                <span class="fa fa-trash-o lj-delete" style="color:#eee;"></span>
            </in>
            <span class="ordered">

            <eq name="vo[order_status]" value="2">
                已取消
                <else />
            <lt name="vo[pay_status]" value="2">
                未付款
                <else />
                <in name="vo[shipping_status]" value="0,3,4">未发货</in>
                <eq name="vo[shipping_status]" value="1">已发货</eq>
                <eq name="vo[shipping_status]" value="2">已完成</eq>
            </lt>
            </eq>
                    </span>
        </div>
        <a class="item-body" href="{:leuu('view',array('oid'=>$vo[id]))}">
            <php>$goods = $vo['goods'];$sku = $goods['sku'];</php>
            <div class="info-img">
                <img class="img-responsive" src="{:get_thumb_url($sku[thumb],true,150)}">
            </div>
            <div class="info-content">
                <div class="content-text">
                    {$goods[tf_name]}
                </div>
                <p class="goods-spec">
                    <eq name="sku[value_type]" value="1"><span>{$sku[value_text]}</span></eq>
                    <eq name="sku[value_type]" value="2">
                        <span style="display:block;width:30px;height:30px;background:{$sku[value_text]}"></span>
                    </eq>
                    <eq name="sku[value_type]" value="3">
                        <span style="display:block;width:30px;height:30px;"><img src="{$sku[value_text]}" alt=""></span>
                    </eq>
                </p>
                <notempty name="sku[color_code]">
                    <p class="code">编号：{$sku[color_code]}</p>
                </notempty>
                <p class="number">数量：×{$goods[number]}</p>
            </div>
        </a>
        <div class="price">
            <div class="pull-left">
                <span>订单金额：</span>
                <span>¥{$vo.order_amount}</span>
            </div>

            <div class="pull-right text-right" style="width:50%;">
                <present name="show_buttons">
                    <notin name="vo[order_status]" value="2,3,4">
                        <eq name="vo[pay_status]" value="0">
                            <a href="#" class="btn btn-small btn-bordered btn-red js-ajax-btn"
                               data-confirm="true"
                               data-msg="是否要取消订单？"
                               data-id="{$vo.id}"
                               data-href="{:leuu('cancel')}">取消订单</a>
                            <a class="btn btn-small btn-red" href="javascript:void(0)">付款</a>
                        </eq>
                        <eq name="vo[shipping_status]" value="1">
                            <a href="#" class="btn btn-small btn-red js-ajax-btn"
                               data-confirm="true"
                               data-msg="是否要完成订单？"
                               data-id="{$vo.id}"
                               data-href="{:leuu('receive')}">确认收货</a>
                        </eq>
                    </notin>
                </present>
            </div>
        </div>
    </div>
</volist>