<extend name="Public:base" />
<block name="title"><title>色卡订单 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/jquery-steps/css/custom-jquery.steps.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css"></block>
<block name="header">
    <tc_include file="Public:header"/>

    <!--=== Breadcrumbs v4 ===-->
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">购物车</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="index.html">首页</a></li>
                <li><a href="">产品</a></li>
                <li class="active">购物车</li>
            </ul>
        </div><!--/end container-->
    </div>
    <!--=== End Breadcrumbs v4 ===-->
</block>
<block name="main">
    <div class="content-md margin-bottom-30">
        <div class="container">
            <form class="shopping-cart sky-form" action="#">
                <input type="hidden" name="card_id" value="{$card.card_id}">
                <div>
                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>购物车</h2>
                            <p>查看、编辑您的产品</p>
                            <i class="rounded-x fa fa-check"></i>
                        </div>
                    </div>
                    <section>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>价格</th>
                                    <th>数量</th>
                                    <th>总价</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr id="card_{$card.card_id}">
                                    <php>
                                        $price = number_format($card['card_price'],2);
                                        $quantity = 1;
                                        $subtotal = number_format($price * $quantity,2);
                                    </php>
                                    <td class="product-in-table">
                                        <img class="img-responsive" src="{:sp_get_image_preview_url($card[covers][front][bgurl])}" alt="">
                                        <div class="product-it-in">
                                            <span>{$card.card_name}</span>
                                        </div>
                                    </td>
                                    <td class="price" data-price="{$price}">￥ {$price}</td>
                                    <td>
                                        <button type='button' class="quantity-button" name='subtract'
                                                onclick='javascript: subtractQty(-1);' value='-'>-
                                        </button>
                                        <input id='qty' type='number' min="1" class="quantity-field" name='number' value="{$quantity}" />
                                        <button type='button' class="quantity-button" name='add'
                                                onclick='javascript: subtractQty(1);'
                                                value='+'>+
                                        </button>
                                    </td>
                                    <td class="subtotal shop-red">￥ {$subtotal}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>确认订单</h2>
                            <p>填写收货地址</p>
                            <i class="rounded-x fa fa-home"></i>
                        </div>
                    </div>
                    <section class="billing-info">
                        <h2 class="title-type">选择地址</h2>
                        <div class="state-error margin-bottom-40">
                            <div>
                                <foreach name="address[data]" item="vo">
                                    <php>
                                        $checked = $vo['address_id'] == $address['default'] ? 'checked':'';
                                    </php>
                                    <label class="radio">
                                        <input type="radio" name="address_id" value="{$vo.address_id}" {$checked}><i class="rounded-x"></i>
                                        {$vo.province_name}{$vo.city_name}{$vo.district_name}
                                        {$vo.address} {$vo.zipcode} {$vo.consignee} {$vo.mobile}
                                    </label>
                                </foreach>
                            </div>
                        </div>
                        <h2 class="title-type">选择配送方式</h2>
                        <div class="state-error margin-bottom-40">
                            <div class="inline-group">
                                <foreach name="shipping[data]" item="vo">
                                    <php>
                                        $checked = $vo['shipping_code'] == 'EXPRESS' ? 'checked':'';
                                    </php>
                                    <label class="radio">
                                        <input type="radio" name="shipping_id" value="{$vo.shipping_id}" {$checked}><i class="rounded-x"></i>
                                        {$vo.shipping_name}
                                    </label>
                                </foreach>
                            </div>
                        </div>
                        <div class="billing-info-inputs">
                            <h2 class="title-type">附言</h2>
                            <div class="form-group">
                                <textarea class="form-control" type="text" rows="3" name="postscript"
                                          placeholder="给面料馆的留言"></textarea>
                            </div>
                        </div>
                    </section>

                    <div class="header-tags">
                        <div class="overflow-h">
                            <h2>支付</h2>
                            <p>选择支付方式</p>
                            <i class="rounded-x fa fa-credit-card"></i>
                        </div>
                    </div>
                    <section></section>
                    <div class="coupon-code">
                        <div class="row">

                            <div class="col-sm-3 col-sm-offset-9">
                                <ul class="list-inline total-result">
                                    <li>
                                        <h4>总价:</h4>
                                        <div class="total-result-in goods-amount">
                                            <span>￥ {$subtotal}</span>
                                        </div>
                                    </li>
                                    <li>
                                        <h4>运费:</h4>
                                        <div class="total-result-in">
                                            <span class="text-right">- - - -</span>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="total-price">
                                        <h4>合计:</h4>
                                        <div class="total-result-in order-amount">
                                            <span>￥ {$subtotal}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div><!--/end container-->
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/jquery-steps/build/jquery.steps.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
</block>
<block name="js">
    <script>
        jQuery(document).ready(function () {

            var form = $(".shopping-cart");
            form.validate({
                errorPlacement: function errorPlacement(error, element) { element.before(error); },
                rules: {
                    number: {
                        min: 1
                    },
                    address_id: {
                        required: true
                    },
                    shipping_id: {
                        required: true
                    }
                }
            });

            form.children("div").steps({
                headerTag: ".header-tags",
                bodyTag: "section",
                transitionEffect: "fade",
                labels:{
                    cancel: "取消",
                    current: "当前位置:",
                    finish: "提交订单",
                    next: "下一步",
                    previous: "上一步",
                    loading: "加载中 ..."
                },
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Allways allow previous action even if the current form is not valid!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onStepChanged: function(event, currentIndex, priorIndex){
                    var $wizard = $(event.target);
                    if(currentIndex == 1){
                        $wizard.find('.actions ul li').eq(1).hide();
                        $wizard.find('.actions ul li').eq(2).show();
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {
                    var url = "{:leuu('add_post')}";
                    var data = form.serialize();
                    $.post(url,data,function(response){
                        if(response.status){
                            location.href = response.url;
                        }else{
                            noty({type:'error',text:response.info});
                        }
                    })
                }
            });
        });

        function subtractQty(num) {
            var $qty = $('#qty');
            var value = parseInt($qty.val()) + num;
            var price = parseFloat($qty.parents('tr').find('.price').data('price'));
            if(value < 1)
                value = 1;
            $qty.val(value);
            subtotal = (price * value).toFixed(2);
            $qty.parents('tr').find('.subtotal').text('￥ '+ subtotal);
            $('.goods-amount').find('span').text('￥ '+ subtotal);
            $('.order-amount').find('span').text('￥ '+ subtotal);
        }
    </script>
</block>
<block name="iefix">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/u/plugins/respond.js"></script>
    <script src="__PUBLIC__/u/plugins/html5shiv.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</block>