<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">配送方式</a></li>
                <li class="active"><a>修改配送方式</a></li>
                <li><a href="{:U('add')}">添加配送方式</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        <div class="col-md-6">
                            <form role="form" action="{:U('edit_post')}" method="post" class="sky-form">
                                <header>添加配送方式</header>
                                <fieldset>
                                    <section>
                                        <label class="label">名称</label>
                                        <div class="input">
                                            <input type="text" name="shipping_name" value="{$shipping_name}" required>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">代码</label>
                                        <div class="input">
                                            <input type="text" name="shipping_code" value="{$shipping_code}" required>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">描述</label>
                                        <label class="textarea textarea-expandable">
                                            <textarea name="shipping_desc" rows="4">{$shipping_desc}</textarea>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">保价费</label>
                                        <div class="input">
                                            <input type="text" name="insure" value="{$insure}" required>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">是否支持货到付款</label>
                                        <div class="select">
                                            <select name="support_cod">
                                                <option value="0" <eq name="support_cod" value="0">selected</eq>>否</option>
                                                <option value="1" <eq name="support_cod" value="1">selected</eq>>是</option>
                                            </select>
                                            <i></i>
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">启用</label>
                                        <div class="select">
                                            <select name="enabled">
                                                <option value="1" <eq name="enable" value="1">selected</eq>>是</option>
                                                <option value="0" <eq name="enable" value="0">selected</eq>>否</option>
                                            </select>
                                            <i></i>
                                        </div>
                                    </section>
                                </fieldset>
                                <footer>
                                    <input type="hidden" name="shipping_id" value="{$shipping_id}">
                                    <button type="submit" class="btn-u">保存</button>
                                    <a href="{:U('index')}" class="btn-u btn-u-default">返回</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){

            $(".sky-form").validate({
                rules:
                {
                    address_name:
                    {
                        required: 1,
                    },
                    province:
                    {
                        required: 1,
                    },
                    city:
                    {
                        required: 1,
                    },
                    district:
                    {
                        required: 1,
                    },
                    address:
                    {
                        required: 1,
                    },
                    consignee:
                    {
                        required: 1,
                    },
                    mobile:
                    {
                        required: 1,
                        mobile: 1,
                    }
                },
                messages:
                {
                    address_name:
                    {
                        required: "请填写地址名称",
                    },
                    province:
                    {
                        required: "请选择省份",
                    },
                    city:
                    {
                        required: "请选择城市",
                    },
                    district:
                    {
                        required: "请选择区",
                    },
                    address:
                    {
                        required: "请填写详细地址",
                    },
                    consignee:
                    {
                        required: "请填写联系人姓名",
                    },
                    mobile:
                    {
                        required: "请填写联系人手机",
                    }
                }
            });

            getAreas(0,'province',function(){
                var province = '440000';    //广东省
                var city = '440100';        //广州市
                $('[name="province"]').find('[value="'+province+'"]').selected();
                getAreas(province,'city',function(){
                    $('[name="city"]').find('[value="'+city+'"]').selected();
                    getAreas(city,'district')
                });
            });
        });
    </script>
</block>