<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('index')}">配送方式</a></li>
                <li><a href="{:U('add')}">添加配送方式</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>代号</th>
                            <th>保价费用</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list[data]" id="vo">
                            <tr>
                                <td>{$vo.shipping_id}</td>
                                <td>{$vo.shipping_name}</td>
                                <td>{$vo.shipping_code}</td>
                                <td>{$vo.insure}</td>
                                <td>
                                    <php>echo D('Shipping')->statuses[$vo['enabled']];</php>
                                </td>
                                <td>
                                    <a href="{:U('edit', array('id'=>$vo[shipping_id]))}">修改</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <ul class="pagination">{$list.page}</ul>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
        })
    </script>
</block>