<volist name="data[data]" id="vo">
    <li>
        <div class="order-item">
            <div class="order-item-title">
                <span>订单号：{$vo.order_sn}</span>
                <a class="pull-right btn-u btn-u-xs btn-u-red rounded js-ajax-btn"
                   data-confirm="true"
                   data-href="{:U('delete')}"
                   data-id="{$vo.delivery_id}"
                   data-msg="删除发货单后，订单将变为未发货状态！<br>是否要删除？"
                   style="font-size: 14px;padding: 2px 10px;">移除</a>
            </div>
            <div class="order-info clearfix">
                <p>发货单流水号：{$vo.delivery_sn}</p>
                <p>下单时间：{:date('Y-m-d H:i:s', $vo['add_time'])}</p>
                <p>收货人：{$vo.consignee}</p>
                <p>发货时间：{:date('Y-m-d H:i:s', $vo['shipping_time'])}</p>
                <p>发货单状态：{$vo.status_text}
                    <a href="{:U('view', array('id'=>$vo[delivery_id]))}" class="to-view pull-right"
                       style="color: #E6125D;">查看详情</a>
                </p>
                <!--<p>
                    <span class="pull-left">操作人：{$vo.nickname|default=$user_login}</span>
                </p>-->
            </div>
        </div>
    </li>
</volist>