<extend name="Admin:base-v2" />
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <php>$stypes = D('Notify/Msg')->utypes;</php>
                <foreach name="stypes" item="vo">
                    <php>$active = $key == I('get.stype/d',0) ? 'active':'';</php>
                    <li class="{$active}"><a href="{:U('index',array('stype'=>$key))}">{$vo}</a></li>
                </foreach>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>标题</th>
                            <th>发送者</th>
                            <th>接收者</th>
                            <th>发送时间</th>
                            <th>状态</th>
                            <!--<th>操作</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="msgs[data]" id="vo">
                            <tr>
                                <td>{$vo.message_id}</td>
                                <td>{$vo.title}</td>
                                <td>{$vo.sender_name}</td>
                                <td>{$vo.receiver_name}</td>
                                <td>{:date('Y-m-d H:i:s', $vo[sent_time])}</td>
                                <td>
                                    <eq name="vo[readed]" value="1">已读<else />未读</eq>
                                </td>
                                <!--<td>
                                    <a class="actionlog" data-id="{$vo.message_id}" href="javascript:void(0);">发送记录</a>
                                </td>-->
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <ul class="pagination">{$msgs.page}</ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-log-modal-sm" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="logModalLabel" class="modal-title">发送记录</h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $('.actionlog').on('click',function(){
                var $this = $(this);
                $.getJSON('/index.php?g=Notify&m=Admin&a=action_log',{id:$this.data('id')},function(response){
                    data = response.data;
                    $ul = $('<ul class="list-unstyled">');
                    for(x in data){
                        newDate = new Date();
                        newDate.setTime(data[x].log_time * 1000);
                        time = newDate.toLocaleDateString();
                        status = data[x].status ? '发送成功':'发送失败';
                        $li = $('<li>'+data[x].type+' '+time+' '+status+'</li>').appendTo($ul);
                    }
                    $('.bs-log-modal-sm').find('.modal-body').html($ul);
                    $('.bs-log-modal-sm').modal('show');
                })
            })
        })
    </script>
</block>