<extend name="Admin:base-v2" />
<block name="css">
    <link href="__PUBLIC__/u/css/pages/profile.css" rel="stylesheet">
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <php>$stypes = D('Notify/Msg')->utypes;</php>
                <foreach name="stypes" item="vo">
                    <li><a href="{:U('index',array('stype'=>$key))}">{$vo}</a></li>
                </foreach>
                <li class="pull-right active"><a>发送消息</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        <div class="col-sm-6">
                            <form role="form" action="{:U('send_post')}" method="post" class="sky-form">
                                <header>发送消息</header>
                                <fieldset>
                                    <section>
                                        <label class="label">接收人：{$receiver_name}</label>
                                    </section>
                                    <section>
                                        <label class="label">标题：</label>
                                        <label class="input">
                                            <input type="text" name="title" maxlength="20" value="来自管理员的消息！" required>
                                        </label>
                                        <div class="note">不超过20个字</div>
                                    </section>
                                    <section>
                                        <label class="label">内容：</label>
                                        <label class="textarea">
                                            <textarea name="content" rows="3" maxlength="140" required></textarea>
                                        </label>
                                        <div class="note">不超过140个字</div>
                                    </section>
                                </fieldset>
                                <footer>
                                    <input type="hidden" name="receiver_id" value="{$receiver_id}">
                                    <input type="hidden" name="receiver_type" value="{$receiver_type}">
                                    <button type="submit" class="btn-u">发送</button>
                                    <a href="javascript:history.back(-1);" class="btn-u btn-u-default">返回</a>
                                </footer>
                            </form>
                        </div>
                        <div id="msgs" class="col-sm-6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $(".sky-form").validate({
                errorPlacement: function(error, element)
                {
                    error.insertAfter(element.parent());
                },
                submitHandler: function(form) {
                    $(form).ajaxSubmit({
                        success:function(response){
                            if(response.url){
                                    location.href = response.url;
                            }else{
                                if(response.status){
                                    form.reset();
                                    noty({text:response.info,type:'success'});
                                    if(response.html){
                                        $(response.html).appendTo($('#msgs'));
                                    }
                                }else{
                                    noty({text:response.info,type:'error'});
                                }
                            }
                        }
                    });
                }
            });
        });
    </script>
</block>