<div id="msg_{$message_id}" class="alert-blocks alert-blocks-info alert-dismissable">
    <!--<i class="icon-custom rounded-x icon-bg-blue fa fa-bolt"></i>-->
    <div>
        <strong class="color-blue msg-title">
            {$title}
            <small class="pull-right">
                <em>{:date('Y-m-d H:i:s', $sent_time)}</em>
            </small>
        </strong>
        <p class="msg-text">{$message_text}</p>
    </div>
</div>