<extend name="Public:base-v8" />
<block name="title"><title>我的好友</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/pages/profile.css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/my_fabric.css">
    <style>
        ul.funny-boxes-rating li {
            display: inline-block;
        }
        ul.funny-boxes-rating li i {
            color: #f8be2c;
            cursor: pointer;
            font-size: 14px;
        }

        .ucard {margin-bottom:20px;}
        .ucard .btns {display:none;}
        .ucard:hover .btns {display:block;}
        .profile .profile-blog {
            min-height: 200px;
            position: relative;
        }
        .card-footer {
            position: absolute;
            width: 100%;
            padding: 0 20px;
            bottom: 10px;
            left: 0;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">我的好友</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Supplier/Fans/index')}">好友管理</a></li>
                <li class="active">我的好友</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="{:leuu('index')}">我的好友</a></li>
                        <li><a href="{:leuu('orderlist')}">从订单中添加好友</a></li>
                        <li><a href="{:leuu('invite')}">邀请好友</a></li>
                    </ul>
                    <div class="tab-content profile">
                        <div class="row margin-bottom-20">
                            <volist name="fans[data]" id="vo">
                                <div id="fans-{$vo.id}" data-id="{$vo.id}" class="col-sm-6 ucard">
                                    <div class="profile-blog blog-border">
                                        <a href="{:leuu('view', array('id'=>$vo[id]))}">
                                            <img class="rounded-x" src="{:get_avatar_url($vo[avatar])}">
                                        </a>
                                        <div class="name-location pull-left">
                                            <a href="{:leuu('view', array('id'=>$vo[id]))}">
                                                <strong>{$vo.nickname}</strong>
                                            </a>
                                    <ul class="list-unstyled funny-boxes-rating" data-level="{$vo.level}" data-lock="false">
                                        <for start="1" end="$vo[level]+1">
                                            <li data-val="{$i}"><i class="fa fa-star"></i></li>
                                        </for><for start="$vo[level]+1" end="6">
                                            <li data-val="{$i}"><i class="fa fa-star-o"></i></li>
                                        </for>
                                    </ul>
                                            <notempty name="vo[district_name]">
                                                <span><i class="fa fa-map-marker"></i>{$vo.province_name}{$vo.city_name}{$vo.district_name}</span>
                                            </notempty>
                                        </div>
                                        <div class="btns pull-right">
                                            <a href="{:leuu('Sms/Supplier/send',array('uids'=>$vo[user_id]))}"
                                                class="btn-u btn-u-primary btn-u-xs rounded margin-bottom-5">发送消息</a>
                                            <br>
                                            <button type="button" class="btn-u btn-u-default btn-u-xs rounded margin-bottom-5 js-ajax-btn"
                                                    data-confirm="true"
                                                    data-msg="是否要取消删除该好友吗？"
                                                    data-id="{$vo[id]}"
                                                    data-href="{:leuu('delete')}"
                                                    data-success="deleteSuccess">删除好友</button>
                                        </div>
                                        <div class="clearfix margin-bottom-20"></div>
                                        <p>{$vo.desc}</p>
                                        <div class="card-footer">
                                            <hr>
                                            <ul class="list-inline share-list">
                                                <li><i class="fa fa-shopping-cart"></i><a href="#">完成了<strong>{$vo.order_num}</strong>订单</a></li>
                                                <neq name="vo[order_date]" value="0000-00-00 00:00:00">
                                                    <li><i class="fa fa-clock-o"></i>最后下单于{:date('Y-m-d',strtotime($vo['order_date']))}</li>
                                                </neq>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </volist>
                        </div>
                        <notempty name="fans[page]">
                            <div class="text-center md-margin-bottom-30">
                                <ul class="pagination">{$fans['page']}</ul>
                            </div>
                        </notempty>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
    $(function(){
        $('.funny-boxes-rating li').hover(function(){
            if(!$(this).parent().data('lock')){
                setLevel($(this).data('val'), $(this).parent());
            }
        })
        .on('click', function(){
            var $this = $(this);
            var $ul = $this.parent();
            var curLevel = $ul.data('level');
            var level = $this.data('val');

            $ul.data('lock', true);

            if(level != curLevel){
                setLevel(level, $ul);
                var url = "{:leuu('level_post')}";
                var data = {
                    id: $this.parents('.ucard').data('id'),
                    level: level
                }
                $.post(url, data, function(response){
                    if(response.status){
                        $ul.data('level', level);
                        setLevel(level, $ul);
                        noty({type:'success',text:response.info});
                    }else{
                        setLevel(curLevel, $ul);
                    }
                    $ul.data('lock', false);
                })
            }
        })

        $('.funny-boxes-rating').hover(function(){},function(){
            if(!$(this).data('lock')){
                setLevel($(this).data('level'),$(this));
            }
        });

        function setLevel(level, $ul){
            var $cur = $ul.find('li').eq(level-1);
            $cur.find('i').removeClass('fa-star-o').addClass('fa-star');
            $cur.prevAll().find('i').removeClass('fa-star-o').addClass('fa-star');
            $cur.nextAll().find('i').removeClass('fa-star').addClass('fa-star-o');
        }
    })
        function deleteSuccess(response){
            if(response.url){
                location.href = response.url;
            }else{
                if(response.status){
                    $('#fans-'+response.data.id).remove();
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'success'});
                        }else{
                            alert(response.info);
                        }
                    }
                }else{
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'error'});
                        }else{
                            alert(response.info);
                        }
                    }else{
                        response.info = '操作出错！';
                    }
                }
            }
        }
    </script>

</block>