<extend name="Public:base-v8" />
<block name="title"><title>邀请好友</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/my_fabric.css">
    <style>
        .sky-form .label {font-size:14px;}
        .sky-form .label .bigger {
            font-size:16px;
            color:#E6125D;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">邀请好友</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Supplier/Fans/index')}">好友管理</a></li>
                <li class="active">邀请好友</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('index')}">我的好友</a></li>
                        <li><a href="{:leuu('orderlist')}">从订单中添加好友</a></li>
                        <li class="active"><a href="{:leuu('invite')}">邀请好友</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="sky-form" style="border:none;">
                            <fieldset>
                                <section>
                                    <label class="label"><span class="bigger">方式1：</span>以下您的专属邀请链接，请复制后分享给您的好友</label>
                                    <label class="input">
                                        <input type="text" value="{:leuu('Portal/Invite/invitefans',array('code'=>$member[biz_code]),false,true)}" disabled>
                                    </label>
                                </section>
                                <section>
                                    <label class="label"><span class="bigger">方式2：</span>输入<strong>手机号码</strong>来发送邀请，通过逗号、空格或回车键来添加多个。</label>
                                    <label class="textarea">
                                        <textarea id="invite-mobiles" rows="3"></textarea>
                                    </label>
                                    <div>
                                        <button type="button" class="btn-u rounded">发送邀请</button>
                                    </div>
                                </section>
                                <section>
                                    <label class="label"><span class="bigger">方式3：</span>输入<strong>邮箱</strong>来发送邀请，通过逗号、空格或回车键来添加多个。</label>
                                    <label class="textarea">
                                        <textarea id="invite-emails" rows="3"></textarea>
                                    </label>
                                    <div>
                                        <button type="button" class="btn-u rounded">发送邀请</button>
                                    </div>
                                </section>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
</block>