<extend name="Public:base-v8" />
<block name="title"><title>从订单添加好友</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/my_fabric.css">
    <style>
        .table th,td {
            text-align: center;
            vertical-align:middle !important;
        }
        .table th {
            color:#fff;
            background-color: #E6125D;
            margin-bottom: 10px;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">从订单添加好友</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Supplier/Fans/index')}">好友管理</a></li>
                <li class="active">从订单添加好友</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li><a href="{:leuu('index')}">我的好友</a></li>
                        <li class="active"><a href="{:leuu('order_list')}">从订单中添加好友</a></li>
                        <li><a href="{:leuu('invite')}">邀请好友</a></li>
                    </ul>
                    <div class="tab-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>客户</th>
                                <th>购买次数</th>
                                <th>最后购买时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody >
                            <foreach name="fans" item="vo">
                                <tr id="fan-{$vo.user_id}">
                                    <td class="text-left">
                                        <img class="pull-left" style="margin-right:5px;height:40px;width:auto;" src="{:get_thumb_url($vo[avatar], true)}">
                                        {$vo.nickname}
                                    </td>
                                    <td>{$vo.order_num}</td>
                                    <td>{:date('Y-m-d',$vo['order_date'])}</td>
                                    <td> 
                                    <button type="button" class="btn-u btn-u-xs btn-add js-ajax-btn"
                                                data-id="{$vo[user_id]}"
                                                data-href="{:leuu('add_order_fan',array('id'=>$vo[user_id]))}"
                                    data-success="addSuccess">添加好友</button></td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        <!-- Pagination -->
                        <div class="text-center md-margin-bottom-30">
                            <ul class="pagination">
                                {$customers['page']}
                            </ul>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        function addSuccess(response){
            if(response.url){
                location.href = response.url;
            }else{
                if(response.status){
                    var id = response.data.id;
                    $tr = $('#fan-'+id);
                    $btn = $tr.find('.btn-add');
                    $btn.parent().append('<span class="label label-light">已添加</span>');
                    $btn.remove();
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'success'});
                        }else{
                            alert(response.info);
                        }
                    }
                }else{
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'error'});
                        }else{
                            alert(response.info);
                        }
                    }else{
                        response.info = '操作出错！';
                    }
                }
            }
        }
    </script>

</block>