<extend name="Public:base-v8" />
<block name="title"><title>发送消息</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <link rel="stylesheet" href="__TMPL__assets/css/business-center/my_fabric.css">
    <link rel="stylesheet" href="__PUBLIC__/js/select2/css/select2.css">
    <link rel="stylesheet" href="__PUBLIC__/js/select2/css/select2-bootstrap.css">
    <style>
        .sky-form .label {font-size:14px;}
        .sky-form .label .bigger {
            font-size:16px;
            color:#E6125D;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">发送消息</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Supplier/Fans/index')}">好友管理</a></li>
                <li class="active">发送消息</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0);">发送消息</a></li>
                    </ul>
                    <div class="tab-content">
                        <form class="sky-form" style="border:none;" method="POST" action="{:leuu('send_sms_post')}">
                            <fieldset>
                                <section>
                                    <label class="select">
                                        <select class="select2" multiple>
                                            <option value="{$id}" selected>{$userinfo.nickname}</option>
                                            <foreach name="fans_list" item="vo">
                                                <php>if ($vo['id'] == $id) continue;</php>
                                                <option value="{$vo.id}">{$vo.nickname}</option>
                                            </foreach>
                                        </select>
                                    </label>
                                    <label class="textarea">
                                        <textarea name="content" rows="3"></textarea>
                                    </label>
                                </section>
                                <section>
                                    <label class="radio">
                                        <input type="radio" name="send_type" value="1" checked><i></i>发送面料
                                    </label>
                                    <label class="select">
                                        <select class="select2"></select>
                                    </label>
                                </section>
                                <section>
                                    <label class="radio">
                                        <input type="radio" name="send_type" value="2"><i></i>发送色卡
                                    </label>
                                    <label class="select">
                                        <select class="select2"></select>
                                    </label>
                                </section>
                                <section>
                                    <button type="button" class="btn-u rounded">发送</button>
                                    <a href="history.back(-1);" class="btn-u rounded btn-u-default">返回</a>
                                </section>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/js/select2/js/select2.js"></script>
</block>
<block name="js">
    <script>
    $(function(){
        $(".select2").select2({
            theme: "bootstrap",
            closeOnSelect: false
        });
    })
    </script>
</block>