<extend name="Public:base-v8" />
<block name="title"><title>{$comment} {$nickname} 我的好友 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .sky-form section {
            margin-bottom: 10px!important;
        }
        .sky-form .label {text-align: right;}

        ul.funny-boxes-rating li {
            display: inline-block;
        }
        ul.funny-boxes-rating li i {
            color: #f8be2c;
            cursor: pointer;
            font-size: 14px;
        }
        #fans-form .avatar {
            width:100px;
            height:100px;
            border-radius:50%;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">{$nickname|default=$userinfo[nickname]}</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Supplier/Fans/index')}">好友管理</a></li>
                <li class="active">{$nickname|default=$userinfo[nickname]}</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0);">{$nickname|default=$userinfo[nickname]}</a></li>
                        <li><a href="javascript:history.back(-1);">返回我的好友</a></li>
                        <li class="pull-right"><a href="{:leuu('Sms/Supplier/send',array('uids'=>$user_id))}">发送消息</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="profile" class="profile-edit">
                            <form id="fans-form" class="sky-form" action="{:leuu('info_post')}"
                                  method="post" style="border:none;">
                                <fieldset>
                                    <section class="row">
                                        <div class="col-sm-offset-2 col-md-6 col-sm-8">
                                            <img class="avatar img-responsive" src="{:get_avatar_url($userinfo[avatar])}">
                                        </div>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">备注名称</label>
                                        <label class="input col-md-3">
                                            <input type="text" name="comment" value="{$comment}">
                                        </label>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">等级</label>
                                        <div class="col-md-6 col-sm-8">
                                            <div class="rating pull-left">
                                                <for start="5" end="1" comparison="egt" step="-1">
                                                    <php>$checked = $i == $level ? 'checked':'';</php>
                                                    <input type="radio" name="level" value="{$i}" id="quality-{$i}" {$checked}>
                                                    <label for="quality-{$i}"><i class="fa fa-star"></i></label>
                                                </for>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">昵称</label>
                                        <p class="col-md-6 col-sm-8">{$nickname|default=$userinfo[nickname]}</p>
                                    </section>
                                    <section class="row">
                                        <php>$sexes = array('保密', '男', '女');</php>
                                        <label class="label col-md-2 col-sm-2">性别</label>
                                        <p class="col-md-6 col-sm-8">{$sexes[$userinfo[sex]]}</p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">生日</label>
                                        <p class="col-md-6 col-sm-8">
                                            <php>$timestamp = strtotime($userinfo['birthday']);</php>
                                            <notempty name="timestamp">
                                            {$userinfo[birthday]}
                                            </notempty>
                                            </p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">地区</label>
                                        <p class="col-md-6 col-sm-8">
                                            {$userinfo.province_name}
                                            {$userinfo.city_name}
                                            {$userinfo.district_name}
                                        </p>
                                    </section>
                                    <eq name="userinfo[ispublic]" value="1">
                                        <section class="row">
                                            <label class="label col-md-2 col-sm-2">地址</label>
                                            <p class="col-md-6 col-sm-8">{$userinfo.address}</p>
                                        </section>
                                        <section class="row">
                                            <label class="label col-md-2 col-sm-2">手机</label>
                                            <p class="col-md-6 col-sm-8">{$userinfo.mobile}</p>
                                        </section>
                                        <section class="row">
                                            <label class="label col-md-2 col-sm-2">邮箱</label>
                                            <p class="col-md-6 col-sm-8">{$userinfo.email}</p>
                                        </section>
                                        <section class="row">
                                            <label class="label col-md-2 col-sm-2">固话</label>
                                            <p class="col-md-6 col-sm-8">{$userinfo.tel}</p>
                                        </section>
                                        <section class="row">
                                            <label class="label col-md-2 col-sm-2">QQ</label>
                                            <p class="col-md-6 col-sm-8">{$userinfo.qq}</p>
                                        </section>
                                    </eq>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">个人介绍</label>
                                        <p class="col-md-6 col-sm-8">{$userinfo.desc}</p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">下单数量</label>
                                        <p class="col-md-6 col-sm-8">{$order_num}</p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">最后下单时间</label>
                                            <php>$timestamp = strtotime($order_date);</php>
                                        <p class="col-md-6 col-sm-8">
                                            <notempty name="timestamp">
                                            {:date('Y-m-d H:i:s',strtotime($order_date))}
                                            </notempty>
                                        </p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">最后收藏时间</label>
                                            <php>$timestamp = strtotime($favorite_date);</php>
                                        <p class="col-md-6 col-sm-8">
                                            <notempty name="timestamp">
                                            {:date('Y-m-d H:i:s',strtotime($favorite_date))}
                                            </notempty>
                                        </p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">最后浏览时间</label>
                                            <php>$timestamp = strtotime($brower_date);</php>
                                        <p class="col-md-6 col-sm-8">
                                            <notempty name="timestamp">
                                            {:date('Y-m-d H:i:s',strtotime($brower_date))}
                                            </notempty>
                                        </p>
                                    </section>
                                    <section class="row">
                                        <label class="label col-md-2 col-sm-2">成为好友日期</label>
                                        <p class="col-md-6 col-sm-8">{:date('Y-m-d',strtotime($create_time))}</p>
                                    </section>
                                </fieldset>
                                <footer>
                                    <div class="col-sm-offset-1">
                                        <input type="hidden" name="id" value="{$id}">
                                        <button type="submit" class="btn-u rounded">保存</button>
                                        <button type="button" class="btn-u btn-u-default rounded js-ajax-btn"
                                                data-confirm="true"
                                                data-msg="是否要取消删除该好友吗？"
                                                data-id="{$id}"
                                                data-href="{:leuu('delete')}"
                                                data-success="deleteSuccess">删除好友</button>
                                    </div>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('#fans-form').validate();
        });

        function deleteSuccess(response){
            if(response.url){
                location.href = response.url;
            }else{
                if(response.status){
                    location.href = "{:leuu('index')}";
                }else{
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'error'});
                        }else{
                            alert(response.info);
                        }
                    }else{
                        response.info = '操作出错！';
                    }
                }
            }
        }
    </script>
</block>