<extend name="Public:base-member" />
<block name="title"><title>我的订单 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <style>
        .table th {
            text-align: center;
            vertical-align:middle !important;
        }
        .table th {
            color:#fff;
            background-color: #E6125D;
            margin-bottom: 10px;
        }
    </style>
</block>
<block name="main">
    <form class="sky-form" method="get" action="{:U('index')}" style="margin-bottom:30px!important;border: 1px solid #eee;">
        <header>筛选</header>
        <fieldset>
            <section class="row">
                <label class="label col col-1 no-padding">订单状态</label>
                <div class="inline-group col col-11">
                    <foreach name="order_statuses" item="vo">
                        <php>$checked = isset($filter) ? (in_array($key, $filter['order_status']) ? 'checked':''):'checked';</php>
                        <label class="checkbox"><input type="checkbox" name="filter[order_status][]" value="{$key}" {$checked}><i></i>{$vo}</label>
                    </foreach>
                </div>
            </section>
            <section class="row">
                <label class="label col col-1 no-padding">支付状态</label>
                <div class="inline-group col col-11">
                    <foreach name="pay_statuses" item="vo">
                        <php>$checked = isset($filter) ? (in_array($key, $filter['pay_status']) ? 'checked':''):'checked';</php>
                        <label class="checkbox"><input type="checkbox" name="filter[pay_status][]" value="{$key}" {$checked}><i></i>{$vo}</label>
                    </foreach>
                </div>
            </section>
            <section class="row">
                <label class="label col col-1 no-padding">配送状态</label>
                <div class="inline-group col col-11">
                    <foreach name="shipping_statuses" item="vo">
                        <php>$checked = isset($filter) ? (in_array($key, $filter['shipping_status']) ? 'checked':''):'checked';</php>
                        <label class="checkbox"><input type="checkbox" name="filter[shipping_status][]" value="{$key}" {$checked}><i></i>{$vo}</label>
                    </foreach>
                </div>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn-u">筛选</button>
            <a class="btn-u btn-u-default" href="{:U('index')}">重置</a>
        </footer>
    </form>
    <table class="table">
        <thead>
        <tr >
            <th>宝贝</th>
            <th>单价</th>
            <th>数量</th>
            <th>总价</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <volist name="orders[data]" id="vo">
            <tbody>
            <tr>
                <td></td>
            </tr>
            <tr class="table-bordered" style="background-color:#F5F5F5;" >
                <td><label>{:date('Y-m-d H:i:s', $vo[add_time])}</label>&nbsp;&nbsp;<span>订单号:<a href="{:leuu('view',array('id'=>$vo[order_id]))}">{$vo.order_sn}</a></span><span></span></td>
                <td></td>
                <td colspan="4"></td>
            </tr>
            </tbody>
            <tbody class="table-bordered">
            <volist name="vo[goods]" id="goods">
                <php>
                    $img = D('Tf/Tf')->where(array('id'=>$goods['goods_id']))->getField('img');
                    $img = json_decode($img, true);
                </php>
                <tr >
                    <td>
                        <div class="product">
                            <a class="product-photo pull-left" href="{:leuu('Tf/Tf/fabric',array('id'=>$goods[goods_id]))}">
                                <img src="{:sp_get_image_preview_url($img[thumb])}" style="width:80px;">
                            </a>
                            <div class="pull-left" style="margin-left:10px;">
                                <a href="{:leuu('Tf/Tf/fabric',array('id'=>$goods[goods_id]))}">{$goods[goods_name]}</a>
                            </div>
                        </div>
                    </td>
                    <td align="center">￥{$goods[goods_price]}</td>
                    <td align="center">{$goods[goods_number]}</td>
                    <eq name="i" value="1">
                        <php>
                            $count = count($vo['goods']);
                        </php>
                        <td align="center" class="table-bordered" rowspan="{$count}"><span style="font-weight:bold;">￥{$vo.order_amount}</span></td>
                        <td align="center" class="table-bordered" rowspan="{$count}">
                                            <span style="display: block">
                                                {$order_statuses[$vo[order_status]]}<br>
                                                {$pay_statuses[$vo[pay_status]]}<br>
                                                {$shipping_statuses[$vo[shipping_status]]}
                                            </span>
                        </td>
                        <td align="center" class="table-bordered" rowspan="{$count}">
                            <a href="{:leuu('view',array('id'=>$vo[order_id]))}" class="btn btn-block btn-info btn-xs">订单详情</a>
                            <notin name="vo[order_status]" value="2,3,4">
                                <eq name="vo[pay_status]" value="0">
                                    <a href="{:leuu('Wx/Pay/order',array('id'=>$vo[order_id]))}" class="btn btn-block btn-default btn-xs">立即付款</a>
                                    <button type="button" class="btn btn-block btn-default btn-xs js-ajax-btn"
                                            data-confirm="true"
                                            data-msg="是否要取消订单？"
                                            data-id="{$vo[order_id]}"
                                            data-href="{:leuu('cancel')}">取消订单</button>
                                </eq>
                            </notin>
                            <!--<a href="javascript:;" class="btn btn-block btn-success btn-xs">确认收货</a>
                            <a href="javascript:;" class="btn btn-block btn-danger btn-xs">删除</a>-->
                        </td>
                    </eq>
                </tr>
            </volist>
            </tbody>
        </volist>
    </table>
    <ul class="pagination">{$orders.page}</ul>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js"></block>