<extend name="Public:base-member" />
<block name="title"><title>订单详情 {$site_name}</title></block>
<block name="main">
    <!--Invoice Header-->
    <div class="row invoice-header">
        <div class="col-xs-6">
            <h2 class="pull-left">订单详情</h2>
        </div>
        <div class="col-xs-6 invoice-numb">
            #{$order_sn} / {:date('Y-m-d H:i:s', $add_time)}
        </div>
    </div>
    <!--End Invoice Header-->

    <!--Invoice Detials-->
    <div class="row invoice-info">
        <div class="col-xs-6">
            <div class="tag-box tag-box-v3">
                <h2>基本信息：</h2>
                <ul class="list-unstyled">
                    <li><strong>购货方：</strong> {$member['long_name']}</li>
                    <li><strong>订单状态：</strong> {$order_statuses[$order_status]}</li>
                    <li><strong>支付状态：</strong> {$pay_statuses[$pay_status]}</li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="tag-box tag-box-v3">
                <h2>配送信息：</h2>
                <ul class="list-unstyled">
                    <li><strong>配送方式：</strong> {$shipping_name}</li>
                    <li><strong>配送状态：</strong> {$shipping_statuses[$shipping_status]}</li>
                    <li><strong>物流单号：</strong> {$invoice_no|default='---'}</li>
                </ul>
            </div>
        </div>
    </div>
    <!--End Invoice Detials-->

    <!--Invoice Table-->
    <div class="panel panel-default margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title">订单清单</h3>
        </div>
        <notempty name="postscript">
            <div class="panel-body">
                <p>{$postscript}</p>
            </div>
        </notempty>
        <table class="table table-striped invoice-table">
            <thead>
            <tr>
                <th>商品</th>
                <th>单价</th>
                <th>数量</th>
                <th>小计</th>
            </tr>
            </thead>
            <tbody>
            <foreach name="goods" item="vo">
                <tr>
                    <td>{$vo.goods_name}</td>
                    <td>{$vo.goods_price}</td>
                    <td>{$vo.goods_number}</td>
                    <td>{$vo[goods_price] * $vo[goods_number]}</td>
                </tr>
            </foreach>
            </tbody>
        </table>
    </div>
    <!--End Invoice Table-->

    <!--Invoice Footer-->
    <div class="row">
        <div class="col-xs-6">
            <div class="tag-box tag-box-v3 no-margin-bottom">
                <address class="no-margin-bottom">
                    {$province_name}{$city_name}{$district_name} <br>
                    {$address} <notempty name="zipcode">{$zipcode} </notempty><br>
                    联系人： {$consignee} <br>
                    手机： {$mobile} <br>
                    <notempty name="tel">固话：{$tel} <br></notempty>
                    <notempty name="email">邮箱：<a href="mailto:{$email}">{$email}</a> <br></notempty>
                </address>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <ul class="list-unstyled invoice-total-info">
                <li><strong>商品总额：</strong> ￥ {$goods_amount}</li>
                <li><strong>折扣：</strong> ----</li>
                <li><strong>运费：</strong> ----</li>
                <li><strong>订单金额：</strong> ￥ {$order_amount}</li>
            </ul>
            <notin name="order_status" value="2,3,4">
                <eq name="pay_status" value="0">
                    <a class="btn-u btn-u-primary" href="{:leuu('Wx/Pay/order', array('id'=>$order_id))}">付款</a>
                    <button type="button" class="btn-u btn-u-primary js-ajax-btn"
                            data-confirm="true"
                            data-msg="是否要取消订单？"
                            data-id="{$order_id}"
                            data-href="{:leuu('cancel')}">取消订单</button>
                </eq>
                <eq name="shipping_status" value="1">
                    <button type="button" class="btn-u btn-u-primary js-ajax-btn"
                            data-confirm="true"
                            data-msg="是否要完成订单？"
                            data-id="{$order_id}"
                            data-href="{:leuu('receive')}">确认收货</button>
                </eq>
            </notin>
            <a class="btn-u btn-u-default" href="{:U('index')}">返回</a>
        </div>
    </div>
    <!--End Invoice Footer-->
</block>
<block name="js">
</block>