<admintpl file="header" />
<style>
.file-upload-btn-wrapper {
    margin-bottom: 10px;
}

.file-upload-btn-wrapper .num {
    color: #999999;
    float: right;
    margin-top: 5px;
}

.file-upload-btn-wrapper .num em {
    color: #FF5500;
    font-style: normal;
}

.files-wrapper {
    border: 1px solid #CCCCCC;
}

.files-wrapper ul {
    height: 280px;
    overflow-y: scroll;
    padding-bottom: 10px;
    position: relative;
    margin: 0;
}

.files-wrapper li {
    display: inline;
    float: left;
    height: 100px;
    margin: 10px 0 0 10px;
    width: 100px;
    position: relative;
    border:1px solid #CCCCCC;
}

.files-wrapper li.selected {
    border: 1px solid #fe781e;
}
.files-wrapper li .upload-percent{
    width: 100%;
    height:100%;
    line-height: 100px;
    text-align: center;
}

.files-wrapper li .selected-icon-wrapper{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    font-size: 16px;
    text-align:center;
    line-height:20px;
    color:#fe781e;
    display: none;
}
.files-wrapper li.selected .selected-icon-wrapper{
    display: block;
}
.files-wrapper li img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
#files-container-history li {
    cursor: pointer;
}
</style>
<script>
    function get_selected_files(){
        var tab = $("#uploader-tabs li.active").data('tab');
        var files= [];
        if(tab=='upload-file'){
            var $files=$('#files-container li.uploaded.selected');
            if($files.length==0){
                alert('请上传文件！');
                return false;
            }
            $files.each(function(){
                var $this=$(this);
                var url = $this.data('url');
                var preview_url = $this.data('preview_url');
                var filepath = $this.data('filepath');
                var name = $this.data('name');
                var id = $this.data('id');
                files.push({url:url,preview_url:preview_url,filepath:filepath,name:name,id:id});
            });
        }
        if(tab=='network-file'){
            var url=$('#network-file-input').val();
            if(url==''){
                alert('请填写文件地址！');
                return false;
            }
            var id = "networkfile"+new Date().getTime();
            files.push({url:url,preview_url:url,filepath:url,id:id});
        }
        if(tab == 'history-file'){
            if($('#files-container-history li.selected').length == 0){
                alert('请选择图片！');
                return false;
            }
            var id = "historyfile"+new Date().getTime(),
                url = $('#files-container-history li.selected').find('img').attr('src');
                files.push({url:url,preview_url:url,filepath:url,id:id});    
                console.log(files);
            }
        return files;    
    }
</script>
</head>
<body>
    <div class="wrap" style="padding: 5px;">
        <ul class="nav nav-tabs" id="uploader-tabs">
            <li class="active" data-tab="upload-file"><a href="#upload-file-tab" data-toggle="tab">上传文件</a></li>
            <li data-tab="network-file"><a href="#network-file-tab" data-toggle="tab">网络文件</a></li>
            <li data-tab="history-file"><a href="#history-file-tab" data-toggle="tab" class="history">已上传文件</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="upload-file-tab">
                <div class="file-upload-btn-wrapper">
                    <!--选择按钮-->
                    <a class="btn btn-primary" id="select-files">
                        选择文件
                    </a>
                    <span class="num">
                        <empty name="multi">
                            最多上传<em>1</em>个附件,
                        </empty>
                        单文件最大<em>{$upload_max_filesize_mb}MB</em>,
                        <em style="cursor: help;" title="可上传格式：{$extensions}" data-toggle="tooltip">支持格式？</em>
                    </span>
                </div>
                <div class="files-wrapper">
                    <ul id="files-container">
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="network-file-tab">
                请输入网络地址<br>
                <input type="text" name="info[filename]" style="width: 600px;" placeholder="http://" id="network-file-input">
            </div>
            <div class="tab-pane" id="history-file-tab">
                <div class="files-wrapper">
                    <ul id="files-container-history">
                        <div class="k" style="width:100%;height:1px;clear:both;"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var multi={$multi};
        var page = 0;
        var listEnd = false;
        var isLoadingData = false;
        var listIndex = 0;
        var listSize = 20;
        Wind.use('plupload',function(){
            var uploader = new plupload.Uploader({
                runtimes : 'html5,flash,silverlight,html4',
                browse_button : 'select-files', // you can pass an id...
                container: document.getElementById('files-container'), // ... or DOM Element itself
                url : "{:U('asset/asset/plupload')}",
                flash_swf_url : '../js/Moxie.swf',
                silverlight_xap_url : '../js/Moxie.xap',
                filters : {
                    max_file_size : '{$upload_max_filesize_mb}mb',
                    mime_types: [{$mime_type}]
                },
                multi_selection:{$multi},
                multipart_params:{
                    app:'{$app}'
                },
                init: {
                    PostInit: function() {
                    },

                    FilesAdded: function(up, files) {
                        plupload.each(files, function(file) {
                            var $newfile=$('\
                                    <li class="selected">\
                                        <div class="selected-icon-wrapper"><i class="fa fa-check-circle"></i></div>\
                                        <div class="upload-percent">0%</div>\
                                    </li>');
                            $newfile.attr('id',file.id);
                            $('#files-container').append($newfile);
                            $newfile.on('click',function(){
                                var $this=$(this);
                                $this.toggleClass('selected');
                            });
                        });
                        uploader.start();
                    },

                    UploadProgress: function(up, file) {
                        $('#'+file.id).find('.upload-percent').text(file.percent+"%");
                    },
                    
                    FileUploaded: function(up, file, response) {
                        var data = JSON.parse(response.response);
                        if(data.status==1){
                            if(!multi) {
                                $('#select-files').css('visibility','hidden');
                            }
                            var $img=$('<img/>');
                            $img.attr('src',data.url);
                            $('#'+file.id).addClass('uploaded')
                            .data('id',file.id)
                            .data('url',data.url)
                            .data('preview_url',data.preview_url)
                            .data('filepath',data.filepath)
                            .data('name',data.name)
                            .find('.upload-percent')
                            .html($img);
                        }else{
                            alert(data.message);
                            $('#'+file.id).remove();
                        }
                    },
                    
                    Error: function(up, err) {
                    }
                }
            });

            uploader.init();
            
        });
        $('.history').on('click',function(){    
            if($('#history-file-tab ul li').length == 0){
                get_list();
            }
        });
        //拉取图片
        function get_list(){
            if(!listEnd && !isLoadingData) {
                isLoadingData = true;
                var url = "{:U('Asset/Ueditor/upload',array('action'=>'listimage'))}";
                $.ajax({
                     type: "GET",
                     url: url,
                     dataType: "json",
                     timeout : 10000,
                      data: {
                            start:listIndex,
                            size: listSize
                        },
                    success: function (json) {
                        try {
                            if (json.state == 'SUCCESS') {
                                show_img(json.list);
                                listIndex = parseInt(json.start) + parseInt(json.list.length);
                                if(listIndex >= json.total) {
                                    listEnd = true;
                                }
                                isLoadingData = false;
                            }
                        } catch (e) {
                            if(json.indexOf('ue_separate_ue') != -1) {
                                var list = json.split(r.responseText);
                                listIndex = parseInt(list.length);
                                listEnd = true;
                                isLoadingData = false;
                            }
                        }
                    },
                    error: function () {
                        isLoadingData = false;
                    }
                });
            }
        }
        //显示图片
        function show_img(list){
            var str = '';
                for (i = 0; i < list.length; i++) {
                    if(list[i] && list[i].url) {
                        str = str + '<li class="uploaded">'                                        
                                  + '<div class="selected-icon-wrapper">'
                                  + '<i class="fa fa-check-circle"></i></div>'
                                  + '<div class="upload-percent">'
                                  + '<img src="' + list[i].url + '"></div></li>';

                    }
                }
                $('#history-file-tab ul .k').before(str);        
        }
        //滚动
        $('#files-container-history').on('scroll', function(e){
              var scrollTop = $(this).scrollTop() + $(this).outerHeight(true);
              if(scrollTop >= $(this).find('.k').offset().top){
                  get_list();
              } 
         });
        //选择
        $('#files-container-history').on('click','li',function(){
            $(this).addClass('selected').siblings().removeClass('selected');
        });
    </script>
</body>
</html>