<extend name="Admin:base-v2" />
<block name="css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
        .panel.sky-form {border-color:#ddd;}
        .panel select[multiple] {min-height:120px;}
        #sku_tb .parent .two {background-color:#D0D0C8;}
        #sku_tb .parent.has-child .two {background-color:transparent;}
        #sku_tb .sku-img {display:none;}
        #sku_tb input[type="color"] {
            width: 120px;
            border: none;
            padding: 0;
            margin: 0;
            background: transparent;
            display: block;
            height: 32px;
        }
        #qrcode img {max-width:160px;margin:20px auto;}
    </style>
    <script type="text/html" id="photos-item-wrapper">
        <div id="savedimage{id}" class="col-sm-4 col-md-3">
            <a href="{url}" rel="gallery2" class="fancybox img-hover-v1">
                <span><img id="photo-{id}-preview" class="img-responsive" src="{url}" alt=""></span>
            </a>
            <button type="button" class="btn-u btn-u-xs"
                    onclick="javascript:upload_one_image('图片上传','#photo-{id}');">
                <i class="rounded-x fa fa-edit"></i>
            </button>
            <button type="button" class="btn-u btn-u-xs"
                    onclick="javascript:$('#savedimage{id}').remove();">
                <i class="rounded-x fa fa-trash-o"></i>
            </button>
            <input id="photo-{id}" type="hidden" name="photos_url[]" value="{filepath}">
            <input id="photo-{id}-name" type="hidden" name="photos_alt[]" value="{name}">
        </div>
    </script>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">面料库</a></li>
                <li class="active"><a>修改面料</a></li>
            </ul>
            <div class="tab-content">
            <form class="sky-form" method="post" action="{:U('edit_post')}"
            style="border:none;">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default basic-info margin-bottom-10">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-edit"></i> 基本信息</h3>
                            </div>
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>面料商：</th>
                                    <td colspan="3">{$data.supplier.biz_name}</td>
                                </tr>
                                <tr>
                                    <th style="width:15%;">所属分类</th>
                                    <td style="width:35%;">{$data.cat.title}</td>
                                    <th style="width:15%;">编码名称</th>
                                    <td style="width:35%;">{$data.tfname.cname}</td>
                                </tr>
                                <tr>
                                    <th>品名：</th>
                                    <td colspan="2">
                                        <label class="input">
                                            <input type="text"  name="name" required value="{$data.name}" placeholder="请输入品名">
                                        </label>
                                    </td>
                                    <td rowspan="3">
                                        <div id="qrcode"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>编码：</th>
                                    <td colspan="2">
                                        <label class="label pull-left" style="line-height:27px;font-size:14px;color:#333;">
                                            {$data.vend_id}-{$data.cat_code}-{$data.name_code}-
                                        </label>
                                        <label class="input pull-left">
                                            <input type="text" id="code" name="code" value="{$data.code}" required placeholder="请输入商家自编号" aria-required="true">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>最小拼单数量：</th>
                                    <td colspan=2>
                                        <div class="input-group">
                                            <input type="number" class="form-control" name="min_charge" value="{$data.min_charge}">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>私密面料：</th>
                                    <td colspan="1">
                                        <div class="inline-group">
                                            <label class="radio">
                                                <input type="radio" name="ispublic" value="1" <eq name="data[ispublic]" value="1">checked</eq>>
                                                <i class="rounded-x"></i>否
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="ispublic" value="0" <eq name="data[ispublic]" value="0">checked</eq>>
                                                <i class="rounded-x"></i>是
                                            </label>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="rating">
                                            <input type="radio" name="fans_level" value="5" id="overall-5" <eq name="data[fans_level]" value="5">checked</eq>>
                                            <label for="overall-5"><i class="fa fa-star"></i></label>
                                            <input type="radio" name="fans_level" value="4" id="overall-4" <eq name="data[fans_level]" value="4">checked</eq>>
                                            <label for="overall-4"><i class="fa fa-star"></i></label>
                                            <input type="radio" name="fans_level" value="3" id="overall-3" <eq name="data[fans_level]" value="3">checked</eq>>
                                            <label for="overall-3"><i class="fa fa-star"></i></label>
                                            <input type="radio" name="fans_level" value="2" id="overall-2" <eq name="data[fans_level]" value="2">checked</eq>>
                                            <label for="overall-2"><i class="fa fa-star"></i></label>
                                            <input type="radio" name="fans_level" value="1" id="overall-1" <eq name="data[fans_level]" value="1">checked</eq>>
                                            <label for="overall-1"><i class="fa fa-star"></i></label>
                                            私密等级
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>主图</th>
                                    <td colspan="3">
                                        <input type="hidden" name="smeta[thumb]" id="thumb" value="{$smeta[thumb]|default=''}">
                                        <a href="javascript:upload_one_image('图片上传','#thumb');">
                                            <if condition="empty($smeta[thumb])">
                                                <img src="__TMPL__Public/assets/images/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand"/>
                                                <else />
                                                <img src="{:sp_get_image_preview_url($smeta[thumb])}" id="thumb-preview" width="135" style="cursor: hand"/>
                                            </if>
                                        </a>
                                        <input type="button" class="btn-u btn-u-default" onclick="$('#thumb-preview').attr('src','__TMPL__Public/assets/images/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">

                                    </td>
                                </tr>
                                <tr>
                                    <th>相册图集</th>
                                    <td colspan="3">
                                        <div id="photos" class="row">
                                            <notempty name="smeta['photo']">
                                                <foreach name="smeta['photo']" item="vo">
                                                    <php>$img_url=sp_get_image_preview_url($vo['url']);</php>
                                                    <div id="savedimage{$key}" class="col-sm-3 col-md-2">
                                                        <a href="{$img_url}" rel="gallery2" class="fancybox img-hover-v1">
                                                            <span><img id="photo-{$key}-preview" class="img-responsive" src="{$img_url}" alt=""></span>
                                                        </a>
                                                        <button type="button" class="btn-u btn-u-xs"
                                                                onclick="javascript:upload_one_image('图片上传','#photo-{$key}');">
                                                            <i class="rounded-x fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" class="btn-u btn-u-xs"
                                                                onclick="javascript:$('#savedimage{$key}').remove();">
                                                            <i class="rounded-x fa fa-trash-o"></i>
                                                        </button>
                                                        <input id="photo-{$key}" type="hidden" name="photos_url[]" value="{$img_url}">
                                                        <input id="photo-{$key}-name" type="hidden" name="photos_alt[]" value="{$vo.alt}">
                                                    </div>
                                                </foreach>
                                            </notempty>
                                        </div>
                                        <a href="javascript:upload_multi_image('图片上传','#photos','photos-item-wrapper');" class="btn-u btn-u-default">选择图片</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>多样性分类</th>
                                    <td colspan="3">
                                        <section>
                                            <label class="select">
                                                <select name="term[]" class="select2" multiple data-close-on-select="false"
                                                data-placeholder="选择面料多样性分类">
                                                    <foreach name="tf_terms" item="vo">
                                                        <option value="{$vo.tf_term_id}" <in name="vo.tf_term_id" value="$rids">selected</in>>{$vo.name}</option>
                                                    </foreach>
                                                </select>
                                            </label>
                                        </section>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel panel-default margin-bottom-20">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-edit"></i> 详情</h3>
                            </div>
                            <script type="text/plain" id="content" name="describe">{$data.describe}</script>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default margin-bottom-10">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-edit"></i> 主要属性</h3>
                            </div>
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th style="width:80px;">规格：</th>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="spec" value="{$data.spec}">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>门幅：</th>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="width" value="{$data.width}">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>克重：</th>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="weight" value="{$data.weight}">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>原料：</th>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="material" value="{$data.material}">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>成分：</th>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="component" value="{$data.component}">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>功能：</th>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="function" value="{$data.function}">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>用途：</th>
                                    <td>
                                        <label class="input">
                                            <input type="text" name="purpose" value="{$data.purpose}">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>货架状态：</th>
                                    <td>
                                        <div class="inline-group">
                                            <label class="radio">
                                                <input type="radio" name="on_sale" value="1" checked>
                                                <i class="rounded-x"></i>上架
                                            </label>
                                            <label class="radio">
                                                <input type="radio" name="on_sale" value="0">
                                                <i class="rounded-x"></i>下架
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div class="panel panel-default margin-bottom-10">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-edit"></i> 扩展属性</h3>
                            </div>
                            <table class="table table-bordered">
                                <tbody>
                                <foreach name="ex_list" item="vo">
                                    <tr>
                                        <th style="width:80px;">{$vo.key_name}：</th>
                                        <td>
                                            <input type="hidden" name="ex_id[{$vo.key_id}]" value="{$vo.tfp_id}">
                                            <input type="hidden" name="ex_key_name[{$vo.key_id}]" value="{$vo.key_name}">

                                            <php>$is_must=$vo['is_must']?" required ":"";//是否必填</php>
                                            <empty name="vo[value]">
                                                <label class="input">
                                                    <input type="text" name="ex[{$vo.key_id}]" {$is_must} value="{$vo['value_text']}">
                                                </label>
                                                <else />
                                                <label class="select">
                                                    <php>
                                                        $multiple = $vo['is_multi'] ? 'multiple':'';
                                                    </php>
                                                    <select {$multiple} {$is_must} name="ex[{$vo.key_id}][]">
                                                        <if condition="!($vo['is_multi'])"><option></option></if>
                                                        <foreach name="vo['value']" item="so">
                                                            <php>$template_selected=(($vo['value_id']==$so['id']) or (strstr(",".$vo['value_text']."," ,  ",".$so['id'].",")))?"selected":"";</php>
                                                            <option value="{$so['id']}" {$template_selected}>{$so['value']}</option>
                                                        </foreach>
                                                    </select>
                                                    <empty name="$vo['is_multi']"><i></i></empty>
                                                </label>
                                                <if condition="$vo['is_multi']"><div class="note">可多选</div></if>
                                            </empty>
                                        </td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="hidden" name="id" value="{$data.id}">
                        <input type="hidden" name="vend_id" value="{$data.supplier.id}">
                        <input type="hidden" name="cid" value="{$data.cid}">
                        <input type="hidden" name="name_code" value="{$data.name_code}">
                        <button type="submit" class="btn-u">{:L('SAVE')}</button>
                        <a class="btn-u btn-u-default" href="{:leuu('AdminSku/index', array('id'=>$data['id']))}">库存</a>
                        <a class="btn-u btn-u-default" href="{:U('index')}">{:L('BACK')}</a>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript">
        //编辑器路径定义
        var editorURL = GV.WEB_ROOT;
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/qrcode.min.js"></script>
    <script>

        $(function(){
            $(".select2").select2({
                theme: "bootstrap"
            });
            var qrcode = new QRCode($('#qrcode')[0]);
            qrcode.makeCode('{:leuu("Tf/Tf/fabric",array("id"=>$data[id]),false,true)}');

            editorcontent = new baidu.editor.ui.Editor();
            editorcontent.render('content');
            try {
                editorcontent.sync();
            } catch (err) {
            }
            //增加编辑器验证规则
            jQuery.validator.addMethod('editorcontent', function() {
                try {
                    editorcontent.sync();
                } catch (err) {
                }
                return editorcontent.hasContents();
            });

            jQuery(".fancybox").fancybox({
                groupAttr: 'data-rel',
                prevEffect: 'fade',
                nextEffect: 'fade',
                openEffect  : 'elastic',
                closeEffect  : 'fade',
                closeBtn: true,
                helpers: {
                    title: {
                        type: 'float'
                    }
                }
            });

            $(".fbox-modal").fancybox({
                maxWidth    : 800,
                maxHeight   : 600,
                fitToView   : false,
                width       : '70%',
                height      : '70%',
                autoSize    : false,
                closeClick  : false,
                closeEffect : 'fade',
                openEffect  : 'elastic'
            });


            //$('#code').mask('2099', {placeholder:'X'});
            $('.sky-form').validate({

                submitHandler: function(form) {
                    $(form).ajaxSubmit({
                        success:function(response){
                            if(response.status){
                                if(response.url){
                                    location.href = response.url;
                                }else{
                                    noty({text:response.info,type:'success'});
                                }
                            }else{
                                noty({text:response.info,type:'error'});
                            }
                        }
                    });
                }
            });
        })
    </script>
</block>