<extend name="Admin:base-v2" />
<block name="css">
    <style>
    .sky-toggle {
        position: relative;
        /*display: block;
        padding-right: 61px;*/
        font-size: 15px;
        line-height: 27px;
        color: #404040;
        cursor: pointer;
        font-weight: normal; }

        .sky-toggle:last-child {
        margin-bottom: 0; }

        .sky-toggle input {
        position: absolute;
        left: -9999px; }

        .sky-toggle i {
        content: '';
        /*position: absolute;
        top: 4px;
        right: 0;*/
        display: block;
        width: 64px;
        height: 26px;
        border-width: 1px;
        border-style: solid;
        border-radius: 14px;
        background: #fff;
        border-color: #bbb;
        -ms-transition: border-color 0.3s;
        -moz-transition: border-color 0.3s;
        -webkit-transition: border-color 0.3s; }

        .sky-toggle input:checked + i {
        border-color: #999; }

        .sky-toggle i:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 7px;
        right: 8px;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        opacity: 1;
        background-color: #999;
        -ms-transition: right 0.2s;
        -moz-transition: right 0.2s;
        -webkit-transition: right 0.2s; }

        .sky-toggle input:checked + i:before {
        right: 43px; }

        .sky-toggle i:after {
        content: 'OFF';
        position: absolute;
        top: 7px;
        right: 10px;
        left: 11px;
        font-style: normal;
        font-size: 10px;
        line-height: 13px;
        font-weight: 700;
        text-align: left;
        color: #5f5f5f;
        }

        .sky-toggle input:checked + i:after {
        content: 'ON';
        text-align: right; }
        .table th,td {
            text-align: center;
            vertical-align:middle !important;
        }
        .table th {
            color:#fff;
            background-color: #E6125D;
            margin-bottom: 10px;
        }
                        .fabric-thumb .thumb {
                            float: left;
                            width: 80px;
                            height: 80px;
                            margin-right: 5px;
                        }
                        .fabric-thumb .fabric-title {
                            float: left;
                        }
                        .fabric-thumb .fabric-title a,.fabric-thumb .fabric-title span {
                            display:block;
                        }
                        .fabric-thumb .fabric-title a {
                            margin-bottom: 5px;
                            font-size: 14px;
                        }
                        .fabric-thumb .fabric-title span {
                            color: #999;
                        }

                        .sky-toggle.status i:after {content: '已下架';}
                        .sky-toggle.status input:checked + i:after {content: '已上架';}
                        .sky-toggle.ispublic i:after {content: '私密';right: 16px;left: 16px;}
                        .sky-toggle.ispublic input:checked + i:after {content: '公开';}
    </style>
    <link rel="stylesheet" href="/tpl/home/simplebootx/assets/css/print-label.css">
</block>
<block name="main">
    <div class="container-fluid content-xs">
                <div class="tab-v2">
                    <ul class="nav nav-tabs">
                        <php>
                            if(!isset($_REQUEST['status'])) $default_active = 'active';
                        </php>
                        <li class="{$default_active}"><a href="{:leuu('index')}">所有面料</a></li>
                        <foreach name="statuses" item="vo">
                            <php>
                                $actived = isset($_GET['status']) && $_GET['status'] == $key ? 'active':'';
                            </php>
                            <li class="{$actived}"><a href="{:leuu('index',array('on_sale'=>$key))}">{$vo}</a></li>
                        </foreach>
                        <li class="pull-left"><a href="{:leuu('AdminShelves/index')}">货架管理</a></li>
                        <li><a href="#" data-toggle="modal" data-target=".add-modal">添加面料</a></li>
                    </ul>
                    <div class="tab-content">
                        <notpresent name="_REQUEST[status]">
                            <div class="panel panel-default margin-bottom-40">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-tasks"></i> 筛选</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-inline form-search" method="get" action="{:U('index')}">
                                <div class="form-group">
                                    <input type="text" name="filter[keywords]" class="form-control" value="{$filter.keywords|default=''}" placeholder="面料名称/成份关键字">
                                </div> &nbsp;&nbsp;
                                <div class="form-group">
                                    <input id="data-start" type="text" name="filter[datestart]" class="form-control" value="{$filter.datestart|default=''}" placeholder="开始日期">
                                </div>
                                <div class="form-group">
                                    <label>-</label>
                                    <input id="data-finish" type="text" name="filter[datefinish]" class="form-control" value="{$filter.datefinish|default=''}" placeholder="截止日期">
                                </div>&nbsp;&nbsp;
                                <div class="form-group">
                                    <select name="filter[supplier_id]" class="form-control" style="width:200px;">
                                    <option value="-1">选择面料商</option>
                                        <foreach name="memberList" item="vo">
                                            <php>$selected = $filter['supplier_id'] == $vo[id] ? 'selected':'';</php>
                                            <option value="{$vo.id}" {$selected}>{$vo.biz_name}</option>
                                        </foreach>
                                    </select>
                                </div>&nbsp;&nbsp;
                                <div class="form-group">
                                    <select name="filter[on_sale]" class="form-control">
                                    <option value="-1">全部</option>
                                        <foreach name="statuses" item="vo">
                                            <php> $selected = isset($filter['on_sale']) && $filter['on_sale'] == $key ? 'selected':'';</php>
                                            <option value="{$key}" {$selected}>{$vo}</option>
                                        </foreach>
                                    </select>
                                </div>&nbsp;&nbsp;
                                <button type="submit" class="btn-u btn-u-red">搜索</button>
                                <a class="btn-u btn-u-default" href="{:U('index')}">清空</a>
                            </form>
                        </div>
                    </div>
                            
                        </notpresent>
                        <table class="table">
                            <thead>
                            <tr >
                                <th>面料名称</th>
                                <th>成分</th>
                                <th>面料商</th>
                                <th>发布时间</th>
                                <th>是否上架</th>
                                <th>是否私密</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody >
                            <foreach name="list[data]" item="vo" key="k">
                                <tr><td></td></tr>
                                <tr class="table-bordered" id="tf-{$vo.id}" data-id="{$vo.id}" data-biz_name="{$vo.supplier.biz_name}"
                                    data-biz_logo="{:get_thumb_url($vo[supplier][biz_logo],true,150)}"
                                    data-name="{$vo.name}"
                                    data-code="{$vo.code}"
                                    data-width="{$vo.width}"
                                    data-weight="{$vo.weight}"
                                    data-link="{:leuu('Tf/Tf/fabric',array('id'=>$vo[id]),false,true)}">
                                    <td class="text-left">
                                        <div class="fabric-thumb">
                                            <div class="thumb">
                                                <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo['id']))}" target="_blank">
                                                <img class="lazyload img-responsive" src="{:get_thumb_url($vo['img']['thumb'],true,80)}" alt="">
                                                </a>
                                            </div>
                                            <div class="fabric-title">
                                                <a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo['id']))}" target="_blank">{$vo.name|msubstr=0,30}</a>
                                                <span>编码：{$vo.tf_code}</span>
                                                <notempty name="vo[width]"><span>门幅：{$vo.width}</span></notempty>
                                                <notempty name="vo[weight]"><span>克重：{$vo.weight}</span></notempty>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{$vo.component}</td>
                                    <td>{$vo.supplier.biz_name}</td>
                                    <td>{$vo.created_at}</td>
                                    <td class="table-bordered">
                                        <php>$status_checked = $vo['on_sale'] == 1 ? 'checked':'';</php>
                                        <label class="sky-toggle status">
                                            <input type="checkbox" name="checkbox-toggle" {$status_checked}>
                                            <i></i>
                                        </label>
                                    </td>
                                    <td>
                                        <php>$ispublic_checked = $vo['ispublic'] == 1 ? 'checked':'';</php>
                                        <label class="sky-toggle ispublic">
                                            <input type="checkbox" name="checkbox-toggle" {$ispublic_checked}>
                                            <i></i>
                                        </label>
                                    </td>
                                    <td class="table-bordered">
                                        <!--<a href="{:leuu('Sms/Supplier/send', array('tf_id'=>$vo[id],'pd_type'=>2))}">发送给好友</a>
                                        <br>-->
                                        <a href="{:leuu('edit', array('id'=>$vo['id']))}">编辑</a> |
                                        <a class="print-modal" href="javascript:void(0)">打印标签</a><br>
                                        <a href="{:leuu('AdminSku/index', array('id'=>$vo['id']))}">库存</a> |
                                        <a href="javascript:;" class="js-ajax-btn"
                                                data-confirm="true"
                                                data-msg="是否要取消删除该面料吗？"
                                                data-id="{$vo[id]}"
                                                data-href="{:leuu('delete')}"
                                        data-success="deleteSuccess">删除</a>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        <!-- Pagination -->
                        <div class="text-center md-margin-bottom-30">
                            <ul class="pagination">
                                {$list['page']}
                            </ul>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
    </div>
                <div class="modal fade add-modal" tabindex="-1" role="dialog"
                     aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h4 id="addModalLabel" class="modal-title">选择供应商</h4>
                            </div>
                            <div class="modal-body">
                                <form id="addform" action="{:U('add')}">
                                    <div class="row margin-bottom-20">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input type="text" id="inputVendName" class="form-control" placeholder="搜索供应商">
                                                <span class="input-group-btn">
											<button id="btnSearchVend" class="btn btn-info" type="button">搜索</button>
										</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select id="selectSupplier" class="form-control" name="vend_id" required>
                                                    <option value="">请先搜索供应商</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control" name="cid" id="category" required>
                                                    <option value="">请选择分类</option>
                                                    {$cats_tree}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                
                                                <select name="name_code"  id ="cname" class="form-control" required>
                                                   <option value="">请选择名称</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn-u btn-u-red pull-right">下一步</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade print-label-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">打印标签</h4>
                </div>
                <div class="modal-body">
                    <h4 class="tfname"></h4>
                    <div class="print-area label-style1">
                        <div class="qrcode pull-left">
                            <img src="">
                        </div>
                        <ul class="info pull-left">
                            <li class="code" style="font-weight: bold;font-family:黑体;">编号：<span></span></li>
                            <li class="width" style="font-weight: bold;font-family:黑体;">幅宽：<span></span></li>
                            <li class="weight" style="font-weight: bold;font-family:黑体;">克重：<span></span></li>
                        </ul>
                    </div>
                    <div class="print-area label-style2">
                        <div class="bizinfo">
                            <!--<img src="">-->
                            <span style="font-weight: bold;font-family:黑体;font-size:18px;"></span>
                        </div>
                        <div class="tfinfo">
                            <div class="qrcode pull-left">
                                <img src="">
                            </div>
                            <ul class="info pull-left">
                                <li class="code" style="font-weight: bold;font-family:黑体;">编号：<span></span></li>
                                <li class="width" style="font-weight: bold;font-family:黑体;">幅宽：<span></span></li>
                                <li class="weight" style="font-weight: bold;font-family:黑体;">克重：<span></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>
<block name="js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
    <script src="__PUBLIC__/js/jquery.jqprint.js"></script>
    <script>
        $(function(){
            var $modal = $('.print-label-modal');
            $('.print-modal').on('click', function(){
                var data = $(this).parents('tr.table-bordered').data();
                var $printarea = $('.print-area');
                $printarea.find('.bizinfo span').text(data.biz_name);
                $printarea.find('.bizinfo img').attr('src', data.biz_logo);
                $printarea.find('.code span').text(data.code);
                $printarea.find('.width span').text(data.width);
                $printarea.find('.weight span').text(data.weight);
                $qr = $('<div>').qrcode({
                    render: 'canvas',
                    text: data.link,
                    correctLevel: 3,
                    width: 100,
                    height: 100
                });
                var src = $qr.find('canvas')[0].toDataURL();
                $printarea.find('.qrcode img').attr('src',src);
                $modal.modal('show');
            });

            $('.print-area').on('click',function(){
                $(this).jqprint({
                    //debug: true, //show the iframe for debugging
                    importCSS: true, // import page CSS
                    printContainer: true // grab outer container as well as the contents of the selector
                });
            });

            $('#btnSearchVend').on('click',function(){
                var $this = $(this);
                var url = '/index.php?g=supplier&m=admin&a=search&term='+$('#inputVendName').val();
                $this.html('<i class="fa fa-spinner fa-spin"></i>');
                $.getJSON(url,function(response){
                    $this.text('搜索');
                    var $result = $('#selectSupplier');
                    if(response.length > 0){
                        $result.empty();
                        for(x in response){
                            opt = '<option value="'+ response[x].id +'">'+ response[x].value +'</option>';
                            $(opt).appendTo($result)
                        }
                    }else{
                        $result.empty().append('<li>没有结果</li>')
                    }
                })
            });
            $('#addform').validate();

            $('.sky-toggle input[type="checkbox"]').change(function(){
                var $this = $(this);
                var id = $this.parents('tr').data('id');
                var value = $this.prop('checked') ? 1:0;
                var url = '';
                var data = {id:id,value:value};
                if($this.parents('.sky-toggle').hasClass('status')){
                    url = "{:leuu('AdminShelves/toggle')}";
                }else if($this.parents('.sky-toggle').hasClass('ispublic')){
                    url = "{:leuu('toggle_public')}";
                }
                if(url !== ''){
                    $.post(url,data,function(response){
                        $this.prop('checked', response.data == 1);
                        if(response.status){
                            noty({type:'success',text:response.info});
                        }else{
                            noty({type:'error',text:response.info});
                        }
                    });
                }
            })

            //选择分类和名称联动
            $("#category").change(function(){
	       $('[name="name_code"]').children().not(":first").remove();
                $.getJSON("{:U('Supplier/cid_ajax')}",{cid:$(this).val()},function(response){
                    var data = response.data;
                    for(x in data){
                        $('<option value="'+data[x].code+'">'+data[x].cname+'</option>').appendTo('[name="name_code"]');
                    }
                });

            });


        })
        // Date range
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });

        function deleteSuccess(response){
            if(response.url){
                location.href = response.url;
            }else{
                if(response.status){
                    $('#tf-'+response.data.id).remove();
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'success'});
                        }else{
                            alert(response.info);
                        }
                    }
                }else{
                    if(response.info.length > 0){
                        if(typeof noty == "function"){
                            noty({text:response.info,type:'error'});
                        }else{
                            alert(response.info);
                        }
                    }else{
                        response.info = '操作出错！';
                    }
                }
            }
        }
    </script>

</block>