<extend name="Public:base-v8" />
<block name="title"><title>企业商家认证 {$site_name}</title></block>
<block name="css">
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">购物车</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="index.html">首页</a></li>
                <li class="active">申请认证</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content-sm">
        <div class="free-shop-box g-padding-30 bg-grey">
            <div class="headline-center margin-bottom-80 g-pt-30 apply-title"><h1>衣料汇企业认证</h1></div>
            <!--End warning-->

            <!--free-shop-content-->
            <div class="row" >
                <div class="step col-md-10 col-md-offset-1">
                    <div class="p p0 current"><label>1</label>填写信息</div>
                    <div class="p p50"><label>2</label>审核</div>
                    <div class="p p100"><label>3</label>审核结果</div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">0% Complete</span>
                        </div>
                    </div>
                </div>
                <form id="auth-form" method="post" action="{:leuu('personal_post')}" class="auth-form">
                    <div class="auth-input col-md-10 col-md-offset-1" >
                        <div class="tips col-md-6 col-md-push-4 hidden-xs hidden-sm">
                            请填写您的真实姓名
                        </div>
                        <div class="form-group col-md-4 col-md-pull-6">
                            <label> <font color="red">*</font> 真实姓名</label>
                            <input type="text" name="auth[auth_fullname]"  size="50" required value="{$member.auth.auth_fullname}" class="input-text form-control" aria-required="true">
                        </div>
                    </div>
                    <div class="auth-input col-md-10 col-md-offset-1">
                        <div class="tips col-md-6 col-md-push-4 hidden-xs hidden-sm">
                            请核对您的手机号码。
                        </div>
                        <div class="form-group col-md-4 col-md-pull-6">
                            <label> <font color="red">*</font> 手机号码</label>
                            <input type="text" name="auth[auth_mobile]"  size="50" required value="{$member.auth.auth_mobile}" class="input-text form-control" aria-required="true">
                        </div>
                    </div>
                    <!--<div class="auth-input col-md-10 col-md-offset-1">
                        <div class="tips col-md-6 col-md-push-4 hidden-xs hidden-sm">
                            请核对您的邮箱地址，如果有误，请到个人设置中心修改。
                        </div>
                        <div class="form-group col-md-4 col-md-pull-6">
                            <label> <font color="red">*</font> 联系邮箱</label>
                            <input type="text" name="contact[contact_email]"  size="50" value="{$member[contact][contact_email]}" class="input-text form-control" aria-required="true">
                        </div>
                    </div>-->
                    <div class="auth-input col-md-10 col-md-offset-1">
                        <div class="tips col-md-6 col-md-push-4 hidden-xs hidden-sm">
                            请输入您所在的单位/组织名称，如果没有，请留空
                        </div>
                        <div class="form-group col-md-4 col-md-pull-6">
                            <label> <font color="red">*</font> 单位/组织名称(公司名称)</label>
                            <input type="text" name="auth[auth_organization]" size="50" required value="{$member.auth.auth_organization}" class="input-text form-control" aria-required="true" >
                        </div>
                    </div>
                    <div class="auth-input col-md-10 col-md-offset-1">
                        <div class="tips col-md-5 col-md-push-5 hidden-xs hidden-sm">
                            请输入您所在的公司主营的面料信息
                        </div>
                        <div class="form-group col-md-5 col-md-pull-5">
                            <label> <font color="red">*</font> 主营产品</label>
                            <textarea type="text" rows="3" class="form-control"  name="main_core" required
                                      placeholder="请输入主营产品，用 ‘空格’ 分隔。字数控制在60字之内" aria-required="true">{$member[auth][auth_main_core]}</textarea>
                        </div>
                    </div>
                    <div class="auth-input col-md-10 col-md-offset-1">
                        <div class="tips col-md-5 col-md-push-5 hidden-xs hidden-sm">
                            请输入您所在的公司简介
                        </div>
                        <div class="form-group col-md-5 col-md-pull-5">
                            <label> <font color="red">*</font> 公司简介</label>
                            <textarea type="text" rows="5" class="form-control"  name="shop_intro" required
                                      placeholder="请输入主营产品，用 ‘空格’ 分隔。字数控制在60字之内" aria-required="true">{$member[shop_intro]}</textarea>
                        </div>
                    </div>

                    <div class="auth-input col-md-10 col-md-offset-1">
                        <div class="form-group ">
                            <label> <font color="red">　*</font> 所在地区</label>
                            <div id="city_1">
                                <section class="col-md-4">
                                    <select class="prov form-control" name="auth[auth_province]" data-sub="auth[auth_city]" required onchange="getAreas(this.value,'auth[auth_city]')">
                                        <option disabled selected>省（必须）</option>
                                        <foreach name="provinces" item="vo">
                                            <option value="{$vo.id}" >{$vo.name}</option>
                                        </foreach>
                                        <i></i>
                                    </select>
                                </section>
                                <section class="col-md-4">
                                    <select class="prov form-control" name="auth[auth_city]" data-sub="auth[auth_district]" required onchange="getAreas(this.value,'auth[auth_district]')">
                                        <option disabled selected>市（必须）</option>
                                    </select>
                                    <i></i>
                                </section>
                                <section class="col-md-4">
                                    <select class="prov form-control" name="auth[auth_district]" required>
                                        <option disabled selected>区（必须）</option>
                                    </select>
                                    <i></i>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="auth-input col-md-10 col-md-offset-1">
                        <div class="tips col-md-5 col-md-push-5 hidden-xs hidden-sm">
                            请填写详细地址
                        </div>
                        <div class="form-group col-md-5 col-md-pull-5">
                            <label> <font color="red">*</font> 详细地址</label>
                            <input type="text" name="auth[auth_address]"  size="50" required value="{$member.auth.auth_address}" class="input-text form-control"  aria-required="true">
                        </div>
                    </div>
                    <div class="auth-input col-md-10 col-md-offset-1">
                        <div class="tips col-md-5 col-md-push-5 hidden-xs hidden-sm">
                            请上传营业执照最新年检副本的扫描件或照片，海外地区营业执照视当地情况为准<br><br>
                            （文件上传大小不超过1M）
                        </div>
                        <div class="form-group col-md-5 col-md-pull-5">
                            <label> <font color="red">*</font> 营业执照</label>
                            <input type="hidden" name="auth[auth_photo_licence]" id="thumb-licence" required value="{$member[auth][auth_photo_licence]|default=''}">
                            <a href="javascript:upload_one_image('图片上传','#thumb-licence');">
                                <if condition="empty($member[auth][auth_photo_licence])">
                                    <img src="__PUBLIC__/images/default-thumbnail.png" id="thumb-licence-preview" width="135" style="cursor: hand"/>
                                    <else />
                                    <img src="{:sp_get_image_preview_url($member[auth][auth_photo_licence])}" id="thumb-licence-preview" width="135" style="cursor: hand"/>
                                </if>
                            </a>
                        </div>
                    </div>
                    <div class="auth-input col-md-10 col-md-offset-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="checked" required  aria-required="true" name="agreement" value="1"> 我同意衣料汇 <a href="#" data-toggle="modal" data-target="#protocolModal">用户服务条款</a><br/>
                            </label>
                        </div>
                    </div>
                    <div class="auth-input col-md-10 col-md-offset-1">
                        <div class="form-group text-center">
                            <input type="hidden" name="act" value="company">
                            <input type="submit" value="提交申请" class="btn btn-u" >
                            <a href="" class="btn btn-u">返回</a>
                        </div>
                    </div>
                </form>
            </div>

            <!--Endfree-shop-content-->
        </div>
    </div>
</block>
<block name="plugins_js">
</block>
<block name="js">
    <script>
        $(document).ready(function () {
            //validateForm.personalInformation();

            $('#auth-form').validate();

            getAreas(0, 'auth[auth_province]', function () {
                var province = '440000';    //广东省
                var city = '440100';        //广州市
                $('[name="auth[auth_province]"]').find('[value="' + province + '"]').attr('selected','selected');
                getAreas(province, 'auth[auth_city]', function () {
                    $('[name="auth[auth_city]"]').find('[value="' + city + '"]').attr('selected','selected');
                    getAreas(city, 'auth[auth_district]')
                });
            });

        });
    </script>
</block>