<extend name="Public:base-v8" />
<block name="title"><title>商家认证 {$site_name}</title></block>
<block name="css">
    <in name="member[authenticated]" value="2,3">
        <style>
            .submit-check {
                background-color: #FFF;
                height: 400px;
                text-align: center;
            }
            .submit-check .message {
                border-radius: 20px;
                text-align: center;
                padding: 30px;
                margin: 5%;
            }
            .submit-check .message .msg-finished {
                color: #4a4a4a;
                font-size: 1.5em;
                margin-bottom: 50px;
            }
            .orange {
                color: #F1453D;
            }
        </style>
    </in>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">购物车</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="index.html">首页</a></li>
                <li class="active">申请认证</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <switch name="member[authenticated]">
        <case value="1" break="1">
            <div class="container content-sm">
                <div class="free-shop-box g-padding-30 bg-grey">
                    <div class="headline-center margin-bottom-60 g-pt-30 apply-title"><h1>衣料汇认证</h1></div>
                    <!--End warning-->

                    <!--free-shop-content-->
                    <div class="row" >
                        <div class="step col-md-10 col-md-offset-1">
                            <div class="p p0 current"><label>1</label>填写信息</div>
                            <div class="p p50 current"><label>2</label>提交审核</div>
                            <div class="p p100 current"><label>3</label>审核结果</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar"  style="width:100%">
                                    <span class="sr-only">0% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="submit-check col-md-10 col-md-offset-1" >
                            <div class="paySuccess g-mt-80">
                                <i class="glyphicon glyphicon-ok "></i>
                                <php>
                                    $member_type = $member['type'] == 1 ? '企业认证':'个人认证';
                                </php>
                                <h5>{$member_type}，审核成功</h5>
                                <div class="g-mt-30">
                                    <a href="{:leuu('User/Certificate/message')}" class="btn btn-u btn-u-green">查看我的认证信息</a>
                                    <eq name="member[type]" value="2">
                                        　　你还可以, <a href="{:leuu('User/Certificate/company')}" class="btn btn-u btn-u-green">升级为企业认证</a>
                                    </eq>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Endfree-shop-content-->
                </div>


            </div>
        </case>
        <case value="2" break="1">
            <div class="container content-sm">
                <div class="free-shop-box g-padding-30 bg-grey">
                    <div class="headline-center margin-bottom-80 g-pt-30 apply-title"><h1>衣料汇认证</h1></div>
                    <!--End warning-->

                    <!--free-shop-content-->
                    <div class="row" >
                        <div class="step col-md-10 col-md-offset-1">
                            <div class="p p0 current"><label>1</label>填写信息</div>
                            <div class="p p50 current"><label>2</label>提交审核</div>
                            <div class="p p100"><label>3</label>审核结果</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                    <span class="sr-only">0% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="submit-check col-md-10 col-md-offset-1" >
                            <div class="message">
                                <div class="msg-finished">
                                    您的个人认证申请资料已经提交成功，我们将在完成审<br>核后以邮件和短信的方式通知您，并立刻为您开通会员<br>服务和功能。
                                </div>
                                <div class="hint">
                                    认证审核过程一般在1-2个工作日内完成，<br>如有需要帮助请拨打免费咨询电话: <span class="orange">400-876-0103</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Endfree-shop-content-->
                </div>


            </div>
        </case>
        <case value="3" break="1">
            <div class="container content-sm">
                <div class="free-shop-box g-padding-30 bg-grey">
                    <div class="headline-center margin-bottom-80 g-pt-30 apply-title"><h1>衣料汇认证</h1></div>
                    <!--End warning-->

                    <!--free-shop-content-->
                    <div class="row" >
                        <div class="step col-md-10 col-md-offset-1">
                            <div class="p p0 current"><label>1</label>填写信息</div>
                            <div class="p p50 current"><label>2</label>提交审核</div>
                            <div class="p p100 current"><label>3</label>审核结果</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar"  style="width:100%">
                                    <span class="sr-only">0% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div class="submit-check col-md-10 col-md-offset-1" >
                            <div class="message">
                                <div class="msg-finished">
                                    <php>
                                        $href = leuu($member['type'] == 1 ? 'company':'personal');
                                    </php>
                                    很抱歉！您申请的认证无法通过审核<br/>
                                    您可以<a href="{$href}" style="color: #00a7ff;text-decoration: none;">修改资料</a>，重新认证。
                                </div>
                                <div class="hint">
                                    我们的建议：
                                </div>
                                <div class="hint">
                                    1、确保您的资料的真实性和完整性；
                                </div>
                                <div class="hint">
                                    2、确保您上传的资料清晰可见，无经过任何人为处理。
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Endfree-shop-content-->
                </div>


            </div>
        </case>
        <default />
        <div class="container content-sm">
            <div class="free-shop-box g-padding-30 bg-grey">
                <div class="headline-center margin-bottom-80 g-pt-30 apply-title"><h1>欢迎认证衣料汇</h1></div>
                <!--End warning-->

                <!--free-shop-content-->
                <div class="free-shop-content g-padding-10 g-pt-30 g-pb-30">
                    <h5 class="Shop-equity margin-bottom-30 margin-top-10">选择认证类型</h5>
                    <div class="auth-list">
                        <ul class="row">
                            <li class="col-md-2"></li>
                            <li class="col-md-4">
                                <a href="{:leuu('User/Certificate/personal')}" class="auth-item">
                                    <h3 class="name">个人认证</h3>
                                    <p class="desc">如果您是从事商业面料的推广，或者是购买面料的个人用户，需要提供个人身份证扫描图片、手机号码及职位等信息。</p>
                                </a>
                            </li>
                            <li class="col-md-4">
                                <a href="{:leuu('User/Certificate/company')}" class="auth-item">
                                    <h3 class="name">企业认证</h3>
                                    <p class="desc">如果您是从事商业面料买卖、宣传的相关组织，或者是品牌企业，需要提供公司营业执照、组织机构代码证等信息。</p>
                                </a>
                            </li>
                            <li class="col-md-2"></li>
                        </ul>
                    </div>
                    <div class="auth-welcome">
                        <p class="lead">为了广告主和创作人的利益保障，我们必须对用户进行认证，以确保用户身份及信息的真实性。身份认证通过后您将获得以下功能：</p>
                        <ul class="right-list clearfix row">
                            <li class="col-md-2"><i class="fa fa-file-text-o" aria-hidden="true"></i>在线下单</li>
                            <li class="col-md-2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>发布需求</li>
                            <li class="col-md-2"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>免费推荐</li>
                            <li class="col-md-2"><i class="fa fa-file-o" aria-hidden="true"></i>发布面料</li>
                        </ul>
                    </div>
                </div>

                <!--Endfree-shop-content-->
            </div>
        </div>
    </switch>
</block>