<extend name="Public:base-v8" />
<block name="title"><title>个人商家认证 {$site_name}</title></block>
<block name="css">
    <style>
        .auth-info dt, .auth-info dd {
            font-size:16px;
            line-height:28px;
        }
        .auth-info dt {font-weight:500;color:#555;}
        .auth-info dd {
            color:#777;
            margin-bottom:10px;
        }
        @media (min-width: 768px) {
            .auth-info dt {
                width: 200px;
            }
            .auth-info dd {margin-left:220px;}
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">购物车</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="index.html">首页</a></li>
                <li class="active">申请认证</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content-sm">
        <div class="free-shop-box g-padding-30 bg-grey">
            <div class="headline-center margin-bottom-80 g-pt-30 apply-title"><h1>衣料汇认证信息</h1></div>
            <!--End warning-->

            <!--free-shop-content-->
            <div class="row" >

                <div class="col-md-10 col-md-offset-1 bg-light">
                    <dl class="dl-horizontal auth-info">
                        <dt>真实姓名</dt>
                        <dd>{$auth.auth_fullname}</dd>
                        <dt>手机号码</dt>
                        <dd>{$auth.auth_mobile}</dd>
                        <dt>单位/组织名称(公司名称)</dt>
                        <dd>{$auth.auth_organization}</dd>
                        <eq name="type" value="2">
                            <dt>主营产品</dt>
                            <dd>{$auth.auth_main_core}</dd>
                            <dt>公司简介</dt>
                            <dd>{$shop_intro}</dd>
                        </eq>
                        <dt>所在地区</dt>
                        <dd>
                            {$auth.auth_province_name}
                            {$auth.auth_city_name}
                            {$auth.auth_district_name}
                        </dd>
                        <dt>详细地址</dt>
                        <dd>{$auth.auth_address}</dd>
                        <eq name="type" value="1">
                            <dt>营业执照</dt>
                            <dd>
                                <img src="{:sp_get_asset_upload_path($auth[auth_photo_licence])}">
                            </dd>
                        </eq>
                        <eq name="type" value="2">
                            <dt>本人手持身份证照片</dt>
                            <dd>
                                <img src="{:sp_get_asset_upload_path($auth[auth_photo_inhand])}">
                            </dd>
                            <dt>身份证照片</dt>
                            <dd>
                                <img src="{:sp_get_asset_upload_path($auth[auth_photo_idcard])}">
                            </dd>
                        </eq>
                    </dl>
                </div>
            </div>

            <!--Endfree-shop-content-->
        </div>
    </div>
</block>