<volist name="data[data]" id="vo">
    <li>
        <div class="order-item">
            <div class="order-item-title">
                <span>订单号：{$vo.order_sn}</span>
                <a href="{:leuu('view', array('id'=>$vo[id]))}"
                   class="pull-right btn-u btn-u-xs rounded"
                   style="font-size: 14px;padding: 2px 10px;">操作</a>
            </div>
            <div class="order-info">
                <p>购货人：{$vo.user_nickname}</p>
                <div class="clearfix">
                    <span class="pull-left">商品：</span>
                    <ul class="pull-left">
                        <li>[#{$vo.goods.tf_code}] [编号：{$vo.goods.sku.color_code}] {$vo.goods.tf_name} × {$vo.goods.number}</li>
                    </ul>
                </div>
                <p>订单金额：{$vo.order_amount}</p>
                <p>下单时间：{:date('Y-m-d H:i:s', $vo['add_time'])}</p>
                <p>状态：
                    <in name="vo[order_status]" value="0,1">
                        <in name="vo[pay_status]" value="0,1">等待买家付款</in>
                        <eq name="vo[pay_status]" value="2">
                            <in name="vo[shipping_status]" value="0,3,4">买家已付款</in>
                            <eq name="vo[shipping_status]" value="1">卖家已发货</eq>
                            <eq name="vo[shipping_status]" value="2">交易成功</eq>
                        </eq>
                    </in>
                    <in name="vo[order_status]" value="2,3">交易关闭</in>
                    <eq name="vo[order_status]" value="4">退款中的订单</eq>
                </p>
            </div>
        </div>
    </li>
</volist>