<admintpl file="header" />
<style>
    .select2 {width:400px;}
    .bg-dark {background-color:#ccc;}
</style>
</head>
<body>
<div class="wrap">
    <form method="post" class="form-horizontal js-ajax-form" action="{:U('Setting/basic')}">
        <fieldset>
            <legend>基本信息</legend>
            <div class="control-group">
                <label class="control-label">LOGO-黑色</label>
                <div class="controls">
                    <div id="site_logo_black" class="el-selector">
                        <input type="hidden" class="el-input" name="site_basic[site_logo_black]" value="{$options[site_logo_black]}" />
                        <empty name="options[site_logo_black]">
                            <img class="el-img" src="__PUBLIC__/images/demo.jpg" style="width:135px;cursor:pointer;" />
                            <else />
                            <img class="el-img" src="{:sp_get_asset_upload_path($options[site_logo_black])}" style="width:135px;cursor:pointer;" />
                        </empty>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">LOGO-白色</label>
                <div class="controls">
                    <div id="site_logo_white" class="el-selector">
                        <input type="hidden" class="el-input" name="site_basic[site_logo_white]" value="{$options[site_logo_white]}" />
                        <empty name="options[site_logo_white]">
                            <img class="el-img" src="__PUBLIC__/images/demo.jpg" style="width:135px;cursor:pointer;" />
                            <else />
                            <img class="el-img" src="{:sp_get_asset_upload_path($options[site_logo_white])}" style="width:135px;cursor:pointer;" />
                        </empty>
                        <br>
                        <button type="button" class="btn btn-primary show_dark_bg_effect" style="margin-top:10px;">切换暗色背景时的效果</button>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">网站简介</label>
                <div class="controls">
                    <textarea name="site_basic[intro]" rows="3" maxlength="150" style="width:400px;">{$options[intro]}</textarea>
                    <p>150字以内</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">电话</label>
                <div class="controls">
                    <input type="text" name="site_basic[tel]" value="{$options[tel]}" style="width:400px;">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">传真</label>
                <div class="controls">
                    <input type="text" name="site_basic[fax]" value="{$options[fax]}" style="width:400px;">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">邮箱</label>
                <div class="controls">
                    <input type="email" name="site_basic[email]" value="{$options[email]}" style="width:400px;">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">地址</label>
                <div class="controls">
                    <textarea name="site_basic[address]" rows="2" style="width:400px;">{$options[address]}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">公众号二维码</label>
                <div class="controls">
                    <div id="wxqrcode" class="el-selector">
                        <input type="hidden" class="el-input" name="site_basic[wxqrcode]" value="{$options[wxqrcode]}" />
                        <empty name="options[wxqrcode]">
                            <img class="el-img" src="__PUBLIC__/images/demo.jpg" style="width:135px;cursor:pointer;" />
                            <else />
                            <img class="el-img" src="{:sp_get_asset_upload_path($options[wxqrcode])}" style="width:135px;cursor:pointer;" />
                        </empty>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">底部菜单</label>
                <div class="controls">
                    <select name="site_basic[footer_links]">
                        <foreach name="navs" item="vo">
                            <php>$selected = $vo['navcid'] == $options['footer_links'] ? 'selected':'';</php>
                            <option value="{$vo.navcid}" {$selected}>{$vo.name}</option>
                        </foreach>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">底部右边文章列表</label>
                <div class="controls">
                    <select name="site_basic[footer_article_term]">{$footer_article_terms}</select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">历史纪录数量</label>
                <div class="controls">
                    <input type="number" min="1" name="site_basic[history_number]" value="{$options[history_number]}" style="width:400px;">
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <input type="hidden" name="key" value="site_basic">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:L('SAVE')}</button>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
<script>
$(document).ready(function(){
    $('.el-selector .el-img').on('click', function(){
        var eid = $(this).parents('.el-selector').attr('id');
        window.open('/index.php?g=admin&m=media&a=explorer&t=selector&eid='+eid,
                '_blank','toolbar=no, location=yes, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=yes, height=402');
    });
    $('.show_dark_bg_effect').on('click',function(){
        $(this).parent().find('.el-img').toggleClass('bg-dark');
    })
})
</script>
</body>
</html>