<include file="Public:analytics" />
<extend name="Public:base-v8" />
<block name="title"><title>账户信息 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/fancybox/source/jquery.fancybox.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">客户管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">添加客户</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="tab-v7">
                    <!-- Basic Form -->
                    <div class="panel margin-bottom-40">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="color:#555555;">添加客户</h3>
                        </div>
                        <div class="panel-body">
                            <form class="margin-bottom-40" action="{:leuu('add_post')}" method="post">
                                <div class="form-group">
                                    <label for="exampleInputname">客户名</label>
                                    <input type="text" class="form-control" name="customer_name" id="exampleInputname" placeholder="输入客户名">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputname">性别</label>
                                    <select name="customer_sex" id=""  class="form-control">
                                        <option value="1">男</option>
                                        <option value="2">女</option>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputmobile">手机号码</label>
                                    <input type="number" name="customer_mobile" class="form-control" id="exampleInputmobile" placeholder="输入手机号码">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputemail">邮箱地址</label>
                                    <input type="text" name="customer_email" class="form-control" id="exampleInputemail" placeholder="输入邮箱地址">
                                </div>

                                <button type="submit" class=" btn btn-u ">添加</button> <a class="btn btn-u" href="javascript:history.back(-1);">返回</a>
                            </form>
                        </div>
                    </div>
                    <!-- End Basic Form -->
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $(".fancybox").fancybox({
                groupAttr: 'data-rel',
                prevEffect: 'fade',
                nextEffect: 'fade',
                openEffect  : 'elastic',
                closeEffect  : 'fade',
                closeBtn: true,
                helpers: {
                    title: {
                        type: 'float'
                    }
                }
            });
        })
    </script>
</block>