<extend name="Public:base-v8" />
<block name="title"><title>访问量</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC_/u/css/pages/profile.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>

        ul.funny-boxes-rating li {
            display: inline-block;
        }
        ul.funny-boxes-rating li i {
            color: #f8be2c;
            cursor: pointer;
            font-size: 14px;
        }

        .ucard {margin-bottom:20px;}
        .ucard .btns {display:none;}
        .ucard:hover .btns {display:block;}
        .profile .profile-blog {
            height:150px;
            position: relative;
        }
        .card-footer {
            position: absolute;
            width: 100%;
            padding: 0 20px;
            bottom: 10px;
            left: 0;
        }


        .card-wrapper {}
        .card-wrapper > .avatar {
            margin:0 auto 5px auto;
            display:block;
            height:64px;
            width:64px;
            border-radius:50%;
        }
        .card-wrapper > .nickname {text-align: center;}
        .profile .panel-heading {
            height: 74px;
            color: #585f69;
            background: #fff;
            padding: 20px 15px;
            border-bottom: solid 3px #f7f7f7;
        }
        .profile .panel-heading .panel-title{
            font-size:18px;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">发现</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">访问量</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="profile">
                    <div class="profile-body">
                        <div class="row panel-heading overflow-h margin-bottom-20" style="margin-left:0;margin-right:0;">
                            <div class="col-sm-3">
                                <h1 class="panel-title heading-sm pull-left">
                                    <i class="fa fa-tasks"></i>
                                    <eq name="_GET[type]" value="1">
                                        {$tf_info.name}
                                        <else/>
                                        {$supplier_info.biz_name}
                                    </eq>
                                </h1>
                            </div>
                            <div class="col-sm-4">
                                <h1 class="panel-title heading-sm pull-left"><i class="fa fa-pie-chart"></i></i>浏览总数：{$browse_sum|default=0} 次</h1>
                            </div>
                            <div class="col-sm-4">
                                <h1 class="panel-title heading-sm pull-left"><i class="icon-users"></i></i>浏览的人：{$list.total|default=0} 人</h1>
                            </div>
                            <div class="col-sm-1">
                                <a href="javascript:history.back(-1);" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right">返回</a>
                            </div>
						</div>
                        <div class="row margin-bottom-20">
                            <volist name="list[data]" id="vo">
                                <div class="col-sm-6">
                                <div id="user-{$vo.user_id}" class="profile-blog blog-border ucard">
                                        <img class="rounded-x" src="{:get_avatar_url($vo[avatar])}">
                                    <div class="name-location pull-left">
                                        <strong>{$vo.nickname}</strong>
                                        <notempty name="vo[district_name]">
                                                        <span>
                                                            <i class="fa fa-map-marker"></i>
                                                            {$vo.province_name}
                                                            {$vo.city_name}
                                                            {$vo.district_name}</span>
                                        </notempty>
                                    </div>
                                    <div class="clearfix margin-bottom-5"></div>
                                    <p>{$vo.desc|msubstr=0,200}</p>
                                </div>
                            </div>
                            </volist>
                        </div>
                        <div class="text-center md-margin-bottom-30">
                            <ul class="pagination">
                                {$list['page']}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <tc_include file="Public:supplier-notify-scripts"/>
    <script>
        // Date range
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });

        function fansSuccess(response){
            if(response.status){
                var id = response.data.id;
                $block = $('#user-'+id);
                $btn = $block.find('.btn-add');
                if(response.data.type == 1){
                    text = '已添加好友';
                }else{
                    text = '已发送申请';
                }
                $btn.parent().append('<span class="label label-light">'+text+'</span>');
                $btn.remove();
                if(typeof noty == "function"){
                    noty({text:response.info,type:'success'});
                }else{
                    alert(response.info);
                }
            }else{
                if(response.info.length > 0){
                    if(typeof noty == "function"){
                        noty({text:response.info,type:'error'});
                    }else{
                        alert(response.info);
                    }
                }else{
                    response.info = '操作出错！';
                }
            }
        }
    </script>
</block>