<admintpl file="header" />
<style>
    .select2 {width:400px;}
</style>
</head>
<body>
<div class="wrap">
    <form method="post" class="form-horizontal js-ajax-form" action="{:U('Account/AdminSetting/setting')}">
        <fieldset>
            <legend>账户设置</legend>
            <div class="control-group">
                <label class="control-label">最低提现额</label>
                <div class="controls">
                    <input type="text" style="width:400px;" required name="withdraw[min]" value="{$withdraw[min]}" placeholder="必填" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">最高提现额</label>
                <div class="controls">
                    <input type="text" style="width:400px;" required name="withdraw[max]" value="{$withdraw[max]}" placeholder="必填" />
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:L('SAVE')}</button>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
<script>
    $(document).ready(function(){
        $(".select2").select2({
            tags: true,
            closeOnSelect: false
        });
    })
</script>
</body>
</html>