<extend name="Public:base-v8"/>
<block>

</block>
<block name="title"><title>{$data.name} 面料详情 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/master-slider/masterslider/style/masterslider.css">
    <link rel='stylesheet' href="__PUBLIC__/u/plugins/master-slider/masterslider/skins/default/style.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_magazine.css">
</block>
<block name="css">
    <style>
        .shop-product .product-quantity {
            float: none;
        }

        .wishlist-in.active i {
            color: #e6125d;
        }

        .shop-product {
            padding-top: 40px;
        }

        .shop-product h3.shop-product-title {
            color: #555;
            font-size: 15px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .shop-product .product-size label {
            position: relative;
            width: auto;
            font-weight: normal;
            font-size: 16px;
            height: 50px;
            padding: 0;
            line-height: 26px;
            border: 2px solid #999999;
        }

        .shop-product .product-size label img {
            height: 100%;
        }

        .shop-product input[name="sku_id"]:checked ~ label {
            border: 2px solid #e6125d !important;
        }

        .shop-product input[name="sku_id"]:checked ~ label .triangle-topleft {
            border-top: 30px solid #e6125d;
            border-right: 30px solid transparent;
        }

        .shop-product .product-color label {
            position: relative;
            border: 2px solid #999999;
        }

        #buy-now[disabled], #group-now[disabled],
        #buy-now[disabled]:hover, #group-now[disabled]:hover {
            background: #ec8fb0;
        }

        .product-introduce-box > div img {
            width: 100%;
        }

        .triangle-topleft {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-top: 30px solid #999999;
            border-right: 30px solid transparent;

        }

        .color-num {
            position: absolute;
            bottom: -30px;
            left: 0;
            width: 30px;
            height: 30px;
            padding-left: 2px;
            color: #757575;
            font-size: 12px;
            text-align: left;
        }

        .list-inline > li:hover .triangle-topleft {
            border-top: 30px solid #E6125D;
            border-right: 30px solid transparent;
        }

        .modal-open .modal .modal-content {
            margin-top: 100px;
        }

        @media (min-width: 768px) {
            .modal-sm {
                width: 343px;
            }
        }

        .kim-located-wrap {
            font-size: 14px;
            margin: 0 0 -7px 10px;
            color: #999;
            display: inline-block;
            vertical-align: bottom;
        }

    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">面料详情</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="__ROOT__/">面料</a></li>
                <li class="active">{$data.name}</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <!--content-->
    <!--=== Shop Product ===-->
    <div class="shop-product margin-bottom-40">

        <div class="container">
            <div class="row">
                <div class="col-md-5 md-margin-bottom-50">
                    <div class="ms-showcase2-template">
                        <!-- Master Slider -->
                        <div class="master-slider ms-skin-default" id="masterslider">
                            <div class="ms-slide">
                                <img class="ms-brd" src="/public/images/blank.gif"
                                     data-src="/data/upload/{$data['img']['photo']}">
                                <img class="ms-thumb" src="/data/upload/{$data['img']['photo']}">
                            </div>

                            <foreach name="smeta['photo']" item="vo">
                                <div class="ms-slide">
                                    <img src="/public/images/blank.gif"
                                         data-src="{$vo['url']}">
                                    <img style="width: 160px;height:160px;" class="ms-thumb"
                                         src="{$vo['url']}">
                                </div>
                            </foreach>

                        </div>
                        <!-- End Master Slider -->
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="shop-product-heading">
                        <h2>{$data.name}<span class="kim-located-wrap">
                            此款面料位于金马馆 {$data.kim_located}
                        </span></h2>
                    </div><!--/end shop product social-->
                    <notempty name="data.purpose}">
                        <p>{$data.purpose}</p>
                    </notempty>

                    <php>
                        if(!empty($ysku_list)){
                        $selected_sku = reset($ysku_list);
                        }else{
                        $selected_sku = reset($nsku_list);
                        }

                    </php>

                    <h3 class="shop-product-title">米样价格</h3>
                    <ul class="list-inline shop-product-prices simple-price margin-bottom-10">
                        <li class="shop-red">
                            <gt name="selected_sku.sku_type" value="0">
                                ￥{$selected_sku.sku_price}/{$selected_sku.sku_unit}
                                <else/>
                                无货
                            </gt>
                        </li>
                    </ul>
                    <php>
                        $large_style = $selected_sku['sku_type'] == 1 ? "":"hide";
                        $group_style = $selected_sku['sku_type'] == 0 && $selected_sku['group_enabled'] == 1? "":"hide";
                    </php>
                    <div class="large-price {$large_style}">
                        <h3 class="shop-product-title change-title">现货价格</h3>
                        <ul class="list-inline shop-product-prices large_cargo margin-bottom-10">
                            <li class="shop-red">
                                <gt name="selected_sku.sku_type" value="0">
                                    ￥{$selected_sku.large_price}/{$selected_sku.large_unit}
                                </gt>
                            </li>
                        </ul>
                    </div>
                    <div class="group-price {$group_style}">
                        <h3 class="shop-product-title">拼单价格</h3>
                        <ul class="list-inline shop-product-prices group price-type margin-bottom-10">
                            <li class="shop-red">
                                ￥{$selected_sku.group_price}/{$selected_sku.group_unit}
                            </li>
                        </ul>
                    </div>
                    <notempty name="ysku_list">
                        <h3 class="shop-product-title">现货</h3>
                        <ul class="list-inline margin-bottom-5 clearfix">
                            <foreach name="ysku_list" item="vo">
                                <php>
                                    $type = $vo['value_type'];
                                    if($type == 3){
                                    $itemclass="product-color";
                                    $style='color:transparent;background:url('.get_thumb_url($vo['value_text']).');background-size:
                                    contain;';
                                    }elseif($type == 2){
                                    $itemclass="product-color";
                                    $style='color:transparent;background-color: '.$vo['value_text'].';';
                                    }else{
                                    $itemclass="product-size";
                                    $style='';
                                    }
                                    $checked = $vo['id'] == $selected_sku['id'] ? 'checked':'';
                                </php>
                                <php>
                                    $image = json_decode($vo['dress_img'], true);
                                </php>
                                <if condition="$image != ''">
                                <li class="{$itemclass} clearfix" style="padding-left: 0">
                                    <input name="sku_id"
                                           data-type="{$vo.sku_type}"
                                           data-unit="{$vo.sku_unit}"
                                           data-price="{$vo.sku_price}"
                                           data-grunit="{$vo.group_unit}"
                                           data-grprice="{$vo.group_price}"
                                           data-lgprice="{$vo.large_price}"
                                           data-lgunit="{$vo.large_unit}"
                                           data-grenabled="{$vo.group_enabled}"
                                           data-code="{$vo.color_code}"
                                           type="radio" id="sku-{$vo.id}" value="{$vo.id}" {$checked}>
                                    <label for="sku-{$vo.id}" style="{$style}">

                                        <img class="thumb-image" src="/{$image[0]}" />
                                        <span class="color-num">{$vo.color_code}</span>
                                    </label>

                                </li>
                                </if>
                            </foreach>
                            <!--<p class="codetips"><p>-->
                        </ul>
                        <notempty name="nsku_list">
                            <h3 class="shop-product-title">缺货</h3>
                            <ul class="list-inline margin-bottom-10 clearfix">
                                <foreach name="nsku_list" item="vo">
                                    <php>
                                        $type = $vo['value_type'];
                                        if($type == 3){
                                        $itemclass="product-color";
                                        $style='color:transparent;background:url('.get_thumb_url($vo['value_text']).');background-size:
                                        contain;';
                                        }elseif($type == 2){
                                        $itemclass="product-color";
                                        $style='color:transparent;background-color: '.$vo['value_text'].';';
                                        }else{
                                        $itemclass="product-size";
                                        $style='';
                                        }
                                        $checked = $vo['id'] == $selected_sku['id'] ? 'checked':'';
                                    </php>
                                    <li class="{$itemclass} clearfix">
                                        <input name="sku_id"
                                               data-type="{$vo.sku_type}"
                                               data-unit="{$vo.sku_unit}"
                                               data-price="{$vo.sku_price}"
                                               data-grunit="{$vo.group_unit}"
                                               data-grprice="{$vo.group_price}"
                                               data-lgprice="{$vo.large_price}"
                                               data-lgunit="{$vo.large_unit}"
                                               data-grenabled="{$vo.group_enabled}"
                                               data-code="{$vo.color_code}"
                                               type="radio" id="sku-{$vo.id}" value="{$vo.id}" {$checked}>
                                        <label for="sku-{$vo.id}" style="border:2px dashed #999;{$style}">
                                            <span class="color-num">{$vo.color_code}</span>
                                        </label>

                                    </li>
                                </foreach>
                                <!--<p class="codetips"><p>-->
                            </ul>
                        </notempty>

                        <present name="xxxxxxxxxxx">
                            <h3 class="shop-product-title">数量</h3>
                            <div class="margin-bottom-10">
                                <form name="f1" class="product-quantity sm-margin-bottom-10">
                                    <button type='button' class="quantity-button" name='subtract'
                                            onclick='javascript: subtractQty();' value='-'>-
                                    </button>
                                    <input type='text' class="quantity-field" name='qty' value="1" id='qty'/>
                                    <button type='button' class="quantity-button" name='add'
                                            onclick='javascript: document.getElementById("qty").value++;' value='+'>+
                                    </button>
                                </form>
                            </div><!--/end product quantity-->
                        </present>

                        <ul class="list-inline margin-bottom-40 g-mt-20">
                            <!--<li>
                                <button id="add-to-cart" type="button" class="btn-u btn-u-sea-shop btn-u-lg">加入购物车</button>
                            </li>-->

                            <php>
                                $login = empty($_SESSION['user']) ? 'popup-wx-login':'';
                                $buy_disabled = $selected_sku['sku_type'] == 1 ? '':'disabled';
                                $group_disabled = $selected_sku['sku_type'] == 0 && $selected_sku['group_enabled'] == 1
                                ? '':'disabled';
                            </php>

                            <li>
                                <empty name="_SESSION['user']">
                                    <button type="button" class="rounded btn-u btn-u-blue btn-u-lg {$login}">色卡寄送
                                    </button>
                                    <else/>
                                    <button type="button" class="rounded btn-u btn-u-blue btn-u-lg" data-toggle="modal"
                                            data-target="#responsive">色卡寄送
                                    </button>
                                </empty>

                            </li>
                            <li>
                                <button id="buy-now" type="button" {$buy_disabled}
                                        class="{$login} rounded btn-u btn-u-sea-shop btn-u-lg ">米样购买
                                </button>
                            </li>
                           
                            <li class="group-action {$group_style}">
                                <button id="group-now" type="button" {$group_disabled}
                                        class="{$login} rounded btn-u btn-u-sea-shop btn-u-lg">缺货拼单
                                </button>
                            </li>
                          
                        </ul>
                    </notempty>

                    <present name="is_collected">
                        <ul class="list-inline add-to-wishlist add-to-wishlist-brd">
                            <php>$actived = $is_collected ? 'active':'';
                                $original_title = $is_collected ? '取消收藏':'添加收藏';
                            </php>
                            <li class="wishlist-in {$actived}">
                                <a id="toggle-collect" class="js-ajax-btn" href="#"
                                   data-href="{:leuu('Collect/Index/toggle',array('type'=>1,'sr'=>$data['source']))}"
                                   data-id="{$data.id}"
                                   data-status="{$is_collected}"
                                   data-method="GET"
                                   data-success="collectSuccess">
                                    <empty name="_SESSION[user]">
                                        <gt name="is_collected" value="0">
                                            <i class="fa fa-heart popup-wx-login" style="vertical-align: middle">&nbsp;{$original_title}</i>
                                            <else/>
                                            <i class="fa fa-heart-o popup-wx-login" style="vertical-align: middle">
                                                &nbsp;{$original_title}</i>
                                        </gt>
                                        <else/>
                                        <gt name="is_collected" value="0">
                                            <i class="fa fa-heart" style="vertical-align: middle">&nbsp;{$original_title}</i>
                                            <else/>
                                            <i class="fa fa-heart-o" style="vertical-align: middle">&nbsp;{$original_title}</i>
                                        </gt>
                                    </empty>
                                </a>
                            </li>
                        </ul>
                    </present>
                    <h3 class="shop-product-title" data-toggle="details" data-target="#groupnote"
                        style="margin-bottom: 0;color:#888;">拼单须知 <i class="fa fa-angle-double-down"></i></h3>
                    <p id="groupnote" class="toggle-details">发起或参加拼单，在规定时间内付款；<br>
                        达到最低拼单数量，商家统一生产并分别给各拼单会员发货；<br>
                        未达到最低拼单数量，货款将自动原路返还。</p>
                </div>
            </div><!--/end row-->
        </div>
    </div>
    <!--=== End Shop Product ===-->

    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myLargeModalLabel3" class="modal-title">联系我们</h4>
                </div>

                <div class="modal-body">
                    <p>供应商：{$data.supplier.biz_name}</p>
                    <p>电　话：{$data.supplier.contact.contact_tel}</p>
                    <p>手　机：{$data.supplier.contact.contact_mobile}</p>
                    <p>微　信：{$data.supplier.contact.contact_wechat}</p>
                    <p>Q　 Q：{$data.supplier.contact.contact_qq}</p>
                    <p>地　址：{$data.supplier.contact.contact_province_name}
                        {$data.supplier.contact.contact_city_name}
                        {$data.supplier.contact.contact_district_name}
                        {$data.supplier.contact.contact_address}
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- End Small Modal -->

    <!-- Bootstrap Modals With Forms -->
    <div class="margin-bottom-40">
        <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel4">色卡到付</h4>
                    </div>
                    <form id="apply" action="{:leuu('Tf/CardApply/apply_post')}" method="post">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>说明:色卡到付是指会员向面料商申请该面料的普通色卡,面料商同意后给会员发货，会员只需要支付快递产生的邮费即可！</p>
                                    <empty name="addresses">
                                        <p><a href="{:leuu('Address/Bm/add')}"><span aria-hidden="true"
                                                                                     class="icon-plus"></span>&nbsp;&nbsp;添加收货地址</a>
                                        </p>
                                        <else/>
                                        <label>选择地址</label>
                                    </empty>

                                    <foreach name="addresses" item="vo">
                                        <php>
                                            $checked = $vo['is_default'] ? 'checked':'';
                                        </php>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="address_id" value="{$vo.address_id}"
                                                       {$checked}><i class="rounded-x"></i>
                                                {$vo.province_name}{$vo.city_name}{$vo.district_name}
                                                {$vo.address} {$vo.zipcode} {$vo.consignee} {$vo.mobile}
                                            </label>
                                        </div>
                                    </foreach>
                                    <label>选择配送方式</label>
                                    <foreach name="shippings" item="vo">
                                        <php>
                                            $checked = $vo['shipping_code'] == $shipping['shipping_code'] ?
                                            'checked':'';
                                        </php>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="shipping_id" value="{$vo.shipping_id}"
                                                       {$checked}><i class="rounded-x"></i>
                                                {$vo.shipping_name}
                                            </label>
                                        </div>
                                    </foreach>

                                    <label>留言</label>
                                    <textarea class="form-control" name="remark" rows="3"
                                              placeholder="给商家留言！"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="tf_id" value="{$data[id]}">
                            <input type="hidden" name="supplier_id" value="{$data[vend_id]}">
                            <button type="button" class="btn-u btn-u-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn-u btn-u-primary">申请</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- End Bootstrap Modals With Forms -->

    <!--Team Section-->
    <section id="team">

        <div class="container-fluid bg-color-com team-section">
            <div class="container g-heading-v7 text-center margin-bottom-40">

                <div class="headline" style="text-align: left"><h2 class="heading-sm">同店铺推荐</h2></div>

                <!-- Owl Carousel v4 team -->
                <div class="owl-carousel-v4 owl-theme">
                    <?php
                 $fabrics_recommend = M("Textile_fabric")->
                    where(array("vend_id"=>$data['supplier']['id'],"recommended"=>1))->order('created_at
                    desc')->select(); ?>
                    <div class="owl-slider-v4-team">
                        <volist name="fabrics_recommend" id="vo" offset="0" length="11">
                            <?php  $tf_thumb = json_decode($vo['img'],true);
                    ?>
                            <if condition="$vo['id'] neq $data['id']">
                                <div class="item">
                                    <a href="{:leuu('Tf/tf/fabric',array('id'=>$vo[id]))}">
                                        <img class="lazyload img-responsive"
                                             src="{:get_thumb_url($tf_thumb[thumb],true)}" alt=""
                                             style="width:184px;height:184px;">
                                        <small class="owl-small">{$vo.name|msubstr=0,26}</small>
                                    </a>
                                </div>
                            </if>
                        </volist>
                    </div>
                </div>
                <!-- End Owl Carousel v4 -->
            </div>
        </div>
    </section>
    <!--End of Team Section-->
    <!--product-detail-->
    <div class="container margin-bottom-40">
        <div class="row product-detail g-mb-60">
            <div class="col-md-3">
                <!--stores-->
                <div class="store-box">
                    <img class="img-responsive" src="{:get_thumb_url($data[supplier][biz_logo],true,150)}">
                    <h3 style="font-weight:normal;"><i class="fa fa-home"></i>{$data.supplier.biz_name}</h3>
                    <p>主　营： {$data.supplier.main_core}</p>
                    <p>手　机：{$data.supplier.contact.contact_mobile}</p>
                    <!--<p>微　信：{$data.supplier.contact.contact_wechat}</p>-->
                    <notempty name="data.supplier.contact.contact_province_name">
                        <p>地　址：{$data.supplier.contact.contact_province_name}
                            {$data.supplier.contact.contact_city_name}
                            {$data.supplier.contact.contact_district_name}
                            {$data.supplier.contact.contact_address}</p>
                    </notempty>
                    <a href="{:leuu('Supplier/Index/single', array('id'=>$data[supplier][id]))}"
                       class="btn btn-default rounded">进入店铺</a>
                    <php>
                        $collect_vend = is_collected_vend ? 'btn-default':'';
                    </php>
                    <button class="rounded btn btn-default like-icon js-ajax-btn btn-collect {$collect_vend}"
                            data-placement="left"
                            data-href="{:leuu('Collect/Index/toggle',array('type'=>3))}"
                            data-id="{$data['supplier_id']}"
                            data-status="{$is_collected_vend}"
                            data-method="GET"
                            data-success="collectSuccess">
                        <empty name="_SESSION[user]">
                            <gt name="is_collected_vend" value="0"><i class="fa fa-heart popup-wx-login"
                                                                      style="vertical-align: middle">&nbsp;取消收藏
                                <else/>
                                <i class="fa fa-heart-o popup-wx-login" style="vertical-align: middle">&nbsp;添加收藏</gt>
                            </i>
                            <else/>
                            <gt name="is_collected_vend" value="0"><i class="fa fa-heart"
                                                                      style="vertical-align: middle">&nbsp;取消收藏
                                <else/>
                                <i class="fa fa-heart-o popup-wx-login" style="vertical-align: middle">&nbsp;添加收藏</gt>
                            </i>
                        </empty>
                    </button>
                </div>
                <!--End stores-->
            </div>

            <div class="col-md-9">
                <!--product-introduce-->
                <div class="product-introduce-box">
                    <div class="headline"><h2 class="heading-sm">产品详情</h2></div>
                    <div>
                        <php>
                            $data['describe'] = str_replace('src="/data/upload',
                            'data-original="/data/upload',$data['describe']);
                        </php>
                        {$data[describe]|htmlspecialchars_decode}
                    </div>
                </div>
                <!--End product-introduce-->
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/u/plugins/owl-carousel2/owl.carousel.min.js"></script>

    <!-- Master Slider -->
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/masterslider.min.js"></script>
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/jquery.easing.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__TMPL__assets/js/plugins/fileinput.min.js"></script>
    <script src="__TMPL__assets/js/plugins/fileinput_locale_zh.js"></script>
</block>
<block name="app_js">
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init();
            App.initScrollBar();
        });
    </script>
</block>
<block name="js">
    <script src="__TMPL__assets/js/forms/product-quantity.js"></script>
    <script>
        $(function () {

            $('.product-introduce-box img').lazyload();
            var $inp_sku_id = $('[name="sku_id"]');

            $inp_sku_id.change(changeSku);

            $('#group-now').on('click', function (e) {
                e.preventDefault();
                if ($(this).hasClass('popup-wx-login')) return false;
                if ($(this).attr('disabled') == 'disabled') return false;

                var url = '{:leuu("Order/Group/glist",array("tfsn"=>$data[tf_code]))}';
                var sku_id = $inp_sku_id.filter(':checked').val();
                url += url.indexOf('?') > -1 ? '&':'?' + 'sku_id='+sku_id;
                location.href = url;
            });

            $('#buy-now').on('click', function (e) {
                e.preventDefault();
                if ($(this).hasClass('popup-wx-login')) return false;
                if ($(this).attr('disabled') == 'disabled') return false;
                var data = {
                    tfsn: '{$data.tf_code}',
                    sku_id: $inp_sku_id.filter(':checked').val(),
                    number: $('#qty').val()
                };
                if (data.sku_id > 0) {
                    $.post('/index.php?g=Order&m=Index&a=easy_order', data, function (response) {
                        if (response.url) {
                            location.href = response.url;
                        } else {
                            if (response.status) {
                                noty({type: 'success', text: response.info});
                                if (response.ex) {
                                    $('span.badge').text(response.ex);
                                    $("span.badge").removeClass("hide");
                                }
                            } else {
                                noty({type: 'error', text: response.info});
                            }
                        }
                    })
                }
            });

            $('#add-to-cart').on('click', function (e) {
                e.preventDefault();
                var data = {sku_id: $inp_sku_id.filter(':checked').val(), number: $('#qty').val()};
                if (data.sku_id > 0 && data.number > 0) {
                    $.post('/index.php?g=Cart&m=Index&a=add_item', data, function (response) {
                        if (response.status) {
                            noty({type: 'success', text: response.info});
                            if (response.ex) {
                                $('span.badge').text(response.ex);
                                //alert($('span.badge').text());
                                //$('span.badge').show();
                                $("span.badge").removeClass("hide");
                            }
                        } else {
                            noty({type: 'error', text: response.info});
                        }
                    })
                } else {
                    noty({type: 'error', text: '请选择属性以及数量！'});
                }
            });

            $('.owl-slider-v4-team').owlCarousel({
                loop: true,
                margin: 0,
                responsive: {
                    300: {
                        items: 2
                    },
                    500: {
                        items: 4
                    },
                    768: {
                        items: 6
                    },
                },
                nav: true,
                dots: false,
                navText: ["<span class='fa fa-chevron-left'></span>", "<span class='fa fa-chevron-right'></span>"],
                navContainerClass: 'owl-buttons'
            });
            var slider = new MasterSlider();
            slider.control('arrows');
            slider.control('thumblist', {
                autohide: false,
                dir: 'h',
                arrows: true,
                align: 'bottom',
                width: 160,
                height: 150,
                margin: 5,
                space: 5
            });
            slider.setup('masterslider', {
                width: 550,
                height: 550,
                space: 5,
                view: 'fade'
            });
        });

        function changeSku() {
            var $this = $('[name="sku_id"]:checked');
            var sku_type = $this.data('type');
            var grenabled = $this.data('grenabled');
            var color_code = $this.data('code');
            var $btn_group = $('#group-now');
            var $btn_buy = $('#buy-now');
            var $btn_large = $('#large-now');

            if (sku_type > 0) {
                $('.large-action').removeClass('hide');
                $('.group-action').addClass('hide');
                $('.large-price').removeClass('hide');
                $('.group-price').addClass('hide');
                sku_price = '￥' + $this.data('price') + '/' + $this.data('unit');
                large_price = '￥' + $this.data('lgprice') + '/' + $this.data('lgunit');
                $btn_buy.removeAttr('disabled');
                $btn_group.addClass('hide');
                $btn_large.removeClass('hide');

            } else {
                $('.large-action').addClass('hide');
                $('.group-action').removeClass('hide');
                $('.group-price').removeClass('hide');
                $('.large-price').addClass('hide');
                sku_price = '￥' + $this.data('price') + '/' + $this.data('unit');
                $btn_buy.attr('disabled', 'disabled');
                $btn_group.removeClass('hide');
                $btn_large.addClass('hide');

            }
            if (grenabled == 1 && sku_type < 1) {
                grprice = '￥' + $this.data('grprice') + '/' + $this.data('grunit');
                $btn_group.removeAttr('disabled');
            } else {
                grprice = '不支持拼单';
                $btn_group.attr('disabled', 'disabled');
            }
            $('.shop-product-prices.simple-price .shop-red').text(sku_price);
            $('.shop-product-prices.large_cargo .shop-red').text(large_price);
            $('.shop-product-prices.group .shop-red').text(grprice);
            // $('.shop-product-title.change-title').text(grtitle);
        }

        function collectSuccess(response) {
            if (response.referer) {
                location.href = response.url;
            } else {
                var $collect = $('.wishlist-in a');
                var $collect_vend = $('.btn-collect');
                if (response.state === 'success') {
                    if ($collect.data('status')) {
                        $collect.data('status', 0).text('添加收藏').parent().removeClass('active');
                        $collect.html('<i class="fa fa-heart-o" style="vertical-align: middle"></i> 添加收藏');
                        $collect_vend.data('status', 0).text('添加收藏').parent().removeClass('collect_vend');
                        $collect_vend.html('<i class="fa fa-heart-o" style="vertical-align: middle"></i> 添加收藏');
                        noty({type: 'success', text: '已取消收藏！'});
                    } else {
                        $collect.data('status', 1).text('取消收藏').parent().addClass('active');
                        $collect.html('<i class="fa fa-heart" style="vertical-align: middle"></i> 取消收藏');
                        $collect_vend.data('status', 1).text('取消收藏').parent().addClass('collect_vend');
                        $collect_vend.html('<i class="fa fa-heart"></i> 取消收藏');
                        noty({type: 'success', text: '已添加收藏！'});
                    }
                } else if (response.state === 'fail') {
                    noty({type: 'error', text: response.info});
                }
            }
        }

        $('#apply').ajaxForm({
            success: function (response) {
                if (response.url) {
                    location.href = response.url;
                } else {
                    if (response.status) {
                        noty({text: response.info, type: 'success'});
                        location.href = location.pathname + window.location.search;
                    } else {
                        noty({text: response.info, type: 'error'});
                    }
                }
            }
        });
    </script>
</block>
<block name="iefix"><!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</block>