<extend name="Public:base" />
<block name="title">
    <title>{$title} {$site_name}</title>
</block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
</block>
<block name="css">
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">产品分类</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="index.html">首页</a></li>
                <li class="active">产品分类列表</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="content container">
        <div class="row">
            <div class="col-md-3 filter-by-block md-margin-bottom-60">
                <h1>过滤器</h1>

                <div class="panel-group" id="accordion-v3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v3" href="#collapseThree">
                                    所有产品
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <php>
                                    $catModel = M("TextileFabricCats");
                                    $cat=$catModel->where(array("pid"=>0))->select();
                                </php>
                                <foreach name="cat" item="vo" key="k">
                                    <div class="panel panel-default add-panel">
                                        <div class="panel-heading add-panel-heading">
                                            <h4 class="panel-title">
                                                <a class="accordion-toggle collapsed" data-toggle="collapse"
                                                   data-parent="#accordion-1" href="#collapse-{$k}" aria-expanded="false">
                                                    <i class="fa fa-plus"></i>
                                                    {$vo.title}
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-{$k}" class="panel-collapse collapse  " aria-expanded="false"
                                             style="height: 0px;">
                                            <div class="panel-body add-panel-body">
                                                <ul>
                                                    <php>
                                                        $sub_cat=$catModel->where(array("pid"=>$vo["id"]))->select();
                                                    </php>
                                                    <foreach name="sub_cat" item="sub_vo" key="sub_k">
                                                        <li><a href="{:U('List/index',array('id'=>$sub_vo['id']))}">{$sub_vo.title}</a></li>
                                                    </foreach>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </foreach>
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    产地
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="false">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox" checked/>
                                            <i></i>
                                            中国
                                            <small><a href="#">(23)</a></small>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox"/>
                                            <i></i>
                                            韩国
                                            <small><a href="#">(4)</a></small>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox"/>
                                            <i></i>
                                            日本
                                            <small><a href="#">(11)</a></small>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox"/>
                                            <i></i>
                                            新西兰
                                            <small><a href="#">(3)</a></small>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox"/>
                                            <i></i>
                                            其他
                                            <small><a href="#">(87)</a></small>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->

                <div class="panel-group" id="accordion-v2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v2" href="#collapseTwo">
                                    状态
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox"/>
                                            <i></i>
                                            期货
                                            <small><a href="#">(23)</a></small>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox" checked/>
                                            <i></i>
                                            现货
                                            <small><a href="#">(4)</a></small>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->

                <div class="panel-group" id="accordion-v4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v4" href="#collapseFour">
                                    价钱
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="slider-snap"></div>
                                <p class="slider-snap-text">
                                    <span class="slider-snap-value-lower"></span>
                                    <span class="slider-snap-value-upper"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->

                <div class="panel-group" id="accordion-v5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-v5" href="#collapseFive">
                                    颜色
                                    <i class="fa fa-angle-down"></i>
                                </a>
                            </h2>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-inline product-color-list">
                                    <li><a href="#"><img src="__PUBLIC__/u/img/colors/01.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="__PUBLIC__/u/img/colors/02.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="__PUBLIC__/u/img/colors/03.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="__PUBLIC__/u/img/colors/04.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="__PUBLIC__/u/img/colors/05.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="__PUBLIC__/u/img/colors/06.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="__PUBLIC__/u/img/colors/07.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/end panel group-->

                <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-lg btn-u-sea-shop btn-block">Reset
                </button>
            </div>

            <div class="col-md-9">
                <div class="row margin-bottom-5">
                    <div class="col-sm-6 result-category">
                        <h2>{$title}</h2>
                        <small class="shop-bg-red badge-results">{$list['total']} 条结果</small>
                    </div>
                    <div class="col-sm-6 padding-right-0">
                        <ul class="list-inline clear-both">
                            <li class="sort-list-btn">
                                <h3>排序 :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        销售 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">全部</a></li>
                                        <li><a href="#">价格</a></li>
                                        <li><a href="#">人气</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sort-list-btn">
                                <h3>显示 :</h3>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                        9 <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">全部</a></li>
                                        <li><a href="#">15</a></li>
                                        <li><a href="#">12</a></li>
                                        <li><a href="#">6</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!--/end result category-->

                <div class="filter-results">
                    <div class="row illustration-v2 margin-bottom-30">
                        <volist name="list[data]" id="vo" mod="3" key="k">
                            <if condition="$mod eq 0 and $i gt 1">
                    </div><div class="row illustration-v2 margin-bottom-30">
                    </if>
                    <div class="col-md-4">
                        <div class="product-img-brd product-detail">
                            <div class="product-img">
                                <a href="{:leuu('/Tf/Tf/fabric',array('id'=>$vo['id']))}">
                                    <if condition="$vo[img]['thumb'] neq ''">
                                        <img class="full-width img-responsive" src="{$vo['img']['thumb']|sp_get_image_preview_url}" alt="" onerror="__TMPL__assets/img/product/one/1.jpg">
                                        <else />
                                        <img class="full-width img-responsive" src="__TMPL__assets/img/product/one/1.jpg" alt="">
                                    </if>
                                </a>
                                <present name="addtocart">
                                    <a class="add-to-cart" href="#">
                                        <i class="fa fa-shopping-cart"></i>添加到购物车
                                    </a>
                                </present>
                                <if condition="$k elt 5">
                                    <div class="shop-rgba-dark-green rgba-banner">New</div>
                                </if>
                            </div>
                            <div class="product-description margin-bottom-30">
                                <div class="overflow-h">
                                    <div class="product-text g-pb-10 margin-bottom-10">
                                        <h4><a href="{:leuu('/Tf/Tf/fabric',array('id'=>$vo['id']))}">{$vo.name|msubstr=0,30}</a></h4>
                                        <span>￥132/米</span>
                                    </div>
                                    <h4 class="title-price pull-left">
                                        <a href="#">{$vo.supplier.long_name}</a>
                                    </h4>
                                    <h4 class="title-collect pull-right">
                                        <a id="toggle-collect" class="js-ajax-btn" href="#"
                                           data-href="{:leuu('Collect/Index/toggle')}"
                                           data-id="{$data.id}"
                                           data-status="{$is_collected}"
                                           data-method="GET"
                                           data-success="collectSuccess">
                                            <gt name="is_collected" value="0">取消收藏<else />收藏</gt>
                                        </a>
                                    </h4>
                                </div>
                                <ul class="list-inline product-ratings">
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating-selected fa fa-star"></i></li>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <li><i class="rating fa fa-star"></i></li>
                                    <li class="like-icon">
                                        <a data-original-title="添加到收藏夹" data-toggle="tooltip" data-placement="left" class="tooltips" href="#">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    </volist>
                </div>
                </div><!--/end filter resilts-->

                <div class="text-center">
                    <ul class="pagination pagination-v2">
                        {$list['page']}
                    </ul>
                </div><!--/end pagination-->
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
</block>
<block name="js">
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            MouseWheel.initMouseWheel();
        });
    </script>
</block>