<extend name="Public:base-v8" />
<block name="title"><title>面料管理</title></block>
<block name="plugins_css"> 
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.css">
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .table th,td {
            text-align: center;
            vertical-align:middle !important;
        }
        .table th {
            color:#fff;
            background-color: #E6125D;
            margin-bottom: 10px;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">面料管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li class="active">面料管理</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>

<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="right-box">
                    <ul class="list-unstyled order-state">
                        <li <if condition="I('request.status/s','') eq ''">class="active"</if>><a href="{:leuu('Tf/List/my_fabric')}">所有面料 ({$list.total})</a></li>
                        <li <if condition="I('request.status/s','') eq '-1'">class="active"</if>><a href="{:leuu('Tf/List/my_fabric',array('status'=>-1))}">待处理 ({$list.total_wait})</a></li>
                        <li <if condition="I('request.status/s','') eq '1'">class="active"</if>><a href="{:leuu('Tf/List/my_fabric',array('status'=>1))}">已上架 ({$list.total_online})</a></li>
                        <li <if condition="I('request.status/s','') eq '0'">class="active"</if>><a href="{:leuu('Tf/List/my_fabric',array('status'=>0))}">已下架 ({$list.total_offline})</a></li>
                    </ul>
                    <table class="table">
                        <thead>
                        <tr >
                            <th>面料名称</th>
                            <th>品号</th>
                            <th>规格</th>
                            <th>描述</th>
                            <th>图片</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody >
                        <foreach name="list[data]" item="vo" key="k">
                            <php>
                                //$vo['img'] = str_replace("&quot;", '"', $vo['img']);
                                //$vo['img'] = str_replace("'", '"', $vo['img']);
                                //$img=json_decode($vo['img'],true);
                                $img = $vo['img'];
                                // $img['thumb']=sp_get_image_preview_url($img['thumb']);
                            </php>
                            <tr><td></td></tr>
                            <tr class="table-bordered">
                                <td style="text-align: left;"><a href="{:leuu('Tf/Tf/fabric',array('id'=>$vo['id']))}">{$vo.name|msubstr=0,30}</a></td>
                                <td>{$vo.code}</td>
                                <td>{$vo.spec}</td>
                                <td>{$vo.spec|msubstr=0,30}</td>
                                <td>
                                    <if condition="$img['thumb'] neq ''">
                                        <img  alt=""style="width:80px;height:80px;" src="{$img['thumb']|sp_get_image_preview_url}" alt="">
                                        <else />
                                        <img  alt=""style="width:80px;height:80px;" src="/tpl/home/simplebootx/assets/img/product/one/1.jpg" alt="">
                                    </if>
                                </td>
                                <td class="table-bordered">

                                    <if condition="$vo['status'] eq 1">
                                        已上线
                                        <if condition="$vo['recommended'] eq 1">
                                            <br/>已推荐
                                            <else />
                                            <br/>未推荐
                                        </if>
                                        <else />
                                        已下架
                                    </if>
                                </td>
                                <td class="table-bordered">
                                    <a href="my_fabric_details.html" class="btn btn-info btn-xs">面料详情</a><br><br>
                                    <a class="" href="{:U('Release/edit',array('id'=>$vo['id']))}">编辑</a> |
                                    <a class="js-ajax-delete" href="{:U('List/delete',array('id'=>$vo['id']))}">删除</a> |

                                    <if condition="$vo['status'] eq 1">
                                        <if condition="$vo['recommended'] eq 1">
                                            <a class="js-ajax-dialog-btn" href="{:U('List/recommend',array('id'=>$vo['id'],'unrecommend'=>20))}" data-msg="您确定要取消推荐吗？">取消推荐</a> |
                                            <else/>
                                            <a class="js-ajax-dialog-btn" href="{:U('List/recommend',array('id'=>$vo['id'],'recommend'=>10))}" data-msg="您确定要推荐吗？">推荐</a> |
                                        </if>
                                        <a href="{:U('List/ban',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要下架吗？">下架</a>

                                        <else />
                                        <a href="{:U('List/cancelban',array('id'=>$vo['id']))}" class="js-ajax-dialog-btn" data-msg="您确定要上架吗？">上架</a>
                                    </if>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <div class="text-center md-margin-bottom-30">
                        <ul class="pagination">
                            {$list['page']}
                        </ul>
                    </div>
                    <!-- End Pagination -->
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
</block>
<block name="js">
    
</block>

