<extend name="Public:base-v8" />
<block name="title"><title>发布面料</title></block>
<block name="plugins_css"> 
    
</block>
<block name="css">
    <style type="text/css">

    TD {
        TABLE-LAYOUT: fixed; FONT-SIZE: 9pt; WORD-BREAK: break-all; FONT-FAMILY: "宋体"
    }


    INPUT.noborder {
        BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px
    }

    INPUT.noborder2 {
        BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px;background:#D0D0C8;background-color:#D0D0C8
    }

</style> 
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">商家中心</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="{:leuu('Tf/Release/add')}">发布面料</a></li>
                <li class="active">面料详情</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content-sm clear-padding">
    <div class="needForm">
        <!--needForm-content-->
        <div class="row">
            <div class="log-reg-v3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        
                <form id="validateForm4" class="reg-page sky-form  js-ajax-forms" action="{:U('Tf/Release/post')}" 
                method="post" enctype="multipart/form-data">
                 
                <fieldset style="padding: 30px">
                        <div class="reg-header margin-bottom-35"><h1>给我的店铺添加宝贝</h1></div>
                        <input type="hidden" name="id" value="{$id}">
                        <php>$data['img'] = json_decode($data['img'], true);</php>
                        <div class="form-group state-error">
                            <label for="smeta[thumb]" class="control-label"><span>* </span>商品主图</label>
                            <div style="text-align: left;margin-left: 100px;">
                                   <input type="hidden" name="smeta[thumb]" id="thumb" value="{$data.img.thumb|default=''}" aria-required="true">
                                    <a href="javascript:upload_one_image('图片上传','#thumb');">
                                        <if condition="empty($data['img']['thumb'])">     
                                            <img src="__TMPL__/assets/img/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand"/>
                                        <else />
                                            <img src="{:sp_get_image_preview_url($data['img']['thumb'])}" id="thumb-preview" width="135" style="cursor: hand"/>
                                        </if>
                                    </a>
                                    <input type="button" class="btn btn-small" onclick="$('#thumb-preview').attr('src','__TMPL__/assets/img/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">                       
                            </div>       
                            <span class="alert-warning"
                                  style="margin-top: 3px;">商品主图最多可上传1张图片，不能超过5M，建议上传面料的正面、反面、细节和边缘</span>
                        </div>

                        <div class="form-group">
                            <label for="" class="control-label">更多商品图片</label>
                            <div style="text-align: left;margin-left: 100px;">
                                <if condition="$id eq ''">
                                <ul id="photos" class="pic-list unstyled"></ul>
                                <a href="javascript:upload_multi_image('图片上传','#photos','photos-item-wrapper');" style="margin-top: 10px;" class="btn btn-primary js-ajax-submit">增加图片</a>                                
                                <else />
                                <ul id="photos" class="pic-list unstyled">
                                    <notempty name="smeta['photo']">
                                        <foreach name="smeta['photo']" item="vo">
                                        <php>$img_url=sp_get_image_preview_url($vo['url']);</php>
                                        <li id="savedimage{$key}">
                                            <input id="photo-{$key}" type="hidden" name="photos_url[]" value="{$img_url}">
                                            <img id="photo-{$key}-preview" src="{:sp_get_image_preview_url($vo['url'])}" style="height:72px;width: 72px;" onclick="parent.image_preview_dialog(this.src);">                                             
                                            名称：<input id="photo-{$key}-name" type="text" name="photos_alt[]" value="{$vo.alt}" style="width: 150px;" title="图片名称">
                                            <a class="btn btn-small" href="javascript:upload_one_image('图片上传','#photo-{$key}');">替换</a>
                                            <a class="btn btn-small" href="javascript:$('#savedimage{$key}').remove();">移除</a>
                                        </li>
                                        </foreach>
                                    </notempty>
                                </ul>
                                <a href="javascript:upload_multi_image('图片上传','#photos','photos-item-wrapper');" style="margin-top: 10px;" class="btn btn-primary js-ajax-submit">增加图片</a>
                                </if>
                            </div>
                            <span class="alert-warning"
                                  style="margin-top: 3px;">可上传多张图片，不能超过5M，建议上传面料的正面、反面、细节和边缘</span>
                            
                        </div>
                        
                        <div style="width: 50%;float: left;" class="form-group">
                            <label for="cid" class="control-label"><span>* </span>所属分类</label> 
                                <input type="hidden" name="cid" value="{$cid}" aria-required="true">
                                <input type="text" class="form-control" readonly="readonly" value="{$cat_name}"> 
                        </div>
                        <div style="width: 50%;float: left;" class="form-group">
                            <label for="name_code" class="control-label"><span>* </span>编码名称</label> 
                                <input type="hidden" name="name_code" value="{$name_code}" aria-required="true">
                                <input type="text" class="form-control" readonly="readonly" value="{$code_name}">
                        </div> 
                        
                        <div style="width: 80%;float: left;" class="form-group">
                            <label for="code" style="width: 100%;float: left;" class="control-label"><span>* </span>面料编码：</label> 
                            <input type="text" style="width: 80px;float: left;" class="form-control" id="vend_id" name="vend_id" value="{$data.vend_id}" readonly="readonly" aria-required="true">                           
                            <input type="text" style="width: 80px;float: left;" class="form-control" id="cid" name="cid" value="{$cid}" readonly="readonly" aria-required="true">                           
                            <input type="text" style="width: 80px;float: left;" class="form-control" id="name_code" name="name_code" value="{$name_code}" readonly="readonly" aria-required="true">                           
                            <input type="text" style="width: 200px;float: left;" class="form-control" id="code" name="code" value="{$data.code}" placeholder="请输入商家自编号" aria-required="true">                           
                        </div> 
                        <div style="width: 20%;float: left;" class="form-group">
                            <!--<label class="control-label">二维码</label>--> 
                            <notempty name="id">
                            <script type="text/javascript" src="__PUBLIC__/js/qrcode.min.js"></script>
                            <div id="qrcode" style="width: 60px;margin:0 auto"></div>
                            <script type="text/javascript">
                                var qrcode = new QRCode(document.getElementById("qrcode"), {
                                width : 60,
                                height : 60
                                });
                                function makeCode () {        
                                qrcode.makeCode("http://{$_SERVER['HTTP_HOST']}{$_SERVER['REQUEST_URI']}");
                                }
                                makeCode();
                            </script>                             
                            </notempty>
                        </div> 
                                                                                               
                        <div class="form-group">
                            <label for="name" style="width: 100%;" class="control-label"><span>* </span>品名</label> 
                            <input type="text" class="form-control" id="name" name="name" value="{$data.name}" placeholder="请输入品名" aria-required="true">                           
                        </div> 

                                                                       
                        <div class="form-group">
                            <label for="price" class="control-label"><span>* </span>价格</label> 
                            <input type="text" class="form-control" id="price" name="price"  value="{$data.price}"
                                   placeholder="请填写价格" aria-required="true">
                        </div>
                                                
                        <div class="form-group">
                            <label class="control-label">面料描述</label>
                            <script type="text/plain" id="content" name="describe">{$data.describe}</script>
                        </div>

                        <div class="form-group">
                            <label for="spec" class="control-label"><span></span>规格</label>
                            <input type="text" class="form-control" id="spec" name="spec"  value="{$data.spec}"
                                   placeholder="" >
                        </div>                        
                        <div class="form-group">
                            <label for="width" class="control-label"><span></span>门幅：</label>
                            <input type="text" class="form-control" id="width" name="width"  value="{$data.width}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="weight" class="control-label"><span></span>克重：</label>
                            <input type="text" class="form-control" id="weight" name="weight"  value="{$data.weight}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="material" class="control-label"><span></span>原料：</label>
                            <input type="text" class="form-control" id="material" name="material"  value="{$data.material}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="component" class="control-label"><span></span>成分：</label>
                            <input type="text" class="form-control" id="component" name="component"  value="{$data.component}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="function" class="control-label"><span></span>功能：</label>
                            <input type="text" class="form-control" id="function" name="function"  value="{$data.function}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="purpose" class="control-label"><span></span>用途：</label>
                            <input type="text" class="form-control" id="component" name="purpose"  value="{$data.purpose}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="purpose" class="control-label"><span></span>私密面料：</label>
                                            <div class="inline-group">
                                                <label class="radio">
                                                    <input type="radio" name="ispublic" value="1" checked="">
                                                    <i class="rounded-x"></i>否
                                                </label>
                                                <label class="radio">
                                                    <input type="radio" name="ispublic" value="0">
                                                    <i class="rounded-x"></i>是
                                                </label>
                                            </div>
                        </div>
                        <div class="form-group">
                            <label for="purpose" class="control-label"><span></span>私密等级：</label>
                                            <div class="rating">
                                                <input type="radio" name="fans_level" value="1" id="overall-5">
                                                <label for="overall-5"><i class="fa fa-star"></i></label>
                                                <input type="radio" name="fans_level" value="2" id="overall-4">
                                                <label for="overall-4"><i class="fa fa-star"></i></label>
                                                <input type="radio" name="fans_level" value="3" id="overall-3" checked>
                                                <label for="overall-3"><i class="fa fa-star"></i></label>
                                                <input type="radio" name="fans_level" value="4" id="overall-2">
                                                <label for="overall-2"><i class="fa fa-star"></i></label>
                                                <input type="radio" name="fans_level" value="5" id="overall-1">
                                                <label for="overall-1"><i class="fa fa-star"></i></label>
                                                私密等级
                                            </div>
                        </div>

                        <section class="state-error">
                            <label class="similarity"><span>* </span>状态：</label>
                            <div class="inline-group">
                                <php>
                                    $status_yes=$data['status']==1?"checked":"";
                                    $status_no=$data['status']==0?"checked":"";
                                </php>
                                <label class="radio"><input type="radio" name="status" value="1" {$status_yes}>启用</label>
                                <label class="radio"><input type="radio" name="status" value="0" {$status_no}>禁用</label>
                            </div>
                        </section>

                        <foreach name="ex_list" item="vo">
                        <div class="form-group">
                            <label class="control-label"><span></span>{$vo.key_name}：</label>
                    
                  
                            <input type="hidden" name="ex_id[{$vo.key_id}]" value="{$vo.tfp_id}">
                            <input type="hidden" name="ex_key_name[{$vo.key_id}]" value="{$vo.key_name}">
                            
                            <php>$is_must=$vo['is_must']?" required ":"";//是否必填</php>
                            <if condition="count($vo['value'])==0">
                                 <input type="text" name="ex[{$vo.key_id}]" {$is_must} value="{$vo['value_text']}">
                            <else />
                            
                                 <select <if condition="$vo['is_multi']">multiple="multiple" </if>style="min-width: 190px;" {$is_must} name="ex[{$vo.key_id}][]">
                                 <if condition="!($vo['is_multi'])"><option></option></if>
                                 <foreach name="vo['value']" item="so">
                                     <php>$template_selected=(($vo['value_id']==$so['id']) or (strstr(",".$vo['value_text']."," ,  ",".$so['id'].",")))?"selected":"";</php>
                                     <option value="{$so['id']}"{$template_selected}>{$so['value']}</option>                                 
                                 </foreach>  
                                 </select>
                                 <if condition="$vo['is_multi']"><span class="alert-warning"
                                  style="margin-top: 3px;">（可以多选）</span></if>
                            </if>
                       
                        </div>
                        </foreach>

                        <div class="reg-header margin-bottom-35"><h1>SKU信息</h1></div>
                    <script type="text/javascript">
                        function ReSeq(){
                            var p = document.getElementById("sku_tb").getElementsByTagName("tbody")[0];
                            var Seqs= document.getElementsByName("Seq[]");
                            var One= document.getElementsByName("One[]");
                            var Two= document.getElementsByName("Two[]");
                            for(var i=1;i<p.rows.length;i++){
                                var s = Seqs[i];
                                s.value=i-1;
                                
                                var o = One[i];
                                var t = Two[i];
                                if(i>2){
                                    var op=One[i-1];
                                    var tp=Two[i-1];            
                                    if(o.className.toLowerCase().indexOf("noborder")==-1){
                                        o.value =op.value;
                                        if(op.className.toLowerCase().indexOf("noborder")>-1 && tp.type=="hidden"){
                                           tp.type = "text";  
                                        }
                                    } else {
                                        if(op.className.toLowerCase().indexOf("noborder")>-1 && tp.type=="text"){
                                           tp.type = "hidden";
                                           tp.value= "";  
                                        }
                                        if(i==p.rows.length-1){
                                           t.type = "hidden";
                                           t.value= "";                     
                                        }                
                                    }
                                }
                                
                            }
                        }


                        function AddRow(){
                            var obj = document.getElementById("sku_tr");
                            var tbody = document.getElementById("sku_tb").getElementsByTagName("tbody")[0]; 
                            var Str = obj.parentNode.parentNode;
                            var tr = Str.cloneNode(true);
                            tr.style.display="";
                            tbody.appendChild(tr);
                            ReSeq();
                        } 
                         
                        function SubRow(me){
                            var pTr = me.parentNode.parentNode;
                            var obj = document.getElementById("sub_sku_tr");
                            var tbody = document.getElementById("sku_tb").getElementsByTagName("tbody")[0];
                            var Str = obj.parentNode.parentNode;
                            var tr =  Str.cloneNode(true);
                            tr.style.display="";
                            //pTr.parentNode.insertBefore(tr,pTr);
                            
                            if( pTr.parentNode.lastChild == pTr)
                            {
                                 pTr.parentNode.appendChild(tr);
                            }else
                            {
                                 pTr.parentNode.insertBefore(tr,pTr.nextSibling);
                            }
                                
                            ReSeq();
                        }

                        function DelRow(me){
                            var sTr = me.parentNode.parentNode;
                            if (sTr){
                                var yn = window.confirm('删除操作不可恢复！！！\n确实想删除？');
                                if (!yn) return false;
                            }
                            sTr.parentNode.removeChild(sTr);
                            
                            ReSeq();
                        }
                        function TextOrPhotoOrColor(type){    
                            var p = document.getElementById("sku_tb").getElementsByTagName("tbody")[0];
                            var One= document.getElementsByName("One[]");
                            var btn= document.getElementsByName("btn[]");
                            var img= document.getElementsByName("img[]");
                            for(var i=0;i<p.rows.length;i++){
                                var e = One[i];
                                if(e.className.toLowerCase().indexOf("noborder")>-1){
                                    if(type==1){
                                        e.type = "text"; 
                                        $(e).removeAttr('readonly');
                                        for(var b=0;b<btn.length;b++){
                                            btn[b].hidden = "hidden";
                                            img[b].hidden = "hidden";
                                        } 
                                    } else if(type==2){
                                        e.type = "text"; 
                                        $(e).attr('readonly','readonly');
                                        for(var b=0;b<btn.length;b++){
                                            btn[b].hidden = "";
                                            img[b].hidden = "";
                                        }
                                    } else {
                                        e.type = "color"; 
                                        $(e).removeAttr('readonly');
                                        for(var b=0;b<btn.length;b++){
                                            btn[b].hidden = "hidden";
                                            img[b].hidden = "hidden";
                                        }                          
                                    }
                                }
                            }    
                        }

                    </script>                      
                    <div class="form-group"> 
                        <table id="sku_tb" border="1" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;" bordercolor="#000" bgcolor="#fff">
                            <thead>                        
                                <tr height="20" align="center" nowrap bgcolor="#d0d0c8" style="cursor: default;">
                                        <td>行号</td>
                                        <td colspan="2">
                                        (一维)规格/款式/颜色等<br>
                                        <input type="radio" name="tpc" value="1" checked="checked" onclick="TextOrPhotoOrColor(1)">文字
                                        <input type="radio" name="tpc" value="2" onclick="TextOrPhotoOrColor(2)">图片
                                        <input type="radio" name="tpc" value="3" onclick="TextOrPhotoOrColor(3)">纯色
                                        </td>
                                        <td>(二维)规格/款式/颜色等</td>
                                        <td whidth="60">数量</td><td whidth="60">单价</td>
                                        <td bgcolor="#eofofc">操作</td>
                                    </tr>    
                            </thead>
                            <tbody>
                                <tr nowrap style="display: none;">
                                <td whidth="20" bgcolor="#D0D0C8">
                                <input style="width: 100%;background-color: #D0D0C8;text-align: center;" align="middle" class="noborder" name="Seq[]" value="" maxlength="5" size="2" id="sku_tr">
                                <input type="hidden" name="sku_id[]" value="">
                                </td>
                                <td whidth="120">
                                <input style="width: 120px;height: 100%;" name="One[]" class="noborder" value="" maxlength="255" size="10" title="" onkeyup="ReSeq()" onblur="ReSeq()">
                                </td>
                                <td nowrap>
                                <img hidden="hidden" name="img[]" src="__TMPL__/assets/img/default-thumbnail.png" 
                                style="height:32px;width: 32px;" onclick="parent.image_preview_dialog(this.src);">
                                <button hidden="hidden" name="btn[]" type="button" onclick="javascript:upload_sku_image('图片上传',this);">选择图片</button>
                                </td>
                                <td bgcolor="#D0D0C8"><input type="hidden" style="width: 100%;height: 100%;" name="Two[]" class="noborder" value="" maxlength="255" size="10" title=""></td>
                                <td><input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_num[]" 
                                    onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                    onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                    onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                    onfocus="this.select();" >
                                </td><td>
                                    <input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_price[]" 
                                    onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                    onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                    onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                    onfocus="this.select();" >
                                </td><td nowrap>
                                    <button type="button" class="btn btn-u" onclick="javascript:DelRow(this);">移除</button>
                                    <button type="button" class="btn btn-primary" onclick="javascript:SubRow(this);">子规格</button>
                                    
                                </td>
                                </tr>
                                <tr nowrap style="display: none;">
                                <td whidth="20" bgcolor="#D0D0C8">
                                    <input style="width: 100%;background-color: #D0D0C8;text-align: center;" align="middle" class="noborder" name="Seq[]" value="" maxlength="5" size="2" id="sub_sku_tr">
                                    <input type="hidden" name="sku_id[]" value="">
                                </td>
                                <td colspan="2" bgcolor="#D0D0C8">
                                    <input type="hidden" name="One[]" value="" ></td>
                                </td>
                                <td>
                                    <input style="width: 100%;height: 100%;" name="Two[]" class="noborder" value="" maxlength="255" size="10" title="">
                                </td>
                                <td><input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_num[]" 
                                    onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                    onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                    onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                    onfocus="this.select();" >
                                </td><td>
                                    <input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_price[]" 
                                    onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                    onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                    onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                    onfocus="this.select();" >
                                </td><td nowrap>
                                    <button type="button" class="btn btn-u" onclick="javascript:DelRow(this);">移除</button>
                                </td>
                                </tr>  
                                <foreach name="sku_list" item="vo" key="vo_key">
                                    <tr nowrap>
                                    <td whidth="20" bgcolor="#D0D0C8">
                                    <input style="width: 100%;background-color: #D0D0C8;text-align: center;" align="middle" class="noborder" name="Seq[]" value="" maxlength="5" size="2">
                                    <input type="hidden" name="sku_id[]" value="{$vo.id}">
                                    </td>
                                    <if condition="$vo['is_sub'] eq '1'">
                                    <td colspan="2" bgcolor="#D0D0C8"><input type="hidden" name="One[]" value="{$vo.key_name}" ></td>
                                    <else />
                                    <td whidth="120">
                                    <input style="width: 120px;height: 100%;" name="One[]" class="noborder" value="{$vo.key_name}" maxlength="255" size="10" title="" onkeyup="ReSeq()" onblur="ReSeq()">
                                    </td>
                                    <td nowrap>
                                    <img hidden="hidden" name="img[]" src="__TMPL__/assets/img/default-thumbnail.png" 
                                    style="height:32px;width: 32px;" onclick="parent.image_preview_dialog(this.src);">
                                    <button hidden="hidden" name="btn[]" type="button" onclick="javascript:upload_sku_image('图片上传',this);">选择图片</button>
                                    </td>
                                    </if>
                                    <td bgcolor="#D0D0C8">
                                    <if condition="($vo['is_sub'] eq '1') or ($vo.value_text neq '')">
                                        <input style="width: 100%;height: 100%;" name="Two[]" class="noborder" value="{$vo.value_text}" maxlength="255" size="10" title="">
                                    <else />
                                        <input type="hidden" style="width: 100%;height: 100%;" name="Two[]" class="noborder" value="{$vo.value_text}" maxlength="255" size="10" title="">
                                    </if>
                                    </td>
                                    <td><input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_num[]" value="{$vo.sku_num}" 
                                        onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                        onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                        onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                        onfocus="this.select();" >
                                    </td><td>
                                        <input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_price[]" value="{$vo.sku_price}" 
                                        onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                        onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                        onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                        onfocus="this.select();" >
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-u" onclick="javascript:DelRow(this);">移除</button>
                                    <if condition="$vo['is_sub'] neq '1'">    
                                        <button type="button" class="btn btn-primary" onclick="javascript:SubRow(this);">子规格</button>
                                    </if> 
                                    </td>
                                    </tr>                    
                                </foreach>                   
                            </tbody>
                        </table>    
                        <div style="text-align: center;">
                                <a href="javascript:AddRow();" style="margin-top: 10px;" class="btn btn-primary js-ajax-submit">增加SKU</a>
                        </div>                                
                        <div class="form-actions">
                            <button type="submit" class="btn btn-u"><if condition="$id eq ''">发布<else />保存</if></button>
                            <a class="btn" href="javascript:history.back(-1);">取消</a>
                        </div>                             
                        </fieldset>
                </form>
                </div>
        </div>
        <!--End apply-certificate-type1-content-->
    </div>
</div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script src="__PUBLIC__/u/js/plugins/style-switcher.js"></script>
    script src="__PUBLIC__/js/common.js"></script>

    <script type="text/javascript">
        //编辑器路径定义
        var editorURL = GV.WEB_ROOT;
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>

    <script type="text/javascript">
        $(function() {
            /////---------------------
            Wind.use('validate', 'ajaxForm', 'artDialog', function() {
                //javascript

                //编辑器
                editorcontent = new baidu.editor.ui.Editor();
                editorcontent.render('content');
                try {
                    editorcontent.sync();
                } catch (err) {
                }
                //增加编辑器验证规则
                jQuery.validator.addMethod('editorcontent', function() {
                    try {
                        editorcontent.sync();
                    } catch (err) {
                    }
                    return editorcontent.hasContents();
                });
                var form = $('form.js-ajax-forms');
                //ie处理placeholder提交问题
                if ($.browser && $.browser.msie) {
                    form.find('[placeholder]').each(function() {
                        var input = $(this);
                        if (input.val() == input.attr('placeholder')) {
                            input.val('');
                        }
                    });
                }

                var formloading = false;
                //表单验证开始
                form.validate({
                    //是否在获取焦点时验证
                    onfocusout : false,
                    //是否在敲击键盘时验证
                    onkeyup : false,
                    //当鼠标掉级时验证
                    onclick : false,
                    //验证错误
                    showErrors : function(errorMap, errorArr) {
                        //errorMap {'name':'错误信息'}
                        //errorArr [{'message':'错误信息',element:({})}]
                        try {
                            $(errorArr[0].element).focus();
                            art.dialog({
                                id : 'error',
                                icon : 'error',
                                lock : true,
                                fixed : true,
                                background : "#CCCCCC",
                                opacity : 0,
                                content : errorArr[0].message,
                                cancelVal : '确定',
                                cancel : function() {
                                    $(errorArr[0].element).focus();
                                }
                            });
                        } catch (err) {
                        }
                    },
                    //验证规则
                    rules : {
                        'name' : {
                            required : 1
                        },
                        'describe' : {
                            editorcontent : true
                        }
                    },
                    //验证未通过提示消息
                    messages : {
                        'name' : {
                            required : '请输入品名'
                        },
                        'describe' : {
                            editorcontent : '内容不能为空'
                        }
                    },
                    //给未通过验证的元素加效果,闪烁等
                    highlight : false,
                    //是否在获取焦点时验证
                    onfocusout : false,
                    //验证通过，提交表单
                    submitHandler : function(forms) {
                        if (formloading)
                            return;
                        $(forms).ajaxSubmit({
                            url : form.attr('action'), //按钮上是否自定义提交地址(多按钮情况)
                            dataType : 'json',
                            beforeSubmit : function(arr, $form, options) {
                                formloading = true;
                            },
                            success : function(data, statusText, xhr, $form) {
                                formloading = false;
                                if (data.status) {
                                    setCookie("refersh_time", 1);
                                    //添加成功
                                    Wind.use("artDialog", function() {
                                        art.dialog({
                                            id : "succeed",
                                            icon : "succeed",
                                            fixed : true,
                                            lock : true,
                                            background : "#CCCCCC",
                                            opacity : 0,
                                            content : data.info,
                                            button : [ {
                                                name : '继续编辑？',
                                                callback : function() {
                                                    //reloadPage(window);
                                                    return true;
                                                },
                                                focus : true
                                            }, {
                                                name : '返回列表页',
                                                callback : function() {
                                                    location = "{:U('Tf/List/my_fabric')}";
                                                    return true;
                                                }
                                            } ]
                                        });
                                    });
                                } else {
                                    artdialog_alert(data.info);
                                }
                            }
                        });
                    }
                });
            });
            ////-------------------------
        });
    function upload_sku_image(dialog_title,input_selector,extra_params,app){
    open_upload_dialog(dialog_title,function(dialog,files){
        
        var sTr = input_selector.parentNode.parentNode;
        $(sTr).find("input[name='One[]']").val(files[0].filepath);
    //    $(sTr).find("input[name='One[]']").attr('readonly','readonly');
        $(sTr).find("img").attr('src',files[0].preview_url);
       
        //alert( $(sTr).html() );
        //var One= document.getElementsByName("One[]");
        //var img= document.getElementsByName("img[]");
            
        //$(One[0]).val(files[0].filepath);
        //$(img[0]).attr('src',files[0].preview_url);
 
    },extra_params,0,'image',app);
    }
       
    function add_sku(container_selector,item_tpl_wrapper_id){
 
        var tpl=$('#'+item_tpl_wrapper_id).html();
        var html='';

        var files= [];
        /*
                var $this=$(this);
                var url = $this.data('url');
                var preview_url = $this.data('preview_url');
                var filepath = $this.data('filepath');
                var name = $this.data('name');
                var id = $this.data('id');
        */
        //alert($(container_selector).children().length);
        //alert($(container_selector).tagName);
        url=""; preview_url=""; filepath=""; name="";
        var container = $(container_selector); 
        id=container.children().length;      
        files.push({url:url,preview_url:preview_url,filepath:filepath,name:name,id:id});        
        $.each(files,function(i,item){
            var itemtpl= tpl;
        
            itemtpl=itemtpl.replace(/\{id\}/g,item.id);
            itemtpl=itemtpl.replace(/\{url\}/g,item.id);
            itemtpl=itemtpl.replace(/\{preview_url\}/g,item.id);
            itemtpl=itemtpl.replace(/\{filepath\}/g,item.id);
            itemtpl=itemtpl.replace(/\{name\}/g,item.id);
            html+=itemtpl;
        });
        
        container.append(html);

}         
    </script>    
</block>
<!-- 


<!DOCTYPE html>
[if IE 8]>
<html lang="en" class="ie8"> <![endif]
[if IE 9]>
<html lang="en" class="ie9"> <![endif]
[if !IE]>>
<html lang="en"> <![endif]
<head>
    <title>面料馆</title>

    <php>$style_normal=1;</php>
    <php>$style_shop=1;</php>
    <tc_include file="Public:head"/>

    CSS Page Style
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_magazine.css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/global.css">

    <link rel="stylesheet" href="__TMPL__assets/css/plugins/fileinput.css">
    
    CSS Theme
    <link rel="stylesheet" href="__PUBLIC__/u/css/theme-colors/{$theme_color}.css" id="style_color">
    <link rel="stylesheet" href="__PUBLIC__/u/css/theme-colors/{$theme_color}.shop.css" id="style_color_shop">
    <link rel="stylesheet" href="__PUBLIC__/u/css/theme-skins/dark.css">

    CSS Customization
    <link rel="stylesheet" href="__TMPL__assets/css/main.css">
    
    CSS Implementing Plugins
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
<style type="text/css">

TD {
    TABLE-LAYOUT: fixed; FONT-SIZE: 9pt; WORD-BREAK: break-all; FONT-FAMILY: "宋体"
}


INPUT.noborder {
    BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px
}

INPUT.noborder2 {
    BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-RIGHT: 0px; BORDER-TOP: 0px;background:#D0D0C8;background-color:#D0D0C8
}

</style>    
<script type="text/html" id="photos-item-wrapper">
    <li id="savedimage{id}">
        <input id="photo-{id}" type="hidden" name="photos_url[]" value="{filepath}"> 
        <img id="photo-{id}-preview" src="{url}" style="height:72px;width: 72px;" onclick="parent.image_preview_dialog(this.src);">
        名称：<input id="photo-{id}-name" type="text" name="photos_alt[]" value="{name}" style="width: 150px;" title="图片名称">
        <a class="btn btn-small" href="javascript:upload_one_image('图片上传','#photo-{id}');">替换</a>
        <a class="btn btn-small" href="javascript:$('#savedimage{id}').remove();">移除</a>
    </li>
</script> 
  
</head>

<body>
<div class="wrapper">

<tc_include file="Public:header"/>

    === Breadcrumbs v4 ===
<div class="breadcrumbs-v4">
    <div class="container">
        <span class="page-name">购物车</span>
        <ul class="breadcrumb-v4-in">
            <li><a href="{:U('Tf/List/my_fabric')}">首页</a></li>
            <li><a href="{:U('Tf/List/my_fabric')}">我的面料</a></li>
            <li class="active">发布面料</li>
        </ul>
    </div>/end container
</div>
=== End Breadcrumbs v4 ===

content
<div class="container content-sm clear-padding">
    <div class="needForm">
        needForm-content
        <div class="row">
            <div class="log-reg-v3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        
                <form id="validateForm4" class="reg-page sky-form  js-ajax-forms" action="{:U('Tf/Release/post')}" 
                method="post" enctype="multipart/form-data">
                 
                <fieldset style="padding: 30px">
                        <div class="reg-header margin-bottom-35"><h1>给我的店铺添加宝贝</h1></div>
                        <input type="hidden" name="id" value="{$id}">
                        <php>$data['img'] = json_decode($data['img'], true);</php>
                        <div class="form-group state-error">
                            <label for="smeta[thumb]" class="control-label"><span>* </span>商品主图</label>
                            <div style="text-align: left;margin-left: 100px;">
                                   <input type="hidden" name="smeta[thumb]" id="thumb" value="{$data.img.thumb|default=''}" aria-required="true">
                                    <a href="javascript:upload_one_image('图片上传','#thumb');">
                                        <if condition="empty($data['img']['thumb'])">     
                                            <img src="__TMPL__/assets/img/default-thumbnail.png" id="thumb-preview" width="135" style="cursor: hand"/>
                                        <else />
                                            <img src="{:sp_get_image_preview_url($data['img']['thumb'])}" id="thumb-preview" width="135" style="cursor: hand"/>
                                        </if>
                                    </a>
                                    <input type="button" class="btn btn-small" onclick="$('#thumb-preview').attr('src','__TMPL__/assets/img/default-thumbnail.png');$('#thumb').val('');return false;" value="取消图片">                       
                            </div>       
                            <span class="alert-warning"
                                  style="margin-top: 3px;">商品主图最多可上传1张图片，不能超过5M，建议上传面料的正面、反面、细节和边缘</span>
                        </div>

                        <div class="form-group">
                            <label for="" class="control-label">更多商品图片</label>
                            <div style="text-align: left;margin-left: 100px;">
                                <if condition="$id eq ''">
                                <ul id="photos" class="pic-list unstyled"></ul>
                                <a href="javascript:upload_multi_image('图片上传','#photos','photos-item-wrapper');" style="margin-top: 10px;" class="btn btn-primary js-ajax-submit">增加图片</a>                                
                                <else />
                                <ul id="photos" class="pic-list unstyled">
                                    <notempty name="smeta['photo']">
                                        <foreach name="smeta['photo']" item="vo">
                                        <php>$img_url=sp_get_image_preview_url($vo['url']);</php>
                                        <li id="savedimage{$key}">
                                            <input id="photo-{$key}" type="hidden" name="photos_url[]" value="{$img_url}">
                                            <img id="photo-{$key}-preview" src="{:sp_get_image_preview_url($vo['url'])}" style="height:72px;width: 72px;" onclick="parent.image_preview_dialog(this.src);">                                             
                                            名称：<input id="photo-{$key}-name" type="text" name="photos_alt[]" value="{$vo.alt}" style="width: 150px;" title="图片名称">
                                            <a class="btn btn-small" href="javascript:upload_one_image('图片上传','#photo-{$key}');">替换</a>
                                            <a class="btn btn-small" href="javascript:$('#savedimage{$key}').remove();">移除</a>
                                        </li>
                                        </foreach>
                                    </notempty>
                                </ul>
                                <a href="javascript:upload_multi_image('图片上传','#photos','photos-item-wrapper');" style="margin-top: 10px;" class="btn btn-primary js-ajax-submit">增加图片</a>
                                </if>
                            </div>
                            <span class="alert-warning"
                                  style="margin-top: 3px;">可上传多张图片，不能超过5M，建议上传面料的正面、反面、细节和边缘</span>
                            
                        </div>
                        
                        <div style="width: 50%;float: left;" class="form-group">
                            <label for="cid" class="control-label"><span>* </span>所属分类</label> 
                                <input type="hidden" name="cid" value="{$cid}" aria-required="true">
                                <input type="text" class="form-control" readonly="readonly" value="{$cat_name}"> 
                        </div>
                        <div style="width: 50%;float: left;" class="form-group">
                            <label for="name_code" class="control-label"><span>* </span>编码名称</label> 
                                <input type="hidden" name="name_code" value="{$name_code}" aria-required="true">
                                <input type="text" class="form-control" readonly="readonly" value="{$code_name}">
                        </div> 
                        
                        <div style="width: 80%;float: left;" class="form-group">
                            <label for="code" style="width: 100%;float: left;" class="control-label"><span>* </span>面料编码：</label> 
                            <input type="text" style="width: 80px;float: left;" class="form-control" id="vend_id" name="vend_id" value="{$data.vend_id}" readonly="readonly" aria-required="true">                           
                            <input type="text" style="width: 80px;float: left;" class="form-control" id="cid" name="cid" value="{$cid}" readonly="readonly" aria-required="true">                           
                            <input type="text" style="width: 80px;float: left;" class="form-control" id="name_code" name="name_code" value="{$name_code}" readonly="readonly" aria-required="true">                           
                            <input type="text" style="width: 200px;float: left;" class="form-control" id="code" name="code" value="{$data.code}" placeholder="请输入商家自编号" aria-required="true">                           
                        </div> 
                        <div style="width: 20%;float: left;" class="form-group">
                            <label class="control-label">二维码</label> 
                            <notempty name="id">
                            <script type="text/javascript" src="__PUBLIC__/js/qrcode.min.js"></script>
                            <div id="qrcode" style="width: 60px;margin:0 auto"></div>
                            <script type="text/javascript">
                                var qrcode = new QRCode(document.getElementById("qrcode"), {
                                width : 60,
                                height : 60
                                });
                                function makeCode () {        
                                qrcode.makeCode("http://{$_SERVER['HTTP_HOST']}{$_SERVER['REQUEST_URI']}");
                                }
                                makeCode();
                            </script>                             
                            </notempty>
                        </div> 
                                                                                               
                        <div class="form-group">
                            <label for="name" style="width: 100%;" class="control-label"><span>* </span>品名</label> 
                            <input type="text" class="form-control" id="name" name="name" value="{$data.name}" placeholder="请输入品名" aria-required="true">                           
                        </div> 

                                                                       
                        <div class="form-group">
                            <label for="price" class="control-label"><span>* </span>价格</label> 
                            <input type="text" class="form-control" id="price" name="price"  value="{$data.price}"
                                   placeholder="请填写价格" aria-required="true">
                        </div>
                                                
                        <div class="form-group">
                            <label class="control-label">面料描述</label>
                            <script type="text/plain" id="content" name="describe">{$data.describe}</script>
                        </div>

                        <div class="form-group">
                            <label for="spec" class="control-label"><span></span>规格</label>
                            <input type="text" class="form-control" id="spec" name="spec"  value="{$data.spec}"
                                   placeholder="" >
                        </div>                        
                        <div class="form-group">
                            <label for="width" class="control-label"><span></span>门幅：</label>
                            <input type="text" class="form-control" id="width" name="width"  value="{$data.width}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="weight" class="control-label"><span></span>克重：</label>
                            <input type="text" class="form-control" id="weight" name="weight"  value="{$data.weight}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="material" class="control-label"><span></span>原料：</label>
                            <input type="text" class="form-control" id="material" name="material"  value="{$data.material}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="component" class="control-label"><span></span>成分：</label>
                            <input type="text" class="form-control" id="component" name="component"  value="{$data.component}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="function" class="control-label"><span></span>功能：</label>
                            <input type="text" class="form-control" id="function" name="function"  value="{$data.function}"
                                   placeholder="" >
                        </div>
                        <div class="form-group">
                            <label for="purpose" class="control-label"><span></span>用途：</label>
                            <input type="text" class="form-control" id="component" name="purpose"  value="{$data.purpose}"
                                   placeholder="" >
                        </div>


                        <section class="state-error">
                            <label class="similarity"><span>* </span>状态：</label>
                            <div class="inline-group">
                                <php>
                                    $status_yes=$data['status']==1?"checked":"";
                                    $status_no=$data['status']==0?"checked":"";
                                </php>
                                <label class="radio"><input type="radio" name="status" value="1" {$status_yes}>启用</label>
                                <label class="radio"><input type="radio" name="status" value="0" {$status_no}>禁用</label>
                            </div>
                        </section>

                        <foreach name="ex_list" item="vo">
                        <div class="form-group">
                            <label class="control-label"><span></span>{$vo.key_name}：</label>
                    
                  
                            <input type="hidden" name="ex_id[{$vo.key_id}]" value="{$vo.tfp_id}">
                            <input type="hidden" name="ex_key_name[{$vo.key_id}]" value="{$vo.key_name}">
                            
                            <php>$is_must=$vo['is_must']?" required ":"";//是否必填</php>
                            <if condition="count($vo['value'])==0">
                                 <input type="text" name="ex[{$vo.key_id}]" {$is_must} value="{$vo['value_text']}">
                            <else />
                            
                                 <select <if condition="$vo['is_multi']">multiple="multiple" </if>style="min-width: 190px;" {$is_must} name="ex[{$vo.key_id}][]">
                                 <if condition="!($vo['is_multi'])"><option></option></if>
                                 <foreach name="vo['value']" item="so">
                                     <php>$template_selected=(($vo['value_id']==$so['id']) or (strstr(",".$vo['value_text']."," ,  ",".$so['id'].",")))?"selected":"";</php>
                                     <option value="{$so['id']}"{$template_selected}>{$so['value']}</option>                                 
                                 </foreach>  
                                 </select>
                                 <if condition="$vo['is_multi']"><span class="alert-warning"
                                  style="margin-top: 3px;">（可以多选）</span></if>
                            </if>
                       
                        </div>
                        </foreach>

                        <div class="reg-header margin-bottom-35"><h1>SKU信息</h1></div>
                    <script type="text/javascript">
                        function ReSeq(){
                            var p = document.getElementById("sku_tb").getElementsByTagName("tbody")[0];
                            var Seqs= document.getElementsByName("Seq[]");
                            var One= document.getElementsByName("One[]");
                            var Two= document.getElementsByName("Two[]");
                            for(var i=1;i<p.rows.length;i++){
                                var s = Seqs[i];
                                s.value=i-1;
                                
                                var o = One[i];
                                var t = Two[i];
                                if(i>2){
                                    var op=One[i-1];
                                    var tp=Two[i-1];            
                                    if(o.className.toLowerCase().indexOf("noborder")==-1){
                                        o.value =op.value;
                                        if(op.className.toLowerCase().indexOf("noborder")>-1 && tp.type=="hidden"){
                                           tp.type = "text";  
                                        }
                                    } else {
                                        if(op.className.toLowerCase().indexOf("noborder")>-1 && tp.type=="text"){
                                           tp.type = "hidden";
                                           tp.value= "";  
                                        }
                                        if(i==p.rows.length-1){
                                           t.type = "hidden";
                                           t.value= "";                     
                                        }                
                                    }
                                }
                                
                            }
                        }


                        function AddRow(){
                            var obj = document.getElementById("sku_tr");
                            var tbody = document.getElementById("sku_tb").getElementsByTagName("tbody")[0]; 
                            var Str = obj.parentNode.parentNode;
                            var tr = Str.cloneNode(true);
                            tr.style.display="";
                            tbody.appendChild(tr);
                            ReSeq();
                        } 
                         
                        function SubRow(me){
                            var pTr = me.parentNode.parentNode;
                            var obj = document.getElementById("sub_sku_tr");
                            var tbody = document.getElementById("sku_tb").getElementsByTagName("tbody")[0];
                            var Str = obj.parentNode.parentNode;
                            var tr =  Str.cloneNode(true);
                            tr.style.display="";
                            //pTr.parentNode.insertBefore(tr,pTr);
                            
                            if( pTr.parentNode.lastChild == pTr)
                            {
                                 pTr.parentNode.appendChild(tr);
                            }else
                            {
                                 pTr.parentNode.insertBefore(tr,pTr.nextSibling);
                            }
                                
                            ReSeq();
                        }

                        function DelRow(me){
                            var sTr = me.parentNode.parentNode;
                            if (sTr){
                                var yn = window.confirm('删除操作不可恢复！！！\n确实想删除？');
                                if (!yn) return false;
                            }
                            sTr.parentNode.removeChild(sTr);
                            
                            ReSeq();
                        }
                        function TextOrPhotoOrColor(type){    
                            var p = document.getElementById("sku_tb").getElementsByTagName("tbody")[0];
                            var One= document.getElementsByName("One[]");
                            var btn= document.getElementsByName("btn[]");
                            var img= document.getElementsByName("img[]");
                            for(var i=0;i<p.rows.length;i++){
                                var e = One[i];
                                if(e.className.toLowerCase().indexOf("noborder")>-1){
                                    if(type==1){
                                        e.type = "text"; 
                                        $(e).removeAttr('readonly');
                                        for(var b=0;b<btn.length;b++){
                                            btn[b].hidden = "hidden";
                                            img[b].hidden = "hidden";
                                        } 
                                    } else if(type==2){
                                        e.type = "text"; 
                                        $(e).attr('readonly','readonly');
                                        for(var b=0;b<btn.length;b++){
                                            btn[b].hidden = "";
                                            img[b].hidden = "";
                                        }
                                    } else {
                                        e.type = "color"; 
                                        $(e).removeAttr('readonly');
                                        for(var b=0;b<btn.length;b++){
                                            btn[b].hidden = "hidden";
                                            img[b].hidden = "hidden";
                                        }                          
                                    }
                                }
                            }    
                        }

                    </script>                      
                    <div class="form-group"> 
                        <table id="sku_tb" border="1" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;" bordercolor="#000" bgcolor="#fff">
                            <thead>                        
                                <tr height="20" align="center" nowrap bgcolor="#d0d0c8" style="cursor: default;">
                                        <td>行号</td>
                                        <td colspan="2">
                                        (一维)规格/款式/颜色等<br>
                                        <input type="radio" name="tpc" value="1" checked="checked" onclick="TextOrPhotoOrColor(1)">文字
                                        <input type="radio" name="tpc" value="2" onclick="TextOrPhotoOrColor(2)">图片
                                        <input type="radio" name="tpc" value="3" onclick="TextOrPhotoOrColor(3)">纯色
                                        </td>
                                        <td>(二维)规格/款式/颜色等</td>
                                        <td whidth="60">数量</td><td whidth="60">单价</td>
                                        <td bgcolor="#eofofc">操作</td>
                                    </tr>    
                            </thead>
                            <tbody>
                                <tr nowrap style="display: none;">
                                <td whidth="20" bgcolor="#D0D0C8">
                                <input style="width: 100%;background-color: #D0D0C8;text-align: center;" align="middle" class="noborder" name="Seq[]" value="" maxlength="5" size="2" id="sku_tr">
                                <input type="hidden" name="sku_id[]" value="">
                                </td>
                                <td whidth="120">
                                <input style="width: 120px;height: 100%;" name="One[]" class="noborder" value="" maxlength="255" size="10" title="" onkeyup="ReSeq()" onblur="ReSeq()">
                                </td>
                                <td nowrap>
                                <img hidden="hidden" name="img[]" src="__TMPL__/assets/img/default-thumbnail.png" 
                                style="height:32px;width: 32px;" onclick="parent.image_preview_dialog(this.src);">
                                <button hidden="hidden" name="btn[]" type="button" onclick="javascript:upload_sku_image('图片上传',this);">选择图片</button>
                                </td>
                                <td bgcolor="#D0D0C8"><input type="hidden" style="width: 100%;height: 100%;" name="Two[]" class="noborder" value="" maxlength="255" size="10" title=""></td>
                                <td><input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_num[]" 
                                    onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                    onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                    onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                    onfocus="this.select();" >
                                </td><td>
                                    <input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_price[]" 
                                    onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                    onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                    onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                    onfocus="this.select();" >
                                </td><td nowrap>
                                    <button type="button" class="btn btn-u" onclick="javascript:DelRow(this);">移除</button>
                                    <button type="button" class="btn btn-primary" onclick="javascript:SubRow(this);">子规格</button>
                                    
                                </td>
                                </tr>
                                <tr nowrap style="display: none;">
                                <td whidth="20" bgcolor="#D0D0C8">
                                    <input style="width: 100%;background-color: #D0D0C8;text-align: center;" align="middle" class="noborder" name="Seq[]" value="" maxlength="5" size="2" id="sub_sku_tr">
                                    <input type="hidden" name="sku_id[]" value="">
                                </td>
                                <td colspan="2" bgcolor="#D0D0C8">
                                    <input type="hidden" name="One[]" value="" ></td>
                                </td>
                                <td>
                                    <input style="width: 100%;height: 100%;" name="Two[]" class="noborder" value="" maxlength="255" size="10" title="">
                                </td>
                                <td><input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_num[]" 
                                    onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                    onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                    onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                    onfocus="this.select();" >
                                </td><td>
                                    <input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_price[]" 
                                    onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                    onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                    onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                    onfocus="this.select();" >
                                </td><td nowrap>
                                    <button type="button" class="btn btn-u" onclick="javascript:DelRow(this);">移除</button>
                                </td>
                                </tr>  
                                <foreach name="sku_list" item="vo" key="vo_key">
                                    <tr nowrap>
                                    <td whidth="20" bgcolor="#D0D0C8">
                                    <input style="width: 100%;background-color: #D0D0C8;text-align: center;" align="middle" class="noborder" name="Seq[]" value="" maxlength="5" size="2">
                                    <input type="hidden" name="sku_id[]" value="{$vo.id}">
                                    </td>
                                    <if condition="$vo['is_sub'] eq '1'">
                                    <td colspan="2" bgcolor="#D0D0C8"><input type="hidden" name="One[]" value="{$vo.key_name}" ></td>
                                    <else />
                                    <td whidth="120">
                                    <input style="width: 120px;height: 100%;" name="One[]" class="noborder" value="{$vo.key_name}" maxlength="255" size="10" title="" onkeyup="ReSeq()" onblur="ReSeq()">
                                    </td>
                                    <td nowrap>
                                    <img hidden="hidden" name="img[]" src="__TMPL__/assets/img/default-thumbnail.png" 
                                    style="height:32px;width: 32px;" onclick="parent.image_preview_dialog(this.src);">
                                    <button hidden="hidden" name="btn[]" type="button" onclick="javascript:upload_sku_image('图片上传',this);">选择图片</button>
                                    </td>
                                    </if>
                                    <td bgcolor="#D0D0C8">
                                    <if condition="($vo['is_sub'] eq '1') or ($vo.value_text neq '')">
                                        <input style="width: 100%;height: 100%;" name="Two[]" class="noborder" value="{$vo.value_text}" maxlength="255" size="10" title="">
                                    <else />
                                        <input type="hidden" style="width: 100%;height: 100%;" name="Two[]" class="noborder" value="{$vo.value_text}" maxlength="255" size="10" title="">
                                    </if>
                                    </td>
                                    <td><input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_num[]" value="{$vo.sku_num}" 
                                        onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                        onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                        onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                        onfocus="this.select();" >
                                    </td><td>
                                        <input style="width:100%;height:100%;text-align:right" class="noborder" name="sku_price[]" value="{$vo.sku_price}" 
                                        onkeyup="value=value.replace(/[^\-\d\.]/g,'') " 
                                        onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\-\d\.]/g,''))" 
                                        onblur="value=value.replace(/[^\-\d\.]/g,'')" 
                                        onfocus="this.select();" >
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-u" onclick="javascript:DelRow(this);">移除</button>
                                    <if condition="$vo['is_sub'] neq '1'">    
                                        <button type="button" class="btn btn-primary" onclick="javascript:SubRow(this);">子规格</button>
                                    </if> 
                                    </td>
                                    </tr>                    
                                </foreach>                   
                            </tbody>
                        </table>    
                        <div style="text-align: center;">
                                <a href="javascript:AddRow();" style="margin-top: 10px;" class="btn btn-primary js-ajax-submit">增加SKU</a>
                        </div>                                
                        <div class="form-actions">
                            <button type="submit" class="btn btn-u"><if condition="$id eq ''">发布<else />保存</if></button>
                            <a class="btn" href="javascript:history.back(-1);">取消</a>
                        </div>                             
                        </fieldset>
                </form>
                </div>
        </div>
        End apply-certificate-type1-content
    </div>
</div>
End content
    <tc_include file="Public:footer"/>
</div>/wrapper

<tc_include file="Public:scripts"/>
JS Global Compulsory
<script src="__PUBLIC__/u/plugins/jquery/jquery.min.js"></script>
<script src="__PUBLIC__/u/plugins/jquery/jquery-migrate.min.js"></script>
<script src="__PUBLIC__/u/plugins/bootstrap/js/bootstrap.min.js"></script>

<script src="__TMPL__assets/js/plugins/fileinput.min.js"></script>
<script src="__TMPL__assets/js/plugins/fileinput_locale_zh.js"></script>
<script src="__TMPL__assets/js/plugins/jquery.cityselect.js"></script>
<script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>

JS Implementing Plugins
<script src="__PUBLIC__/u/plugins/back-to-top.js"></script>
<script src="__PUBLIC__/u/plugins/smoothScroll.js"></script>
<script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
<script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
JS Customization 
<script src="aa__PUBLIC__/u/js/custom.js"></script>
<script src="aa__TMPL__assets/js/custom.js"></script>
JS Page Level
<script src="__PUBLIC__/u/js/shop.app.js"></script>
<script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
<script src="__PUBLIC__/u/js/plugins/style-switcher.js"></script>
<script>
    jQuery(document).ready(function () {
        App.init();
        App.initScrollBar();
        MouseWheel.initMouseWheel();
        StyleSwitcher.initStyleSwitcher();
        
            $('#validateForm4').validate({
                rules: {
                    "smeta[thumb]": 'required',
                    name: 'required',
                    code: 'required',
                    description: 'required',
                    number: 'required',
                    similarity: 'required',
                    category: 'required',
                    allow: 'required',
                    price: 'required',
                    title: 'required',
                    majorAttributes: 'required',
                    extentAttributes: 'required',
                    QTY: 'required'
                },
                messages: {
                    "smeta[thumb]": '参考图片不能为空',
                    name: '品名不能为空',
                    code: '商家编码不能为空',
                    description: '面料描述不能为空',
                    number: '采购数量不能为空',
                    similarity: '必须选择相似程度',
                    category: '请选择需求类别',
                    allow: '请选择是否允许商家来电',
                    price: '请输入价格',
                    title: '请输入产品标题',
                    majorAttributes: '请输入主要属性',
                    extentAttributes: '请输入扩展属性',
                    QTY: '请输入库存数量'
                },
                errorPlacement: function (error, element) {
                    if (element.is(":file")) {
                        error.appendTo(element.parent().parent().parent().parent().parent());
                    } else {
                        error.appendTo(element.is(":radio") || element.is(":checkbox") ? element.parent().parent().parent() : element.parent())
                    }
                }
            });
    /*        
    $("#city_1").citySelect({
        url: 'js/plugins/city.min.js',
        prov: "广东"
    });
    */
           
            
    });   
</script>
<script src="__PUBLIC__/js/common.js"></script>

    <script type="text/javascript">
        //编辑器路径定义
        var editorURL = GV.WEB_ROOT;
    </script>
    <script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>

    <script type="text/javascript">
        $(function() {
            /////---------------------
            Wind.use('validate', 'ajaxForm', 'artDialog', function() {
                //javascript

                //编辑器
                editorcontent = new baidu.editor.ui.Editor();
                editorcontent.render('content');
                try {
                    editorcontent.sync();
                } catch (err) {
                }
                //增加编辑器验证规则
                jQuery.validator.addMethod('editorcontent', function() {
                    try {
                        editorcontent.sync();
                    } catch (err) {
                    }
                    return editorcontent.hasContents();
                });
                var form = $('form.js-ajax-forms');
                //ie处理placeholder提交问题
                if ($.browser && $.browser.msie) {
                    form.find('[placeholder]').each(function() {
                        var input = $(this);
                        if (input.val() == input.attr('placeholder')) {
                            input.val('');
                        }
                    });
                }

                var formloading = false;
                //表单验证开始
                form.validate({
                    //是否在获取焦点时验证
                    onfocusout : false,
                    //是否在敲击键盘时验证
                    onkeyup : false,
                    //当鼠标掉级时验证
                    onclick : false,
                    //验证错误
                    showErrors : function(errorMap, errorArr) {
                        //errorMap {'name':'错误信息'}
                        //errorArr [{'message':'错误信息',element:({})}]
                        try {
                            $(errorArr[0].element).focus();
                            art.dialog({
                                id : 'error',
                                icon : 'error',
                                lock : true,
                                fixed : true,
                                background : "#CCCCCC",
                                opacity : 0,
                                content : errorArr[0].message,
                                cancelVal : '确定',
                                cancel : function() {
                                    $(errorArr[0].element).focus();
                                }
                            });
                        } catch (err) {
                        }
                    },
                    //验证规则
                    rules : {
                        'name' : {
                            required : 1
                        },
                        'describe' : {
                            editorcontent : true
                        }
                    },
                    //验证未通过提示消息
                    messages : {
                        'name' : {
                            required : '请输入品名'
                        },
                        'describe' : {
                            editorcontent : '内容不能为空'
                        }
                    },
                    //给未通过验证的元素加效果,闪烁等
                    highlight : false,
                    //是否在获取焦点时验证
                    onfocusout : false,
                    //验证通过，提交表单
                    submitHandler : function(forms) {
                        if (formloading)
                            return;
                        $(forms).ajaxSubmit({
                            url : form.attr('action'), //按钮上是否自定义提交地址(多按钮情况)
                            dataType : 'json',
                            beforeSubmit : function(arr, $form, options) {
                                formloading = true;
                            },
                            success : function(data, statusText, xhr, $form) {
                                formloading = false;
                                if (data.status) {
                                    setCookie("refersh_time", 1);
                                    //添加成功
                                    Wind.use("artDialog", function() {
                                        art.dialog({
                                            id : "succeed",
                                            icon : "succeed",
                                            fixed : true,
                                            lock : true,
                                            background : "#CCCCCC",
                                            opacity : 0,
                                            content : data.info,
                                            button : [ {
                                                name : '继续编辑？',
                                                callback : function() {
                                                    //reloadPage(window);
                                                    return true;
                                                },
                                                focus : true
                                            }, {
                                                name : '返回列表页',
                                                callback : function() {
                                                    location = "{:U('Tf/List/my_fabric')}";
                                                    return true;
                                                }
                                            } ]
                                        });
                                    });
                                } else {
                                    artdialog_alert(data.info);
                                }
                            }
                        });
                    }
                });
            });
            ////-------------------------
        });
function upload_sku_image(dialog_title,input_selector,extra_params,app){
    open_upload_dialog(dialog_title,function(dialog,files){
        
        var sTr = input_selector.parentNode.parentNode;
        $(sTr).find("input[name='One[]']").val(files[0].filepath);
    //    $(sTr).find("input[name='One[]']").attr('readonly','readonly');
        $(sTr).find("img").attr('src',files[0].preview_url);
       
        //alert( $(sTr).html() );
        //var One= document.getElementsByName("One[]");
        //var img= document.getElementsByName("img[]");
            
        //$(One[0]).val(files[0].filepath);
        //$(img[0]).attr('src',files[0].preview_url);
 
    },extra_params,0,'image',app);
}
       
function add_sku(container_selector,item_tpl_wrapper_id){
 
        var tpl=$('#'+item_tpl_wrapper_id).html();
        var html='';

        var files= [];
        /*
                var $this=$(this);
                var url = $this.data('url');
                var preview_url = $this.data('preview_url');
                var filepath = $this.data('filepath');
                var name = $this.data('name');
                var id = $this.data('id');
        */
        //alert($(container_selector).children().length);
        //alert($(container_selector).tagName);
        url=""; preview_url=""; filepath=""; name="";
        var container = $(container_selector); 
        id=container.children().length;      
        files.push({url:url,preview_url:preview_url,filepath:filepath,name:name,id:id});        
        $.each(files,function(i,item){
            var itemtpl= tpl;
        
            itemtpl=itemtpl.replace(/\{id\}/g,item.id);
            itemtpl=itemtpl.replace(/\{url\}/g,item.id);
            itemtpl=itemtpl.replace(/\{preview_url\}/g,item.id);
            itemtpl=itemtpl.replace(/\{filepath\}/g,item.id);
            itemtpl=itemtpl.replace(/\{name\}/g,item.id);
            html+=itemtpl;
        });
        
        container.append(html);

}         
    </script>    

</body>
</html> -->
