<extend name="Public:base-v8" />
<block name="title"><title>发布面料</title></block>
<block name="plugins_css"> 
</block>
<block name="css">
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">商家中心</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="{:leuu('Tf/Release/add')}">发布面料</a></li>
                <li class="active">选择分类</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>

<block name="main">
    <div class="container content-sm clear-padding">
    <div class="needForm">
        <!--needForm-content-->
        <div class="row">
            <div class="log-reg-v3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
   
                <form id="validateForm4" action="{:U('Tf/Release/add2')}" method="post" class="reg-page sky-form" enctype="multipart/form-data">
                    <fieldset style="padding: 30px">
                        <div class="reg-header margin-bottom-35"><h1>第一步，请先选择分类：</h1></div>
                        
                        <div>
                            <input type="hidden" name="id" value="{$id}">        
                             <h4>
                             <div style="width: 65%;float: left;" class="form-group">
                             <label for="cid" class="control-label">分类：</label>
                                    <select name="cid">
                                        <option value="">请选择面料分类</option>
                                        {$cats_tree}
                                    </select>
                             </div>
                             
                             <div style="width: 35%;float: left;" class="form-group">        
                             <label for="name_code" class="control-label">名称：</label>
                                    <select name="name_code">
                                        <option value="">请选择名称</option>
                                        
                                    <foreach name="TextileFabricName" item="vo">
                                        <php>$selected=$vo['code']==$name_code?"selected":""</php>
                                        <option value="{$vo.code}" {$selected}>{$vo.cname}</option>
                                    </foreach>                                        
                                    </select> 
                             </div>
                             </h4>                     
                        </div>
                        <div class="reg-header margin-bottom-35"><h1><button type="submit" class="btn btn-u">下一步</button></h1></div>


                        
                    </fieldset>
                </form>
            </div>
        </div>

        <!--End apply-certificate-type1-content-->
    </div>
</div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- JS Customization 
    <script src="aa__PUBLIC__/u/js/custom.js"></script>
    <script src="aa__TMPL__assets/js/custom.js"></script>  -->
    <!-- JS Page Level -->
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script src="__PUBLIC__/u/js/plugins/style-switcher.js"></script>
</block>
<block name="js"></block>
    <script>
    jQuery(document).ready(function () {
        App.init();
        App.initScrollBar();
        MouseWheel.initMouseWheel();
        StyleSwitcher.initStyleSwitcher();
        
            $('#validateForm4').validate({
                rules: {
                    cid: 'required',
                    name_code: 'required'
                },
                messages: {
                    cid: '请选择分类',
                    name_code: '请选择名称'
                },
                errorPlacement: function (error, element) {

                }
            });        
    });
</script>
