<extend name="Admin:base-v2" />
<block name="css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/media/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Buttons/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Select/css/select.bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/js/DataTables/extensions/Editor/css/editor.bootstrap.min.css">
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:void(0)">角色权限</a></li>
                <li><a href="{:U('index')}">返回</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table id="rule-table" class="table table-striped table-bordered"></table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script src="__PUBLIC__/js/jquery/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Select/js/dataTables.select.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script src="__PUBLIC__/js/DataTables/extensions/Editor/js/editor.bootstrap.min.js"></script>
    <script>
        var url = "{:leuu('authorize', array('id'=>$_GET['id']))}";
        var editor;
        var role_id = "{$_GET['id']}";
        var table;
        $(function(){
            table = $('#rule-table').DataTable({
                lengthChange: false,
                dom: "Bfrtip",
                rowId: 'id',
                paging: false,
                select: {
                    style: 'multi+shift',
                    selector: 'tr'
                },
                //order: [[ 1, 'asc' ]],
                "ajax": {
                    "url": url,
                    //"dataSrc": "data",//默认为data
                    "type": "post",
                    "error":function(){noty({type:'error',text:"服务器未正常响应，请重试"});}
                },
                "createdRow": function ( row, data, index ) {
                    if (data.is_checked == 1) {
                        table.row(row).select();
                    }
                },
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    },
                    "select": {
                        "rows": {
                            _: "已选择%d行",
                            0: "点击选中某行"
                        }
                    }
                },
                "columns": [{
                    /*"data": null,
                    "orderable": false,
                    "className": "select-checkbox",
                },{*/
                    "data": "id",
                    "title": "ID"
                },{
                    "data": "title",
                    "title": "名称"
                },{
                    "data": "name",
                    "title": "规则"
                },{
                    "data": "param",
                    "title": "参数"
                },{
                    "data": "type",
                    "title": "类型"
                },{
                    "data": "module",
                    "title": "模块",
                }],
                buttons: [
                    { extend: "selectAll", text: "全选" },
                    { extend: "selectNone", text: "全不选" },
                    {
                        text: '保存',
                        action: function () {
                            var rows = table.rows( { selected: true } ).ids();
                            var length = rows.count();
                            var ids = new Array();
                            for(var i=0;i<length;i++){
                                ids.push(rows[i]);
                            }

                            data = {roleid:role_id,ids:ids};
                            url = "{:leuu('authorize_post')}";
                            $.post(url,data,function(response){
                                if (response.status == 1) {
                                    noty({type:'success',text:response.info});
                                    table.ajax.reload().draw();
                                } else {
                                    noty({type:'error',text:response.info});
                                }
                            });
                        }
                    }
                ]
            });
        })
    </script>
</block>