<extend name="Admin:base-v2" />
<block name="css">
    <style>
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li class="active"><a href="{:U('index')}">角色管理</a></li>
                <li><a href="{:U('roleadd')}">添加角色</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th width="30">ID</th>
                            <th>角色</th>
                            <th>备注</th>
                            <th width="60" align="left">{:L('STATUS')}</th>
                            <th width="120">{:L('ACTIONS')}</th>
                        </tr>
                        </thead>
                <tbody>
                    <foreach name="roles" item="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.remark}</td>
                        <td>
                            <if condition="$vo['status'] eq 1">
                                <font color="red">√</font>
                            <else /> 
                                <font color="red">╳</font>
                            </if>
                        </td>
                        <td>
                            <if condition="$vo['id'] eq 1">
                                <font color="#cccccc">权限设置</font>|<!-- <a href="javascript:open_iframe_dialog('{:U('rbac/member',array('id'=>$vo['id']))}','成员管理');">成员管理</a> | -->
                                <font color="#cccccc">{:L('EDIT')}</font> | <font color="#cccccc">{:L('DELETE')}</font>
                            <else />
                                <a href="{:U('authorize',array('id'=>$vo['id']))}">权限设置</a>|
                                <!-- <a href="javascript:open_iframe_dialog('{:U('rbac/member',array('id'=>$vo['id']))}','成员管理');">成员管理</a>| -->
                                <a href="{:U('roleedit',array('id'=>$vo['id']))}">{:L('EDIT')}</a>|
                                <a class="js-ajax-delete" href="{:U('roledelete',array('id'=>$vo['id']))}">{:L('DELETE')}</a>
                            </if>
                        </td>
                    </tr>
                    </foreach>
                </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
        })
    </script>
</block>