<extend name="Admin:base-v2" />
<block name="css">
    <style>
    </style>
</block>
<block name="main">
    <div class="container-fluid content-xs">
        <div class="tab-v2">
            <ul class="nav nav-tabs">
                <li><a href="{:U('index')}">角色管理</a></li>
                <li class="active"><a href="javascript:void(0);">添加角色</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        <div class="col-md-6 col-sm-8">
                            <form class="sky-form" action="{:U('roleadd_post')}" method="post">
                                <fieldset>
                                    <section>
                                        <label class="label">角色名称</label>
                                        <label class="input">
                                            <input type="text" name="name" id="rolename" required placeholder="必填">
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">备注</label>
                                        <label class="textarea">
                                            <textarea name="remark" rows="3" id="remark"></textarea>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label">{:L('STATUS')}</label>
                                        <div class="inline-group">
                                            <label class="radio" for="active_true"><input type="radio" name="status" value="1" checked id="active_true" /><i></i>{:L('ENABLED')}</label>
                                            <label class="radio" for="active_false"><input type="radio" name="status" value="0" id="active_false"><i></i>{:L('DISABLED')}</label>
                                        </div>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn-u">{:L('ADD')}</button>
                                    <a class="btn-u btn-u-default" href="javascript:history.back(-1);">{:L('BACK')}</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate();
        })
    </script>
</block>