<extend name="Public:base-v8" />
<block name="title"><title>购买米样 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.min.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/scrollbar/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/owl-carousel2/assets/owl.carousel.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/master-slider/masterslider/style/masterslider.css">
    <link rel='stylesheet' href="__PUBLIC__/u/plugins/master-slider/masterslider/skins/default/style.css">
    <link rel="stylesheet" href="__TMPL__assets/css/plugins/fileinput.css">
</block>
<block name="page_css">
    <link rel="stylesheet" href="__PUBLIC__/u/css/pages/blog_magazine.css">
</block>
<block name="css">
    <style>
        .shop-product {background:#fff;}
        .shop-product .product-quantity {float:none;}

        .sky-form .radio.product-size,
        .sky-form .radio.product-color {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            padding: 0;
        }
        .sky-form .radio.product-size {
            width: auto;
        }
        .sky-form .radio.product-size input + i,
        .sky-form .radio.product-color input + i {
            position: relative;
            border: 2px solid #999999;
            border-radius: 0;
            width: 50px;
            height: 50px;
            background-size: contain;
            font-size: 18px;
            font-style: normal;
            line-height: 50px;
        }
        .sky-form .radio.product-size input + i:hover,
        .sky-form .radio.product-color input + i:hover {
            border:2px solid #E6125D;
        }
        .sky-form .radio.product-size input + i {
            width: auto;
            padding: 0 15px;
        }
        .sky-form .radio.product-size input:checked + i,
        .sky-form .radio.product-color input:checked + i {
            border-color: #E6125D;
            color: #E6125D;
        }
        .sky-form .radio.product-size input:checked + i:after,
        .sky-form .radio.product-color input:checked + i:after {
            display:none;
        }
        .total-result p {font-size:16px;}
        .total-result p span {font-size:16px;margin-left:10px;}

        .triangle-topleft {
            position:absolute;
            top: 7px;
            left: 2px;
            width: 0;
            height: 0;
            border-top: 30px solid #999999;
            border-right: 30px solid transparent;

        }
        .color-num {
            position: absolute;
            top: 6px;
            left: 1px;
            width: 30px;
            height: 30px;
            padding-left: 2px;
            background: transparent;
            color: #fff;
            font-size: 12px;
            text-align: left;
        }
        .list-inline>li:hover .triangle-topleft{
            border-top: 30px solid #E6125D;
            border-right: 30px solid transparent;
        }
        
        .sky-form .radio.product-size:hover .triangle-topleft,.sky-form .radio.product-color:hover .triangle-topleft{
             border-top: 30px solid #E6125D;
            border-right: 30px solid transparent;
        }
        .sky-form .radio.product-size input:checked + i + .triangle-topleft,
        .sky-form .radio.product-color input:checked + i + .triangle-topleft {
            border-top: 30px solid #E6125D;
            border-right: 30px solid transparent;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">购买米样</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li class="active">购买米样</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content shop-product">
        <form id="easy-order-form" class="sky-form" method="post" action="{:leuu('easy_order_post')}">
            <fieldset>
                <div class="media margin-bottom-20">
                    <a class="media-left" href="#">
                        <img class="media-object" style="width: 64px; height: 64px;" src="{:get_thumb_url($tf[img][thumb], true)}">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{$tf.name}</h4>
                        <p class="price color-red" style="font-size:18px;">
                            <present name="tf[selected_sku]">
                                ￥{$tf.selected_sku.sku_price}
                                <else />
                                
                            <eq name="tf[min_price]" value="$tf[max_price]">
                                
                            ￥{$tf.min_price}
                            <else/>
                            ￥{$tf.min_price} - {$tf.max_price}
                            </eq>
                            </present>
                        </p>
                    </div>
                </div>
                <section>
                    <label class="label">颜色</label>
                    <div class="inline-group">
                        <foreach name="tf[sku]" item="vo">
                            <php>
                                $type = $vo['value_type'];
                                if($type == 3){
                                $style='color:transparent;background:url('.get_thumb_url($vo['value_text'],true,150).');background-size: contain;';
                                $ulclass="product-color";
                                } elseif($type == 2){
                                $style='color:transparent;background-color: '.$vo['value_text'].';';
                                $ulclass="product-color";
                                } else {
                                    $style="";
                                $ulclass="product-size";
                                }
                                $checked = $tf['selected_sku']['id'] == $vo['id'] ? 'checked':'';
                                $buy_disabled = $vo['sku_type'] > 0 ? '':'disabled';
                            </php>
                            <eq name="vo.sku_type" value="1">  
                                <label class="radio {$ulclass}">
                                    <input type="radio" data-price="{$vo.sku_price}" name="sku_id" data-max="{$vo.max_buy}" data-code="{$vo.color_code}" value="{$vo.id}" {$checked} {$buy_disabled}>
                                    <i style="{$style}">
                                        <eq name="type" value="1">
                                        {$vo.value_text}
                                        </eq>
                                    </i> 
                                        <div class="triangle-topleft">
                                        </div>
                                        <span class="color-num">{$vo.color_code}</span>
                                    
                                </label>
                            </eq>
                        </foreach>
                    </div>
                </section>
                <section>
                    <label class="label">数量</label>
                    <div class="product-quantity margin-bottom-10">
                        <button type='button' class="quantity-button" name='subtract' value='-'>-
                        </button>
                        <input type='number' class="quantity-field" name='goods_number' value="{$_GET['number']|default=1}" id='qty'/>
                        <button type='button' class="quantity-button" name='add' value='+'>+
                        </button>
                    </div>
                    <span class="tip hide"></span>
                </section>
                <section>
                    <empty name="addresses">  
                        <p><a href="{:leuu('Address/Bm/add')}"><span aria-hidden="true" class="icon-plus"></span>&nbsp;&nbsp;添加收货地址</a></p>
                    <else/>
                        <label class="label">选择地址</label>
                    </empty>
                    
                    <foreach name="addresses" item="vo">
                        <php>
                            $checked = $vo['is_default'] ? 'checked':'';
                        </php>
                        <label class="radio">
                            <input type="radio" name="address_id" value="{$vo.address_id}" {$checked}><i class="rounded-x"></i>
                            {$vo.province_name}{$vo.city_name}{$vo.district_name}
                            {$vo.address} {$vo.zipcode} {$vo.consignee} {$vo.mobile}
                        </label>
                    </foreach>
                </section>
                <section>
                    <label class="label">选择配送方式</label>
                    <foreach name="shippings" item="vo">
                        <php>
                            $checked = $vo['shipping_code'] == $shipping['shipping_code'] ? 'checked':'';
                        </php>
                        <label class="radio">
                            <input type="radio" name="shipping_id" value="{$vo.shipping_id}" {$checked}><i class="rounded-x"></i>
                            {$vo.shipping_name}
                        </label>
                    </foreach>
                </section>
                <section>
                    <label class="label">附言</label>
                    <label class="textarea">
                        <textarea class="form-control" type="text" rows="3" name="postscript"
                                  placeholder="给供应商的留言"></textarea>
                    </label>
                </section>
            </fieldset>
            <footer>
                <ul class="total-result">
                    <li>
                        <p class="goods-amount">总价:<span class="color-red">
                            <present name="sku">
                                ￥{$sku[sku_price]*$goods_number|number_format=2}
                                <else />
                                ---
                            </present>
                            </span></p>
                    </li>
                    <li>
                        <p>运费:<span class="color-red">免邮</span></p>
                    </li>
                    <li class="order-amount">
                        <p>合计:<span class="color-red">
                            <present name="sku">
                                ￥{$sku[sku_price]*$goods_number|number_format=2}
                                <else />
                                ---
                            </present>
                            </span></p>
                    </li>
                </ul>
                <input type="hidden" name="tf_code" value="{$tf.tf_code}">
                <button class="btn-u btn-u-lg rounded" type="submit">提交订单</button>
                <button class="btn-u btn-u-lg btn-u-default rounded" type="button">返回</button>
            </footer>
        </form>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/noUiSlider/jquery.nouislider.all.min.js"></script>
    <script src="__PUBLIC__/u/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Master Slider -->
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/masterslider.min.js"></script>
    <script src="__PUBLIC__/u/plugins/master-slider/masterslider/jquery.easing.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
</block>
<block name="app_js">
    <script src="__PUBLIC__/u/js/shop.app.js"></script>
    <script src="__PUBLIC__/u/js/plugins/mouse-wheel.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init();
            App.initScrollBar();
        });
    </script>
</block>
<block name="js">
    <script>
        $(function(){
            var $form = $('#easy-order-form');

            $dafault_max = parseInt($form.find('[name="sku_id"]:checked').data('max'));
            //$form.find('.quantity-field').attr('max',$dafault_max);
            $('.quantity-button').on('click',function(){
                var $this = $(this);
                var $qty = $this.parent().find('.quantity-field');
                var number = parseInt($qty.val());
                var max_mun = parseInt($form.find('[name="sku_id"]:checked').data('max'));
                //$qty.attr('max',max_mun);
                if($this.val() == '+'){
                    if(number < max_mun){
                        $qty.val(number+1); 
                    }
                }else{
                    if(number > 1){
                        $qty.val(number-1);
                    }
                }
                refreshTotal()
            });
            $('.quantity-field').blur(function(){
                var $this = $(this);
                var number = parseInt($this.val());
                if(isNaN(number)) number = 1;
                if(number < 1) number = 1;
                $this.val(number);
                refreshTotal()
            });

            $('[name="sku_id"]').on('change',function(){
                var $radio = $('[name="sku_id"]:checked');
                var color_code = $radio.data('code');
                $change_max = parseInt($radio.data('max'));
                //$form.find('.quantity-field').attr('max',$change_max);

                
                price = parseFloat($radio.data('price'));
                $form.find('.media .price').text('￥'+price.toFixed(2));
                refreshTotal()
            });

            function refreshTotal(){
                price = parseFloat($form.find('[name="sku_id"]:checked').data('price'));
                number = $form.find('[name="goods_number"]').val();
                total = (price * number).toFixed(2);
                $('.goods-amount span,.order-amount span').text('￥'+total);
            }

            var slider = new MasterSlider();
            slider.control('arrows');
            slider.control('thumblist', {
                autohide: false,
                dir: 'h',
                arrows: true,
                align: 'bottom',
                width: 60,
                height: 60,
                margin: 5,
                space: 5
            });
            slider.setup('masterslider', {
                width: 550,
                height: 550,
                space: 5,
                view: 'fade'
            });
            $form.validate();
        });
    </script>
</block>
<block name="iefix"><!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</block>