<extend name="Public:base-v8" />
<block name="title"><title>我的订单 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .table th {
            text-align: center;
            vertical-align:middle !important;
        }
        .table th {
            color:#fff;
            background-color: #E6125D;
            margin-bottom: 10px;
        }
        label.input.col-sm-3.date2:before {
            content: '-';
            position: absolute;
            left: -10px;
            width: 20px;
            text-align: center;
            line-height: 34px;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">我的订单</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li class="active">我的订单</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav"/>
            <php>$statuses = D('Order/Order')->statuses;</php>
            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <php>
                            if(!isset($_REQUEST['status'])) $default_active = 'active';
                        </php>
                        <li class="{$default_active}"><a href="{:leuu('index')}">所有订单</a></li>
                        <foreach name="statuses" item="vo">
                            <php>
                                if(in_array($key, array('closed','refunded'))) continue;
                                $actived = $_GET['status'] == $key ? 'active':'';
                            </php>
                            <li class="{$actived}"><a href="{:leuu('index',array('status'=>$key))}">{$vo}</a></li>
                        </foreach>
                    </ul>
                    <div class="tab-content">
                        <notpresent name="_REQUEST[status]">
                            <form class="sky-form" method="get" action="{:U('index')}" style="margin-bottom:30px!important;border: 1px solid #eee;">
                                <header>筛选</header>
                                <fieldset>
                                    <section class="row">
                                        <label class="input col-sm-3">
                                            <input type="text" name="filter[keywords]" placeholder="关键字" value="{$filter.keywords}">
                                        </label>
                                        <label class="input col-sm-3" style="padding-right:10px;">
                                            <input id="data-start" type="text" name="filter[datestart]" placeholder="开始日期" value="{$filter.datestart}">
                                        </label>
                                        <label class="input col-sm-3 date2" style="padding-left:10px;">
                                            <input id="data-finish" type="text" name="filter[datefinish]" placeholder="截止日期" value="{$filter.datefinish}">
                                        </label>
                                        <label class="select col-sm-2">
                                            <select name="filter[status]">
                                                <option value="">所有</option>
                                                <foreach name="statuses" item="vo">
                                                    <php>$selected = $filter['status'] == $key ? 'selected':'';</php>
                                                    <option value="{$key}" {$selected}>{$vo}</option>
                                                </foreach>
                                            </select>
                                            <i></i>
                                        </label>
                                        <label class="col-sm-1">
                                            <button type="submit" class="btn-u"><i class="fa fa-search"></i> </button>
                                        </label>
                                    </section>
                                </fieldset>
                            </form>
                        </notpresent>
                        <table class="table">
                            <thead>
                            <tr >
                                <th>宝贝</th>
                                <th>单价</th>
                                <th>数量</th>
                                <th>总价</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <volist name="orders[data]" id="vo">
                                <tbody>
                                <tr>
                                    <td></td>
                                </tr>
                                <tr class="table-bordered" style="background-color:#F5F5F5;" >
                                    <td><label>{:date('Y-m-d H:i:s', $vo[add_time])}</label>&nbsp;&nbsp;<span>订单号:<a href="{:leuu('view',array('id'=>$vo[id]))}">{$vo.order_sn}</a></span><span></span></td>
                                    <td></td>
                                    <td colspan="4"></td>
                                </tr>
                                </tbody>
                                <tbody class="table-bordered">
                                <tr >
                                    <td>
                                        <div class="product">
                                            <a class="product-photo pull-left" href="{:leuu('Tf/Tf/fabric',array('tfsn'=>$vo[goods][tf_code]))}">
                                                <img src="{:get_thumb_url($vo[goods][thumb], true, 150)}" style="width:80px;">
                                            </a>
                                            <div style="margin-left:90px;">
                                                <a href="{:leuu('Tf/Tf/fabric',array('tfsn'=>$vo[goods][tf_code]))}">{$vo[goods][tf_name]}</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td align="center">￥{$vo[goods][price]}</td>
                                    <td align="center">{$vo[goods][number]}</td>
                                    <td align="center" class="table-bordered"><span style="font-weight:bold;">￥{$vo.order_amount}</span></td>
                                    <td align="center" class="table-bordered">
                                            <span style="display: block">
                                                <in name="vo[order_status]" value="0,1">
                                                    <in name="vo[pay_status]" value="0,1">等待买家付款</in>
                                                <eq name="vo[pay_status]" value="2">
                                                    <in name="vo[shipping_status]" value="0,3,4">买家已付款</in>
                                                    <eq name="vo[shipping_status]" value="1">卖家已发货</eq>
                                                    <eq name="vo[shipping_status]" value="2">交易成功</eq>
                                                </eq>
                                                </in>
                                                <in name="vo[order_status]" value="2,3">交易关闭</in>
                                                <eq name="vo[order_status]" value="4">退款中的订单</eq>
                                            </span>
                                    </td>
                                    <td align="center" class="table-bordered">
                                        <notin name="vo[order_status]" value="2,3,4">
                                            <eq name="vo[pay_status]" value="0">
                                                <a href="{:leuu('Wx/Pay/order',array('id'=>$vo[id]))}" class="btn btn-block btn-info btn-xs">立即付款</a>
                                            </eq>
                                        </notin>
                                        <a href="{:leuu('view',array('id'=>$vo[id]))}" class="btn btn-block btn-default btn-xs">订单详情</a>
                                        <notin name="vo[order_status]" value="2,3,4">
                                            <eq name="vo[pay_status]" value="0">
                                                <button type="button" class="btn btn-block btn-default btn-xs js-ajax-btn"
                                                        data-confirm="true"
                                                        data-msg="是否要取消订单？"
                                                        data-id="{$vo[id]}"
                                                        data-href="{:leuu('cancel')}">取消订单</button>
                                            </eq>
                                        </notin>
                                    </td>
                                </tr>
                                </tbody>
                            </volist>
                        </table>
                        <ul class="pagination">{$orders.page}</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script type="text/javascript" src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        // Date range
        $('#data-start').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-finish').datepicker('option', 'minDate', selectedDate);
            }
        });
        $('#data-finish').datepicker({
            dateFormat: 'yy-mm-dd',
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>',
            onSelect: function( selectedDate )
            {
                $('#data-start').datepicker('option', 'maxDate', selectedDate);
            }
        });
    </script>
</block>