<present name="page">
    <div id="page_{$page.page_id}" role="tabpanel" class="tab-pane removable style1"
         data-tpl="style1" data-page_id="{$page.page_id}">
        <div class="heading">
            <div class="row">
                <div class="col-xs-6 text-left">面料馆</div>
                <div class="col-xs-6 text-right">馆藏天下布</div>
            </div>
        </div>

        <div class="fabric-list">
            <volist name="page[items]" id="vo">
                <php>
                    if(isset($selected_fabrics)){
                    $fabric = isset($selected_fabrics[$vo['tf_id']]) ? $selected_fabrics[$vo['tf_id']]:array();
                    }else{
                    $fabric = json_decode($vo['item_fabric'],true);
                    }
                </php>
                <div class="row fabric-block" data-item_id="{$vo.item_id}">
                    <div class="col-xs-6 block-left">
                        <div class="thumbnail placeimg">
                            <notempty name="fabric">
                                <div class="fabric" data-tf_id="{$fabric.id}"
                                     data-name="{$fabric.name}"
                                     data-spec="{$fabric.spec}"
                                     data-material="{$fabric.material}"
                                     data-component="{$fabric.component}"
                                     data-code="{$fabric.vend_id}{$fabric.cid}{$fabric.code}{$fabric.name_code}" style="display: list-item;">
                                    <notempty name="fabric[img][thumb]">
                                        <notpresent name="selected_fabrics">
                                            <a href="{:leuu('Tf/tf/fabric',array('id'=>$fabric['id']))}" target="_blank">
                                                <img class="img-responsive" src="{:sp_get_image_preview_url($fabric['img']['thumb'])}">
                                            </a>
                                            <else />
                                            <img class="img-responsive" src="{:sp_get_image_preview_url($fabric['img']['thumb'])}">
                                        </notpresent>
                                        <else />
                                        <img class="img-responsive" src="__PUBLIC__/images/default-thumbnail.png">
                                    </notempty>
                                    <span>{$fabric.code}</span>
                                </div>
                            </notempty>
                        </div>
                    </div>
                    <div class="col-xs-6 block-right">
                        <eq name="key" value="0">
                            <div class="supplier-info text-center">
                                <h3>{$member.long_name}</h3>
                            </div>
                        </eq>
                        <div class="fabric-info">
                            <div class="fabric-qr pull-left">
                                <notempty name="fabric">
                                    <img class="img-response" src="{:leuu('Tf/tf/qr',array('id'=>$fabric['id']))}" />
                                </notempty>
                            </div>
                            <ul class="fabric-attr list-unstyled pull-left">
                                <li class="fabric-code">编号：<span>{$fabric.vend_id}{$fabric.cid}{$fabric.code}{$fabric.name_code}</span></li>
                                <li class="fabric-width">幅宽：<span>{$fabric.width}</span></li>
                                <li class="fabric-weight">克重：<span>{$fabric.weight}</span></li>
                                <li class="fabric-color">颜色：<span>{$fabric.color}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </volist>
        </div>
    </div>
    <else />
    <div role="tabpanel" class="tab-pane removable style1" data-tpl="style1">
        <div class="heading">
            <div class="row">
                <div class="col-xs-6 text-left">面料馆</div>
                <div class="col-xs-6 text-right">馆藏天下布</div>
            </div>
        </div>

        <div class="fabric-list">
            <for start="0" end="5">
                <div class="row fabric-block">
                    <div class="col-xs-6 block-left">
                        <div class="thumbnail placeimg"></div>
                    </div>
                    <div class="col-xs-6 block-right">
                        <eq name="i" value="0">
                            <div class="supplier-info text-center">
                                <h3>{$member.long_name}</h3>
                            </div>
                        </eq>
                        <div class="fabric-info">
                            <div class="fabric-qr pull-left"></div>
                            <ul class="fabric-attr list-unstyled pull-left">
                                <li class="fabric-code">编号：<span></span></li>
                                <li class="fabric-width">幅宽：<span></span></li>
                                <li class="fabric-weight">克重：<span></span></li>
                                <li class="fabric-color">颜色：<span></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </for>
        </div>
    </div>
</present>