<admintpl file="header" />
<style>
    .select2 {width:400px;}
</style>
</head>
<body>
<div class="wrap">
    <form method="post" class="form-horizontal js-ajax-form" action="{:U('Wx/AdminSetting/config')}">
        <fieldset>
            <legend>微信公众号设置</legend>
            <div class="control-group">
                <label class="control-label">appID</label>
                <div class="controls">
                    <input type="text" style="width:400px;" required name="config[appId]" value="{$config[appId]}" placeholder="必填" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">appsecret</label>
                <div class="controls">
                    <input type="text" style="width:400px;" required name="config[appSecret]" value="{$config[appSecret]}" placeholder="必填" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Token</label>
                <div class="controls">
                    <input type="text" style="width:400px;" required name="config[token]" value="{$config[token]}" placeholder="必填" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">商户号</label>
                <div class="controls">
                    <input type="text" style="width:400px;" name="config[mchId]" value="{$config[mchId]}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">商户API密钥</label>
                <div class="controls">
                    <input type="text" style="width:400px;" name="config[key]" value="{$config[key]}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">encodingAESKey</label>
                <div class="controls">
                    <input type="text" style="width:400px;" name="config[encodingAESKey]" value="{$config[encodingAESKey]}" placeholder="可选" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">URL</label>
                <div class="controls">
                    <input type="text" style="width:600px;color:#999;" readonly value="http://www.mlg.kim/index.php?g=wx&m=wechat&a=index" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">登录二维码有效时间</label>
                <div class="controls">
                    <input type="number" min="30" name="config[loginQrcodeExpired]" value="{$config[loginQrcodeExpired]}" />
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:L('SAVE')}</button>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/select2/js/select2.min.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script>
    $(document).ready(function(){
        $(".select2").select2({
            tags: true,
            closeOnSelect: false
        });
    })
</script>
</body>
</html>