<admintpl file="header" />
<style>
    .ui-state-addbtn {
        border: 1px solid #c5c5c5;
        background: #f6f6f6;
        font-weight: normal;
        color: #454545;
        text-align:center;
    }
    .ui-state-addbtn a {display:block;width:100%;height:100%;}
    .ui-state-addbtn a:hover,.ui-state-addbtn a:active,.ui-state-addbtn a:visited {text-decoration:none;}
    .menu-list * {box-sizing: border-box;}
    .menu-item {float:left;width:100px;margin-right: 5px;}
    .menu-item .parent {position:relative;padding:0;margin: 4px 0 0 0;height:30px;line-height: 30px;border:1px solid #c5c5c5}
    .menu-item .item-title {display:block;width:100%;height:100%;}
    .menu-item .parent .item-title {font-weight: bold;}
    .item-title,.item-title:hover,.item-title:focus,.item-title.active {color:#333;text-decoration:none;}
    .menu-item .submenu-panel {position:relative;height:174px;background:#eee;}
    .menu-item .submenu-panel dl {position:absolute;bottom:0;margin:0;width:100%;}
    .menu-item .submenu-panel dd {position:relative;width:100%;height:30px;margin: 0 0 -1px 0;line-height: 30px;text-align:center;}
    .menu-item .active {border-color:green;}
    .menu-item .submenu-panel dd.active {margin-bottom:0;}
    .menu-item .close {
        position: absolute;
        top: 4px;
        right: 4px;
        font-size: 18px;
    }
</style>
</head>
<body>
<div class="wrap">
    <form class="form-horizontal js-ajax-form" method="post" action="{:U('Wx/AdminSetting/menu')}">
        <fieldset>
            <legend>微信公众号自定义菜单设置</legend>
            <div style="margin-bottom:20px;">
                <button type="button" class="btn btn-primary btn-add">添加菜单</button>
            </div>
            <div class="row">
                <div class="menu-list span5">
                    <volist name="menu[button]" id="vo">
                        <div class="menu-item">
                            <div class="submenu-panel">
                                <dl class="sortable droptrue">
                                    <foreach name="vo[sub_button]" item="voo">
                                        <php>
                                            $voo_attrs = '';
                                            foreach($voo as $k=>$v){
                                            $voo_attrs .= 'data-'.$k.'="'.$v.'" ';
                                            }
                                        </php>
                                        <dd class="child ui-state-default" {$voo_attrs}><a href="#" class="item-title">{$voo.name}</a><span class="close">x</span></dd>
                                    </foreach>
                                    <dd class="ui-state-addbtn"><a href="#">+</a></dd>
                                </dl>
                                <div class="clearfix"></div>
                            </div>
                            <php>
                                $vo_attrs = '';
                                foreach($vo as $k=>$v){
                                if($k == 'sub_button') break;
                                $vo_attrs .= 'data-'.$k.'="'.$v.'" ';
                                }
                            </php>
                            <h5 class="parent sortable-title text-center" {$vo_attrs}><a href="#" class="item-title">{$vo.name}</a><span class="close">x</span></h5></div>
                    </volist>
                </div>
                <div class="menu-data-inputs span6">
                    <div>
                        <div class="control-group">
                            <label class="control-label">菜单名称</label>
                            <div class="controls">
                                <input type="text" name="name" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="control-group">
                            <label class="control-label">菜单动作</label>
                            <div class="controls">
                                <label>
                                    <input type="radio" name="type" value="view" data-target="url" />链接
                                </label>
                                <label>
                                    <input type="radio" name="type" value="click" data-target="key" />触发关键字
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="control-group">
                            <div id="action-target" class="controls">
                                <input type="text" name="url" placeholder="url" style="display:none;" />
                                <input type="text" name="key" placeholder="key" style="display:none;" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-done" type="button">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <input type="hidden" id="menu-json" name="json" value="{$menu_json}">
        <div class="form-actions">
            <button type="submit" class="btn btn-primary js-ajax-submit AJAX_SUBMIT_MENU">更新菜单</button>
        </div>
    </form>
</div>
<script src="__PUBLIC__/js/common.js"></script>
<script>
    $(document).ready(function(){
        var $menu_list = $('.menu-list');
        $('.btn-add').on('click', function(){
            var item_count = $('.menu-list > .menu-item').length;
            if(item_count < 3){
                var name = "菜单" + (item_count+1);
                var html = $('<div class="menu-item">' +
                        '<div class="submenu-panel">' +
                        '<dl class="sortable droptrue">' +
                        '<dd class="ui-state-addbtn"><a href="#">+</a></dd>' +
                        '</dl>' +
                        '<div class="clearfix"></div> ' +
                        '</div> ' +
                        '<h5 class="parent sortable-title text-center" data-name="' + name + '">' +
                        '<a href="#" class="item-title">' + name + '</a><span class="close">x</span></h5>' +
                        '</div>');
                $('.menu-list').append(html);
                update_json();
            }
        });
        $menu_list.on('click', '.menu-item .ui-state-addbtn', function(){
            var $this = $(this);
            var item_count = $this.parent().find('.ui-state-default').length;
            if(item_count < 5){
                var name = "子菜单" + (item_count+1);
                var dd = $('<dd class="child ui-state-default" data-name="' + name + '">' +
                        '<a href="#" class="item-title">' + name + '</a><span class="close">x</span></dd>');
                $this.parent().prepend(dd);
                update_json();
            }
        });
        $menu_list.on('click', '.close', function(){
            var $this = $(this);
            var item = $this.parent();
            if(item.hasClass('child')){
                item.remove();
            }else if(item.hasClass('parent')){
                item.parent().remove();
            }
            update_json();
        });
        $('.menu-data-inputs input[name="type"]').on('change', function(){
            var $action_target = $('#action-target');
            $action_target.find('[name="'+$(this).data('target')+'"]').show().siblings().hide();
            $menu_list.find('.active').data('type',$(this).data('type'));
            var target_val = $('.menu-data-inputs input[name="'+$(this).data('target')+'"]').val();
            $menu_list.find('.active').data($(this).data('target'),target_val);
        });
        $menu_list.on('click', '.parent,.child', function(){
            var allow_types = ['url','view'];
            var $this = $(this);
            var $action_target = $('#action-target');
            $menu_list.find('.active').removeClass('active');
            $this.addClass('active');
            $action_target.find('input').hide();

            var $input_name = $('.menu-data-inputs input[name="name"]');
            var $input_type = $('.menu-data-inputs input[name="type"]');
            $input_name.val($this.data('name'));
            if($this.data('type') != undefined && $.inArray($this.data('type'),allow_types)){
                var target_name = $input_type.filter('[value="'+$this.data('type')+'"]').prop('checked',true).data('target');
                $action_target.find('[name="'+target_name+'"]').val($this.data(target_name)).show().siblings().hide();
            }else{
                $input_type.filter(':checked').prop('checked',false);
                $action_target.find('input').hide();
            }
        });
        $('.menu-data-inputs .btn-done').on('click',update_json);
        $('.menu-data-inputs input').on('blur', update_json);

    });
    var event_types = {'view':'url','click':'key'};
    function update_json(){
        var $menu_list = $('.menu-list');
        var inpdatas = $('.menu-data-inputs input').serializeArray();
        for(x in inpdatas){
            $menu_list.find('.active').data(inpdatas[x].name,inpdatas[x].value);
            if(inpdatas[x].name == 'name'){
                $menu_list.find('.active .item-title').text(inpdatas[x].value);
            }
        }

        var $menus = $menu_list.find('.menu-item');
        var menu_data = {button:[]};
        for(var i=0; i< $menus.length; i++){
            var $parent = $($menus[i]).find('.parent');
            var $children = $($menus[i]).find('.child');
            var item = {};
            if($children.length > 0){
                item = {name:$parent.data('name'),sub_button:[]};
                for(var j=0; j<$children.length; j++){
                    var sub_item = {
                        "name":$($children[j]).data('name'),
                        "type":$($children[j]).data('type')
                    };
                    eval('sub_item.'+event_types[$($children[j]).data('type')]+'=$($children[j]).data("'+event_types[$($children[j]).data('type')]+'")');
                    item.sub_button.push(sub_item);
                }
                menu_data.button.push(item);
            }else{
                item = {
                    name:$parent.data('name'),
                    type:$parent.data('type')
                };
                eval('item.'+event_types[$parent.data('type')]+'=$parent.data("'+event_types[$parent.data('type')]+'")')
                menu_data.button.push(item);
            }
        }

        var json = JSON.stringify(menu_data);
        $('#menu-json').val(json);
        return json;

    }
</script>
</body>
</html>