<div role="tabpanel" class="tab-pane removable grid8">
    <div class="fabric-block">
        <div class="thumbnail list-unstyled placeimg"></div>
        <div class="info">
            <div class="qrcode"></div>
            <div class="desc">
                <h3 class="fabric-name"></h3>
                <ul class="list-unstyled">
                    <li class="fabric-spec"></li>
                    <li class="fabric-material"></li>
                    <li class="fabric-component"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fabric-block">
        <div class="thumbnail list-unstyled placeimg"></div>
        <div class="info">
            <div class="qrcode"></div>
            <div class="desc">
                <h3 class="fabric-name"></h3>
                <ul class="list-unstyled">
                    <li class="fabric-spec"></li>
                    <li class="fabric-material"></li>
                    <li class="fabric-component"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fabric-block">
        <div class="thumbnail list-unstyled placeimg"></div>
        <div class="info">
            <div class="qrcode"></div>
            <div class="desc">
                <h3 class="fabric-name"></h3>
                <ul class="list-unstyled">
                    <li class="fabric-spec"></li>
                    <li class="fabric-material"></li>
                    <li class="fabric-component"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fabric-block">
        <div class="thumbnail list-unstyled placeimg"></div>
        <div class="info">
            <div class="qrcode"></div>
            <div class="desc">
                <h3 class="fabric-name"></h3>
                <ul class="list-unstyled">
                    <li class="fabric-spec"></li>
                    <li class="fabric-material"></li>
                    <li class="fabric-component"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fabric-block">
        <div class="thumbnail list-unstyled placeimg"></div>
        <div class="info">
            <div class="qrcode"></div>
            <div class="desc">
                <h3 class="fabric-name"></h3>
                <ul class="list-unstyled">
                    <li class="fabric-spec"></li>
                    <li class="fabric-material"></li>
                    <li class="fabric-component"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fabric-block">
        <div class="thumbnail list-unstyled placeimg"></div>
        <div class="info">
            <div class="qrcode"></div>
            <div class="desc">
                <h3 class="fabric-name"></h3>
                <ul class="list-unstyled">
                    <li class="fabric-spec"></li>
                    <li class="fabric-material"></li>
                    <li class="fabric-component"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fabric-block">
        <div class="thumbnail list-unstyled placeimg"></div>
        <div class="info">
            <div class="qrcode"></div>
            <div class="desc">
                <h3 class="fabric-name"></h3>
                <ul class="list-unstyled">
                    <li class="fabric-spec"></li>
                    <li class="fabric-material"></li>
                    <li class="fabric-component"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fabric-block">
        <div class="thumbnail list-unstyled placeimg"></div>
        <div class="info">
            <div class="qrcode"></div>
            <div class="desc">
                <h3 class="fabric-name"></h3>
                <ul class="list-unstyled">
                    <li class="fabric-spec"></li>
                    <li class="fabric-material"></li>
                    <li class="fabric-component"></li>
                </ul>
            </div>
        </div>
    </div>
</div>