<extend name="Public:base-v8" />
<block name="title"><title>付款 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/jquery-steps/css/custom-jquery.steps.css">
</block>
<block name="css">
    <style>
        .shopping-cart .product-it-in {margin-top:0;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">支付订单</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('User/Center/index')}">用户中心</a></li>
                <li><a href="{:leuu('index')}">我的订单</a></li>
                <li class="active">支付订单</li>
            </ul>
        </div>
    </div>
</block>
<block name="main">
    <div class="content-md margin-bottom-30">
        <div class="container">
            <div class="content">
                <section class="body">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="text-center">请用微信扫描二维码进行支付</h3>
                            <div class="qrcode text-center" data-link="{$unifiedOrder['code_url']}"></div>
                        </div>
                        <div class="col-md-6" style="padding-top:50px;">
                            <h2 style="color:#c9253c;">￥{$trade.total_fee}</h2>
                            <ul class="list-unstyled">
                                <li class="margin-bottom-5"><strong>订单号：</strong>{$order.order_sn}</li>
                                <li class="margin-bottom-5"><strong>订单内容：</strong>{$trade.body}</li>
                            </ul>
                            <div>
                                <a class="btn-u btn-u-orange btn-u-lg" href="{$orderlink}">查看订单</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div><!--/end container-->
    </div>
</block>
<block name="js">
    <script>
        $(function(){
            $qr = $('.qrcode');
            $qr.qrcode($qr.data('link'));
        });
        function check_trade_status(){
            var data = {id:{$trade.trade_id}};
            var url = '/index.php?g=wx&m=pay&a=trade_status';
            $.post(url,data,function(response){
                if(response.status){
                    location.href = response.url;
                }else{
                    setTimeout(check_trade_status,1000);
                }
            });
        }
        check_trade_status();
    </script>
</block>