<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据统计</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/public/v2/assets/css/user/analytics.min.css" />
</head>
<body>
    <div class="app">
        <div class="mobile-header">
            <a class="back-home-btn" href="/User/Center"><i class="iconfont">&#xe606;</i></a>
            数据统计
        </div>
        <select class="select-list" v-model="analyticType">
            <option v-for="item in optionList" :value="item.value">{{item.name}}</option>
        </select>
        <div class="charts-container" id="charts-container">

        </div>
        <div class="tip-txt">*以上数据为最近7天数据</div>
    </div>
    <include file="Public:analytics" />
    <script src="/public/v2/lib/echarts.common.min.js"></script>
    <script src="/public/v2/lib/vue.dev.js"></script>
    <script src="/public/v2/lib/vue-resource.js"></script>
    <script src="/public/v2/assets/js/user/analytics.min.js"></script>
</body>
</html>