
/*主要内容中间部分*/
@media screen and (min-width: 768px) {
  .business-content {
 }
}
.account-info {
	background: #fff;
	padding:15px;
	font-size:13px;
	border:1px solid #eee;
	margin-bottom:20px;
}
.remainder-info p span {
	margin:20px;
	margin-left:0;
}
.remainder-info p span a {
	font-size:15px;
	font-weight:bold;
	color:#e6125d;
}
.publish-info{
	margin-top:10px;
}
.order-info .order-label,.publish-label {
	float:left;
	
}
.order-info .order-status,.publish-status {
	float:left;
	margin-left:20px;
}
.order-info .order-status,.publish-status a{
	color:#a0a0a0;
}
.order-info .order-status a,.publish-status a{
	border-right: 1px solid #d5d7dc;
	padding: 0 10px;
}
.publish-status a:hover{
	color: #e6125d;
}
.order-info .order-status a:last-child,.publish-status a:last-child{
	border:none;
}
/*我的收藏*/
.collect {
	padding:15px;
	font-size:13px;
	border:1px solid #eee;
	background: #fff;
}


/* 右侧栏 */
.sidebar-notice {
	padding:5px;
	margin-bottom:30px;
	border:1px solid #eee;
	box-shadow: 0 0 5px #ccc;
}
.notice-title {
	float: left;
    color: #333;
    font-weight: 400;
    font-size: 16px;
}
.notice-more {
	float:right;
	color:#5BC0DE;
    font-weight: 400;
    font-size: 16px;
}
.sidebar-ip {
	border:1px solid #eee;
	box-shadow: 0 0 5px #ccc;
	margin-bottom:30px;
}
.sidebar-ip .this-login{
	border-bottom:1px dashed #eee;
}
.sidebar-ip .this-login, .last-login {
	margin:10px;
}
.sidebar-service {
	border: 1px solid #eee;
	box-shadow: 0 0 5px #ccc;
	
}
.sidebar-service .service-title {
	margin:10px;
}
.sidebar-service .service-tel {
	font-size:20px;
	font-weight:bold;
	color:#E6125D;
}


