/*商家中心左侧栏*/
.business-sidebar {
	width:160px;
	text-align:center;
}
.business-picture {
	width:160px;
	height:190px;
	padding:20px;
	border:1px solid #D5D7DC;
	box-shadow: 0 0 5px #ccc;
	text-align:center;
	margin-bottom:20px;
	font-size:15px;
	margin-bottom:20px;
}
.business-picture img {
	width:80px;
	height:80px;
	border-radius:80px;
	border:1px solid #D5D7DC;
	margin-bottom:5px;
}
.business-picture a {
	width:80px;
	height:30px;
	line-height: 30px;
	display:inline-block;
	border-radius:5px;
	color:#fff;
	background:#5BC0DE;
	margin-top:10px;
	border:1px solid #5BC0DE;
	cursor:pointer;
}
.issue-fabric a {
	width:160px;
	height:40px;
	line-height:40px;
	display:inline-block;
	border-radius:5px;
	margin-bottom:20px;
	border:1px solid #D5D7DC;
	box-shadow: 0 0 5px #ccc;
	text-align:center;
	font-size: 15px;
	color:#fff;
	background-color: #E6125D;
	cursor:pointer;
}
.business-menu {
	width:160px;
	height:auto;
	padding:10px 20px 30px 20px;
	text-align:center;
	border:1px solid #D5D7DC;
	box-shadow: 0 0 5px #ccc;
	font-size:15px;
	margin-bottom:50px;
}
.business-menu li {
	margin-top:20px;
}
.business-menu li:hover {
	color:#E6125D;
	font-weight: bold;
	cursor:pointer;
}
.list-group i {
	min-width: 20px;
	margin-right: 5px;
	text-align: center;
}

/*个人头像部分*/
.photo-box{
	background: #fff;
	width: 100%;
	padding: 20px;
	text-align: center;
	border: 1px solid #eee;
}
.photo-box img{
	display: block;
	margin: 0 auto;
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
.photo-box h3{
	font-size: 22px;
	margin-top: 10px;
}
.photo-box button{

}
/*End个人头像部分*/

/*需求、订单状态*/
.order-state{
	padding: 15px 0;
}
.order-state li{
	display: inline-block;
	padding:0 15px;
	border-right: 1px solid #d5d7dc;
	font-size: 15px;
	color: #888;
}
.order-state li.active a{
	color: #e6125d;
}
.order-state li:last-child{
	border: none;
}
/*End需求、订单状态*/

.right-box{
	border: 1px solid #eee;
	padding: 15px;
}

/*订单信息*/
.order-message{
	border: 1px solid #eee;
}
.order-message .order-message-head{
	background: #d5d7dc;
	width: 100%;
	padding: 10px 5px;
}
.order-message .order-message-body{
	padding:10px 5px;
}
.order-message .order-message-body ul li{
	margin-bottom: 5px;
}
/*End 订单信息*/

