<volist name="list[data]" id="vo">
    <li class="ml-item">

        <div class="fab-item">
            <div class="team-img ">
                <a href="{:leuu('/Tf/Tf/fabric',array('id'=>$vo['id']))}">
                    <php>
                        $imageUrl = get_thumb_url('/' . $vo['img']['photo'], true, 300);
                    </php>
                    <img class="lazyload img-responsive" data-original="/{$vo['img']['photo']}" src="{$imageUrl}"  style="width:100%;height:169px;">
                </a>
            </div>
            <div class="fab-info-wrap">
                <h4 class="fab-name">{$vo.name|msubstr=0,30}</h4>
                <if condition="$vo['skus'][0]['sku_price'] gt 0">
                    <div class="price-value">￥{$vo['skus'][0]['sku_price']}/米</div>
                <else />
                    <div class="price-value">面议</div>
                </if>
            </div>
        </div>
    </li>
</volist>