<php>$statuses = D('Demand/Demand')->statuses;</php>
<volist name="demands[data]" id="vo">
    <div id="demand_{$vo.demand_id}" class="orderlist-item margin-bottom-10">
        <a class="item-body" href="{:leuu('view',array('id'=>$vo[demand_id]))}">
            <gt name="vo[demand_img]|count" value="1">
                <div id="" class="owl-carousel order-owl" data-ride="carousel">
                    <foreach name="vo[demand_img]" item="img">
                        <div class="item">
                            <img class="img-responsive" src="{$img|sp_get_image_preview_url}" alt="">
                        </div>
                    </foreach>
                </div>

                <else />

                <div class="info-img">
                    <img class="img-responsive" src="{$vo[demand_img][0]|sp_get_image_preview_url}">
                </div>
                <div class="info-content">
                    <div class="content-text">
                        {$vo[demand_desc]}
                    </div>
                </div>
            </gt>
        </a>
        <div class="price">
            <div class="pull-left">
                <span>发布日期：</span>
                <span>{:date('Y-m-d', $vo[demand_created])}</span>
            </div>
            <div class="pull-right">{$statuses[$vo[demand_status]]}</div>
        </div>
    </div>
</volist>