.navbar-default {
    margin-bottom: 0;

    .page-search-form {
        border: 0;
        width: 76%;
        float: left;
        position: relative;
        margin-top: 12px;
        padding-right: 45px;

        .serach-wrap {
            position: relative;

            .search-input {
                border-radius: 18px;
                padding-left: 35px;
            }

            .fa-search {
                position: absolute;
                top: 10px;
                left: 12px;
                color: #999;
            }
        }
    }

    .usercenter {
        position: absolute;
        right: 0;
        top: 1px;
        width: 42px;
        text-align: center;
        font-size: 18px;
        color: #666;
        white-space: nowrap;
        line-height: 30px;

        .fa-user {
            margin-left: 5px;
        }
    }

}