<extend name="Public:base-v8" />
<block name="title"><title>生成发货单 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">生成发货单</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Order/Supplier/index')}">订单管理</a></li>
                <li><a href="{:leuu('Order/SupplierDelivery/index')}">发货单管理</a></li>
                <li class="active">生成发货单</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="panel panel-default basic-info margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 基本信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width:15%;">订单号：</th>
                            <td style="width:35%;">{$order_sn}</td>
                            <th style="width:15%;">下单时间：</th>
                            <td style="width:35%;">{:date('Y-m-d H:i:s', $add_time)}</td>
                        </tr>
                        <tr>
                            <th>购货人：</th>
                            <td colspan="3">{$user_name}</td>
                        </tr>
                        <tr>
                            <th>配送方式：</th>
                            <td>{$shipping_name}</td>
                            <th>配送费用：</th>
                            <td>{$shipping_fee}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default shipping-info margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 收货人信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width:15%;">收货人：</th>
                            <td style="width:35%;">{$consignee}</td>
                            <th style="width:15%;">电子邮件：</th>
                            <td style="width:35%;">{$email}</td>
                        </tr>
                        <tr>
                            <th>地址：</th>
                            <td>
                                [{$province_name}
                                {$city_name}
                                {$district_name}]
                                {$address}
                            </td>
                            <th>邮编：</th>
                            <td>{$zipcode}</td>
                        </tr>
                        <tr>
                            <th>电话：</th>
                            <td>{$tel}</td>
                            <th>手机：</th>
                            <td>{$mobile}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 商品信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>商品名称</th>
                            <th>货号</th>
                            <th>价格</th>
                            <th>数量</th>
                            <th>小计</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="goods" id="vo">
                            <tr>
                                <td><a href="{:leuu('Colorcard/IndexCard/preview', array('id'=>$vo[goods_id]))}" target="_blank">{$vo.goods_name}</a></td>
                                <td>{$vo.goods_sn}</td>
                                <td>{$vo.goods_price}</td>
                                <td>{$vo.goods_number}</td>
                                <td>{:number_format($vo[goods_price] * $vo[goods_number],2)}</td>
                            </tr>
                        </volist>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3"></td>
                            <td class="text-right">合计：</td>
                            <td>{$goods_amount}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <form class="panel panel-default sky-form margin-bottom-10"
                      method="post" action="{:U('add_post')}">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 操作信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width:160px;">操作备注</th>
                            <td>
                                <label class="textarea">
                                    <textarea name="action_note" rows="3">{$action_note}</textarea>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <input name="order_id" type="hidden" value="{$order_id}">
                                <button type="submit" class="btn-u btn-u-primary">确认生成发货单</button>
                                <a href="{:U('Supplier/view',array('id'=>$order_id))}" class="btn-u btn-u-default">取消</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate({
                messages:{
                    action_note:'请填写操作备注！'
                }
            });
        })
    </script>
</block>