<extend name="Public:base-v8" />
<block name="title"><title>发货单管理 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">发货单管理</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Order/Supplier/index')}">订单管理</a></li>
                <li class="active">发货单管理</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>
           <php>
            $delivery_statuses = D('Order/Delivery')->statuses;
            </php>
            <div class="col-md-9">
                <div class="tab-v7">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="javascript:void(0)">发货单</a></li>
                        <li><a href="{:leuu('Order/SupplierGroup/group',array('id'=>$group_id))}">返回拼单</a></li>
                    </ul>
                    <div class="tab-content">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>发货单流水号</th>
                                <th>订单号</th>
                                <th>下单时间</th>
                                <th>收货人</th>
                                <th>发货时间</th>
                                <th>发货单状态</th>
                                <th>操作人</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="deliveries" id="vo">
                                <tr>
                                    <td>{$vo.delivery_sn}</td>
                                    <td>{$vo.order_sn}</td>
                                    <td>{:date('Y-m-d H:i:s', $vo['add_time'])}</td>
                                    <td>{$vo.consignee}</td>
                                    <td>
                                        <notempty name="vo[shippint_time]">
                                            {:date('Y-m-d H:i:s', $vo['shipping_time'])}
                                        </notempty>
                                    </td>
                                    <td>{$statuses[$vo[status]]}</td>
                                    <td>{$vo.nickname|default=$user_login}</td>
                                    <td>
                                        <a href="{:U('view', array('id'=>$vo[delivery_id]))}">查看</a> |
                                        <a href="#" class="js-ajax-btn"
                                           data-confirm="true"
                                           data-href="{:U('delete')}"
                                           data-id="{$vo.delivery_id}"
                                           data-msg="删除发货单后，订单将变为未发货状态！<br>是否要删除？">移除</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <ul class="pagination">{$deliveries.page}</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
        })
    </script>
</block>