<extend name="Public:base-v8" />
<block name="title"><title>生成发货单 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
        .toggle-panel {
            width: 20px;
            text-align: center;
            cursor: pointer;
        }
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">生成发货单</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Order/Supplier/index')}">订单管理</a></li>
                <li><a href="{:leuu('Order/SupplierDelivery/index')}">发货单管理</a></li>
                <li class="active">生成发货单</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <div class="panel panel-default basic-info margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 基本信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width:15%;">拼单号：</th>
                            <td style="width:35%;">{$group_sn}</td>
                            <th style="width:15%;">创建时间：</th>
                            <td style="width:35%;">{$create_date}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default margin-bottom-10">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 商品信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>商品名称</th>
                            <th>货号</th>
                            <th>价格</th>
                            <th>数量</th>
                            <th>合计</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="{:leuu('Tf/Tf/fabric', array('id'=>$goods_id))}" target="_blank">{$goods_name}</a></td>
                            <td>{$goods_sn}</td>
                            <td>￥{:number_format($goods_price,2)}</td>
                            <td>{$goods_number}{$goods_unit}</td>
                            <td>￥{:number_format($goods_price * $goods_number,2)}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <volist name="orders" id="vo">
                    <div class="panel panel-default shipping-info margin-bottom-10">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-edit"></i> 订单收货信息：{$vo.order_sn}
                                    <i class="fa fa-angle-double-down toggle-panel"></i>
                                </a>
                                <notempty name="vo[delivery]">
                                    <span class="pull-right color-red">已生成发货单，本操作将不会应用到此订单</span>
                                </notempty>
                            </h3>
                        </div>
                        <table class="table table-bordered" style="display:none;">
                            <tbody>
                            <tr>
                                <th style="width:15%;">订单号：</th>
                                <td style="width:35%;">{$vo.order_sn}</td>
                                <th style="width:15%;">下单时间：</th>
                                <td style="width:35%;">{:date('Y-m-d H:i:s', $vo[add_time])}</td>
                            </tr>
                            <tr>
                                <th>收货人：</th>
                                <td>{$vo.consignee}</td>
                                <th>电子邮件：</th>
                                <td>{$vo.email}</td>
                            </tr>
                            <tr>
                                <th>地址：</th>
                                <td>
                                    [{$vo.province_name}
                                    {$vo.city_name}
                                    {$vo.district_name}]
                                    {$vo.address}
                                </td>
                                <th>邮编：</th>
                                <td>{$vo.zipcode}</td>
                            </tr>
                            <tr>
                                <th>电话：</th>
                                <td>{$vo.tel}</td>
                                <th>手机：</th>
                                <td>{$vo.mobile}</td>
                            </tr>
                            <tr>
                                <th>购货人：</th>
                                <td colspan="3">{$vo.user_name}</td>
                            </tr>
                            <tr>
                                <th>配送方式：</th>
                                <td>{$vo.shipping_name}</td>
                                <th>配送费用：</th>
                                <td>{$vo.shipping_fee}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </volist>
                <form class="panel panel-default sky-form margin-bottom-10"
                      method="post" action="{:U('groupadd_post')}">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-edit"></i> 操作信息</h3>
                    </div>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th style="width:160px;">操作备注</th>
                            <td>
                                <label class="textarea">
                                    <textarea name="action_note" rows="3">{$action_note}</textarea>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <input type="hidden" name="group_id" value="{$id}">
                                <foreach name="orders" item="vo">
                                    <empty name="vo[delivery]">
                                        <input name="order_id[]" type="hidden" value="{$vo.order_id}">
                                    </empty>
                                </foreach>
                                <button type="submit" class="btn-u btn-u-primary">确认生成发货单</button>
                                <a href="{:U('Order/SupplierGroup/group',array('id'=>$_GET['group_id']))}" class="btn-u btn-u-default">取消</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate({
                messages:{
                    action_note:'请填写操作备注！'
                }
            });
            $('.shipping-info .panel-title a').on('click', function(){
                var $this = $(this);
                var $arrow = $this.find('.toggle-panel');
                var $panel = $this.parents('.panel');
                if($arrow.hasClass('fa-angle-double-down')){
                    $arrow.removeClass('fa-angle-double-down').addClass('fa-angle-double-up');
                    $panel.find('table').show();
                }else{
                    $arrow.removeClass('fa-angle-double-up').addClass('fa-angle-double-down');
                    $panel.find('table').hide();
                }
            })
        })
    </script>
</block>