<extend name="Public:base-v8" />
<block name="title"><title>发货单详情 {$site_name}</title></block>
<block name="plugins_css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">
    <!--[if lt IE 9]><link rel="stylesheet" href="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css"><![endif]-->
</block>
<block name="css">
    <link rel="stylesheet" href="__TMPL__assets/css/overview.css">
    <style>
        .basic-info th, .other-info th, .shipping-info th {text-align:right;}
        .panel.sky-form {border:1px solid #ddd;}
    </style>
</block>
<block name="breadcrumbs">
    <div class="breadcrumbs-v4">
        <div class="container">
            <span class="page-name">发货单详情</span>
            <ul class="breadcrumb-v4-in">
                <li><a href="__ROOT__/">首页</a></li>
                <li><a href="{:leuu('Supplier/Center/index')}">面料商后台</a></li>
                <li><a href="{:leuu('Order/Supplier/index')}">订单管理</a></li>
                <li><a href="{:leuu('Order/SupplierDelivery/index')}">发货单管理</a></li>
                <li class="active">发货单详情</li>
            </ul>
        </div><!--/end container-->
    </div>
</block>
<block name="main">
    <div class="container content">
        <div class="row">
            <tc_include file="Public:usernav-supplier"/>

            <div class="col-md-9">
                <form class="sky-form" method="post" action="{:U('operate')}">
                    <div class="panel panel-default basic-info margin-bottom-10">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-edit"></i> 基本信息</h3>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width:15%;">发货单流水号：</th>
                                <td style="width:35%;">{$delivery_sn}</td>
                                <th style="width:15%;">发货时间：</th>
                                <td style="width:35%;">
                                    <notempty name="order[shipping_time]">
                                        {:date('Y-m-d H:i:s', $order[shipping_time])}
                                        <else />
                                        未发货
                                    </notempty>
                                </td>
                            </tr>
                            <tr>
                                <th>订单号：</th>
                                <td>{$order_sn}</td>
                                <th>下单时间：</th>
                                <td>{:date('Y-m-d H:i:s', $add_time)}</td>
                            </tr>
                            <tr>
                                <th>购货人：</th>
                                <td colspan="3">{$order['user']['nickname']|default=$order['user']['user_login']}</td>
                            </tr>
                            <tr>
                                <th>配送方式：</th>
                                <td>{$shipping_name}</td>
                                <th>配送费用：</th>
                                <td>{$shipping_fee}</td>
                            </tr>
                            <tr>
                                <th style="vertical-align:middle;">发货单号：</th>
                                <td colspan="3">
                                    <eq name="status" value="0">
                                        <label class="input">
                                            <input type="text" name="invoice_no" value="{$invoice_no}">
                                        </label>
                                        <else />
                                        {$invoice_no}
                                    </eq>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default shipping-info margin-bottom-10">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-edit"></i> 收货人信息</h3>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width:15%;">收货人：</th>
                                <td style="width:35%;">{$consignee}</td>
                                <th style="width:15%;">电子邮件：</th>
                                <td style="width:35%;">{$email}</td>
                            </tr>
                            <tr>
                                <th>地址：</th>
                                <td>
                                    [{$province_name}
                                    {$city_name}
                                    {$district_name}]
                                    {$address}
                                </td>
                                <th>邮编：</th>
                                <td>{$zipcode}</td>
                            </tr>
                            <tr>
                                <th>电话：</th>
                                <td>{$tel}</td>
                                <th>手机：</th>
                                <td>{$mobile}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default margin-bottom-10">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-edit"></i> 商品信息</h3>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>货号</th>
                                <th>数量</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="goods" id="vo">
                                <tr>
                                    <td><a href="{:leuu('Colorcard/IndexCard/preview', array('id'=>$vo[goods_id]))}" target="_blank">{$vo.goods_name}</a></td>
                                    <td>{$vo.goods_sn}</td>
                                    <td>{$vo.send_number}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel panel-default margin-bottom-10">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-edit"></i> 操作信息</h3>
                        </div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="width:160px;">操作者</th>
                                <td colspan="5">{$user[nickname]|default=$user[user_login]}</td>
                            </tr>
                            <tr>
                                <th>操作备注</th>
                                <td colspan="5">
                                    <label class="textarea">
                                        <textarea name="action_note" rows="3">{$action_note}</textarea>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="6" class="text-center">
                                    <input name="delivery_id" type="hidden" value="{$delivery_id}">
                                    <input name="order_id" type="hidden" value="{$order_id}">
                                    <input name="act" type="hidden" value="delivery_ship">
                                    <eq name="status" value="0">
                                        <button type="submit" class="btn-u btn-u-primary" name="delivery_confirmed" value="发货">发货</button>
                                    </eq>
                                    <eq name="status" value="1">
                                        <neq name="order.shipping_status" value="2">
                                        <button type="submit" class="btn-u btn-u-primary" name="delivery_cancel_ship" value="取消发货">取消发货</button>
                                        </neq>
                                    </eq>
                                    <eq name="order_type" value="2">
                                        <a href="{:U('group',array('group_id'=>$group_id))}" class="btn-u btn-u-default">返回拼单发货单表</a>
                                        <else />
                                        <a href="{:U('Supplier/view',array('id'=>$order_id))}" class="btn-u btn-u-default">返回订单详情</a>
                                    </eq>
                                </td>
                            </tr>
                            <tr>
                                <th>操作者</th>
                                <th>操作时间</th>
                                <th>订单状态</th>
                                <th>付款状态</th>
                                <th>发货状态</th>
                                <th>备注</th>
                            </tr>
                            <volist name="logs" id="vo">
                                <tr>
                                    <td>{$vo[nickname]|default=$vo[user_login]}</td>
                                    <td>{:date('Y-m-d H:i:s', $vo[log_time])}</td>
                                    <td>{$order_statuses[$vo[order_status]]}</td>
                                    <td>{$pay_statuses[$vo[pay_status]]}</td>
                                    <td>{$shipping_statuses[$vo[shipping_status]]}</td>
                                    <td>{$vo.action_note}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="plugins_js">
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="__PUBLIC__/u/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/jquery/jquery.form.min.js"></script>
</block>
<block name="js">
    <script>
        $(function(){
            $('.sky-form').validate({
                messages:{
                    action_note:'请填写操作备注！'
                }
            });
        })
    </script>
</block>