<volist name="orders[data]" id="vo">
    <div id="order_{$vo.order_id}" class="orderlist-item margin-bottom-10">
        <div class="item-shop">
            <a href="{:leuu('Supplier/index/single',array('id'=>$vo['supplier_id']))}">{$vo[supplier_name]|msubstr=36}</a>
            <in name="vo[order_status]" value="2,3">
                    <span class="fa fa-trash-o lj-delete js-ajax-btn"
                          data-confirm="true"
                          data-msg="是否要删除订单？"
                          data-id="{$vo.order_id}"
                          data-href="{:leuu('delete')}"></span>
                <else />
                <span class="fa fa-trash-o lj-delete" style="color:#eee;"></span>
            </in>
            <span class="ordered">
                <eq name="vo[order_status]" value="2">
                    已取消
                    <else />
                <lt name="vo[pay_status]" value="2">
                    未付款
                    <else />
                    <in name="vo[shipping_status]" value="0,3,4">未发货</in>
                    <eq name="vo[shipping_status]" value="1">已发货</eq>
                    <eq name="vo[shipping_status]" value="2">已完成</eq>
                </lt>
                </eq>
            </span>
        </div>
        <div class="item-body">
            <gt name="vo[goods]|count" value="1">
                <img class="img-responsive" src="/{$vo['goods_thumb']}" alt="">
                <div class="info-content">
                    <div class="content-text">
                        {$vo[goods][0][goods_name]}
                    </div>
                    <p class="goods-spec">
                        <eq name="vo[goods][0][goods_sku][value_type]" value="1"><span>{$vo[goods][0][goods_sku][value_text]}</span></eq>
                        <eq name="vo[goods][0][goods_sku][value_type]" value="2">
                            <span style="display:block;width:30px;height:30px;background:{$vo[goods][0][goods_sku][value_text]}"></span>
                        </eq>
                        <eq name="vo[goods][0][goods_sku][value_type]" value="3">
                            <span style="display:block;width:30px;height:30px;"><img src="{$vo[goods][0][goods_sku][value_text]}" alt=""></span>
                        </eq>
                    </p>
                    <p class="number">费用：{$vo[goods_amount]}</p>
                    <p class="number">数量：{$vo[goods_number]}</p>
                </div>
            </gt>
        </div>
        <div class="price">
            <div class="pull-left">
                <span>订单金额：</span>
                <span>¥{$vo.order_amount}</span>
            </div>
            <div class="pull-right text-right" style="width:50%;">
                <eq name="vo[pay_status]" value="0">
                    <a href="#" class="btn btn-small btn-bordered btn-red js-ajax-btn"
                       data-confirm="true"
                       data-msg="是否要取消订单？"
                       data-id="{$vo.order_id}"
                       data-href="{:leuu('cancel')}">取消订单</a>
                    <a class="btn btn-small btn-red"  href="{:leuu('view',array('id'=>$vo[order_id]))}">付款</a>
                </eq>
                <eq name="vo[shipping_status]" value="1">
                    <a href="#" class="btn btn-small btn-red js-ajax-btn"
                       data-confirm="true"
                       data-msg="是否要完成订单？"
                       data-id="{$vo.order_id}"
                       data-href="{:leuu('receive')}">确认收货</a>
                </eq>
            </div>
        </div>
    </div>
</volist>